﻿@using Point.MVC.WebApplication.Extensions;
@model FormTypeBaseViewModel

<script type="text/javascript">
    var formID = "#AcceptAtVVT";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/AcceptAtVVT")

<section class="panel panel-blue">
    <div class="panel-body bg-lightblue">
        @using (var form = Html.BeginFlowFormResponsive("AcceptAtVVT", FormMethod.Post, new Dictionary<string, object> { { "id", "AcceptAtVVT" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6,5,4), controlSize: new BootstrapSize(6,7,8)))
        {
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "TransferDateVVT", overrideObjControlSize: new BootstrapSize(6,3))
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "AcceptedDateVVT", overrideObjControlSize: new BootstrapSize(6,3))
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "AcceptedByVVT")
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "AcceptedByTelephoneVVT", overrideObjControlSize: new BootstrapSize(6, 3))
        }
    </div>
</section>