﻿@using Point.Database.Models;
@using Point.MVC.WebApplication.Extensions;
@using Point.Infrastructure.Helpers
@model FormTypeBaseViewModel


<script type="text/javascript">
    var formID = "#AcceptAtHospital";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var prefill = @Model.Prefill.ToString().ToLower();
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/AcceptAtHospital")

<section class="panel panel-blue">
    <div class="panel-body bg-lightblue">
        @using (var form = Html.BeginFlowFormResponsive("AcceptAtHospital", FormMethod.Post, new Dictionary<string, object> { { "id", "AcceptAtHospital" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 5, 4)))
        {
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "AcceptedBy")
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "AcceptedByTelephoneNumber")
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "AcceptedDateTP")
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "AcceptedByTPExplanation", overrideObjControlSize: new BootstrapSize(12, 7, 8))
        }
    </div>
</section>