﻿@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model AdditionalInfoRequestTPViewModel

@{
    var readOnly = Model.Global.IsReadMode || Model.Global.IsPageLock;
    var scroller = Model.Global.IsPrintRequest ? "" : "pre-scrollable";
}

<script type="text/javascript">
    var formID = "#AdditionalInfoRequestTP";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/AdditionalInfoRequestTP")

<div class="@scroller" id="Scroller">
    @using (var form = Html.BeginFlowFormResponsive("AdditionalInfoRequestTP", FormMethod.Post, new Dictionary<string, object> { { "id", "AdditionalInfoRequestTP" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 7, 8)))
    {
        using (var sectionTransferPoint = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "data-section", "Basisgegevens" } }))
        {
            <div class="panel-heading">Nazorggegevens</div>
            <div class="panel-body bg-lightblue">
                @sectionTransferPoint.FormGroupResponsive(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", overrideObjControlSize: new BootstrapSize(6, 3, 2))
                @sectionTransferPoint.FormGroupResponsive(Model.Global.FlowWebFields, "CareBeginDate", overrideObjControlSize: new BootstrapSize(6, 3, 2))
                <div class="form-group">
                    @sectionTransferPoint.FlowLabelResponsive(Model.Global.FlowWebFields, "CareBeginTime", overrideLabelSize: new BootstrapSize(12, 5, 4))
                    <div class="col-xs-8 col-sm-5 col-md-4">
                        <div class="row">
                            <div class="col-xs-5 pull-left">@sectionTransferPoint.FlowControl(Model.Global.FlowWebFields, "CareBeginTime")</div>
                            <div class="pull-left">en</div>
                            <div class="col-xs-5">@sectionTransferPoint.FlowControl(Model.Global.FlowWebFields, "CareEndTime")</div>
                        </div>
                    </div>

                </div>                 
                <div class="form-group">
                    @sectionTransferPoint.FlowLabelResponsive(Model.Global.FlowWebFields, "OorspronkelijkeDatumEindeBehandelingMedischSpecialist", overrideLabelSize: new BootstrapSize(12, 5, 4))
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <div class="row">
                            <div class="col-xs-6 pull-left">@sectionTransferPoint.FlowControl(Model.Global.FlowWebFields, "OorspronkelijkeDatumEindeBehandelingMedischSpecialist")</div>
                            <div class="pull-left"><span style="cursor:pointer;" data-toggle="clickover" data-content="Hier wordt automatisch de datum geplaatst uit het veld Gewenste ontslagdatum in het formulier Aanvraag Nazorg op het moment dat deze voor de eerste keer wordt ingevuld en opgeslagen.<br /> Deze datum blijft daarna onveranderd ook al wordt de Gewenste ontslagdatum in het de Aanvraag Nazorg aangepast.<br /> Deze datum kan, in dien nodig, hier wel handmatig worden aangepast."><span class="glyphicon glyphicon-info-sign"></span></span></div>
                        </div>
                    </div>
                </div>  
            </div>
        }

        using (var sectionZorgAdvies = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "data-section", "Advieszorgplan TP" } }))
        {
            <div class="panel-heading">Advieszorgplan TP toevoegen</div>
            <div class="panel-body bg-lightblue">
                @sectionZorgAdvies.FormGroup(Model.Global.FlowWebFields, "ZorgAdviesToevoegen")
            </div>
        }

        if (Model.ShowInformatieHuisartsenBericht)
        {
            using (var sectionInformatieHuisartsenbericht = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "data-section", "Informatie Huisartsen-bericht" } }))
            {
            <div class="panel-heading">Informatie Huisartsen-bericht</div>
            <div class="panel-body bg-lightblue">
                <div class="col-xs-12">
                    @sectionInformatieHuisartsenbericht.FlowControl(Model.Global.FlowWebFields, "InformatieHuisartsenbericht")
                </div>
            </div>
            }
        }
    }

    <div class="panel panel-blue" style="@(Model.UseTasks ? "" : "display:none;")">
        <div class="panel-heading">Takenlijst</div>
        <div class="panel-body bg-lightblue">
            @if (Model.Global.IsPrintRequest)
            {
                <label><b>Takenlijst</b></label>
            }
            <div>
                @{
                    Html.RenderAction("List", "TransferTask", new { Model.Global.FormTypeID, ispartial = true, readOnly });
                }
            </div>
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-heading">Bevindingen en afspraken</div>
        <div class="panel-body bg-lightblue">
            <label><b>Bevindingen medewerker Transferpunt</b></label>

            <div class="BevindingenContainer">
                @{
                    Html.RenderAction("List", "TransferMemo",
                        new { Target = TransferMemoTypeID.AanvullendeGegevensBevindingenMedewerkerTransferpunt,
                            forcePartial = true,
                            FormTypeID = (int)FlowFormType.AanvullendeGegevensTPZHVVT,
                            CreateTask = Model.AllowCreateTask,
                            ReadOnly = readOnly
                        });
                }
            </div>
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <label><b>Afspraken</b></label>
            <div class="AfsprakenContainer">
                @{
                    Html.RenderAction("List", "TransferMemo",
                        new {
                            Target = TransferMemoTypeID.AanvullendeGegevensAfspraken,
                            forcePartial = true,
                            FormTypeID =
                            (int)FlowFormType.AanvullendeGegevensTPZHVVT,
                            CreateTask = Model.AllowCreateTask,
                            ReadOnly = readOnly
                        });
                }
            </div>
        </div>
    </div>

    @if (Model.DisplayCommunication)
    {
        <div class="panel panel-blue noprint">
            <div class="panel-body bg-lightblue">
                <label><b>Intercollegiale communicatie</b></label>
                <div class="CommunicatieContainer">
                    @{
                        Html.RenderAction("List", "TransferMemo",
                            new {
                                Target = TransferMemoTypeID.IntercollegiateCommunications,
                                forcePartial = true,
                                FormTypeID = (int)FlowFormType.AanvullendeGegevensTPZHVVT,
                                EnableSignalering = false,
                                ReadOnly = readOnly
                            });
                    }
                </div>
            </div>
        </div>
    }

</div>