﻿@using Point.MVC.WebApplication.Extensions
@model CIZOverviewViewModel

<script type="text/javascript">
    var formID = "#CIZOverview";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/CIZOverview")


@using (var form = Html.BeginFlowForm("CIZResult", FormMethod.Post, new Dictionary<string, object> { { "id", "CIZOverview" }, { "class", "form-horizontal" } }))
{

    using (var sectionIndication = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">

            @if (Model.Global.FlowWebFields.HasValue("AfterCareCategoryDefinitiveDDL"))
            {
                <div class="form-group">
                    <label class="control-label col-xs-3">
                        Nazorg type
                    </label>
                    <div class="col-xs-2">
                        @sectionIndication.FlowControl(Model.Global.FlowWebFields, "AfterCareCategoryDefinitiveDDL")
                    </div>
                    <div class="col-xs-2">
                        @sectionIndication.FlowControl(Model.Global.FlowWebFields, "AfterCareDefinitive")
                    </div>
                    <div class="col-xs-2">
                        @sectionIndication.FlowControl(Model.Global.FlowWebFields, "AfterCareFinancing")
                    </div>
                    <div class="col-xs-3">
                        @sectionIndication.FlowControl(Model.Global.FlowWebFields, "AdjustmentStandingCareDDL")
                    </div>
                </div>
            }
            
            @if (Model.GvpDuration != null)
            {
                if (Model.GvpDuration.Any())
                {
                    var i = 0;
                    foreach (var gvpDuration in Model.GvpDuration)
                    {
                        <div class="form-group">
                            @if (i == 0)
                            {
                            <label class="col-xs-3 control-label">Gvp</label>
                            }
                            else
                            {
                            <label class="col-xs-3 control-label"></label>
                            }
                            <div class="col-xs-9">
                                <div class="row">
                                    <div class="col-xs-2">@gvpDuration.Name</div>
                                    <div>
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-4">@gvpDuration.DateBegin</div>
                                        <div class="col-xs-4">@gvpDuration.DateEnd</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        ++i;
                    }
                }
            }

            @if (Model.Global.FlowWebFields.HasValue("ELVConclusieAfweging"))
            {
                <div class="form-group">
                    <label class="col-xs-3 control-label">@Html.FlowLabelName(Model.Global.FlowWebFields, "ELVConclusieAfweging")</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-9 print-control">
                                @sectionIndication.FlowDisplayValue(Model.Global.FlowWebFields, "ELVConclusieAfweging")
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.ShowAttachment)
            {
                <div class="form-group">
                    <div class="col-xs-9 col-xs-push-3">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <label class="control-label col-xs-2">Bijlage</label>
                            @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "HomecareNewFrom", overrideLabelSize: 4)
                            @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "HomecareNewUntill", overrideLabelSize: 4)
                        </div>
                    </div>
                </div>
            }
            

            @if (Model.Global.FlowWebFields.IsTrue("WMOBegeleiding"))
            {
                <div class="form-group">
                    <label class="col-xs-3 control-label">WMO</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleiding")</div>
                            <div id="Begeleiding">
                                <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleidingAttachment")</div>
                                <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleidingFrom")</div>
                                <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleidingUntil")</div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.Global.FlowWebFields.IsTrue("WMOHuishoudelijkeondersteuning"))
            {
                <div class="form-group">
                    <label class="col-xs-3 control-label">WMO</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuning")</div>
                            <div id="Huishoudelijkeondersteuning">
                                <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuningAttachment")</div>
                                <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuningFrom")</div>
                                <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuningUntil")</div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.Global.FlowWebFields.IsTrue("WMOJeugdzorg"))
            {
                <div class="form-group">
                    @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "WMOJeugdzorg")
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorg")</div>
                            <div id="Jeugdzorg">
                                <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorgAttachment")</div>
                                <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorgFrom")</div>
                                <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorgUntil")</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
            @if (Model.Global.FlowWebFields.HasValue("ConclusieWelGeenGRZ"))
            {
                @sectionIndication.FormGroup(Model.Global.FlowWebFields, "ConclusieWelGeenGRZ")
            }
            @if (Model.Global.FlowWebFields.HasValue("ConclusieTypeGRZ"))
            {
                <div class="form-group">
                    <label class="col-xs-3 control-label"></label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-12">
                                @sectionIndication.FormGroup(Model.Global.FlowWebFields, "ConclusieTypeGRZ", overrideLabelSize: 4)
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Global.FlowWebFields.HasValue("ConclusieOverigBeschrijving"))
            {
                @sectionIndication.FormGroup(Model.Global.FlowWebFields, "ConclusieOverigBeschrijving", overrideControlSize: 9)
            }
            
            @if (Model.ShowGrondslag)
            {
                <div class="form-group">
                    <label class="col-xs-3 control-label">Wlz</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-2">Grondslag</div>
                        </div>
                    </div>
                </div>

                if (Model.Global.FlowWebFields.IsTrue("WlzGrondslagSom"))
                {
                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSom")</div>
                                <div id="GrondslagSom">
                                    <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSomAttachment")</div>
                                    <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSomFrom")</div>
                                    <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSomUntill")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                if (Model.Global.FlowWebFields.IsTrue("WlzGrondslagPG"))
                {
                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPG")</div>
                                <div id="GrondslagPG">
                                    <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPGAttachment")</div>
                                    <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPGFrom")</div>
                                    <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPGUntill")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                if (Model.Global.FlowWebFields.IsTrue("WlzAnders"))
                {
                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAnders")</div>
                                <div id="Anders">
                                    <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAndersAttachment")</div>
                                    <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAndersFrom")</div>
                                    <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAndersUntill")</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6 col-xs-push-6">
                            @sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAndersOpmerkingen")
                        </div>
                    </div>
                }

                if (Model.Global.FlowWebFields.IsTrue("WlzProfiel"))
                {
                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzProfiel")</div>
                        <div class="row">
                            <div id="Profiel">
                                <div class="col-xs-4">@sectionIndication.FormGroup(Model.Global.FlowWebFields, "WlzProfielOpmerkingen")</div>
                                <div class="col-xs-2"></div>
                                <div class="col-xs-4"></div>
                            </div>
                        </div>
                    </div>
                }

                if (Model.Global.FlowWebFields.HasValue("AanvraagBOPZ"))
                {
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-push-3">
                            @sectionIndication.FormGroup(Model.Global.FlowWebFields, "AanvraagBOPZ", overrideLabelSize: 4)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-xs-push-6">
                            @sectionIndication.FlowControl(Model.Global.FlowWebFields, "BOPZobvArt2")
                            @sectionIndication.FlowControl(Model.Global.FlowWebFields, "BOPZobvArt60")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-push-3">
                            @sectionIndication.FormGroup(Model.Global.FlowWebFields, "BOPZDate", overrideLabelSize: 4, overrideControlSize: 4)
                        </div>
                    </div>
                }
            }

        </div>
    }

}
