﻿@using Point.MVC.WebApplication.Extensions;
@model FormTypeBaseViewModel

<script type="text/javascript">
    var formID = "#CIZResult";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/CIZResult")

@using (var form = Html.BeginFlowForm("CIZResult", FormMethod.Post, new Dictionary<string, object> { { "id", "CIZResult" }, { "class", "form-horizontal" } }))
{

    using (var sectionInformatieOvername = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            @sectionInformatieOvername.FormGroup(Model.Global.FlowWebFields, "IndicationGivenBy")
            @sectionInformatieOvername.FormGroup(Model.Global.FlowWebFields, "EmployeeIIFunction")
            <div id="divEmployeeIIFunctionOther" >
                @sectionInformatieOvername.FormGroup(Model.Global.FlowWebFields, "EmployeeIIFunctionOther")
            </div>
        </div>
    }

    using (var sectionDateIndication = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            @sectionDateIndication.FormGroup(Model.Global.FlowWebFields, "DateIndicationDecision", overrideControlSize: 2)
        </div>
    }

    using (var sectionIndication = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                <div class="col-xs-9 col-xs-push-3">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <label class="control-label col-xs-2">Bijlage</label>
                        @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "WlzGrondslagSomFrom", overrideLabelSize: 4)
                        @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "WlzGrondslagSomUntill", overrideLabelSize: 4)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Wlz</label>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">Grondslag</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"></label>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSom")</div>
                        <div id="GrondslagSom">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSomAttachment")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSomFrom")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagSomUntill")</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"></label>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPG")</div>
                        <div id="GrondslagPG">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPGAttachment")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPGFrom")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzGrondslagPGUntill")</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"></label>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAnders")</div>
                        <div id="Anders">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAndersAttachment")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAndersFrom")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzAndersUntill")</div>
                        </div>
                    </div>
                </div>
            </div>

            @sectionIndication.FormGroup(Model.Global.FlowWebFields, "WlzAndersOpmerkingen")
            <div class="form-group">
                <label class="col-xs-3 control-label"></label>
                <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WlzProfiel")</div>
                <div class="row">
                    <div id="Profiel">
                        <div class="col-xs-4">@sectionIndication.FormGroup(Model.Global.FlowWebFields, "WlzProfielOpmerkingen")</div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>

            @sectionIndication.FormGroup(Model.Global.FlowWebFields, "AanvraagBOPZ")
            <div class="col-xs-push-3 col-xs-9">
                @sectionIndication.FormGroup(Model.Global.FlowWebFields, "BOPZobvArt2")
                @sectionIndication.FormGroup(Model.Global.FlowWebFields, "BOPZobvArt60")
                @sectionIndication.FormGroup(Model.Global.FlowWebFields, "BOPZDate")
            </div>

            <div class="form-group">
                <div class="col-xs-9 col-xs-push-3">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <label class="control-label col-xs-2">Bijlage</label>
                        @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "WMOBegeleidingFrom", overrideLabelSize: 4)
                        @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "WMOBegeleidingUntil", overrideLabelSize: 4)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">WMO</label>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleiding")</div>
                        <div id="Begeleiding">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleidingAttachment")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleidingFrom")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOBegeleidingUntil")</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"></label>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuning")</div>
                        <div id="Huishoudelijkeondersteuning">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuningAttachment")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuningFrom")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOHuishoudelijkeondersteuningUntil")</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @sectionIndication.FlowLabel(Model.Global.FlowWebFields, "WMOJeugdzorg")
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorg")</div>
                        <div id="Jeugdzorg">
                            <div class="col-xs-2">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorgAttachment")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorgFrom")</div>
                            <div class="col-xs-4">@sectionIndication.FlowControl(Model.Global.FlowWebFields, "WMOJeugdzorgUntil")</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

    using (var sectionOpmerkingen = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            @sectionOpmerkingen.FormGroup(Model.Global.FlowWebFields, "IIFormOpmerkingen")
        </div>
    }

}
