﻿@using Point.Database.Extensions
@using Point.MVC.WebApplication.Extensions;
@using Point.Infrastructure.Extensions;
@model ClientCareFormViewModel

@{
    var regenerateUrl = Html.Raw(Url.Action("ClientCareForm", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID, regenerate = true }));
}

<script type="text/javascript">
    var formID = "#ClientCareForm";
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
</script>

<style type="text/css">
    #BodyHtml {
        width:100%;
        resize:vertical;
        overflow:hidden;
    }

    @("@")media screen {
        #lettercontainer
        {
            width:800px;
            padding : 20px;
            border: 1px solid grey;
            -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.48);
            -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.48);
            box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.48);
        }
    }

    @("@")media print {
        #clientcareform {
            line-height: 140% !important;
            page-break-inside: avoid;
            font-size: 18px !important;
        }
    }
</style>

@Scripts.Render("~/Bundles/Scripts/FormType")

<script type="text/javascript">
    function RegeneratePatientBrief(sender) {
        var url = $(sender).data("url");
        $(".regeneratePatientBriefModal").modal("show")
            .one("click", "#btnRegeneratePatientBrief", function () {
                location.replace(url);
            });
    };
</script>

@if (!Model.Global.IsPrintRequest && !Model.Global.IsReadMode && Model.Global.FormSetVersionID > 0)
{
    <div id="formSpecificPhaseButtonsSource">
        <div class="btn btn-primary" onclick="RegeneratePatientBrief(this);" data-url="@regenerateUrl">Vernieuwen</div>
    </div>
}

<div id="clientcareform" class="form-group ignore-printfilter">
    <div id="lettercontainer">
        <div class="row">
            <div class="col-xs-12 text-right">@(DateTime.Now.ToPointLeterDate())</div>
            <hr />
            <div class="col-xs-6">
                <div class="row">
                    @Html.LabelFor(m => m.Client, new { @class = "control-label col-xs-12" })
                    <div class="col-xs-12">@Model.Client.Salutation() @Model.Client.MiddleName @Model.Client.LastName ( @Model.Client.BirthDate.ToPointDateDisplay() / @Model.Client.CivilServiceNumber )</div>
                    <div class="col-xs-12">
                        Tel: @Model.Client.PhoneNumberGeneral<br />
                        @(String.IsNullOrEmpty(Model.Client.Email) ? "" : "Email: ") @Model.Client.Email
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                @if (Model.ContactPerson != null)
                {
                    <div class="row">
                        <label class="control-label col-xs-12">Contactpersoon</label>
                        <div class="col-xs-12">
                            @Model.ContactPerson.Salutation() @Model.ContactPerson.PersonData.Initials @Model.ContactPerson.PersonData.MiddleName @Model.ContactPerson.PersonData.LastName<br />
                            Tel: @Model.ContactPerson.PersonData.PhoneNumberGeneral<br />
                            @(String.IsNullOrEmpty(Model.ContactPerson.PersonData.Email) ? "" : "Email: ")@Model.ContactPerson.PersonData.Email
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <label class="control-label col-xs-6">Woonadres</label>
            @if (String.IsNullOrEmpty(Model.Client.TemporaryStreetName) == false)
            {
                <label class="control-label col-xs-6">Tijdelijk verblijfadres</label>
            }
        </div>
        <div class="row">
            <div class="col-xs-6">@Model.Client.StreetName @Model.Client.Number</div><div class="col-xs-6">@Model.Client.TemporaryStreetName @Model.Client.TemporaryNumber</div>
        </div>
        <div class="row">
            <div class="col-xs-6">@Model.Client.PostalCode @Model.Client.City</div><div class="col-xs-6">@Model.Client.TemporaryPostalCode @Model.Client.TemporaryCity</div>
        </div>
        <div style="margin-top:20px;white-space: pre-line">
            @if (!Model.Global.IsPrintRequest)
            {
                using (var form = Html.BeginFlowFormResponsive("ClientCareForm", FormMethod.Post, new Dictionary<string, object> { { "id", "ClientCareForm" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 7, 8)))
                {
                    <textarea id="@Html.IdFor(model => model.Patientbrief)" name="@Html.NameFor(model => model.Patientbrief)" class="flowfield form-control" draggable="false">@Model.Patientbrief</textarea>
                }
            }
            else
            {
                @Html.Raw(Model.Patientbrief)
            }
        </div>
    </div>
</div>

<div class="regeneratePatientBriefModal modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*<div class="modal-header"><h4>Patientbrief</h4></div>*@
            <div class="modal-body">
                <b>Weet u het zeker?</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnRegeneratePatientBrief">OK</button>
            </div>
        </div>
    </div>
</div>