﻿@using Point.MVC.WebApplication.Extensions
@model CloseTransferVVTViewModel


<div class="panel panel-blue">
    <div class="panel-heading">
        @if (Model.IsAllowed)
        {
            <text>Weet u zeker dat u dit dossier wilt afsluiten?</text>
        }
        else
        {
            <text>U kunt dit dossier niet afsluiten met de aan u toegewezen rol</text>
        }
    </div>
    <div class="panel-body bg-lightblue">
        @if (Model.IsAllowed)
        {
            <form>
                @Html.ActionLink("Nee", "CloseTransferVVT", new { Model.Global.TransferID, @confirmed = false }, new { @class = "btn btn-default" })
                @Html.ActionLink("Ja", "CloseTransferVVT", new { Model.Global.TransferID, @confirmed = true }, new { @class = "btn btn-primary" })
            </form>
        }
        else
        {
            <form>
                @Html.ActionLink("OK", "Dashboard", "FlowMain", new { Model.Global.TransferID }, new { @class = "btn btn-primary" })
            </form>
        }
    </div>
</div>
