﻿@using Point.MVC.WebApplication.Extensions;
@model CloseTransferViewModel

<script type="text/javascript">
    var formID = "#CloseTransferCVA";
    var dashboardUrl = '@Html.Raw(Url.Action("Dashboard", "FlowMain", new {Model.Global.TransferID }))';
    var formRequestUrl = '@Html.Raw(Url.Action("CloseTransferCVA", "FormType", new { Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID }))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/CloseTransferCVA")

@using (var form = Html.BeginFlowForm("CloseTransferCVA", FormMethod.Post, new Dictionary<string, object> { { "id", "CloseTransferCVA" }, { "class", "form-horizontal" } }, 3, 9))
{
    <style>
        #phaseButtonsHolder {
            text-align: right;
            z-index: 100;
            overflow: hidden;
            padding: 15px;
        }
    </style>

    <div id="phaseButtonsHolder" class="panel panel-default bg-lightgray">
        <div class="pull-left">
            <div class="btn btn-default btnCancel">
                <span class="glyphicon glyphicon-remove"></span>
                Annuleren
            </div>
        </div>
        @if (Model.ShowButtonCloseTransfer)
        {
            <text>
                <div class="btn btn-primary btnCloseTransfer" data-phasedefinitionid="@Model.Global.PhaseDefinitionID" data-phaseinstanceid="@Model.Global.PhaseInstanceID">Definitief afsluiten</div>
            </text>
        }
    </div>

    if (Model.IsAllowed)
    {
        <section class="panel panel-blue">
            <div class="panel-body bg-lightblue">
                <div class="form-group">
                    <label class="control-label col-xs-6 col-md-3">Actieve Fase(n)</label>
                    <div class="col-xs-6 col-md-9">@Model.ActivePhases</div>
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="panel-heading">
            <text>U kunt dit dossier niet afsluiten met de aan u toegewezen rol</text>
        </div>
    }
}
