﻿@using Point.MVC.WebApplication.Extensions;
@model CloseTransferViewModel

<script type="text/javascript">
    var formID = "#CloseTransferRzTP";
    var dashboardUrl = '@Html.Raw(Url.Action("Dashboard", "FlowMain", new { Model.Global.TransferID }))';
    var formRequestUrl = '@Html.Raw(Url.Action("CloseTransferRzTP", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID }))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/CloseTransferValidation")
@Scripts.Render("~/Bundles/Scripts/CloseTransferRzTP")

@using (var form = Html.BeginFlowFormResponsive("CloseTransferRzTP", FormMethod.Post, new Dictionary<string, object> { { "id", "CloseTransferRzTP" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 4, 3)))
{
    <style>
        #phaseButtonsHolder {
            text-align: right;
            z-index: 100;
            overflow: hidden;
            padding: 15px;
        }
    </style>

    <div id="rulecontainer" class="ignore-printfilter" style="display:none;">
        <div class="form-group color-pt-red ignore-printfilter">
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-9 rule-message"></div>
        </div>
    </div>

    <div id="phaseButtonsHolder" class="panel panel-default bg-lightgray">
        <div class="pull-left">
            <div class="btn btn-default btnCancel">
                <span class="glyphicon glyphicon-remove"></span>
                Annuleren
            </div>
        </div>
        @if (Model.ShowButtonCloseTransfer)
        {
            <text>
                <div class="btn btn-primary btnCloseTransfer" data-phasedefinitionid="@Model.Global.PhaseDefinitionID" data-phaseinstanceid="@Model.Global.PhaseInstanceID">Definitief afsluiten</div>
            </text>
        }
    </div>
    <div class="pre-scrollable" id="Scroller">
        @if (Model.IsAllowed)
        {
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        <label class="control-label col-xs-6 col-sm-5 col-md-4">Actieve Fase(n)</label>
                        <div class="col-xs-6 col-sm-7 col-md-8">@Model.ActivePhases</div>
                    </div>
                </div>
            </section>

            using (var sectionDates = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue panel-dates" } }))
            {
                <div class="panel-body bg-lightblue">
                    @sectionDates.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname")
                    @sectionDates.FormGroup(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", overrideText: "Gewenste ontslagdatum [Afdeling]")
                </div>
            }

            if (Model.IsFlowInterrupted)
            {
                using (var sectionFlowInterrupted = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
                {
                    <div class="panel-body bg-lightblue">
                        <div class="form-group">
                            <label class="control-label col-xs-6 col-sm-5 col-md-4" for="InterruptionFlowDate">Datum hervatten</label>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="input-group date">
                                    <input class="flowfield form-control" id="InterruptionFlowDate" name="InterruptionFlowDate" type="text"><span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-6 col-sm-5 col-md-4" for="InterruptionFlowReason">Reden</label>
                            <div class="col-xs-12 col-sm-7 col-md-8">
                                <textarea class="form-control" cols="20" id="InterruptionFlowReason" name="InterruptionFlowReason" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="panel-heading">
                <text>U kunt dit dossier niet afsluiten met de aan u toegewezen rol</text>
            </div>
        }
    </div>
}
