﻿@using Point.MVC.WebApplication.Extensions;
@model CloseTransferHAViewModel


<script type="text/javascript">
    var formID = "#CloseTransferHA";
    var dashboardUrl = '@Html.Raw(Url.Action("Dashboard", "FlowMain", new {Model.Global.TransferID }))';
    var formRequestUrl = '@Html.Raw(Url.Action("CloseTransferHA", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID }))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RealizedCareHA")
@Scripts.Render("~/Bundles/Scripts/CloseTransferHA")

@using (var form = Html.BeginFlowFormResponsive("CloseTransferHA", FormMethod.Post, new Dictionary<string, object> { { "id", "CloseTransferHA" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 4, 3)))
{
    <style>
        #phaseButtonsHolder {
            text-align: right;
            z-index: 100;
            overflow: hidden;
            padding: 15px;
        }
    </style>

    <div id="rulecontainer" class="ignore-printfilter" style="display:none;">
        <div class="form-group color-pt-red ignore-printfilter">
            <label class="col-xs-3 control-label"></label>
            <div class="col-xs-9 rule-message"></div>
        </div>
    </div>

    <div id="phaseButtonsHolder" class="panel panel-default bg-lightgray">
        <div class="pull-left">
            <div class="btn btn-default btnCancel">
                <span class="glyphicon glyphicon-remove"></span>
                Annuleren
            </div>
        </div>
        @if (Model.ShowButtonCloseTransfer)
        {
            <text>
                <div class="btn btn-primary btnCloseTransfer" data-phasedefinitionid="@Model.Global.PhaseDefinitionID" data-phaseinstanceid="@Model.Global.PhaseInstanceID">Definitief afsluiten</div>
            </text>
        }
    </div>

    if (Model.IsAllowed)
    {
        <section class="panel panel-blue">
            <div class="panel-body bg-lightblue">
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5 col-md-3">Actieve Fase(n)</label>
                    <div class="col-xs-6 col-sm-7 col-md-8">@Model.ActivePhases</div>
                </div>
            </div>
        </section>

        using (var sectionRealizedCare = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
        {
            <div class="panel-body bg-lightblue">
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-5 col-md-3">Actuele VVT</label>
                    <div class="col-xs-6 col-sm-7 col-md-8">
                        <input class="form-control" type="text" id="actuelevvtinstellingname" disabled value="@Model.DestinationHealthCareProviderDepartmentName" />
                        <input type="hidden" id="actuelevvtinstellingid" value="@Model.DestinationHealthCareProviderDepartmentID" />
                    </div>
                </div>
            </div>
        }
        using (var sectionRegistration = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "style", (Model.HasReceivingDepartment ? "display:none;" : "") } }))
        {
            <div class="panel-body bg-lightblue">
                @sectionRegistration.FormGroupResponsive(Model.Global.FlowWebFields, "RegistrationEndedWithoutTransfer", overrideObjLabelSize: new BootstrapSize(6, 5, 3), overrideObjControlSize: new BootstrapSize(6, 7, 5))
                @{ var style = (sectionRegistration.FlowValue(Model.Global.FlowWebFields, "RegistrationEndedWithoutTransfer").ToString() == "true") ? "" : "display:none;"; }
                <div id="ReasonEndRegistrationContainer" style="@style">
                    @sectionRegistration.FormGroupResponsive(Model.Global.FlowWebFields, "ReasonEndRegistrationHA", overrideObjLabelSize: new BootstrapSize(6, 5, 3), overrideObjControlSize: new BootstrapSize(6, 7, 8))

                </div>
            </div>
        }

    }
    else
    {
        <div class="panel-heading">
            <text>U kunt dit dossier niet afsluiten met de aan u toegewezen rol</text>
        </div>
    }

}
