﻿@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model CloseTransferZHVVTViewModel

<script type="text/javascript">
    var formID = "#CloseTransferZHVVT";
    var formRequestUrl = '@Html.Raw(Url.Action("CloseTransferZHVVT", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID }))';
</script>

@(Html.GetEnums<AftercareClassificationTypeID>())
@(Html.GetEnums<AftercareClassificationShowID>())

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/CloseTransferValidation")
@Scripts.Render("~/Bundles/Scripts/CloseTransferZHVVT")

@using (var form = Html.BeginFlowFormResponsive("CloseTransferZHVVT", FormMethod.Post, new Dictionary<string, object> { { "id", "CloseTransferZHVVT" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 4, 3)))
{
    <style>
        #phaseButtonsHolder {
            text-align: right;
            z-index: 100;
            overflow: hidden;
            padding: 15px;
        }
    </style>

    <div id="rulecontainer" class="ignore-printfilter" style="display:none;">
        <div class="form-group color-pt-red ignore-printfilter">
            <label class="col-xs-6 col-sm-5 col-md-4 control-label"></label>
            <div class="col-xs-12 col-sm-7 col-md-8 rule-message"></div>
        </div>
    </div>

    <div id="phaseButtonsHolder" class="panel panel-default bg-lightgray">
        <div class="pull-left">
            <div class="btn btn-default btnCancel">
                <span class="glyphicon glyphicon-remove"></span>
                Annuleren
            </div>
        </div>
        @if (Model.ShowButtonCloseTransfer)
        {
            <text>
                <div class="btn btn-primary btnCloseTransfer" data-phasedefinitionid="@Model.Global.PhaseDefinitionID" data-phaseinstanceid="@Model.Global.PhaseInstanceID">Definitief afsluiten</div>
            </text>
        }
    </div>

    <div class="pre-scrollable" id="Scroller">
        @if (Model.IsAllowed)
        {
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        <label class="control-label col-xs-6 col-sm-5 col-md-4">Actieve Fase(n)</label>
                        <div class="col-xs-6 col-sm-7 col-md-8">@Model.ActivePhases</div>
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "CloseTransferRequestFormType", overrideObjControlSize: new BootstrapSize(6, 7, 8))
                </div>
            </section>

            using (var sectionDates = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue panel-dates" } }))
            {
                <div class="panel-body bg-lightblue">
                    @sectionDates.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname")
                    @sectionDates.FormGroup(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", overrideText: "Gewenste ontslagdatum [Afdeling]")
                    @sectionDates.FormGroup(Model.Global.FlowWebFields, "CareBeginDate", overrideText: "Patient moet zorg ontvangen vanaf datum [TP]")
                    @sectionDates.FormGroup(Model.Global.FlowWebFields, "DischargeProposedStartDate")
                    @sectionDates.FormGroup(Model.Global.FlowWebFields, "RealizedDischargeDate")
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-5 col-md-4"></div>
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            <div class="btn btn-primary" id="btnTakeDischargeProposedStartDate" style="display:none;">Overnemen van Patient wordt door VVT in zorg genomen vanaf</div>
                        </div>
                    </div>
                </div>
            }

            if (Model.VOAction != CloseTransferViewModel.VOActions.None)
            {
                using (var sectionEOverdracht = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
                {
                    <div class="panel-body bg-lightblue">
                        <div class="form-group">
                            @if (Model.VOAction == CloseTransferViewModel.VOActions.Missing)
                            {
                                <label class="control-label col-xs-6 col-sm-5 col-md-4">Overdracht niet aanwezig</label>
                                <div class="col-xs-6 col-sm-7 col-md-8">
                                    <div class="btn btn-primary" id="closeVO" data-url="@Model.VOUrl">Overdracht aanmaken</div>
                                </div>
                            }
                            else if (Model.VOAction == CloseTransferViewModel.VOActions.Active)
                            {
                                <label class="control-label col-xs-6 col-sm-5 col-md-4">Overdracht is aanwezig maar is NIET defintief gemaakt</label>
                                <div class="col-xs-6 col-sm-7 col-md-8">
                                    <div class="btn btn-primary" id="closeVO" data-url="@Model.VOUrl">Ga naar Overdracht</div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            bool checkhasdestinationhcp = (Model.HasRouterenPhaseInstance && Model.HasDestinationHealthCareProvider);
            bool checkhasnovalidaftercare = (Model.HasRouterenPhaseInstance && Model.ValidAftercareClassification == false);
            bool checkendedwithoutreason = (Model.HasRegistrationEndedWithoutReason);

            if (checkhasdestinationhcp || checkhasnovalidaftercare || checkendedwithoutreason)
            {
                using (var sectionZorg = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
                {
                    <div class="panel-body bg-lightblue">
                        @if (checkhasdestinationhcp)
                        {
                            <div class="form-group">
                                <label class="control-label col-xs-6 col-sm-5 col-md-4">Actuele VVT</label>
                                <div class="col-xs-6 col-sm-7 col-md-8">
                                    <input class="form-control" type="text" data-linked="DestinationHealthCareProvider" disabled value="@Model.DestinationHealthCareProviderDepartmentName" />
                                    <input type="hidden" data-linked="DestinationHealthCareProvider" value="@Model.DestinationHealthCareProviderDepartmentID" />
                                </div>
                            </div>
                        }

                        @if (checkhasnovalidaftercare)
                        {
                            @form.FormGroup(Model.Global.FlowWebFields, "AfterCareCategoryDefinitive", htmlAttributes: new
                        {
                            @class = "AfterCareCategory",
                            data_target = "#AfterCareDefinitive",
                            data_aftercaretypeurl = Url.Action("GetAfterCareTypes", "LookUp", new { Model.Global.FormTypeID })
                        })

                            var afterCareValue = form.FlowValue(Model.Global.FlowWebFields, "AfterCareDefinitive").ToString();

                            <div class="form-group">
                                <label class="col-xs-6 col-sm-5 col-md-4"></label>
                                <div class="col-xs-6 col-sm-7 col-md-8">
                                    @form.FlowControl(Model.Global.FlowWebFields, "AfterCareDefinitive", htmlAttributes: (string.IsNullOrEmpty(afterCareValue) ? new { @readonly = "readonly" } : new object { }))
                                </div>
                            </div>
                        }

                        @if (checkendedwithoutreason)
                        {
                            @sectionZorg.FormGroup(Model.Global.FlowWebFields, "ReasonEndRegistration")
                        }
                    </div>
                }
            }

            if (Model.HasOrganizationDefinedTags)
            {
                <section class="panel panel-blue">
                    <div class="panel-body bg-lightblue">
                        @(Html.Action("DossierTags", "DossierTag", new { TransferID = Model.Global.TransferID }))
                    </div>
                </section>
            }

            if (Model.IsFlowInterrupted)
            {
                using (var sectionFlowInterrupted = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
                {
                    <div class="panel-body bg-lightblue">
                        <div class="form-group">
                            <label class="control-label col-xs-6 col-sm-5 col-md-4" for="InterruptionFlowDate">Datum hervatten</label>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="input-group date">
                                    <input class="flowfield form-control" id="InterruptionFlowDate" name="InterruptionFlowDate" type="text"><span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        @*@ShowRule("InterruptionFlowDate")*@
                        <div class="form-group">
                            <label class="control-label col-xs-6 col-sm-5 col-md-4" for="InterruptionFlowReason">Reden</label>
                            <div class="col-xs-12 col-sm-7 col-md-8">
                                <textarea class="form-control" cols="20" id="InterruptionFlowReason" name="InterruptionFlowReason" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                }
            }

            if (Model.ActiveIndicatieMSVTs.Any())
            {
                using (var sectionMSVT = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
                {
                    <div class="panel-body bg-lightblue">
                        @{
                            var count = 1;
                        }
                        @foreach (var indicatieMSVT in Model.ActiveIndicatieMSVTs)
                        {
                            <div class="form-group">
                                @if (count++ == 1)
                                {
                                    <label class="control-label col-xs-6 col-sm-5 col-md-4">Openstaande indicatiestelling(en)</label> }
                                else
                                {
                                    <div class="col-xs-6 col-sm-5 col-md-4"></div>
                                }
                                <div class="col-xs-6">
                                    <div class="btn btn-primary" id="btn-close-ind" data-url="@indicatieMSVT.Url">@String.Format("{0} afronden", indicatieMSVT.Name)</div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        }
        else
        {
            <section class="panel panel-blue">
                <div class="panel-heading">
                    <text>U kunt dit dossier niet afsluiten met de aan u toegewezen rol</text>
                </div>
            </section>
        }
    </div>
}
