﻿@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model CVARouteSelectionViewModel


<script type="text/javascript">
    var formID = "#CVARouteSelectionForm";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var afdAanvraagPhaseDefinitionID = parseInt('@Model.PhaseAfdAanvraag', 10);
    var afdVOPhaseDefinitionID = parseInt('@Model.PhaseAfdVO', 10);
    var afsluitenPhaseDefinitionID = parseInt('@Model.PhaseAfsluiten', 10);
    var resendavailable = @Model.ResendAvailable.ToString().ToLower();
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/CVARouteSelection")

<style type="text/css">
    .ignore {
        display: none;
    }
</style>

@using (var form = Html.BeginFlowFormResponsive("CVARouteSelection", FormMethod.Post, new Dictionary<string, object> { { "id", "CVARouteSelectionForm" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 5, 4)))
{
        <div class="sectionContainer">
            <section class="panel panel-blue">
                <div class="panel-heading sectionTitle" style="display: block;">Ontslagbestemming</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "Ontslagbestemming", new { onclick = "ChangeBestemming(this);" })
                </div>
            </section>
        </div>

        <div class="sectionContainer destination ignore" id="revalidatiecentrum">
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        <div class="col-xs-push-6 col-sm-push-5 col-md-push-4 col-xs-6 col-sm-7 col-md-8" id="destinationComment" style="@(Model.ShowPointParticipatorWarning ? "" : "display:none;")">
                            <div class="alert alert-danger print-control">Let op: De VVT waar het dossier naar toe is gestuurd maakt geen gebruik van POINT. U dient de aanvraag op een andere veilige manier te versturen.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @form.FlowLabel(Model.Global.FlowWebFields, "SelectedHealthCareProvider")
                        <div class="col-xs-12 col-sm-7 col-md-5">
                            @form.FlowControl(Model.Global.FlowWebFields, "SelectedHealthCareProvider",
                                new { style = "background-color: white;" },
                                inputGroupProperties: new InputGroupProperties(
                                    "glyphicon-search",
                                    "SearchOrganization(this, '" +
                                        @Url.Action("DepartmentSearch", "OrganizationSearch", new
                                        {
                                            transferid = Model.Global.TransferID,
                                            RehabilitationCenterType = RehabilitationCenterType.RehabilitationCenter,
                                            FlowDefinitionID = (int)FlowDefinitionID.CVA
                                        }) + "', putRevalidatiecentrum);", InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))
                        </div>
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DestinationHealthCareProvider", new  { style="background-color: #f0f0f0;" }, overrideObjControlSize: new BootstrapSize(12, 7, 5) )
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-4">Eerder gekozen VVT('s)</label>
                        <div class="col-xs-12 col-sm-12 col-md-8" id="divPreviousHealthCareProviders">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:200px;">Datum verzonden</th>
                                        <th>Instelling</th>
                                    </tr>
                                </thead>
                                <tbody id="vvtTableBody">
                                    @foreach (var item in Model.HealthCareProviders)
                                    {
                                        <tr>
                                            <td>@item.InviteSend</td>
                                            <td class="organizationName" data-organizationid="@item.OrganizationID">@item.Organization.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="sectionContainer destination ignore" id="grzcvaverpleeghuis">
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        <label class="control-label col-xs-6 col-sm-5 col-md-4">Eerste voorkeur</label>
                        <div class="col-xs-12 col-sm-7 col-md-5">
                            @form.FlowControl(Model.Global.FlowWebFields, "ZorgInZorginstellingVoorkeurPatient1",
                                new { style = "background-color: white;" },
                                inputGroupProperties: new InputGroupProperties(
                                    "glyphicon-search",
                                    "SearchOrganization(this, '" +
                                        @Url.Action("DepartmentSearch", "OrganizationSearch", new
                                        {
                                            transferid = Model.Global.TransferID,
                                            rehabilitationCenterType = RehabilitationCenterType.IntensiveRehabilitationNursinghome,
                                            FlowDefinitionID = (int)FlowDefinitionID.CVA
                                        }) + "', putGRZCVAverpleeghuis);", InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="sectionContainer destination ignore" id="huis">
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "OntslagbestemmingThuis", new { onclick = "ChangeHuisbestemming(this);" })
                </div>
            </section>
        </div>

        <div class="sectionContainer destination ignore" id="buitenland">
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "OntslagbestemmingBuitenland")
                </div>
            </section>
        </div>

        <div class="sectionContainer destination ignore" id="anderziekenhuis">
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "PatientOntslagenNaarNaamZH")
                </div>
            </section>
        </div>

        <div class="sectionContainer destination ignore" id="overig">
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "OntslagbestemmingOverig")
                </div>
            </section>
        </div>
}

<div id="confirmcvachangerouteselection" style="display:none">
    Let op: u gaat de ontslagbestemming voor dit dossier wijzigen.<br /><br />
    Hiermee worden alle POINT fasen/stappen die doorlopen zijn na deze fase geannuleerd. Een VVT instelling of revalidatie centrum die nu toegang heeft tot dit dossier verliest deze toegang.<br /><br />
    Weet u zeker dat u door wilt gaan?<br />
</div>
