﻿@using Point.MVC.WebApplication.Extensions
@{
    bool isallowed = !Html.ViewData.IsReadMode();
}

<div class="panel panel-blue">
    <div class="panel-heading">
        @if (isallowed)
        {
            <text>Alle dossier gegevens met DD-bijlagen en DD-communicatiejournaal worden verwijderd. Doorgaan?</text>
        }
        else
        {
            <text>U kunt dit formulier niet verwijderen met de aan u toegewezen rol</text>
        }
    </div>
    <div class="panel-body bg-lightblue">
        @if (isallowed)
        {
            <form>
                @Html.ActionLink("Nee", "DeleteDoorlopendDossier", new { ViewBag.TransferID, ViewBag.FormSetVersionID, @confirmed = false }, new { @class = "btn btn-default" })
                @Html.ActionLink("Ja", "DeleteDoorlopendDossier", new { ViewBag.TransferID, ViewBag.FormSetVersionID, @confirmed = true }, new { @class = "btn btn-primary" })
            </form>
        }
        else
        {
            <form>
                @Html.ActionLink("OK", "Dashboard", "FlowMain", new { @TransferID = ViewBag.TransferID }, new { @class = "btn btn-primary" })
            </form>
        }
    </div>
</div>
