﻿@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model FrequencyViewModel

@{
    var isPrint = Request.IsPrintRequest();
    var scroller = isPrint ? "" : "pre-scrollable";
    var collapsed = isPrint ? "" : "collapsed";
    var collapsable = isPrint ? "" : "collapse";
    var reopenUrl = Url.Action("Reopen", "Frequency", new { Model.FrequencyID, Model.Global.TransferID, Model.Global.PhaseInstanceID, Model.Global.FormSetVersionID });

    var data_disabled = "";

    if (Model.Global.IsReadMode)
    {
        data_disabled = "disabled";
    }

    var toelichting = @"Geef hier de interval van terugkoppeling in dagen in. Bijv.: 14 als eens in de 2 weken terugkoppeling gewenst is. Het thuiszorgteam krijgt dan elke 14 dagen na startdatum een e - mail met verzoek tot invoer terugkoppeling.";
}

<script type="text/javascript">
    var formID = "#doorlopenddossier";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Doorlopenddossier")

<div id="formSpecificPhaseButtonsSource">
    @if (Model.ShowReopenButton)
    {
        <div class="btn btn-primary" onclick="reopendoorlopenddossier(this);" data-url="@reopenUrl">Heropenen Doorlopend Dossier</div>
    }
</div>

<div id="Scroller" class="@scroller">

    @using (var form = Html.BeginFlowFormResponsive("doorlopenddossier", FormMethod.Post, new Dictionary<string, object> { { "id", "doorlopenddossier" }, { "class", "form-horizontal" }, { "data-disabled", data_disabled } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 4, 3)))
    {
        <section class="panel panel-blue" data-section="TransferInformation">
            <div class="panel-heading sectionTitle collapse-toggle @collapsed" data-toggle="collapse" href="#collapsecontactgegeven">Organisaties</div>
                <div id="collapsecontactgegeven" class="@collapsable panel-body bg-lightblue" aria-expanded="false">
                    @{Html.RenderAction("SourceAndDestination", "Transfer", new { Model.Global.TransferID });}
                </div>
        </section>

        if (isPrint)
        {
            <section class="panel panel-blue" data-section="SituatieClient">
                <div class="panel-body bg-lightblue" aria-expanded="false">
                    @{Html.RenderAction("ViewVO", "Client", new {Model.ClientID });}
                </div>
            </section>
        }

        <section class="panel panel-blue" data-section="Frequentie">
            <div class="panel-heading sectionTitle">Frequentie</div>
            <div class="panel-body bg-lightblue">
                @Html.HiddenFor(m => m.FrequencyID)
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Type)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                    <div class="col-xs-6 col-sm-7 col-md-5">
                        @Html.TextBoxFor(m => m.Name, new { @class = "flowfield form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                            <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                            <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @if (!isPrint)
                    {
                        <span style="cursor:pointer;" data-toggle="clickover" data-title="" data-content="@toelichting"><span class="glyphicon glyphicon-info-sign"></span></span>
                    }

                    @Html.LabelFor(m => m.Quantity, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                    <div class="col-xs-5 col-sm-4 col-md-3">
                        @{ string sValue = Model == null || Model.Quantity <= 0 ? "" : Model.Quantity.ToString(); }
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "flowfield form-control", @Value = sValue })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FeedbackType, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                    <div class="col-xs-6 col-sm-7 col-md-8">
                        @Html.EnumRadioButtonListFor(m => m.FeedbackType, null)
                    </div>
                </div>
            </div>
        </section>
    }
    @if (Model.Global.FormSetVersionID > 0)
    {
        <section class="panel panel-blue">
            @*<div class="panel-heading sectionTitle">Communicatiejournaal ZH en VVT</div>*@
            <div class="panel-body bg-lightblue">
                <label><b>Communicatiejournaal ZH en VVT</b></label>
                <div class="CommunicatieContainer">
                    @{
                Html.RenderAction("ListFromFrequency", "TransferMemo", new
                {
                    Model.Global.TransferID,
                    Target = TransferMemoTypeID.FrequencyGeneral,
                    FrequencyType = FrequencyType.General,
                    readOnly = Model.Status == FrequencyStatus.Done
                });
                    }
                </div>
            </div>
        </section>

        <section class="panel panel-blue">
            @*<div class="panel-heading sectionTitle">Bijlagen ZH en VVT</div>*@
            <div class="panel-body bg-lightblue">
                <label><b>Bijlagen</b></label>
                <div class="AttachmentContainer">
                    @{
                Html.RenderAction("List", "TransferAttachment", new
                {
                    Model.Global.TransferID,
                    AttachmentSource = AttachmentSource.FrequencyGeneral,
                    FrequencyType = FrequencyType.General,
                    AsPartial = true,
                    readOnly = Model.Status == FrequencyStatus.Done
                });
                    }
                </div>
            </div>
        </section>
    }
</div>