﻿@model  ICollection<FlowInstanceTag>

@if (Model.Any())
{
<div class="form-group ignore-printfilter">
    <label class="control-label col-xs-6 col-sm-5 col-md-4">Dossier kenmerken</label>
    <div class="col-xs-6 col-sm-7 col-md-8 label-align-left">
     @foreach (var t in Model)
     {        
         @Html.Raw(t.Tag + ", ")
     }
    </div>
</div>
}
