﻿@using Point.MVC.WebApplication.Extensions;
@model ELVFormViewModel

@{ 
    bool isPrint = Model.Global.IsPrintRequest;
    var scroller = isPrint ? "" : "pre-scrollable";
}

<script type="text/javascript">
    var formID = "#ELVForm";
    var formRequestUrl = '@Html.Raw(Url.Action("ELVForm", "FormType", new { TransferID = Model.Global.TransferID, FormSetVersionID = Model.Global.FormSetVersionID, PhaseDefinitionID = Model.Global.PhaseDefinitionID, PhaseInstanceID = Model.Global.PhaseInstanceID }))';
</script>

<style type="text/css">
    #uitslagELV
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #uitslagELV *
    {
        font-weight: bold !important;
    }
    .ignore 
    {
        display: none;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/ELVForm")
<div class="@scroller" id="Scroller">
    @if (isPrint)
    {
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-3">Organisatie / Locatie / AGB</div>
            <div class="col-xs-9">@Model.SendingOrganizationName</div>
        </div>
    }

    @using (var form = Html.BeginFlowFormResponsive("ELVForm", FormMethod.Post, new Dictionary<string, object>() { { "id", "ELVForm" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6,5,3), controlSize: new BootstrapSize(6,7,6)))
    {
        using (var sectionBasis = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "data-section", "Basisgegevens" }, { "id", "basisgegevens" } }))
        {
            <div class="panel-body bg-lightblue">
                <div class="row">
                    <div class="col-xs-6">@sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "ELVIngevuldDoor", overrideObjLabelSize: new BootstrapSize(12, 6), overrideObjControlSize: new BootstrapSize(12, 6))</div>
                    <div class="col-xs-6">@sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "ELVDatumAfweging", overrideObjLabelSize: new BootstrapSize(12, 6), overrideObjControlSize: new BootstrapSize(12, 6))</div>
                </div>
            </div>
        }

        if (isPrint)
        {
            using (var sectionPatientGegevens = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "id", "patientgegevens" } }))
            {
                <div class="panel-heading">Patient gegevens</div>
                <div class="panel-body bg-lightblue">
                    @{Html.RenderAction("ViewBasic", "Client", new { ClientID = Model.ClientID });}
                    <div class="row" style="margin-top:20px;">
                        <div class="col-xs-12 col-md-6">
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarAGB", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarBIG", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarSpecialisme", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarTelefoonPieper", overrideLabelSize: 6, overrideControlSize: 6)
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", overrideLabelSize: 6, overrideControlSize: 6)
                        </div>
                    </div>
                    @{
                        List<string> behandelaarsstring = new List<string>();
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenGeriater"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenPsychiater"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenMedischMaatschappelijkWerk"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenGespecialiseerdVerpleegkundige"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenDietist"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenLogopedist"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenFysiotherapeut"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenErgotherapeut"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenPedagogischMedewerker"));
                        behandelaarsstring.Add(Html.FlowCheckBoxValue(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenRevalidatiearts"));
                        var medebehandelaars = String.Join(", ", behandelaarsstring.Where(it => !string.IsNullOrEmpty(it)));
                    }
                    <div class="form-group">
                        <label class="col-xs-6 col-sm-6 col-md-3 control-label">Medebehandelaars</label>
                        <div class="col-xs-6 col-sm-6 col-md-9">
                            <input type="text" class="form-control" disabled value="@medebehandelaars" />
                        </div>
                    </div>

                </div>
                }
            }

            using (var sectionPatientGegevensOverig = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "id", "patientgegevens" } }))
            {
                <div class="panel-body bg-lightblue">
                    @sectionPatientGegevensOverig.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieRedenOpname", overrideObjControlSize: new BootstrapSize(12, 7, 6))
                    @sectionPatientGegevensOverig.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieVoorgeschiedenis", overrideObjControlSize: new BootstrapSize(12, 7, 6))
                    @sectionPatientGegevensOverig.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieBehandeling", overrideObjControlSize: new BootstrapSize(12, 7, 6))
                </div>
            }

            using (var sectionCriteria = form.BeginFlowFormSectionResponsive(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "data-section", "Criteria" }, { "id", "criteria" } }))
            {
                <div class="panel-heading">
                    Criteria en conclusie:  Afweging EersteLijns Verblijf Transferverpleegkundige
                </div>
                <div class="panel-body bg-lightblue">
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVZorgNaOpnameNoodzakelijkWegens")
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVZorgThuisNietMogelijkWegens")
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVZorgThuisNietMogelijkWegensVrijeTekst", overrideText: "")
                    
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVZorgBehoefteVerwachting")
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVOnvoldoendeRevalidatieDoelenVanwegeTekort")
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVOnvoldoendeRevalidatieDoelenVanwegeTekortVrijeTekst", overrideText: "")
                    
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVBeinvloedendeMeervoudigeProblematiek", hasInformationIcon: !isPrint)
                    <div class="form-group">
                        <div class="col-xs-12 print-control">
                            @if (isPrint)
                            {
                                <div style="border: 1px solid black; padding: 16px; border-radius: 3px;">
                                    @Html.Raw(Model.Global.FlowWebFields.FirstOrNew(it => it.Name == "ELVBeinvloedendeMeervoudigeProblematiek").Description)
                                </div>
                            }
                        </div>
                    </div>
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVWlzIndicatieAanwezig")
                    <div id="divELVWlzIndicatieAanwezig" class="@(!isPrint ? "ignore" : "")" style="margin-bottom:20px;">
                        <div class="form-group">
                            @sectionCriteria.FlowLabel(Model.Global.FlowWebFields, "ELVIndicatieVerzilverd", new { style = "padding-left:50px;" })
                            <div class="col-xs-6" style="padding-left:50px;">
                                @sectionCriteria.FlowControl(Model.Global.FlowWebFields, "ELVIndicatieVerzilverd")
                            </div>
                        </div>
                        <div class="form-group">
                            @sectionCriteria.FlowLabel(Model.Global.FlowWebFields, "ELVIndicatieZZPProfiel", new { style = "padding-left:50px;" })
                            <div class="col-xs-6" style="padding-left:50px;">
                                @sectionCriteria.FlowControl(Model.Global.FlowWebFields, "ELVIndicatieZZPProfiel")
                            </div>
                        </div>
                    </div>
                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVLevensVerwachtingMinderDan3Mnd")
                    <div id="uitslagELV">
                        @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVConclusieAfweging")
                    </div>

                    @sectionCriteria.FormGroup(Model.Global.FlowWebFields, "ELVHuisartsGeinformeerd")
                    @sectionCriteria.FormGroupResponsive(Model.Global.FlowWebFields, "ELVAlgemeneToelichting", overrideObjControlSize: new BootstrapSize(12, 7, 6))
                </div>
            }
     }
</div>