﻿@using Point.MVC.WebApplication.Extensions;
@model ELVFormHAViewModel

@helper ClearButton(string divToClear)
{
    <div class="pull-right noprint">
        <div class="btn btn-default" onclick="ClearContainer('#@divToClear', true);">
            <span class="glyphicon glyphicon-remove"></span>
            leegmaken
        </div>
    </div>
}

@functions
{
    public string GetJSPrintDisplay(string flowFieldName, string value)
    {
        var jsprintdisplay = "display:none;";

        if (Model.Global.IsPrintRequest && Model.Global.FlowWebFields.Any())
        {
            var flowwebfield = Model.Global.FlowWebFields.FirstOrDefault(ff => ff.Name == flowFieldName);
            if (flowwebfield != null && flowwebfield.Value.Equals(value, StringComparison.InvariantCultureIgnoreCase))
            {
                jsprintdisplay = "";
            }
        }

        return jsprintdisplay;
    }

    public string GetJSPrintDisplay(string[] flowFieldNames, string[] values)
    {
        var jsprintdisplay = "display:none;";
        for (int ffn = 0; ffn < flowFieldNames.Length; ffn++)
        {
            if (GetJSPrintDisplay(flowFieldNames[ffn], values[ffn]) == "")
            {
                jsprintdisplay = "";
            }
        }
        return jsprintdisplay;
    }
}

@{
    bool isPrint = Model.Global.IsPrintRequest;
    var scroller = isPrint ? "" : "pre-scrollable";
}

<script type="text/javascript">
    var formID = "#ELVFormHA";
    var formRequestUrl = '@Html.Raw(Url.Action("ELVFormHA", "FormType", new { TransferID = Model.Global.TransferID, FormSetVersionID = Model.Global.FormSetVersionID, PhaseDefinitionID = Model.Global.PhaseDefinitionID, PhaseInstanceID = Model.Global.PhaseInstanceID }))';

    $(function () {
        $.validator.addMethod("zorgtype", function () {
            return $("#divelvzorgtype input.elvzorgtype:checked").length >= 1;
        }, "");
        $.validator.addMethod("zorgprofiel", function () {
            return $("#divwlzzorgprofiel input.wlzzorgprofiel:checked").length >= 1;
        }, "");
        if ($.validator.unobtrusive) {
            $.validator.unobtrusive.adapters.addBool("zorgtype");
            $.validator.unobtrusive.adapters.addBool("zorgprofiel");
        }
        $("label[for='" + $("[data-val-zorgtype]").attr("name") + "']").addClass("required");
        $("label[for='" + $("[data-val-zorgprofiel]").attr("name") + "']").addClass("required");
    });

</script>

<style type="text/css">
    .ignore {
        display: none;
    }

    .sourcecontainer {
        border: none;
        background-color: transparent;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .form-group-seperator {
        margin-bottom: 30px;
    }
    .small-margin > .form-group {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .indent-subgroup {
        padding-left: 40px;
    }
</style>


@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/ELVFormHA")

<div>
    @if (isPrint)
    {
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-3">Organisatie / Locatie / AGB</div>
            <div class="col-xs-9">@Model.SendingOrganizationName</div>
        </div>
    }
    @using (var form = Html.BeginFlowFormResponsive("ELVFormHA", FormMethod.Post, new Dictionary<string, object>() { { "id", "ELVFormHA" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 6)))
    {
        using (var sectionBasis = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "data-section", "Basisgegevens" }, { "id", "basisgegevens" } }))
        {
            <div class="panel-body bg-lightblue">
                <div class="row">
                    <div class="col-xs-6">@sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "ELVIngevuldDoor", overrideObjLabelSize: new BootstrapSize(12, 6), overrideObjControlSize: new BootstrapSize(12, 6))</div>
                    <div class="col-xs-6">@sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "ELVDatumAfweging", overrideObjLabelSize: new BootstrapSize(12, 6), overrideObjControlSize: new BootstrapSize(12, 6))</div>
                </div>
            </div>
        }

        if (isPrint)
        {
            using (var sectionPatientGegevens = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "id", "patientgegevens" } }))
            {
                <div class="panel-heading">Patient gegevens</div>
                <div class="panel-body bg-lightblue">
                    @{Html.RenderAction("ViewBasic", "Client", new { ClientID = Model.ClientID });}
                    <div class="row" style="margin-top:20px;">
                        <div class="col-xs-12 col-md-6">
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarAGB", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarBIG", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarSpecialisme", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarTelefoonPieper", overrideLabelSize: 6, overrideControlSize: 6)
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", overrideLabelSize: 6, overrideControlSize: 6)
                        </div>
                    </div>
                </div>
            }
        }

        using (var zorgType = form.BeginFlowFormSectionResponsive(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "data-section", "ZorgTypeBasic" }, { "id", "zorgtypebasic" } }))
        {
            <div class="panel-heading">
                Zorgtype
            </div>
            <div class="panel-body bg-lightblue" id="divelvzorgtype">

                @ClearButton("divelvzorgtype")

                <div class="ignore-printfilter small-margin">
                    @zorgType.FormGroup(Model.Global.FlowWebFields, "ELVZorgTypeGRZ", new { @class = "elvzorgtype", data_val_zorgtype = "Zorgtype is verplicht" } , overrideText: "Welke zorg heeft patiënt nodig?")
                </div>
                <div class="ignore-printfilter small-margin">
                    @zorgType.FormGroup(Model.Global.FlowWebFields, "ELVZorgTypeELV", new { @class = "elvzorgtype" }, overrideText: "")
                    <div id="ELVTypeSection" class="form-group" style="@GetJSPrintDisplay("ELVZorgTypeELV", "elv")"> 
                        <div class="col-md-6 col-sm-7 col-xs-6 col-md-push-3 col-sm-push-5 col-xs-push-6 indent-subgroup">
                            @zorgType.FormGroup(Model.Global.FlowWebFields, "ELVType", overrideLabelSize: 0, overrideControlSize: 11, overrideText: "")
                        </div>
                    </div>
                </div>
                <div class="ignore-printfilter small-margin">
                    @zorgType.FormGroup(Model.Global.FlowWebFields, "ELVZorgTypeWLZSOM", new { @class = "elvzorgtype" }, overrideText: "")
                </div>
                <div class="ignore-printfilter small-margin">
                    @zorgType.FormGroup(Model.Global.FlowWebFields, "ELVZorgTypeWLZPG", new { @class = "elvzorgtype" }, overrideText: "")
                    <div id="WLZPGSection" class="form-group" style="@GetJSPrintDisplay("ELVZorgTypeWLZPG", "wlzpg")">
                        <div class="col-md-6 col-sm-7 col-xs-6 col-md-push-3 col-sm-push-5 col-xs-push-6 indent-subgroup">
                            @zorgType.FormGroup(Model.Global.FlowWebFields, "ELVBeoordelingMEV", overrideLabelSize: 0, overrideControlSize:11, overrideText: "")
                        </div>
                    </div>
                </div>
            </div>
        }

    using (var sectionCriteriaExtended = form.BeginFlowFormSectionResponsive(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "data-section", "CriteriaExtended" }, { "id", "criteriaextended" } }))
    {
        <div class="panel-heading">
            Afwegingsinstrument GRZ/ELV en Crisisopname V&V
        </div>
        <div class="panel-body bg-lightblue">
            <div id="divwlzzorgprofiel">
                <div class="pull-right noprint">
                    @ClearButton("divwlzzorgprofiel")
                </div>

                <div class="ignore-printfilter small-margin">
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "PatientHeeftWLZZorgprofielJa", new { @class = "wlzzorgprofiel", data_val_zorgprofiel = "WLZ zorgprofiel is verplicht" } , overrideText: "Heeft de patiënt een WLZ zorgprofiel?", hasInformationIcon: !isPrint)

                    <div id="WLZJaSection" class="form-group" style="@GetJSPrintDisplay("PatientHeeftWLZZorgprofielJa", "Ja")"> 
                        <div class="col-md-6 col-sm-7 col-xs-6 col-md-push-3 col-sm-push-5 col-xs-push-6 indent-subgroup">
                            @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "ZZPNummer", overrideLabelSize: 2, overrideControlSize: 8)
                            @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "Dossierhouder", overrideLabelSize: 2, overrideControlSize: 8)
                        </div>
                    </div>
                </div>
                <div class="ignore-printfilter small-margin">
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "PatientHeeftWLZZorgprofielNee", new { @class = "wlzzorgprofiel" } , overrideText: "")
                </div>
                <div class="ignore-printfilter small-margin">
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "PatientHeeftWLZZorgprofielOnbekend", new { @class = "wlzzorgprofiel" } , overrideText: "")
                </div>
                <div class="ignore-printfilter small-margin">
                    <div id="WLZNeeOnbekendSection" class="form-group" style="@GetJSPrintDisplay(new[] { "PatientHeeftWLZZorgprofielOnbekend", "PatientHeeftWLZZorgprofielNee" }, new[] { "Onbekend", "Nee" })"> 
                        <div class="col-md-6 col-sm-7 col-xs-6 col-md-push-3 col-sm-push-5 col-xs-push-6 indent-subgroup">
                            @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "PatientHeeftBezwaarTegenZorgprofielVerificatie", overrideLabelSize: 0, overrideControlSize: 10)
                            @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "ELVHABezwaarTekstWLZZorgProfiel", overrideLabelSize: 3, overrideControlSize: 9)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-seperator"></div>
            <div class="ignore-printfilter">
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "BijkomendeProblematiek")
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "BijkomendeProblematiekVrijeTekst")
                <div class="form-group-seperator"></div>
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "MedischeZorgNoodzakelijk")
                <div class="form-group-seperator"></div>
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "ELVZorgThuisNietMogelijkWegens")
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "ELVZorgThuisNietMogelijkWegensVrijeTekst", overrideText: "")
                <div class="form-group-seperator"></div>
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "BijzonderhedenWbtMedischeZorg")
                <div class="form-group-seperator"></div>
                <div id="div24uurzorg">
                    <div class="pull-right noprint">
                        @ClearButton("div24uurzorg")
                    </div>
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "PatientHeeft24UurToezichtNodig")
                </div>
                <div class="form-group-seperator"></div>
                <div id="div24uurblijvendzorg">
                    <div class="pull-right noprint">
                        @ClearButton("div24uurblijvendzorg")
                    </div>
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "BlijvendPermanentToezicht")
                </div>
                <div class="form-group-seperator"></div>
                <div id="divmeervoudogeproblematiek">
                    <div class="pull-right noprint">
                        @ClearButton("divmeervoudogeproblematiek")
                    </div>
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "PatientHeeftMeervoudigeProblematiek", hasInformationIcon: !isPrint)
                </div>
                <div class="form-group-seperator"></div>
                <div id="divconclusion">
                    <div class="pull-right noprint">
                        @ClearButton("divconclusion")
                    </div>
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "ConclusieVerwijzing")
                </div>
                <div class="form-group-seperator"></div>
                <div id="divverantwoordelijkheid">
                    <div class="pull-right noprint">
                        @ClearButton("divverantwoordelijkheid")
                    </div>
                    @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "MedischeZorgOnderUwVerantwoordelijkheid")
                </div>
                <div class="form-group-seperator"></div>
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "PatientPrognoseHerstelTerugkeerStatus")
                <div class="form-group-seperator"></div>
                @sectionCriteriaExtended.FormGroup(Model.Global.FlowWebFields, "ClientOpDeHoogteBijCrisisopnameplaatsing")
            </div>
        </div>
    }
    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            
            <div class="form-group ignore-printfilter">
                <label class="control-label col-xs-12">Voorwaarde voor opname: </label>
                <label class="control-label col-xs-12">Verwijsbrief van de huisarts (via mail of fax). Inhoud:</label>
            </div>
            <ul>
                <li>Voorgeschiedenis</li>
                <li>Klacht/vraagstelling</li>
                <li>Behandel-/opnamedoel</li>
                <li>Relevante co-morbiditeit</li>
                <li>Medicatielijst</li>
            </ul>
        </div>
    </div>
}
</div>
