﻿@using Point.MVC.WebApplication.Extensions;
@model FormTypeBaseViewModel

<script type="text/javascript">
    var formID = "#EmployeeGRZ";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/EmployeeGRZ")

<section class="panel panel-blue">
    <div class="panel-heading">In behandeling nemen</div>
    <div class="panel-body bg-lightblue">
        @using (var form = Html.BeginFlowFormResponsive("EmployeeGRZ", FormMethod.Post, new Dictionary<string, object>() { { "id", "EmployeeGRZ" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 5, 4)))
        {
            @form.FormGroup(Model.Global.FlowWebFields, "TransferDateII")
            @form.FormGroup(Model.Global.FlowWebFields, "AcceptedDateII")
            @form.FormGroup(Model.Global.FlowWebFields, "AcceptedByII")
            @form.FormGroup(Model.Global.FlowWebFields, "AcceptedByTelephoneII")
        }
    </div>
</section>