﻿@model EOverdracht30ViewModel
@using Point.MVC.WebApplication.Extensions;

@{
    var groups = ViewBag.Groups as List<FormSection>;
}

<link href="~/Content/Bootstrap-Buro26/Screens/eoverdracht30.css" rel="stylesheet" />

<script type="text/javascript">
    var formRequestUrl = '@Html.Raw(Url.Action("EOverdracht30", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID }))';
</script>

@Scripts.Render("~/Bundles/Scripts/EOverdracht30")
@Scripts.Render("~/Bundles/Scripts/FormType")

@using (var form = Html.BeginFlowFormResponsive("EOverdracht30", FormMethod.Post, new Dictionary<string, object> { { "id", "EOverdracht30" }, { "class", "form-horizontal" } }, new BootstrapSize(6, 5, 4, 3), new BootstrapSize(6, 5, 5, 5)))
{
    <div class="group noprint">
        @foreach (var group in groups)
        {
            var groupid = groups.IndexOf(group);
            foreach (var item in group.SubSections.Where(s => s.Switchable).ToList())
            {
                var itemid = group.SubSections.IndexOf(item);
                var prefilled = item.FormFieldGroups.Any(ffg => ffg.FormFields.Any(it => it.Source == Point.Models.Enums.Source.POINT_PREFILL));
                var filled = item.FormFieldGroups.Any(ffg => ffg.FormFields.Any(it => it.IsFilled));
                var itemchecked = item.Visible;

                // TODO: handle other Source types - PP
                <div class="group-box @group.ClassName @(prefilled ? "sourcefield" : "") @(filled ? "filled" : "")">
                    <label><input type="checkbox" data-groupid="@groupid" onclick="OpenGroup(this, @groupid, @itemid);" @(itemchecked ? "checked" : "") />@item.Name</label>
                </div>
            }
        }
    </div>

    foreach (var group in groups)
    {
        var groupid = groups.IndexOf(group);
        var groupvisible = group.Visible;

        if (!Model.Global.IsPrintRequest && group.PrintOnly)
        {
            groupvisible = false;
        }

        <div class="mainsection panel panel-@group.ClassName @(groupvisible ? "visible" : "invisible")" id="mainsectioncontainer_@groupid">
            <div class="panel-heading">
                <b>@group.Name</b>
            </div>
            <div class="panel-body">
                @foreach (var subsection in group.SubSections)
                {
                    var subsectionid = group.SubSections.IndexOf(subsection);
                    var subsectionvisible = subsection.Visible;

                    <div class="subsection @(subsectionvisible ? "visible" : "invisible")" id="subsectioncontainer_@(groupid + "_" + subsectionid)">
                        <div class="btn btn-default pull-right" onclick="ClearContainer('#subsectioncontainer_@(groupid + "_" + subsectionid)', true);">
                            <span class="glyphicon glyphicon-remove"></span>
                            leegmaken
                        </div>

                        <div style="font-weight:bold;">@subsection.Name</div>
                        @foreach (var flowfieldgroup in subsection.FormFieldGroups)
                        {
                            <div class="formfieldgroup" id="@flowfieldgroup.FormFieldGroupID">
                                @if (flowfieldgroup.DisplayHandler != null)
                                {
                                    @flowfieldgroup.DisplayHandler(Html, flowfieldgroup)
                                }
                                else
                                {
                                    foreach (var formfield in flowfieldgroup.FormFields)
                                    {
                                        @form.FormGroupResponsive(Model.Global.FlowWebFields, formfield.FlowFieldName)
                                    }
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
}