﻿@using Point.MVC.WebApplication.Extensions;
@using Point.Database.Extensions;
@using Point.Models.Enums;
@model FormTypeBaseViewModel

<script type="text/javascript">
    var formID = "#EvaluateDecision";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")

@using (var form = Html.BeginFlowFormResponsive("EvaluateDecision", FormMethod.Post, new Dictionary<string, object>() { { "id", "EvaluateDecision" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 5, 4)))
{
    if (Model.Global.FlowWebFields.HasValue(FlowFieldConstants.Name_CareBeginDate) || Model.Global.FlowWebFields.HasValue(FlowFieldConstants.Name_AfterCareCategoryDefinitive))
    {
        using (var sectionInformatieOvername = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
        {
            <div class="panel-body bg-lightblue">
                @if (Model.Global.FlowWebFields.HasValue(FlowFieldConstants.Name_CareBeginDate))
                {
                    @sectionInformatieOvername.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_CareBeginDate)
                    if (Model.Global.FlowWebFields.HasValue(FlowFieldConstants.Name_CareBeginTime) || Model.Global.FlowWebFields.HasValue(FlowFieldConstants.Name_CareEndTime))
                    {
                        <div class="form-group">
                            @sectionInformatieOvername.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_CareBeginTime)
                            <div class="col-xs-6 col-sm-3">
                                <div class="row">
                                    <div class="col-xs-5 pull-left">@sectionInformatieOvername.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_CareBeginTime)</div>
                                    <div class="pull-left control-label">en</div>
                                    <div class="col-xs-5 pull-right">@sectionInformatieOvername.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_CareEndTime)</div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (Model.Global.FlowWebFields.HasValue(FlowFieldConstants.Name_AfterCareCategoryDefinitive))
                {
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-5 col-md-4 control-label">Typering nazorg</label>
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCareCategoryDefinitive)
                        </div>
                    </div>
                }
                @{
                    var afterCareValue = form.FlowValue(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCareDefinitive).ToString();
                }
                <div class="form-group">
                    <div class="col-xs-12 col-sm-7 col-md-4 col-sm-offset-5 col-md-offset-4">
                        @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCareDefinitive, htmlAttributes: (string.IsNullOrEmpty(afterCareValue) ? new { @readonly = "readonly" } : new object { }))
                    </div>
                </div>
            </div>
        }
    }

    using (var sectionBesluitOvername = form.BeginFlowFormSection(new Dictionary<string, object> { { "id", "sectionBesluitOvername" }, { "class", "panel panel-blue" } }))
    {
        <div class="panel-heading">VVT Besluit</div>
        <div class="panel-body bg-lightblue">
            @sectionBesluitOvername.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargePatientAcceptedYNByVVT)

            @{
                var dischargePatientAcceptedYNByVVT = Model.Global.FlowWebFields.GetFlowFieldValue(FlowFieldConstants.ID_DischargePatientAcceptedYNByVVT).StringToNullableBool();
            }

            <div id="divDischargePatientAcceptedYes" style="@(dischargePatientAcceptedYNByVVT == true ? "" : "display:none;")">
                @sectionBesluitOvername.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_PatientAcceptedAtDateTimeYN, overrideObjControlSize: new BootstrapSize(6, 3, 2))

                @{
                    var patientAcceptedAtDateTimeYN = Model.Global.FlowWebFields.GetFlowFieldValue(FlowFieldConstants.ID_PatientAcceptedAtDateTimeYN).StringToNullableBool();
                }

                <div id="divPatientAcceptedAtDateTime" style="@(patientAcceptedAtDateTimeYN.HasValue ? "" : "display:none")">
                    <div class="form-group">
                        <label id="lblDischargeProposedStartDateTrue" class="control-label col-xs-6 col-sm-5 col-md-4 required" style="@(patientAcceptedAtDateTimeYN == true ? "" : "display:none")">Patient wordt door VVT in zorg genomen vanaf</label>
                        <label id="lblDischargeProposedStartDateFalse" class="control-label col-xs-6 col-sm-5 col-md-4 required" style="@(patientAcceptedAtDateTimeYN == false ? "" : "display:none")">Patient kan WEL overgenomen/in zorg genomen worden met ingang van</label>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            @sectionBesluitOvername.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargeProposedStartDate)
                        </div>
                    </div>

                    @{
                        var typeringnazorg = Model.Global.FlowWebFields.GetFlowFieldValue(FlowFieldConstants.ID_AfterCareCategoryDefinitive);
                        var useBegintimeEndtime = typeringnazorg == ((int)AfterCareCategoryID.Thuiszorg).ToString();
                        var useExpectedTime = typeringnazorg == ((int)AfterCareCategoryID.Zorginstelling).ToString() || typeringnazorg == ((int)AfterCareCategoryID.Hospice).ToString();
                    }

                    @if (useBegintimeEndtime)
                    {
                        <div class="form-group" id="divExtramuraalHomecare">
                            @sectionBesluitOvername.FlowLabelResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargeHomecareBeginTime, overrideLabelSize: new BootstrapSize(12, 5, 4))
                            <div class="col-xs-8 col-sm-5 col-md-4">
                                <div class="row">
                                    <div class="col-xs-5 pull-left">@sectionBesluitOvername.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargeHomecareBeginTime)</div>
                                    <div class="pull-left control-label">en</div>
                                    <div class="col-xs-5 pull-right">@sectionBesluitOvername.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargeHomecareEndTime)</div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (useExpectedTime)
                    {
                        <div class="form-group" id="divIntramuraalExpected">
                            @sectionBesluitOvername.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargePatientExpectedTime)
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                @sectionBesluitOvername.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargePatientExpectedTime)
                            </div>
                        </div>
                    }
                </div>

                <div id="divDischargeRemarks">
                    @sectionBesluitOvername.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargeRemarks, overrideObjLabelSize: new BootstrapSize(12, 5, 4), overrideObjControlSize: new BootstrapSize(12, 7, 8))
                </div>
            </div>

            <div id="divDischargePatientAcceptedNo" style="@(dischargePatientAcceptedYNByVVT == false ? "" : "display:none")">
                <div id="divDischargeReason">
                    @sectionBesluitOvername.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_DischargeReason, overrideObjLabelSize: new BootstrapSize(12, 5, 4), overrideObjControlSize: new BootstrapSize(12, 7, 8))
                </div>
            </div>
        </div>
    }
}