﻿@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@using Point.Database.Extensions;
@model FormTypeBaseViewModel

@{
    bool isPrint = Model.Global.IsPrintRequest;
    bool isActive = Model.Global.PhaseInstance?.Status == (int)Status.Active;

    var scroller = isPrint ? "" : "pre-scrollable";

    bool indic_bewustzijn = !Model.Global.FlowWebFields.IsTrue(FlowFieldConstants.Name_Bewustzijn);
    bool indic_dwaal = Model.Global.FlowWebFields.IsTrue(FlowFieldConstants.Name_RelevanteAspectenVoorZorgverleningDwaalZwerfgedrag);
    bool indic_verwaarlozing = Model.Global.FlowWebFields.IsTrue(FlowFieldConstants.Name_RelevanteAspectenVoorZorgverleningVerwaarlozing);
    bool indic_mantelzorg = Model.Global.FlowWebFields.IsTrue(FlowFieldConstants.Name_RelevanteAspectenVoorZorgverleningZwakOntbrekendMantelzorgnetwerk);
    bool indic_cognitie = !Model.Global.FlowWebFields.IsTrue(FlowFieldConstants.Name_Cognitie);
    bool indic_delier = Model.Global.FlowWebFields.GetValueOrDefault(FlowFieldConstants.Name_Delier, "") == "Aanwezig";
    bool indic_motivatie_revalidatie = !Model.Global.FlowWebFields.IsTrue(FlowFieldConstants.Name_MotivatieVoorRevalidatie);

    var terugkeerindicvalues = new string[] { "Misschien", "Nee" };
    bool indic_terugkeer_thuis = terugkeerindicvalues.Contains(Model.Global.FlowWebFields.GetValueOrDefault(FlowFieldConstants.Name_InschattingTerugkeerNaarHuis, ""));

    var desorientatieindicvalues = new string[] { "Matig", "Ernstig" };
    bool indic_desorientatie = desorientatieindicvalues.Contains(Model.Global.FlowWebFields.GetValueOrDefault(FlowFieldConstants.Name_Desorientatie, ""));

    var hascontraindicatiegrz = indic_bewustzijn || indic_dwaal || indic_motivatie_revalidatie || indic_desorientatie;

    var hasoverlegmetso = indic_verwaarlozing || indic_mantelzorg || indic_bewustzijn || indic_cognitie || indic_delier
        || indic_motivatie_revalidatie || indic_terugkeer_thuis || indic_desorientatie;
}

@{
    HtmlString Row(string labeltext1, string controltext1, string labeltext2, string controltext2)
    {
        var formgroup = new TagBuilder("div");
        formgroup.AddCssClass("form-group");

        var label1 = new TagBuilder("label");
        var labelalternate1 = new TagBuilder("label");

        var label2 = new TagBuilder("label");
        var labelalternate2 = new TagBuilder("label");

        label1.AddCssClass("control-label col-xs-6 col-md-3 hidden-xs hidden-sm");
        labelalternate1.AddCssClass("control-label col-xs-6 hidden-md hidden-lg");

        label2.AddCssClass("control-label col-xs-6 hidden-md hidden-lg");

        label1.InnerHtml = labeltext1;
        labelalternate1.InnerHtml = labeltext1 + " voor deze opname";

        label2.InnerHtml = labeltext2 + " tijdens deze opname";

        var div1 = new TagBuilder("div");
        var div2 = new TagBuilder("div");

        div1.AddCssClass("col-xs-6 col-md-3");
        div2.AddCssClass("col-xs-6 col-md-3");

        var div3 = new TagBuilder("div");
        div3.AddCssClass("col-xs-12 hidden-md hidden-lg");

        div1.InnerHtml = controltext1;
        div2.InnerHtml = controltext2;

        formgroup.InnerHtml = label1.ToString() + labelalternate1.ToString() + div1 + div3 + label2.ToString() + div2;

        return new HtmlString(formgroup.ToString());
    }

    HtmlString CompareRow(FlowFormSection form, string fieldname1, string fieldname2)
    {
        var labelname1 = Html.FlowLabelName(Model.Global.FlowWebFields, fieldname1).ToString();
        var labelname2 = Html.FlowLabelName(Model.Global.FlowWebFields, fieldname2).ToString();

        var control1 = form.FlowControl(Model.Global.FlowWebFields, fieldname1);
        var control2 = form.FlowControl(Model.Global.FlowWebFields, fieldname2);

        return Row(labelname1, control1.ToString(), labelname2, control2.ToString());
    }
}

<script type="text/javascript">
    var formID = "#GRZForm";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

<style type="text/css">
    .no-pad-left {
        padding-left: 0;
    }
    .font-bold
    {
        font-weight: bold;
    }
    @if(Model.Global.PhaseInstance?.Status == (int)Status.Done)
    {
        <text>
        .phaseButtonDefinitive
        {
            display: none;
        }
        </text>
    }
    @if (isPrint == false)
    {
        <text>
        .ignore
        {
            display: none;
        }
        </text>
    }

    .indicatie-on
    {
        display: initial;
    }

    .indicatie-off
    {
        display: none;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/GRZForm")

<div class="row" style="margin-bottom:10px">
    <div class="col-xs-12">
        <div class="pull-left">

        </div>
        <div class="pull-right">
            <a class="btn btn-blue" href="#algemenegegevens">Algemene gegevens</a>
            <a class="btn btn-primary" href="#toeganggrz">Toegang GRZ</a>
            <a class="btn btn-azure" href="#vooropname">Voor Opname</a>
            <a class="btn btn-purple" href="#aanvullendekinimetrie">Aanvullende Klinimetrie</a>
        </div>
    </div>
</div>
<div class="@scroller" id="Scroller">

    @using (var form = Html.BeginFlowFormResponsive("GRZForm", FormMethod.Post, new Dictionary<string, object> { { "id", "GRZForm" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(3), controlSize: new BootstrapSize(9)))
    {
        
        using (var sectionBasis = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "data-section", "Basisgegevens" }, { "id", "basisgegevens" } }))
        {
            <div class="panel-body bg-lightblue">
                @sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "DatumIngevuld", overrideObjControlSize: new BootstrapSize(5, 3))
            </div>
        }

        using (var sectionAlgemenegegevens = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "data-section", "Algemenegegevens" }, { "id", "algemenegegevens" } }))
        {
            <div class="panel-heading">Algemene gegevens</div>
            <div class="panel-body bg-lightblue">
                @if (!isPrint)
                {
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Contactpersonen</label>
                        <div class="col-xs-9">
                            @{Html.RenderAction("ListReadOnly", "ContactPerson", new { clientid = Model.ClientID });}
                        </div>
                    </div>
                }
                else
                {
                    Html.RenderAction("ViewVO", "Client", new { Model.ClientID });
                }
                @sectionAlgemenegegevens.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam")
                <div class="form-group">
                    <label class="col-xs-3 control-label">Medebehandelaars</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-6">
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenGeriater")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenPsychiater")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenMedischMaatschappelijkWerk")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenGespecialiseerdVerpleegkundige")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenDietist")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenAnders")
                            </div>
                            <div class="col-xs-6">
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenLogopedist")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenFysiotherapeut")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenErgotherapeut")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenPedagogischMedewerker")
                                @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenRevalidatiearts")
                            </div>
                        </div>
                        @sectionAlgemenegegevens.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenToelichting")
                    </div>
                </div>
                @sectionAlgemenegegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname", overrideControlSize: 2)
                @sectionAlgemenegegevens.FormGroup(Model.Global.FlowWebFields, "SourceOrganization")

                <h3>Situatie Patiënt</h3>
                @sectionAlgemenegegevens.FormGroup(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist")
                @sectionAlgemenegegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieVoorgeschiedenis")
                @sectionAlgemenegegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieRedenOpname")
                @sectionAlgemenegegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieBehandeling")
            </div>
        }

        using (var sectionToegangGrz = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-primary" }, { "data-section", "ToegangGrz" }, { "id", "toeganggrz" } }))
        {
            <div class="panel-heading">Toegang GRZ: aandachtspunten bij toegang tot GRZ</div>
            <div class="panel-body bg-lightblue">
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "PrognoseVerwachteOntwikkeling")
                <div id="divInfectieIsolatie">
                    @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "InfectieIsolatie")
                    <div class="row ignore" id="InfectieIsolatieAanwezig">
                        <div class="col-xs-9 col-xs-offset-3">
                            @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "InfectieIsolatieSoortInfectie")
                            <div class="form-group">
                                <div class="col-xs-1 col-xs-offset-3">
                                    @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "InfectieIsolatieAnders")
                                </div>
                                <div class="col-xs-6">
                                    @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "InfectieIsolatieAndersTekst")
                                </div>
                            </div>

                            @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "InfectieIsolatieSoortIsolatie")
                            <div class="form-group">
                                <div class="col-xs-1 col-xs-offset-3">
                                    @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "InfectieIsolatieInfectieAnders")
                                </div>
                                <div class="col-xs-6">
                                    @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "InfectieIsolatieInfectieAndersTekst")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Speciale aandachtsgebieden zorgovername (verpleegkundige afdeling)</label>
                    <div class="col-xs-9">
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningIncontinentie")
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningGehoorproblemen")
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningVisusproblemen")
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningVerwaarlozing")
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningDwaalZwerfgedrag")
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningZwakOntbrekendMantelzorgnetwerk")
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "KamerNoodzakelijk")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-push-3 col-xs-9">
                        <div class="row">
                            <div class="col-xs-5">
                                @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "Verslaving")
                            </div>
                            <div class="col-xs-5">
                                <div id="VerslavingAanwezig">
                                    @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "VerslavingDrank")
                                    @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "VerslavingDrugs")
                                    @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "VerslavingMedicatie")
                                </div>
                            </div>
                        </div>

                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "Obesitas")
                    </div>
                </div>

                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "ObesitasGewicht", overrideControlSize: 2)
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "ObesitasLengte", overrideControlSize: 2)
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "ObesitasBMI", overrideControlSize: 2)
                <div class="form-group">
                    <label class="col-xs-3 control-label">Bewustzijn</label>
                    <div class="col-md-9">
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "Bewustzijn")
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Cognitie</label>
                    <div class="col-md-9">
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "Cognitie")
                    </div>
                </div>
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "FysiekeBelastbaarheid")
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "Delier")
                <div class="form-group">
                    <label class="col-xs-3 control-label">Motivatie voor revalidatie</label>
                    <div class="col-md-9">
                        @sectionToegangGrz.FlowControl(Model.Global.FlowWebFields, "MotivatieVoorRevalidatie")
                    </div>
                </div>
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "MotivatieVoorRevalidatieToelichting")
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "InschattingTerugkeerNaarHuis")
                @sectionToegangGrz.FormGroup(Model.Global.FlowWebFields, "ToegangGRZToelichting")
            </div>
        }
        using (var sectionVoorOpname = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-azure" }, { "data-section", "VoorOpname" }, { "id", "vooropname" } }))
        {
            <div class="panel-heading">Voor Opname: situatie patiënt voorafgaande aan huidige ziekenhuisopname</div>
            <div class="panel-body bg-lightblue">
                <div>
                    <h3>Psychisch functioneren van de patiënt voor en tijdens opname</h3>
                    <div class="row hidden-xs hidden-sm">
                        <div class="control-label col-md-offset-3 col-md-3"><b>Voor deze opname</b></div>
                        <div class="control-label col-md-3"><b>Tijdens deze opname</b></div>
                    </div>
                    @CompareRow(sectionVoorOpname, "GeheugenVerlies", "PsychischFunctionerenGeheugenverlies")
                    @CompareRow(sectionVoorOpname, "Desorientatie", "PsychischFunctionerenDesorientatie")
                    @CompareRow(sectionVoorOpname, "Gedragsstoornissen", "PsychischFunctionerenGedragsstoornissen")
                    @CompareRow(sectionVoorOpname, "Stemmingsstoornissen", "PsychischFunctionerenStemmingsstoornissen")
                    @CompareRow(sectionVoorOpname, "Denk", "PsychischFunctionerenDenkWaarnemingsstroornissen")
                    @CompareRow(sectionVoorOpname, "ZiekteInzicht", "PsychischFunctionerenZiekteInzichtJaNee")

                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenItemIngevuldToelichting", overrideControlSize: 6)
                </div>
                <div>
                    <h3>Communicatie</h3>
                    <div class="row hidden-xs hidden-sm">
                        <div class="control-label col-md-offset-3 col-md-3"><b>Voor deze opname</b></div>
                        <div class="control-label col-md-3"><b>Tijdens deze opname</b></div>
                    </div>
                    @CompareRow(sectionVoorOpname, "CommunicatieSpraakproblemen", "RequestFormCommunicatieSpraakproblemen")
                    @CompareRow(sectionVoorOpname, "CommunicatieGehoorproblemen", "RequestFormCommunicatieGehoorproblemen")
                    @CompareRow(sectionVoorOpname, "CommunicatieVisusproblemen", "RequestFormCommunicatieVisusproblemen")

                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_GRZCommunicatieToelichting, overrideControlSize: 6)
                </div>
                <div>
                    <h3>Fysiek functioneren</h3>
                    <div class="row hidden-xs hidden-sm">
                        <div class="control-label col-md-offset-3 col-md-3"><b>Voor deze opname</b></div>
                        <div class="control-label col-md-3"><b>Tijdens deze opname</b></div>
                    </div>
                    @CompareRow(sectionVoorOpname, "FysiekFuncVoorOpnameBadenOfDouchen", "BasiszorgBadenOfDouchen")
                    @CompareRow(sectionVoorOpname, "FysiekFuncVoorOpnameAankleden", "BasiszorgAankleden")
                    @CompareRow(sectionVoorOpname, "FysiekFuncVoorOpnameToiletgang", "BasiszorgToiletgang")
                    @CompareRow(sectionVoorOpname, "FysiekFuncVoorOpnameGebruikIncontinentiemateriaal", "BasiszorgGebruikIncontinentiemateriaal")
                    @CompareRow(sectionVoorOpname, "FysiekFuncVoorOpnameTransferBedStoel", "BasiszorgTransferBedStoel")
                    @CompareRow(sectionVoorOpname, "FysiekFuncVoorOpnameMobiliteit", "BasiszorgMobiliteit")
                    @CompareRow(sectionVoorOpname, "FysiekFuncVoorOpnameEtenEnDrinken", "BasiszorgEtenEnDrinken")

                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, "FysiekFuncToelichting", overrideControlSize: 6)
                </div>
                <div>
                    <h3>Mobiliteit</h3>
                    <div class="row hidden-xs hidden-sm">
                        <div class="control-label col-md-offset-3 col-md-3"><b>Voor deze opname</b></div>
                        <div class="control-label col-md-3"><b>Tijdens deze opname</b></div>
                    </div>

                    @CompareRow(sectionVoorOpname, "MobiliteitVoorOpnameRollator", "NoodzakelijkTeRegelenHulpmiddelenRollator")
                    @CompareRow(sectionVoorOpname, "MobiliteitVoorOpnameRolstoel", "NoodzakelijkTeRegelenHulpmiddelenRolstoel")
                    @CompareRow(sectionVoorOpname, "MobiliteitVoorOpnameKrukkenStok", "NoodzakelijkTeRegelenHulpmiddelenKrukkenStok")
                    @CompareRow(sectionVoorOpname, "MobiliteitVoorOpnameLooprekje", "NoodzakelijkTeRegelenHulpmiddelenLooprekje")
                    @CompareRow(sectionVoorOpname, "MobiliteitVoorOpnameLooprekjeMetElleboogSchalen", "NoodzakelijkTeRegelenHulpmiddelenLooprekjeMetElleboogSchalen")

                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_VerkeersDeelname)

                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_GRZMobiliteitToelichting, overrideControlSize: 6)
                </div>

                <div>
                    <h3>Sociale situatie / huishouden</h3>
                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, "BurgerlijkeStaat")
                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, "CompositionHousekeeping")
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Aantal kinderen in het gezin</label>
                        <div class="col-xs-3">
                            @sectionVoorOpname.FlowControl(Model.Global.FlowWebFields, "KinderenAanwezigAantal")
                        </div>
                    </div>

                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, "HousingType")
                    <div class="form-group">
                        @sectionVoorOpname.FlowLabel(Model.Global.FlowWebFields, "HealthCareProvider")
                        <div class="col-xs-9">
                            @sectionVoorOpname.FlowControl(
                                Model.Global.FlowWebFields,
                                "HealthCareProvider",
                                new { style = "background-color: white;" },
                                new InputGroupProperties(
                                    "glyphicon-search",
                                    "SearchOrganization(this, '"
                                    + Url.Action(
                                        "DepartmentSearch",
                                        "OrganizationSearch",
                                        new { transferid = Model.Global.TransferID,
                                            Model.FlowDefinitionID,
                                            OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider })
                                    + "' , PutOrganisation);",
                                    InputGroupProperties.InputGroupPosition.Right,
                                    true,
                                    "HealthCareProvider"))
                        </div>
                    </div>

                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, "SocialeSituatieHuishoudenToelichting")
                    @sectionVoorOpname.FormGroup(Model.Global.FlowWebFields, "MantelzorgerAanwezig")
                    <div id="MantelzorgerAanwezigJa" class="row" style="@(Model.Global.FlowWebFields.GetValueOrDefault("MantelzorgerAanwezig", "") == "Ja" ? "" : "display:none")">
                        <div class="col-xs-push-3 col-xs-9">
                            @sectionVoorOpname.FormGroupResponsive(Model.Global.FlowWebFields, "MantelzorgDoor", overrideObjLabelSize: new BootstrapSize(12, 4, 3), overrideObjControlSize: new BootstrapSize(12, 8, 5))
                            @sectionVoorOpname.FormGroupResponsive(Model.Global.FlowWebFields, "MantelzorgKeerPerDag", new { placeholder = "Aantal keer" }, overrideObjLabelSize: new BootstrapSize(12, 4, 3), overrideObjControlSize: new BootstrapSize(12, 8, 5))
                            @sectionVoorOpname.FormGroupResponsive(Model.Global.FlowWebFields, "MantelzorgKeerPerWeek", new { placeholder = "Aantal keer" }, overrideObjLabelSize: new BootstrapSize(12, 4, 3), overrideObjControlSize: new BootstrapSize(12, 8, 5))
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-4 col-md-3 control-label">Bij</label>
                                <div class="col-xs-12 col-sm-8 col-md-9">
                                    @sectionVoorOpname.FlowControl(Model.Global.FlowWebFields, "BijdrageMantelzorgerPersoonlijkeVerzorging")
                                    @sectionVoorOpname.FlowControl(Model.Global.FlowWebFields, "BijdrageMantelzorgerHuishouden")
                                    @sectionVoorOpname.FlowControl(Model.Global.FlowWebFields, "BijdrageMantelzorgerVervoer")
                                    @sectionVoorOpname.FlowControl(Model.Global.FlowWebFields, "BijdrageMantelzorgerOverig")
                                </div>
                            </div>
                            <div class="form-group" id="BijdrageMantelzorgerOverigJa">
                                <label class="col-xs-12 col-sm-4 col-md-3 control-label"></label>
                                <div class="col-xs-12 col-sm-8 col-md-9">
                                    @sectionVoorOpname.FlowControl(Model.Global.FlowWebFields, "BijdrageMantelzorgerOverigToelichting", new { placeholder = "Bijdrage overig" })
                                </div>
                            </div>
                            @sectionVoorOpname.FormGroupResponsive(Model.Global.FlowWebFields, "MantelzorgToelichting", overrideObjLabelSize: new BootstrapSize(12, 4, 3), overrideObjControlSize: new BootstrapSize(12, 8, 9))
                        </div>
                    </div>
                </div>
            </div>
        }

        using (var sectionAanvullendeKlinimetrie = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "data-section", "AanvullendeKlinimetrie" }, { "id", "aanvullendekinimetrie" } }))
        {
            <div class="panel-heading">Aanvullende Klinimetrie</div>
            <div class="panel-body bg-lightpurple">
                <div class="form-group">
                    <div class="col-xs-9 col-xs-push-3">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                <b>Datum</b><br />
                            </div>
                            <div class="col-xs-4 col-md-5">
                                <b>Resultaat</b><br />
                            </div>
                            <div class="col-xs-4 col-md-5">
                                <b>Resultaat 2 weken voor opname (indien bekend)</b><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Barthel index</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "BarthelIndexDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "BarthelIndexResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "BarthelIndexVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">DOS</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "DOSDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "DOSResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "DOSVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">FAC</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "FACDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "FACResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "FACVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Katz-ADL</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "KatzADLDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "KatzADLResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "KatzADLVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Snaq</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SnaqDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SnaqResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SnaqVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">WOLC</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WOLCDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WOLCResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WOLCVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">PRPP</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "PRPPDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "PRPPResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "PRPPVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Watersliktest</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WatersliktestDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WatersliktestResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WatersliktestVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">SAN</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SANDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SANResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SANVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">MI</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MIDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MIResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MIVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">MMSE</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MMSEDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MMSEResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MMSEVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Anders</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-5 col-xs-push-4 col-md-push-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "AndersSoortMeting")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div id="indicaties" class="panel panel-gray">
            @{
                var hasindicationstatus = hascontraindicatiegrz || hasoverlegmetso;
            }

            <div class="panel-body bg-lightgray @(hasindicationstatus ? "" : "ignore")" id="divGRZFormContraIndicationOverride" style="@(hasindicationstatus ? "" : "display:none")">
                <div class="form-group ignore-printfilter">
                    <div class="col-xs-12">
                        <b>Let op: Het ingevulde formulier bevat mogelijke contra-indicaties GRZ of geeft mogelijk aanleiding om de SO te contacten</b>
                        <span onclick="$('#contraindicationlist').toggle()" class="btn btn-blue">Bekijk meldingen</span><br />
                        @if (isActive)
                        {
                            <i>U kunt het formulier hierdoor niet definitief maken tenzij u de meldingen als afgehandeld afvinkt (zie onder).</i><br />
                            <br />
                        }
                    </div>

                    <div class="ignore" id="contraindicationlist">
                        <div class="col-md-6 @(hascontraindicatiegrz ? "indicatie-on" : "indicatie-off")" id="contraindicatiegrz">
                            <div class="">
                                <div class="font-bold">Contra-indicatie voor GRZ</div>
                                <ul>
                                    <li class="indic-dwaal" style="@(indic_dwaal ? "" : "display:none")">Dwaal- Zwerfgedrag</li>
                                    <li class="indic-bewustzijn" style="@(indic_bewustzijn ? "" : "display:none")">Bewustzijn slecht/matig</li>
                                    <li class="indic-motivatie_revalidatie" style="@(indic_motivatie_revalidatie ? "" : "display:none")">Geen motivatie revalidatie</li>
                                    <li class="indic-desorientatie" style="@(indic_desorientatie ? "" : "display:none")">Desorientatie</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 @(hasoverlegmetso ? "indicatie-on" : "indicatie-off")" id="overlegso">
                            <div class="">
                                <div class="font-bold">Overleg met SO</div>
                                <ul>
                                    <li class="indic-verwaarlozing" style="@(indic_verwaarlozing ? "" : "display:none")">Verwaarlozing</li>
                                    <li class="indic-mantelzorg" style="@(indic_mantelzorg ? "" : "display:none")">Zwak of ontbrekend mantelzorgnetwerk</li>
                                    <li class="indic-cognitie" style="@(indic_cognitie ? "" : "display:none")">Cognitie slecht/matig</li>
                                    <li class="indic-bewustzijn" style="@(indic_bewustzijn ? "" : "display:none")">Bewustzijn slecht/matig</li>
                                    <li class="indic-delier" style="@(indic_delier ? "" : "display:none")">Delier aanwezig</li>
                                    <li class="indic-motivatie_revalidatie" style="@(indic_motivatie_revalidatie ? "" : "display:none")">Geen motivatie revalidatie</li>
                                    <li class="indic-terugkeer_thuis" style="@(indic_terugkeer_thuis ? "" : "display:none")">Terugkeer huis</li>
                                    <li class="indic-desorientatie" style="@(indic_desorientatie ? "" : "display:none")">Desorientatie</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        @form.FlowControl(Model.Global.FlowWebFields, "GRZFormContraIndicationOverride")
                    </div>
                </div>
            </div>
        </div>
    }
</div>