﻿@using Point.MVC.WebApplication.Extensions;
@using Point.Database.Extensions;
@model FormTypeBaseViewModel

@{ 
    bool isPrint = Model.Global.IsPrintRequest;
}

<script type="text/javascript">
    var formID = "#GRZResult";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@if(!isPrint)
{
    <style type="text/css">
        .ignore
        {
            display: none;
        }
    </style>
}

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/GRZResult")

@using (var form = Html.BeginFlowFormResponsive("GRZResult", FormMethod.Post, new Dictionary<string, object> { { "id", "GRZResult" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 6)))
{
    using (var sectionBasis = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "data-section", "Basisgegevens" }, { "id", "basisgegevens" } }))
    {
        <div class="panel-body bg-lightblue">
            @sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "ResultaatDatumTriage", overrideObjControlSize: new BootstrapSize(6, 4, 3))
            @sectionBasis.FormGroup(Model.Global.FlowWebFields, "ResultaatTriageDoor")
            @sectionBasis.FormGroup(Model.Global.FlowWebFields, "ResultaatTriageDoorSOG")
            @if (Model.Global.IsPrintRequest)
            {
                <br />
                Html.RenderAction("ViewVO", "Client", new {Model.ClientID });
            }
        </div>
    }

    using (var sectionResultaat = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "data-section", "Algemenegegevens" }, { "id", "resultaat" } }))
    {
        <div class="panel-heading">Resultaat/Uitslag Triage Geriatrische Revalidatie Zorg</div>
        <div class="panel-body bg-lightblue">
            @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "KernProbleem", overrideObjControlSize: new BootstrapSize(12, 7, 6))

            <div>
                <h3>Voldoet wel/niet aan volgende GRZ criteria:</h3>
                @sectionResultaat.FormGroup(Model.Global.FlowWebFields, "ResultaatPatientIsGemotiveerdVoorRevalidatie")
                <br />
                @sectionResultaat.FormGroup(Model.Global.FlowWebFields, "ResultaatPatientIsLeerbaar")
                <br />
                @sectionResultaat.FormGroup(Model.Global.FlowWebFields, "ResultaatPatientIsFysiekBelastbaar")
                <br />
                @sectionResultaat.FormGroup(Model.Global.FlowWebFields, "ResultaatPatientKanNaarHuis")
                <br />
                @sectionResultaat.FormGroup(Model.Global.FlowWebFields, "ResultaatPatientBelastbaarVoorRevalidatie")
                <br />
                @sectionResultaat.FormGroup(Model.Global.FlowWebFields, "ConclusieWelGeenGRZ")
                <div class="form-group" id="welgrzcontainer">
                    <div class="col-xs-push-6 col-sm-push-5 col-md-push-3 col-xs-6 col-sm-7 col-md-9">
                        <div style="border: 1px solid lightgray; padding: 16px; background-color:rgba(128, 128,128, 0.1);">
                            @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "GRZVerwachtteOpnameDuur", overrideObjLabelSize: new BootstrapSize(12), overrideObjControlSize: new BootstrapSize(12))
                            <div class="row">
                                @sectionResultaat.FlowLabel(Model.Global.FlowWebFields, "ConclusieTypeGRZ", overrideLabelSize: 12)
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    @sectionResultaat.FlowControl(Model.Global.FlowWebFields, "ConclusieTypeGRZ")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    @sectionResultaat.FlowControl(Model.Global.FlowWebFields, "ConclusieOverigBeschrijving", new { disabled = "disabled" })
                                </div>
                            </div>
                            @{ 
                                var grztype = Model.Global.FlowWebFields.GetValueOrDefault("ConclusieTypeGRZ", "");
                            }
                            <div id="divGRZVoorlopigeDiagnoseCVA" class="@(grztype == "CVA" ? "" : "ignore")">
                                @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "GRZVoorlopigeDiagnoseCVA", overrideObjLabelSize: new BootstrapSize(3), overrideObjControlSize: new BootstrapSize(9))
                            </div>
                            <div id="divGRZVoorlopigeDiagnoseEO" class="@(grztype == "Electieve orthopedie" ? "" : "ignore")">
                                @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "GRZVoorlopigeDiagnoseEO", overrideObjLabelSize: new BootstrapSize(3), overrideObjControlSize: new BootstrapSize(9))
                            </div>
                            <div id="divGRZVoorlopigeDiagnoseTrauma" class="@(grztype == "Trauma" ? "" : "ignore")">
                                @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "GRZVoorlopigeDiagnoseTrauma", overrideObjLabelSize: new BootstrapSize(3), overrideObjControlSize: new BootstrapSize(9))
                            </div>
                            <div id="divGRZVoorlopigeDiagnoseAmputatie" class="@(grztype == "Amputatie" ? "" : "ignore")">
                                @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "GRZVoorlopigeDiagnoseAmputatie", overrideObjLabelSize: new BootstrapSize(3), overrideObjControlSize: new BootstrapSize(9))
                            </div>
                            <div id="divGRZVoorlopigeDiagnoseOverig" class="@(grztype == "Overig" ? "" : "ignore")">
                                @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "GRZVoorlopigeDiagnoseOverig", overrideObjLabelSize: new BootstrapSize(3), overrideObjControlSize: new BootstrapSize(9))
                                @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "GRZVoorlopigeDiagnoseBij504", overrideObjLabelSize: new BootstrapSize(3), overrideObjControlSize: new BootstrapSize(9))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @sectionResultaat.FormGroupResponsive(Model.Global.FlowWebFields, "ResultaatEvtAfsprakenOntslag", overrideObjControlSize: new BootstrapSize(12, 7, 6))
        </div>
    }
}
