﻿@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model GVPViewModel

@{
    bool isPrint = Model.Global.IsPrintRequest;
    var scroller = isPrint ? "" : "pre-scrollable";
    var collapsable = isPrint ? "" : "collapse";
    var prefilledname = "";
    var readmodestring = Model.Global.IsReadMode ? "readonly disabled" : "";
}

<script type="text/javascript">
    var formID = "#GVP";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var vvtDepartmentID = parseInt('@Model.VVTDepartmentID', 10);
    var vvtDepartmentIDMSVT = parseInt('@Model.VVTDepartmentIDMSVT', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getDoctorByID = '@Html.Raw(Url.Action("GetDoctorByID", "LookUp"))';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var newrequesturl = '@Html.Raw(Model.Global.NewFormRequestUrl)';
    $(document).ready(function () {
        $('[data-toggle="clickover"]').clickover({
            html: true,
            placement: "left",
            global_close: true,
            esc_close: true,
            template: '<div class="popover"><div class="popover-content"></div></div>',
            content: $(this).data("content")
        });
    });
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/GVP")

<style type="text/css">
    #identificatie .second-responsibility-block, #identificatie .first-responsibility-title-default
    {
        @(Model.IsRisicoVolle ? "display: none;": "")
    }
</style>

<style type="text/css">
    .signature {
        width: 156px;
        height: 64px;
        vertical-align: top;
    }
    .signature-item {
        width: 40%;
        height: 100%;
        vertical-align: top;
        margin-right: 5px;
        display: inline-block;
    }

    #GVP .msvt-item-row {
        margin-bottom: 3px;
        padding-left: 6px;
        padding-right: 6px;
    }

    #GVP .uitklapcontainer {
        background-color: white;
        padding: 5px 0 10px 16px;
    }

    #GVP .msvt-item {
        height: 100%;
        vertical-align: top;
        margin-right: 5px;
        display: inline-block;
        word-wrap: break-word;
    }

        #GVP .msvt-item.form-group {
            margin: 0;
        }

        #GVP .msvt-item .radio-inline {
            margin-left: 3px;
        }

    #GVP .fix-position {
        position: relative;
        top: 4px;
    }
</style>



@if (isPrint)
{
    <style type="text/css">
    </style>

    <div class="row">
        <div class="col-xs-3">Organisatie / Locatie / AGB</div>
        <div class="col-xs-9">@Model.SendingOrganization</div>
    </div>
}
else
{
    <style type="text/css">
        #Scroller {
            padding-right: 15px;
        }
    </style>
}

<div id="formSpecificPhaseButtonsSource">
    @if (!Model.HideNewButtons)
    {
        <div class="btn btn-default btn-default" id="nieuwexemplaar" data-url="@Model.Global.NewFormRequestUrl">Maak nieuw exemplaar</div>

        <div class="btn btn-primary" id="btnRenew" data-renew="true">Verlengen / wijzigen</div>
    }
</div>



@using (var form = Html.BeginFlowFormResponsive("GVP", FormMethod.Post, new Dictionary<string, object> { { "id", "GVP" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 6, 3), controlSize: new BootstrapSize(6, 6, 6)))
{
    <div class="row" style="margin-bottom:10px">
        <div class="col-xs-12">
            <div class="pull-left">

            </div>
            <div class="pull-right">
                <a class="btn btn-blue" href="#patientgegevens">Patient gegevens</a>
                <a class="btn btn-azure" href="#handelingen">Handelingen</a>
                <a class="btn btn-purple" href="#medicatie">Medicatie</a>
                <a class="btn btn-purplegray" href="#verwachteduur">Verwachte duur</a>
                <a class="btn btn-primary" href="#identificatie">Identificatie</a>
            </div>
        </div>
    </div>
    <div class="@scroller" id="Scroller">
        @if (!isPrint)
        {
            using (var section1 = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    @if (Model.FormSetVersions.Any())
                    {
                        <div class="form-group">
                            <label class="col-xs-6 col-sm-6 col-md-3 control-label">Kies versie (G)Vp</label>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <select id="PhaseInstanceID" class="form-control">
                                    @{
                                        var i = 1;
                                        foreach (var formsetversion in Model.FormSetVersions)
                                        {
                                            if (formsetversion.Description == null)
                                            {
                                                formsetversion.Description = "(G)Vp: Risicovolle handelingen " + i;
                                            }

                                            var url = Url.Action("GVP", "FormType", new {Model.Global.TransferID, Model.Global.PhaseDefinitionID, formsetversion.PhaseInstanceID, formsetversion.FormSetVersionID });
                                            string selected = Model.Global.FormSetVersionID == formsetversion.FormSetVersionID ? "selected" : "";

                                            if (Model.Global.FormSetVersionID == formsetversion.FormSetVersionID)
                                            {
                                                prefilledname = formsetversion.Description;
                                            }

                                            <option value="@formsetversion.FormSetVersionID" data-url="@url" @selected>@formsetversion.Description</option>
                                            i++;
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-xs-6 col-sm-6 col-md-3 control-label required">Naam</label>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            @{
                                if (prefilledname == "")
                                {
                                    prefilledname = "(G)Vp: Risicovolle handelingen " + Model.GVPNumber;
                                }
                            }
                            <input type="text" name="gvpname" id="gvpname" class="form-control" readonly value="@prefilledname" />
                            <input type="hidden" name="gvpnumber" id="gvpnumber" class="form-control" value="@Model.GVPNumber" />
                        </div>
                    </div>
                </div>
            }
        }

        @using (var sectionPatientGegevens = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "id", "patientgegevens" } }))
        {
            <div class="panel-heading">Patient gegevens</div>
            <div class="panel-body bg-lightblue">
                @{Html.RenderAction("ViewBasic", "Client", new {Model.ClientID });}
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname", overrideControlSize: 6, overrideLabelSize: 6)
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "DatumEerstVolgendPolibezoek", overrideControlSize: 6, overrideLabelSize: 6)
                    </div>
                </div>
                @sectionPatientGegevens.FormGroupResponsive(Model.Global.FlowWebFields, "ExtraInfo2eSpecialist", overrideObjControlSize: new BootstrapSize(12, 6, 6))

                <div>
                    <h3>Indicatie / werkopdracht - behandeling</h3>
                    @sectionPatientGegevens.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieRedenOpnameMSVT", overrideObjControlSize: new BootstrapSize(12, 6, 6))
                </div>
            </div>
        }

        @using (var sectionUitvoeringsverzoek = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-azure" }, { "id", "handelingen" } }))
        {
            <div class="panel-heading">
                Handelingen
            </div>
            <div class="panel-body bg-lightblue" id="uitvoeringsverzoekactions">
                @{
                    int TreatmentGroupNum = 0;
                }
                <ul class="nav nav-pills nav-stacked pt-nav-colors">
                    @foreach (var itemGroup in Model.GVPHandelingItems.GroupBy(it => it.GroupID))
                    {
                        //Hacks om content ertussen te krijgen
                        if (TreatmentGroupNum == 0)
                        {
                            if (Model.HasRisicoVolle || !isPrint)
                            {
                                <li class="ignore-printfilter">
                                    <b>Risicovolle Handelingen</b>
                                    <span class="noprint" style="cursor: pointer;" data-toggle="clickover" data-placement="right" data-content="Risicovolle handelingen behoren niet tot de zgn. Voorbehouden Handelingen zoals beschreven in de wet Big. Deze handelingen hangen weliswaar samen met de medische behandeling waarvoor een arts verantwoordelijk is. Een handtekening van de arts onder de overdracht van deze handeling is niet noodzakelijk." data-original-title="" title="">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span>
                                </li>
                            }

                            if (Model.DisplayHighRiskActionsInfo)
                            {
                                <li class="alert alert-gray noprint" style="margin-bottom: 3px; margin-top: 16px;">
                                    <b>Let op: In Aanvraag Nazorg zijn de onderstaande risicovolle handelingen ingevuld die mogelijk ook van toepassing zijn voor dit formulier (ze worden niet automatisch overgenomen).</b><br />
                                    @Html.Raw(Model.HighRiskActionsInfo)
                                </li>
                            }
                        }
                        if (TreatmentGroupNum == GVPViewModel.RisicovolleGroupIds.Count)
                        {
                            if (Model.HasUitvoeringsVerzoek || !isPrint)
                            {
                                <li class="ignore-printfilter">
                                    <b>Voorbehouden Handelingen</b>
                                    <span class="noprint" style="cursor:pointer;" data-toggle="clickover" data-placement="right" data-content="Voorbehouden Handelingen zijn qua uitvoering voorbehouden aan Verpleegkundigen zoals beschreven in de wet Big. Voorbehouden handelingen zijn “invasieve” handelingen wat wil zeggen dat lichaamsbarrières doorbroken worden. De opdracht/overdracht van een voorbehouden handeling moet voorzien zijn van een handtekening van een arts of verpleegkundig specialist met voorschrijfbevoegdheid." data-original-title="" title="">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span>
                                </li>
                            }

                            if (Model.DisplayUvvActionsInfo)
                            {
                                <li class="alert alert-gray noprint" style="margin-bottom: 3px;">
                                    <b>Let op: In Aanvraag Nazorg zijn de onderstaande voorbehouden handelingen ingevuld die mogelijk ook van toepassing zijn voor dit formulier (ze worden niet automatisch overgenomen).</b><br />
                                    @Html.Raw(Model.UvvActionsInfo)
                                </li>
                            }
                        }

                        var groupName = $"group{TreatmentGroupNum}";
                        <li class="sub-section">
                            <a data-toggle="collapse" href="#@groupName" aria-expanded="false" aria-controls="@groupName">
                                <span class="glyphicon glyphicon-list"></span>
                                @itemGroup.First().GroupName
                            </a>
                            <div class="@collapsable uitklapcontainer" id="@groupName">
                                @foreach (var item in itemGroup)
                                {
                                    var classname = "";
                                    if (item.IsUitvoeringsVerzoekItem)
                                    {
                                        classname = "isuitvoeringsverzoekitem";
                                    }
                                    if (item.isRisicovolItem)
                                    {
                                        classname = "isrisicovolitem";
                                    }

                                    <div class="msvt-item-row form-group @classname">
                                        <div class="msvt-item partly-required" style="width:450px">
                                            <input type="text" @readmodestring name="@item.FrequencyName" class="form-control" value="@item.Frequency" data-label="Frequentie" placeholder=" - bijv. 3 x per dag -" />
                                        </div>
                                        <div class="msvt-item resizetomax @(item.IsCustomAction ? "partly-required" : "")">
                                            @if (!item.IsCustomAction)
                                            {
                                                <label style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" class="fix-position" title="@item.Action">@item.Action</label>
                                            }
                                            else
                                            {
                                                <input type="text" @readmodestring name="@item.DefinitionName" class="form-control" value="@item.Definition" data-label="Handeling" />
                                            }
                                        </div>
                                        <div class="msvt-item pull-right">
                                            <span class="btn glyphicon glyphicon-remove" style="color:indianred;" onclick="ClearMsvtItemRow(this);"></span>
                                        </div>
                                    </div>
                                }
                            </div>

                            @{TreatmentGroupNum++;}
                        </li>
                    }
                </ul>
            </div>
        }

        @using (var sectionMedicatie = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "id", "medicatie" } }))
        {
            <div class="panel-heading">
                Medicatie
            </div>
            <div class="panel-body bg-lightpurple">

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Benodigde medicatie</th>
                            <th>Dosering</th>
                            <th>Frequentie / tijden</th>
                            <th>Toediening per</th>
                            <th style="width:40px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MedicationItems)
                        {
                            <tr class="form-group-row msvt-item-row">
                                <td>
                                    <input type="text" @readmodestring name="@item.MedicationName" class="form-control" maxlength="100" value="@item.Medication" />
                                </td>
                                <td>
                                    <input type="text" @readmodestring name="@item.DosageName" class="form-control" maxlength="50" value="@item.Dosage" />
                                </td>
                                <td>
                                    <input type="text" @readmodestring name="@item.FrequencyName" class="form-control" maxlength="50" value="@item.Frequency" />
                                </td>
                                <td>
                                    <input type="text" @readmodestring name="@item.DeliveryMethodName" class="form-control" value="@item.DeliveryMethod" />
                                </td>
                                <td>
                                    <span class="btn glyphicon glyphicon-remove" style="color:indianred;" onclick="ClearMsvtItemRow(this);"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @using (var sectionHulpmiddelen = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "id", "Hulpmiddelen" } }))
        {
            <div class="panel-body bg-lightpurple">
                <h4>Hulpmiddelen</h4>
                @sectionHulpmiddelen.FormGroupResponsive(Model.Global.FlowWebFields, "BenodigdeHulpmiddelen_1", overrideObjLabelSize: new BootstrapSize(12, 6, 3), overrideObjControlSize: new BootstrapSize(12, 6, 6))
            </div>
        }

        @using (var sectionBijzonderheden = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-purple" }, { "id", "Bijzonderheden" } }))
        {
            <div class="panel-body bg-lightpurple">
                <h4>Bijzonderheden</h4>
                @sectionBijzonderheden.FormGroupResponsive(Model.Global.FlowWebFields, "EvtComplicatiesBijzonderheden_1", overrideObjLabelSize: new BootstrapSize(12, 6, 3), overrideObjControlSize: new BootstrapSize(12, 6, 6))
            </div>
        }

        @using (var sectionVerwachteduur = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purplegray" }, { "id", "verwachteduur" } }))
        {
            <div class="panel-heading">
                Verwachte duur
            </div>
            <div class="panel-body bg-lightpurple">
                @if (!isPrint)
                {
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-6 col-md-3"><span class="control-label required">Start-</span> / einddatum</label>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="row">
                                <div class="col-xs-6">@sectionVerwachteduur.FlowControl(Model.Global.FlowWebFields, "VerwachteDuurStartdatum")</div>
                                <div class="col-xs-6">@sectionVerwachteduur.FlowControl(Model.Global.FlowWebFields, "VerwachteDuurEinddatum")</div>
                            </div>
                        </div>
                    </div>
                }
                @if (isPrint)
                {
                    <div class="form-group ignore-printfilter">
                        <div class="col-xs-6">
                            @sectionVerwachteduur.FormGroup(Model.Global.FlowWebFields, "VerwachteDuurStartdatum", overrideLabelSize: 6)
                        </div>
                        <div class="col-xs-6">
                            @sectionVerwachteduur.FormGroup(Model.Global.FlowWebFields, "VerwachteDuurEinddatum", overrideLabelSize: 6)
                        </div>
                    </div>
                }
            </div>
        }

        @using (var sectionIdentificatie = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-primary" }, { "id", "identificatie" } }))
        {
            <div class="panel-heading">
                Identificatie behandelend arts en betrokken organisaties
            </div>
            <div class="panel-body bg-lightblue">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        @if (!isPrint)
                        {
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelendArtsID", overrideLabelSize: 6, overrideControlSize: 6)
                        }
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarAGB", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarBIG", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarSpecialisme", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarTelefoonPieper", overrideLabelSize: 6, overrideControlSize: 6)
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            @sectionIdentificatie.FlowLabel(Model.Global.FlowWebFields, "MSVTLeverendeOrganisatie", overrideLabelSize: 6)
                            <div class="col-xs-6">
                                @sectionIdentificatie.FlowControl(Model.Global.FlowWebFields, "MSVTLeverendeOrganisatie", new { style = "background-color: white;" },
                                inputGroupProperties: new InputGroupProperties(
                                    "glyphicon-search",
                                    "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { transferid = Model.Global.TransferID, Model.Global.FlowInstance.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutOrganisation);",
                                    InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true
                                    )
                            )
                            </div>
                        </div>

                        <div id="leverendemedewerkerdetails" style='@(!Model.ShowLeverendeMedewerker ? "display:none;" : "")'>
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerker", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerBIG", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerTelefoon", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerEmail", overrideLabelSize: 6, overrideControlSize: 6)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
@if (isPrint && (Model.IsRisicoVolle || Model.IsUitvoeringsVerzoek))
{
    <section class="panel panel-primary ignore-printfilter" id="identificatie" style="page-break-inside: avoid;">
        <div class="panel-heading">Verklaring medische verantwoordelijkheid en accordering opdracht</div>
        <div class="panel-body bg-lightblue">
            <div class="col-xs-12">
                <div class="row form-group responsibility-header">
                    @if (Model.IsRisicoVolle)
                    {
                        <label class="control-label">Bovenstaande handelingen vloeien voort uit de medische behandeling die in het ziekenhuis gestart(of voortgezet) is en waarvoor de behandelend arts(en) verantwoordelijk is. De Transferverpleegkundige draagt deze informatie over namens de behandelend arts(en) ten behoeve van uitvoering conform de afgesproken voorwaarden dan wel de daartoe afgesloten raamovereenkomst.</label>
                    }
                    else
                    {
                        <label class="control-label">De arts/verpleegkundig specialist/PA verzoekt bovenstaande handeling(en) uit te voeren conform de afgesproken voorwaarden dan wel de daartoe afgesloten raamovereenkomst.</label>
                    }
                </div>
                @if (Model.IsUitvoeringsVerzoek)
                {
                    <br />
                    <div class="row form-group">
                        <div class="signature-item first-responsibility-title-default">
                            <label class="control-label">Handtekening / opdrachtgever</label>
                        </div>
                        <div class="signature-item second-responsibility-block">
                            <label class="control-label">Handtekening / opdrachtnemer</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="signature-item">
                        </div>
                        <div class="signature-item second-responsibility-block">
                            <label class="control-label">Organisatie: @Model.ReceivingOrganization</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="signature-item">
                            @if (Model.HasSignedPhaseInstance)
                            {
                                <label class="control-label">Naam: @Model.SignedByEmployeeName</label>
                            }
                            else
                            {
                                <label class="control-label">Naam: ................................................</label>
                            }
                        </div>
                        <div class="signature-item second-responsibility-block">
                            <label class="control-label">Naam: ................................................</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="signature-item">
                            @if (Model.HasSignedPhaseInstance)
                            {
                                <label class="control-label">Functie: @Model.SignedByEmployeeFunction</label>
                            }
                            else
                            {
                                <label class="control-label">Functie: ..............................................</label>
                            }
                        </div>
                        <div class="signature-item second-responsibility-block">
                            <label class="control-label">Functie: ..............................................</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="signature-item">
                            @if (Model.HasSignedPhaseInstance)
                            {
                                <label class="control-label">Datum: @Model.SignedPhaseInstanceDate</label>
                            }
                            else
                            {
                                <label class="control-label">Datum: ...............................................</label>
                            }
                        </div>
                        <div class="signature-item second-responsibility-block">
                            <label class="control-label">Datum: ...............................................</label>
                        </div>
                    </div>

                    <br />
                    <div class="row form-group">
                        <div class="signature-item">
                            @if (Model.HasSignedPhaseInstance)
                            {
                                <label class="control-label">Handtekening: <img class="signature" src='@Html.Action("GetSignedPhaseInstanceImageAsBase64", "DigitalSignature", new { Model.SignedPhaseInstancePhaseInstanceID })' /></label>
                            }
                            else
                            {
                                <label class="control-label">Handtekening: ...................................</label>
                            }
                        </div>
                        <div class="signature-item second-responsibility-block">
                            <label class="control-label">Handtekening: ...................................</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}