﻿@using Point.Business.Logic
@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums
@model HulpmiddelenViewModel

@{
    string scroller = Model.Global.IsPrintRequest ? "" : "pre-scrollable";
    var minDate = $"{DateTime.Today.AddDays(1).Date.ConvertTo<string>()}";
}

<style type="text/css">
    #Hulpmiddelen #formSpecificPhaseButtonsSource {
        display: none;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    #afleverdatumgroup {
        margin-top: 15px;
    }

    .value-changed {
        border-color: yellowgreen !important;
    }

    #BevestigingsEmailTarget label.required {
        display: none;
    }

    div[class^="col-xs-"] > div[class^="col-xs-"] {
        padding-left: 0;
        padding-right: 0;
    }


</style>


<script type="text/javascript">
    var formID = '#Hulpmiddelen';       // NEEDED at global level
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    //var _fieldNameForMultiAflevertijd = "@(Model.AfleverTijden.FieldName)"; // NEEDED in  DropDownMultiSelect.js
    //var dashboardUrl = '@Url.Action("DashBoard", "FlowMain", new {Model.Global.TransferID}, Utils.UriScheme())';

    var _Hulpmiddelen = {
        FormID: formID,
        FormSetVersionID: @Model.Global.FormSetVersionID,
        TransferID: @Model.Global.TransferID,
        UniqueFormKey: @Model.UniqueFormKey,
        Urls: {
            AddItem: '@Url.Action("AddItem", "AidProduct")',
            Dashboard: '@Url.Action("DashBoard", "FlowMain", new {Model.Global.TransferID}, Utils.UriScheme())',
            DeleteAllAnswers: '@(Url.Action("DeleteAllAnswers", "AidProduct"))',
            GetOrderStatus: '@Url.Action("GetOrderStatus", "AidProduct", new {Model.Global.FormSetVersionID})',
            GetTransportStatus: '@Url.Action("GetTransportStatus", "AidProduct")',
            GetUnansweredQuestions: '@Url.Action("GetUnansweredQuestions", "AidProduct")',
            Questions: '@Url.Action("Questions", "AidProduct")'
        },
        Enums: {
            AidProductGroupRental: '@((int)AidProductGroupID.Vegro_Huurartikelen)',
            MediPointID: @((int)SupplierID.MediPoint),
            OrderStatusConfirmed : '@(DashboardMenuItemViewBL.ORDER_CONFIRMED)',
            OrderStatusFailed : '@(DashboardMenuItemViewBL.ORDER_FAILED)',
            OrderStatusProcessing : '@(DashboardMenuItemViewBL.ORDER_PROCESSING)',
            OrderStatusSent: '@(DashboardMenuItemViewBL.SENT)',
            PointID: @((int)SupplierID.Point),
            QuestionsAnsweredAllNotNecessary: '@AidProductQuestionsAnsweredAll.NotNecessary',
            QuestionsAnsweredAllYes: '@AidProductQuestionsAnsweredAll.Yes',
            VegroID : @((int)SupplierID.Vegro)
        },
        ExternalSupplierMediPointCode: '@(Model.MediPointCode)',
        ExternalSupplierVegroCode : '@(Model.VegroCode)',
        HasMediPointAccount : @(Model.HasMediPointAccount.ToString().ToLower()),
        HasVegroAccount: @(Model.HasVegroAccount.ToString().ToLower()),
        HealthInsurerAddress: parseJsonValue('@Html.Raw(Model.ZorginstellingAdres)'),
        HealthInsurerUzovi: @(Model.HealthInsurerUzovi),
        HospitalAddress: parseJsonValue('@Html.Raw(Model.HospitalAdres)'),
        IsCurrentOrderDone: @((Model.IsCurrentOrderDone).ToString().ToLower()),
        IsExternalSupplier : @(Model.IsExternalSupplier.ToString().ToLower()),
        OntvangerBevestigingsEmailAdresIdentifier: '@(FlowFieldConstants.Name_OntvangerBevestigingsEmailAdres)',
        OntvangerBevestigingsEmailAdresPatientIdentifier: '@(FlowFieldConstants.Name_OntvangerBevestigingsEmailAdresPatient)',
        OntvangerBevestigingsEmailAdresTransferpuntIdentifier: '@(FlowFieldConstants.Name_OntvangerBevestigingsEmailAdresTransferpunt)',
        OrderItemsContainerRef: '#orderitems',
        OrderStatus: '@Model.OrderStatus',
        PatientAddress: parseJsonValue('@Html.Raw(Model.PatientAdres)'),
        PatientEmail : '@Model.PatientEmail',
        ShowBsnWarning : @(Model.ShowBsnWarning.ToString().ToLower()),
        ShowExternalSupplierWarning: @(Model.ShowExternalSupplierWarning.ToString().ToLower()),
        ShowQuestionWarning: @(Model.ShowQuestionWarning.ToString().ToLower()),
        ShowOrderStatusMessage: @(Model.ShowOrderStatusMessage.ToString().ToLower()),
        SupplierID: @(Model.SupplierID),
        SupplierNameMediPoint: '@(Model.SupplierNameMediPoint)',
        SupplierNamePoint : '@(Model.SupplierNamePoint)',
        SupplierNameVegro: '@(Model.SupplierNameVegro)',
        SupplierPhoneNumberMediPoint: '@(Model.SupplierPhoneNumberMediPoint)',
        SupplierPhoneNumberPoint : '@(Model.SupplierPhoneNumberPoint)',
        SupplierPhoneNumberVegro : '@(Model.SupplierPhoneNumberVegro)',
        TransferPuntEmail: '@Model.TransferPuntEmail'
    };

    function parseJsonValue(value) {
        if (value === '') {
            return '';
        }
        return jQuery.parseJSON(value);
    }

</script>

@Styles.Render("~/Content/EmailMulti.css")

@Scripts.Render("~/Bundles/Scripts/JQueryForm")
@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Hulpmiddelen")
@Scripts.Render("~/Bundles/Scripts/DropdownMultiSelect")
@Scripts.Render("~/Scripts/MVC/Shared/EmailMulti.js")

<script type="text/javascript">
    $.validator.setDefaults({ ignore: '.ignore *' });

    $(function () {

        if (@((!Model.IsCurrentOrderDone).ToString().ToLowerInvariant())) {

            $("#btnPlaceOrder").on("click",
                function() {
                    if ($(formID).valid()) {
                        $("#OrderStatus").val("@DashboardMenuItemViewBL.ORDER_PROCESSING");
                        $(".phaseButtonSave").click();
                    }
                });
        } else {
            $("#btnPlaceOrder").hide();
        }

        _dropdownMultiSel.init("@(Model.AfleverTijden.FieldName)");
    });

</script>

@using (var form = Html.BeginFlowForm("Hulpmiddelen", FormMethod.Post, new Dictionary<string, object> { { "id", "Hulpmiddelen" }, { "class", "form-horizontal" } }, labelSize: 4))
{
    <div id="formSpecificPhaseButtonsSource">
        @if (!Model.HideNewButtons && !Model.Global.IsClosed && Model.Global.FormSetVersionID > 0)
        {
            <a class="btn btn-default" href="@Url.Action("Hulpmiddelen", "FormType", new {Model.Global.TransferID, Model.Global.PhaseDefinitionID })">Maak nieuw exemplaar</a>
        }

        <div class="btn btn-primary" id="btnPlaceOrder">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Bestellen
        </div>

    </div>

    if (!Model.Global.IsPrintRequest)
    {
        using (var section1 = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
        {
            <div class="panel-body bg-lightblue">
                @if (Model.FormSetVersions.Any())
                {
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Kies bestelling</label>
                        <div class="col-xs-5">
                            <select id="FormsetVersion" class="form-control" onchange="_Hulpmiddelen.ChangeFormsetVersion(this);">
                                @foreach (var formsetversion in Model.FormSetVersions)
                                {
                                    <option value="@formsetversion.FormSetVersionID" data-url='@formsetversion.Url' @(formsetversion.IsSelected ? "selected" : "")>@formsetversion.Description</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="control-label col-xs-4 required">Naam</label>
                    <div class="col-xs-5">
                        <input type="text" name="FormsetVersionName" id="FormsetVersionName" class="form-control" @(Model.IsCurrentOrderDone ? "disabled" : "") required data-rule-required="true" data-msg-required="De naam van dit formulier is niet gevuld." value="@Model.CurrentFormSetversionDescription" onkeyup="_Hulpmiddelen.CheckFormSetName(this);" />
                    </div>
                    <input type="hidden" id="ValidFormSetName" name="ValidFormSetName" required data-rule-required="true" data-msg-required="De naam van dit formulier is niet uniek." value="true" />
                    @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OrderStatus)
                </div>
                <div class="form-group">
                    @form.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_SupplierID, overrideLabelSize: 4, hasInformationIcon: true)
                    <div class="col-xs-5">
                        @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_SupplierID, new { onclick = "_Hulpmiddelen.ChangeSupplier(this);" })
                    </div>
                </div>
            </div>
        }
    }

    <div class="@scroller" id="Scroller">
        <div class="panel panel-blue" data-section="Basisgegevens">
            <div class="panel-heading">
                Basisgegevens bestelling hulpmiddelen
            </div>
            <div class="panel-body bg-lightblue">
                @Html.Hidden("FormSetVersionID", Model.Global.FormSetVersionID)
                @Html.HiddenFor(m => m.ExternalSupplierInsurerCode)
                @Html.HiddenFor(m => m.PatientBSN)
                @Html.HiddenFor(m => m.UniqueFormKey)
                @Html.HiddenFor(m => m.AidProductIDs)
                @Html.Hidden("TransferID", Model.Global.TransferID)
                @Html.HiddenFor(m => m.QuestionsAnsweredAll)
                @Html.Hidden("SupplierID", Model.SupplierID, new {id="ModelSupplierID", name="SupplierID"})

                @*Deze dient alleen voor validatie*@
                <div id="QuestionsAnsweredGroup" style="display:none;">
                    @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_QuestionsAnswered)
                </div>
                <div style="display:none;">
                    @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_BestellerAfdeling)
                </div>
                @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerType, new { onclick = "_Hulpmiddelen.ChangeOntvangerType(this);" }, overrideObjLabelSize: new BootstrapSize(12, 12, 4), overrideObjControlSize: new BootstrapSize(12, 12, 4))
                <div class="form-group">
                    <div class="control-group">
                        <label class="control-label col-xs-12 col-lg-4 required">Straat / huisnummer / toev. / postcode / plaats</label>
                        <div class="col-xs-12 col-lg-8">
                            <div class="controls form-inline">
                                @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerStraat, new { style = "width:30%;", title = "Straatnaam", placeholder = "Straatnaam" })
                                @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerHuisnummer, new { style = "width:8%;", title = "Huisnummer", placeholder = "Huisnummer" })
                                @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerHuisnummerExtra, new { style = "width:4%;", title = "Toevoeging" })
                                @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerPostcode, new { style = "width:12%;", title = "Postcode", placeholder = "Postcode" })
                                @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerPlaats, new { style = "width:30%;", title = "Plaatsnaam", placeholder = "Plaats" })
                            </div>
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(m => m.PatientEmail)
                @Html.HiddenFor(m => m.TransferPuntEmail)
                @Html.HiddenFor(m => m.ConfirmationEmail)

                @{
                    var requireddatetime = Model.IsExternalSupplier ? "required" : "";
                }

                <div class="form-group">
                    <div class="control-group">
                        @form.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerBevestigingsEmailTarget, new { @class = "control-label col-xs-12 col-lg-4" })

                        <div class="col-xs-12 col-lg-8 supplier-medipoint">
                            <div class="form-group">
                                <div class="col-xs-6 col-lg-4">
                                    <div class="col-xs-4 col-lg-3 no-pad-left">Transferpunt</div>
                                    <div class="col-xs-8 col-lg-9">
                                        @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerBevestigingsEmailAdresTransferpunt, new { title = "BevestigingsEmail transferpunt", placeholder = "Email", data_target = "TRANSFERPUNT" })
                                    </div>
                                </div>
                                <div class="col-xs-6 col-lg-4">
                                    <div class="col-xs-4 col-lg-3 no-pad-left">Patiënt</div>
                                    <div class="col-xs-8 col-lg-9">
                                        @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerBevestigingsEmailAdresPatient, new { title = "BevestigingsEmail patient", placeholder = "Email", data_target = "PATIENT" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-8 supplier-vegro supplier-point">
                            <div class="form-group">
                                <div class="col-xs-6 col-lg-3" id="BevestigingsEmailTarget">
                                    <span id="emailChangedNotifier" data-toggle="tooltip" data-title="E-mailadres is handmatig aangepast. Leeg het vakje om default weer te geven">
                                        @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerBevestigingsEmailTarget, new {onclick = "_Hulpmiddelen.ChangeOntvangerEmail();"}, overrideControlSize: 12, overrideText: "")
                                    </span>
                                </div>
                                <div class="col-xs-7 col-md-4">
                                    @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_OntvangerBevestigingsEmailAdres, new { title = "BevestigingsEmail", placeholder = "Email", onchange = "SetOntvangerEmail();" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="form-group" id="afleverdatumgroup">
                    <div class="control-group">
                        <label class="control-label col-xs-12 col-lg-4 @requireddatetime">Gewenste aflever datum / tijd</label>
                        <div class="col-xs-12 col-lg-8">
                            <div class="form-group">

                                <div id="DateTimeRequirementsMetGroup" style="display: none;">

                                    @{ form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_DateTimeRequirementsMet); }

                                </div>

                                <div class="col-xs-5 col-lg-3">
                                    @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfleverDatum, new {data_minDate= minDate })
                                </div>

                                <div class="col-xs-7 col-lg-4 print-control supplier-medipoint">

                                    @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfleverTijdMediPoint)

                                </div>

                                <div class="col-xs-7 col-lg-4 print-control supplier-vegro supplier-point">

                                    @(Html.Partial("_DropdownMultiSelect", Model.AfleverTijden, Html.ViewData))

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="transporterinfo" style="margin-top: 15px; @(Model.IsExternalSupplier || Model.HastransportInfo ? " " : " display:none")">
                    <div class="form-group">
                        <div class="control-group">
                            <label class="control-label col-xs-4">Informatie voor transporteur</label>
                            <div class="col-xs-8">
                                <div class="controls form-inline supplier-medipoint">

                                    @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_MediPointTransportAddressRemark)

                                </div>

                                <div class="controls form-inline supplier-vegro supplier-point">

                                    <label class="control-label">Geduld&nbsp; @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_TransportGeduld)</label>
                                    &nbsp; <label class="control-label">Afleveren bij:</label>&nbsp; @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_TransportHuisnummer, new { style = "width:20%;margin-left:7px;" })
                                    &nbsp; <label class="control-label">Vooraf bellen:</label>&nbsp; @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_TransportBellenVanTeVoren, new { style = "width:20%;margin-left:7px;" })

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div id="transportcosts" style="margin-top:15px;@(Model.Global.FlowWebFields.HasValue(FlowFieldConstants.Name_TransportKosten) ? " " : " display:none;")">
                    @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_TransportKosten, overrideControlSize: 3)
                </div>

                <div id="RentalPatientConsent" style="margin-top:15px;@(Model.IsExternalSupplier && Model.OrderItems.Any() ? " " : " display:none")" class="supplier-vegro">
                    <div class="form-group">
                        <div class="control-group">
                            <label class="control-label col-xs-4 required">Patient geeft toestemming voor huurartikelen</label>
                            <div class="col-xs-8">
                                <div class="controls form-inline">
                                    @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatientHuurartikelen, new { onclick = "_Hulpmiddelen.CheckOrderStatus()" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="panel panel-blue" data-section="BestellingDetails">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <span class="btn btn-primary" id="questionlistbutton"
                              style="@(!Model.HasQuestionList ? "display:none" : "")"
                              data-transferid="@Model.Global.TransferID"
                              data-formsetversionid="@Model.Global.FormSetVersionID"
                              data-uniqueformkey="@Model.UniqueFormKey"
                              data-supplierinsurercode="@Model.ExternalSupplierInsurerCode"
                              data-readmode="@Model.IsCurrentOrderDone.ToString().ToLowerInvariant()"
                              data-supplierid="@(Model.SupplierID)"
                              onclick="_Hulpmiddelen.ShowQuestions(this)">
                            Vragenlijst
                        </span><span id="questionlistbuttonRequired" class="control-label required" style='@(Model.ShowQuestionWarning ? "" : "display:none;")'></span>
                    </div>
                    <div class="col-xs-12 col-lg-6 text-right">
                        @if (!Model.IsCurrentOrderDone)
                        {
                            <span class="btn btn-primary" data-supplierid="@(Model.SupplierID)" id="additem" onclick="addOrderItem(this)">Item toevoegen</span>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-body bg-lightblue">
                <div id="orderitems">
                    @foreach (var orderitemrow in Model.OrderItems)
                    {
                        @(Html.Partial("../AidProduct/_OrderedItem", orderitemrow, Html.ViewData))
                    }
                </div>

                <div id="hulpmiddelentoelichting" style="margin-top: 15px; @(!Model.IsExternalSupplier ? "" : "display:none")">
                    @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToelichtingHulpmiddelen, overrideLabelSize: 2, overrideControlSize: 9)
                </div>


            </div>
            @if (Model.Global.IsPrintRequest && Model.IsExternalSupplier)
            {
                <div class="panel-footer">
                    Bovenstaande hulpmiddelen zijn besteld bij:<br />
                    <br />
                    <span class="supplier-name">@(Model.CurrentSupplierName)</span> - Voor vragen over leverdatum/-tijd bel <span class="supplier-phonenumber">@(Model.CurrentSupplierPhoneNumber)</span>.
                </div>
            }
        </div>
    </div>
}

<div id="questionWarningModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Let op!</h4>
            </div>
            <div class="modal-body">
                Om deze bestelling te kunnen voltooien dienen alle vragen te zijn beantwoord in de vragenlijst
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#questionlistbutton').trigger('click')">Open vragenlijst</button>
            </div>
        </div>

    </div>
</div>

<div id="insurerExternalSupplierWarningMessage" hidden>
    De verzekeraar van deze patient wordt niet ondersteund.<br />
    Bel a.u.b. met <span class="supplier-name">@(Model.CurrentSupplierName)</span> als u wilt bestellen.<br />
    <br />
    Tel. <span class="supplier-phonenumber">@(Model.CurrentSupplierPhoneNumber)</span>
</div>

<div id="bsnWarningMessage" hidden>
    Bij deze patient is geen of een ongeldig BSN ingegeven.<br />
    Pas dit aan of bel a.u.b. met <span class="supplier-name">@(Model.CurrentSupplierName)</span> als u wilt bestellen.<br />
    <br />
    Tel. <span class="supplier-phonenumber">@(Model.CurrentSupplierPhoneNumber)</span>
</div>

<div id="processingOrderMessage" hidden>
    <div id="processingOrderInfo" class="processingOrder-messages">
        De bestelling is naar <span class="supplier-name">@(Model.CurrentSupplierName)</span> verzonden.<br />
        Wacht a.u.b. op een definitieve bevestiging hiervan.<br />
        De huidige status is: <span id="processingOrderStatus">@Model.OrderStatus</span>.
    </div>
    <div id="processingOrderNoResponse" class="processingOrder-messages" style="display:none;margin-top:15px;">
        Er is nog geen antwoord van <span class="supplier-name">@(Model.CurrentSupplierName)</span> ontvangen.<br />
        U kunt dit scherm sluiten en later de status nogmaals controleren.<br />
    </div>
    <div id="processingOrderSuccess" class="processingOrder-messages" style="display:none;">
        De bestelling is succesvol geplaatst.<br />
        U kunt dit scherm sluiten en verder gaan met het POINT-dossier.
    </div>
    <div id="processingOrderFailed" class="processingOrder-messages" style="display:none;">
        Het is niet gelukt om deze bestelling succesvol bij <span class="supplier-name">@(Model.CurrentSupplierName)</span> te plaatsen.<br />
        Bel a.u.b. met <span class="supplier-name">@(Model.CurrentSupplierName)</span> als u wilt bestellen.<br />
        <br />
        <span class="supplier-phonenumber">@(Model.CurrentSupplierPhoneNumber)</span>
    </div>
</div>

