﻿@using Point.MVC.WebApplication.Extensions;
@model FormTypeBaseViewModel


@{ 
    bool isprint = Model.Global.IsPrintRequest;
    var scroller = isprint ? "" : "pre-scrollable";
}

<script type="text/javascript">
    var formID = "#InvullenCVARegistratieZHForm";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';

</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/InvullenCVARegistratieZH")

<style type="text/css">
    .ignore {
        display: none;
    }
</style>

<div class="@scroller" id="Scroller">

    @using (var form = Html.BeginFlowFormResponsive("InvullenCVARegistratieZH", FormMethod.Post, new Dictionary<string, object> { { "id", "InvullenCVARegistratieZHForm" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 6)))
    {
        <div class="sectionContainer" id="DiagnoseSection">
            <section class="panel panel-blue" data-section="DiagnoseSection">
                <div class="panel-heading sectionTitle">Diagnose</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DICALand", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "Diagnose")
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "Behandelwijze")
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "PatientWordtOpgenomenDatum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "PatientWordtOpgenomenOpStrokeUnit")
           

                    <div class="ignore" id="PatientWordtOpgenomenOpStrokeUnitChildren">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "OverplaatsingNaarNormalCareDatum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    </div>  

                    @form.FormGroup(Model.Global.FlowWebFields, "DiagnoseEersteKlachtDatumBekend")
                    <div class="ignore" id="DiagnoseEersteKlachtDatumBekendJa">
                        <div class="form-group">
                            @form.FlowLabelResponsive(Model.Global.FlowWebFields, "DiagnoseEersteKlachtDatum", overrideLabelSize: new BootstrapSize(12, 5, 3))
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                @form.FlowControl(Model.Global.FlowWebFields, "DiagnoseEersteKlachtDatum")
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-2">
                                @form.FlowControl(Model.Global.FlowWebFields, "DiagnoseEersteKlachtTijd")
                            </div>
                       </div>
                    </div>

                    <div class="form-group">
                        @form.FlowLabelResponsive(Model.Global.FlowWebFields, "DiagnoseAankomstSEHDatum", overrideLabelSize: new BootstrapSize(12, 5, 3))
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            @form.FlowControl(Model.Global.FlowWebFields, "DiagnoseAankomstSEHDatum")
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            @form.FlowControl(Model.Global.FlowWebFields, "DiagnoseAankomstSEHTijd")
                        </div>
                    </div>

                    @form.FormGroup(Model.Global.FlowWebFields, "VerwezenUitAnderZiekenhuis")

                </div>
            </section>
        </div>

        using (var sectionAanvullendeKlinimetrie = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "data-section", "AanvullendeKlinimetrie" }, { "id", "aanvullendekinimetrie" } }))
        {
            <div class="panel-heading">Aanvullende Klinimetrie</div>
            <div class="panel-body bg-lightpurple">
                <div class="form-group">
                    <div class="col-xs-9 col-xs-push-3">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                <b>Datum</b><br />
                            </div>
                            <div class="col-xs-4 col-md-5">
                                <b>Resultaat</b><br />
                            </div>
                            <div class="col-xs-4 col-md-5">
                                <b>Resultaat 2 weken voor opname (indien bekend)</b><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Barthel index</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "BarthelIndexDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "BarthelIndexResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "BarthelIndexVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">DOS</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "DOSDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "DOSResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "DOSVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">FAC</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "FACDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "FACResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "FACVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Katz-ADL</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "KatzADLDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "KatzADLResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "KatzADLVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Snaq</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SnaqDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SnaqResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SnaqVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">WOLC</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WOLCDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WOLCResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WOLCVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">PRPP</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "PRPPDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "PRPPResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "PRPPVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Watersliktest</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WatersliktestDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WatersliktestResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "WatersliktestVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">SAN</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SANDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SANResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "SANVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">MI</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MIDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MIResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MIVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">MMSE</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MMSEDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MMSEResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MMSEVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">MOCA</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MOCADatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MOCAResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MOCAVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">MRC</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MRCDatum")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MRCResultaat")
                            </div>
                            <div class="col-xs-4 col-md-5">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "MRCVoorOpname")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Anders</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 col-md-5 col-xs-push-4 col-md-push-2">
                                @sectionAanvullendeKlinimetrie.FlowControl(Model.Global.FlowWebFields, "AndersSoortMeting")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="sectionContainer" id="VerrichtingSection">
            <section class="panel panel-blue" data-section="VerrichtingSection">
                <div class="panel-heading sectionTitle">Verrichting</div>
                <div class="panel-body bg-lightblue">
                    <div class="ignore" id="VerrichtingBijDiagnoseOnbloedig">
                        @form.FormGroup(Model.Global.FlowWebFields, "InZHIntraveneusGetrombolyseerd")
                        <div class="ignore" id="IntraveneusGetrombolyseerdNee">
                            <div class="form-group">
                                <label class="col-xs-6 col-sm-5 col-md-3">Reden waarom trombolyse niet is uitgevoerd</label>
                                <div class="col-xs-6 col-sm-7 col-md-9">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdGeringeUitval")
                                    @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdVerbetering")
                                    @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdTeHogeBloeddruk")
                                    @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdAntistolling")
                                    @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdTeLaatGekomen")
                                    @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdTijdstipCVAOnbekend")
                                    @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdAnders")
                                    <div class="ignore" id="RedenTrombolyseNietUitgevoerdAndersChildren">
                                        @form.FlowControl(Model.Global.FlowWebFields, "RedenTrombolyseNietUitgevoerdNamelijk")
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>

                        <div class="ignore" id="IntraveneusGetrombolyseerdJa">
                            <div class="form-group">
                                @form.FlowLabelResponsive(Model.Global.FlowWebFields, "TrombolyseIntraveneusDatum", overrideLabelSize: new BootstrapSize(12, 5, 3))
                                <div class="col-xs-6 col-sm-4 col-md-3">
                                    @form.FlowControl(Model.Global.FlowWebFields, "TrombolyseIntraveneusDatum")
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2">
                                    @form.FlowControl(Model.Global.FlowWebFields, "TrombolyseIntraveneusTijd")
                                </div>
                            </div>
                            @form.FormGroup(Model.Global.FlowWebFields, "VertragingIntraveneuzeTrombolyse")
                            @form.FormGroup(Model.Global.FlowWebFields, "RedenTrombolyseVerlaatUitgevoerd")
                            <br />
                        </div>

                        @form.FormGroup(Model.Global.FlowWebFields, "InZHIntraArterieelBehandeld")

                        <div class="ignore" id="ArterieelBehandeldJa">
                            <div class="form-group">
                                @form.FlowLabelResponsive(Model.Global.FlowWebFields, "TrombolyseArterieelDatum", overrideLabelSize: new BootstrapSize(12, 5, 3))
                                <div class="col-xs-6 col-sm-4 col-md-3">
                                    @form.FlowControl(Model.Global.FlowWebFields, "TrombolyseArterieelDatum")
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2">
                                    @form.FlowControl(Model.Global.FlowWebFields, "TrombolyseArterieelTijd")
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="ignore" id="VerrichtingBijDiagnoseTIA">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "AanmeldingTIADiagnostiekDatum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "StartTIADiagnostiekDatum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                        <br />
                    </div>

                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "BarthelIndexOpDagVierOfEerder", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "BarthelscoreVoorHetCVA", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieNIHSSBijOpname", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "ModifiedRankingScaleOpDatumOntstaanNeurologischeUitval", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroup(Model.Global.FlowWebFields, "MobilisatieBinnen24Uur")
                    @form.FormGroup(Model.Global.FlowWebFields, "SlikscreeningUitgevoerdDirectNaOpname")
                    @form.FormGroup(Model.Global.FlowWebFields, "IO2SaturatieGedurendeSlikscreening")
                    @form.FormGroup(Model.Global.FlowWebFields, "BeloopOpname")
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "PatientOntslagenDatum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieNIHSSBijOntslag", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "BarthelscoreBijOntslag", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                </div>
            </section>
        </div>
    }
</div>