﻿@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model InvullenCVARegistratie3MndViewModel

@{
    bool isPrint = Model.Global.IsPrintRequest;
    var reopenUrl = Url.Action("Reopen", "Frequency", new { Model.FrequencyID, Model.Global.TransferID, Model.Global.PhaseInstanceID, Model.Global.FormSetVersionID });
}

<script type="text/javascript">
    var formID = "#InvullenCVARegistratie3mnd";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/InvullenCVARegistratie3mnd")

@if (!isPrint)
{
    <style type="text/css">
        .ignore {
            display: none;
        }
    </style>
}


<div id="formSpecificPhaseButtonsSource">
    @if (Model.ShowReopenButton)
    {
        <div class="btn btn-primary" onclick="reopendoorlopenddossier(this);" data-url="@reopenUrl">Heropenen Doorlopend Dossier</div>
    }
</div>

<div id="Scroller" class="pre-scrollable">
    @using (var form = Html.BeginFlowFormResponsive("InvullenCVARegistratie3mnd", FormMethod.Post, new Dictionary<string, object> { { "id", "InvullenCVARegistratie3mnd" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 6)))
    {
        <div class="sectionContainer">
            @if (isPrint)
            {
                <section class="panel panel-blue" data-section="SituatieClient">
                    <div class="panel-heading sectionTitle">Persoonsgegevens</div>
                    <div class="panel-body bg-lightblue">
                        @{Html.RenderAction("ViewVO", "Client", new { Model.ClientID });}
                    </div>
                </section>
            }
            <section class="panel panel-blue">
                <div class="panel-body bg-lightblue">
                    @if (isPrint)
                    {
                        <label><b>CVA registratie</b></label>
                    }
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "FollowUpDatum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroup(Model.Global.FlowWebFields, "FollowUpNietGedaan")
                    @form.FormGroup(Model.Global.FlowWebFields, "ModifiedRankingScale")
                    @form.FormGroup(Model.Global.FlowWebFields, "VerblijfplaatsNa3mnd")
                    <div class="ignore" id="OntslagenNaarAnderZiekenhuis">
                        @form.FormGroup(Model.Global.FlowWebFields, "VerblijfplaatsNa3mndNaamZH")
                    </div>
                    <div class="ignore" id="OntslagenNaarAnders">
                        @form.FormGroup(Model.Global.FlowWebFields, "VerblijfplaatsNa3mndAnders", overrideText: "")
                    </div>

                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "VerblijfplaatsNa3mndPostcode", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DatumVanOverlijdenNa3mnd", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                </div>
            </section>
        </div>
    }

    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <label><b>Communicatiejournaal ZH en VVT</b></label>
            <div class="CommunicatieContainer">
                @{
                    Html.RenderAction("ListFromFrequency", "TransferMemo", new
                    {
                        Model.Global.TransferID,
                        Target = TransferMemoTypeID.FrequencyCVA,
                        FrequencyType = FrequencyType.CVA,
                        readOnly = Model.FrequencyStatus == FrequencyStatus.Done
                    });
                }
            </div>
        </div>
    </div>
    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <label><b>Bijlagen</b></label>
            <div class="AttachmentContainer">
                @{
                    Html.RenderAction("List", "TransferAttachment", new
                    {
                        Model.Global.TransferID,
                        AttachmentSource = AttachmentSource.FrequencyCVA,
                        FrequencyType = FrequencyType.CVA,
                        AsPartial = true,
                        readOnly = Model.FrequencyStatus == FrequencyStatus.Done
                    });
                }
            </div>
        </div>
    </div>
</div>