﻿@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model FormTypeBaseViewModel


<script type="text/javascript">
    var formID = "#InvullenCVARegistratieVVT";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/InvullenCVARegistratieVVT")

<style type="text/css">
    .ignore {
        display: none;
    }
</style>

@using (var form = Html.BeginFlowFormResponsive("InvullenCVARegistratieVVT", FormMethod.Post, new Dictionary<string, object> { { "id", "InvullenCVARegistratieVVT" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 6)))
{
    <div class="sectionContainer" id="DiagnoseSection">
        <section class="panel panel-blue" data-section="DiagnoseSection">
            <div class="panel-body bg-lightblue">
                @form.FormGroupResponsive(Model.Global.FlowWebFields, "DatumOpnameRevalidatieCentrum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                @form.FormGroupResponsive(Model.Global.FlowWebFields, "BarthelIndexBijOpnameVVT", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                @form.FormGroupResponsive(Model.Global.FlowWebFields, "BeloopOpnameVVT")
                @form.FormGroupResponsive(Model.Global.FlowWebFields, "PatientOntslagenOverledenDatumVVT", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                @form.FormGroupResponsive(Model.Global.FlowWebFields, "BarthelIndexBijOntslagVVT", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                @form.FormGroupResponsive(Model.Global.FlowWebFields, "PatientOntslagenVVTNaar")
                <div class="ignore form-group" id="OntslagenNaarVVT">
                    @form.FlowLabel(Model.Global.FlowWebFields, "PatientOntslagenVVTNaarVVT")
                    <div class="col-xs-6 col-sm-7 col-md-6">
                        @form.FlowControl(Model.Global.FlowWebFields, "PatientOntslagenVVTNaarVVT", new { style = "background-color: white;" },
                        inputGroupProperties: new InputGroupProperties("glyphicon-search",
                        "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { Model.Global.TransferID, Model.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutHealthcareProvider);",
                        InputGroupProperties.InputGroupPosition.Right,
                        bindajaxalsooncontrol: true))
                    </div>
                </div>

                <div class="ignore" id="OntslagenNaarAnderZiekenhuis">
                    @form.FormGroup(Model.Global.FlowWebFields, "PatientOntslagenVVTNaarNaamZH")
                </div>

                <div class="ignore form-group" id="OntslagenNaarAnders">
                    <label class="col-xs-3"></label>
                    <div class="col-xs-4">
                        @form.FlowControl(Model.Global.FlowWebFields, "PatientOntslagenVVTNaarAnders")
                    </div>
                </div>
                @form.FormGroup(Model.Global.FlowWebFields, "ZorginstellingPatientNaarVerwezen")
            </div>
        </section>
    </div>

    <div class="sectionContainer destination" id="othervvt" style="display:none;">
        <section class="panel panel-blue">
            <div class="panel-body bg-lightblue">
                <div class="form-group">
                    @form.FlowLabel(Model.Global.FlowWebFields, "PatientOntslagenVVTNaarVVT")
                    <div class="col-xs-6 col-sm-7 col-md-6">
                        @form.FlowControl(Model.Global.FlowWebFields, "PatientOntslagenVVTNaarVVT",
                            new { style = "background-color: white;" },
                            inputGroupProperties: new InputGroupProperties(
                            "glyphicon-search",
                            "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new {Model.Global.TransferID, Model.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutHealthcareProvider);",
                            InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))
                    </div>
                </div>
            </div>
        </section>

    </div>
}
