﻿@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.Infrastructure.Helpers;
@using Point.MVC.WebApplication.Extensions;

@model MoveToDepartmentViewModel

<script type="text/javascript">
    var formID = "#MoveToDepartment";
    var formRequestUrl = '@Html.Raw(Url.Action("MoveToDepartment", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseInstanceID, Model.Global.PhaseDefinitionID }))';
    var sendToOtherUrl = '@Html.Raw(Url.Action("MoveToDepartment", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseInstanceID, Model.Global.PhaseDefinitionID }))';
    var prefill = @Model.Prefill.ToString().ToLower();
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/MoveToDepartment")

<section class="panel panel-blue">
    <div class="panel-body bg-lightblue">
        @using (var form = Html.BeginFlowFormResponsive("MoveToDepartment", FormMethod.Post, new Dictionary<string, object> { { "id", "MoveToDepartment" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 6)))
        {
            <div class="form-group">
                @form.FlowLabel(Model.Global.FlowWebFields, "DestinationHospitalDepartment")
                <div class="col-xs-6 col-sm-7 col-md-6">
                    @form.FlowControl(Model.Global.FlowWebFields, "DestinationHospitalDepartment", new { style = "background-color: white;" },
                            inputGroupProperties: new InputGroupProperties("glyphicon-search",
                            "SearchOrganization(this, '" + Url.Action("DepartmentSearch", "OrganizationSearch",
                                new
                                {
                                    Model.Global.TransferID,
                                    OrganizationTypeID = (int)OrganizationTypeID.Hospital,
                                    Model.Global.FlowInstance?.FlowDefinitionID,
                                    ShowOnLoad = true,
                                    ShowRegionTab = false,
                                    ShowPostalCodeTab = false,
                                    ShowPostalCodeRangeTab = false,
                                    LocationIDs = Model.CurrentLocationID,
                                    SearchType = "AllRegions",
                                    MinLength = 0,
                                    ShowAll = true
                                }) + "' , PutDepartment);",
                            InputGroupProperties.InputGroupPosition.Right, true))

                    <input type="hidden" id="PreviousDestinationHospitalDepartment" value="@form.FlowValue(Model.Global.FlowWebFields, "DestinationHospitalDepartment")" />
                </div>
                <div id="SendToOther" class="btn btn-primary" style="display: none;">Verstuur naar andere afdeling</div>
            </div>
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "DestinationHospitalDepartmentComments", overrideObjControlSize: new BootstrapSize(12, 7, 6))
        }
    </div>
</section>

<div id="dialogConfirmSendToOther" class="modal fade" role="dialog" aria-hidden="true" title="Verstuur naar andere afdeling">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <b>Weet u het zeker?</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnSendToOther">Akkoord</button>
            </div>
        </div>
    </div>
</div>
