﻿@using Point.Database.Models;
@using Point.Infrastructure.Constants
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model MsvtViewModel

@{
    var frequencyurl = Model.FrequencyUrl ?? "";
    bool isPrint = Model.Global.IsPrintRequest;
    var scroller = isPrint ? "" : "pre-scrollable";
    var collapsable = isPrint ? "" : "collapse";
    var prefilledname = "";
    bool isReadonly = Model.Global.IsReadMode;
    var readModeString = isReadonly ? "readonly disabled" : "";
}

<script type="text/javascript">
    var formID = "#MsvtIND";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var vvtDepartmentID = parseInt('@Model.VVTDepartmentID', 10);
    var vvtDepartmentIDMSVT = parseInt('@Model.VVTDepartmentIDMSVT', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getDoctorByID = '@Html.Raw(Url.Action("GetDoctorByID", "LookUp"))';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var newrequesturl = '@Html.Raw(Model.Global.NewFormRequestUrl)';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/MsvtIND")

<style type="text/css">
    .signature {
        width: 156px;
        height: 64px;
        vertical-align: top;
    }
    .signature-item {
        height: 100%;
        vertical-align: top;
        margin-right: 5px;
        display: inline-block;
    }

    #MsvtIND .msvt-item-row {
        margin-bottom: 5px;
        height: 26px;
    }

    #MsvtIND .uitklapcontainer {
        background-color: white;
        padding: 5px 0 10px 16px;
    }

    #MsvtIND .msvt-item {
        height: 100%;
        vertical-align: top;
        margin-right: 5px;
        display: inline-block;
    }

        #MsvtIND .msvt-item.form-group {
            margin: 0;
        }

        #MsvtIND .msvt-item .radio-inline {
            margin-left: 3px;
        }

    #MsvtIND .fix-position {
        position: relative;
        top: 4px;
    }
</style>



@if (isPrint)
{
    <style type="text/css">
    </style>

    <div class="row">
        <div class="col-xs-3">Organisatie / Locatie / AGB</div>
        <div class="col-xs-9">@Model.SendingOrganization</div>
    </div>
}
else
{
    <style type="text/css">
        #Scroller {
            padding-right: 15px;
        }
    </style>
}

<div id="formSpecificPhaseButtonsSource">
    @if (!Model.HideNewButtons && !Model.Global.IsClosed && Model.Global.FormSetVersionID > 0)
    {
        <div class="btn btn-default btn-default" id="nieuwexemplaar" data-url="@Model.Global.NewFormRequestUrl">Maak nieuw exemplaar</div>

        <div class="btn btn-primary" id="btnRenew" data-renew="true">Verlengen / wijzigen</div>
    }
    @if (!Model.HideNewButtons && Model.Global.FormSetVersionID > 0 && !string.IsNullOrWhiteSpace(frequencyurl))
    {
        <div class="btn btn-primary" id="btnFrequency" data-url="@frequencyurl">Doorlopend dossier</div>
    }
</div>

@using (var form = Html.BeginFlowFormResponsive("MsvtIND", FormMethod.Post, new Dictionary<string, object>() { { "id", "MsvtIND" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6,6,3), controlSize: new BootstrapSize(6, 6, 6)))
{

    <div class="row" style="margin-bottom:10px">
        <div class="col-xs-12">
            <div class="pull-left">

            </div>
            <div class="pull-right">
                <a class="btn btn-blue" href="#patientgegevens">Patient gegevens</a>
                <a class="btn btn-azure" href="#indicatie">Indicatie</a>
                <a class="btn btn-purplegray" href="#geldigheidsduur">Geldigheidsduur</a>
                <a class="btn btn-primary" href="#identificatie">Identificatie</a>
            </div>
        </div>
    </div>
    <div class="@scroller" id="Scroller">
        @if (!isPrint)
        {
            using (var section1 = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    @if (Model.FormSetVersions.Count() > 0)
                        {
                        <div class="form-group" style="@(isPrint ? "display:none" : "")">
                            <label class="col-xs-6 col-sm-6 col-md-3 control-label">Kies indicatiestelling</label>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <select id="IndicatieVersion" class="form-control">
                                    @{
                                        var i = 1;
                                        foreach (var formsetversion in Model.FormSetVersions)
                                        {
                                            if (formsetversion.Description == null)
                                            {
                                                formsetversion.Description = "MSVT indicatie " + i;
                                            }

                                            var url = Url.Action("MsvtIND", "FormType", new {Model.Global.TransferID, Model.Global.PhaseDefinitionID, formsetversion.PhaseInstanceID, formsetversion.FormSetVersionID });
                                            string selected = Model.Global.FormSetVersionID == formsetversion.FormSetVersionID ? "selected" : "";

                                            if (Model.Global.FormSetVersionID == formsetversion.FormSetVersionID)
                                            {
                                                prefilledname = formsetversion.Description;
                                            }

                                            string definitive = "";
                                            if (formsetversion.PhaseInstance.Status == (int)Status.Done)
                                            {
                                                definitive = " (definitief)";
                                            }
                                            <option value="@formsetversion.FormSetVersionID" data-url="@url" @selected>@formsetversion.Description@definitive</option>
                                            i++;
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                                        }
                    <div class="form-group">
                        <label class="col-xs-6 col-sm-6 col-md-3 control-label required">Naam</label>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            @if (prefilledname == "" && !Model.Global.IsReadMode)
                            {
                                prefilledname = "MSVT indicatie " + (Model.FormSetVersions.Count() + 1);
                            }
                            <input type="text" name="indname" id="indname" class="form-control" @(Model.Global.IsReadMode ? "disabled" : "") required data-rule-required="true" data-msg-required="De naam van dit formulier is niet gevuld." value="@prefilledname" onkeyup="CheckFormSetName(this);" />
                            <input type="hidden" id="ValidFormSetName" name="ValidFormSetName" required data-rule-required="true" data-msg-required="De naam van dit formulier is niet uniek." value="true" />
                        </div>
                    </div>
                </div>
            }
        }

        @using (var sectionPatientGegevens = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" }, { "id", "patientgegevens" } }))
        {
            <div class="panel-heading">Patient gegevens</div>
                <div class="panel-body bg-lightblue">
                    @{Html.RenderAction("ViewBasic", "Client", new {Model.ClientID });}

                    @sectionPatientGegevens.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @sectionPatientGegevens.FormGroupResponsive(Model.Global.FlowWebFields, "DatumEerstVolgendPolibezoek", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @sectionPatientGegevens.FormGroupResponsive(Model.Global.FlowWebFields, "ExtraInfo2eSpecialist", overrideObjControlSize: new BootstrapSize(12, 6, 6))
                </div>
        }

        @using (var sectionIndactie = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-azure" }, { "id", "indicatie" } }))
        {
            <div class="panel-heading">
                Indicatie
            </div>
            <div class="panel-body bg-lightblue" id="indicatieactions">
                @{
                    int TreatmentGroupNum = 0;
                }
                <ul class="nav nav-pills nav-stacked pt-nav-colors">
                    @foreach (var itemgroup in Model.TreatmentItems.GroupBy(it => it.GroupName))
                    {
                        var groupname = String.Format("group{0}", TreatmentGroupNum);
                        <li class="sub-section">
                            <a data-toggle="collapse" href="#@groupname" aria-expanded="false" aria-controls="@groupname">@itemgroup.Key</a>
                            <div class="@collapsable uitklapcontainer" id="@groupname">
                                @foreach (var item in itemgroup)
                                {
                                    <div>
                                        <div class="msvt-item-row form-group" @(item.HasHistory ? "data-hashistory=true data-formsetversionid=" + item.FormsetVersionID : "")>
                                            <div class="msvt-item @(ViewFunctionalClasses.NoFilter) form-group partly-required">
                                                <input type="text" id="@item.FrequencyName" name="@item.FrequencyName" @readModeString size="2" class="form-control frequency" value="@item.Frequency" data-label="Frequentie" />
                                            </div>
                                            <div class="msvt-item">
                                                <label class="fix-position">x per</label>
                                            </div>
                                            <div class="msvt-item @(ViewFunctionalClasses.NoFilter) form-group partly-required">
                                                <label class="radio radio-inline"><input class="freqencyunit" @readModeString data-label="Dag, Week of Maand" type="radio" @(item.FrequencyUnit == MsvtTreatmentItemViewModel.DayWeekMonth.Day ? "checked" : "") value="@((int)MsvtTreatmentItemViewModel.DayWeekMonth.Day)" name="@item.FrequencyUnitName" />Dag</label>
                                                <label class="radio radio-inline"><input class="freqencyunit" @readModeString data-label="Dag, Week of Maand" type="radio" @(item.FrequencyUnit == MsvtTreatmentItemViewModel.DayWeekMonth.Week ? "checked" : "") value="@((int)MsvtTreatmentItemViewModel.DayWeekMonth.Week)" name="@item.FrequencyUnitName" />Week</label>
                                                <label class="radio radio-inline"><input class="freqencyunit" @readModeString data-label="Dag, Week of Maand" type="radio" @(item.FrequencyUnit == MsvtTreatmentItemViewModel.DayWeekMonth.Month ? "checked" : "") value="@((int)MsvtTreatmentItemViewModel.DayWeekMonth.Month)" name="@item.FrequencyUnitName" />Maand</label>
                                            </div>
                                            <div class="msvt-item @(ViewFunctionalClasses.NoFilter) form-group resizetomax @(item.IsCustomAction ? "partly-required" : "")" style="max-width:550px;">
                                                @if (!item.IsCustomAction)
                                                {
                                                    <label style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" title="@item.Action" class="fix-position">@item.Action</label>
                                                }
                                                else
                                                {
                                                    <input type="text" name="@item.DefinitionName" @readModeString size="50" class="form-control" value="@item.Definition" data-label="Handeling" />
                                                }
                                            </div>


                                            <div class="msvt-item @(ViewFunctionalClasses.NoFilter) form-group pull-right">
                                                <input type="text" class="expectedtime" @readModeString name="@item.ExpectedTimeName" size="3" data-averagenormtime="@item.AverageNormTime" value="@item.ExpectedTime" />
                                                <span class="btn glyphicon glyphicon-remove" style="color:indianred;" onclick="ClearMsvtItemRow(this);"></span>
                                            </div>
                                            <div class="msvt-item pull-right">
                                                <label class="fix-position">@item.NormTime</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            @{TreatmentGroupNum++;}
                        </li>
                    }
                </ul>
                <br />
                @sectionIndactie.FormGroupResponsive(Model.Global.FlowWebFields, "RedenAfwijkendeTijd", overrideObjControlSize: new BootstrapSize(12, 6, 6))
            </div>
        }

        @using (var sectionMedicatie = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "id", "geldigheidsduur" } }))
        {
            <div class="panel-heading">
                Geldigheidsduur
            </div>
                <div class="panel-body bg-lightpurple">
                    <div class="form-group">
                        <label class="control-label col-xs-6 col-sm-6 col-md-3 required">Start/einddatum</label>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="row">
                                <div class="col-xs-6">@sectionMedicatie.FlowControl(Model.Global.FlowWebFields, "GeldigheidsDuurStartdatum")</div>
                                <div class="col-xs-6">@sectionMedicatie.FlowControl(Model.Global.FlowWebFields, "GeldigheidsDuurEinddatum")</div>
                            </div>
                        </div>
                    </div>
                    @sectionMedicatie.FormGroupResponsive(Model.Global.FlowWebFields, "GeldigheidsDuurToelichting", overrideObjControlSize: new BootstrapSize(12, 6, 6))
                    @sectionMedicatie.FormGroupResponsive(Model.Global.FlowWebFields, "IndicatieBenodigdeTijd", overrideObjControlSize: new BootstrapSize(6, 3, 3))
                </div>
        }

        @using (var sectionIdentificatie = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-primary" }, { "id", "identificatie" } }))
        {
            <div class="panel-heading">
                Identificatie en accordering
            </div>
                <div class="panel-body bg-lightblue">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            @if (!isPrint)
                            {@sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelendArtsID", overrideLabelSize: 6, overrideControlSize: 6)}
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarAGB", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarBIG", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarSpecialisme", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarTelefoonPieper", overrideLabelSize: 6, overrideControlSize: 6)
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                @sectionIdentificatie.FlowLabel(Model.Global.FlowWebFields, "MSVTLeverendeOrganisatie", overrideLabelSize: 6)
                                <div class="col-xs-6">
                                    @sectionIdentificatie.FlowControl(Model.Global.FlowWebFields, "MSVTLeverendeOrganisatie", new { style = "background-color: white;" },
                                    inputGroupProperties: new InputGroupProperties(
                                        "glyphicon-search",
                                        "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { transferid = Model.Global.TransferID, Model.Global.FlowInstance.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutOrganisation);",
                                        InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true
                                    )
                                )
                                </div>
                            </div>

                            <div id="leverendemedewerkerdetails" style='@(!Model.ShowLeverendeMedewerker ? "display:none;" : "")'>
                                @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerker", overrideLabelSize: 6, overrideControlSize: 6)
                                @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerBIG", overrideLabelSize: 6, overrideControlSize: 6)
                                @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerTelefoon", overrideLabelSize: 6, overrideControlSize: 6)
                                @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerEmail", overrideLabelSize: 6, overrideControlSize: 6)
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>

    if (isPrint)
    {
        <section class="panel panel-primary ignore-printfilter" id="identificatie" style="page-break-inside: avoid;">
            <div class="panel-heading">Verklaring verantwoordelijkheid medische behandeling en opdracht</div>
            <div class="panel-body bg-lightblue">
                <div class="col-xs-12">
                    <div class="row form-group">
                        <label class="control-label">Hieronder genoemde arts /medisch specialist verklaart verantwoordelijk te zijn voor de medische behandeling van de patiënt in de thuissituatie.</label>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="signature-item" style="width:400px;">
                            <label class="control-label">@Model.GenoemdeArtsMedischSpecialist</label>
                        </div>
                        <div class="signature-item" style="width:400px;">
                            <label class="control-label">O Of in opdracht van bovengenoemde arts door:</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="signature-item" style="width:400px;">
                        </div>
                        <div class="signature-item" style="width:400px;">
                            @if (Model.HasSignedPhaseInstance)
                            {
                                <label class="control-label">Naam: @Model.SignedByEmployeeName</label>
                            }
                            else
                            {
                                <label class="control-label">Naam: @Model.LoggedInEmployeeName</label>
                            }
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="signature-item" style="width:400px;">
                        </div>
                        <div class="signature-item" style="width:400px;">
                            @if (Model.HasSignedPhaseInstance)
                            {
                                <label class="control-label">Functie: @Model.SignedByEmployeeFunction</label>
                            }
                            else
                            {
                                <label class="control-label">Functie: @Model.LoggedInEmployeeFunction</label>
                            }
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="signature-item" style="width:400px;">
                            <label class="control-label">Datum: ...............................................</label>
                        </div>
                        <div class="signature-item" style="width:400px;">
                        @if (Model.HasSignedPhaseInstance)
                        {
                            <label class="control-label">Datum: @Model.SignedPhaseInstanceDate</label>
                        }
                        else
                        {
                            <label class="control-label">Datum: .............................................</label>
                        }
                        </div>
                    </div>

                    <br />
                    <div class="row form-group">
                        <div class="signature-item" style="width:400px;">
                            <label class="control-label">Handtekening: ..................................</label>
                        </div>
                        <div class="signature-item" style="width:400px;">
                            @if (Model.HasSignedPhaseInstance)
                            {
                                <label class="control-label">Handtekening: <img class="signature" src='@Html.Action("GetSignedPhaseInstanceImageAsBase64", "DigitalSignature", new { Model.SignedPhaseInstancePhaseInstanceID })' />
                                </label>
                            }
                            else
                            {
                                <label class="control-label">Handtekening: ..................................</label>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </section>
        }
    }
