﻿@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model FrequencyViewModel

@{
    var isPrint = Model.Global.IsPrintRequest;
    var indicatiestellingformname = Model.IndicatiestellingFormName ?? "";
    var indicatiestellingurl = Model.IndicatiestellingURL ?? "";
    var reopenurl = Url.Action("Reopen", "Frequency", new { Model.FrequencyID, Model.Global.TransferID, Model.Global.PhaseInstanceID, Model.Global.FormSetVersionID });

    var data_disabled = "";
    if (Model.Global.IsReadMode)
    {
        data_disabled = "disabled";
    }

    var toelichting = @"Geef hier de interval van terugkoppeling in dagen in. Bijv.: 14 als eens in de 2 weken terugkoppeling gewenst is. Het thuiszorgteam krijgt dan elke 14 dagen na startdatum een e - mail met verzoek tot invoer terugkoppeling.";
}

<script type="text/javascript">
    var formID = "#MsvtINDFrequency";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/MsvtINDFrequency")

<div id="formSpecificPhaseButtonsSource">
    @if (!string.IsNullOrWhiteSpace(indicatiestellingurl))
    {
        <div class="btn btn-primary" id="btnIndicatiestelling" data-url="@indicatiestellingurl">@indicatiestellingformname</div>
    }
    @if (Model.ShowReopenButton)
    {
        <div class="btn btn-primary" onclick="reopendoorlopenddossier(this);" data-url="@reopenurl">Heropenen Doorlopend Dossier</div>
    }
</div>

@using (var form = Html.BeginFlowFormResponsive("MsvtINDFrequency", FormMethod.Post, new Dictionary<string, object> { { "id", "MsvtINDFrequency" }, { "class", "form-horizontal" }, { "data-disabled", data_disabled } }, labelSize: new BootstrapSize(6, 5, 4), controlSize: new BootstrapSize(6, 7, 6)))
{
    if (isPrint)
    {
        <section class="panel panel-blue" data-section="SituatieClient">
            <div class="panel-heading sectionTitle">Persoonsgegevens</div>
            <div class="panel-body bg-lightblue">
                @{Html.RenderAction("ViewVO", "Client", new {Model.ClientID });}
            </div>
        </section>
    }

    <div class="panel panel-blue">
        @Html.HiddenFor(m => m.FrequencyID)
        @Html.HiddenFor(m => m.Status)
        @Html.HiddenFor(m => m.Type)
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                <div class="col-xs-6 col-sm-7 col-md-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "flowfield form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                        <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                        <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @if (!isPrint)
                {
                    <span style="cursor:pointer;" data-toggle="clickover" data-title="" data-content="@toelichting"><span class="glyphicon glyphicon-info-sign"></span></span>
                }

                @Html.LabelFor(m => m.Quantity, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
                <div class="col-xs-5 col-sm-4 col-md-3">
                    @{ string sValue = Model == null || Model.Quantity <= 0 ? "" : Model.Quantity.ToString(); }
                    @Html.TextBoxFor(m => m.Quantity, new { @class = "flowfield form-control", @Value = sValue })
                </div>
            </div>
        </div>
    </div>
                                        }

@if (Model.Global.FormSetVersionID > 0)
{
    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <label><b>Communicatiejournaal ZH en VVT</b></label>
            <div class="CommunicatieContainer">
                @{
                    Html.RenderAction("ListFromFrequency", "TransferMemo", new
                    {
                        Model.Global.TransferID,
                        Target = TransferMemoTypeID.FrequencyMSVT,
                        FrequencyType = FrequencyType.MSVT,
                        readOnly = Model.Status == FrequencyStatus.Done
                    });
                }
            </div>
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <label><b>Bijlagen</b></label>
            <div class="AttachmentContainer">
                @{
                    Html.RenderAction("List", "TransferAttachment", new
                    {
                        Model.Global.TransferID,
                        AttachmentSource = AttachmentSource.FrequencyMSVT,
                        FrequencyType = FrequencyType.MSVT,
                        AsPartial = true,
                        readOnly = Model.Status == FrequencyStatus.Done
                    });
                }
            </div>
        </div>
    </div>
}