﻿@using Point.Database.Models;
@using Point.Infrastructure.Constants
@using Point.Models.Enums;
@using Point.Infrastructure.Helpers;
@using Point.MVC.WebApplication.Extensions;
@model MsvtViewModel

@{
    bool isPrint = Model.Global.IsPrintRequest;
    var scroller = isPrint ? "" : "pre-scrollable";
    var collapsable = isPrint ? "" : "collapse";      
    var prefilledname = "";
    var readmodestring = Model.Global.IsReadMode ? "readonly disabled" : "";   
}

<script type="text/javascript">
    var formID = "#MsvtUVV";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var vvtDepartmentID = parseInt('@Model.VVTDepartmentID', 10);
    var vvtDepartmentIDMSVT = parseInt('@Model.VVTDepartmentIDMSVT', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getDoctorByID = '@Html.Raw(Url.Action("GetDoctorByID", "LookUp"))';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var newrequesturl = '@Html.Raw(Model.Global.NewFormRequestUrl)';
</script>


@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/MsvtUVV")

<style type="text/css">
    .signature-item {
        height: 100%;
        vertical-align: top;
        margin-right: 5px;
        display: inline-block;
    }

    #MsvtUVV .msvt-item-row {
        margin-bottom: 3px;
    }

    #MsvtUVV .uitklapcontainer {
        background-color: white;
        padding: 5px 0 10px 16px;
    }

    #MsvtUVV .msvt-item {
        height: 100%;
        vertical-align: top;
        margin-right: 5px;
        display: inline-block;
        word-wrap: break-word;
    }

    #MsvtUVV .msvt-item.form-group {
        margin: 0;
    }

    #MsvtUVV .msvt-item .radio-inline {
        margin-left: 3px;
    }

    #MsvtUVV .fix-position {
        position: relative;
        top: 4px;
    }
</style>



@if (isPrint)
{
    <style type="text/css">
    </style>

    <div class="row">
        <div class="col-xs-3">Organisatie / Locatie / AGB</div>
        <div class="col-xs-9">@Model.SendingOrganization</div>
    </div>
}
else
{
    <style type="text/css">
        #Scroller {
            padding-right: 15px;
        }
    </style>
}

<div id="formSpecificPhaseButtonsSource">
    @if (!Model.HideNewButtons && !Model.Global.IsClosed && Model.Global.FormSetVersionID > 0)
    {
        <div class="btn btn-primary" id="btnRenew" data-renew="true">Verlengen / wijzigen</div>        
    }   
</div>



@using (var form = Html.BeginFlowFormResponsive("MsvtUVV", FormMethod.Post, new Dictionary<string, object> { { "id", "MsvtUVV" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 6, 3), controlSize: new BootstrapSize(6, 6, 6)))
{
    <div class="row" style="margin-bottom:10px">
        <div class="col-xs-12">
            <div class="pull-left">
              
            </div>
            <div class="pull-right">
                <a class="btn btn-blue" href="#patientgegevens">Patient gegevens</a>
                <a class="btn btn-azure" href="#uitvoeringsverzoek">Uitvoeringsverzoek</a>
                <a class="btn btn-purple" href="#medicatie">Medicatie</a>
                <a class="btn btn-purplegray" href="#verwachteduur">Verwachte duur</a>
                <a class="btn btn-primary" href="#identificatie">Identificatie</a>
            </div>
        </div>
    </div>
    <div class="@scroller" id="Scroller">
        @if (!isPrint)
        {
            using (var section1 = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    @if (Model.FormSetVersions.Any())
                    {
                        <div class="form-group">
                            <label class="col-xs-6 col-sm-6 col-md-3 control-label">Kies uitvoeringsverzoek</label>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <select id="PhaseInstanceID" class="form-control">
                                    @{
                                        var i = 1;
                                        foreach (var formsetversion in Model.FormSetVersions)
                                        {
                                            if (formsetversion.Description == null)
                                            {
                                                formsetversion.Description = "Uitvoeringsverzoek " + i;
                                            }

                                            var url = Url.Action("MsvtUVV", "FormType", new {Model.Global.TransferID, Model.Global.PhaseDefinitionID, formsetversion.PhaseInstanceID, formsetversion.FormSetVersionID });
                                            string selected = Model.Global.FormSetVersionID == formsetversion.FormSetVersionID ? "selected" : "";

                                            if (Model.Global.FormSetVersionID == formsetversion.FormSetVersionID)
                                            {
                                                prefilledname = formsetversion.Description;
                                            }

                                            <option value="@formsetversion.FormSetVersionID" data-url="@url" @selected>@formsetversion.Description</option>
                                            i++;
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                                        }
                    <div class="form-group">
                        <label class="col-xs-6 col-sm-6 col-md-3 control-label required">Naam</label>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            @if (prefilledname == "")
                            {
                                prefilledname = "Uitvoeringsverzoek " + (Model.FormSetVersions.Count() + 1);
                            }
                            <input type="text" name="uvvname" id="uvvname" class="form-control" required data-rule-required="true" data-msg-required="De naam van dit formulier is niet gevuld." value="@prefilledname" onkeyup="CheckFormSetName(this);" />
                            <input type="hidden" id="ValidFormSetName" name="ValidFormSetName" required data-rule-required="true" data-msg-required="De naam van dit formulier is niet uniek." value="true" />
                        </div>
                    </div>
                </div>
            }
        }

        @using (var sectionPatientGegevens = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "id", "patientgegevens" } }))
        {
            <div class="panel-heading">Patient gegevens</div>
            <div class="panel-body bg-lightblue">
                @{Html.RenderAction("ViewBasic", "Client", new {Model.ClientID });}
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname", overrideControlSize: 6, overrideLabelSize: 6)
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @sectionPatientGegevens.FormGroup(Model.Global.FlowWebFields, "DatumEerstVolgendPolibezoek", overrideControlSize: 6, overrideLabelSize: 6)
                    </div>
                </div>
                @sectionPatientGegevens.FormGroupResponsive(Model.Global.FlowWebFields, "ExtraInfo2eSpecialist", overrideObjControlSize: new BootstrapSize(12, 6, 6))

                <div>
                    <h3>Indicatie / werkopdracht - behandeling</h3>
                    @sectionPatientGegevens.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieRedenOpnameMSVT", overrideObjControlSize: new BootstrapSize(12, 6, 6))
                </div>
            </div>
                    }

        @using (var sectionUitvoeringsverzoek = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-azure" }, { "id", "uitvoeringsverzoek" } }))
        {
            <div class="panel-heading">
                Uitvoeringsverzoek
            </div>
            <div class="panel-body bg-lightblue" id="uitvoeringsverzoekactions">
                @{
                    int TreatmentGroupNum = 0;
                }
                <ul class="nav nav-pills nav-stacked pt-nav-colors">
                    @foreach (var itemgroup in Model.TreatmentItems.GroupBy(it => it.GroupName))
                    {
                        var groupname = string.Format("group{0}", TreatmentGroupNum);
                        <li class="sub-section">
                            <a data-toggle="collapse" href="#@groupname" aria-expanded="false" aria-controls="@groupname">@itemgroup.Key</a>
                            <div class="@collapsable uitklapcontainer" id="@groupname">
                                @foreach (var item in itemgroup)
                                {
                                    <div class="msvt-item-row form-group">
                                        <div class="msvt-item @(ViewFunctionalClasses.NoFilter) form-group partly-required">
                                            <input type="text" @readmodestring name="@item.FrequencyName" size="2" class="form-control" value="@item.Frequency" data-label="Frequentie" />
                                        </div>
                                        <div class="msvt-item">
                                            <label class="fix-position">x per</label>
                                        </div>
                                        <div class="msvt-item @(ViewFunctionalClasses.NoFilter) form-group partly-required">
                                            <input type="text" @readmodestring name="@item.AmountUnitFrequencyName" size="2" class="form-control" value="@item.AmountUnitFrequency" data-label="AmountUnitFrequentie" />
                                        </div>
                                        <div class="msvt-item @(ViewFunctionalClasses.NoFilter) form-group partly-required">
                                            <label class="radio radio-inline"><input type="radio" @readmodestring data-label="Dag, Week of Maand" @(item.FrequencyUnit == MsvtTreatmentItemViewModel.DayWeekMonth.Day ? "checked" : "") value="@((int)MsvtTreatmentItemViewModel.DayWeekMonth.Day)" name="@item.FrequencyUnitName" />Dag(en)</label>
                                            <label class="radio radio-inline"><input type="radio" @readmodestring data-label="Dag, Week of Maand" @(item.FrequencyUnit == MsvtTreatmentItemViewModel.DayWeekMonth.Week ? "checked" : "") value="@((int)MsvtTreatmentItemViewModel.DayWeekMonth.Week)" name="@item.FrequencyUnitName" />Week(en)</label>
                                            <label class="radio radio-inline"><input type="radio" @readmodestring data-label="Dag, Week of Maand" @(item.FrequencyUnit == MsvtTreatmentItemViewModel.DayWeekMonth.Month ? "checked" : "") value="@((int)MsvtTreatmentItemViewModel.DayWeekMonth.Month)" name="@item.FrequencyUnitName" />Maand(en)</label>
                                        </div>
                                        <div class="msvt-item @(ViewFunctionalClasses.NoFilter) resizetomax form-group @(item.IsCustomAction ? "partly-required" : "")" style="max-width:720px;">
                                            @if (!item.IsCustomAction)
                                            {
                                                <label style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" class="fix-position" title="@item.Action">@item.Action</label>
                                            }
                                            else
                                            {
                                                <input type="text" @readmodestring name="@item.DefinitionName" size="50" class="form-control" value="@item.Definition" data-label="Handeling" />
                                            }
                                        </div>
                                        <div class="msvt-item pull-right">
                                            <span class="btn glyphicon glyphicon-remove" style="color:indianred;" onclick="ClearMsvtItemRow(this);"></span>
                                        </div>
                                    </div>
                                }
                            </div>

                            @{TreatmentGroupNum++;}
                        </li>
                    }
                </ul>
            </div>
        }

        @using (var sectionMedicatie = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "id", "medicatie" } }))
        {
            <div class="panel-heading">
                Medicatie
            </div>
            <div class="panel-body bg-lightpurple">
                
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Benodigde medicatie</th>
                            <th>Dosering</th>
                            <th>Frequentie / tijden</th>
                            <th>Toediening per</th>
                            <th style="width:40px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MedicationItems)
                        {
                            <tr>
                                <td>
                                    <input type="text" @readmodestring name="@item.MedicationName" class="form-control" maxlength="100" value="@item.Medication" />
                                </td>
                                <td>
                                    <input type="text" @readmodestring name="@item.DosageName" class="form-control" maxlength="50" value="@item.Dosage" />
                                </td>
                                <td>
                                    <input type="text" @readmodestring name="@item.FrequencyName" class="form-control" maxlength="50" value="@item.Frequency" />
                                </td>
                                <td>
                                    <input type="text" @readmodestring name="@item.DeliveryMethodName" class="form-control" value="@item.DeliveryMethod" />
                                </td>
                                <td>
                                    <span class="btn glyphicon glyphicon-remove" style="color:indianred;" onclick="ClearMsvtItemRow(this);"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @using (var sectionHulpmiddelen = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "id", "Hulpmiddelen" } }))
        {
            <div class="panel-body bg-lightpurple">
                <h4>Hulpmiddelen</h4>
                @sectionHulpmiddelen.FormGroupResponsive(Model.Global.FlowWebFields, "BenodigdeHulpmiddelen_1", overrideObjLabelSize: new BootstrapSize(12, 6, 3), overrideObjControlSize: new BootstrapSize(12, 6, 6))
            </div>
        }

        @using (var sectionBijzonderheden = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purple" }, { "id", "Bijzonderheden" } }))
        {
            <div class="panel-body bg-lightpurple">
                <h4>Bijzonderheden</h4>
                @sectionBijzonderheden.FormGroupResponsive(Model.Global.FlowWebFields, "EvtComplicatiesBijzonderheden_1", overrideObjLabelSize: new BootstrapSize(12, 6, 3), overrideObjControlSize: new BootstrapSize(12, 6, 6))
            </div>
        }

        @using (var sectionVerwachteduur = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-purplegray" }, { "id", "verwachteduur" } }))
        {
            <div class="panel-heading">
                Verwachte duur
            </div>
            <div class="panel-body bg-lightpurple">
                @if (!isPrint)
                {
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-6 col-md-3"><span class="control-label required">Start-</span> / einddatum</label>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="row">
                                <div class="col-xs-6">@sectionVerwachteduur.FlowControl(Model.Global.FlowWebFields, "VerwachteDuurStartdatum")</div>
                                <div class="col-xs-6">@sectionVerwachteduur.FlowControl(Model.Global.FlowWebFields, "VerwachteDuurEinddatum")</div>
                            </div>
                        </div>
                    </div>
                }
                @if (isPrint)
                {
                    <div class="form-group ignore-printfilter">
                        <div class="col-xs-6">
                            @sectionVerwachteduur.FormGroup(Model.Global.FlowWebFields, "VerwachteDuurStartdatum", overrideLabelSize: 6)
                        </div>
                        <div class="col-xs-6">
                            @sectionVerwachteduur.FormGroup(Model.Global.FlowWebFields, "VerwachteDuurEinddatum", overrideLabelSize: 6)
                        </div>
                    </div>
                }
            </div>
        }

        @using (var sectionIdentificatie = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-primary" }, { "id", "identificatie" } }))
        {
            <div class="panel-heading">
                Identificatie en accordering
            </div>
            <div class="panel-body bg-lightblue">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        @if (!isPrint)
                        {
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelendArtsID", overrideLabelSize: 6, overrideControlSize: 6)
                        }
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarAGB", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarBIG", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarSpecialisme", overrideLabelSize: 6, overrideControlSize: 6)
                        @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "BehandelaarTelefoonPieper", overrideLabelSize: 6, overrideControlSize: 6)
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            @sectionIdentificatie.FlowLabel(Model.Global.FlowWebFields, "MSVTLeverendeOrganisatie", overrideLabelSize: 6)
                            <div class="col-xs-6">
                                @sectionIdentificatie.FlowControl(Model.Global.FlowWebFields, "MSVTLeverendeOrganisatie", new { style = "background-color: white;" },
                                inputGroupProperties: new InputGroupProperties(
                                    "glyphicon-search",
                                    "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { transferid = Model.Global.TransferID, Model.Global.FlowInstance.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutOrganisation);",
                                    InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true
                                    )
                            )
                            </div>
                        </div>

                        <div id="leverendemedewerkerdetails" style='@(!Model.ShowLeverendeMedewerker ? "display:none;" : "")'>
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerker", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerBIG", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerTelefoon", overrideLabelSize: 6, overrideControlSize: 6)
                            @sectionIdentificatie.FormGroup(Model.Global.FlowWebFields, "MSVTLeverendeMedewerkerEmail", overrideLabelSize: 6, overrideControlSize: 6)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @sectionIdentificatie.FlowControl(Model.Global.FlowWebFields, "PrintVoorwaardenUVV", htmlAttributes: new { @class = "checkbox printconditions" })
                    </div>
                </div>
            </div>
        }
    </div>

if (isPrint)
{
    <section class="panel panel-primary ignore-printfilter" id="identificatie" style="page-break-inside: avoid;">
        <div class="panel-heading">Verklaring verantwoordelijkheid medische behandeling en opdracht</div>
        <div class="panel-body bg-lightblue">
            <div class="col-xs-12">
                <div class="row form-group">
                    <label class="control-label">De arts/verpleegkundig specialist/PA verzoekt bovenstaande handeling(en) uit te voeren conform de afgesproken voorwaarden dan wel de daartoe afgesloten raamovereenkomst.</label>
                </div>
                <br />
                <div class="row form-group">
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Handtekening / opdrachtgever</label>
                    </div>
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Handtekening / opdrachtnemer</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="signature-item" style="width:400px;">
                    </div>
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Organisatie: @Model.ReceivingOrganization</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Naam: ................................................</label>
                    </div>
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Naam: ................................................</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Functie: ..............................................</label>
                    </div>
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Functie: ..............................................</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Datum: ...............................................</label>
                    </div>
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Datum: ...............................................</label>
                    </div>
                </div>

                <br />
                <div class="row form-group">
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Handtekening: ..................................</label>
                    </div>
                    <div class="signature-item" style="width:400px;">
                        <label class="control-label">Handtekening: ..................................</label>
                    </div>
                </div>

            </div>
        </div>
    </section>

    if (Model.PrintUVVConditions)
    {
        <section class="panel panel-primary ignore-printfilter" id="uvvconditionstext" style="page-break-inside: avoid;">
            <div class="panel-heading">
                Voorwaarden voor het uitvoeren van medische handelingen door
                verpleegkundige/verzorgende van de zorginstelling in opdracht van de medisch
                specialist
            </div>
            <div class="panel-body bg-lightblue">
                <div class="col-xs-12">

                    <div class="row form-group">
                        <label class="control-label">
                            Ten aanzien van de uitvoering van voorbehouden handelingen door medewerkers van de
                            (thuis)zorginstelling is de medisch specialist <sup>*</sup>
                            verantwoordelijk voor het stellen van de diagnose, de
                            indicatiestelling en het voorschrijven van de handeling.
                            Het behoort tot de verantwoordelijkheid van de verpleegkundige/verzorgende om de door de
                            opdrachtgever / medisch specialist) voorgeschreven handeling op verantwoorde wijze aan de hand
                            van een protocol uit te voeren.
                            Over de mogelijkheid tot uitvoering vindt vooraf overleg plaats tussen de medisch specialist de
                            transferverpleegkundige en de (thuis)zorginstelling.
                        </label>
                    </div>
                    <div class="row form-group">
                        <label class="control-label"><strong>De zorginstelling</strong></label>
                    </div>
                    <div class="row form-group">
                        <ol class="control-label" type="1">
                            <li>
                                De zorginstelling verplicht zich met inachtneming van het hierna onder 2 en 3 bepaalde en van
                                de daartoe opgestelde protocollen tot het doen verrichten en uitvoeren van de handelingen. Het
                                gaat hierbij om handelingen waarvan de continuïteit van de uitvoering door de zorginstelling is
                                gewaarborgd.
                            </li>
                            <li>
                                De zorginstelling verplicht zich er voor zorg te dragen dat de verpleegkundige/verzorgende
                                beschikt over de bekwaamheid, die vereist is voor het op verantwoorde wijze uitvoeren van
                                opdrachten en handelingen, en dat deze, voor zover de opdrachtgever aanwijzingen geeft,
                                overeenkomstig die aanwijzingen zal handelen.
                            </li>
                            <li>
                                Bij twijfel over de mogelijkheden tot uitvoering vindt overleg plaats tussen de medisch specialist
                                en de zorginstelling.
                            </li>
                            <li>
                                De zorginstelling is verplicht onmiddellijk contact op te nemen met de medisch specialist indien
                                zich bij de uitvoering van het verzoek incidenten of complicaties voordoen.
                            </li>
                            <li>
                                Indien de medisch specialist het opdrachtgeverschap voor het uitvoeren van de medische
                                handeling door de medewerker van de zorginstelling overgedragen heeft aan de huisarts (zie 11)
                                verzoekt de zorginstelling na het aflopen van het lopende uitvoeringsverzoek de huisarts om een
                                nieuw uitvoeringsverzoek.
                            </li>
                        </ol>
                    </div>
                    <div class="row form-group">
                        <label class="control-label"><strong>De medisch specialist</strong></label>
                    </div>
                    <div class="row form-group">
                        <ol class="control-label" type="1" start="6">
                            <li>
                                De medisch specialist dient een verzoek tot het door een verpleegkundige/verzorgende van de
                                (thuis)zorginstelling uitvoeren van een handeling in door middel van het in te vullen en (z.n. te
                                ondertekenen) ‘uitvoeringsverzoek Medisch Handelen’.
                            </li>
                            <li>
                                De medisch specialist geeft in die gevallen waarin zulks redelijkerwijs nodig is, aanwijzingen
                                omtrent het verrichten van de handeling.
                            </li>
                            <li>
                                De medisch specialist of diens waarnemer is bereikbaar voor overleg en daadwerkelijke
                                bijstand.
                            </li>
                            <li>
                                Bij noodzaak tot medische hulp is de arts / medisch specialist, de afdeling of de Spoedeisende
                                Hulp bereid de patiënt direct te ontvangen en zonodig het vervoer voor de patiënt te regelen.
                            </li>
                            <li>
                                De medisch specialist mag redelijkerwijs aannemen dat diegenen die door de zorginstelling zijn
                                aangewezen om in opdracht van een arts de in een bijlage opgenomen handelingen te verrichten,
                                in aanmerking genomen het onder 6 bepaalde, beschikken over de bekwaamheid die vereist is voor
                                het behoorlijk verrichten van die handelingen.
                            </li>
                            <li>
                                Indien naar oordeel van de arts / medisch specialist de verantwoordelijkheid voor de medische
                                behandeling overgenomen kan worden door de huisarts draagt de arts / medisch specialist zorg
                                voor de medische overdracht inclusief het opdrachtgeverschap voor het uitvoeren van de
                                medische handeling door de medewerker van de zorginstelling over aan de huisarts.
                            </li>
                        </ol>
                    </div>
                    <div class="row formgroup">
                        <label class="control-label">
                            <sup>*</sup> Hieronder wordt ook verstaan andere artsen, niet medisch specialist
                        </label>
                    </div>
                </div>
            </div>
        </section>
        }
    }
}
