﻿@using Point.MVC.WebApplication.Extensions;
@model RealizedCareViewModel

@{
    bool haveReceivingDepartmentID = !string.IsNullOrEmpty(Model.ReceivingDepartmentID);
}

<script type="text/javascript">
    var formID = "#RealizedCareHA";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RealizedCareHA")

@using (var form = Html.BeginFlowFormResponsive("RealizedCareHA", FormMethod.Post, new Dictionary<string, object> { { "id", "RealizedCareHA" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 5)))
{
    using (var sectionRealizedCare = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                <label class="control-label col-xs-6 col-sm-5 col-md-3">Actuele VVT</label>
                <div class="col-xs-6 col-sm-7 col-md-5">
                    <input class="form-control" type="text" id="actuelevvtinstellingname" disabled value="@Model.ReceivingDepartmentName" />
                    <input type="hidden" id="actuelevvtinstellingid" value="@Model.ReceivingDepartmentID" />
                </div>
            </div>
        </div>
    }
    using (var sectionRegistration = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "style", (haveReceivingDepartmentID ? "display:none;" : "") } }))
    { 
        <div class="panel-body bg-lightblue">
            @sectionRegistration.FormGroupResponsive(Model.Global.FlowWebFields, "RegistrationEndedWithoutTransfer", overrideObjLabelSize: new BootstrapSize(6, 5, 3))
            @{ var style = (sectionRegistration.FlowValue(Model.Global.FlowWebFields, "RegistrationEndedWithoutTransfer").ToString() == "true") ? "" : "display:none;"; }
           <div id="ReasonEndRegistrationContainer" style="@style">

                @sectionRegistration.FormGroupResponsive(Model.Global.FlowWebFields, "ReasonEndRegistrationHA", overrideObjLabelSize: new BootstrapSize(6, 5, 3))

            </div>
        </div>
    }
}
