﻿@using Point.MVC.WebApplication.Extensions;
@model RealizedCareViewModel

<script type="text/javascript">
    var formID = "#RealizedCare";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RealizedCare")

@using (var form = Html.BeginFlowFormResponsive("RealizedCare", FormMethod.Post, new Dictionary<string, object> { { "id", "RealizedCare" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 5)))
{
    using (var sectionRealizedCare = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                <label class="control-label col-xs-6 col-sm-5 col-md-3">Actuele VVT</label>
                <div class="col-xs-6 col-sm-7 col-md-5">
                    <input class="form-control" type="text" id="actuelevvtinstellingname" disabled value="@Model.ReceivingDepartmentName" />
                    <input type="hidden" id="actuelevvtinstellingid" value="@Model.ReceivingDepartmentID" />
                </div>
            </div>
            @sectionRealizedCare.FormGroup(Model.Global.FlowWebFields, "DestinationHealthCareProvider")
            @sectionRealizedCare.FormGroupResponsive(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", overrideObjControlSize: new BootstrapSize(6,4,3))
            @sectionRealizedCare.FormGroupResponsive(Model.Global.FlowWebFields, "RealizedDischargeDate", overrideObjControlSize: new BootstrapSize(6, 4, 3))
            <div class="form-group">
                <label class="col-xs-6 col-sm-5 col-md-3">Reden vertraging</label>
                <div class="col-xs-6 col-sm-7 col-md-9">
                    @sectionRealizedCare.FlowControl(Model.Global.FlowWebFields, "OnceAgainMedicalTreatment")
                    @sectionRealizedCare.FlowControl(Model.Global.FlowWebFields, "DelayInTransferAgency")
                    @sectionRealizedCare.FlowControl(Model.Global.FlowWebFields, "DelayInNursingDepartmentPolyclinic")
                    @sectionRealizedCare.FlowControl(Model.Global.FlowWebFields, "DelayInInstitutionVVT")
                    @sectionRealizedCare.FlowControl(Model.Global.FlowWebFields, "DelayInOthers")
                </div>
            </div>
            @sectionRealizedCare.FormGroupResponsive(Model.Global.FlowWebFields, "DelayComments", overrideObjControlSize: new BootstrapSize(12, 7, 5))
        </div>
    }

    using (var sectionRegistration = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            @sectionRegistration.FormGroupResponsive(Model.Global.FlowWebFields, "RegistrationEndedWithoutTransfer")
            @{ var style = (sectionRegistration.FlowValue(Model.Global.FlowWebFields, "RegistrationEndedWithoutTransfer").ToString() == "true") ? "" : "display:none;"; }
            <div id="ReasonEndRegistrationContainer" style="@style">
                <div class="form-group" style="@(String.IsNullOrEmpty(Model.ReceivingDepartmentName)?"display:none;":"")">
                    <label class="col-md-3 col-sm-5 col-xs-6"></label>
                    <div class="alert alert-warning col-md-5 col-sm-7 col-xs-12">
                        Dit dossier is reeds naar '@Model.ReceivingDepartmentName' verzonden.<br />
                        Bij opslaan van dit formulier wordt het dossier ingetrokken.
                    </div>
                </div>
                @sectionRegistration.FormGroupResponsive(Model.Global.FlowWebFields, "ReasonEndRegistration", overrideObjControlSize: new BootstrapSize(12, 7, 5))
            </div>
        </div>
    }
}
