﻿@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@using Point.Database.Extensions;
@model RequestFormZHVVTViewModel


@(Html.GetEnums<Status>())


@{
    var bootstrapSize060504 = new BootstrapSize(6, 5, 4);
    var bootstrapSize060708 = new BootstrapSize(6, 7, 8);
    var bootstrapSize060403 = new BootstrapSize(6, 4, 3);
    var bootstrapSize060302 = new BootstrapSize(6, 3, 2);
    var bootstrapSize120504 = new BootstrapSize(12, 5, 4);
    var bootstrapSize120708 = new BootstrapSize(12, 7, 8);
}


<script type="text/javascript">
    var formID = "#RequestFormZHVVT";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Url.Action("RequestFormZHVVT", "FormType", new { Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID }))';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var getDoctorByID = '@Html.Raw(Url.Action("GetDoctorByID", "LookUp"))';
    var sectiondata = $.parseJSON('@Html.Raw(Model.SerializedSectionData)');
    var status = parseInt('@Model.Status', 10);
    var autoselectformtypeid = parseInt('@Model.AutoSelectFormTypeID', 10);
    var showResetVVT = @(Model.ShowResetVVT.ToString().ToLower());
    var resetVVTUrl = '@Html.Raw(Url.Action("CancelVVT", "FormType", new { TransferID = Model.Global.TransferID, Digest = AntiFiddleInjection.CreateDigest(Model.Global.TransferID) }))';
    var hasActiveNextPhase = @Model.HasActiveNextPhase.ToString().ToLower();
    var prefill = @Model.Prefill.ToString().ToLower();
    $(".phaseButtonNext").hide();
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RequestFormZHVVT")

@if (Model.ShowRelatedTransfers && !ViewData.IsReadMode())
{
    <div id="formSpecificPhaseButtonsSource">
        @Scripts.Render("~/Bundles/Scripts/TransferSearchPrevious")
        <div class="btn btn-default" id="btnRelatedTransfers" style="display:none">Historie overnemen</div>
    </div>
}

@if (Model.TakeRelatedTransfer)
{
    <div>
        @Html.Hidden("TakeRelatedTransfer", Model.TakeRelatedTransfer)
    </div>
}


<style type="text/css">
    .td-small {
        width: 50px;
    }

    .td-medium {
        max-width: 120px;
    }

    thead .checkbox label {
        color: white;
    }

    .sectionTitle {
        display: none;
    }

    .sectionContainer section:not([style*="display: none"]):nth-of-type(1) .sectionTitle {
        display: block;
    }

    .point-scrollable {
        overflow: auto;
    }

    .pad-left {
        padding-left: 50px;
    }

    .no-pad-left {
        padding-left: 0px;
    }

    #Scroller {
        padding-right: 15px;
    }

    #SectionAanvraagType {
        display: block;
    }

    .label-align-left {
        padding-left: 23px;
    }

    @("@")media print {

            #Inventarisatie {
                width: 100% !important;
            }
            #Inventarisatie .sectionContainer,
            #Inventarisatie .panel,
            #Inventarisatie .form-group,
            #Inventarisatie .form-group label,
            #Inventarisatie .form-group textarea {
                overflow: visible !important;
                float: left !important;
            }
            #Inventarisatie .sectionContainer,
            #Inventarisatie .panel,
            #Inventarisatie .form-group {
                width: 100% !important;
                overflow: visible !important;
            }
            #Inventarisatie .form-group,
            #Inventarisatie label {
                position: relative !important;
            }
            #Inventarisatie .form-group label {
                width: 55% !important;
            }
            #Inventarisatie .form-group .col-md-8.col-sm-7.col-xs-6,
            #Inventarisatie .form-group textarea {
                width: auto !important;
            }
        }

</style>

@if (!Model.Global.IsPrintRequest)
{
    <style type="text/css">
        .display-none {
            display: none;
        }
    </style>
}
else
{
    <style type="text/css">
        .ignore-for-printing {
            display: none;
        }

        #RequestFormZHVVT section {
            page-break-inside: avoid;
        }
    </style>
}

@{
    var scroller = Model.Global.IsPrintRequest ? "" : "point-scrollable";
}

<div class="row" style="margin-bottom:10px" id="sectionselector">
    <div class="col-xs-12">
        <div class="pull-right">
            <a class="btn btn-blue" style="display:none;" data-location="SituatieClient" href="#SituatieClient">Situatie patiënt</a>
            <a class="btn btn-primary" style="display:none;" data-location="Toestemming" href="#Toestemming">Toestemming patiënt</a>
            <a class="btn btn-orange" style="display:none;" data-location="Inventarisatie" href="#Inventarisatie">Inventarisatie</a>
            <a class="btn btn-green" style="display:none;" data-location="ZorgVraag" href="#ZorgVraag">Zorgvraag</a>
            <a class="btn btn-yellow" style="display:none;" data-location="HervattenZorg" href="#HervattenZorg">Hervatten zorg</a>
            <a class="btn btn-purple" style="display:none;" data-location="ZorgSoort" href="#ZorgSoort">Zorgsoort</a>
            <a class="btn btn-blue" style="display:none;" data-location="Hulpmiddelen" href="#Hulpmiddelen">Hulpmiddelen</a>
            <a class="btn btn-purple" style="display:none;" data-location="Toelichting" href="#Toelichting">Toelichting</a>
        </div>
    </div>
</div>

<div class="@scroller" id="Scroller">
    @using (var form = Html.BeginFlowFormResponsive("RequestFormZHVVT", FormMethod.Post, new Dictionary<string, object> { { "id", "RequestFormZHVVT" }, { "class", "form-horizontal" } }, labelSize: bootstrapSize060504, controlSize: bootstrapSize060708))
    {
        using (var sectionRequestFormZHVVTType = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "id", "SectionAanvraagType" } }))
        {
            <div class="panel-body bg-lightblue">
                @if (Model.Global.IsPrintRequest)
                {
                    if (!string.IsNullOrWhiteSpace(Model.FormTransferType))
                    {
                        <div class="form-group ignore-printfilter">
                            @sectionRequestFormZHVVTType.FlowLabel(Model.Global.FlowWebFields, "RequestFormZHVVTType")
                            <div class="col-xs-5">
                                @Model.FormTransferType
                            </div>
                        </div>
                    }
                }
                else
                {
                    @sectionRequestFormZHVVTType.FormGroup(Model.Global.FlowWebFields, "RequestFormZHVVTType", new { currentvalue = Model.Global.FlowWebFields.GetValueOrDefault("RequestFormZHVVTType", "") })
                }
            </div>
        }

        <div class="sectionContainer" id="Basisgegevens">
            @if (!Model.Sections.ContainsKey("Basisgegevens"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-blue" data-section="Basisgegevens" style="@(Model.CurrentSection.Contains("Basisgegevens") ? "" : "display:none")">
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "SourceOrganization")
                    @form.FlowHiddenInput(Model.Global.FlowWebFields, "SourceOrganizationLocation")
                    @form.FlowHiddenInput(Model.Global.FlowWebFields, "SourceOrganizationDepartment")
                    <div class="form-group ignore-printfilter">
                        <label class="control-label col-xs-6 col-sm-5 col-md-4">Locatie / afdeling / kamernr</label>
                        <div class="col-xs-6 col-sm-7 col-md-8 label-align-left">
                            @Model.LocationName / @Model.DepartmentName / @form.FlowValue(Model.Global.FlowWebFields, "Kamernummer")
                        </div>
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "CreatedByDepartmentTelephoneNumber", overrideObjControlSize: bootstrapSize060403)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DossierOwner", overrideObjControlSize: bootstrapSize060504)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "FilledOutBy", overrideObjControlSize: bootstrapSize060504)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DossierOwnerTelephoneNumber", overrideObjControlSize: bootstrapSize060403)
                    @form.FormGroup(Model.Global.FlowWebFields, "AanvraagVoor")
                    @if (Model.Global.IsPrintRequest)
                    {
                        Html.RenderPartial("DossierTagPrint", Model.Global.FlowInstance.FlowInstanceTag);
                    }
                </div>
            </section>
            @{Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="SituatieClient">
            @if (!Model.Sections.ContainsKey("SituatieClient"))
            {
                Html.EnableClientValidation(false);
            }
            @if (Model.Global.IsPrintRequest)
            {
                <section class="panel panel-blue" data-section="SituatieClient">
                    <div class="panel-heading sectionTitle">Persoonsgegevens</div>
                    <div class="panel-body bg-lightblue">
                        @{Html.RenderAction("ViewVO", "Client", new { Model.ClientID });}
                    </div>
                </section>
            }
            <section class="panel panel-blue" data-section="SituatieClient" style="@(Model.CurrentSection.Contains("SituatieClient") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    @if (!Model.Global.IsPrintRequest)
                    {
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "Kamernummer", overrideObjControlSize: bootstrapSize060302)
                    }
                    @form.FormGroup(Model.Global.FlowWebFields, "AanwezigheidContactpersoonBijTransfergesprekGewenstJaNee")
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "AanwezigheidContactpersoonBijTransfergesprekGewenst", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                </div>
            </section>
            <section class="panel panel-blue" data-section="Arts" style="@(Model.CurrentSection.Contains("Arts") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    @if (!Model.Global.IsPrintRequest)
                    {@form.FormGroup(Model.Global.FlowWebFields, "BehandelendArtsID")}
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarAGB")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarBIG")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarSpecialisme")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarTelefoonPieper")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarOpmerkingen")
                </div>
            </section>
            <section class="panel panel-blue" data-section="IngangsdatumZorg" style="@(Model.CurrentSection.Contains("IngangsdatumZorg") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "GewensteIngangsdatum")
                </div>
            </section>
            <section class="panel panel-blue" data-section="MedeBehandelaars" style="@(Model.CurrentSection.Contains("MedeBehandelaars") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-5 col-md-4">Medebehandelaars</label>

                        <div class="col-xs-12 col-sm-7 col-md-8">
                            <div class="row">
                                <div class="col-xs-6">
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenGeriater")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenPsychiater")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenMedischMaatschappelijkWerk")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenGespecialiseerdVerpleegkundige")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenDietist")

                                </div>
                                <div class="col-xs-6">
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenLogopedist")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenFysiotherapeut")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenErgotherapeut")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenPedagogischMedewerker")
                                    @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenRevalidatiearts")
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                            @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenAnders")
                        </div>
                        <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                            @form.FlowControl(Model.Global.FlowWebFields, "IngeschakeldeOndersteunendeDienstenToelichting")
                        </div>
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieDatumOpname", overrideObjControlSize: bootstrapSize060302)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", htmlAttributes: new { onchange = "DatumEindBehandelingChanged()" }, overrideObjControlSize: bootstrapSize060302)
                    @Html.Hidden("hiddenoorspronkelijkeontslagdatum", Model.OorspronkelijkeOntslagDatum)
                    @form.FlowHiddenInput(Model.Global.FlowWebFields, "OorspronkelijkeDatumEindeBehandelingMedischSpecialist")
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialistToelichting", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)

                </div>
            </section>

            <section class="panel panel-blue" data-section="MedischeDiagnoses" style="@(Model.CurrentSection.Contains("MedischeDiagnoses") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieRedenOpname", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieVoorgeschiedenis", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieBehandeling", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "PrognoseVerwachteOntwikkeling", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                    <div id="divKwetsbareOudere">
                        @form.FormGroup(Model.Global.FlowWebFields, "KwetsbareOudereJaNee")
                        <div id="divKwetsbareOudereJaNee" class="display-none">
                            @form.FormGroup(Model.Global.FlowWebFields, "KwetsbareOudereToelichting")
                        </div>
                    </div>
                    <div id="divInfectieIsolatie">
                        @form.FormGroup(Model.Global.FlowWebFields, "InfectieIsolatie")
                        <div id="InfectieIsolatieAanwezig" class="display-none">

                            @form.FormGroup(Model.Global.FlowWebFields, "InfectieIsolatieSoortInfectie")
                            <div class="form-group">
                                <div class="col-xs-1 col-xs-push-4">
                                    @form.FlowControl(Model.Global.FlowWebFields, "InfectieIsolatieAnders")
                                </div>
                                @form.FormGroupResponsive(Model.Global.FlowWebFields, "InfectieIsolatieAndersTekst", overrideObjControlSize: bootstrapSize060504, overrideText: "")
                            </div>

                            @form.FormGroup(Model.Global.FlowWebFields, "InfectieIsolatieSoortIsolatie")
                            <div class="form-group">
                                <div class="col-xs-1 col-xs-push-4">
                                    @form.FlowControl(Model.Global.FlowWebFields, "InfectieIsolatieInfectieAnders")
                                </div>
                                @form.FormGroupResponsive(Model.Global.FlowWebFields, "InfectieIsolatieInfectieAndersTekst", overrideObjControlSize: bootstrapSize060504, overrideText: "")
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="panel panel-blue" data-section="VrijheidBeperkendeMaatregelen" style="@(Model.CurrentSection.Contains("VrijheidBeperkendeMaatregelen") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    <div id="divVrijheidsbeperkendeMaatregelen">
                        @form.FormGroup(Model.Global.FlowWebFields, "VrijheidsbeperkendeMaatregelen")
                        <div id="VrijheidsbeperkendeMaatregelenAanwezig" class="display-none">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-5 col-md-4 control-label">Maatregelen</label>
                                <div class="col-xs-12 col-sm-7 col-md-8">
                                    @form.FlowControl(Model.Global.FlowWebFields, "VrijheidsbeperkendeMaatregelenSoortTafelbladRolstoel")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                    @form.FlowControl(Model.Global.FlowWebFields, "VrijheidsbeperkendeMaatregelenSoortBokshandschoenen")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                    @form.FlowControl(Model.Global.FlowWebFields, "VrijheidsbeperkendeMaatregelenSoortFixatie")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                    @form.FlowControl(Model.Global.FlowWebFields, "VrijheidsbeperkendeMaatregelenSoortAnders")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                    @form.FlowControl(Model.Global.FlowWebFields, "VrijheidsbeperkendeMaatregelenAnders")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="panel panel-blue" data-section="AspectenZorgverlening" style="@(Model.CurrentSection.Contains("AspectenZorgverlening") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    <div id="zorgverleningAspecten">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 control-label">Relevante aspecten voor zorgverlening</label>
                            <div class="col-xs-12 col-sm-7 col-md-8">
                                <div class="pull-left source">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningIncontinentie")
                                </div>
                                <div class="pull-left target display-none">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningIncontinentieKeus")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningGehoorproblemen")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningVisusproblemen")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningSpraakproblemen")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningVerwaarlozing")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningDwaalZwerfgedrag")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningZwakOntbrekendMantelzorgnetwerk")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "KamerNoodzakelijk")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "Verslaving")
                                <div class="row" id="VerslavingAanwezig">
                                    <div class="col-xs-12" style="margin-left:20px;">
                                        @form.FlowControl(Model.Global.FlowWebFields, "VerslavingDrank")
                                        @form.FlowControl(Model.Global.FlowWebFields, "VerslavingDrugs")
                                        @form.FlowControl(Model.Global.FlowWebFields, "VerslavingMedicatie")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "Obesitas")
                            </div>
                        </div>
                    </div>

                    @form.FormGroup(Model.Global.FlowWebFields, "ObesitasGewicht")
                    @form.FormGroup(Model.Global.FlowWebFields, "ObesitasLengte")
                    @form.FormGroup(Model.Global.FlowWebFields, "ObesitasBMI")
                    @form.FormGroup(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningAndersText")
                </div>
            </section>

            <section class="panel panel-blue" data-section="PsychischFunctioneren" style="@(Model.CurrentSection.Contains("PsychischFunctioneren") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenZiekteInzichtJaNee")
                    @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenJaNee")
                    <div id="divPsychischFunctionerenJaNee" class="display-none">
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenGeheugenverlies")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenDesorientatie")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenGedragsstoornissen")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenStemmingsstoornissen")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenDenkWaarnemingsstroornissen")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenItemIngevuldToelichting")
                    </div>

                    <div>
                        <h3>Communicatie</h3>
                        <div class="form-group">
                            <label class="col-xs-6 col-sm-5 col-md-4 control-label">Communicatieproblemen</label>
                            <div class="col-xs-6 col-sm-7 col-md-8">
                                @form.FlowControl(Model.Global.FlowWebFields, "RequestFormCommunicatieSpraakproblemen")
                                @form.FlowControl(Model.Global.FlowWebFields, "RequestFormCommunicatieGehoorproblemen")
                                @form.FlowControl(Model.Global.FlowWebFields, "RequestFormCommunicatieVisusproblemen")
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @{Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="Toestemming">
            @if (!Model.Sections.ContainsKey("Toestemming"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-primary" data-section="Toestemming" style="@(Model.CurrentSection.Contains("Toestemming") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">
                    <span style="cursor:pointer;" data-toggle="clickover" data-placement="right" data-content="Patient geeft toestemming voor: @Html.Encode(Html.Partial("SignatureInfo", "FormType"))" data-original-title="" title="">
                        Toestemming patiënt
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </span>
                </div>
                <div class="panel-body bg-lightblue">
                    <div class="visible-print">
                        Toestemming patiënt of diens vertegenwoordiger voor:
                        @Html.Partial("SignatureInfo", "FormType")
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatient", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)

                    <div id="ToestemmingPatientJa" class="display-none">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatientVan", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                        <div class="row">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                <div id="ToestemmingPatientVanVertegenwoordiger" class="display-none">
                                    @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientVanVertegenwoordigerNaam", overrideLabelSize: 12, overrideControlSize: 12)
                                    @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientVanVertegenwoordigerAdres", overrideLabelSize: 12, overrideControlSize: 12)

                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @form.FlowControl(Model.Global.FlowWebFields, "ToestemmingPatientHandtekeningVastgelegd")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="ToestemmingPatientNee" class="display-none">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "GeenToestemmingPatientVan", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                        <div class="row">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FormGroup(Model.Global.FlowWebFields, "GeenToestemmingPatientVanReden", overrideLabelSize: 12, overrideControlSize: 12)
                            </div>
                        </div>
                    </div>

                    <div id="ToestemmingPatientNietMogelijk" class="display-none">
                        <div class="row">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientNietMogelijkReden", overrideLabelSize: 12, overrideControlSize: 12)
                            </div>
                        </div>
                    </div>

                    @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientIngevuldDoor")

                </div>
            </section>
            @{ Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="Inventarisatie">
            @if (!Model.Sections.ContainsKey("Inventarisatie"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-orange" data-section="Inventarisatie" style="@(Model.CurrentSection.Contains("Inventarisatie") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">
                    Behoefte inventarisatie vanuit ouders en kind
                </div>
                <div class="panel-body bg-lightorange">
                    <h3>Kind leefdomein Medisch</h3>
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindDiagnoseWelke")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindMeerInformatieWaarover")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindHandelingenBuitenHetZiekenhuis")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindHandelingenBuitenHetZiekenhuisZelf")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindHandelingenBuitenHetZiekenhuisVanaf")

                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindHulpmiddelen", hasInformationIcon: true)
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOndersteuningPersoonlijkeVerzorging", hasInformationIcon: true)
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindZorgEnOpvang", hasInformationIcon: true)

                    <h3>Kind leefdomein ontwikkeling</h3>
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindVerblijf")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindVerblijfHandelingenNodig", hasInformationIcon: true)

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-5 col-md-4 control-label">
                            Zijn er bijzonderheden met betrekking tot de ontwikkeling van het kind?
                            <span style="cursor:pointer;" data-toggle="clickover" data-content="Denk aan grove motoriek (beweging met het hele lichaam zoals kruipen, lopen, fietsen). Denk aan fijne motoriek (het gecoördineerd bewegen van individuele lichaamssegmenten, handen, vingers, enz.). Denk aan logopedie, fysiotherapie, ergotherapie, diëtiste."><span class="glyphicon glyphicon-info-sign"></span></span>
                        </label>
                        <div class="col-xs-push-1 col-sm-push-0 col-xs-11 col-sm-7 col-md-8">
                            @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOntwikkelingMotorische")
                            @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOntwikkelingSpraak")
                            @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOntwikkelingCognitieve")
                            @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOntwikkelingSociaalEmotionele")
                            @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOntwikkelingUitgesprokenGedrag", hasInformationIcon: true)
                        </div>
                    </div>
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOntwikkelingProfessioneleOndersteuning")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindOntwikkelingGevolgen")

                    <h3>Kind leefdomein sociaal</h3>
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindSociaalWerkzaamheden")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindSociaalSocialeNetwerk")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindSociaalOndersteunen", hasInformationIcon: true)
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindSociaalDraagkracht", overrideControlSize: 2, hasInformationIcon: true)
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindSociaalDraaglast", overrideControlSize: 2, hasInformationIcon: true)

                    <h3>Kind leefdomein veiligheid</h3>
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindVeiligheidZorg", hasInformationIcon: true)
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindVeiligheidGezondheid")
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindVeiligheidContactMetAndereBetrokkenInstanties", hasInformationIcon: true)
                    @form.FormGroup(Model.Global.FlowWebFields, "OudersEnKindVeiligheidPratenOverDeSituatie", hasInformationIcon: true)
                </div>
            </section>
            <section class="panel panel-orange" data-section="InventarisatieOpmerkingAfdVPK" style="@(Model.CurrentSection.Contains("InventarisatieOpmerkingAfdVPK") ? "" : "display:none")">
                <div class="panel-body bg-lightorange">
                    @form.FormGroup(Model.Global.FlowWebFields, "InventarisatieOpmerkingAfdVPK")
                </div>
            </section>
            @{ Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="ZorgVraag">
            @if (!Model.Sections.ContainsKey("ZorgVraag"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-green" data-section="ZorgVraagBasis" style="@(Model.CurrentSection.Contains("ZorgVraagBasis") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgvraag</div>
                <div class="panel-body bg-lightgreen">
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="td-medium">Basis zorg</td>
                                <td class="td-small"></td>
                                <td colspan="3">Per dag / week / toelichting</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="form-group-row">
                                <td class="td-medium">Persoonlijke verzorging</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgPersoonlijkeVerzorging")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgPersoonlijkeVerzorgingKerenPerDag")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgPersoonlijkeVerzorgingKerenPerWeek")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgPersoonlijkeVerzorgingToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Transfer bed/stoel</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgTransferBedStoel")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgTransferBedStoelKerenPerDag")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgTransferBedStoelKerenPerWeek")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgTransferBedStoelToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Mobiliteit</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgMobiliteit")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgMobiliteitKerenPerDag")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgMobiliteitKerenPerWeek")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgMobiliteitToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Eten en Drinken</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgEtenEnDrinken")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgEtenEnDrinkenKerenPerDag")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgEtenEnDrinkenKerenPerWeek")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgEtenEnDrinkenToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Toiletgang</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgToiletgang")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgToiletgangKerenPerDag")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgToiletgangKerenPerWeek")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgToiletgangToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Overig</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgOverig")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgOverigKerenPerDag")</td>
                                <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgOverigKerenPerWeek")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgOverigToelichting")</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="ignore-for-printing">
                        <br />
                    </div>

                    <div>
                        <h4>(Verpleegkundig) handelen na ontslag</h4>
                        @{ var uvvgvptekst = "Beschrijf hiervoor de risicovolle handelingen en maak z.n. een uitvoeringsverzoek (zie: Formulier onder knop: (G)Vp / risicovolle handelingen/Uitvoeringsverzoek)"; }
                        <div>
                            <table class="table">
                                <thead>
                                    <tr class="form-group-row">
                                        <td class="td-medium">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToediening")</td>
                                        <td class="td-small"></td>
                                        <td colspan="3">Per dag / week / toelichting</td>
                                    </tr>
                                </thead>
                                <tbody id="divMedicatieToediening" class="display-none">
                                    <tr class="form-group-row">
                                        <td class="td-medium">
                                            Per os
                                        </td>
                                        <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToedieningPerOs")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningPerOsKerenPerDag")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningPerOsKerenPerWeek")</td>
                                        <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningPerOsToelichting")</td>
                                    </tr>
                                    <tr class="form-group-row">
                                        <td class="td-medium">
                                            Per injectie
                                            <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </td>
                                        <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToedieningPerInjectie")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningPerInjectieKerenPerDag")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningPerInjectieKerenPerWeek")</td>
                                        <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningPerInjectieToelichting")</td>
                                    </tr>
                                    <tr class="form-group-row">
                                        <td class="td-medium">
                                            Inhalatie/verneveling
                                        </td>
                                        <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToedieningInhalatieVerneveling")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningInhalatieVernevelingKerenPerDag")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningInhalatieVernevelingKerenPerWeek")</td>
                                        <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningInhalatieVernevelingToelichting")</td>
                                    </tr>
                                    <tr class="form-group-row">
                                        <td class="td-medium">
                                            Druppelen
                                        </td>
                                        <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToedieningDruppelen")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningDruppelenKerenPerDag")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningDruppelenKerenPerWeek")</td>
                                        <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningDruppelenToelichting")</td>
                                    </tr>
                                    <tr class="form-group-row">
                                        <td class="td-medium">
                                            Zalven
                                        </td>
                                        <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToedieningZalven")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningZalvenKerenPerDag")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningZalvenKerenPerWeek")</td>
                                        <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningZalvenToelichting")</td>
                                    </tr>
                                    <tr class="form-group-row">
                                        <td class="td-medium">
                                            Anders
                                            <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                        </td>
                                        <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToedieningAnders")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningAndersKerenPerDag")</td>
                                        <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningAndersKerenPerWeek")</td>
                                        <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToedieningAndersToelichting")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="ignore-for-printing">
                            <br />
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="td-medium">Medicatie toezicht</td>
                                    <td class="td-small"></td>
                                    <td colspan="3">Per dag / week / toelichting</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Medicatie; toezicht op inname
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToezichtOpInname")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToezichtOpInnameKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToezichtOpInnameKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToezichtOpInnameToelichting")</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="ignore-for-printing">
                            <br />
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="td-medium">Controle lichaamsfuncties</td>
                                    <td class="td-small"></td>
                                    <td colspan="3">Per dag / week / toelichting</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Zuurstoftoediening
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "ControleLichaamsfunctiesZuurstoftoediening")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesZuurstoftoedieningKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesZuurstoftoedieningKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesZuurstoftoedieningToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Bloedsuiker controle
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "ControleLichaamsfunctiesBloedsuikerControle")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesBloedsuikerControleKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesBloedsuikerControleKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesBloedsuikerControleToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Controle lichaamsfuncties
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "ControleLichaamsfunctiesAnders")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesAndersKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesAndersKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "ControleLichaamsfunctiesAndersToelichting")</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="ignore-for-printing">
                            <br />
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="td-medium">Verzorging</td>
                                    <td class="td-small"></td>
                                    <td colspan="3">Per dag / week / toelichting</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Wondverzorging
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "Wondverzorging")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "WondverzorgingKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "WondverzorgingKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "WondverzorgingToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Stomaverzorging
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "Stomaverzorging")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "StomaverzorgingKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "StomaverzorgingKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "StomaverzorgingToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Drainverzorging
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "Drainverzorging")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "DrainverzorgingKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "DrainverzorgingKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "DrainverzorgingToelichting")</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table">
                            <thead>
                                <tr class="form-group-row">
                                    <td class="td-medium">@form.FlowControl(Model.Global.FlowWebFields, "CatheterVerzorging")</td>
                                    <td class="td-small"></td>
                                    <td colspan="3">Per dag / week / toelichting</td>
                                </tr>
                            </thead>
                            <tbody id="divCatheterVerzorging" class="display-none">
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Suprapubis katheter
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "CatheterVerzorgingSuprapubisCatheter")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "CatheterVerzorgingSuprapubisCatheterKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "CatheterVerzorgingSuprapubisCatheterKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "CatheterVerzorgingSuprapubisCatheterToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Blaaskatheter
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "CatheterVerzorgingBlaascatheter")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "CatheterVerzorgingBlaascatheterKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "CatheterVerzorgingBlaascatheterKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "CatheterVerzorgingBlaascatheterToelichting")</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="ignore-for-printing">
                            <br />
                        </div>

                        <table class="table">
                            <thead>
                                <tr class="form-group-row">
                                    <td class="td-medium">@form.FlowControl(Model.Global.FlowWebFields, "Infusietherapie")</td>
                                    <td class="td-small"></td>
                                    <td colspan="3">Per dag / week / toelichting</td>
                                </tr>
                            </thead>
                            <tbody id="divInfusietherapie" class="display-none">
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Parenterale toediening medicatie / pijnbestrijding
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "InfusietherapieParenteraleToedieningMedicatie")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieParenteraleToedieningMedicatieKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieParenteraleToedieningMedicatieKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieParenteraleToedieningMedicatieToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Parenterale voeding
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "InfusietherapieParenteraleVoeding")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieParenteraleVoedingKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieParenteraleVoedingKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieParenteraleVoedingToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        PICC
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "InfusietherapiePICC")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapiePICCKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapiePICCKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapiePICCToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Centraal Veneuze Lijn
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "InfusietherapieCentraalVeneuzeLijn")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieCentraalVeneuzeLijnKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieCentraalVeneuzeLijnKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "InfusietherapieCentraalVeneuzeLijnToelichting")</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="ignore-for-printing">
                            <br />
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="td-medium">Overig</td>
                                    <td class="td-small"></td>
                                    <td colspan="3">Per dag / week / toelichting</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Sondevoeding
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "Sondevoeding")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "SondevoedingKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "SondevoedingKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "SondevoedingToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Nierfunctievervangende therapie
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "NierfunctievervangendeTherapie")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "NierfunctievervangendeTherapieKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "NierfunctievervangendeTherapieKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "NierfunctievervangendeTherapieToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Transfusies bloed(producten)
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "TransfusiesBloed")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "TransfusiesBloedKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "TransfusiesBloedKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "TransfusiesBloedToelichting")</td>
                                </tr>
                                <tr class="form-group-row">
                                    <td class="td-medium">
                                        Overige verrichtingen
                                        <span style="cursor:pointer;" data-toggle="clickover" data-content="@uvvgvptekst"><span class="glyphicon glyphicon-info-sign"></span></span>
                                    </td>
                                    <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "OverigeVerrichtingen")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "OverigeVerrichtingenKerenPerDag")</td>
                                    <td class="td-small">@form.FlowControl(Model.Global.FlowWebFields, "OverigeVerrichtingenKerenPerWeek")</td>
                                    <td>@form.FlowControl(Model.Global.FlowWebFields, "OverigeVerrichtingenToelichting")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="panel panel-green" data-section="ZorgVraagContinuiteits" style="@(Model.CurrentSection.Contains("ZorgVraagContinuiteits") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgvraag</div>
                <div class="panel-body bg-lightgreen">
                    @form.FormGroup(Model.Global.FlowWebFields, "ContinuiteitsbezoekToelichting")
                    @form.FormGroup(Model.Global.FlowWebFields, "RevalidatiedoelenToelichting")
                </div>
            </section>
            <section class="panel panel-green" data-section="ZorgVraagHulpmiddelen" style="@(Model.CurrentSection.Contains("ZorgVraagHulpmiddelen") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgvraag</div>
                <div class="panel-body bg-lightgreen">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-5 col-xs-6 control-label">Noodzakelijk te regelen hulpmiddelen</label>
                        <div class="col-md-8 col-sm-7 col-xs-6">
                            <div class="row">
                                <div class="col-xs-1">
                                    @form.FlowInput(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelen")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divNoodzakelijkTeRegelenHulpmiddelen" class="display-none">
                        @form.FormGroup(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenToelichting")
                        <div id="divAfleveringAnderAdres" class="display-none form-group">
                            <div class="col-xs-push-3 col-xs-5">
                                @form.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenAfleveringAnderAdresText")
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-green" data-section="ZorgVraagPoli" style="@(Model.CurrentSection.Contains("ZorgVraagPoli") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgvraag</div>
                <div class="panel-body bg-lightgreen">
                    @form.FormGroup(Model.Global.FlowWebFields, "Mantelzorg")
                    @form.FormGroup(Model.Global.FlowWebFields, "GewensteZorg")
                    @form.FormGroup(Model.Global.FlowWebFields, "GewensteFrequentie")
                </div>
            </section>
            @{ Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="HervattenZorg">
            @if (!Model.Sections.ContainsKey("HervattenZorg"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-yellow" data-section="HervattenZorg" style="@(Model.CurrentSection.Contains("HervattenZorg") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Hervatten zorg</div>
                <div class="panel-body bg-lightyellow">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "HervattenZorgType", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "HervattenZorgToelichting", overrideObjLabelSize: bootstrapSize120504, overrideObjControlSize: bootstrapSize120708)
                </div>
            </section>
            @{ Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="ZorgSoort">
            @if (!Model.Sections.ContainsKey("ZorgSoort"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-purple" data-section="ZorgSoortOpname" style="@(Model.CurrentSection.Contains("ZorgSoortOpname") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgsoort</div>
                <div class="panel-body bg-lightpurple">
                    @form.FormGroup(Model.Global.FlowWebFields, "PatientOntvingZorgVoorOpnameJaNee")

                    <div id="ZorginzetVoorDezeOpname" class="display-none">
                        <div class="row">
                            <div class="col-md-push-4 col-md-8 col-sm-12 col-xs-12">
                                @form.FormGroup(Model.Global.FlowWebFields, "ZorginzetVoorDezeOpnameTypeZorginstelling")
                                <div class="form-group">
                                    @form.FlowLabel(Model.Global.FlowWebFields, "ZorginzetVoorDezeOpnameTypeZorginstellingNaam")
                                    <div class="col-xs-6 col-sm-7 col-md-8">
                                        @form.FlowControl(
                                                 Model.Global.FlowWebFields,
                                                 "ZorginzetVoorDezeOpnameTypeZorginstellingNaam",
                                                 new { style = "background-color: white;" },
                                                 new InputGroupProperties(
                                                     "glyphicon-search",
                                                     "SearchOrganization(this, '" +
                                                     Url.Action(
                                                         "DepartmentSearch",
                                                         "OrganizationSearch",
                                                         new
                                                         {
                                                             transferid = Model.Global.TransferID,
                                                             Model.Global.FlowInstance.FlowDefinitionID,
                                                             OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider
                                                         }) + "' , putZorginzetVoorDezeOpnameTypeZorginstellingNaam);",
                                                     InputGroupProperties.InputGroupPosition.Right,
                                                     bindajaxalsooncontrol: true)
                                                 )
                                    </div>
                                </div>

                                @form.FormGroup(Model.Global.FlowWebFields, "ZorginzetVoorDezeOpnameTypeZorginstellingOf")
                                @form.FormGroup(Model.Global.FlowWebFields, "ZorginzetVoorDezeOpnameTypeZorginstellingToelichting")
                                @form.FormGroup(Model.Global.FlowWebFields, "ZorgsoortBestaandeZorg")

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-purple" data-section="ZorgSoortAfwijkendLeveringAdres" style="@(Model.CurrentSection.Contains("ZorgSoortAfwijkendLeveringAdres") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgsoort</div>
                <div class="panel-body bg-lightpurple">
                    @form.FormGroup(Model.Global.FlowWebFields, "AfwijkendLeveringAdres")
                </div>
            </section>
            <section class="panel panel-purple" data-section="ZorgSoortTypering" style="@(Model.CurrentSection.Contains("ZorgSoortTypering") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgsoort</div>
                <div class="panel-body bg-lightpurple" id="aftercare">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "AfterCareCategory", overrideObjControlSize: bootstrapSize120708, htmlAttributes: new
                    {
                        @class = "AfterCareCategory",
                        data_target = "#AfterCare",
                        data_aftercaretypeurl = Url.Action("GetAfterCareTypes", "LookUp", new { Model.Global.FormTypeID })
                    })
                    @{
                        var afterCareValue = form.FlowValue(Model.Global.FlowWebFields, "AfterCare").ToString();
                    }
                    <div class="form-group">
                        <label class="control-label hidden-xs col-sm-5 col-md-4"></label>
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            @form.FlowControl(Model.Global.FlowWebFields, "AfterCare", htmlAttributes: (string.IsNullOrEmpty(afterCareValue) ? new { @readonly = "readonly" } : new object { }))
                        </div>
                    </div>
                </div>
            </section>

            <section class="panel panel-purple" data-section="ZorgSoortZorginstellingVoorkeur" style="@(Model.CurrentSection.Contains("ZorgSoortZorginstellingVoorkeur") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Zorgsoort</div>
                <div class="panel-body bg-lightpurple" id="voorkeurvvt">
                    <div class="pull-right noprint clearfix">
                        <div class="btn btn-default" onclick="ClearContainer('#voorkeurvvt', true);">
                            <span class="glyphicon glyphicon-remove"></span>
                            leegmaken
                        </div>
                    </div>
                    <div style="height:40px"></div>
                    @form.FormGroup(Model.Global.FlowWebFields, "ZorgInZorginstellingVoorkeurPatient1", new { style = "background-color: white;" },
                             inputGroupProperties: new InputGroupProperties(
                                 "glyphicon-search",
                                 "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { transferid = Model.Global.TransferID, Model.Global.FlowInstance.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutHealthcareProvider1);",
                                 InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true)
                         )
                    @form.FormGroup(Model.Global.FlowWebFields, "ZorgInZorginstellingVoorkeurPatient2", new { style = "background-color: white;" },
                             inputGroupProperties: new InputGroupProperties(
                                 "glyphicon-search",
                                     "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { transferid = Model.Global.TransferID, Model.Global.FlowInstance.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutHealthcareProvider2);",
                                 InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true)
                         )
                    @form.FormGroup(Model.Global.FlowWebFields, "ZorgInZorginstellingVoorkeurPatient3", new { style = "background-color: white;" },
                             inputGroupProperties: new InputGroupProperties(
                             "glyphicon-search",
                             "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { transferid = Model.Global.TransferID, Model.Global.FlowInstance.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutHealthcareProvider3);",
                             InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true)
                         )
                    <div class="form-group">
                        <div class="col-xs-offset-6 col-sm-offset-5 col-md-offset-4 col-xs-6 col-sm-7 col-md-8">
                            @form.FlowControl(Model.Global.FlowWebFields, "ZorgInZorginstellingVoorkeurPatientOverig", new { placeholder = "Overig (vrij in te vullen)" })
                        </div>
                    </div>
                </div>
            </section>
            @{ Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="Hulpmiddelen">
            @if (!Model.Sections.ContainsKey("Hulpmiddelen"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-blue" data-section="Hulpmiddelen" style="@(Model.CurrentSection.Contains("Hulpmiddelen") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Hulpmiddelen</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "StartDatumRHD", overrideControlSize: 2)
                    @form.FormGroup(Model.Global.FlowWebFields, "EindDatumRHD", overrideControlSize: 2)
                    @form.FormGroup(Model.Global.FlowWebFields, "HulpmiddelenRHD")
                    <div class="form-group" id="healthAidDevicesTextContainer">
                        <div class="col-xs-offset-3 col-xs-5">
                            @form.FlowControl(Model.Global.FlowWebFields, "HulpmiddelenAndersRHD", htmlAttributes: new { @class = "flowfield form-control", id = "healthAidDevicesText" })
                        </div>
                    </div>
                    @form.FormGroup(Model.Global.FlowWebFields, "ToelichtingRHD")
                    @form.FormGroup(Model.Global.FlowWebFields, "AfleveringRHD")
                    <div class="form-group" id="deliveryAddressTextContainer">
                        <div class="col-xs-offset-3 col-xs-5">
                            @form.FlowControl(Model.Global.FlowWebFields, "AfleveringAndersRHD", htmlAttributes: new { @class = "flowfield form-control", id = "healthAidDevicesText" })
                        </div>
                    </div>
                </div>
            </section>
            @{ Html.EnableClientValidation();}
        </div>

        <div class="sectionContainer" id="Toelichting">
            @if (!Model.Sections.ContainsKey("Toelichting"))
            {
                Html.EnableClientValidation(false);
            }
            <section class="panel panel-purple" data-section="Toelichting" style="@(Model.CurrentSection.Contains("Toelichting") ? "" : "display:none")">
                <div class="panel-heading sectionTitle">Toelichting</div>
                <div class="panel-body bg-lightpurple">
                    @form.FormGroup(Model.Global.FlowWebFields, "AanvraagToelichtingRHD")
                </div>
            </section>
            @{ Html.EnableClientValidation();}
        </div>

    }
</div>

<div class="modal fade" id="resetvvtmodal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <b>Let op:</b> U heeft de toestemming van de patient op Nee gezet terwijl het dossier naar een andere (VVT) zorginstelling is gestuurd.<br />
                <br />
                Als u doorgaat dan wordt het dossier bij de andere zorginstelling ingetrokken waarmee deze geen toegang meer heeft tot het dossier.<br />
                <br />
                <b>Wilt u dit dossier intrekken?</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="cancelvvt">Intrekken</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetvvtdone" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                Dossier is ingetrokken bij de (VVT) zorginstelling
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="prefilledRelatedMemo modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <b>Let op: Dit formulier is voorgevuld met gegevens uit een andere dossier.</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">sluiten</button>
            </div>
        </div>
    </div>
</div>
<div id="changeFormTypeWarning" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <b>Let op!</b><br />
                Bij het wijzigen van het type aanvraag blijft alleen de inhoud van die velden behouden die in beide formulieren aanwezig zijn.<br />
                Pas als u op opslaan klikt wordt de type aanvraag wijziging definitief.<br />
                <br />
                Wilt u doorgaan?
            </div>
            <div class="modal-footer">
                <button id="FormTypeWarningCancel" type="button" data-dismiss="modal" class="btn">Nee</button>
                <button id="FormTypeWarningGo" type="button" data-dismiss="modal" class="btn btn-primary">Doorgaan</button>
            </div>
        </div>
    </div>
</div>
