﻿@using Point.Models.Enums
@using Point.MVC.WebApplication.Extensions
@model RequestFormHAVVTViewModel


@(Html.GetEnums<Status>())

<style type="text/css">
    .point-scrollable {
        overflow: auto;
    }
    .td-small {
        width: 50px;
    }

    .td-medium {
        max-width: 120px;
    }

    .no-pad-left {
        padding-left: 0px;
    }

</style>
@if (!Model.Global.IsPrintRequest)
{
    <style type="text/css">
        .display-none {
            display: none;
        }
        .ignore {
            display: none;
        }
    </style>
}

<script type="text/javascript">
    var formID = "#RequestFormHAVVT";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeeDetailsByEmployeeIDUrl = '@Html.Raw(Url.Action("GetEmployeeDetailsByEmployeeID", "LookUp"))';
    var getVerwijzingTypeByFormTypeID = '@Html.Raw(Url.Action("GetVerwijzingTypeByFormTypeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RequestFormHAVVT")

@{
    var scroller = Model.Global.IsPrintRequest ? "" : "point-scrollable";

    var labelsizenormal = new BootstrapSize(6, 5, 4);
    var labelSizeNormalString = labelsizenormal.ToString();
    var labelsizebig = new BootstrapSize(12, 5, 4);
    var labelSizeBigString = labelsizebig.ToString();
    var controlsizesmall = new BootstrapSize(8, 5, 3);
    var controlsizenormal = new BootstrapSize(6, 7, 5);
    var controlSizeNormalString = controlsizenormal.ToString();
    var controlsizebig = new BootstrapSize(12, 7, 8);
    var controlSizeBigString = controlsizebig.ToString();
}

<div class="@scroller" id="Scroller">
    @using (var form = Html.BeginFlowFormResponsive("RequestFormHAVVT", FormMethod.Post, new Dictionary<string, object> { { "id", "RequestFormHAVVT" }, { "class", "form-horizontal" } }, labelsizenormal, controlsizenormal))
    {
        <div class="sectionContainer" id="Basisgegevens">
            <section class="panel panel-blue" data-section="Basisgegevens">
                <div class="panel-body bg-lightblue">
                    <div id="divSourceOrganization">
                        @form.FormGroup(Model.Global.FlowWebFields, "SourceOrganization")
                        @form.FlowHiddenInput(Model.Global.FlowWebFields, "SourceOrganizationLocation")
                        @form.FlowHiddenInput(Model.Global.FlowWebFields, "SourceOrganizationDepartment")
                        <div class="form-group ignore-printfilter">
                            <label class="control-label col-xs-6 col-sm-5 col-md-4">Locatie / afdeling</label>
                            <div class="col-xs-6 col-sm-7 col-md-8">
                                @Model.LocationName / @Model.DepartmentName
                            </div>
                        </div>
                    </div>

                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "HuisartsNaamAdres", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DossierOwner", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                    <div class="form-group">
                        @form.FlowLabelResponsive(Model.Global.FlowWebFields, "DossierOwnerPosition", overrideText: "Functie / Telefoon", overrideLabelSize: labelsizebig)
                        <div class="col-xs-6 col-sm-4 col-md-3">@form.FlowControl(Model.Global.FlowWebFields, "DossierOwnerPosition")</div>
                        <div class="col-xs-6 col-sm-3 col-md-2">@form.FlowControl(Model.Global.FlowWebFields, "DossierOwnerTelephoneNumber")</div>
                    </div>
                </div>                
            </section>

            @if (Model.Global.IsPrintRequest)
            {
                <section class="panel panel-blue" data-section="Basisgegevens">
                    <div class="panel-heading sectionTitle">Persoonsgegevens</div>
                    <div class="panel-body bg-lightblue">
                        @{Html.RenderAction("ViewVO", "Client", new { Model.ClientID });}
                    </div>
                </section>
             }

            <section class="panel panel-azure" data-section="ZorgSoort">
                <div class="panel-heading">Zorgsoort</div>
                <div class="panel-body bg-lightblue">
                    <div id="kortformulierinputs">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "RequestFormZHVVTType", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizesmall, overrideText: "Verwijzing")
                        <div id="VerwijzingTypeContainer">
                            @form.FormGroupResponsive(Model.Global.FlowWebFields, "VerwijzingType", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                        </div>
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieRedenOpname", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig, overrideText: "Verwijzing reden")
                        <div id="CareBeginDateContainer">
                            @form.FormGroupResponsive(Model.Global.FlowWebFields, "CareBeginDate", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizesmall)
                        </div>
                    </div>
                    <div id="overigeinputs">
                        <div id="IngesteldeBehandelingContainer">
                            @form.FormGroupResponsive(Model.Global.FlowWebFields, "IngesteldeBehandeling", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                        </div>
                        <div id="OpdrachtThuiszorgContainer">
                            @form.FormGroupResponsive(Model.Global.FlowWebFields, "OpdrachtThuiszorg", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                        </div>
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "KwetsbareOudereJaNee", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                        <div id="divKwetsbareOudereJaNee" class="display-none">
                            @form.FormGroupResponsive(Model.Global.FlowWebFields, "KwetsbareOudereToelichting", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig, overrideText: "")
                        </div>
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "PsychosocialeAnamnese", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "ZorgCoordinator", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "ZorgOrganisatieToelichting", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig, overrideText: "", htmlAttributes: new { placeholder = "Toelichting zorgcoördinator" })
                        <div class="form-group">
                            @form.FlowLabelResponsive(Model.Global.FlowWebFields, "TerugkoppelingGewenst", overrideText: "Terugkoppeling gewenst", hasInformationIcon: true)
                            <div class="@controlSizeNormalString">
                                @form.FlowControl(Model.Global.FlowWebFields, "TerugkoppelingGewenst")
                            </div>
                        </div>
                        <div id="divTerugkoppelingGewenstToelichting" class="form-group display-none">
                            <label class="control-label hidden-xs @labelSizeNormalString">
                            </label>
                            <div class="@controlSizeBigString">
                                @form.FlowControl(Model.Global.FlowWebFields, "TerugkoppelingGewenstToelichting")
                            </div>
                        </div>
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "AlgemeneToelichting", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                    </div>
                </div>
            </section>                       

            <section class="panel panel-azure" data-section="Gegevens overnemen" id="GegevensOvernemenHIS">
                <div class="panel-heading">Gegevens overnemen uit HIS</div>
                <div class="panel-body bg-lightblue">
                    <div id="HISEpisodeLijstContainer">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "HISEpisodeLijst", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                    </div>
                    <div class="form-group" id="divHISOvernemenAanvullendOnderzoek">
                        @form.FlowLabelResponsive(Model.Global.FlowWebFields, "HISOvernemenAanvullendOnderzoek", overrideText: "Overnemen Aanvullend onderzoek / Psychogeriatrisch onderzoek", hasInformationIcon: true)
                        <div class="@controlSizeNormalString">
                            @form.FlowControl(Model.Global.FlowWebFields, "HISOvernemenAanvullendOnderzoek")
                        </div>
                    </div>
                    <div id="divHISAanvullendOnderzoek" class="form-group display-none">
                        <label class="control-label hidden-xs @labelSizeNormalString">
                        </label>
                        <div class="@controlSizeBigString">
                            @form.FlowControl(Model.Global.FlowWebFields, "HISAanvullendOnderzoek")
                        </div>
                    </div>
                    <div class="form-group">
                        @form.FlowLabelResponsive(Model.Global.FlowWebFields, "HISOvernemenMedicatie", overrideText: "Overnemen Medicatie", hasInformationIcon: true)
                        <div class="@controlSizeNormalString">
                            @form.FlowControl(Model.Global.FlowWebFields, "HISOvernemenMedicatie")
                        </div>
                    </div>
                    <div id="divHISOvernemenMedicatie" class="form-group display-none">
                        <label class="control-label hidden-xs @labelSizeNormalString">
                        </label>
                        <div class="@controlSizeBigString">
                            @form.FlowControl(Model.Global.FlowWebFields, "HISMedicatie")
                        </div>
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "HISGezondheidsplan", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig)
                </div>
            </section>

            <section class="panel panel-azure" data-section="Afhandeling" id="Afhandeling">
                <div class="panel-heading">Afhandeling</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "AanvraagVersturenType", overrideObjLabelSize: labelsizebig, overrideObjControlSize: controlsizebig, hasInformationIcon: true)
                    <div id="divAanvraagVersturenDoorTussenOrganisatie" class="form-group display-none ignore">
                        <label class="control-label hidden-xs @labelSizeBigString"></label>
                        <div class="@controlSizeBigString">
                            @form.FlowControl(Model.Global.FlowWebFields, "AanvraagVersturenDoorTussenOrganisatie", new { style = "background-color: white;" },
                        inputGroupProperties: new InputGroupProperties(
                            "glyphicon-search",
                            "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new {Model.Global.TransferID, FlowDefinitionID = (int)FlowDefinitionID.HA_VVT, OrganizationTypeID = (int)OrganizationTypeID.RegionaalCoordinatiepunt }) + "' , PutTussenOrganisatie);",
                            InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))
                        </div>
                    </div>
                </div>
            </section>

            <section class="panel panel-azure" data-section="IngangsdatumZorg" id="IngangsdatumZorg">
                <div class="panel-heading sectionTitle">Situatie patiënt</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "GewensteIngangsdatum", overrideObjControlSize: controlsizesmall)
                    @{ string divclass = "col-xs-12 col-sm-7 col-md-8 no-pad-left";}
                    <div id="zorgverleningAspecten">
                        <div class="form-group form-group-container">
                            <label class="col-xs-12 col-sm-5 col-md-4 control-label">Relevante aspecten voor zorgverlening</label>
                            <div class="col-xs-12 col-sm-7 col-md-8">
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningIncontinentie")
                                </div>
                                <div class="@divclass" id="IncontinentieAanwezig">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningIncontinentieKeus")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningGehoorproblemen")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningVisusproblemen")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningSpraakproblemen")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningVerwaarlozing")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningDwaalZwerfgedrag")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningZwakOntbrekendMantelzorgnetwerk")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "KamerNoodzakelijk")
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "Verslaving")
                                    <div class="row" id="VerslavingAanwezig">
                                        <div class="col-xs-12" style="margin-left:20px;">
                                            @form.FlowControl(Model.Global.FlowWebFields, "VerslavingDrank")
                                            @form.FlowControl(Model.Global.FlowWebFields, "VerslavingDrugs")
                                            @form.FlowControl(Model.Global.FlowWebFields, "VerslavingMedicatie")
                                        </div>
                                    </div>
                                </div>
                                <div class="@divclass">
                                    @form.FlowControl(Model.Global.FlowWebFields, "Obesitas")
                                </div>
                            </div>
                        </div>
                        @form.FormGroup(Model.Global.FlowWebFields, "ObesitasGewicht")
                        @form.FormGroup(Model.Global.FlowWebFields, "ObesitasLengte")
                        @form.FormGroup(Model.Global.FlowWebFields, "ObesitasBMI")
                        @form.FormGroup(Model.Global.FlowWebFields, "RelevanteAspectenVoorZorgverleningAndersText")
                    </div>
                </div>
            </section>

            <section class="panel panel-azure" data-section="PsychischFunctioneren" id="PsychischFunctioneren">
                <div class="panel-body bg-lightblue">
                    @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenZiekteInzichtJaNee")
                    @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenJaNee")
                    <div id="divPsychischFunctionerenJaNee" class="display-none">
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenGeheugenverlies")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenDesorientatie")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenGedragsstoornissen")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenStemmingsstoornissen")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenDenkWaarnemingsstroornissen")
                        @form.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenItemIngevuldToelichting")
                    </div>
                </div>
            </section>

            <section class="panel panel-primary" data-section="Toestemming" id="Toestemming">
                <div class="panel-heading sectionTitle">
                    <span style="cursor:pointer;" data-toggle="clickover" data-placement="right" data-content="Patient geeft toestemming voor: @Html.Encode(Html.Partial("SignatureInfo", "FormType"))" data-original-title="" title="">
                        Toestemming patiënt
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </span>
                </div>
                <div class="panel-body bg-lightblue">
                    <div class="visible-print">
                        Toestemming patiënt of diens vertegenwoordiger voor:
                        @Html.Partial("SignatureInfo", "FormType")
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatient", overrideObjLabelSize: new BootstrapSize(12, 5, 4), overrideObjControlSize: new BootstrapSize(12, 7, 8))

                    <div id="ToestemmingPatientJa" class="display-none">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatientVan", overrideObjLabelSize: new BootstrapSize(12, 5, 4), overrideObjControlSize: new BootstrapSize(12, 7, 8))
                        <div class="row">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                <div id="ToestemmingPatientVanVertegenwoordiger" class="display-none">
                                    @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientVanVertegenwoordigerNaam", overrideLabelSize: 12, overrideControlSize: 12)
                                    @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientVanVertegenwoordigerAdres", overrideLabelSize: 12, overrideControlSize: 12)

                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @form.FlowControl(Model.Global.FlowWebFields, "ToestemmingPatientHandtekeningVastgelegd")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="ToestemmingPatientNee" class="display-none">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, "GeenToestemmingPatientVan", overrideObjLabelSize: new BootstrapSize(12, 5, 4), overrideObjControlSize: new BootstrapSize(12, 7, 8))
                        <div class="row">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FormGroup(Model.Global.FlowWebFields, "GeenToestemmingPatientVanReden", overrideLabelSize: 12, overrideControlSize: 12)
                            </div>
                        </div>
                    </div>

                    <div id="ToestemmingPatientNietMogelijk" class="display-none">
                        <div class="row">
                            <div class="col-sm-push-5 col-md-push-4 col-xs-12 col-sm-7 col-md-8">
                                @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientNietMogelijkReden", overrideLabelSize: 12, overrideControlSize: 12)
                            </div>
                        </div>
                    </div>

                    @form.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientIngevuldDoor")

                </div>
            </section>

            <section class="panel panel-green" data-section="ZorgVraagBasis" id="ZorgVraagBasis">
                <div class="panel-heading sectionTitle">Zorgvraag</div>
                <div class="panel-body bg-lightgreen">
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="td-medium">Basis zorg</td>
                                <td class="td-small"></td>
                                <td >Toelichting</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="form-group-row">
                                <td class="td-medium">Persoonlijke verzorging</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgPersoonlijkeVerzorging")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgPersoonlijkeVerzorgingToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Transfer bed/stoel</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgTransferBedStoel")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgTransferBedStoelToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Mobiliteit</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgMobiliteit")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgMobiliteitToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Eten en Drinken</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgEtenEnDrinken")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgEtenEnDrinkenToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Toiletgang</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgToiletgang")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgToiletgangToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Overig</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "BasiszorgOverig")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "BasiszorgOverigToelichting")</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="ignore-for-printing">
                        <br />
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <td class="td-medium">Medicatie toezicht</td>
                                <td class="td-small"></td>
                                <td>Toelichting</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="form-group-row">
                                <td class="td-medium">Medicatie; toezicht op inname</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "MedicatieToezichtOpInname")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "MedicatieToezichtOpInnameToelichting")</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="ignore-for-printing">
                        <br />
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <td class="td-medium">Verzorging</td>
                                <td class="td-small"></td>
                                <td>Toelichting</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="form-group-row">
                                <td class="td-medium">Wondverzorging</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "Wondverzorging")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "WondverzorgingToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Stomaverzorging</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "Stomaverzorging")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "StomaverzorgingToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Drainverzorging</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "Drainverzorging")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "DrainverzorgingToelichting")</td>
                            </tr>
                            <tr class="form-group-row">
                                <td class="td-medium">Katheter</td>
                                <td class="td-small">@form.FlowInput(Model.Global.FlowWebFields, "KatheterVerzorging")</td>
                                <td>@form.FlowControl(Model.Global.FlowWebFields, "KatheterVerzorgingToelichting")</td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="ignore-for-printing">
                        <br />
                    </div>



                </div>
            </section>

        </div>
    }
</div>