﻿@using Point.Models.Enums
@using Point.MVC.WebApplication.Extensions
@model  RequestFormZHZHViewModel

@{
    var isPrint = Model.Global.IsPrintRequest;
}

@(Html.GetEnums<Status>())

<style type="text/css">
    .point-scrollable {
        overflow: auto;
    }
</style>

<script type="text/javascript">
    var formID = "#RequestFormZHZH";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var getDoctorByID = '@Html.Raw(Url.Action("GetDoctorByID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RequestFormZHZH")

@{
    var scroller = isPrint ? "" : "point-scrollable";
}

<div class="@scroller" id="Scroller">
    @using (var form = Html.BeginFlowFormResponsive("RequestFormZHZH", FormMethod.Post, new Dictionary<string, object> { { "id", "RequestFormZHZH" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 5)))
    {
        <div class="sectionContainer" id="Basisgegevens">
            <section class="panel panel-blue" data-section="Basisgegevens">
                <div class="panel-body bg-lightblue">
                    @if (isPrint)
                    {
                        @form.FormGroup(Model.Global.FlowWebFields, "SourceOrganization")
                        <div class="form-group ignore-printfilter">
                            <label class="control-label col-xs-6 col-sm-5 col-md-3">Locatie / afdeling / kamernr</label>
                            <div class="col-xs-6 col-sm-7 col-md-5">
                                @Model.LocationName / @Model.DepartmentName / @form.FlowValue(Model.Global.FlowWebFields, "Kamernummer")
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-12 col-md-3">Versturend ziekenhuis/locatie/afdeling</label>
                            <div class="col-xs-4 col-md-3">
                                @form.FlowControl(Model.Global.FlowWebFields, "SourceOrganization")
                            </div>
                            <div class="col-xs-4 col-md-3">
                                @form.FlowControl(Model.Global.FlowWebFields, "SourceOrganizationLocation")
                            </div>
                            <div class="col-xs-4 col-md-3">
                                @form.FlowControl(Model.Global.FlowWebFields, "SourceOrganizationDepartment")
                            </div>
                        </div>
                    }
                    @form.FormGroup(Model.Global.FlowWebFields, "CreatedByDepartmentTelephoneNumber")
                    @form.FormGroup(Model.Global.FlowWebFields, "DossierOwner")
                    @form.FormGroup(Model.Global.FlowWebFields, "FilledOutBy")
                    @form.FormGroup(Model.Global.FlowWebFields, "DossierOwnerTelephoneNumber")
                    @form.FormGroup(Model.Global.FlowWebFields, "AanvraagVoor")
                </div>
            </section>

            <section class="panel panel-blue" data-section="Arts">
                <div class="panel-heading">Behandelend arts</div>
                <div class="panel-body bg-lightblue">
                    @if (!isPrint)
                    {
                        @form.FormGroup(Model.Global.FlowWebFields, "BehandelendArtsID")
                    }
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarNaam")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarAGB")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarBIG")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarSpecialisme")
                    @form.FormGroup(Model.Global.FlowWebFields, "BehandelaarTelefoonPieper")
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "BehandelaarOpmerkingen", overrideObjControlSize: new BootstrapSize(12, 7, 5))
                </div>
            </section>

            <section class="panel panel-blue" data-section="MedischeSituatie">
                <div class="panel-heading">Medische situatie</div>
                <div class="panel-body bg-lightblue">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieRedenOpname", overrideObjControlSize: new BootstrapSize(12, 7, 5))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieVoorgeschiedenis", overrideObjControlSize: new BootstrapSize(12, 7, 5))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "MedischeSituatieBehandeling", overrideObjControlSize: new BootstrapSize(12, 7, 5))
                    @form.FormGroup(Model.Global.FlowWebFields, "PrognoseVerwachteOntwikkeling")
                </div>
            </section>

            <section class="panel panel-purple" data-section="ZorgSoort">
                <div class="panel-heading">Zorgsoort</div>
                <div class="panel-body bg-lightpurple" id="voorkeurvvt">
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialistOK", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, "PreoperatieveScreeningDatum", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                </div>
            </section>
        </div>
    }
</div>