﻿@using Point.Models.Enums
@using Point.MVC.WebApplication.Extensions
@model SendToHospitalViewModel

<style>
    .contactinformationpopover {
        max-width: 500px; /* default boostrap style is max-width: 276px;*/
    }
</style>

<script type="text/javascript">
    var formID = "#SendToHospital";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var getLocationsByOrganizationIDUrl = '@Html.Raw(Url.Action("GetLocationsByOrganization", "LookUp"))';
    var getDepartmentsByLocationIDUrl = '@Html.Raw(Url.Action("GetDepartmentsByLocation", "LookUp"))';
    var formRequestUrl = '@Html.Raw(Url.Action("SendToHospital", "FormType", new { Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID}))';
    var sendToOtherUrl = '@Html.Raw(Url.Action("SendToOtherHospital", "FormType", new { Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID}))';
    var resetUrl = '@Html.Raw(Url.Action("CancelReceivingOrganization", "FormType", new { Model.Global.TransferID, Digest = AntiFiddleInjection.CreateDigest(Model.Global.TransferID) }))';
    var phaseInstanceStatus = parseInt('@Model.PhaseInstanceStatus', 10);
    var lastSendToHospitalLocation = parseInt('@Model.LastSentToHospitalLocationID', 10);
    var lastSendToHospitalDepartment = parseInt('@Model.LastSentToHospitalDepartmentID', 10);
    var selectdepartment = @Model.SelectDepartment.ToString().ToLower();
    var showResetZH = @(Model.ShowResetZH.ToString().ToLower());
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/SendToHospital")

@if (!Model.Global.IsPrintRequest)
{
    <style type="text/css">
        .display-none {
            display: none;
        }
    </style>
}

<div id="dialog-confirm" class="modal fade" role="dialog" aria-hidden="true" title="Dossier intrekken">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Dossier intrekken
            </div>
            <div class="modal-body">
                U gaat het dossier intrekken bij @(Model.ReceivingOrganization) die hierdoor geen toegang meer heeft tot dit dossier. <br />
                <br />
                Wilt u doorgaan?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Doorgaan</button>
            </div>
        </div>
    </div>
</div>

@using (var form = Html.BeginFlowFormResponsive("SendToHospital", FormMethod.Post, new Dictionary<string, object> { { "id", "SendToHospital" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 5)))
{
    using (var section1 = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            @if (Model.SenderOrganizationTypeIsHospital)
            {
                @section1.FormGroup(Model.Global.FlowWebFields, "SourceOrganization")
                @section1.FormGroup(Model.Global.FlowWebFields, "SourceOrganizationLocation")
                @section1.FormGroup(Model.Global.FlowWebFields, "SourceOrganizationDepartment")
            }
            else
            {
                @section1.FormGroup(Model.Global.FlowWebFields, "SourceHealthCareProvider")
            }
        </div>
    }

    using (var section2 = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-body bg-lightblue">
            @section2.FormGroupResponsive(Model.Global.FlowWebFields, "TransferDate", overrideObjControlSize: new BootstrapSize(6, 4, 3))
            @section2.FormGroupResponsive(Model.Global.FlowWebFields, "SendToHospitalComments", overrideObjControlSize: new BootstrapSize(12, 7, 5))

            @if (Model.SelectDepartment) //Voor ZHZH
            {
                <div class="form-group">
                    @section2.FlowLabel(Model.Global.FlowWebFields, "DestinationHospitalDepartment")
                    <div class="col-xs-6 col-sm-7 col-md-5">
                        @section2.FlowControl(Model.Global.FlowWebFields, "DestinationHospitalDepartment", new { style = "background-color: white;" },
                                      inputGroupProperties: new InputGroupProperties("glyphicon-search",
                                      "SearchOrganization(this, '" + Url.Action("DepartmentSearch", "OrganizationSearch",
                                          new
                                          {
                                              Model.Global.TransferID,
                                              OrganizationTypeID = (int)OrganizationTypeID.Hospital,
                                              Model.FlowDefinitionID,
                                              ShowOnLoad = true,
                                              MinLength = 0,
                                              ShowAll = true,
                                              ShowPostalCodeTab = true,
                                              ShowPostalCodeRangeTab = true
                                          }) + "' , PutDepartment);",
                                      InputGroupProperties.InputGroupPosition.Right, true))

                        <input type="hidden" id="PreviousDestinationHospitalDepartment" value="@section2.FlowValue(Model.Global.FlowWebFields, "DestinationHospitalDepartment")" />
                    </div>
                    <div class="col-sm-offset-5 col-md-offset-0 col-xs-6 col-md-4">
                        <div id="btncanceldepartment" style="@(Model.ShowButtonCancelDepartment ? "" : "display:none" )" class="btn btn-default" onclick="AskCancelOrganization();">Dossier intrekken</div>
                    </div>
                    <div class="col-xs-offset-6 col-xs-6 col-sm-offset-5 col-sm-7 col-md-offset-0 col-md-3">
                        <div id="SendToOtherDepartment" class="btn btn-block btn-primary" style="display: none;">Verstuur naar andere afdeling</div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @section2.FlowLabel(Model.Global.FlowWebFields, "DestinationHospitalLocation")
                    <div class="col-xs-6 col-sm-7 col-md-5">
                        @section2.FlowControl(Model.Global.FlowWebFields, "DestinationHospitalLocation", new { style = "background-color: white;" },
                           inputGroupProperties: new InputGroupProperties("glyphicon-search",
                           "SearchOrganization(this, '" + Url.Action("LocationSearch", "OrganizationSearch",
                               new OrganizationSearchViewModel
                               {
                                   TransferID = Model.Global.TransferID,
                                   OrganizationTypeID = OrganizationTypeID.Hospital,
                                   FlowDefinitionID = Model.FlowDefinitionID,
                                   ShowOnLoad = true,
                                   MinLength = 0,
                                   ShowAll = true,
                                   ShowPostalCodeTab = false,
                                   ShowPostalCodeRangeTab = false
                               }) + "' , PutLocation);",
                           InputGroupProperties.InputGroupPosition.Right, true))

                        <input type="hidden" id="PreviousDestinationHospitalLocation" value="@section2.FlowValue(Model.Global.FlowWebFields, "DestinationHospitalLocation")" />
                    </div>
                    <div class="col-sm-offset-5 col-md-offset-0 col-xs-6 col-md-4">
                        <div id="btncancellocation" style="@(Model.ShowButtonCancelLocation ? "" : "display:none" )" class="btn btn-default" onclick="AskCancelOrganization();">Dossier intrekken</div>
                    </div>
                    <div class="col-xs-offset-6 col-xs-6 col-sm-offset-5 col-sm-7 col-md-offset-0 col-md-3">
                        <div id="SendToOther" class="btn btn-primary" style="display: none;">Verstuur naar ander ZH</div>
                    </div>
                </div>
            }

            <div class="form-group">
                <label class="control-label col-xs-12 col-md-3">Eerder gekozen ziekenhuizen</label>
                <div class="col-xs-12 col-md-9" id="divPreviousHealthCareProviders">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:60%">Instelling</th>
                                <th style="width:10%">Status</th>
                                <th style="width:20%">Verzonden</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody id="vvtTableBody">
                            @foreach (var item in Model.Historyinvites)
                            {
                                <tr>
                                    <td class="organizationName" data-organizationid="@item.OrganizationID"><span style="cursor: pointer;" data-toggle="clickover" data-title="@item.Department.FullName()" data-url='@Url.Action("DepartmentInformation", "ContactInformation", new {id = item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})'><span class="glyphicon glyphicon-info-sign"></span></span> @item.Department.FullName()</td>
                                    <td>@item.InviteStatus.GetDescription()</td>
                                    <td>@item.InviteSend.ToPointDateHourDisplay()</td>
                                    <td class="text-right">
                                        @if (item.InviteSend == null && !Model.Global.IsReadMode)
                                        {
                                            <span class="btn btn-danger" data-organizationinviteid="@item.OrganizationInviteID" onclick="DeleteInvite(this)">Verwijder</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    using (var sectionToestemming = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" }, { "data-section", "Toestemming" } }))
    {
        <div class="panel-body bg-lightblue">
            @sectionToestemming.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatient", overrideObjControlSize: new BootstrapSize(12, 12, 5))
            <div style="height:20px" class="hidden-md hidden-lg"></div>
            <div id="ToestemmingPatientJa" class="display-none">
                @sectionToestemming.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatientVan", overrideObjControlSize: new BootstrapSize(12, 12, 5))
                <div class="row">
                    <div class="col-md-offset-3 col-xs-12 col-md-9">
                        <div id="ToestemmingPatientVanVertegenwoordiger" class="display-none">
                            @sectionToestemming.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientVanVertegenwoordigerNaam", overrideLabelSize: 12, overrideControlSize: 12)
                            @sectionToestemming.FormGroup(Model.Global.FlowWebFields, "ToestemmingPatientVanVertegenwoordigerAdres", overrideLabelSize: 12, overrideControlSize: 12)

                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                @sectionToestemming.FlowControl(Model.Global.FlowWebFields, "ToestemmingPatientHandtekeningVastgelegd")
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:20px" class="hidden-md hidden-lg"></div>
            </div>

            <div id="ToestemmingPatientNee" class="display-none">
                @sectionToestemming.FormGroupResponsive(Model.Global.FlowWebFields, "GeenToestemmingPatientVan", overrideObjControlSize: new BootstrapSize(12, 12, 5))
                <div class="row">
                    <div class="col-md-offset-3 col-xs-12 col-md-9">
                        @sectionToestemming.FormGroupResponsive(Model.Global.FlowWebFields, "GeenToestemmingPatientVanReden", overrideObjControlSize: new BootstrapSize(12))
                    </div>
                </div>
                <div style="height:20px" class="hidden-md hidden-lg"></div>
            </div>

            <div id="ToestemmingPatientNietMogelijk" class="display-none">
                <div class="row">
                    <div class="col-md-offset-3 col-xs-12 col-md-9">
                        @sectionToestemming.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatientNietMogelijkReden", overrideObjControlSize: new BootstrapSize(12))
                    </div>
                </div>
                <div style="height:20px" class="hidden-md hidden-lg"></div>
            </div>

            @sectionToestemming.FormGroupResponsive(Model.Global.FlowWebFields, "ToestemmingPatientIngevuldDoor", overrideObjControlSize: new BootstrapSize(12, 12, 5))

        </div>
    }
}

<div class="modal fade" id="resetzhmodal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <b>Let op:</b> U heeft de toestemming van de patient op Nee gezet terwijl het dossier naar een ander ziekenhuis is gestuurd.<br />
                <br />
                Als u doorgaat dan wordt het dossier bij het andere ziekenhuis ingetrokken waarmee deze geen toegang meer heeft tot het dossier.<br />
                <br />
                <b>Wilt u dit dossier intrekken?</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="cancelzh" onclick="CancelOrganization();">Intrekken</button>
            </div>
        </div>
    </div>
</div>

<div id="dialogConfirmSendToOther" class="modal fade" role="dialog" aria-hidden="true" title="Verstuur naar ander ZH">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Het dossier wordt naar een andere ziekenhuis/locatie gestuurd.<br />
                <br />
                Wilt u doorgaan?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Nee </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnSendToOther">Ja</button>
            </div>
        </div>
    </div>
</div>