﻿@using Point.MVC.WebApplication.Extensions;
@model SendOverdrachtViewModel

<script type="text/javascript">
    var formID = "#SendOverdracht";
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")

<section class="panel panel-blue">

    <div class="panel-body bg-lightblue">

        @using (var form = Html.BeginFlowForm("SendOverdracht", FormMethod.Post, new Dictionary<string, object> { { "id", "SendOverdracht" }, { "class", "form-horizontal" } }))
        {
            <div class="form-group">
                <div class="col-xs-12">
                    De verpleegkundige overdracht wordt automatisch verstuurd naar de VVT instelling als voldaan is aan de volgende voorwaarden:<br />
                    </div>
                <div class="col-xs-12 checkbox">
                    <label><input type="checkbox" disabled="disabled" @(Model.VOIsDone ? "checked" : "") />Verpleegkundige overdracht is definitief gemaakt</label>
                </div>
            
                @if (Model.DisplayHasAccepted)
                {
                    <div class="col-xs-12 checkbox">
                        <label><input type="checkbox" disabled="disabled" @(Model.HasAccepted ? "checked" : "") />VVT instelling heeft JA antwoord (VVT kan overnemen) teruggestuurd naar transferpunt</label> 
                    </div>
                }
                
                @if (Model.VOIsDone && (!Model.DisplayHasAccepted || (Model.DisplayHasAccepted && Model.HasAccepted)))
                {
                    <div class="col-xs-12">
                        Aan de voorwaarden is voldaan. @(Model.DisplayHasAccepted ? "Verpleegkundige overdracht is verstuurd op " + Model.VersturenVoRealizedDate + " door " + Model.VersturenVoRealizedEmployee : "")
                    </div>
                }           
            </div>
        }

        <a href="@Url.Action("StartFlowForm", "FlowMain", new {Model.Global.TransferID, PhaseDefinitionID = Model.VOPhaseDefinitionID })" class="btn btn-primary" style="margin-top:20px;">Ga naar het VO formulier</a>
    </div>
</section>