﻿<ul>
    <li>Het ter beschikking stellen van gegevens door de organisatie aan het Centrum Indicatiestelling Zorg, Gemeente waar zij/hij woonachtig is, het zorgkantoor, de zorgverzekeraar, facilitaire bedrijven en zorg-instellingen.</li>
    <li>Het indienen van een aanvraag voor (indicatiestelling voor) zorg bij het Centrum Indicatiestelling Zorg en Gemeente waar zij/hij woonachtig is, het zorgkantoor, de zorgverzekeraar, facilitaire bedrijven en zorginstellingen.</li>
    <li>Het opvragen van informatie over hierboven vermelde persoon bij hulp/zorgverlenende organisaties door het Centrum Indicatiestelling Zorg en/of Gemeente waar zij/hij woonachtig is.</li>
    <li>Het mededelen van het indicatiebesluit aan de zorgverlenende organisatie(s) door het Centrum Indicatiestelling Zorg en Gemeente waar zij/hij woonachtig is.</li>
</ul>
@if (Request.IsPrintRequest()) {
<div>
    <br />
    Specifiek (aanvinken indien van toepassing)<br />
    <br />
    Het indienen van een aanvraag voor indicatiestelling bij het Centrum Indicatiestelling Zorg voor een indicatie:<br />
    &nbsp;<input type="checkbox" />&nbsp;Langdurige zorg (Wlz)<br />
    &nbsp;<input type="checkbox" />&nbsp;Artikel 60 toets (Bopz)<br />
    <br />
    Het verstrekken van informatie aan Huisarts(en) en Specialisten Ouderengeneeskunde ten behoeve van:<br />
    &nbsp;<input type="checkbox" />&nbsp;Triage Geriatrische RevalidatieZorg<br />
    &nbsp;<input type="checkbox" />&nbsp;Afweging EersteLijns Verblijf<br />
    <br />
</div>
}