﻿@using Point.MVC.WebApplication.Extensions;
@using Point.Database.Extensions;
@model SignatureViewModel

<script type="text/javascript">
    var formID = "#Signature";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")

<b>Patiënt/transfer gegevens</b>
@using (var form = Html.BeginFlowForm("Signature", FormMethod.Post, new Dictionary<string, object> { { "id", "Signature" }, { "class", "form-horizontal" } }))
{
    <div class="ignore-printfilter">
        <div class="form-group">
            <div class="control-label col-xs-3">Naam</div>
            <div class="col-xs-5">
                @Model.FullName
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Geboortedatun</div>
            <div class="col-xs-5">
                @Model.BirthDate
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Point TransferID</div>
            <div class="col-xs-5">
                @Model.Global.TransferID
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Geslacht</div>
            <div class="col-xs-5">
                @Model.Gender.GetDescription()
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Locatie</div>
            <div class="col-xs-5">
                @if (Model.Location != null)
                {
                    @(Model.Location.Name)
                }
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Afdeling</div>
            <div class="col-xs-5">
                @if (Model.Department != null)
                {
                    @($"{Model.Department.Name} {Model.Department.PhoneNumber}")
                }
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Kamernummer</div>
            <div class="col-xs-5">
                @Model.KamerNummer
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Medewerker transferpunt</div>
            <div class="col-xs-5">
                @if (Model.MdwTP != null)
                {
                    @($"{Model.MdwTP.FullName()} {Model.MdwTP.PhoneNumber}")
                }
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Medewerker CIZ</div>
            <div class="col-xs-5">
                @if (Model.MdwCIZ != null)
                {
                    @($"{Model.MdwCIZ.FullName()} {Model.MdwCIZ.PhoneNumber}")
                }
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3">Medewerker Zorgaanbieder</div>
            <div class="col-xs-5">
                @if (Model.MdwVVT != null)
                {
                    @($"{Model.MdwVVT.FullName()} {Model.MdwVVT.PhoneNumber}")
                }
            </div>
        </div>
    </div>
    <br />
    <b>Toestemming patiënt voor nazorg/indicatiestelling</b><br />
    <br />
    <b>Toestemming patiënt</b><br />

    <div>
        <div class="form-group">
            @*Dont delete this*@
        </div>
        @Html.Partial("SignatureInfo", "FormType")
        <br />
        <div>Nadere toelichting: </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div>Reden niet verkregen: @Model.GeenToestemmingPatientVanReden</div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-xs-6">
                Handtekening patiënt<br />
                <br />
                <br />
                <br />
                <br />
                <div style="border-bottom:1px solid black"></div>
                <br />
                Handtekening van de patiënt is geregistreerd door <br />
                <br />
                <br />
                <div style="border-bottom:1px solid black"></div>
            </div>
            <div class="col-xs-6">
                Handtekening gemachtigde (indien van toepassing)<br />
                <br />
                <br />
                <br />
                <br />
                <div style="border-bottom:1px solid black"></div>
                <br />
                Datum<br />
                <br />
                <br />
                <div style="border-bottom:1px solid black"></div>
            </div>
        </div>
    </div>
}
