﻿@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model TransferRouteViewModel

@{
    var destinationHealthCareProvider = Html.FlowValueString(Model.Global.FlowWebFields, FlowFieldConstants.Name_DestinationHealthCareProvider, withlookup: true);
}

<script type="text/javascript">
    var formID = "#TransferRoute";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var flowDefinitionID = parseInt('@Model.FlowDefinitionID', 10);

    var hideThuiszorg =  @(Model.HideThuiszorg.ToString().ToLower());

    var invitequeuedstatus = parseInt('@((int)InviteStatus.Queued)', 10);
    var inviteactivestatus = parseInt('@((int)InviteStatus.Active)', 10);
    var invitequeuedstatusname = '@InviteStatus.Queued.GetDescription()';
    var inviteactivestatusname = '@InviteStatus.Active.GetDescription()';
    var newinvitequeuedstatusname = 'In verzendrij plaatsen';
    var newinviteactivestatusname = 'Versturen naar';

    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getLocationsByOrganizationIDUrl = '@Html.Raw(Url.Action("GetLocationsByOrganizationAndFlowDefinitionID", "LookUp"))';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var searchUrl = '@Html.Raw(Url.Action("DepartmentSearch", "OrganizationSearch", new { Model.Global.TransferID, Model.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }))';

    var pointZANextPhaseUrl = '@Html.Raw(Url.Action("SendToOrganizationsByViewModel", "FormType", new {
                              Model.Global.TransferID,
                              Model.Global.FormSetVersionID,
                              Model.FlowInstanceID,
                              NextPhaseDefinitionID = Model.PhaseDefinitionZAID,
                              FormTypeID = Model.Global.FormTypeID,
                              InviteType = InviteType.Regular }))';

    var pointIINextPhaseUrl = '@Html.Raw(Url.Action("TransferRouteSendToOrganization", "FormType", new {
                              Model.Global.TransferID,
                              Model.Global.FormSetVersionID,
                              Model.FlowInstanceID,
                              NextPhaseDefinitionID = Model.PhaseDefinitionIIID,
                              FormTypeID = (int)FlowFormType.RouterenDossierZHVVT,
                              InviteType = InviteType.IndicatingCIZ }))';

    var pointGRZNextPhaseUrl = '@Html.Raw(Url.Action("TransferRouteSendToOrganization", "FormType", new {
                               Model.Global.TransferID,
                               Model.FlowInstanceID,
                               NextPhaseDefinitionID = Model.PhaseDefinitionGRZID,
                               FormTypeID = (int)FlowFormType.RouterenDossierZHVVT,
                               InviteType = InviteType.IndicatingGRZ }))';
    var grzCanBeSent = @Model.GRZCanBeSent.BoolToJSTrueFalse();

    var resendtextvvt = 'Verstuur naar andere VVT';
    var resendtextii = 'Verstuur naar andere Ind.Inst.';
    var getVVTFirstChoice = '@Html.Raw(Url.Action("TransferRoute", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseInstanceID }))';
    var getFinancingUrl = '@Html.Raw(Url.Action("GetAfterCareFinancingJson", "Lookup"))';
    var showResetVVT = @(Model.ShowResetVVT.ToString().ToLower());
    var hasToestemmingSection = @(Model.HasToestemmingSection.ToString().ToLower());
    var resetVVTUrl = '@Html.Raw(Url.Action("CancelVVT", "FormType", new {Model.Global.TransferID, Digest = AntiFiddleInjection.CreateDigest(Model.Global.TransferID) }))';
    var deleteinviteurl = '@Html.Raw(Url.Action("DeleteInvite", "Organization"))';
    var transferRouteInvitesUrl = "@Html.Raw(Url.Action("TransferRouteInvites", "FormType"))";
</script>

@(Html.GetEnums<AftercareClassificationTypeID>())
@(Html.GetEnums<AftercareClassificationShowID>())

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/TransferRoute")

@if (!Model.Global.IsPrintRequest)
{
    <style type="text/css">
        .display-none {
            display: none;
        }

        .reasonarea {
            border-radius: 5px;
            max-height: 50px;
            min-height: 50px;
            max-width: 500px;   
            overflow-y: hidden;
        }
    </style>
}

<div id="dialog-grzwarning" class="modal fade" role="dialog" aria-hidden="true" title="Dossier versturen naar GRZ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>Dossier versturen naar GRZ</b>
            </div>
            <div class="modal-body">
                U kunt het dossier nog niet versturen naar een GRZ instelling.<br />
                Het formulier "GRZ Inventarisatie Triage" is nog niet definitief gemaakt.
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-cantadd" class="modal fade" role="dialog" aria-hidden="true" title="Dossier versturen naar VVT">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>Kan het dossier niet versturen naar een (andere) VVT</b>
            </div>
            <div class="modal-body">
                Registratie is beëindigd zonder transfer naar vervolgvoorziening.<br />
                <i>(Zie formulier Gerealiseerde Zorg)</i>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm" class="modal fade" role="dialog" aria-hidden="true" title="Dossier intrekken">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Dossier intrekken
            </div>
            <div class="modal-body">
                U gaat het dossier intrekken bij VVT @destinationHealthCareProvider die hierdoor geen toegang meer heeft tot dit dossier.
                Het dossier zal naar een eventueel eerstvolgende VVT in de wachtrij worden verstuurd.<br />
                <br />
                Reden intrekken dossier: 
                <textarea id="cancelReasonTxt" maxlength="200" name="cancelReasonTxt" value="" class="flowfield form-control reasonarea"></textarea>
               <br /><br />
                Wilt u doorgaan?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Doorgaan</button>
            </div>
        </div>
    </div>
</div>

@using (var form = Html.BeginFlowFormResponsive("TransferRoute", FormMethod.Post, new Dictionary<string, object> { { "id", "TransferRoute" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 5)))
{

    using (var sectionZorgSoort = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-heading" id="zorgsoort">Zorgsoort</div>
        <div class="panel-body bg-lightblue">
            @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCareCategoryDefinitive, htmlAttributes: new
               {
                   @class = "AfterCareCategory",
                   data_target = "#AfterCareDefinitive",
                   data_aftercaretypeurl = Url.Action("GetAfterCareTypes", "LookUp", new { Model.Global.FormTypeID })
               })

            @{
                var afterCareValue = form.FlowValue(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCareDefinitive).ToString();
            }
            @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCareDefinitive, htmlAttributes: (string.IsNullOrEmpty(afterCareValue) ? new { @readonly = "readonly" } : new object { }), overrideText: "")

            @if (Model.DisplayAfterCareSuggestion)
            {
                <div class="form-group">
                    <div class="col-md-offset-3 col-xs-6 col-sm-5 col-md-2">
                        <label class="control-label">Voorstel uit Aanvraag nazorg</label>
                    </div>
                    <div class="col-xs-6 col-sm-7 col-md-3">
                        @sectionZorgSoort.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCare)
                    </div>
                </div>
            }
            @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_AfterCareFinancing)
            @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_AdjustmentStandingCare)
        </div>
    }

    if (Model.HasToestemmingSection)
    {
        <div class="sectionContainer" id="Toestemming">
            <section class="panel panel-primary" data-section="Toestemming">
                <div class="panel-heading sectionTitle">
                    <span style="cursor:pointer;" data-toggle="clickover" data-placement="right" data-content="Patient geeft toestemming voor: @Html.Encode(Html.Partial("SignatureInfo", "FormType"))" data-original-title="" title="">
                        Toestemming patiënt
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </span>
                </div>
                <div class="panel-body bg-lightblue">
                    <div class="visible-print">
                        Toestemming patiënt of diens vertegenwoordiger voor:
                        @Html.Partial("SignatureInfo", "FormType")
                    </div>
                    @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatient, overrideObjControlSize: new BootstrapSize(12, 12, 5))
                    <div style="height:20px" class="hidden-md hidden-lg"></div>
                    <div id="ToestemmingPatientJa" class="display-none">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatientVan, overrideObjControlSize: new BootstrapSize(12, 12, 5))
                        <div class="row">
                            <div class="col-md-offset-3 col-xs-12 col-md-9">
                                <div id="ToestemmingPatientVanVertegenwoordiger" class="display-none">
                                    @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatientVanVertegenwoordigerNaam, overrideLabelSize: 12, overrideControlSize: 12)
                                    @form.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatientVanVertegenwoordigerAdres, overrideLabelSize: 12, overrideControlSize: 12)

                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @form.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatientHandtekeningVastgelegd)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:20px" class="hidden-md hidden-lg"></div>
                    </div>

                    <div id="ToestemmingPatientNee" class="display-none">
                        @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_GeenToestemmingPatientVan, overrideObjControlSize: new BootstrapSize(12, 12, 5))
                        <div class="row">
                            <div class="col-md-offset-3 col-xs-12 col-md-9">
                                @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_GeenToestemmingPatientVanReden, overrideObjControlSize: new BootstrapSize(12))
                            </div>
                        </div>
                        <div style="height:20px" class="hidden-md hidden-lg"></div>
                    </div>

                    <div id="ToestemmingPatientNietMogelijk" class="display-none">
                        <div class="row">
                            <div class="col-md-offset-3 col-xs-12 col-md-9">
                                @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatientNietMogelijkReden, overrideObjControlSize: new BootstrapSize(12))
                            </div>
                        </div>
                        <div style="height:20px" class="hidden-md hidden-lg"></div>
                    </div>

                    @form.FormGroupResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_ToestemmingPatientIngevuldDoor, overrideObjControlSize: new BootstrapSize(12, 12, 5))

                </div>
            </section>
        </div>
    }

    using (var sectionVVT = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        <div class="panel-heading" id="zorgsoort">VVT</div>
        <div class="panel-body bg-lightblue">
            <div class="row" id="destinationComment" style="@(Model.ShowPointParticipatorWarning ? "" : "display:none;")">
                <div class="col-xs-12">
                    <div class="alert alert-danger">Let op: De VVT waar het dossier naar toe is gestuurd maakt geen gebruik van POINT. U dient de aanvraag op een andere veilige manier te versturen.</div>
                </div>
            </div>
            
            <div class="form-group hidden">
                @sectionVVT.FlowLabelResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedHealthCareProvider, overrideLabelSize: new BootstrapSize(12, 5, 3))
                <div class="col-xs-6 col-sm-7 col-md-5">
                    @sectionVVT.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedHealthCareProvider, new { style = "background-color: white;" },
                        inputGroupProperties: new InputGroupProperties(
                            "glyphicon-search",
                            "startMultiSelect(this)",
                            InputGroupProperties.InputGroupPosition.Right))
                </div>
            </div>

            <div class="form-group hidden">
                @sectionVVT.FlowLabelResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_DestinationHealthCareProvider, overrideLabelSize: new BootstrapSize(12, 5, 3))
                <div class="col-xs-6 col-sm-7 col-md-5">
                    @sectionVVT.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_DestinationHealthCareProvider)
                </div>
                <div class="col-sm-offset-5 col-md-offset-0 col-xs-6 col-md-4">
                    <div id="btncancelvvt" style="@(Model.ShowButtonCancelVVT ? "" : "display:none" )" class="btn btn-danger" onclick="AskCancelVVT();">Dossier intrekken</div>
                </div>
            </div>
            
            @Html.HiddenFor(m => m.Global.TransferID, new { id = "TransferID" })
            @Html.HiddenFor(m => m.FlowInstanceID)
            @Html.HiddenFor(m => m.FlowDefinitionID)

            @Html.Partial("TransferRouteInvites", Model.TransferRouteInvitesViewModel)

            <div class="form-group ignore-printfilter">
                <label class="control-label col-xs-12 col-md-3">Eerder verzonden VVT('s)</label>
                <div class="col-xs-12 col-md-9" id="divPreviousHealthCareProviders">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:60%">Instelling</th>
                                <th style="width:10%">Status</th>
                                <th style="width:20%">Verzonden</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody class="print-control" id="vvtHistoryTableBody">
                            @foreach (var item in Model.HistoryInvites)
                            {
                                <tr>
                                    <td class="organizationName @(TransferRouteViewModel.CurrentStatuses.Contains(item.InviteStatus) ? "current" : "")" data-organizationid="@item.OrganizationID" data-departmentid="@item.DepartmentID" data-departmentname="@item.Department.FullName()" data-organizationinviteid="@item.OrganizationInviteID" data-invitestatusname="@(item.InviteStatus.GetDescription())" data-invitestatus="@((int)item.InviteStatus)">
                                        <span style="cursor: pointer;" data-toggle="clickover" data-title="@item.Department.FullName()" data-url='@Url.Action("DepartmentInformation", "ContactInformation", new {id = item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})'>
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </span> @item.Department.FullName()
                                    </td>
                                    <td>@item.InviteStatus.GetDescription()</td>
                                    <td>@item.InviteSend.ToPointDateHourDisplay()</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                @sectionVVT.FlowLabelResponsive(Model.Global.FlowWebFields, FlowFieldConstants.Name_ZorgInZorginstellingVoorkeurPatient1, overrideLabelSize: new BootstrapSize(12, 5, 3))
                <div class="col-xs-6 col-sm-7 col-md-5">
                    
                    @sectionVVT.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_ZorgInZorginstellingVoorkeurPatient1, new { style = "background-color: white;" },
                            inputGroupProperties: new InputGroupProperties(
                                "glyphicon-search",
                                "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { Model.Global.TransferID, Model.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutHealthcareProviderChoice);",
                                InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))

                </div>
                <div class="col-sm-offset-5 col-md-offset-0 col-xs-6 col-md-4">
                    @{
                        var zorgInZorginstellingVoorkeurPatient1 = form.FlowValue(Model.Global.FlowWebFields, FlowFieldConstants.Name_ZorgInZorginstellingVoorkeurPatient1).ToString();

                        if (!Model.Global.IsReadMode)
                        {
                            if (Model.TransferRouteInvitesViewModel.CurrentInvites.Any() && string.IsNullOrEmpty(zorgInZorginstellingVoorkeurPatient1))
                            {
                                <div class="btn btn-primary" onclick="ActueleVVTToVoorkeurPatient1();">Overnemen van Actuele VVT</div>
                            }
                            if (!Model.TransferRouteInvitesViewModel.CurrentInvites.Any() && !string.IsNullOrEmpty(zorgInZorginstellingVoorkeurPatient1))
                            {
                                <div class="btn btn-primary" onclick="SendVVTPreference();">Direct versturen</div>
                            }
                        }

                        @Html.HiddenFor(m => m.VVTPreferenceParticipation);
                    }
                </div>
            </div>
        </div>
    }

    if (!Model.DisableII)
    {
        var buttonSendII = Model.IIAlreadySent ? "Verstuur naar andere Ind.Inst." : "Verstuur naar Ind.Inst.";

        using (var sectionIndicInst = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
        {
            bool isIISelected = !String.IsNullOrEmpty(Html.FlowValueString(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedII));
            string displayButtonStyle = isIISelected ? "initial" : "none";
            <div class="panel-heading" id="zorgsoort">Verzenden naar indicerende CIZ organisatie</div>
            <div class="panel-body bg-lightblue">
                <div class="form-group">
                    @sectionIndicInst.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedII)
                    <div class="col-xs-6 col-sm-7 col-md-5">
                        @sectionIndicInst.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedII, new { style = "background-color: white;" },
                            inputGroupProperties: new InputGroupProperties(
                            "glyphicon-search",
                            "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { organizationtypeid = (int)OrganizationTypeID.CIZ, Model.Global.TransferID, Model.FlowDefinitionID }) + "' , PutOrganisationII);",
                            InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))
                    </div>
                    <div class="col-xs-offset-6 col-xs-6 col-sm-offset-5 col-sm-7 col-md-offset-0 col-md-3">
                        <div class="btn btn-block btn-primary" style="display:@displayButtonStyle" id="btnSendII" data-phasedefinitionid="@Model.Global.PhaseDefinitionID" data-phaseinstanceid="@Model.Global.PhaseInstanceID" data-alreadysent="@Model.IIAlreadySent">@buttonSendII</div>
                    </div>
                </div>
                
                <div class="form-group">
                    @sectionIndicInst.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_DestinationII)
                    <div class="col-xs-8 col-sm-5 col-md-3">
                        @sectionIndicInst.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_DestinationII)
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <input type="text" disabled class="form-control" value="@Model.DateTimeIND" />
                    </div>
                </div>
                <div class="form-group @(Model.CIZOrganizations.Any() ? "ignore-printfilter" : "invisible")">
                    <label class="control-label col-xs-12 col-md-3">Eerder gekozen indicerende organisaties</label>
                    <div class="col-xs-12 col-md-9" id="divPreviousII">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:60%">Instelling</th>
                                    <th style="width:10%">Status</th>
                                    <th style="width:20%">Verzonden</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody id="vvtHistoryTableBody">
                                @foreach (var item in Model.CIZOrganizations)
                                {
                                    <tr>
                                        <td class="organizationName @(TransferRouteViewModel.CurrentStatuses.Contains(item.InviteStatus) ? "current" : "")" data-organizationid="@item.OrganizationID" data-departmentid="@item.DepartmentID" data-departmentname="@item.Department.FullName()" data-organizationinviteid="@item.OrganizationInviteID" data-invitestatusname="@(item.InviteStatus.GetDescription())" data-invitestatus="@((int)item.InviteStatus)">
                                            <span style="cursor: pointer;" data-toggle="clickover" data-title="@item.Department.FullName()" data-url='@Url.Action("DepartmentInformation", "ContactInformation", new {id = item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})'>
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </span> @item.Department.FullName()
                                        </td>
                                        <td>@item.InviteStatus.GetDescription()</td>
                                        <td>@item.InviteSend.ToPointDateHourDisplay()</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }

    if (!Model.DisableGRZ)
    {
        var buttonSendGRZ = Model.GRZAlreadySent ? "Verstuur naar andere GRZ. Inst." : "Verstuur naar GRZ. Inst.";

        using (var sectionIndicInst = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
        {
            bool isGRZSelected = !String.IsNullOrEmpty(Html.FlowValueString(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedGRZ));
            string displayButtonStyle = isGRZSelected ? "initial" : "none";
            <div class="panel-heading" id="zorgsoort">Verzenden naar indicerende GRZ organisatie</div>
            <div class="panel-body bg-lightblue">
                <div class="form-group">
                    @sectionIndicInst.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedGRZ)
                    <div class="col-xs-6 col-sm-7 col-md-5">
                        @sectionIndicInst.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_SelectedGRZ, new { style = "background-color: white;" },
                            inputGroupProperties: new InputGroupProperties(
                            "glyphicon-search",
                            "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { organizationtypeid = (int)OrganizationTypeID.GRZ, Model.Global.TransferID, Model.FlowDefinitionID }) + "' , PutOrganisationGRZ);",
                            InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))
                    </div>
                    <div class="col-xs-offset-6 col-xs-6 col-sm-offset-5 col-sm-7 col-md-offset-0 col-md-3">
                        <div class="btn btn-block btn-primary" style="display:@displayButtonStyle" id="btnSendGRZ" data-phasedefinitionid="@Model.Global.PhaseDefinitionID" data-phaseinstanceid="@Model.Global.PhaseInstanceID" data-alreadysent="@Model.GRZAlreadySent">@buttonSendGRZ</div>
                    </div>
                </div>
                <div class="form-group">
                    @sectionIndicInst.FlowLabel(Model.Global.FlowWebFields, FlowFieldConstants.Name_DestinationGRZ)
                    <div class="col-xs-8 col-sm-5 col-md-3">
                        @sectionIndicInst.FlowControl(Model.Global.FlowWebFields, FlowFieldConstants.Name_DestinationGRZ)
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <input type="text" disabled class="form-control" value="@Model.DateTimeGRZ" />
                    </div>
                </div>
                <div class="form-group @(Model.GRZOrganizations.Any() ? "ignore-printfilter" : "invisible")">
                    <label class="control-label col-xs-12 col-md-3">Eerder gekozen indicerende GRZ Instellingen</label>
                    <div class="col-xs-12 col-md-9" id="divPreviousII">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:60%">Instelling</th>
                                    <th style="width:10%">Status</th>
                                    <th style="width:20%">Verzonden</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody id="vvtHistoryTableBody">
                                @foreach (var item in Model.GRZOrganizations)
                                {
                                    <tr>
                                        <td class="organizationName @(TransferRouteViewModel.CurrentStatuses.Contains(item.InviteStatus) ? "current" : "")" data-organizationid="@item.OrganizationID" data-departmentid="@item.DepartmentID" data-departmentname="@item.Department.FullName()" data-organizationinviteid="@item.OrganizationInviteID" data-invitestatusname="@(item.InviteStatus.GetDescription())" data-invitestatus="@((int)item.InviteStatus)">
                                            <span style="cursor: pointer;" data-toggle="clickover" data-title="@item.Department.FullName()" data-url='@Url.Action("DepartmentInformation", "ContactInformation", new {id = item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})'>
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </span> @item.Department.FullName()
                                        </td>
                                        <td>@item.InviteStatus.GetDescription()</td>
                                        <td>@item.InviteSend.ToPointDateHourDisplay()</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
}

<div class="modal fade" id="resetvvtmodal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <b>Let op:</b> U heeft de toestemming van de patient op Nee gezet terwijl het dossier naar een andere (VVT) zorginstelling is gestuurd.<br />
                <br />
                Als u doorgaat dan wordt het dossier bij de andere zorginstelling ingetrokken waarmee deze geen toegang meer heeft tot het dossier.<br />
                <br />
                <b>Wilt u dit dossier intrekken?</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="cancelvvt">Intrekken</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetvvtdone" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                Dossier is ingetrokken bij de (VVT) zorginstelling
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="dialogConfirmPutMultiHealthcareProvider" class="modal fade" role="dialog" aria-hidden="true" title="VVT plaatsen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Let op: u plaatst nu een VVT die geen gebruik maakt van POINT in de verzendrij.<br />
                <br />
                Wilt u doorgaan?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Nee </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnPutMultiHealthcareProvider">Ja</button>
            </div>
        </div>
    </div>
</div>
