﻿@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model TransferRouteViewModel

@{
    var selectedHealthCareProvider = Html.FlowValueString(Model.Global.FlowWebFields, "SelectedHealthCareProvider", withlookup: false);
}

<script type="text/javascript">
    var formID = "#TransferRouteHAVVT";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var flowDefinitionID = parseInt('@Model.FlowDefinitionID', 10);
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
    var pointZANextPhaseUrl = '@Html.Raw(Url.Action("TransferRouteSendToOrganization", "FormType", new {Model.Global.TransferID, Model.FlowInstanceID, Model.Global.PhaseDefinitionID, NextPhaseDefinitionID = Model.PhaseDefinitionZAID, FormTypeID = (int)FlowFormType.TransferRouteHAVVT }))';
    var resetVVTUrl = '@Html.Raw(Url.Action("CancelVVT", "FormType", new {Model.Global.TransferID, Digest = AntiFiddleInjection.CreateDigest(Model.Global.TransferID) }))';
    var deleteinviteurl = '@Html.Raw(Url.Action("DeleteInvite", "Organization"))';
    var centraalmeldpunturl = '@Html.Raw(Url.Action("GetCentraalMeldpuntByOrganizationID", "Lookup"))';
    var addQued = @Model.HealthCareProviders.Any(it => it.InviteStatus == InviteStatus.Active).ToString().ToLower();
    var showtussenorgwarning = @Model.ShowTussenorgWarning.ToString().ToLower();
</script>

<style type="text/css">
    .phaseButtonNext {
        display: none;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/TransferRouteHAVVT")

@if (!Model.Global.IsPrintRequest)
{
    <style type="text/css">
        .display-none {
            display: none;
        }
    </style>
}

@using (var form = Html.BeginFlowForm("TransferRouteHAVVT", FormMethod.Post, new Dictionary<string, object>() { { "id", "TransferRouteHAVVT" }, { "class", "form-horizontal" } }, 3, 9))
{
    using (var sectionVVT = form.BeginFlowFormSection())
    {
        var addbuttonaction = "SearchOrganization(this, '" + Url.Action("OrganizationSearch", "OrganizationSearch", 
            new OrganizationSearchViewModel() {
                TransferID = Model.Global.TransferID,
                FlowDefinitionID = FlowDefinitionID.HA_VVT,
                OrganizationTypeID = OrganizationTypeID.HealthCareProvider
            }) + "' , PutHealthcareProvider);";

        <div id="divDestinationHealthCareProvider" style="display:none;" >
            @*Deze is puur voor registratie van de actuele vvt*@
            @form.FormGroupResponsive(Model.Global.FlowWebFields, "DestinationHealthCareProvider")
        </div>

        if (!Model.Global.IsReadMode)
        {
            <div class="row" style="margin-bottom:3px">
                <div class="col-xs-12 text-right">
                    <span class="btn btn-green" onclick="@addbuttonaction">Zorginstelling kiezen</span>
                </div>
            </div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th style="width:55%">Zorginstelling</th>
                    <th style="width:15%">Status</th>
                    <th style="width:20%">Verzonden</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody id="vvtTableBody">
                @foreach (var item in Model.HealthCareProviders)
                {
                    var extraparamclass = "";
                    if(item.InviteStatus == InviteStatus.Acknowledged)
                    {
                        extraparamclass = "bg-green";
                    }
                    else if (item.InviteStatus == InviteStatus.AcknowledgedPartially)
                    {
                        extraparamclass = "bg-orange";
                    } else if (item.InviteStatus == InviteStatus.Refused)
                    {
                        extraparamclass = "bg-red";
                    }
                    else if (item.InviteStatus == InviteStatus.Active)
                    {
                        extraparamclass = "bg-blue";
                    }

                    <tr class="form-group-row">
                        <td class="print-control organizationName @extraparamclass" data-organizationid="@item.OrganizationID"><span style="cursor: pointer;" data-toggle="clickover" data-title="@item.Department.FullName()" data-url='@Url.Action("DepartmentInformation", "ContactInformation", new {id = item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})'><span class="glyphicon glyphicon-info-sign"></span></span> @item.Department.FullName()</td>
                        <td class="print-control @extraparamclass">
                            @if (item.InviteStatus == Point.Models.Enums.InviteStatus.AcknowledgedPartially)
                            {
                                <a class="btn btn-default" href="@Url.Action("StartFlowFormByFormTypeID", "FlowMain", new { Model.Global.TransferID, FormTypeID = (int)FlowFormType.EvaluateDecision })">@item.InviteStatus.GetDescription()</a>
                            }
                            else
                            {
                                @item.InviteStatus.GetDescription()
                            }
                        </td>
                        <td class="print-control @extraparamclass">@item.InviteSend.ToPointDateHourDisplay()</td>
                        <td class="print-control @extraparamclass text-right">
                            @if (item.InviteSend == null && !Model.Global.IsReadMode)
                            {
                                <span class="btn btn-danger" data-organizationinviteid="@item.OrganizationInviteID" onclick="DeleteInvite(this)">Verwijder</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        if (Model.ShowWarningMessage)
        {
            <div class="alert alert-warning">U heeft 1 zorginstelling gekozen. U kunt optioneel 1 of meer extra zorginstellingen kiezen. Deze komen dan in de wachtrij, dat betekent dat wanneer de zorginstelling nee zegt dat deze automatisch naar de volgende zorginstelling wordt verstuurd.</div>
        }
        if (Model.ShowAddInfoMessage)
        {
            <div class="alert alert-info">Klik op "Zorginstelling kiezen" om een keuze te maken.</div>
        }
    }
}

<div id="dialog-confirm" class="modal fade" role="dialog" aria-hidden="true" title="Dossier intrekken">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Dossier intrekken
            </div>
            <div class="modal-body">
                U gaat het dossier intrekken bij VVT @selectedHealthCareProvider die hierdoor geen toegang meer heeft tot dit dossier. <br />
                <br />
                Wilt u doorgaan?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Doorgaan</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetvvtdone" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                Dossier is ingetrokken bij de (VVT) zorginstelling
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tussenorgwarning" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                Let op!
            </div>
            <div class="modal-body">
                Dossier word verstuurd door het (regionaal) coördinatiepunt.
                U hoeft hier geen actie te ondernemen.
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-cantadd" class="modal fade" role="dialog" aria-hidden="true" title="Dossier versturen naar VVT">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>Kan het dossier niet versturen naar een (andere) VVT</b>
            </div>
            <div class="modal-body">
                Registratie is beëindigd zonder transfer naar vervolgvoorziening.<br />
                <i>(Zie formulier Gerealiseerde Zorg)</i>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Ok</button>
            </div>
        </div>
    </div>
</div>