﻿@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@model TransferRouteViewModel

@{
    var buttonSendVVTText = Model.VVTAlreadySent ? "Verstuur naar andere VVT" : "Verstuur naar VVT";
}

<script type="text/javascript">
    var formID = "#TransferRouteRzTP";
    var formSetVersionID = parseInt('@Model.Global.FormSetVersionID', 10);
    var formRequestUrl = '@Html.Raw(Url.Action("TransferRouteRzTP", "FormType", new { Model.Global.TransferID, Model.Global.FormSetVersionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID, FormTypeID = (int)FlowFormType.RouterenDossierRzTP }))';
    var pointZANextPhaseUrl = '@Html.Raw(Url.Action("TransferRouteSendToOrganization", "FormType", new {Model.Global.TransferID, Model.FlowInstanceID, NextPhaseDefinitionID = Model.PhaseDefinitionZAID, FormTypeID = (int)FlowFormType.RouterenDossierRzTP, InviteType = InviteType.Regular }))';
    var resendtextvvt = 'Verstuur naar andere VVT';
    var vvtalreadysent = @Json.Encode(Model.VVTAlreadySent);
    var formtypeid = @Model.Global.FormTypeID;
</script>

<style type="text/css">
    .phaseButtonNext {
        display: none;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/TransferRouteRzTP")

@using (var form = Html.BeginFlowFormResponsive("TransferRouteRzTP", FormMethod.Post, new Dictionary<string, object> { { "id", "TransferRouteRzTP" }, { "class", "form-horizontal" } }, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 5)))
{
    @form.FlowInput(Model.Global.FlowWebFields, "AfterCareCategory", htmlAttributes: new { style = "display:none;" }) @*Administrative purpose only*@

    using (var sectionVVT = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
    {
        bool isVVTSelected = !String.IsNullOrEmpty(Html.FlowValueString(Model.Global.FlowWebFields, "SelectedHealthCareProvider"));

        <div class="panel-heading" id="zorgsoort">VVT</div>
        <div class="panel-body bg-lightblue">
            <div style="display:none">
                @sectionVVT.FormGroup(Model.Global.FlowWebFields, FlowFieldConstants.Name_TransferDateVVT)
            </div>
            <div class="row" id="sendtodestination" style="@(!Model.VVTAlreadySent && isVVTSelected ? "" : "display:none;")">
                <div class="col-md-push-3 col-md-9">
                    <div class="alert alert-danger">Let op: De VVT is geselecteerd. Om het dossier daadwerkelijk naar deze VVT te versturen dient u nog op de knop 'Verstuur naar VVT' te klikken.</div>
                </div>
            </div>
            <div class="row" id="destinationComment" style="@(Model.ShowPointParticipatorWarning ? "" : "display:none;")">
                <div class="col-md-push-3 col-md-9">
                    <div class="alert alert-danger">Let op: De VVT waar het dossier naar toe is gestuurd maakt geen gebruik van POINT. U dient de aanvraag op een andere veilige manier te versturen.</div>
                </div>
            </div>
            <div class="form-group">
                @sectionVVT.FlowLabelResponsive(Model.Global.FlowWebFields, "SelectedHealthCareProvider", overrideLabelSize: new BootstrapSize(12, 5, 3))
                <div class="col-xs-6 col-sm-7 col-md-5">
                    @sectionVVT.FlowControl(Model.Global.FlowWebFields, "SelectedHealthCareProvider", new { style = "background-color: white;" },
                    inputGroupProperties: new InputGroupProperties(
                        "glyphicon-search",
                        "SearchOrganization(this, '" + @Url.Action("DepartmentSearch", "OrganizationSearch", new { Model.Global.TransferID, Model.FlowDefinitionID, OrganizationTypeID = (int)OrganizationTypeID.HealthCareProvider }) + "' , PutHealthcareProvider);",
                        InputGroupProperties.InputGroupPosition.Right, bindajaxalsooncontrol: true))
                </div>
                <div class="col-sm-offset-5 col-md-offset-0 col-xs-6 col-sm-7 col-md-4">
                    <div class="btn btn-block btn-primary" style="display:@(isVVTSelected ? "initial" : "none")" id="btnSendZa" data-phasedefinitionid="@Model.Global.PhaseDefinitionID" data-phaseinstanceid="@Model.Global.PhaseInstanceID" data-alreadysent="@Model.VVTAlreadySent">@buttonSendVVTText</div>
                </div>
            </div>
            <div class="form-group">
                @sectionVVT.FlowLabelResponsive(Model.Global.FlowWebFields, "DestinationHealthCareProvider", overrideLabelSize: new BootstrapSize(12, 5, 3))
                <div class="col-xs-12 col-sm-7 col-md-5">
                    @sectionVVT.FlowControl(Model.Global.FlowWebFields, "DestinationHealthCareProvider")
                </div>
            </div>
            <div class="form-group @(Model.HealthCareProviders.Any() ? "ignore-printfilter" : "invisible")">
                <label class="control-label col-xs-12 col-md-3">Eerder gekozen VVT('s)</label>
                <div class="col-xs-12 col-md-9" id="divPreviousHealthCareProviders">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:63%">Instelling</th>
                                <th style="width:37%">Datum verzonden</th>
                            </tr>
                        </thead>
                        <tbody id="vvtTableBody">
                            @foreach (var item in Model.HealthCareProviders)
                            {
                                <tr>
                                    <td class="organizationName" data-organizationid="@item.OrganizationID"><span style="cursor: pointer;" data-toggle="clickover" data-title="@item.Department.FullName()" data-url='@Url.Action("DepartmentInformation", "ContactInformation", new {id = item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})'><span class="glyphicon glyphicon-info-sign"></span></span> @item.Department.FullName()</td>
                                    <td>@item.InviteSend.ToPointDateHourDisplay()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
