﻿@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums
@model TransferRouteInvitesViewModel

@{
    var ajaxCallHealthcareProvider = "SearchOrganization(this, '" + Html.Raw(Model.SearchUrl) + "' , AskPutMultiHealthcareProvider);";
}

<style type="text/css">
    tr.invitestatus_2, tr.invitestatus_5, tr.invitestatus_3 {
        background-color: yellowgreen !important;
    }

    tr.invitestatus_1, tr.invitestatus_6 {
        background-color: orange !important;
    }

    tr.deleted {
        background-color: indianred !important;
    }

    #btnSendCancel {
        margin-right: 5px;
    }

    #btnSendMultiple {
        border-color: #00bdf4;
        border-width: medium;
        margin-top: -2px;
    }

    #invites-toolbar {
        margin-bottom: 10px;
    }
</style>

<div id="transferRouteInvitesPanel" class="form-group ignore-printfilter">
    @if (!ViewData.IsReadMode())
    {
        <div id="invites-toolbar" class="col-xs-12 col-md-12 pull-right" >
            <div id="invites-actions" class="col-xs-11 col-md-11" style="display: none;">
                <button id="btnSendMultiple" type="button" data-dismiss="" class="btn btn-primary pull-right" title="Wijzigingen daadwerkelijk doorvoeren" onclick="Send();">Doorvoeren</button>
                <button id="btnSendCancel" type="button" data-dismiss="" class="btn btn-gray pull-right pull-right"  title="Wijzigingen ongedaan maken" onclick="Cancel();">Annuleren</button>
            </div>
            <div id="invites-add" class="text-right">
                <button type="button" data-dismiss="" data-canadd='@(Model.CanAdd ? "true" : "false")' class="btn btn-primary glyphicon-plus" title="Toevoegen" onclick="@ajaxCallHealthcareProvider">Toevoegen</button>
            </div>
        </div>
    }
    <label class="control-label col-xs-12 col-md-3">Actuele VVT('s)</label>
    <div class="col-xs-12 col-md-9" id="divCurrentHealthCareProviders">
        <table class="table table-striped" id="selectedza">
            <thead>
            <tr>
                <th style="width:60%">Instelling</th>
                <th style="width:10%">Status</th>
                <th style="width:20%">Verzonden</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody class="print-control" id="vvtTableBody">
            @foreach (var item in Model.CurrentInvites)
            {
                <tr class="invitestatus_@((int)item.InviteStatus)" data-organizationid="@item.OrganizationID" data-departmentid="@item.DepartmentID" data-departmentname="@item.Department.FullName()" data-organizationinviteid="@item.OrganizationInviteID" data-invitestatusname="@(item.InviteStatus.GetDescription())" data-invitestatus="@((int) item.InviteStatus)">
                    <td class="organizationName current" >
                        <span style="cursor: pointer;" data-toggle="clickover" data-title="@item.Department.FullName()" data-url='@Url.Action("DepartmentInformation", "ContactInformation", new {id = item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})'>
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </span> @item.Department.FullName()
                    </td>
                    <td>
                        @if (item.InviteStatus == Point.Models.Enums.InviteStatus.AcknowledgedPartially)
                        {
                            <a class="btn btn-default" href="@Url.Action("StartFlowFormByFormTypeID", "FlowMain", new { Model.TransferID, FormTypeID = (int)FlowFormType.EvaluateDecision })">@item.InviteStatus.GetDescription()</a>
                        }
                        else
                        {
                            @item.InviteStatus.GetDescription()
                        }
                    </td>
                    <td>@item.InviteSend.ToPointDateHourDisplay()</td>
                    <td class="text-right">
                        @if (!ViewData.IsReadMode())
                        {
                            if (item.InviteSend.HasValue)
                            {
                                <div class="btn btn-danger" onclick="AskCancelVVT(this);">Intrekken</div>
                            }
                            else
                            {
                                <span class="btn btn-danger" data-organizationinviteid="@item.OrganizationInviteID" onclick="DeleteInvite(this)">Verwijder</span>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>
