﻿@using Point.MVC.WebApplication.Extensions;
@model ZorgAdviesViewModel

@{
    bool isprint = Model.Global.IsPrintRequest;
    bool asPartial = Model.Global.AsPartial;
    var scroller = (isprint || asPartial) ? "" : "pre-scrollable";
    bool hideZorgAdvies = Model.HideZorgAdvies;
    bool isreadonly = Model.Global.IsReadMode;
    string readonlystring = isreadonly ? "disabled readonly" : "";

    var clientid = Model.Global.FlowInstance.Transfer.ClientID;
}

<script type="text/javascript">
    var formID = "#ZorgAdvies";
    var formRequestUrl = '@Html.Raw(Model.Global.FormRequestUrl)';
    var getEmployeePhoneNumberByEmployeeID = '@Html.Raw(Url.Action("GetEmployeePhoneNumberByEmployeeID", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/ZorgAdvies")

<script type="text/javascript">
    $.validator.setDefaults({ ignore: '.ignore *' });
</script>

@{
    var collapsable = isprint ? "" : "collapse";
    var headerstyle = "pt-color pt-lightblue";
    if (isprint)
    {
        headerstyle = "print-header";
    }
}

@if (isprint)
{
    <style type="text/css">
        #ZorgAdvies .panel-body > ul > li {
            margin-bottom: 20px;
        }

        #ZorgAdvies .print-header {
            font-weight: bold;
            font-size: 14pt;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #ZorgAdvies .uitklapcontainer .print-header {
            font-size: 14pt;
            font-weight: bold !important;
        }

        #ZorgAdvies .print-header:first-of-type {
            margin-top: 0 !important;
        }

        .uitklapcontainer {
            padding-left: 20px;
        }

        h4 {
            font-size: 18px !important;
        }

        .nav > li > a {
            padding: 0 !important;
        }

        #ZorgAdvies .sub-section {
            page-break-inside: avoid;
        }
    </style>
}
else
{
    <style type="text/css">
        #ZorgAdvies a.pt-color {
            font-size: 100% !important;
        }

        #ZorgAdvies .uitklapcontainer a.pt-color {
            font-size: 100% !important;
        }

        #ZorgAdvies .uitklapcontainer {
            padding: 5px 0 10px 44px;
        }

            #ZorgAdvies .uitklapcontainer .uitklapcontainer {
                background-color: white;
                padding: 5px 10px 10px 44px;
            }

        #Scroller {
            padding-right: 15px;
        }

        .ignore {
            display: none;
        }
    </style>
}

<div class="@scroller" id="Scroller">

    @using (var form = Html.BeginFlowFormResponsive("ZorgAdvies", FormMethod.Post, new Dictionary<string, object>() { { "id", "ZorgAdvies" }, { "class", "form-horizontal" } }, disableform: asPartial, labelSize: new BootstrapSize(6, 5, 3), controlSize: new BootstrapSize(6, 7, 5)))
    {
        if (hideZorgAdvies)
        {
            <div class="alert alert-info">Advieszorgplan TP is niet geactiveerd in "Aanvullen van het dossier door TP"</div>
        }
        else
        {
            decimal totalminutes = 0;
            string incomplete = "";

            using (var sectionBasis = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", (isprint ? "" : "panel panel-blue") }, { "data-section", "Basisgegevens" }, { "id", "basisgegevens" } }))
            {
                <div class="@(isprint ? "" : "panel-body bg-lightblue")">
                    @sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "DatumEindeBehandelingMedischSpecialist", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    @sectionBasis.FormGroupResponsive(Model.Global.FlowWebFields, "CareBeginDate", overrideObjControlSize: new BootstrapSize(6, 4, 3))
                    <div class="form-group">
                        @sectionBasis.FlowLabelResponsive(Model.Global.FlowWebFields, "CareBeginTime", overrideLabelSize: new BootstrapSize(12, 5, 3))
                        <div class="col-xs-12 col-sm-7 col-md-5">
                            <div class="row">
                                <div class="col-xs-5 pull-left">@sectionBasis.FlowControl(Model.Global.FlowWebFields, "CareBeginTime")</div>
                                <div class="pull-left control-label">en</div>
                                <div class="col-xs-5 pull-right">@sectionBasis.FlowControl(Model.Global.FlowWebFields, "CareEndTime")</div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            using (var sectionZorgAdvies = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", (isprint ? "" : "panel panel-blue") }, { "data-section", "Zorgadviesdata" }, { "id", "zorgadviesdata" } }))
            {
                var sections = Model.ZorgAdviesItems.Select(zpi => zpi.Section).Distinct();
                if (!isprint)
                {
                    <div class="panel-heading">Zorgadvies</div>
                }
                <div class="@(isprint ? "" : "panel-body bg-lightblue")">
                    <ul class="nav nav-pills nav-stacked pt-nav-colors">
                        @if (!asPartial)
                        {
                            <li class="section-group">
                                <a class="@headerstyle" data-toggle="collapse" href="#patientgegevens" aria-expanded="false" aria-controls="patientgegevens">Patiëntgegevens</a>
                                <div class="@collapsable uitklapcontainer" id="patientgegevens">
                                    @{Html.RenderAction("ViewBasic", "Client", new { ClientID = clientid });}
                                    <h3>Contactpersonen</h3>
                                    @{Html.RenderAction("ListReadOnly", "ContactPerson", new { clientid = ViewBag.ClientID });}
                                </div>
                            </li>
                        }

                        @foreach (var sectionname in sections)
                        {
                            var sectionid = "section_" + sections.ToList().IndexOf(sectionname);
                            <li class="section-group">
                                <a class="@headerstyle" data-toggle="collapse" href="#@sectionid" aria-expanded="false" aria-controls="@sectionname">@sectionname</a>
                                <div class="@collapsable uitklapcontainer" id="@sectionid">
                                    <ul class="nav nav-pills nav-stacked pt-nav-colors">
                                        @{ var categories = Model.ZorgAdviesItems.Where(zpi => zpi.Section == sectionname).Select(zpi => zpi.Category).Distinct(); }
                                        @foreach (var categoryname in categories)
                                        {
                                            var categoryid = sectionid + "_category_" + categories.ToList().IndexOf(categoryname);
                                            <li class="sub-section">
                                                <a class="@headerstyle" data-toggle="collapse" href="#@categoryid" aria-expanded="false" aria-controls="@categoryname">@categoryname</a>
                                                <div class="@collapsable uitklapcontainer" id="@categoryid">
                                                    <div class="pull-right noprint">
                                                        <div class="btn btn-default" onclick="ClearContainer('#@categoryid', true);ClearCheckActive(this);">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                            leegmaken
                                                        </div>
                                                    </div>
                                                    @{
                                                        var categoryitems = Model.ZorgAdviesItems.Where(zpi => zpi.Section == sectionname && zpi.Category == categoryname).ToList();
                                                        string subcategory = null;
                                                    }
                                                    @foreach (var item in categoryitems)
                                                    {
                                                        if (item.ActionBy.Contains(ZorgAdviesItemViewModel.By.Professional))
                                                        {
                                                            int actionTimespan = (int)item.ActionTimespan.GetValueOrDefault(0);
                                                            totalminutes += (int)item.ActionFrequency.GetValueOrDefault(0) * (actionTimespan > 0 ? (28 / actionTimespan) : 0) * (int)item.ActionTime.GetValueOrDefault(0);
                                                            incomplete = ((int)item.ActionFrequency.GetValueOrDefault(0) == 0 || (int)item.ActionTimespan.GetValueOrDefault(0) == 0 || (int)item.ActionTime.GetValueOrDefault(0) == 0) ? "<i>(sommige akties zijn niet compleet ingevuld)</i>" : "";
                                                        }

                                                        if (!String.IsNullOrEmpty(item.SubCategory) && item.SubCategory != subcategory)
                                                        {
                                                            subcategory = item.SubCategory;
                                                            <h3>@item.SubCategory</h3>
                                                        }

                                                        var prefix = ZorgAdviesItemViewModel.NAME_PREFIX;
                                                        var textname = String.Format("{0}{1}_{2}_{3}_{4}", prefix, item.ZorgAdviesItemID, item.ZorgAdviesItemValueID, item.NeedsFrequencyAndTime, "text");
                                                        var byname = String.Format("{0}{1}_{2}_{3}_{4}", prefix, item.ZorgAdviesItemID, item.ZorgAdviesItemValueID, item.NeedsFrequencyAndTime, "by");
                                                        var freqname = String.Format("{0}{1}_{2}_{3}_{4}", prefix, item.ZorgAdviesItemID, item.ZorgAdviesItemValueID, item.NeedsFrequencyAndTime, "frequency");
                                                        var spanname = String.Format("{0}{1}_{2}_{3}_{4}", prefix, item.ZorgAdviesItemID, item.ZorgAdviesItemValueID, item.NeedsFrequencyAndTime, "timespan");
                                                        var timename = String.Format("{0}{1}_{2}_{3}_{4}", prefix, item.ZorgAdviesItemID, item.ZorgAdviesItemValueID, item.NeedsFrequencyAndTime, "time");

                                                        <div class="form-group">
                                                            <label class="control-label col-xs-4 col-md-2">@item.Label</label>
                                                            <div class="col-xs-12 col-md-4">
                                                                <textarea class="form-control" @readonlystring name="@textname" id="@textname" @(item.NeedsFrequencyAndTime ? "style=min-height:124px;" : "")>@item.Text</textarea>
                                                            </div>
                                                            @if (item.NeedsFrequencyAndTime)
                                                            {
                                                                <div class="col-xs-12 col-md-6">
                                                                    <div class="alert bg-lightgray" style="border:1px solid lightgray">
                                                                        <div class="row timetrigger-container">
                                                                            <div class="col-xs-4">
                                                                                <div class="checkbox">
                                                                                    <label><input type="checkbox" @readonlystring class="timetrigger timetrigger-actor" name="@byname" @(item.ActionBy.Contains(ZorgAdviesItemViewModel.By.Patient) ? "checked" : "") value="@((int)ZorgAdviesItemViewModel.By.Patient)" />@ZorgAdviesItemViewModel.By.Patient.GetDescription()</label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input type="checkbox" @readonlystring class="timetrigger timetrigger-actor" name="@byname" @(item.ActionBy.Contains(ZorgAdviesItemViewModel.By.Mantelzorg) ? "checked" : "") value="@((int)ZorgAdviesItemViewModel.By.Mantelzorg)" />@ZorgAdviesItemViewModel.By.Mantelzorg.GetDescription()</label>
                                                                                </div>
                                                                                <div class="checkbox">
                                                                                    <label><input type="checkbox" @readonlystring class="timetrigger timetrigger-actor" name="@byname" @(item.ActionBy.Contains(ZorgAdviesItemViewModel.By.WelzijnVrijw) ? "checked" : "") value="@((int)ZorgAdviesItemViewModel.By.WelzijnVrijw)" />@ZorgAdviesItemViewModel.By.WelzijnVrijw.GetDescription()</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-8" style="border-left: 2px solid lightgray;">
                                                                                <div class="checkbox">
                                                                                    <label><input type="checkbox" @readonlystring class="timetrigger timetrigger-actor timetrigger-actor-pro" name="@byname" @(item.ActionBy.Contains(ZorgAdviesItemViewModel.By.Professional) ? "checked" : "") value="@((int)ZorgAdviesItemViewModel.By.Professional)" />@ZorgAdviesItemViewModel.By.Professional.GetDescription()</label>
                                                                                </div>
                                                                                <div>
                                                                                    <div style="width:40px;display:inline-block;">
                                                                                        <input type="text" @readonlystring class="timetrigger timetrigger-amount form-control" name="@freqname" value="@item.ActionFrequency" />
                                                                                    </div>
                                                                                    <div style="width:36px;display:inline-block;">
                                                                                        X per
                                                                                    </div>
                                                                                    <div style="width:72px;display:inline-block;vertical-align:top;">
                                                                                        <div class="radio">
                                                                                            <label><input type="radio" @readonlystring class="timetrigger timetrigger-timespan" name="@spanname" @(item.ActionTimespan == ZorgAdviesItemViewModel.Timespan.Dag ? "checked" : "") value="@((int)ZorgAdviesItemViewModel.Timespan.Dag)" />@ZorgAdviesItemViewModel.Timespan.Dag.GetDescription()</label>
                                                                                        </div>
                                                                                        <div class="radio">
                                                                                            <label><input type="radio" @readonlystring class="timetrigger timetrigger-timespan" name="@spanname" @(item.ActionTimespan == ZorgAdviesItemViewModel.Timespan.Week ? "checked" : "") value="@((int)ZorgAdviesItemViewModel.Timespan.Week)" />@ZorgAdviesItemViewModel.Timespan.Week.GetDescription()</label>
                                                                                        </div>
                                                                                        <div class="radio">
                                                                                            <label><input type="radio" @readonlystring class="timetrigger timetrigger-timespan" name="@spanname" @(item.ActionTimespan == ZorgAdviesItemViewModel.Timespan.Maand ? "checked" : "") value="@((int)ZorgAdviesItemViewModel.Timespan.Maand)" />@ZorgAdviesItemViewModel.Timespan.Maand.GetDescription()</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="width:40px;display:inline-block;">
                                                                                        <input type="text" @readonlystring name="@timename" class="timetrigger timetrigger-mins form-control" value="@item.ActionTime" />
                                                                                    </div>
                                                                                    <div style="width:24px;display:inline-block;">
                                                                                        min
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    </ul>

                                </div>

                            </li>
                        }
                        <li class="section-group">
                            <a class="@headerstyle" data-toggle="collapse" href="#wonenparticipatie" aria-expanded="false" aria-controls="wonenparticipatie">Wonen, Participatie en Mentaal welbevinden</a>
                            <div class="@collapsable uitklapcontainer" id="wonenparticipatie">
                                @using (var sectionRollenRelaties = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "" }, { "data-section", "Zelfbeleving, Rollen/relaties, Seksualiteit" } }))
                                {
                                    <ul class="nav nav-pills nav-stacked pt-nav-colors">
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#gezinssamenstellingenwoonsituatie" aria-expanded="false" aria-controls="gezinssamenstellingenwoonsituatie">Gezinssamenstelling en woonsituatie</a>
                                            <div class="@collapsable uitklapcontainer" id="gezinssamenstellingenwoonsituatie">
                                                <div class="pull-right noprint">
                                                    <div class="btn btn-default" onclick="ClearContainer('#gezinssamenstellingenwoonsituatie', true);">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        leegmaken
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Burgerlijke staat</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "BurgerlijkeStaat")
                                                </div>
                                                <div>
                                                    <h4>Kinderen</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "KinderenAanwezig")
                                                    <div id="KinderenAanwezigChildren" class="ignore">
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "KinderenAanwezigAantal")
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "KinderenLeeftijd")
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "KinderenAantalKinderenInwonend")
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Woning</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "HousingType")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "WelkeAanpassingenNodig")
                                                </div>
                                            </div>
                                        </li>
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#participatieinmaatschappij" aria-expanded="false" aria-controls="participatieinmaatschappij">Participatie in maatschappij</a>
                                            <div id="participatieinmaatschappij" class="@collapsable uitklapcontainer">
                                                <h4>Participatie</h4>
                                                @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ParticipatieInMaatschappijParticipatieWerkOfBeroep")
                                                @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ParticipatieInMaatschappijParticipatieHobby")
                                                @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ParticipatieInMaatschappijParticipatieSociaalNetwerk")
                                                @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ParticipatieInMaatschappijParticipatieToelichting")
                                                @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ParticipatieInMaatschappijVerpleegkundigeInterventies")
                                            </div>
                                        </li>
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#hulpvananderen" aria-expanded="false" aria-controls="hulpvananderen">Hulp van anderen</a>
                                            <div class="@collapsable uitklapcontainer" id="hulpvananderen">
                                                <div class="pull-right noprint">
                                                    <div class="btn btn-default" onclick="ClearContainer('#hulpvananderen', true);">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        leegmaken
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Mantelzorg</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "HulpVanAnderenMantelzorgAard")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "HulpVanAnderenMantelzorgFrequentie")
                                                </div>
                                                <div>
                                                    <h4>Professionele hulp</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "HulpVanAnderenProfessioneleAard")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "HulpVanAnderenProfessioneleFrequentie")
                                                </div>
                                                <div>
                                                    <h4>Toelichting</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "HulpVanAnderenToelichting")
                                                </div>
                                            </div>
                                        </li>
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#interventiepsychischfunctioneren" aria-expanded="false" aria-controls="interventiepsychischfunctioneren">Interventie tav psychisch functioneren</a>
                                            <div class="@collapsable uitklapcontainer" id="interventiepsychischfunctioneren">
                                                <div class="pull-right noprint">
                                                    <div class="btn btn-default" onclick="ClearContainer('#interventiepsychischfunctioneren', true);">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        leegmaken
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Status</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenJuridischeStatus")
                                                </div>
                                                <div>
                                                    <h4>Dwang & drang</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenDwangEnDrangInterventie")
                                                    <div class="ignore" id="PsychischFunctionerenDwangEnDrangInterventieChildren">
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenDwangEnDrangInstemming")
                                                        @sectionRollenRelaties.FormGroupResponsive(Model.Global.FlowWebFields, "PsychischFunctionerenDwangEnDrangAanvangEpisode")
                                                        @sectionRollenRelaties.FormGroupResponsive(Model.Global.FlowWebFields, "PsychischFunctionerenDwangEnDrangEindeEpisode")
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Wilsbekwaam in kader van behandelplan</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenWilsbekwaamSprakeVan")
                                                    <div class="ignore" id="PsychischFunctionerenWilsbekwaamSprakeVanChildren">
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenWilsbekwaamWilsonbekwaam")
                                                    </div>
                                                </div>

                                                <div>
                                                    <h4>Middelen</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenMiddelengebruik")
                                                </div>
                                                <div>
                                                    <h4>Vrijheidsbeperkende interventies</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenVrijheidsbeperkendeInterventiesAanwezig")
                                                    <div class="ignore" id="PsychischFunctionerenVrijheidsbeperkendeInterventiesAanwezigChildren">
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenVrijheidsbeperkendeInterventiesBesproken")
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenVrijheidsbeperkendeInterventiesSoort")
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Verpleegkundige interventies</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "PsychischFunctionerenVerpleegkundigeInterventies")
                                                </div>
                                            </div>
                                        </li>
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#algemenementalefuncties" aria-expanded="false" aria-controls="algemenementalefuncties">Algemene mentale functies</a>
                                            <div class="@collapsable uitklapcontainer" id="algemenementalefuncties">
                                                <div class="pull-right noprint">
                                                    <div class="btn btn-default" onclick="ClearContainer('#algemenementalefuncties', true);">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        leegmaken
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Bewustzijn</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "AlgemeneMentaleFunctieBewustzijn")
                                                </div>
                                                <div>
                                                    <h4>Orientatie</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "AlgemeneMentaleFunctieOrientatieTijd")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "AlgemeneMentaleFunctieOrientatiePlaats")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "AlgemeneMentaleFunctieOrientatiePersoon")
                                                </div>
                                                <div>
                                                    <h4>Intellectueel</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "AlgemeneMentaleFunctieIntellectueleFuncties")
                                                </div>
                                                <div>
                                                    <h4>Aandacht</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieAandacht")
                                                </div>
                                                <div>
                                                    <h4>Geheugen</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieGeheugenKorteTermijn")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieGeheugenLangeTermijn")
                                                </div>
                                                <div>
                                                    <h4>Stemming</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieStemmingAdequaatheid")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieStemmingRegulering")
                                                </div>
                                                <div>
                                                    <h4>Denken</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieDenkenTempo")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieDenkenCoherentie")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieDenkenInhoud")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "SpecifiekeMentaleFunctieDenkenControle")
                                                </div>
                                                <div>
                                                    <h4>Toelichting</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "AlgemeneMentaleFunctieToelichting")
                                                </div>
                                                <div>
                                                    <h4>Verpleegkundige interventies</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "AlgemeneMentaleFunctieVerpleegkundigeInterventies")
                                                </div>
                                            </div>
                                        </li>
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#ziektebeleving" aria-expanded="false" aria-controls="ziektebeleving">Ziekte beleving</a>
                                            <div class="@collapsable uitklapcontainer" id="ziektebeleving">
                                                <div class="pull-right noprint">
                                                    <div class="btn btn-default" onclick="ClearContainer('#ziektebeleving', true);">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        leegmaken
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Omgaan met ziekteproces (coping)</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ZiekteBelevingOmgaanMetZiekteprocesPatient")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ZiekteBelevingOmgaanMetZiekteprocesNaasten")
                                                </div>
                                                <div>
                                                    <h4>Ziekte inzicht</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ZiekteBelevingZiekteInzicht")
                                                </div>
                                                <div>
                                                    <h4>Verpleegkundige interventies</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "ZiekteBelevingVerpleegkundigeInterventies")
                                                </div>
                                            </div>
                                        </li>
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#levensovertuiging" aria-expanded="false" aria-controls="levensovertuiging">Levens overtuiging</a>
                                            <div class="@collapsable uitklapcontainer" id="levensovertuiging">
                                                <div class="pull-right noprint">
                                                    <div class="btn btn-default" onclick="ClearContainer('#levensovertuiging', true);">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        leegmaken
                                                    </div>
                                                </div>
                                                @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "LevensOvertuigingReligie")
                                                @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "LevensOvertuigingCultuur")
                                                <div>
                                                    <h4>Wilsverklaring</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "LevensOvertuigingWilsverklaringAanwezig")
                                                    <div class="ignore" id="LevensOvertuigingWilsverklaringAanwezigChildren">
                                                        @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "LevensOvertuigingWilsverklaringWaarTeVinden")
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Geregistreerd als donor</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "LevensOvertuigingGeregistreerdAlsDonor")
                                                </div>
                                                <div>
                                                    <h4>Verpleegkundige interventies</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "LevensOvertuigingVerpleegkundigeInterventies")
                                                </div>
                                            </div>
                                        </li>
                                        <li class="sub-section">
                                            <a class="@headerstyle" data-toggle="collapse" href="#communicatie" aria-expanded="false" aria-controls="communicatie">Communicatie</a>
                                            <div class="@collapsable uitklapcontainer" id="communicatie">
                                                <div class="pull-right noprint">
                                                    <div class="btn btn-default" onclick="ClearContainer('#communicatie', true);">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        leegmaken
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4>Spreken</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "CommunicatieSpreektNederlandse")
                                                </div>
                                                <div>
                                                    <h4>Begrijpen</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "CommunicatieBegrijpenVerbale")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "CommunicatieBegrijpenNonVerbale")
                                                </div>
                                                <div>
                                                    <h4>Zich kunnen uiten</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "CommunicatieZichKunnenUitenVerbale")
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "CommunicatieZichKunnenUitenNonVerbale")
                                                </div>
                                                <div>
                                                    <h4>Toelichten</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "CommunicatieToelichting")
                                                </div>
                                                <div>
                                                    <h4>Verpleegkundige interventies</h4>
                                                    @sectionRollenRelaties.FormGroup(Model.Global.FlowWebFields, "CommunicatieVerpleegkundigeInterventies")
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </li>
                        <li class="section-group">
                            <a class="@headerstyle" data-toggle="collapse" href="#hulpmiddelen" aria-expanded="false" aria-controls="hulpmiddelen">Hulpmiddelen</a>
                            <div class="@collapsable uitklapcontainer" id="hulpmiddelen">
                                <div class="form-group">
                                    <label class="col-xs-6 col-sm-5 col-md-3 control-label"><b>Noodzakelijk te regelen hulpmiddelen</b></label>
                                    <div class="col-xs-6 col-sm-7 col-md-9">
                                        <div class="row">
                                            <div class="col-xs-1">
                                                @sectionZorgAdvies.FlowInput(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelen")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divNoodzakelijkTeRegelenHulpmiddelen" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-xs-6 col-sm-7 col-md-9 col-xs-offset-6 col-sm-offset-5 col-md-offset-3">
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenAlarmering")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenAntiDecubitusMatras")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenDraaischijf")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenHoogLaagbed")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenKrukkenStok")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenPostoel")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenRollator")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenRolstoel")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenTillift")
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenAnders")
                                            <div id="divHulpmiddelenAnders" style="display:none;">
                                                @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenAndersText")
                                            </div>
                                        </div>
                                    </div>
                                    @sectionZorgAdvies.FormGroup(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenToelichting")
                                    @sectionZorgAdvies.FormGroup(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenAflevering")
                                    <div id="divAfleveringAnderAdres" style="display:none;" class="row">
                                        <div class="col-xs-6 col-sm-7 col-md-9 col-xs-offset-6 col-sm-offset-5 col-md-offset-3">
                                            @sectionZorgAdvies.FlowControl(Model.Global.FlowWebFields, "NoodzakelijkTeRegelenHulpmiddelenAfleveringAnderAdresText")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            }

            <section class="panel panel-blue">
                <div class="panel-body">
                    <h3>Verwachte inspanning</h3>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Totaal (door professional):</label>
                        <div class="col-xs-5">
                            <input type="hidden" value="1" />
                            <label class="control-label" id="verwachteinspanning">@(Math.Round((decimal)(totalminutes / 60), 2)) uur/maand @incomplete</label>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
</div>
