﻿@model Point.MVC.Survey.Models.ViewModels.ErrorViewModel
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<h1>Er is een fout opgetreden</h1>
<span>Foutcode nummer: @Model.ErrorNumber, neem contact op met onze helpdesk en vermeld dit nummer.</span>