﻿@using Point.MVC.Reporting.Models.ViewModels
@model ReportingViewModel
<style type="text/css">
    .validation-message
    {
        color: red;
        font-weight: bold;
    }
</style>

<h3>@Model.Name</h3>

@Html.HiddenFor(m => m.NeedsOrganizationID)

<div class="form-group row">
    <label class="col-xs-3 control-label">Periode (t/m) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="Periode" data-description="Filter op de aanmaakdatum van het dossier."></span></label>
    <div class="col-xs-2">
        <div class='input-group date'>
            @Html.TextBoxFor(m => m.StartDate, htmlAttributes: new { @class = "form-control" })
            <span class="input-group-addon cursor-pointer">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-xs-2 date">
        <div class='input-group date'>
            @Html.TextBoxFor(m => m.EndDate, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.EndDate)
            <span class="input-group-addon cursor-pointer">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

@if (Model.AvailableFlowDefinitionIDs.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.FlowDefinitionIDs) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.FlowDefinitionIDs)" data-description="Filter op het type dossier."></span></label>
        <div class="col-xs-6">
            @Html.ListBoxFor(m => m.FlowDefinitionIDs, Model.AvailableFlowDefinitionIDs, htmlAttributes: new { @class = "form-control multiple", multiple = "multiple" })
        </div>
    </div>
}

@if (Model.AvailableDossierStatuses.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.DossierStatus) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.DossierStatus)" data-description="Filter op de status van het dossier."></span></label>
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.DossierStatus, Model.AvailableDossierStatuses, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
}

@if (Model.AvailableOrganizationTypeID.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.OrganizationTypeIDs) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.OrganizationTypeIDs)" data-description="Filter op het type organisatie waar u het rapport voor wilt genereren.<br/> - Voor uitgaande rapporten is dat het type van de versturende organisatie.<br/> - Voor ontvangen rapporten is dat het type van de ontvangende organisatie."></span></label>
        <div class="col-xs-6">
            @Html.ListBoxFor(m => m.OrganizationTypeIDs, Model.AvailableOrganizationTypeID, htmlAttributes: new { @class = "form-control multiple", multiple = "multiple", onchange = "ChangeOrganizationTypeID(this)" })
        </div>
    </div>
}

@if (Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.RegionID) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.RegionID)" data-description="Filter op de regio waar u het rapport voor wilt genereren.<br/> - Voor uitgaande rapporten is dat de versturende regio.<br/> - Voor ontvangen rapporten is dat de regio van de ontvangende organisatie."></span></label>
        <div class="col-xs-6">
            @Html.DropDownListFor(m => m.RegionID, Model.AvailableRegions, htmlAttributes: new { @class = "form-control", onchange = "ChangeRegion(this)" })
        </div>
    </div>
}

@if (Model.AvailableOrganizations.Any() || Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.OrganizationIDs) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.OrganizationIDs)" data-description="Filter op de organisatie(s) waar u het rapport voor wilt genereren.<br/> - Voor uitgaande rapporten is dat de versturende organisatie.<br/> - Voor ontvangen rapporten is dat de ontvangende organisatie."></span></label>
        <div class="col-xs-6">
            @Html.ListBoxFor(m => m.OrganizationIDs, Model.AvailableOrganizations, new { @class = "form-control multiple", multiple = "multiple", onchange = "ChangeOrganization(this)" })
            <span class="validation-message">@Html.ValidationMessageFor(x => x.OrganizationIDs)</span>
        </div>
    </div>
}

@if (Model.AvailableLocations.Any() || Model.AvailableOrganizations.Any() || Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.LocationIDs) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.LocationIDs)" data-description="Filter op de locatie(s) waar u het rapport voor wilt genereren.<br/> - Voor uitgaande rapporten is dat de versturende locatie.<br/> - Voor ontvangen rapporten is dat de ontvangende locatie."></span></label>
        <div class="col-xs-6">
            @Html.ListBoxFor(m => m.LocationIDs, Model.AvailableLocations, htmlAttributes: new { @class = "form-control multiple", multiple = "multiple", onchange = "ChangeLocation(this)" })
        </div>
    </div>
}

@if (Model.AvailableDepartments.Any() || Model.AvailableLocations.Any() || Model.AvailableOrganizations.Any() || Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.DepartmentIDs) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.DepartmentIDs)" data-description="Filter op de afdeling(en) waar u het rapport voor wilt genereren.<br/> - Voor uitgaande rapporten is dat de versturende afdeling.<br/> - Voor ontvangen rapporten is dat de ontvangende afdeling."></span></label>
        <div class="col-xs-6">
            @Html.ListBoxFor(m => m.DepartmentIDs, Model.AvailableDepartments, htmlAttributes: new { @class = "form-control multiple", multiple = "multiple", size = "8" })
        </div>
    </div>
}

@if (Model.AvailableOrganizationProjects.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.OrganizationProjects) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.OrganizationProjects)" data-description="Filter op dossiers met een van de geselecteerde kenmerken waar u het rapport voor wilt genereren."></span></label>
        <div class="col-xs-6">
            @Html.ListBoxFor(m => m.OrganizationProjects, Model.AvailableOrganizationProjects, htmlAttributes: new { @class = "form-control multiple", multiple = "multiple" })
        </div>
    </div>
}