﻿@using Point.MVC.Reporting.Models.ViewModels
@model ReportingViewModel
<h3>@Model.Name</h3>
@if (Model.AvailableOrganizationTypeID.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.LabelFor(m => m.OrganizationTypeIDs)</label>
        <div class="col-xs-6">
            @Html.DropDownList("OrganizationTypeIDs", Model.AvailableOrganizationTypeID, new { @class = "form-control multiple", multiple = "multiple", onchange = "ChangeOrganizationTypeID(this)" })
        </div>
    </div>
}

@if (Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.LabelFor(m => m.RegionID)</label>
        <div class="col-xs-6">
            @Html.DropDownList("RegionID", Model.AvailableRegions, " - maak uw keuze - ", new { @class = "form-control", onchange = "ChangeRegion(this)" })
        </div>
    </div>
}

@if (Model.AvailableOrganizations.Any() || Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.DisplayNameFor(m => m.OrganizationIDs) <span class="cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@Html.DisplayNameFor(m => m.OrganizationIDs)" data-description="Filter op de organisatie(s) waar u het rapport voor wilt genereren.<br/> - Voor uitgaande rapporten is dat de versturende organisatie.<br/> - Voor ontvangen rapporten is dat de ontvangende organisatie."></span></label>
        <div class="col-xs-6">
            @Html.ListBoxFor(m => m.OrganizationIDs, Model.AvailableOrganizations, new { @class = "form-control multiple", multiple = "multiple", onchange = "ChangeOrganization(this)" })
            <span class="validation-message">@Html.ValidationMessageFor(x => x.OrganizationIDs)</span>
        </div>
    </div>
}

@if (Model.AvailableLocations.Any() || Model.AvailableOrganizations.Any() || Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.LabelFor(m => m.LocationIDs)</label>
        <div class="col-xs-6">
            @Html.DropDownList("LocationIDs", Model.AvailableLocations, new { @class = "form-control multiple", multiple = "multiple", onchange = "ChangeLocation(this)" })
        </div>
    </div>
}

@if (Model.AvailableDepartments.Any() || Model.AvailableLocations.Any() || Model.AvailableOrganizations.Any() || Model.AvailableRegions.Any())
{
    <div class="form-group row">
        <label class="col-xs-3 control-label">@Html.LabelFor(m => m.DepartmentIDs)</label>
        <div class="col-xs-6">
            @Html.DropDownList("DepartmentIDs", Model.AvailableDepartments, new { @class = "form-control multiple", multiple = "multiple", size = "8" })
        </div>
    </div>
}