﻿@using Point.MVC.Reporting.Models.ViewModels
@model ReportingViewModel

@{
    var target = "_self";
}

<style type="text/css">
    .multiselect.btn {
        text-align: left;
    }

    .caret {
        float: right;
        margin: 8px 0;
    }

    .reportselection {
        position: relative;
        display: block;
        border: 1px solid #d0d0d0;
        border-radius: 5px;
        padding: 5px;
        padding-right: 25px;
        margin-bottom: 8px;
        min-height: 38px;
        /*min-height: 76px;*/
    }

        .reportselection label {
            font-weight: bold !important;
        }

    .topright {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    select.multiple {
        opacity: 0;
        position: absolute;
        max-height: 27px;
        max-width: 160px;
    }

    #modal .modal-body {
        white-space: pre-wrap;
    }
</style>

@section Scripts
{
<script type="text/javascript">
    $.validator.setDefaults({ ignore: '.ignore *' });

    function ShowModal(message, header) {
        $("#modal .modal-body").html(message);
        if (header) {
            $("#modal .modal-title").html(header);
        }
        $("#modal").modal({backdrop: false, keyboard: true});
    }

    function Popup(element) {
        ShowModal($(element).data("description"), $(element).data("name"));
    }

    $(function () {
        $('.nav-tabs a, #nextButton, #previousButton').on('show.bs.tab', function (event) {
            var href = $(event.target).attr("href");
            var disabled = $(event.target).attr("disabled") === "disabled";
            if (disabled) {
                event.preventDefault();
                return;
            }

            $('.nav-tabs li').removeClass("active");
            $('.nav-tabs a[href="' + href + '"]').closest("li").addClass("active");
        });

        ResetControls();
    });

    function ResetControls() {
        $('select.multiple').multiselect({
            nonSelectedText: 'Alle (geen filter)&nbsp;',
            nSelectedText: 'geselecteerd',
            maxHeight: 200,
            numberDisplayed: 1,
            //disableIfEmpty: true
        });

        $('select.multiple').removeAttr('style');

        $('.date').datetimepicker({
            format: 'L',
            locale: 'nl',
            useCurrent: false
        });
    }

    function LoadFilter(reportdefinitionid) {
        var url = '@Url.Action("GetFilter", "Reporting")';
        $.ajax({
            url: url,
            data: { reportdefinitionid: reportdefinitionid },
            success: function (data, status, jqxhr) {
                $("#filtercontainer").html(data);

                var form = $("#reportForm");
                form.removeData("validator").removeData("unobtrusiveValidation");

                var needsOrganization = form.find("#NeedsOrganizationID").val() === "True";
                if (needsOrganization === false) {
                    form.find("#OrganizationIDs").removeAttr("data-val-required").removeAttr("data-val");
                }

                ResetControls();

                initializevalidation(form);
                $.validator.unobtrusive.parse(form);
            }
        });
    }

    function ShowLoader() {
        if ($("#reportForm").valid()) {
            $('#loader').modal('show')
        }
    }

    function ChangeReport(sender) {
        var url = '@Url.Action("GetReportDefinition", "LookUp")';
        var reportDefinitionID = $(sender).val();
        if (reportDefinitionID === '') return;

        $("#nextTab,#nextButton").removeAttr("disabled");

        $.ajax({
            dataType: "json",
            cache: false,
            url: url,
            data: { ReportDefinitionID: reportDefinitionID },
            success: function(data, status, jqxhr)
            {
                LoadFilter(reportDefinitionID)

                var showexcelcheckbox = data.ExcelFriendlyFileName !== '';
                var showcsvcheckbox = data.ExcelFriendlyFileName === '' && data.FileName === '';
                var showreportcheckbox = data.FileName !== '';

                $("#UseCSVFriendly").toggle(showcsvcheckbox).closest(".form-group").toggle(showcsvcheckbox || showexcelcheckbox || showreportcheckbox);
                $("#UseExcelFriendly").toggle(showexcelcheckbox).closest(".form-group").toggle(showcsvcheckbox || showexcelcheckbox || showreportcheckbox);
                $("#UseReport").toggle(showreportcheckbox).closest(".form-group").toggle(showcsvcheckbox || showexcelcheckbox || showreportcheckbox);

                $("form").prop("action", data.ReportActionName);
            }
        });

        $("#FlowDefinitionIDs").find("option").remove();
        $('#FlowDefinitionIDs').multiselect('rebuild');
        var urlflows = '@Url.Action("GetFlowDefinitions", "LookUp")';
        $.ajax({
            dataType: "json",
            url: urlflows,
            data: { ReportDefinitionID: reportDefinitionID },
            success: function (data, status, jqxhr) {
                $.each(data, function (index, row) {
                    $("#FlowDefinitionIDs").append($('<option>', { value: row.FlowDefinitionID }).text(row.Name));
                });
                $('#FlowDefinitionIDs').multiselect('rebuild');
            }
        });
    }

    function ChangeOrganizationTypeID(sender) {
        $("#RegionID").val('');
        $("#OrganizationIDs, #LocationIDs, #DepartmentIDs, #CompareDepartmentIDs").find("option").remove();
        $("#OrganizationIDs, #LocationIDs, #DepartmentIDs, #CompareDepartmentIDs").multiselect('rebuild');
    }

    function ChangeRegion(sender) {
        $("#OrganizationIDs option").remove();

        var url = '@Url.Action("GetReportOrganizationsByRegionIDAndOrganizationTypes", "LookUp")';
        var regionID = $(sender).val();
        if (regionID === null) {
            $('#OrganizationIDs').multiselect('rebuild');
            return;
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: $("#RegionID, #OrganizationTypeIDs").serialize(),
            success: function (data, status, jqxhr) {
                $.each(data, function (index, row) {
                    $("#OrganizationIDs").append($('<option>', { value: row.OrganizationID }).text(row.Name));
                });
                $('#OrganizationIDs').multiselect('rebuild');
            }
        });
    }

    function ChangeOrganization(sender) {
        $("#LocationIDs option").remove();

        var url = '@Url.Action("GetReportLocationsByOrganizationIDs", "LookUp")';
        var organizationIDs = $(sender).val();
        if (organizationIDs === null) {
            $('#LocationIDs').multiselect('rebuild');
            return;
        }

        //trigger validation
        $("#reportForm").valid()

        $.ajax({
            url: url,
            type: 'POST',
            data: $(sender).serialize(),
            success: function (data, status, jqxhr) {
                $.each(data, function (index, row) {
                    $("#LocationIDs").append($('<option>', { value: row.LocationID }).text(row.Name));
                });
                $('#LocationIDs').multiselect('rebuild');
            }
        });
    }

    function ChangeLocation(sender) {
        $("#DepartmentIDs option, #CompareDepartmentIDs option").remove();

        var url = '@Url.Action("GetReportDepartmentsByLocationIDs", "LookUp")';
        var locationIDs = $(sender).val();
        if (locationIDs === null) {
            $('#DepartmentIDs, #CompareDepartmentIDs').multiselect('rebuild');
            return;
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: $(sender).serialize(),
            success: function (data, status, jqxhr) {
                $.each(data, function (index, row) {
                    $("#DepartmentIDs, #CompareDepartmentIDs").append($('<option>', { value: row.DepartmentID }).text(row.Name));
                });
                $('#DepartmentIDs, #CompareDepartmentIDs').multiselect('rebuild');
            }
        });
    }
</script>
}

@using (Html.BeginForm("Index", "Reporting", FormMethod.Post, htmlAttributes: new { target = target, @class = "form-horizontal", action = Model.ReportActionName, id = "reportForm"}))
{
    @Html.HiddenFor(m => m.UseExcel)
    @Html.HiddenFor(m => m.UseCSV)
    <div id="reportTabs">
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 3px;">
            <li class="active">
                <a href="#reportChoice" data-toggle="tab">Rapportkeuze</a>
            </li>
            <li>
                <a id="nextTab" href="#reportFilter" data-toggle="tab" disabled="disabled">Filter</a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="reportChoice">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @foreach (var group in Model.ReportGroups)
                        {
                            <b>@group.Key</b>
                            <div class="row">
                                @foreach (var item in group.Value.OrderBy(v => v.Name))
                                {
                                    <div class="col-sm-4 col-md-3">
                                        <div class="reportselection bg-lightblue">
                                            <label class="cursor-pointer text-nowrap" style="overflow:hidden;">
                                                <input type="radio" name="ReportDefinitionID" required value="@item.ID" onchange="ChangeReport(this)" /> @item.Name
                                            </label>
                                            <span class="topright cursor-pointer glyphicon glyphicon-info-sign" onclick="Popup(this)" data-name="@group.Key - @item.Name" data-description="@item.Description"></span>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        <div class="form-group row">
                            <div class="col-xs-12 text-right">
                                <a id="nextButton" href="#reportFilter" class="btn btn-primary" data-toggle="tab" disabled="disabled">Volgende</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="reportFilter">
                <div class="panel panel-default">
                    <div class="panel-body" id="filtercontainer">
                        @Html.Partial("_DefaultFilter", Model)
                    </div>
                    <div class="panel-footer">
                        <div class="form-group row">
                            <div class="col-xs-6 text-left">
                                <a id="previousButton" href="#reportChoice" class="btn btn-default" data-toggle="tab">Vorige</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <input type="submit" id="UseCSVFriendly" value="CSV" onclick="$('#UseCSV').val(true); $('form').prop('target', '');" class="btn btn-default" />
                                <input type="submit" id="UseExcelFriendly" value="Excel" onclick="$('#UseExcel').val(true); $('form').prop('target', '');" class="btn btn-default" />
                                <input type="submit" id="UseReport" value="Rapport" onclick="ShowLoader(); $('#UseExcel, #UseCSV').val(false); $('form').prop('target', '@target');" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" data-backdrop="false" role="dialog" id="loader" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div style="height:100px;">
                    <img style="float:left;margin-right:20px;height:100px" src="@Url.Content("~/Content/Images/PointLoading.gif")" />
                    <br />
                    Even geduld a.u.b.
                </div>
            </div>
        </div>
    </div>
</div>