﻿@using Point.MVC.Reporting.Models.ViewModels
@model ReportingViewModel
@{
    var target = "_blank";
}

<style type="text/css">
    .multiselect.btn {
        text-align: left;
    }

    .caret {
        float: right;
        margin: 8px 0;
    }

    .reportselection {
        display: block;
        border: 1px solid #d0d0d0;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 8px;
        min-height: 76px;
    }

        .reportselection label {
            font-weight: bold !important;
        }

    select.multiple {
        opacity: 0;
        position: absolute;
        max-height: 27px;
        max-width: 160px;
    }
</style>

@section Scripts
{
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: '.ignore *' });

        $(function () {
            $('.nav-tabs a, #nextButton, #previousButton').on('show.bs.tab', function (event) {
                var href = $(event.target).attr("href");
                var disabled = $(event.target).attr("disabled") === "disabled";
                if (disabled) {
                    event.preventDefault();
                    return;
                }

                $('.nav-tabs li').removeClass("active");
                $('.nav-tabs a[href="' + href + '"]').closest("li").addClass("active");
            });

            ResetControls();
        });

        function ResetControls() {
            $('select.multiple').multiselect({
                nonSelectedText: 'Alle (geen filter)&nbsp;',
                nSelectedText: 'geselecteerd',
                maxHeight: 200,
                numberDisplayed: 1,
                //disableIfEmpty: true
            });

            $('select.multiple').removeAttr('style');

            $('.date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        }

        function ChangeOrganizationTypeID(sender) {
            $("#RegionID").val('');
            $("#OrganizationIDs, #LocationIDs, #DepartmentIDs").find("option").remove();
            $("#OrganizationIDs, #LocationIDs, #DepartmentIDs").multiselect('rebuild');
        }

        function ChangeRegion(sender) {
            $("#OrganizationIDs option").remove();

            var url = '@Url.Action("GetReportOrganizationsByRegionIDAndOrganizationTypes", "LookUp")';
            var regionID = $(sender).val();
            if (regionID === null) {
                $('#OrganizationIDs').multiselect('rebuild');
                return;
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: $("#RegionID, #OrganizationTypeIDs").serialize(),
                success: function (data, status, jqxhr) {
                    $.each(data, function (index, row) {
                        $("#OrganizationIDs").append($('<option>', { value: row.OrganizationID }).text(row.Name));
                    });
                    $('#OrganizationIDs').multiselect('rebuild');
                }
            });
        }

        function ChangeOrganization(sender) {
            $("#LocationIDs option").remove();

            var url = '@Url.Action("GetReportLocationsByOrganizationIDs", "LookUp")';
            var organizationIDs = $(sender).val();
            if (organizationIDs === null) {
                $('#LocationIDs').multiselect('rebuild');
                return;
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: $(sender).serialize(),
                success: function (data, status, jqxhr) {
                    $.each(data, function (index, row) {
                        $("#LocationIDs").append($('<option>', { value: row.LocationID }).text(row.Name));
                    });
                    $('#LocationIDs').multiselect('rebuild');
                }
            });
        }

        function ChangeLocation(sender) {
            $("#DepartmentIDs option").remove();

            var url = '@Url.Action("GetReportDepartmentsByLocationIDs", "LookUp")';
            var locationIDs = $(sender).val();
            if (locationIDs === null) {
                $('#DepartmentIDs').multiselect('rebuild');
                return;
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: $(sender).serialize(),
                success: function (data, status, jqxhr) {
                    $.each(data, function (index, row) {
                        $("#DepartmentIDs").append($('<option>', { value: row.DepartmentID }).text(row.Name));
                    });
                    $('#DepartmentIDs').multiselect('rebuild');
                }
            });
        }
    </script>
}

@using (Html.BeginForm("Index", "Reporting", FormMethod.Post, htmlAttributes: new { target = target, @class = "form-horizontal", action = Model.ReportActionName }))
{
    @Html.HiddenFor(m => m.UseExcel)
    @Html.HiddenFor(m => m.UseCSV)
    @Html.HiddenFor(m => m.ReportDefinitionID)
    <div class="panel panel-default">
        <div class="panel-body" id="filtercontainer">
            @{Html.RenderAction("GetFilter", new { Model.ReportDefinitionID });}
        </div>
        <div class="panel-footer">
            <div class="form-group row">
                <div class="col-xs-6 text-left">
                    <a id="previousButton" href="#reportChoice" class="btn btn-default" data-toggle="tab">Vorige</a>
                </div>
                <div class="col-xs-6 text-right">
                    <input type="submit" value="Excel" onclick="$('#UseExcel').val(true); $('form').prop('target', '');" class="btn btn-default" />
                    <input type="submit" value="Rapport" onclick="$('#UseExcel').val(false); $('form').prop('target', '@target');" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
