﻿@using Point.MVC.Reporting.Models.ViewModels
@model ReportingOutputViewModel
@using ReportViewerForMvc
@using Microsoft.Reporting.WebForms
@{
    var reportviewer = new ReportViewer();
    reportviewer.Visible = true;
    reportviewer.AsyncRendering = false;
    reportviewer.SizeToReportContent = true;
    reportviewer.ProcessingMode = ProcessingMode.Local;
    reportviewer.HyperlinkTarget = "_blank";
    reportviewer.LocalReport.ReportPath = Model.ReportFileName;
    reportviewer.LocalReport.DataSources.Add(Model.ReportDataSource);
    var parameters = reportviewer.LocalReport.GetParameters().AsQueryable();

    foreach (var reportParameter in Model.ReportParameters)
    {
        if (parameters.Any(p => p.Name == reportParameter.Name))
        {
            reportviewer.LocalReport.SetParameters(reportParameter);
        }
    }

    reportviewer.LocalReport.Refresh();

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Point - @Model.ReportName</title>
    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        iframe {
            /*for the report viewer*/
            border: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 99%;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    @Html.ReportViewer(reportviewer)
</body>
</html>