﻿@model TransferMemoTemplate

<style type="text/css">
    .form-buttons {
        margin-top: 20px;
    }
    .form-buttons .btn  { min-width: 80px;}
</style>

<form class="form-horizontal" action="@Url.Action("DeleteTemplate")" method="post">
    <h3>Weet u zeker dat u "@Model.Name" wilt verwijderen?</h3>

    @Html.HiddenFor(m => m.TransferMemoTemplateID)
    @Html.AntiFiddleTokenFor(m => m.TransferMemoTemplateID)

    <div class="form-buttons">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
        <button type="submit" name="Confirm" value="true" class="btn btn-danger">Ja</button>
    </div>
</form>