﻿@model TransferMemoTemplate
@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums
<h2>Bewerk template</h2>

@{
    IEnumerable<TransferMemoTypeID> limitlist = new List<TransferMemoTypeID> { TransferMemoTypeID.FrequencyGeneral, TransferMemoTypeID.FrequencyCVA, TransferMemoTypeID.FrequencyMSVT };
}

@Scripts.Render("~/Bundles/Scripts/JQueryValidation")

<form class="form-horizontal" id="SaveTemplate">
    @Html.HiddenFor(m => m.OrganizationID)
    @Html.HiddenFor(m => m.TransferMemoTemplateID)
    @Html.Hidden("Digest", AntiFiddleInjection.CreateDigest(Model.TransferMemoTemplateID))
    <div class="form-group">
        @Html.LabelFor(m => m.TransferMemoTypeID, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8">
            @Html.EnumDropDownListLimitedFor(m => m.TransferMemoTypeID, limitlist: limitlist, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-xs-4 control-label required" })
        <div class="col-xs-8">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TemplateText, new { @class = "col-xs-4 control-label required" })
        <div class="col-xs-8">
            @Html.TextAreaFor(m => m.TemplateText, new { @class = "form-control", style="height:200px;" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6 text-left">
            <span class="btn btn-default" data-dismiss="modal">Annuleren</span>
        </div>
        <div class="col-xs-6 text-right">
            <span class="btn btn-primary" onclick="SaveTemplate(this)">Opslaan</span>
        </div>
    </div>
</form>