﻿@model IEnumerable<TransferMemoTemplate>

@{
    var regions = (IEnumerable<SelectListItem>)ViewBag.Regions;
    var organizations = (IEnumerable<SelectListItem>)ViewBag.Organizations;
}

@Scripts.Render("~/Bundles/Scripts/FormType")

<script type="text/javascript">
    var addurl = '@Html.Raw(Url.Action("AddTemplate", "TransferMemo", new { Area = "Management" }))';
    var editurl = '@Html.Raw(Url.Action("EditTemplate", "TransferMemo", new { Area = "Management" }))';
    var deleteurl = '@Html.Raw(Url.Action("DeleteTemplate", "TransferMemo", new { Area = "Management" }))';
    var saveurl = '@Html.Raw(Url.Action("SaveTemplate", "TransferMemo", new { Area = "Management" }))';
    var formID = "#SaveTemplate";

    function changeRegion(element) {
        document.location.href = "?regionid=" + $(element).val();
    }

    function changeOrganization(element) {
        var regionid = $("#RegionID").val();
        document.location.href = "?regionid=" + regionid + "&organizationid=" + $(element).val();
    }

    function SaveTemplate(sender)
    {
        if ($(formID).valid()) {
            AjaxSave($(sender).closest("form"), saveurl, true, function () { $("#modal").modal('hide') }, true);
        }
    }

    function DeleteTemplate(sender)
    {
        ShowModal(deleteurl + "?transfermemotemplateid=" + $(sender).data("transfermemotemplateid"));
    }

    function EditTemplate(sender) {
        ShowModal(editurl + "?transfermemotemplateid=" + $(sender).data("transfermemotemplateid"));
    }

    function AddTemplate(sender) {
        var organizationid = $("#OrganizationID").val();
        if (organizationid != null && parseInt(organizationid) > 0) {
            ShowModal(addurl + "?organizationid=" + organizationid);
        }
        else
        {
            $("#modalErr").modal('show');
        }
    }
</script>

<h1>Memo templates</h1>
<div id="modalErr" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                U dient een ziekenhuis te kiezen.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" onclick="$('#modalErr').modal('hide')">Sluiten</button>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        Kies de organisatie van welke u templates wilt beheren
    </div>
    <div class="panel-body">
        <form id="formSelectHospital" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3">Regio</label>
                <div class="col-xs-9">
                    @Html.DropDownList("RegionID", regions, new { @class = "form-control", onchange = "changeRegion(this);" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Ziekenhuis</label>
                <div class="col-xs-9">
                    @Html.DropDownList("OrganizationID", organizations, new { @class = "form-control", onchange = "changeOrganization(this);" })
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Memo type</th>
            <th>Template naam</th>
            <th class="text-right"><span class="btn btn-green" onclick="AddTemplate(this)">Toevoegen</span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TransferMemoTemplate template in Model)
        {
            <tr>
                <td>@template.TransferMemoTypeID.GetDescription()</td>
                <td>@template.Name</td>
                <td class="text-right">
                    <span class="btn btn-danger" data-transfermemotemplateid="@template.TransferMemoTemplateID" onclick="DeleteTemplate(this)">Verwijderen</span>
                    <span class="btn btn-primary" data-transfermemotemplateid="@template.TransferMemoTemplateID" onclick="EditTemplate(this)">Bewerken</span>
                </td>
            </tr>
        }
    </tbody>
</table>
