﻿
@model Point.CapacityManagement.Web.ViewModels.CapacityMapViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #map {
        height: 100%;
        border: 2px solid #00396a;
    }
</style>

<div class="form-group row">
    <label class="col-sm-3 control-label">Zorgtype</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(m => m.AfterCareGroupIdAndTypeId,
            new SelectList(Model.AfterCareGroupAndTypeList, "Value", "Name", Model.AfterCareGroupIdAndTypeId),
            new { @class = "form-control submit-on-change" })
    </div>
    <div class="col-sm-3 show-info-category" data-aftercarecategoryids="[@Model.AfterCareCategoryIDs]">
        <div class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-info-sign"></span>
            Zorgtypen
        </div>
    </div>
</div>

<div class="container no-padding-left no-padding-right">
    <div class="col-sm-12 no-padding-left no-padding-right" style="height:70vh">
        <div id="map"></div>
    </div>
</div>

@section scripts
{

<script src="~/Scripts/capacity-map.js"></script>
<script>
    var locations = [
        @foreach (var marker in Model.DepartmentCapacityGPSList)
        {
            <text>@Html.Raw(marker.ToMapsString()),</text>
        }
    ]
</script>

<script src="/scripts/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC10b6lZoaUvaIc6Hn_RiaRviC02VhyNH0&callback=initMap"></script>
}