﻿@model Signalering
<style type="text/css">
    #SignalMessage {
        white-space: pre-wrap;
        padding:10px; 
        border-radius:5px; 
        border: 1px solid gray;
        margin-bottom:10px;
    }
</style>
<button type="button" data-dismiss="modal" class="btn btn-gray pull-right">Sluiten</button>
<h3>@Model.SignaleringTarget.SignaleringTrigger.Name</h3>
<div id="SignalMessage">@Model.Message</div>
<form class="form-horizontal" method="post">
    @Html.HiddenFor(it => it.SignaleringID)
    @Html.AntiFiddleTokenFor(it => it.SignaleringID)
    <div class="form-group">
        <div class="col-xs-12">
            <textarea class="form-control" id="Comment" name="Comment" style="min-height:120px;" placeholder="Plaats hier, indien gewenst, een opmerking">@Model.Comment</textarea>
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="pull-right">
                <div class="btn btn-primary" data-url="@Url.Action("SaveSignalering", "Signalering")" data-status="@((int)Model.Status)" onclick="SaveSignalering(this)">Opslaan</div>
            </div>
        </div>
    </div>
</form>