﻿@model SignaleringItemsViewModel

<style>
    .scrollable-content {
        flex-grow: 1;
        overflow: auto;
        max-height: 470px;
        min-height: 0;
    }
</style>


<div class="content">
    <h3>Wilt u van deze wijzigingen een signaal versturen?</h3>
</div>
<div class="scrollable-content content">
    <ul>
        @foreach (var item in Model.SignaleringItems)
        {
            <li>@item</li>
        }
    </ul>
</div>
<div class="content">
    <br />
    <button class="btn btn-default" style="min-width:60px;" onclick="SetSendNoSignal();">Nee</button>
    <button class="btn btn-primary" style="min-width:60px;" onclick="SetSendSignal();" id="btnSignalSendYes">Ja</button>
</div>   

