﻿@model SignalListViewModel
@using Point.Database.Extensions

<style type="text/css">
    .signal-item {
        height: 18px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .signal-item-medium {
        width: 220px !important;
    }

    #signallistcontainer {
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .popover-content {
        white-space: pre-wrap;
    }
</style>

<script type="text/javascript">
    function CheckAll(sender)
    {
        var checked = $(sender).is(":checked");
        $("#signallist input.CheckedSignalering").prop("checked", checked);
    }

    function Refresh()
    {
        @if(Model.FlowInstanceID.HasValue)
        {
            <text>OpenDossierSignalList(@Model.FlowInstanceID);</text>
        } else
        {
            <text>OpenAllSignalList();</text>
        }
    }

    function HandleSelectedItems(sender)
    {
        var data = {};
        data.signaleringids = [];
        $.each($("#signallist input.CheckedSignalering:checked"), function () {
            data.signaleringids.push($(this).val());
        });

        $.ajax({
            url: $(sender).data("url"),
            type: "POST",
            data: data,
            dataType: "json",
            success: function (data) {
                $.each($("#signallist input.CheckedSignalering:checked"), function () {
                    $(this).closest("tr").remove();
                });
                $("#CheckAll").prop("checked", false);
            }
        });
    }

    $(function () {
        var isVisible = false;

        var hideAllPopovers = function () {
            $('[data-toggle="popover"]').each(function () {
                $(this).popover('hide');
            });
        };

        $('[data-toggle="popover"]').popover({
            html: true,
            trigger: 'manual'
        }).on('click', function (e) {
            // if any other popovers are visible, hide them
            if (isVisible) {
                hideAllPopovers();
            } else {
                $(this).popover('show');
                isVisible = true;
                e.stopPropagation();
            }
        });


        $(document).on('click', function () {
            hideAllPopovers();
            isVisible = false;
        });
    })
</script>

<div class="pull-right">
    <button type="button" class="btn btn-default" onclick="HandleSelectedItems(this)" data-url="@Url.Action("CloseMultiple")">Geselecteerde afhandelen</button>
    <button type="button" class="btn btn-default" onclick="Refresh()">Verversen</button>
    <button type="button" data-dismiss="modal" class="btn btn-primary">Sluiten</button>
</div>

<h3>Signalering lijst @( string.IsNullOrEmpty(Model.DepartmentFilter) ? "" : (" (gefilterd op " + Model.DepartmentFilter + ")") )</h3>

<div id="signallistcontainer">
    <table class="table table-colors" id="signallist">
        <thead>
            <tr>
                <th style="width:30px;"><input type="checkbox" name="CheckAll" id="CheckAll" onclick="CheckAll(this)" /></th>
                <th>Patiënt</th>
                <th>Geb.Datum</th>
                <th>Datum/Tijd</th>
                <th class="hidden-xs hidden-sm hidden-md">Door</th>
                <th>Soort / Commentaar</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SignaleringItems)
            {
                string genderClass = $"gender-color-{item.FlowInstance?.Transfer?.Client?.Gender.GetDescription().ToLower()}";
                string sourceorganization = "";
                string employeefullname = "";
                var employee = Model.SignaleringEmployees.FirstOrDefault(empl => empl.Employee.EmployeeID == item.CreatedByEmployeeID);
                if (employee != null)
                {
                    sourceorganization = employee.OrganizationName;
                    employeefullname = employee.Employee.FullName();
                }

                var signaleringClient = Model.SignaleringClients.FirstOrDefault(cl => cl.FlowInstance.FlowInstanceID == item.FlowInstanceID);
                var client = signaleringClient.Client;

                var link = Url.Action("DispatchToForm", "Signalering", new { item.SignaleringID });

            <tr data-id="@item.SignaleringID" class="status-@((int)item.Status)">
                <td>
                    <input type="checkbox" class="CheckedSignalering" name="CheckedSignaleringID" value="@item.SignaleringID" />
                </td>
                <td><a href="@link"><span class="glyphicon glyphicon-user @genderClass"></span>&nbsp;@client.FullName(signaleringClient.FlowInstance, Model.OrganizationID)</a></td>
                <td>@client.BirthDate.GetValueOrDefault().ToString("dd-MM-yyyy")</td>
                <td>@item.Created.ToString("dd-MM HH:mm")</td>
                <td class="hidden-xs hidden-sm hidden-md" title="@employeefullname - @sourceorganization">
                    <div class="signal-item signal-item-medium">
                        @employeefullname - @sourceorganization
                    </div>
                </td>
                <td title="@item.SignaleringTarget.SignaleringTrigger.Name @item.Message">
                    <div class="signal-item signal-item-medium">
                        @if (!String.IsNullOrEmpty(item.Comment))
                        {
                            <a href="#" data-toggle="popover" data-placement="right" data-content="@item.Comment"><span class="glyphicon glyphicon-info-sign"></span></a>
                        }
                        <a href="@link">@item.SignaleringTarget.SignaleringTrigger.Name</a>
                    </div>
                </td>
                <td>
                    <a class="btn btn-block btn-default" data-url="@Url.Action("EditComment", "Signalering", new { item.SignaleringID, Digest = AntiFiddleInjection.CreateDigest(item.SignaleringID) })" onclick="HandleSignalering(this);">Commentaar</a>
                </td>
                <td>
                    <a class="btn btn-block btn-primary" data-url="@Url.Action("CloseSignaleringDirect", "Signalering", new { item.SignaleringID, Digest = AntiFiddleInjection.CreateDigest(item.SignaleringID) })" onclick="CloseSignalering(this);">Afhandelen</a>
                </td>
            </tr>
            }

            @if (Model.SignaleringItems.IsNullOrEmpty())
            {
                <tr>
                    <td colspan="6">Geen items om weer te geven</td>
                </tr>
            }
        </tbody>
    </table>
</div>
