﻿@model BulkProcessViewModel 
@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/EmployeeBulkProcess")

<form id="BulkBlockProcess" class="form-horizontal" method="post">
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Medewerkers in batch bewerken
        </div>
        <div class="panel-body ">
            <div class="form-group" style="margin-left:0">
                <label class="radio-inline" id="deblockusers" onclick="invisibledate();">@Html.RadioButton("HowToSearch", "DeBlockUsers", true) De-blokkeren</label>
                <span style="cursor: pointer;" data-toggle="clickover" data-content="Hiermee kunnen meerdere medewerkers tegelijk gedeblokkeerd worden. Hierbij worden alle geblokkeerde medewerkers getoond waarna een selectie hiervan of allemaal in één keer kunnen worden gedeblokkeerd.">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </span>
            </div>
            <div class="form-group" style="margin-left:0">
                <label class="radio-inline" id="blockusers" onclick="visibledate();">
                @Html.RadioButton("HowToSearch", "BlockUsers", false) Blokkeren</label>
                <span style="cursor: pointer;" data-toggle="clickover" data-content="Hiermee kunnen meerdere medewerkers tegelijk geblokkeerd worden. Als zoek criterium dient de laatste inlog datum te worden opgegeven. Op die wijze kunnen medewerkers in beeld worden gebracht die een lang geleden voor het laatst hebben ingelogd om deze vervolgens in één keer te kunnen blokkeren.">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </span>
            </div>
            <div class="form-group" id="lastlogindateholder" style="display:@(ViewBag.HowToSearch == "BlockUsers" ? "block" : "none")">
                <label class="control-label col-xs-3">Niet meer ingelogd sinds</label>
                <div class="col-xs-3">
                    <div class="input-group date">
                        <input class="flowfield form-control" name="LastLoginDate" id="LastLoginDate" type="text" value="@(ViewBag.LastLoginDate)">
                        <span class="input-group-addon" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <button type="submit" id="searchButton" class="btn btn-block btn-primary">Zoeken</button>
                </div>
            </div>
        </div>        
    </div>
</form>
<div id="employeebulklist" style="margin-top:15px;min-height:200px;">
    @Html.Partial("List", Model)
</div>
    

