﻿@model BulkProcessViewModel
@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/EmployeeBulkProcess")


@if (Model.Employees.Count() > 0)
{
    using (Html.BeginForm("EditUsers", "EmployeeBulkProcess", FormMethod.Post, new { viewModel = Model }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            <div class="form-group">
                <div class="col-xs-2 pull-right">
                    @{ string caption = (Model.ProcessType == "DeBlockUsers" ? "De-blokkeren" : "Blokkeren"); }
                    <button type="submit" class="btn btn-block btn-primary"> @caption </button>
                </div>
            </div>
        </div>
        <div class="tab-content pre-scrollable" id="Scroller">
            <table class="table table-striped" id="employeeBatchtable">
                <thead>
                    <tr>
                        <th><span><input type="checkbox" class="checkbox pull-left" id="chkAll" title="Selecteer alle medewerkers" />&nbsp;Alle</span></th>
                        <th>Naam</th>
                        <th>Gebruikersnaam</th>
                        <th>Laatst ingelogd</th>
                    </tr>
                </thead>

                @Html.HiddenFor(m => Model.LastLoginDate)
                @Html.HiddenFor(m => Model.ProcessType)

                @for (int i = 0; i < Model.Employees.Count(); i++)
                {

                    <tr>
                        <td>
                            @Html.HiddenFor(m => Model.Employees[i].EmployeeID)
                            @Html.CheckBoxFor(m => Model.Employees[i].EmployeeSelected, new { @class = "checkbox employeeCheck" })
                        </td>
                        <td>
                            @Model.Employees[i].FirstName @Model.Employees[i].MiddleName @Model.Employees[i].LastName
                        </td>
                        <td>
                            @Html.HiddenFor(m => Model.Employees[i].UserName)
                            @Model.Employees[i].UserName
                        </td>
                        <td>
                            @Model.Employees[i].LastLoginDate
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
}
