﻿@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.DoctorViewModel

@{
    var locations = ViewBag.Locations as IEnumerable<SelectListItem>;
    var specialisms = ViewBag.Specialisms as IEnumerable<SelectListItem>;

}

<script type="text/javascript">
    var importDoctorsUrl = "@Html.Raw(Url.Action("ImportDoctors", "Doctors"))";
    var readDoctorsFromCsvUrl = "@Html.Raw(Url.Action("ReadDoctorsFromCsv", "Doctors"))";
</script>

@Scripts.Render("~/Scripts/MVC/DoctorsEdit.js")
@Styles.Render("~/Content/Admin/doctor.css")

<div id="ActionMessage" class="hidden"></div>

<div id="panelDoctorsEdit" class="panelDoctors">
    <form class="form-horizontal" action="@Url.Action("Save")" method="post" id="DoctorEdit">
        <h2>Arts @(Model.DoctorID == 0 ? "toevoegen" : "bewerken")</h2>

        @Html.HiddenFor(m => m.OrganizationID)
        @Html.AntiFiddleTokenFor(m => m.DoctorID)
        @Html.HiddenFor(m => m.DoctorID)

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-xs-4" })
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SearchName, new { @class = "control-label col-xs-4" })
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.SearchName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SpecialismID, new { @class = "control-label col-xs-4" })
            <div class="col-xs-5">
                @Html.DropDownListFor(m => m.SpecialismID, specialisms, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AGB, new { @class = "control-label col-xs-4" })
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.AGB, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BIG, new { @class = "control-label col-xs-4" })
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.BIG, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-xs-4" })
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationIDS, new { @class = "control-label col-xs-4" })
            <div class="col-xs-5">
                @Html.CheckBoxListFor(model => model.LocationIDS, locations)
            </div>
        </div>
        <div class="form-buttons clearfix">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
            <div id="importDoctors" class="btn btn-primary margin2" onclick="showImportDoctorsPanel(false)">Importeren uit CSV</div>
            <div class="btn btn-primary pull-right" data-saveurl="@Url.Action("Save")" onclick="SaveForm(this)">Opslaan</div>
        </div>
    </form>

</div>

@* Placeholder *@

@Html.Partial("ImportList", new DoctorImportListViewModel())
