﻿@using Point.Database.Models
@model DoctorImportListViewModel

@{
    object defaultAttribs = new { @class = "checkbox-inline" };
    object readOnlyAttribs = new { @class = "checkbox-inline disabled", disabled = "disabled" };
}

<div id="panelDoctorsImport" class="panelDoctors" style="display: none">
    
    <h2>Artsen importeren</h2>

    <div id="doctorsImportWrapper">

        <table id="doctorsImportTable" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>AGB</th>
                <th>Zoeknaam</th>
                <th>Naam</th>
                <th>Locatie(s)</th>
                <th class="hidden">LocationIDS</th>
                <th>Specialisme</th>
                <th class="hidden">SpecialismID</th>
                <th>BIG</th>
                <th>Telefoon</th>
            </tr>
            </thead>
            @if (Model != null && Model.Doctors.Any())
            {
                <tbody>
                @foreach (var item in Model.Doctors)
                {                     
                    <tr>
                        <td class="selected">
                            @Html.CheckBox("ImportDoctorSelected", item.CanImport, item.CanImport ? defaultAttribs : readOnlyAttribs)
                        </td>
                        <td class='AGB @(item.AGBItem.HasError ? "error" : "" )' title="@(item.AGBItem.ErrorMessage)">@item.AGBItem.Value</td>
                        <td class='SearchName @(item.SearchNameItem.HasError ? "error" : "" )' title="@(item.SearchNameItem.ErrorMessage)">@item.SearchNameItem.Value</td>
                        <td class='Name @(item.NameItem.HasError ? "error" : "" )' title="@(item.NameItem.ErrorMessage)">@item.NameItem.Value</td>
                        <td class="Locations">
                            <ul>
                                @foreach (var location in item.Locations)
                                {
                                    <li @(location.HasError ? "class=error" : "") title="@(location.ErrorMessage)">@location.Value</li>
                                }
                            </ul>
                        </td>
                        <td class="LocationIDS hidden">@(item.LocationIDS != null ? string.Join(",", item.LocationIDS) : "")</td>
                        <td class='Specialism @(item.SpecialismItem.HasError ? "error" : "" )' title="@(item.SpecialismItem.ErrorMessage)">@(item.SpecialismItem.Value)</td>
                        <td class="SpecialismID hidden">@item.SpecialismID</td>
                        <td class="BIG">@item.BIG</td>
                        <td class="PhoneNumber">@item.PhoneNumber</td>
                    </tr>
                }
                </tbody>
            }
        </table>
    </div>
    
    <div id="importButtonGroup" class="form-buttons">
        
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn btn-primary margin2" onclick="showEditDoctorsPanel()">Handmatige invoer</button>
        <div id="startDoctorsImport" class="btn btn-primary pull-right disabled" onclick="importDoctors(this)">Import selectie</div>
        <button type="button" class="btn btn-primary margin2 glyphicon glyphicon-info-sign color-pt-white" id="btnCsvImportInfo" value="Csv info" onclick="displayCsvInfo()"><span>Csv info</span></button>
        <button type="button" class="btn btn-primary margin2 glyphicon glyphicon-eye-open color-pt-white hidden" id="btnErrorsImport" value="Foutenlijst bekijken" onclick="displayErrorsFromCsv()"><span>Foutenlijst bekijken</span></button>
        <input type="file" id="FileUpload1" title="Importeren uit Csv" class="hidden"/>
        <button type="button" class="btn btn-primary margin2" id="btnUpload" value="Upload Files" onclick="selectCsv()">Upload csv</button>
    </div>
    
    <div id="errorsImport" class="hidden">
        @if (Model != null && Model.Errors.Any())
        {
            <div id="errorsImportContent">
                <div>
                    <ul id="errorsImportList">
                        @foreach (var error in Model.Errors)
                        {
                            <li @(!error.Value.StartsWith("#") ? "class=child" : "")>@(error.Value)</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
    
    <div id="CsvInfoExample" class="hidden">
        <div class="csvinfoexample-page">
            <div>AGB<span>;</span>Zoeknaam<span>;</span>Naam<span>;</span>Locaties<span>;</span>Specialisme<span>;</span>BIG<span>;</span>Telefoonnummer</div>
            <div class="csv-row">12345<span>;</span>doctorJM<span>;</span>J. Millers<span>;</span>Haarlem<span class="csv-comma">,</span>Naaldwijk<span>;</span>Cardiologie<span>;</span>1234567890<span>;</span>0612345678</div>
            <div class="csv-row">54321<span>;</span>dirkDoc<span>;</span>T. Dirk<span>;</span>Leidschendam<span class="csv-comma">,</span>Zoetermeer<span>;</span>Neurologie<span>;</span>9876543210<span>;</span>0687654321</div>
        </div>
        
        <div class="csv-legenda">
            <ul>
                <li><div>AGB<span>*</span></div>:<span class="csv-row">'Algemeen Gegevensbeheer Zorgverleners' code</span></li>
                <li><div>Zoeknaam<span>*</span></div>:<span class="csv-row">Zoek-alias arts</span></li>
                <li><div>Naam<span>*</span></div>:<span class="csv-row">Naam arts</span></li>
                <li><div>Specialisme<span>*</span></div>:<span class="csv-row">Arts specialisme (zoals in Point bekend)</span></li>
                <li><div>BIG</div>:<span class="csv-row">'De Wet op de Beroepen in de individuele gezondheidszorg' registratiecode</span></li>
                <li><div>Locaties</div>:<span class="csv-row">Kommagescheiden lijst van locaties</span></li>
                <li><div>Telefoonnummer</div>:<span class="csv-row">Telefoonnummer arts</span></li>
            </ul>
            <div class="csvinfo-footer"><span>*</span>Verplichte velden</div>
        </div>

    </div>

</div>


