﻿@using Point.MVC.WebApplication.Extensions
@model DoctorsViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/Doctors")

<div id="doctorIndexPlaceHolder">
    @Html.HiddenFor(m => m.PointUserRegionID)

    <script>
        var doctorPageUpdateUrl = '@(Html.Raw(Url.Action("PageUpdate", "Doctors", new { Digest = AntiFiddleInjection.CreateDigest(new {Model.RegionID, Model.OrganizationID}) })))';
    </script>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Kies het ziekenhuis voor wie u artsen wilt beheren
        </div>
        <div class="panel-body">
            <form id="formSelectHospital" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Regio</label>
                    <div class="col-xs-9">
                        @Html.DropDownList("RegionID", Model.Regions.ToSelectListItems(), new { @class = "form-control", onchange = "changeRegion();" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Ziekenhuis</label>
                    <div class="col-xs-9">
                        @Html.DropDownList("OrganizationID", Model.Organizations.ToSelectListItems(), new { @class = "form-control", onchange = "changeOrganization();" })
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="clearfix">
        <span class="alert alert-danger alert-button" style="display:none;" id="regionrequiredmessage">Er dient eerst een regio geselecteerd te worden</span>
        <span class="alert alert-danger alert-button" style="display:none;" id="organizationrequiredmessage">Er dient eerst een ziekenhuis geselecteerd te worden</span>
        <div class="btn btn-primary pull-right" onclick="showDoctorsMessage();">Arts toevoegen</div>
    </div>

    <div id="doctorslist" style="margin-top: 16px;">
        @Html.Partial("List", Model)
    </div>
</div>