﻿@using Point.Database.Models
@model DoctorsViewModel


<style type="text/css">
    #doctorstable tbody tr:hover {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#doctorstable').DataTable({
            "paging": false
        });
    });
</script>

<div id="doctorsListPlaceholder">

    <script type="text/javascript">
        var createDoctorUrl = '@(Html.Raw(Url.Action("Create", "Doctors", new { Model.OrganizationID, Digest = AntiFiddleInjection.CreateDigest(Model.OrganizationID) })))';
    </script>

    <table id="doctorstable" class="table table-striped">
        <thead>
            <tr>
                <th>Zoeknaam</th>
                <th>Naam</th>
                <th>Locatie(s)</th>
                <th>Specialisme</th>
                <th>AGB</th>
                <th>BIG</th>
                <th>Telefoon</th>
                <th style="width: 24px;"></th>
            </tr>
        </thead>
        @if (Model.Doctors.Any())
        {
            <tbody>
                @foreach (var item in Model.Doctors)
                {
                    var locations = item.DoctorLocation.Any()
                        ? string.Join(", ", item.DoctorLocation.Select(it => it.Location.Name))
                        : "Geen";

                    var arguments = new {item.DoctorID, Digest = AntiFiddleInjection.CreateDigest(item.DoctorID)};

                    var editclick = "onclick=ShowModal('" + Url.Action("Edit", "Doctors", arguments) + "');";
                    <tr>
                        <td @editclick>@item.SearchName</td>
                        <td @editclick>@item.Name</td>
                        <td @editclick>@locations</td>
                        <td @editclick>@(item.Specialism != null ? item.Specialism.Name : "")</td>
                        <td @editclick>@item.AGB</td>
                        <td @editclick>@item.BIG</td>
                        <td @editclick>@item.PhoneNumber</td>
                        <td onclick="ShowModal('@Url.Action("Delete", "Doctors", arguments)')"><span class="glyphicon color-pt-red glyphicon-remove pull-right"></span></td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>