﻿@model Point.Planbord.Database.Models.LoginModel

@{
    ViewBag.Title = "Log in";

    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
}

@Scripts.Render("~/Scripts/Account/Keyboard.js")

<script>
    $(document).ready(function () {

        $("#screenWidth").val(window.screen.availWidth);
        $("#screenHeight").val(window.screen.availHeight);

        $("form").submit(function () {
            $("body").css("cursor", "progress");
            $(".planbordLogin").hide(200);
        });
    });
</script>

<div class="loginBody" style="width: 1920px; height:422px; overflow: hidden;">

@using (Html.BeginForm()) {
   @Html.Hidden("screenWidth");
    @Html.Hidden("screenHeight");

    <table class="planbordLogin" style="width:114px;">
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName, new { Value = "" })  </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password, new { Value = "" })  </td>
            </tr>
           @* <tr>
                <td></td>
                <td>@Html.CheckBoxFor(m => m.RememberMe) <small>@Html.LabelFor(m => m.RememberMe)</small></td>
            </tr>*@
            <tr><td colspan="2" style="font-size:10px;">@Html.ValidationSummary()</td></tr>
            <tr>
                <td></td>
                <td><input id="LoginButton" type="submit" value="Log in" /></td>
            </tr>

        </tbody>
    </table>@*
    <table class="planbordLoginLoad" style="width:308px; height:127px; display:none;background-color:#00BDF4;">
        <tr>
            <td style="padding-left:29px;">    <div class="ajaxLoaderBar"></div></td>
        </tr>
    </table>*@


}
    </div>

