﻿

#capacitySearchForm.container {
    margin-left: 0 !important;
}

.capacity-results-container {
    margin-top: 20px;
    min-height: 320px;
}

#regionIDs + .btn-group {
    width: 100%;
}

#regionIDs + .btn-group .dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    /*width: 200px;*/
}

    #regionIDs + .btn-group button, #regionIDs + .btn-group > .multiselect-container.dropdown-menu, #displayCapacity {
        /*width: 220px;*/
        width: 100%;
    }

#regionIDs + .btn-group button.btn.multiselect.dropdown-toggle {
    text-align: center;
}

#regionIDs + .btn-group > ul.multiselect-container > li {
    margin-left: -15px;
}

#resultsNoneText {
    text-align: center;
    font-size: x-large;
    color: darkgray;
    margin-bottom: 20px;
    /*padding-right: 200px;*/
}

/*.financing-row.is-hospital {
    padding-top: 8px;
}*/

.row.is-hospital {
    padding-top: 8px;
}

.aftercarebox {
    -ms-border-radius: 5px;
    border-radius: 5px;
}

/*.col-capacityonly, .col-capacityonly > label {
    padding-left: 0;
}*/

#afterCareTypeDescriptionsModal.modal #aftercarePanelResults {
    max-height: 300px;
    /*height: 300px;*/
    max-width: 650px;
    overflow: auto;
}

#afterCareTypeDescriptionsModal.modal .modal-dialog {
    width: 650px;
}


/* TILEVIEW */

/*.financing-row {
    clear: left;
}*/


.aftercarecapacitycontainer {  
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.aftercarebox {
    font-weight: bold;
    /*width: 165px;*/
    width: 100%;
    height: 125px;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    position: relative;
    color: white;
}

.aftercarebox A {
    color: white;
}

.aftercaresubitems .aftercarebox {
    /*width: 100px;*/
    width: 100%;
    height: 100px;
}

/*.aftercaresubitems .aftercarebox:last-of-type {
    border-right: solid 4px;
}*/

/*.aftercarebox.aftercarebox-header {
    font-size: 150%;
    -ms-opacity: 0.8;
    opacity: 0.8;
}*/

.aftercarebox span.departmentcapacity {
    position: absolute;
    top: auto;
    left: 10px;
    bottom: 2px;
    text-shadow: 0.6px 0.6px 0.4px #00396a;
}

/*.aftercarebox span.departmentcapacity.has-capacity {
    font-size: larger;
}*/

/*.aftercarebox span.glyphicon {
    //bottom: 7px;
    right: 5px;
    position: absolute;
    top: auto;
}*/

.aftercarebox .capacity-unfold {
    position: absolute;
    right: 11px;
    bottom: 11px;
}



/*.aftercaresubitems {
    float: left;
}*/

.aftercaresubitems-hidden {
    display: none;
}

span.unfold:hover {
    cursor: pointer;
}

.tile-region {
    font-weight: bold;
    font-size: larger;
}

/*#withCapacityOnly {
    margin-left: 20px;
}*/


/*  Site.css */

.modal#capacityInfoModal {
    color: #00396A;
}

.modal#capacityInfoModal .fax-icon {
    font-size: 130%; 
    font-weight: bold;
    margin-top: -3px;
    margin-left: -1px;
}

.modal#capacityInfoModal .info-label {
    font-weight: bold;
    padding-right: 20px;
}

.modal#afterCareTypeDescriptionsModal table tr th,
.modal#afterCareTypeDescriptionsModal table tr td {
    padding: 0 10px;
}

.capacity-paging {
    margin-bottom: 5px;
}

table#capacityListTable tbody {
    cursor: pointer;
}

table#capacityListTable .nowrap {
    white-space:nowrap;
}

.show-info > .glyphicon {
    cursor: pointer;
}

.glyphicon.opace {
    opacity: 0.3;
}


.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}


/*.tiles .tile.capacity-financing-header {
    font-size: 22.4px;
    opacity: 0.8;
    padding-top: 10px;
}*/

.tiles .aftercarebox.aftercarebox-header {
    font-size: 22.4px !important;
    opacity: 0.8;
    padding-top: 10px;
}

.aftercarebox.aftercarebox-header > .show-info {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 16px;
}

/*.tiles .tile.capacity-financing-header.top-xs-12 {
    height: 50px;
}*/

.tiles .row .top-xs-12 .aftercarebox {
height: 50px !important;
padding-left: 15px !important;
}

#capacitySearchForm .control-label {
    font-weight: bold !important;
}

.tiles .tile .inactive {
    opacity: 0.4;
}

.tiles .tile .capacity-count {
    position: absolute;
    left: 26px;
    bottom: 6px;
    font-size: 30px;
    text-shadow: 0.6px 0.6px 0.4px gray;
}

.aftercaresubitems .capacity-count {
    font-size: 22px !important;
}


/* MAPVIEW */
#map {
    height: 100%;
    border: 2px solid #00396a;
}



.capacity #map .gm-style-iw {
    max-width: 1000px !important;
    width: 1000px !important;
}

.capacity #map .gm-style-iw .gm-style-iw-d {
    max-width: 100% !important;
    width: 100% !important;
}

.capacity #map .padding-title {
    padding-left: 20px;
}

.capacity #map .location-address {
    font-weight: normal !important;
}

.capacity .capacity-link:hover {
    color: blue;
}

.capacity #map .capacity-count {
    font-weight: bold;
    text-align: center;
}



@media screen and (max-width: 1180px) {
    #resultsNoneText {
        padding-right: 0;
    }
}

@media screen and (max-width: 1200px) {
    .capacity #map .gm-style-iw {
        max-width: 900px !important;
        width: 900px !important;
    }

}

@media screen and (max-width: 992px) {
    .capacity #map .gm-style-iw {
        max-width: 680px !important;
        width: 680px !important;
        /*top: 40px;*/
    }

    /*.capacity #map .gm-style .gm-style-iw-t:after {
        display: none !important;
    }*/
}

@media screen and (max-width: 772px) {
    .capacity #map .gm-style-iw {
        max-width: 500px !important;
        width: 500px !important;
        /*top: 120px;*/
    }
}

@media screen and (max-width: 552px) {
    .capacity #map .gm-style-iw {
        max-width: 400px !important;
        width: 400px !important;
    }
}
