﻿@using Point.Database.Models
@using Point.MVC.WebApplication.Extensions
@using Point.MVC.WebApplication.Controllers

@model Point.Database.Models.ViewModels.ScreenViewModel

@*@{   
    var formTypes = (List<SimpleObject>)ViewBag.FormTypes;
    var generalActions = (List<SimpleObject>)ViewBag.GeneralAction;
    var selectFormTypes = new SelectList(formTypes, "ID", "Text", Model.FormTypeID).ToList();
    var selectGeneralActions = new SelectList(generalActions, "ID", "Text", Model.GeneralActionID).ToList();
}*@


<script type="text/javascript">
    var formID = "#editScreenForm";

    initializevalidation(formID);

    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($(formID));

    function SaveForm(sender, close) {
        //if ($(formID).valid()) {
        //    var url = $(sender).data("saveurl");

        //    var callback = function (data) {
        //        $("#modal").modal('hide');
        //        //if (close) {
        //        //    $("#modal").modal('hide');
        //        //} else {
        //        //    $("#savedmessage").show();
        //        //    $("#ScreenID").val(data.ScreenId);
        //        //    setTimeout(function () { $("#savedmessage").hide(); }, 3000);
        //        //}
        //    }

        //    AjaxSave($(sender).closest("form"), url, false, callback, true, null);

            if ($(formID).valid()) {
                var url = $(sender).data("saveurl");
                AjaxSave($(sender).closest("form"), url, false, function () { $("#modal").modal('hide'); location.reload(); }, true);
        }
    }
</script>

<style type="text/css">
    .form-buttons {
        margin-top: 20px;
    }

        .form-buttons .btn {
            min-width: 100px;
        }

    .alert-button {
        padding-top: 3px;
        padding-bottom: 5px;
    }
</style>


<form class="form-horizontal" action="@Url.Action("Save")" method="post" id="editScreenForm">
    <div class="form-group">
        @Html.LabelFor(model => model.ScreenID, new { @class = "control-label col-xs-2" })
        <div class="col-xs-5">
            @Html.TextBoxFor(model => model.ScreenID, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FormTypeID, new { @class = "control-label col-xs-2" })
        <div class="col-xs-5">
            @Html.TextBoxFor(model => model.FormType.Name, new { @class = "form-control", @readonly = "readonly" })
           
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GeneralActionID, new { @class = "control-label col-xs-2" })
        <div class="col-xs-5">
           
            @Html.TextBoxFor(model => model.GeneralAction.Name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.Label("Schermtypen:", htmlAttributes: new { @Class = "control-label col-xs-2" })            
        </div>        
        @for (int i = 0; i < Model.ScreenTypeLogs.Count(); i++)
        {
            <div class="col-xs-3">
                @Html.HiddenFor(x => x.ScreenTypeLogs[i].ScreenTypeID)
                @Html.CheckBoxFor(x => x.ScreenTypeLogs[i].IsSelected, new { @class = "checkbox-inline" })
                @Html.DisplayFor(x => x.ScreenTypeLogs[i].Name)
            </div>
        }
    </div>
        <div class="form-group">
            @Html.LabelFor(model => model.URL, new { @class = "control-label col-xs-2" })
            <div class="col-xs-5">
                @Html.TextBoxFor(model => model.URL, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScreenTitle, new { @class = "control-label col-xs-2" })
            <div class="col-xs-5">
                @Html.TextBoxFor(model => model.ScreenTitle, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-buttons clearfix">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
            <span class="pull-right">
                <span class="alert alert-success alert-button" style="display:none;" id="savedmessage">Opgeslagen</span>
                <button type="button" class="btn btn-primary" data-saveurl="@Url.Action("Save")" onclick="SaveForm(this, true)">Opslaan en sluiten</button>
            </span>
        </div>
</form>
