﻿@model List<ScreenViewModel>

@Scripts.Render("~/Bundles/Scripts/FormType")

<script type="text/javascript">
    function searchScreen(element) {
        var screenType = $(element).val();
        document.location.href = "?search=" + screenType;
    }
</script>

@{
        var screenTypes = (List<SimpleObject>)ViewBag.SearchVals;
        var selectScreenTypes = new SelectList(screenTypes, "ID", "Text", ViewBag.Search).ToList();
    }

<div class="panel panel-primary">
    <div class="panel-heading">
        Beheer schermen
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label col-xs-3">Screen type:</label>
            <div class="col-xs-5">
                @Html.DropDownList("ScreenTypesSearch", selectScreenTypes, new { @class = "form-control", onchange = "searchScreen(this)"  })                
            </div>           
        </div>
    </div>
</div>

<div id="screenList" style="margin-top: 16px;">
    @Html.Partial("List", Model)
</div>
