﻿@model IEnumerable<Point.Database.Models.ViewModels.ScreenViewModel>
<style type="text/css">
    #screenTable tbody tr:hover {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#screenTable').DataTable({
            "paging": false
        });
    });
</script>
<table id="screenTable" class="table table-striped">
    <thead>
           <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormTypeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GeneralActionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.URL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenTypes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScreenTitle)
                </th>
            </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var editclick = "onclick=ShowModal('" + Url.Action("Edit", "Screen", new { item.ScreenID, Digest = AntiFiddleInjection.CreateDigest(item.ScreenID) }) + "');";
            <tr @editclick>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreenID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeneralAction.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
                <td>                   
                    @item.ScreenTypeNames()                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreenTitle)
                </td>
            </tr>

        }
    </tbody>

        </table>
