﻿@model IEnumerable<Point.Planbord.Database.Models.Organization>
@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Organisatie";
}

@section scripts {

    @Scripts.Render("~/Scripts/Organization/organization.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 600px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.SystemCode)</th>
                    <th style="display:none;width: 50px;">@Html.DisplayNameFor(model => model.ShortCode)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Name)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.PrivateKey)</th>
                    <th style="width: 100px;"></th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="EditOrganization" data-id="@item.EntityID" data-entity="Organization" data-url="@Url.Action("Edit", "Organization")" data-trashurl="@Url.Action("Delete", "Organization")">
                        <td>@item.SystemCode</td>
                        <td style="display:none;">@item.ShortCode</td>
                        <td>@item.Name</td>
                        <td>@item.PrivateKey</td>
                        <td><a class="noclick" href="@Url.Action("Index", "Settings", new { parentId = @item.EntityID, parentType = PlanbordSettingsParentType.Organization })">Instellingen</a></td>
                        <td><a class="noclick" href="@Url.Action("Upload", "Icon", new { OrganizationID = @item.EntityID })">Iconen</a></td>
                    </tr>
                }
            </tbody>
        </table>
        @if(User.IsInRole(Role.PlanbordAdministrator.ToString()))
        {
        <div class="linkButtonTableContainerLeft">
            <div class="CreateOrganization linkButton" data-entity="Organization" data-url="@Url.Action("Edit", "Organization")">Nieuw</div>
        </div>
        }
    </div>
</div>

