﻿@model PageLockViewModel
@using Point.Database.Extensions

@if (Model != null)
{
    <script type="text/javascript">
        function unlockpage() {
            $.ajax({ async: false, data: { pagelockid: $(this).data("pagelockid") }, type: 'GET', url: removePageLockByIDUrl });
            location.reload();
        }

        $(function () {
            $("#pageunlock").one("click", unlockpage);
        });

    </script>

    <div id="locked" class="alert alert-danger" role="alert">
        @if (@Model.PageLockTimeout > 0)
        {
            <div>Dit deel van het dossier wordt sinds @Model.Timestamp.ToPointDateHourDisplay() bewerkt door gebruiker @Model.Owner en kan dus niet door u worden bewerkt.<br /> Wanneer @Model.Owner het formulier verlaat of langer dan @Model.PageLockTimeout minuten niet actief is in het formulier, is deze voor u beschikbaar.</div>
        }
        else
        {
            <div>Dit deel van het dossier wordt sinds @Model.Timestamp.ToPointDateHourDisplay() bewerkt door gebruiker @Model.Owner en kan dus niet door u worden bewerkt.<br /> Wanneer @Model.Owner het formulier verlaat, is deze voor u beschikbaar.</div>
        }

        @if (Model.CanRemovePageLock == false)
        {
            if (Model.PageUnlockEmployees != null && Model.PageUnlockEmployees.Any())
            {
                <div style="margin-top:20px;">Indien gewenst kunt u ook de volgende personen benaderen om het formulier vrij te geven:</div>
                foreach (var unlockemployee in Model.PageUnlockEmployees)
                {
                    <div> - @unlockemployee.FullNameWithTelephone()</div>
                }
            }
            <div style="margin-top:20px;">U kunt tevens uw regiobeheerder benaderen om het formulier vrij te geven.</div>
        }
        else
        {
            <div style="margin-top:20px;">U kunt tevens met uw account deze blokkering opheffen.<br /> <b>Let op! Dit kan tot verlies van gegevens leiden.</b></div>
        }

        @if (Model.CanRemovePageLock)
        {
            <button id="pageunlock" type="button" style="margin-top:20px;" class="btn btn-danger" data-pagelockid="@Model.PageLockID">Blokkering opheffen van formulier</button>
        }
    </div>
}