﻿@{
    Layout = null;
}

<div id="timeout" class="alert alert-danger" role="alert">
    @if (!String.IsNullOrWhiteSpace(ViewBag.FormName) && !string.IsNullOrWhiteSpace(ViewBag.Url))
    {
       <span>U bent vanuit de '@ViewBag.FormName' naar dit scherm geleid omdat er te lang niet gewerkt is in '@ViewBag.FormName'. Uw ingevoerde gegevens zijn opgeslagen. @Html.ActionLink("Klik hier", null, null, null, new { href = ViewBag.Url }) om terug te gaan naar het scherm '@ViewBag.FormName' waar u in bezig was.</span>
    }
    else
    {
        <span>U bent naar dit scherm geleid omdat er te lang niet gewerkt is in het formulier waarin u bezig was. Uw ingevoerde gegevens zijn wel opgeslagen.</span>
    }
</div>
