﻿@model List<FlowInstanceSearchValues>

<style>
    #gridTable td {
        cursor: pointer;
        max-width: 200px !important;
    }

    #gridTable th {
        max-width: 200px !important;
    }
</style>


@if (Model != null)
{
    <table id="gridTable" class="dataTable table table-striped">
        <thead>
            <tr>
                <th style="display:none"></th>
                <th class="sorting" data-sortby="ClientFullName">
                    Naam cliënt
                </th>
                <th class="sorting" data-sortby="ClientBirthDate">
                    Geboortedatum
                </th>
                <th class="sorting" data-sortby="ClientCivilServiceNumber">
                    BSN
                </th>
                <th class="sorting" data-sortby="FlowDefinitionName">
                    Flowtype
                </th>
               </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {                
                <tr onclick = "getClientDataByTransferID('@Url.Action("GetClientByFlowInstance", "ClientSearch",new { transferID = item.TransferID })',@item.TransferID);">               
                    <td style="display:none;"></td>
                    <td>
                        @item.ClientFullname
                    </td>
                    <td>
                        @item.ClientBirthDate.ToPointDateDisplay()
                    </td>
                    <td>
                        @item.ClientCivilServiceNumber
                    </td>
                    <td>
                        @item.FlowDefinitionName
                    </td>
                </tr>
            }
        </tbody>
    </table>

    int count = (int)ViewBag.Count;
    bool showall = (bool)ViewBag.ShowAll;

    if (count > 50 && !showall)
    {
        <div id="showallbutton" class="btn btn-sm btn-default" onclick="showAll()">Alle @count weergeven</div>
    }
}