﻿@model ClientSearchViewModel
<style type="text/css">
    #regiontypecontainer * {
        vertical-align: top;
        color: #333333 !important;
    }

    #ClientSearchData {
        height: 400px;
        overflow-y: scroll;
    }

    .label, .error {
        padding: 2px 7px;
        color: red;
    }

</style>
@Scripts.Render("~/Bundles/Scripts/ClientSearch") 

<div class="modal-body" id="modalBody">
    <button type="button" data-dismiss="modal" class="btn pull-right">Annuleren</button>
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", id = "ClientSearchForm", data_url = @Url.Action("ClientSearchData") }))
    {
        <div id="searchClientDiv">
            <div class="form-group">
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Search, new { @maxlength = 50, @class = "flowfield form-control", placeholder = "Zoeken (naam/geboortedatum/BSN)", data_minlength = 3, data_val = "true", onkeyup = "searchlive(this);"  })
                </div>
            </div>          
        </div>
    }
    <div id="ClientSearchData">
    </div>
</div>