﻿@using Point.Database.Models.ViewModels;
@model IEnumerable<TempletViewModel>
<script type="text/javascript">
    $(function () {
        var height = $("#templetsTable").closest('div').innerHeight();
        $("#templetsTable").DataTable({
            aaSorting: [[5, 'asc'], [0, 'asc']],
            bFilter: false,
            sDom: "ftip",
            scrollY: height
        });
    });
</script>
<table id="templetsTable" class="table table-striped table-condensed">
    <thead class="bg-primary">
        <tr class="theme_headerstyle">
            <th scope="col">Naam bestand</th>
            <th scope="col">Omschrijving</th>
            <th scope="col">Doelgroep</th>
            <th scope="col">Datum toegevoegd</th>
            <th scope="col">Toegevoegd door</th>
            <th scope="col" style="display:none;">Sorteerpositie</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var templetViewModel in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(templetViewModel.Name, "Download", "Templet", new
                        {
                            TransferID = ViewBag.TransferID,
                            TempletID = templetViewModel.TempletID,
                            Digest = AntiFiddleInjection.CreateDigest(templetViewModel.TempletID)
                        }, null)
                    </td>
                    <td>@templetViewModel.Description</td>
                    <td>@templetViewModel.TempletTypeID.GetDescription()</td>
                    <td>@templetViewModel.UploadDate.ToPointLongDisplay()</td>
                    <td>@templetViewModel.EmployeeName</td>
                    <td style="display:none;">@templetViewModel.SortOrder</td>
                </tr>
            }
        }
    </tbody>
</table>
