﻿@model SearchUIConfiguration
@using Point.Database.Models
@using Point.Models.Enums;

@{
    bool isCustom = (bool)ViewBag.IsCustom;
    Organization organization = (Organization)ViewBag.Organization;
    int? organizationID = organization == null ? (int?)null : organization.OrganizationID;
    int? departmentID = (int?)ViewBag.DepartmentID;
    string organizationName = organization == null ? "Default" : organization.Name;
    SortOrderInfo sortoder = (SortOrderInfo)ViewBag.SortOrder;
    SearchType searchtype = (SearchType)ViewBag.SearchType;

    bool isDefault = organizationID == null && departmentID == null;
    bool alloweditregion = (bool)ViewBag.AllowEditRegio;
}

@Scripts.Render("~/Bundles/Scripts/SearchUI")

<h3>Aanpassen zoekscherm</h3>
<b>@organizationName - afdeling @ViewBag.DepartmentName</b>

@using (var form = Html.BeginForm("Edit", "SearchUI", FormMethod.Post, new { @action = Url.Action("Edit", new { organizationID, departmentID }) }))
{
    <input type="hidden" name="OrganizationID" value="@organizationID" />
    <input type="hidden" name="DepartmentID" value="@departmentID" />
    <input type="hidden" name="FlowDefinitionID" value="@Model.FlowDefinitionID" />
    <input type="hidden" name="SearchType" value="@searchtype" />

    <div class="alert alert-info" style="min-height:60px;">
        <div class="pull-right">
            <input type="submit" class="btn btn-lightgray" name="actionname" value="Terug" />
            <input type="submit" class="btn btn-default" name="actionname" value="Opslaan" />
            @if (isCustom)
            {
                <input type="submit" class="btn btn-warning" name="actionname" value="Verwijder aanpassing" />
            }
            @if (isDefault)
            {
                <input type="submit" class="btn btn-warning" name="actionname" value="Reset default" />
            }
        </div>

        @if (organization != null)
        {
            <div class="row">
                <label class="control-label col-xs-2">Opslaan in:</label>
                <div class="col-xs-5">
                    <select name="saveto" class="form-control">
                        <option value="">Deze afdeling/organisatie</option>
                        @if (alloweditregion)
                        {
                            if (organization.OrganizationTypeID == (int)OrganizationTypeID.HealthCareProvider)
                            {
                                <option value="region">VVT's in deze regio (@organization.Region.Name)</option>
                            }

                            if (organization.OrganizationTypeID == (int)OrganizationTypeID.Hospital)
                            {
                                <option value="region">Ziekenhuizen in deze regio (@organization.Region.Name)</option>
                            }
                        }
                    </select>
                </div>
            </div>
        }
    </div>
    <div class="alert alert-info">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Veldnaam
                    </th>
                    <th style="width:120px;">
                        Sorteren
                    </th>
                    <th style="width:150px;">
                        Breedte
                    </th>
                    <th style="width:80px;">
                        Zichtbaar
                    </th>
                    <th style="width:80px;">
                        Icoon
                    </th>
                    <th style="width:80px;">
                        Index
                    </th>
                </tr>
            </thead>
            @foreach (var field in Model.Fields.OrderBy(fld => fld.Column.Index))
            {
                <tr>
                    <td><span title="@field.Column.FullName">@field.Column.HeaderName</span></td>
                    <td>
                        <select name="@(field.SearchUIFieldConfigurationID.ToString() + "_sortorder" )" class="form-control sortorder-select">
                            <option value=""> - </option>
                            <option value="asc" @(sortoder.Field.Name == field.Field.Name && sortoder.OrderByDescending == false ? "selected" : "")>Oplopend</option>
                            <option value="desc" @(sortoder.Field.Name == field.Field.Name && sortoder.OrderByDescending == true ? "selected" : "")>Aflopend</option>
                        </select>
                    </td>
                    <td>
                        @{
                            string classname = field.Column.CssClass ;
                        }
                        <select name="@(field.SearchUIFieldConfigurationID.ToString() + "_cssclass")" class="form-control">
                            <option value="" @(classname == "" ? "selected" : "")> - </option>
                            <option value="search-cell-icon" @(classname == "search-cell-icon" ? "selected" : "")>Icoon</option>
                            <option value="search-cell-x-small" @(classname == "search-cell-x-small" ? "selected" : "")>Heel klein</option>
                            <option value="search-cell-small" @(classname == "search-cell-small" ? "selected" : "")>Klein</option>
                            <option value="search-cell-medium" @(classname == "search-cell-medium" ? "selected" : "")>Medium</option>
                            <option value="search-cell-large" @(classname == "search-cell-large" ? "selected" : "")>Groot</option>
                            <option value="search-cell-x-large" @(classname == "search-cell-x-large" ? "selected" : "")>Extra groot</option>
                        </select>
                    </td>
                    <td><input type="checkbox" name="@(field.SearchUIFieldConfigurationID.ToString() + "_isvisible" )" @(field.Column.IsVisible ? "checked" : "") value="true" /></td>
                    <td>
                        @if (field.Icon.ShowAsIcon)
                        { <span class="@field.Icon.GlyphName"></span> }
                    </td>
                    <td><input type="text" name="@field.SearchUIFieldConfigurationID" value="@field.Column.Index" class="form-control" /></td>
                </tr>
            }
        </table>
    </div>
}