﻿@model IEnumerable<Organization>
@using Point.Database.Models
@using Point.Models.Enums
@{
    var thisOrganization = ViewBag.ThisOrganization as Organization;
    var alloweditdefault = (bool)ViewBag.AllowEditDefault;
    var flowdefinitions = ViewBag.FlowDefinitions as IEnumerable<FlowDefinition>;
    var searchtypes = ViewBag.SearchTypes as IEnumerable<Option>;
}

<script type="text/javascript">
    var getDepartmentsByOrganizationUrl = '@Html.Raw(Url.Action("GetDepartmentsByOrganization", "Lookup"))';
</script>

@Scripts.Render("~/Bundles/Scripts/SearchUI")

<h3>Kies organisatie om zoekscherm aan te passen</h3>

@using (var form = Html.BeginForm("Edit", "SearchUI", FormMethod.Get, new { @class = "form-horizontal", @action = Url.Action("Edit") }))
{
    <div class="panel panel-azure">
        <div class="panel-heading">Kies zoek type</div>
        <div class="panel-body">
            <div class="row" style="margin-bottom:20px;">
                <label class="col-xs-2">
                    Zoek type
                </label>
                <div class="col-xs-10">
                    <select class="form-control" id="searchtype" name="searchtype">
                        @foreach (var item in searchtypes)
                        {
                            string selected = item.Selected ? "selected" : "";
                            <option value="@item.Value" @selected>@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-azure">
        <div class="panel-heading">Kies flow</div>
        <div class="panel-body">
            <div class="row" style="margin-bottom:20px;">
                <label class="col-xs-2">
                    Flow
                </label>
                <div class="col-xs-10">
                    <select class="form-control" id="FlowDefinitionID" name="FlowDefinitionID">
                        @foreach (var item in flowdefinitions)
                        {
                            string selected = item.FlowDefinitionID == FlowDefinitionID.ZH_VVT ? "selected" : "";
                            <option value="@item.FlowDefinitionID" @selected>@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-azure">
        <div class="panel-heading">Kies organisatie</div>
        <div class="panel-body">
            @if (alloweditdefault) {
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-xs-12"><label class="radio radio-inline"><input type="radio" name="edittype" class="edittype-select" checked />(Default)</label></div>
                </div>
            }
            <div class="row" style="margin-bottom:20px;">
                <div class="col-xs-2"><label class="radio radio-inline"><input type="radio" name="edittype" class="edittype-select" @(alloweditdefault ? "" : "checked") />Organisatie</label></div>
                <div class="col-xs-10">
                    <div class="row edittype-row">
                        <div class="col-xs-4">
                            <select id="OrganizationID" name="OrganizationID" class="form-control" placeholder="Organisatie" @(alloweditdefault ? "disabled" : "")>
                                @if (Model.Count() > 1)
                                {
                                    <option value=""> - Maak uw keuze - </option>
                                }
                                @foreach (var org in Model)
                                {
                                    <option value="@org.OrganizationID">@org.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <select id="DepartmentID" name="DepartmentID" class="form-control trigger-edit" placeholder="Afdeling" @(alloweditdefault ? "disabled" : "")></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input id="editbutton" type="submit" class="btn btn-default pull-right" value="Aanpassen" />
                </div>
            </div>
        </div>
    </div>
}
