﻿@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Wachtwoord opnieuw aanvragen";
    var isHospital = ViewBag.IsHospital;
}

@using (Html.BeginForm("ResetPassword", "login", FormMethod.Post, new { @class = "form-horizontal", id = "resetpasswordform" }))
{
    @Html.AntiForgeryToken()

    <div class="row bgheads">
        <div class="col-md-offset-2 col-md-6">
            <div class="panel panel-azure">
                <div class="panel-heading">
                    <b>Wachtwoord opnieuw aanvragen</b>
                </div>
                <div class="panel-body">

                    <div id="findQuestionContainer">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2", id = "username" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2", id = "email" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                <a href="@Url.Action("Index")" class="btn btn-blue">Annuleren</a>
                            </div>

                            <div class="col-md-10">
                                <input type="button" value="Volgende stap" class="btn btn-azure pull-right" id="getQuestionBtn" />
                            </div>
                        </div>
                    </div>

                    <div id="secretQuestionAndAnswerContainer" style="display:none">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SecretQuestion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <label id="SecretQuestionContainer" class="control-label"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SecretAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SecretAnswer, new { htmlAttributes = new { @class = "form-control", id="secretAnswerTextBox" } })
                                @Html.ValidationMessageFor(model => model.SecretAnswer, "", new { @class = "text-danger", id = "SecretAnswer" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                <a href="@Url.Action("Index")" class="btn btn-blue">Annuleren</a>
                            </div>
                            <div class="col-md-10">
                                <input type="button" id="SendPassword" value="Versturen" class="btn btn-azure pull-right" />
                            </div>
                        </div>

                    </div>
                    
                    
                    
                    
                    <div class="cols-md-offset-2 col-md-7" id="failed" style="display:none">
                        <div class="alert alert-danger" id="FailedResult">

                        </div>
                    </div>
                    <div class="form-group" style="display:none" id="ResetPasswordResultContainer">
                        <div class="col-md-offset-2 col-md-10">
                            <label id="ResetPasswordResult" class="control-label"></label>
                        </div>
                        <div class="col-md-offset-2 col-md-10" id="success">
                            <a href="@Url.Action("Index")" class="btn btn-blue">Terug naar het loginscherm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script type="text/javascript">
        var getSecretQuestionUrl = "@Html.Raw(Url.Action("RetrieveQuestion", "Login"))";
        var resetPasswordUrl = "@Html.Raw(Url.Action("ResetPassword", "Login"))";
    </script>
    <script src="~/Scripts/MVC/ForgotPassword.js"></script>
}
