﻿@model LoginViewModel

@{
    ViewBag.Title = "Aanmelden";    
    var routeValueDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
    var htmlAttributes = new Dictionary<string, object>() { { "class", "form-horizontal" } };
}

@if(Request.IsAjaxRequest())
{
    <script type="text/javascript">
        location.replace(window.location.href);
    </script>
}

@using (Html.BeginForm("Index", "Login", routeValueDictionary, FormMethod.Post, htmlAttributes))
{
    Html.EnableClientValidation(false);
    @Html.Hidden("Resolution", "Onbekend", new { Id = "ResolutionField" });

    <div class="row bgheads">
        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-6">
            @if (Model.SSOSucceeded == false)
            {
                <div class="alert alert-warning">
                    <b>Automatisch aanmelden was niet succesvol.</b><br />
                    <br />
                    Neem s.v.p. contact op met uw beheerder.
                </div>
            }
            else
            {
                <div class="panel panel-azure">
                    <div class="panel-heading">
                        <b>Aanmelden</b>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-xs-5 control-label" })
                            <div class="col-xs-7">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", id = "username" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-xs-5 control-label" })
                            <div class="col-xs-7">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Aanmelden" class="btn btn-azure pull-right" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            @{
                                if (Model.SendDeblockEmail)
                                {
                                    @Html.ActionLink("De-blokkering aanvragen", "SendEmailToAdmin", "Login", new { username = @Model.Username }, new { @class = "col-xs-5 control-label" })
                                }
                                if (!String.IsNullOrEmpty(Model.DeblockMessage))
                                {
                                    <div class="col-xs-5 control-label">
                                        <text>@Model.DeblockMessage</text>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <div style="margin: 15px; text-align:center;">
                <img src="@Url.Content("~/Images/PointInBeeldscherm.png")" style="vertical-align: middle; width: 100%; max-width: 280px;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-darkblue bg-darkblue item">
                        <div class="panel-heading bg-white">
                            @Html.ActionLink("Wachtwoord vergeten", "ForgotPassword", "Login", null, new { @class = "color-pt-darkblue" })
                        </div>
                        <div class="panel-body bg-darkblue color-pt-white">
                            Als POINT gebruiker kunt u <u>@Html.ActionLink("een nieuw wachtwoord opvragen", "ForgotPassword", "Login", null, new { @class = "color-pt-white" })</u>.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-red bg-red item">
                        <div class="panel-heading bg-white">
                            <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="color-pt-red">Nieuwsbrief</a>
                        </div>
                        <div class="panel-body bg-red color-pt-white">
                            Op de hoogte blijven van de functionaliteit en ontwikkelingen rondom POINT? <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="color-pt-white"><u>Schrijf je in voor de nieuwsbrief!</u></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-orange bg-orange item">
                        <div class="panel-heading bg-white">
                            <span class="color-pt-orange cursor-pointer" style="font-weight:bold" onclick="ShowModal('@Url.Action("PrivacyInstruction")', null,null, 'Privacy Instructie');">Privacy Instructie</span>
                        </div>
                        <div class="panel-body bg-orange color-pt-white">
                            Bekijk <span class="color-pt-white cursor-pointer" style="font-weight:bold" onclick="ShowModal('@Url.Action("PrivacyInstruction")', null,null,'Privacy Instructie');"><u>onze instructie</u></span> aangaande Privacy<br /><br />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-azure bg-azure item">
                        <div class="panel-heading bg-white">
                            <span class="color-pt-azure cursor-pointer" style="font-weight:bold" onclick="ShowModal('@Url.Action("MoreInfo")',null,null,'POINT algemene informatie');">Meer informatie, Instructie, Vragen</span>
                        </div>
                        <div class="panel-body bg-azure color-pt-white">
                            POINT, het elektronisch Transfer- en Overdrachtsdossier.<br />
                            <span class="color-pt-white cursor-pointer" style="font-weight:bold" onclick="ShowModal('@Url.Action("MoreInfo")',null,null,'POINT algemene informatie');"><u>Meer info</u></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            var resfield = $("#ResolutionField");
            resfield.val(screen.width + "x" + screen.height);
            $("#username").focus();
        })
</script>
}
