﻿@model LoginHistoryViewModel

<style type="text/css">
    .modal-body div#loginHistory .systemmessage-date {
        font-weight: bold;
        max-width: 200px;
        right: 50px;
    }

    .modal-body div#loginHistory .label, .modal-body div#loginHistory .error {
        padding: 2px 7px;
        color: red;
    }

    .modal-body div#loginHistory .header-table {
        overflow-x: hidden;
    }

    .modal-body div#loginHistory table {
        margin-bottom: 0 !important;
    }

    .modal-body div#loginHistory .header-table td, .modal-body div#loginHistory th {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .modal-body div#loginHistory .header-table td:first-child, .modal-body div#loginHistory th:first-child {
        display: none;
    }

    .modal-body div#loginHistory td {
        padding: 4px !important;
    }

    .modal-body div#loginHistory {
        white-space: normal !important;
    }

    .modal-body div#loginHistory .last-login {
        margin-left: 0 !important;
        padding-bottom: 5px;
    }

    .modal-body div#loginHistory .panel {
        margin-bottom: 0;
    }
    
</style>

<div id="loginHistory">
    <div class="pull-right">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Sluiten</button>
    </div>
    <h3>@Model.Title</h3>
    <div class="last-login row"><span>Laatste logins</span></div>

    <div class="header-table">
        <table class="table table-head gridTableHeader">
            <thead>
            <tr>
                <th style="display: none"></th>
                <th>
                    <div class="item search-cell-large">Tijdstip inloggen</div>
                </th>
                <th>
                    <div class="item search-cell-medium">IP-adres</div>
                </th>
            </tr>
            </thead>
        </table>
    </div>

    @if (Model != null)
    {
        <table id="gridTable" class="table table-head table-striped">
            <tbody>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td style="display: none;"></td>
                    <td title="@item.LoginDateTime">
                        <div class="item search-cell-large">@item.LoginDateTime</div>
                    </td>
                    <td title=">@item.ClientIP">
                        <div class="item search-cell-medium">@item.ClientIP</div>
                    </td>
                </tr>

            }
            </tbody>
        </table>
    }

</div>