﻿@model MFAViewModel
@{ 
    string mfaDigest = ViewBag.MFADigest as string;
}


    <script type="text/javascript">
        var formID = "#loginMFAForm";

        $(function () {
            $("#@Html.IdFor(m => m.MFACode)").focus();
        });

    </script>

    <script type="text/javascript">
        var checkmfacodeurl = "@Url.Action("CheckMFACode", "Login")";
        var dispatchurl = "@Url.Action("DispatchFromMFA", "Login")";
    </script>

    @Scripts.Render("~/Bundles/Scripts/LoginMFA")

    @using (Html.BeginForm("CheckMFACode", "Login", FormMethod.Post, new { id = "loginMFAForm", @class = "form-horizontal" }))
    {
    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            Uw organisatie heeft een extra beveiliging ingesteld bij het inloggen in POINT.<br />
            U dient een extra beveiligingscode in te voeren.
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                <div class="col-xs-12">
                    Voer hier de beveiligingscode in, welke zojuist naar uw mobiele nummer verzonden is en klik op 'Bevestigen'
                </div>
            </div>
            <div class="form-group">
                @Html.AntiFiddleTokenFor(m => m.EmployeeID)
                @Html.HiddenFor(m => m.EmployeeID)
                @Html.Hidden("mfaDigest", mfaDigest)

                <label class="control-label col-xs-2" }">Beveiligingscode</label>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.MFACode, new { @class = "form-control" })
                </div>
                <div class="col-xs-8">
                    <div id="CheckMFACode" class="btn btn-azure">Bevestigen</div>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="alert alert-danger" id="ResultWarning" style="display:none">De ingevoerde beveiligingscode is onjuist. Controleer deze en bevestig het nogmaals, of <a href="@Url.Action("LoginMFASMS", "Login")">klik hier</a> om een nieuwe code te ontvangen.</div>

    <div class="alert alert-success" id="ResultSuccess" style="display:none">De beveiligingscode is geaccepteerd. U wordt nu automatisch doorgestuurd <a href="@Url.Action("DispatchFromMFA", "Login")">naar de transfer in POINT</a></div>
