﻿

        POINT is het Elektronisch Transfer en Overdrachtsdossier voor de transfer van uw patiënten binnen en buiten uw regio. <br />
        POINT staat voor Punt voor Overdracht, Informatie, Naslag en Transfers en zorgt voor de juiste patiënt, met de juiste zorg, op de juiste plaats, op het juiste tijdstip.
        Meer informatie vindt u op <a href="https://www.verzorgdeoverdracht.nl" target="_blank"><u>verzorgdeoverdracht.nl</u></a><br />
        <br />
        <b>POINT-instructie</b><br />
        <br />
        Heeft u nog niet eerder met POINT gewerkt, raadpleeg dan eerst de documentatie over POINT zodra u bent ingelogd.
        De documentatie vindt u nadat u bent ingelogd rechts bovenin het scherm naast uw inlognaam.<br />
        In het kader van het bewaken van de privacy veiligheid en traceability, worden uw activiteiten in POINT geregistreerd en gelogd.<br />
        <br />
        <b>Vragen</b><br />
        <br />
        Mocht u vragen hebben of problemen ondervinden, neem dan contact op met uw regiobeheerder.<br />
        Als u niet kunt inloggen, neem dan contact op met de beheerder van uw organisatie.
