﻿Het gebruik van Point wordt geregistreerd en is voorbehouden aan geautoriseerde gebruikers.<br />
De voorwaarden voor het gebruik van Point zijn in het algemeen vastgelegd in de Wet Bescherming Persoonsgegevens en de Wet op de Geneeskundige Behandelingsovereenkomst (WGBO) en zijn specifiek uitgewerkt in de POINT handleiding.<br />
Specifiek wordt ook verwezen naar de bijlage gericht op bescherming van de privacy gegevens en naar de aanvullende Privacyverklaring die na inloggen achter het tandwiel rechts bovenin het scherm te raadplegen is.<br />
<br />
<b>Gebruikersinstructie:</b><br />
<br />
POINT bevat gegevens van cliënten. <br />
De gebruiker wordt erop gewezen dat hij/zij zorgvuldig en vertrouwelijk met deze gegevens dient om te gaan.<br />
Daarnaast dient de gebruiker het wachtwoord dat ten behoeve van het verkrijgen van toegang tot Point aan hem of haar is uitgereikt geheim te houden.<br />
Wanneer de gebruiker onregelmatigheden in het gebruik of de inhoud van Point ontdekt, wordt de gebruiker verzocht dit te melden bij de eigen instelling en/of de regiobeheerder.<br />
<br />
<b>Disclaimer:</b><br />
<br />
Dit informatiesysteem is ontwikkeld ten behoeve van het doen van zorgaanvragen.<br />
Er is veel inspanning geleverd in het realiseren van de juiste werking van het informatiesysteem.<br />
Desondanks accepteert LinkAssist geen verantwoordelijkheid of aansprakelijkheid hoe dan ook met betrekking tot de informatie die in dit informatiesysteem wordt gepresenteerd.<br />
Deze disclaimer is niet bedoeld om de aansprakelijkheid van [de instelling] te beperken in tegenspraak tot enige verplichtingen vastgelegd in van toepassing zijnde wetgeving of aansprakelijkheid uit te sluiten voor zaken die onder de vigerende wetgeving niet mogen worden uitgesloten.<br />