﻿@using Point.Infrastructure.Helpers
@{
    var reportingwebserverurl = ConfigHelper.GetAppSettingByName<string>("WebServerReporting", "") + "/Reporting";
}
<script type="text/javascript">
    var loaded = false;

    function Resize() {
        $("#reportframe").height($(window).innerHeight() - 100);
    }

    function hideProgress() {
        if (loaded === true) {
            $("#loader").hide();
        }
        loaded = true;
    }
    
    $(function () {
        $("#reportframe").prop('src','@reportingwebserverurl');
        Resize();
        $(window).on("resize", function () {
            Resize();
        });
    });
</script>
<style>
    #reportframe {
        padding: 0;
        margin: 0;
        width: 100%;
    }
</style>

<div id="loader" class="alert alert-info">
    Een moment geduld a.u.b.
</div>
<iframe id="reportframe" onload="hideProgress()" frameborder="0"></iframe>