﻿@using Point.Database.Models.ViewModels
@model SystemMessageOverviewViewModel
@if (Model != null)
{
    <style type="text/css">
        .systemmessage-title {
            font-weight: bold;
            display: inline-block;
            margin-right: 100px;
        }

        .systemmessage-date {
            font-size: 80%;
            position: absolute;
            max-width: 100px;
            right: 24px;
        }
    </style>
    <script type="text/javascript">
        var messageReadUrl = '@VirtualPathUtility.ToAbsolute("~/SystemMessage/MarkMessageRead")';
        var messageSourceUrl = '@VirtualPathUtility.ToAbsolute("~/SystemMessage/Recent")';
    </script>
    @Scripts.Render("~/Bundles/Scripts/SystemMessage")
    <div class="modal fade" id="systemMessageModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="systemMessageModalBody" style="white-space: pre-wrap;word-wrap: break-word;">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="ReadLater()">Lees later</button>
                    <button type="button" class="btn btn-primary" onclick="MessagesRead()">Gelezen</button>
                </div>
            </div>
        </div>
    </div>

    if (Model.ShowPopup)
    {
        <script type="text/javascript">
        $(document).ready(function () {
            GetMessages();
        });
        </script>
    }

    if (Model.LastSystemMessageID.HasValue)
    {
        <li id="liSystemMessages">
            <div class="btn btn-danger">
                <a href="#" onclick="GetMessages(); return false;" class="HeaderSystemMessage color-pt-white" id="hrfLastSystemMessage">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> @Model.LastSystemMessage.AddEllipsis(30)
                </a>
            </div>
        </li>
    }
}
