﻿@model Point.Database.Models.ViewModels.TemplateViewModel
@using Point.Infrastructure.Attributes;
@using Point.MVC.WebApplication.Extensions

<h1>(Zorgmail) Sjabloon beheer</h1>

<script type="text/javascript">
    var isdefault = @Json.Encode(Model.IsDefault);
    var canbeorganizationspecific = @Json.Encode(Model.CanBeOrganizationSpecific);
</script>

<style>
    #TemplateText {
        height: 600px;
        overflow-y: scroll;
    }

    .defaulttemplate {
        border-color: red;
    }

    .plaintext {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/Template")

@using (Html.BeginForm("Save", "Template", FormMethod.Post, new { @class = "form-horizontal", id = "TemplateZorgMail" }))
{
    @Html.Hidden("Digest", AntiFiddleInjection.CreateDigest(Model.TemplateID))
    @Html.HiddenFor(m => m.TemplateID)
    @Html.HiddenFor(m => m.TemplateDefaultID)
    @Html.HiddenFor(m => m.OrganizationID)
    @Html.HiddenFor(m => m.TemplateTypeID)

    <div class="form-group">
        <label class="control-label col-xs-1">Sjabloon</label>
        <div class="col-xs-6">
            @Html.DropDownList("ddlTemplateTypeID", new SelectList(Model.TemplateTypes, "TemplateTypeID", "Description", (int)Model.TemplateTypeID), new { @class = "form-control" })
        </div>
    </div>

    if ((int)Model.TemplateTypeID > 0)
    {
        if (Model.CanBeOrganizationSpecific)
        {
            if (Model.Organizations != null)
            {
                <div class="form-group">
                    <label class="control-label col-xs-1">Organisatie</label>
                    <div class="col-xs-6">
                        @Html.DropDownList("ddlOrganizations", new SelectList(Model.Organizations, "OrganizationID", "Name", Model.OrganizationID), "Selecteer", new { @class = "form-control" })
                    </div>
                </div>

                if (Model.OrganizationID.HasValue)
                {
                    <div class="form-group">
                        <label class="control-label col-xs-1">TransferID</label>
                        <div class="col-xs-4">
                            @Html.TextBox("TransferID", "", new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <button type="button" id="showExample" class="btn btn-block btn-primary" data-url="@Url.Action("Example")">Voorbeeldbericht</button>
                        </div>
                    </div>

                }
            }
        }
        
        <div class="form-group">
            <div class="col-xs-7">
                @Html.TextAreaFor(m => m.TemplateText, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-7">
                <span class="pull-right">
                    @if (Model.TemplateID > 0)
                    {
                        if (!Model.IsDefault)
                        {
                            <button type="button" class="btn btn-primary" id="loadDefault" data-url='@Html.Raw(Url.Action("GetTemplateDefaultText", "Lookup", new { area = "", templatetypeid = (int)Model.TemplateTypeID }))'>Gebruik standaardsjabloon</button>
                        }
                        <button type="button" class="btn btn-danger" id="deleteTemplate" data-url='@Html.Raw(Url.Action("Delete"))'>Verwijderen</button>
                    }

                    @if (((Model.CanBeOrganizationSpecific && Model.OrganizationID.HasValue) || !Model.CanBeOrganizationSpecific))
                    {
                        <button type="button" class="btn btn-default" id="saveTemplate">Opslaan</button>
                    }
                </span>
            </div>
        </div>
    }
}

<div id="areyousuremodal" class="modal in" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <strong>Weet u het zeker?</strong><br /><br />
                    Dit kan niet ongedaan gemaakt worden.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
                <button id="btniamsure" type="button" class="btn btn-danger">OK</button>
            </div>
        </div>
    </div>
</div>