﻿@model MFAViewModel

<script type="text/javascript">
    var formID = "#changeMFAForm";
</script>

<script type="text/javascript">
    var mfanumber = "#@Html.IdFor(m => m.MFANumber)";
    var mfacode = "#@Html.IdFor(m => m.MFACode)";
    //var sendmfacodeurl = "@Url.Action("SendMFACode", "Account")";
    var checkmfacodeurl = "@Url.Action("CheckGoogleCode", "Account")";

    $(function () {
        $("#@Html.IdFor(m => m.MFANumber)").focus();

        $('[data-toggle="clickover"]:not(.client-header)').clickover({
            html: true,
            placement: "top",
            global_close: true,
            esc_close: true,
            title: $(this).data("title"),
            content: $(this).data("content")
        });


    });

</script>

@Scripts.Render("~/Bundles/Scripts/ChangeMFA")

@using (Html.BeginForm("CheckGoogleCode", "Account", FormMethod.Post, new { id = "changeMFAForm", @class = "form-horizontal" }))
{
    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            Uw organisatie heeft een extra beveiliging ingesteld bij het inloggen in POINT.<br />
            Daarom dient u 'verificatie in twee stappen' voor uw account te activeren (dit is eenmalig).<br />
            Volg onderstaande stappen, voer de verificatiecode in en klik op 'Verificatiecode bevestigen'.
        </div>
    </div>

    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            Installeer "Google Authenticator" op uw <i>mobiele</i> apparaat, of open de app als u dit reeds gedaan heeft.<br />
            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=nl-NL">Voor Android via de <span style="text-decoration:underline">Play store</span></a>, of <a href="https://itunes.apple.com/nl/app/google-authenticator/id388497605">voor iPhone via de <span style="text-decoration:underline">App store</span></a><br />
        </div>
    </div>
    <div class="panel panel-blue" id="SetupCode">
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                @Html.AntiFiddleTokenFor(m => m.EmployeeID)
                @Html.HiddenFor(m => m.EmployeeID)
                <label class="col-xs-12 col-sm-6 col-md-3 control-label">
                    Scan deze QR-code met de app:<br />
                    <img src="@Model.ImageURL" /><br />
                    of voer onderstaande code in:<br />
                    @Model.SetupCode<br />
                </label>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    @Html.TextBoxFor(m => m.MFACode, new { @class = "form-control" })<br />
                    <div id="CheckMFACode" class="btn btn-block btn-azure">Verificatiecode bevestigen</div>
                </div>
            </div>
        </div>
    </div>

}

<div class="alert alert-danger" id="ResultWarning" style="display:none">
    De ingevoerde verificatiecode is onjuist. Controleer deze en bevestig het nogmaals, of <a href="@Url.Action("ChangeMFAGoogle", "Account")">klik hier</a> om opnieuw te beginnen.
</div>

<div class="alert alert-success" id="ResultSuccess" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Uw account is succesvol geregistreerd.</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <a href="@Url.Action("DispatchFromMFA", "Login")" class="btn btn-azure">Doorgaan naar POINT</a>
        </div>
    </div>
</div>
