﻿@model MFAViewModel

<script type="text/javascript">
    var formID = "#changeMFAForm";
</script>

<script type="text/javascript">
    var mfanumber = "#@Html.IdFor(m => m.MFANumber)";
    var mfacode = "#@Html.IdFor(m => m.MFACode)";
    var sendmfacodeurl = "@Url.Action("SendMFACode", "Account")";
    var checkmfacodeurl = "@Url.Action("CheckMFACode", "Account")";

    $(function () {
        $("#@Html.IdFor(m => m.MFANumber)").focus();

        $('[data-toggle="clickover"]:not(.client-header)').clickover({
            html: true,
            placement: "top",
            global_close: true,
            esc_close: true,
            title: $(this).data("title"),
            content: $(this).data("content")
        });


    });

</script>

@Scripts.Render("~/Bundles/Scripts/ChangeMFA")

@using (Html.BeginForm("SendMFACode", "Account", FormMethod.Post, new { id = "changeMFAForm", @class = "form-horizontal" }))
{
    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            Uw organisatie heeft een extra beveiliging ingesteld bij het inloggen in POINT.<br />
            Daarom dient u uw mobiele nummer aan POINT kenbaar te maken. Voer deze in onderstaande scherm in en klik op 'Bevestigingscode opvragen'.
        </div>
    </div>
    <div class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                @Html.AntiFiddleTokenFor(m => m.EmployeeID)
                @Html.HiddenFor(m => m.EmployeeID)
                <label class="col-xs-12 col-sm-6 col-md-3 control-label">
                    <span>Uw mobiele nummer:</span>
                    <span style="cursor:pointer;" data-toggle="clickover" data-title="Uw mobiele nummer" data-content="Zonder spaties of andere tekens"><span class="glyphicon glyphicon-info-sign"></span></span>
                </label>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    @Html.TextBoxFor(m => m.MFANumber, new { @class = "form-control", maxlength = "10" })
                </div>

                <div class="col-xs-12 col-xs-offset-0 col-sm-offset-6 col-sm-6 col-md-offset-0 col-md-6">
                    <div id="GetConfirmation" class="btn btn-block btn-azure">Bevestigingscode opvragen</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-blue" id="divMFACode" style="display:none">
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                <div class="col-xs-12">
                    Voer hier de bevestingscode in, welke zojuist naar uw mobiele nummer verzonden is en klik op 'Bevestigen'
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MFACode, new { @class = "control-label col-xs-12 col-sm-6 col-md-3" })
                <div class="col-xs-12 col-sm-6 col-md-3">
                    @Html.TextBoxFor(m => m.MFACode, new { @class = "form-control" })
                </div>
                <div class="col-xs-12 col-xs-offset-0 col-sm-offset-6 col-sm-6 col-md-offset-0 col-md-6">
                    <div id="CheckMFACode" class="btn btn-block btn-azure">Bevestigen</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="alert alert-danger" id="ResultWarning" style="display:none">
        De ingevoerde bevestigingscode is onjuist. Controleer deze en bevestig het nogmaals, of <a href="@Url.Action("ChangeMFASMS", "Account")">klik hier</a> om opnieuw te beginnen.
</div>

<div class="alert alert-success" id="ResultSuccess" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label>Uw mobiele nummer is succesvol geregistreerd.</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <a href="@Url.Action("DispatchFromMFA", "Login")" class="btn btn-azure">Doorgaan naar POINT</a>
        </div>
    </div>
</div>
