﻿@using Point.Database.Models.ViewModels;
@model ChangePasswordViewModel

@{
    ViewBag.Title = "Wachtwoord wijzigen";
    var showSuccessMessage = ViewBag.ShowSuccessMessage ?? false;
    var expired = ViewBag.Expired ?? false;
}
<div class="row bgheads">
    <div class="col-md-offset-2 col-md-6">
        @if (expired)
        {
        <div class="panel panel-blue">
            <div class="panel-body bg-lightblue">
                Uw wachtwoord is verlopen of niet meer geldig.<br />
                Daarom dient u hieronder een nieuw wachtwoord in te stellen.
            </div>
        </div>
        }
        <div class="panel panel-azure">
            <div class="panel-heading">
                <b>Wachtwoord wijzigen</b>
            </div>
            <div class="panel-body">
                @if (showSuccessMessage)
                {
                    <div>
                        Uw wachtwoord is succesvol gewijzigd.<br />
                        <br />
                        @Html.ActionLink("Doorgaan naar POINT", "Search", "Transfer", null, new { @class = "btn btn-blue" })
                    </div>
                }
                else
                {
                    using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        Html.EnableClientValidation(false);
                        @Html.AntiForgeryToken()
                        @Html.AntiFiddleTokenFor(model => model.EmployeeID)
                        @Html.HiddenFor(model => model.EmployeeID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "col-xs-5 control-label" })
                            <div class="col-xs-7">
                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-xs-5 control-label" })
                            <div class="col-xs-7">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-xs-5 control-label" })
                            <div class="col-xs-7">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Wachtwoord wijzigen" class="btn btn-azure pull-right" />
                            </div>
                        </div>
                        <div class="form-group">
                            @foreach (ModelState modelState in ViewData.ModelState.Values)
                            {
                                if (modelState.Errors.Count > 0)
                                {
                                    <ul class="text-danger">
                                        @foreach (ModelError error in modelState.Errors)
                                        {
                                            <li>
                                                @Html.Raw(error.ErrorMessage)
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                            
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>