﻿@model AccountDetailsViewModel
@using Point.MVC.WebApplication.Extensions

@Scripts.Render("~/Bundles/Scripts/FormType")

@{ 
    List<Option> secretQuestions = (List<Option>)ViewBag.SecretQuestions;
    bool accountIsChanged = (bool)ViewBag.AccountIsChanged;

     var autoEmailInfo ="Indien u deze e-mail notificatie aan zet gebeurt het volgende:<br />" +
        "- Elke dag om 12.00 en 1600 uur ontvangt u een e-mail met een overzicht van alle openstaande signaleringen <br/>"+
        "- Als er geen openstaande signaleringen zijn ontvangt u geen e-mail <br /> "+
        "- In het onderwerp van de e-mail staat de datum van de laatste signalering en het aantal openstaande signaleringen";

}

<script type="text/javascript">
    var formID = "#AccountDetails";
    $().ready(
        function () {
            $("#savebutton").on("click", function () {
                var thisForm = $(this).closest("form");
                AjaxSave(thisForm, thisForm.action, false, function (data) {
                    window.setTimeout(function () { location.replace(data.Url) }, 2000);
                }, false);
            });

            $("#SetSecretQuestion").on("click", function () {
                var ischecked = $(this).is(":checked");
                $("#divSecretQuestion").toggle(ischecked);
            });

            $('[data-toggle="clickover"]:not(.client-header)').clickover({
                html: true,
                placement: "top",
                global_close: true,
                esc_close: true,
                title: $(this).data("title"),
                content: $(this).data("content")
            });
        }
    )
</script>

@using (var form = Html.BeginForm("Details", "Account", null, FormMethod.Post, new { id = "AccountDetails", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.AntiFiddleTokenFor(model => model.EmployeeID)
    @Html.HiddenFor(model => model.EmployeeID)
    @Html.HiddenFor(model => model.NotAutoLogin)

    if(accountIsChanged)
    {
        <div class="alert alert-success">
            Uw accountgegevens zijn aangepast
        </div>
    }

    <div class="panel panel-azure">
        <div class="panel-heading">
            Uw accountgegevens aanpassen
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MiddleName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Position, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TelephoneNumber, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAdress, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.EmailAdress, new { @class = "form-control", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">
                    @Html.DisplayNameFor(m => m.AutoEmailSignalering)                  
                    <span style="cursor:pointer" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.AutoEmailSignalering)" data-content="@autoEmailInfo">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </span>
                </label>               
                <div class="col-xs-5">
                    @Html.SecureCheckBoxFor(m => m.AutoEmailSignalering, new { @class = "checkbox-inline" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BIG, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.BIG, new { @class = "form-control" })
                </div>
            </div>
            @if (Model.NotAutoLogin)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.SetSecretQuestion, new { @class = "control-label col-xs-3" })
                    <div class="col-xs-5">
                        @Html.CheckBoxFor(m => m.SetSecretQuestion)
                    </div>
                </div>
                if (!String.IsNullOrEmpty(Model.SecretQuestion))
                {
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-5">
                            <div class="alert alert-info">Controlevraag is reeds ingesteld</div>
                        </div>
                    </div>
                }
                <div id="divSecretQuestion" style="display:none;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SecretQuestion, new { @class = "control-label col-xs-offset-3 col-xs-1" })
                        <div class="col-xs-4">
                            @Html.DropDownListFor(m => m.SecretQuestion, secretQuestions.ToSelectListItems(Model.SecretQuestion), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SecretQuestionAnswer, new { @class = "control-label col-xs-offset-3 col-xs-1" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.SecretQuestionAnswer, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PasswordCheck, new { @class = "control-label col-xs-3" })
                    <div class="col-xs-5">
                        @Html.PasswordFor(m => m.PasswordCheck, new { @class = "form-control", autocomplete = "new-password" })
                    </div>
                </div>
            }
           
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left">
                @Html.ActionLink("Annuleren", "Search", "Transfer", null, new { @class = "btn btn-default" })
            </div>
            <div class="pull-right">
                <div id="savebutton" class="btn btn-primary">Opslaan</div>
            </div>
        </div>
    </div>
}