﻿@model SecretQuestionViewModel
@using Point.MVC.WebApplication.Extensions
@Scripts.Render("~/Bundles/Scripts/FormType")

@{
    List<Option> secretQuestions = (List<Option>)ViewBag.SecretQuestions;    
}

<script type="text/javascript">
    var formID = "#AccounSecretQuestion";
    $().ready(
        function () {
            $("#savebutton").on("click", function () {
                var thisForm = $(this).closest("form");
                AjaxSave(thisForm, thisForm.action, false, function (data) {
                    window.setTimeout(function () { location.replace(data.Url) }, 2000);
                }, false);
            });

            $("#AccounSecretQuestion").keypress(function (e) {
                if (e.which === 13) {
                    $("#savebutton").click();
                }
            });
        }
    )
</script>

@using (var form = Html.BeginForm("SecretQuestion", "Account", null, FormMethod.Post, new { id = "AccounSecretQuestion", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.AntiFiddleTokenFor(model => model.EmployeeID)
    @Html.HiddenFor(model => model.EmployeeID)
    @Html.HiddenFor(model => model.SecretQuestionEnabled)

<div class="panel panel-azure">
    <div class="panel-heading">
        Invoeren gegevens om per e-mail wachtwoord te kunnen laten resetten.
    </div>
    <div class="panel-body">
        <div class="control-label">
            <p>Indien u uw wachtwoord bent vergeten kunt u per e-mail het wachtwoord automatisch laten resetten. Deze optie kunt u alleen gebruiken als de gegevens die hiervoor nodig zijn bij POINT bekend zijn. Uw gegevens zijn nog niet bekend. U kunt ze nu invoeren.</p> 
            <p>Klik op Annuleren om de gegevens op een later moment in te voeren. Dan verschijnt dit scherm op een later moment tijdens het inloggen nogmaals.</p>            
        </div>
        <div class="form-group" style="margin-top: 50px;" >
            @Html.LabelFor(m => m.EmailAdress, new { @class = "control-label col-xs-3" })
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.EmailAdress, new { @class = "form-control", autocomplete = "off" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SecretQuestion, new { @class = "control-label col-xs-3" })
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.SecretQuestion, secretQuestions.ToSelectListItems(Model.SecretQuestion), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SecretQuestionAnswer, new { @class = "control-label col-xs-3" })
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.SecretQuestionAnswer, new { @class = "form-control", autocomplete = "off" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PasswordCheck, new { @class = "control-label col-xs-3" })
            <div class="col-xs-4">
                @Html.PasswordFor(m => m.PasswordCheck, new { @class = "form-control", autocomplete = "new-password" })
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left">
                <a id="cancelbutton" href="@Url.Action("Search", "Transfer")" class="btn btn-default">Annuleren</a>               
            </div>
            <div class="pull-right">
                <div id="savebutton" class="btn btn-primary">Opslaan</div>
            </div>
        </div>
    </div>
</div>
}