﻿@model List<Point.Database.Models.ViewModels.AfterCareTypeViewModel>
@{ 
    Layout = null;
}

<div id="aftercarePanelResults">
    <table>
        @foreach (var aftercaretype in Model)
        {
            <tr>
                <th>@aftercaretype.Name</th>
                <td>@aftercaretype.Description</td>
            </tr>
        }
    </table>
</div>