﻿
@model Point.MVC.Shared.ViewModels.Capacity.CapacityAfterCareGroupsAndTypesViewModel


<div id="CapacitySearchAfterCareGroupsAndTypes">

    @Html.DropDownList("AfterCareGroupsAndTypesForHospital", new SelectList(Model.AfterCareGroupsAndTypesHospital, "Value", "Text", Model.AfterCareGroupsAndTypesHospital.FirstOrDefault(x => x.Selected)?.Value), " - Maak een keuze -", new { Class = "form-control", onchange = "_CapManJs.CheckEnableControls()" })

    @Html.DropDownList("AfterCareGroupsAndTypesForVVT", new SelectList(Model.AfterCareGroupsAndTypesVVT, "Value", "Text", Model.AfterCareGroupsAndTypesVVT.FirstOrDefault(x => x.Selected)?.Value), " - Maak een keuze -", new { Class = "form-control hidden", onchange = "_CapManJs.CheckEnableControls()" })

    <input class="form-control hidden" id="AfterCareGroupIdAndTypeUpdateMessage" value="Lijst wordt bijgewerkt..." readonly />

</div>

