﻿@model Point.MVC.Shared.ViewModels.Capacity.DepartmentCapacityResultsViewModel


<div id="CapacityListViewResults" class="capacity-results-container">

    <div class="text-right capacity-paging">
        <div class="btn-group" role="group">
            @Html.Hidden("pageNo", Model.Paging.PageNo)
            <button id="previousPage" type="button" class="btn btn-primary @(Model.Paging.HasPreviousPage ? "enabled" : "disabled") glyphicon glyphicon-chevron-left"></button>
            <button type="button" class="btn disabled background-white" style="cursor: default">
                @(Model.Paging.PageItemsStartNo) - @(Model.Paging.PageItemsEndNo) van @(Model.Paging.TotalCount)
            </button>
            <button id="nextPage" type="button" class="btn btn-primary @(Model.Paging.HasNextPage ? "enabled" : "disabled") glyphicon glyphicon-chevron-right"></button>
        </div>
    </div>

    @*tablefixed*@
    
    <table id="capacityListTable" class="table table-striped     table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <td class=""></td>
                <th class="limitwidth hidden-xs">Organisatie</th>
                <th class="limitwidth hidden-xs">Locatie</th>
                <th class="limitwidth hidden-xs">Afdeling</th>
                <th class="visible-xs">Organisatie</th> @* Org + Loc + Dept *@
                <th class="limitwidth">Plaats</th>
                <th class="nowrap">@Model.Day1</th>
                <th class="nowrap hidden-xs">@Model.Day2</th>
                <th class="nowrap hidden-xs">@Model.Day3</th>
                <th class="nowrap hidden-xs">@Model.Day4</th>
                <th class="limitwidth">Info</th>
                <th class="nowrap">Mutatie datum</th>
                @if (Model.ShowMutadedByUserFields)
                {
                    <th class="limitwidth hidden-xs">Door</th>
                    <th class="limitwidth hidden-xs">Telefoon</th>
                }
            </tr>
        </thead>
        <tbody>

            @foreach (var capacity in Model.Items)
            {
                <tr data-organization-name="@capacity.OrganizationName"
                    data-location-name="@capacity.LocationName"
                    data-location-address="@capacity.LocationAddress"
                    data-location-postal-code="@capacity.LocationPostalCode"
                    data-location-city="@capacity.LocationCity"
                    data-department-name="@capacity.DepartmentName"
                    data-department-phone-number="@capacity.DepartmentPhoneNumber"
                    data-department-fax-number="@capacity.DepartmentFaxNumber"
                    data-department-email-address="@capacity.DepartmentEmailAddress"
                    data-capacities="@capacity.CapacityDaysString"
                    data-department-adjustmentcapacitydate="@capacity.MutationDateTimeDisplay">
                    <td><span class="glyphicon glyphicon-info-sign opace"></span></td>
                    <td class="limitwidth hidden-xs">@capacity.OrganizationName</td>
                    <td class="limitwidth hidden-xs">@capacity.LocationName</td>
                    <td class="hidden-xs">@capacity.DepartmentName</td>
                    <td class="visible-xs">@capacity.OrganizationName, @capacity.LocationName, @capacity.DepartmentName</td>
                    <td>@capacity.LocationCity</td>
                    <td>@capacity.Capacity1</td>
                    <td class="hidden-xs">@capacity.Capacity2</td>
                    <td class="hidden-xs">@capacity.Capacity3</td>
                    <td class="hidden-xs">@capacity.Capacity4</td>
                    <td class="hidden-xs">@capacity.CapacityInfo</td>
                    <td class="hidden-xs">@capacity.MutationDateTimeDisplay</td>
                    @if (Model.ShowMutadedByUserFields)
                    {
                        <td class="limitwidth hidden-xs">@capacity.MutatedByName</td>
                        <td class="limitwidth hidden-xs">@capacity.MutatedByPhoneNumber</td>
                    }
                </tr>
            }

        </tbody>
    </table>


    @if (!Model.Items.Any() && Model.IsSpecificSearch)
    {
        <div id="resultsNoneText">De zoekopdracht heeft geen resultaten opgeleverd</div>
    }

</div>
