﻿<div style="float:left;">
    <img src="@(ViewBag.AppPath + "/Images/Point-HighRes-Trans.png")" style="height:20px" />
</div>
<div style="float:left;margin-left:280px;">
    @DateTime.Now.ToString("yyyy-MM-dd HH:mm")
</div>