﻿@model Point.Database.Models.ViewModels.PrintMultipleViewModel

<style>
    .print-formsetversion {
        page-break-after: always;
    }
</style>

@{
    foreach (var formsetversion in Model.FormSetVersions)
    {
        <div class="print-formsetversion">
            <h1>@formsetversion.PrintName</h1>
            @{
                Html.RenderAction(formsetversion.ActionName, formsetversion.ControllerName, new
                {
                    FormTypeID = formsetversion.FormTypeID,
                    TransferID = Model.TransferID,
                    FormSetVersionID = formsetversion.FormsetVersionID,
                    PhaseDefinitionID = formsetversion.PhaseDefinitionID,
                    PhaseInstanceID = formsetversion.PhaseInstanceID,
                    PrintMode = true
                });
            }
        </div>
    }
}