﻿@model ClientHeaderViewModel
@using Point.Database.Extensions;
@using Point.Infrastructure.Helpers;

<div>
    <div class="pull-left">
        <label>
            <strong>Client:</strong>
            @Model.Name (@Model.Gender) @Model.BirthDate.ToPointDateDisplay()
            @if (Model.IsCopy)
            {
                <i class="glyphicon glyphicon-duplicate"></i>
            }
        </label>
        <label style="margin-left:20px;">
            <strong>BSN:</strong>
            @Model.CivilServiceNumber
        </label>
    </div>

    @if (!String.IsNullOrEmpty(Model.Logo))
    {
        <div class="pull-right">
            <img src="@Model.Logo" class="CompanyLogo" style="max-height:2cm;max-width:8cm;" />
        </div>
    }
</div>