﻿@model Point.Planbord.Database.Models.Specialism

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

<div class="dialogContainer">
    @using (Html.BeginForm("Edit", "Specialism", FormMethod.Post, new { id = "SpecialismForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EntityID)
        <table style="width: 100%;">
            <tr>
                <td>@Html.DisplayNameFor(model => model.SystemCode)</td>
                <td>@Html.TextBoxFor(model => model.SystemCode)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ShortCode)</td>
                <td>@Html.TextBoxFor(model => model.ShortCode)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.TextBoxFor(model => model.Name)</td>
            </tr>
        </table>
    }
</div>
