﻿@model IEnumerable<Point.Planbord.Database.Models.Specialism>

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Planbord Onderhoud - Specialismen";
}

@section scripts {

    @Scripts.Render("~/Scripts/Specialism/specialism.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 500px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.SystemCode)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.ShortCode)</th>
                    <th style="width: 250px;">@Html.DisplayNameFor(model => model.Name)</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr class="EditSpecialism" data-id="@item.EntityID" data-entity="Specialism" data-url="@Url.Action("Edit", "Specialism")" data-trashurl="@Url.Action("Delete", "Specialism")">
                        <td>@item.SystemCode</td>
                        <td>@item.ShortCode</td>
                        <td>@item.Name</td>
                        <td><a class="noclick" href="@Url.Action("OverruleSpecialism", "Bed", new { specialismId = @item.EntityID })">Bedden</a></td>
                    </tr>
                    }
                }

            </tbody>
        </table>
        <table style="width:500px">
            <tr>
                <td style="width:100px;">
                    <div class="CreateSpecialism linkButton" data-id="0" data-entity="Specialism" data-url="@Url.Action("Edit", "Specialism")">Nieuw</div>
                </td>
                <td style="width:400px;">
                    <div class="linkButton" style="float:right;cursor:pointer;" onclick="location.href='@Url.Action("OverruleSpecialism", "Bed", new { specialismId = -1 })';">Geen specialisme</div>
                    <div class="linkButton" style="float:right;cursor:pointer;" onclick="location.href='@Url.Action("OverruleSpecialism", "Bed", new { specialismId = -2 })';">Alle bedden</div>
                </td>
            </tr>
        </table>
    </div>
</div>
