﻿@model PreferredLocationViewModel

<tr id="@string.Concat("row", Model.PreferredLocationID)" class="@(Model.Inactive ? "alert-warning" : "")">
    <td>
        @Model.FullName
    </td>
    <td class="text-right">
        <div class="btn btn-danger" data-locationid="@Model.LocationID" data-preferredlocationid="@Model.PreferredLocationID" onclick="deleteLocation(this);">Verwijderen</div>
    </td>
</tr>