﻿@model PreferredLocationsViewModel
@using Point.MVC.WebApplication.Extensions

<script type="text/javascript">
    var getLocationsByRegionIDUrl = '@Html.Raw(Url.Action("GetLocationsByRegionID", "LookUp", new { Area = "" }))';
    var deleteFavoriteUrl = '@Html.Raw(Url.Action("DeleteFavorite"))';
    var addFavoriteUrl = '@Html.Raw(Url.Action("AddFavorite"))';
    var searchLocationUrl = '@Html.Raw(Url.Action("LocationSearch", "OrganizationSearch", new { Area = "", ShowPostalCodeTab = false, ShowPostalCodeRangeTab = false }))'
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/PreferredOrganizations")

<h1>Beheer favorieten</h1>

<form class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Selecteer organisatie voor wie u favorieten wilt beheren
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-3">Regio</label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(m => 
                        m.SelectedRegionID, 
                        Model.Regions.ToSelectListItems(Model.SelectedRegionID.ToString()), 
                        htmlAttributes: new { @class = "form-control", onchange = "loadLocations(this);" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Locatie</label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(m =>
                        m.SelectedLocationID,
                        Model.Locations.ToSelectListItems(Model.SelectedLocationID.ToString()),
                        htmlAttributes: new { @class = "form-control", onchange = "changeLocation(this);" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Huidige favorieten van deze locatie <span style="cursor:pointer;" data-toggle="clickover" data-content="Indien een favoriete locatie een gele kleur heeft dan betekent dat die desbetreffende locatie inmiddels is verwijderd. Het is aan te raden om de favoriete locatie uit de lijst te verwijderen aangezien deze geen functie meer heeft."><span class="glyphicon glyphicon-info-sign"></span></span>
        </div>
        <div class="panel-body">
            <table class="table table-condensed" id="favorites">
                <tbody>
                    @foreach (var item in Model.PreferredLocations)
                    {
                        @Html.Partial("_FavoriteLocation", item)
                    }
                </tbody>
            </table>
            <div class="alert alert-info">
                Klik op 'Toevoegen' om een favoriete organisatie toe te voegen.
				<span class="alert alert-danger alert-button" style="display:none;" id="locationrequiredmessage">Er dient eerst een locatie geselecteerd te worden</span>
                <div class="btn btn-default pull-right" onclick="SearchLocation()">Toevoegen</div>
            </div>
        </div>
    </div>
</form>