﻿@using Point.Infrastructure.Exceptions
@model ErrorViewModel

@if (Model.ExceptionType == ExceptionType.Default)
{
    <h1>Er is een fout opgetreden</h1>
    <b>Foutcode nummer: @Model.ErrorNumber, neem contact op met onze helpdesk en vermeld dit nummer.</b>
}
else if (Model.ExceptionType == ExceptionType.PageNotFound)
{
    <h1>Er is een fout opgetreden</h1>
    <b>Mogelijk gaat het om een corrupt of oud dossier.<br />Foutcode nummer: @Model.ErrorNumber, neem contact op met onze helpdesk en vermeld dit nummer.</b>
}
else if (Model.ExceptionType == ExceptionType.DossierDeleted)
{
    <h1>Dossier verwijderd</h1>
    <b>U probeert een dossier te openen dat verwijderd is. Dit dossier is niet meer toegankelijk.</b>
}
else if (Model.ExceptionType == ExceptionType.AccessDenied || Model.ExceptionType == ExceptionType.AccessDeniedDifferentVVT || Model.ExceptionType == ExceptionType.AccessDeniedVVT)
{
    <h1>Toegang is geweigerd</h1>
    if (Model.ExceptionType == ExceptionType.AccessDenied)
    {
        <p>U heeft onvoldoende rechten om deze actie uit te voeren of om deze bron te benaderen.</p>
    }
    if (Model.ExceptionType == ExceptionType.AccessDeniedDifferentVVT)
    {
        <p>Mogelijk is het dossier inmiddels aangeboden bij een andere zorginstelling. Dit kunt u navragen bij het transferpunt van het versturend ziekenhuis.<br />Mocht het dossier nog steeds bij uw organisatie uit staan dan is het dossier naar een afdeling binnen uw organisatie gestuurd waartoe u geen rechten heeft.<br />U kunt contact opnemen met uw POINT organisatie beheerder of regiobeheerder om dit te laten controleren en aan te passen.</p>
    }
    if (Model.ExceptionType == ExceptionType.AccessDeniedVVT)
    {
        <p>Helaas heeft u geen toegang (meer) tot dit dossier. Neem s.v.p. contact op met het transferpunt van het ziekenhuis (zie onder in de e-mail die u heeft ontvangen).</p>
    }
}