﻿
@using Point.CapacityManagement.Web.ViewModels

@model CapacityPageViewModel

<!DOCTYPE html>
<html lang="nl-nl" xml:lang="nl-nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>POINT VVT Capaciteits overzicht - @Model.Title</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00396a">
    <meta name="msapplication-TileColor" content="#f7f7f7">
    <meta name="theme-color" content="#f7f7f7">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Fonts/muli-v11-latin-regular.css")

    @if (RefererHelper.IsFromPoint())
    {
        @Styles.Render("~/Content/point-theme.css");
    }

    <style type="text/css">
        .dropdown-menu > li > a {
            padding: 2px 24px;
            line-height: 1;
            white-space: nowrap;
        }

        .dropdown-menu > li > a > label > input {
            margin-top:0px;
        }


        .multiselect-container label {
            margin: 0 5px 0 5px !important;
          
            font-weight: normal;
            color: black;
        }

       .multiselect-container, .dropdown-menu {
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
        }

        .multiselect-container, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
            background-color: white !important;            
        }

        .multiselect.btn {
            text-align: left;
            height: 30px;
            padding-top: 4px;
        }
    </style>
</head>


<body>

    <nav id="navbar" class="navbar navbar-inverse" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#capManNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://www.verzorgdeoverdracht.nl/over-point" target="_blank" class="navbar-left " style=""><img src="~/Images/Point-HighRes-Trans-P-white.png" class="pointlogo static"  /><img src="~/Images/Point-HighRes-Trans-P-white-animated.gif" class="pointlogo spinner" style="display:none;" /> </a>
                <a href="/" class="navbar-brand navbar-brand-large hidden-sm">VVT Capaciteit</a>
            </div>
            <div class="collapse navbar-collapse" id="capManNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "CapacityTiles")" class="navbar-brand @Model.MenuActiveClass(CapacityViewType.Tiles)">
                            <span class="glyphicon glyphicon-large glyphicon-th hidden-xs" style="vertical-align:middle;"></span> Beschikbaarheid
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "CapacityList")" class="navbar-brand @Model.MenuActiveClass(CapacityViewType.List)" style="vertical-align:middle;">
                            <span class="glyphicon glyphicon-large glyphicon-list-alt hidden-xs" style="vertical-align:middle;"></span> Zorgtype zoeken
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "CapacityMap")" class="navbar-brand @Model.MenuActiveClass(CapacityViewType.Map)">
                            <span class="glyphicon glyphicon-large glyphicon-map-marker hidden-xs" style="vertical-align:middle;"></span> Kaart
                        </a>
                    </li>
                    <li>
                        <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="navbar-brand hidden-sm hidden-md hidden-lg">
                            <span class="glyphicon glyphicon-large glyphicon-map-marker hidden-xs" style="vertical-align:middle;"></span> Contact
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="navbar-brand">
                            <span class="glyphicon glyphicon-large glyphicon-envelope hidden-xs" style="vertical-align:middle;"></span> Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @using (Html.BeginForm())
        {
            @Html.Action("Modal", "AfterCareType")

            <div class="form-group row">
                <label class="col-sm-3  control-label">Regio</label>
                <div class="col-sm-4">              
                    @Html.ListBoxFor(m => m.RegionIds,
                        new MultiSelectList(Model.RegionList, "Id", "Name", Model.RegionIds),
                        new { @multiple = "multiple", @class = "form-inline" })
                </div>
            </div>

            <div class="capacity">
                @RenderBody()
            </div>
        }

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-multiselect.js")
    @RenderSection("scripts", false)
    <script src="~/Scripts/capacity-page.js"></script>

</body>
</html>
