﻿
<div id="capacityInfoModal" class="modal fade" role="dialog" tabindex="-1"> @* tabindex: close on escape *@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">VVT Capaciteit - Details</h4>
            </div>
            <div class="modal-body">
                <div>
                    <strong>Organisatie:</strong>
                    <span id="organizationName"></span>
                </div>
                <br/>
                <div>
                    <strong>Locatie:</strong>
                    <span id="locationName"></span>
                    <br/>
                    <span id="locationAddress"></span>
                </div>
                <br />
                <div>
                    <strong>Afdeling:</strong>
                    <span id="departmentName"></span>

                    <div id="departmentPhoneNumberDiv">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        <span id="departmentPhoneNumber"></span>
                    </div>

                    <div id="departmentFaxNumberDiv">
                        <i class="glyphicon glyphicon-print"></i>
                        <span id="departmentFaxNumber"></span>
                    </div>

                    <div id="departmentEmailAddressDiv">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a id="departmentEmailAddress" href=""></a>
                    </div>
                </div>
                <br />
                <div>
                    <strong>Capaciteit:</strong>
                    <span id="capacities"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Sluit</button>
            </div>
        </div>
    </div>
</div>
