﻿@using Point.CapacityManagement.Web.Controllers

@model Point.CapacityManagement.Web.ViewModels.CapacityListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var format = Model.Get4DaysOfTheWeekFormatString();
}

<input id="pageIndex" name="PageIndex" type="hidden" value="@Model.Paging.PageIndex" />

@Html.Partial("CapacityDetailsModal")

<div class="form-group row">
    <label class="col-sm-3 control-label">Zorgtype</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(m => m.AfterCareGroupIdAndTypeId,
            new SelectList(Model.AfterCareGroupAndTypeList, "Value", "Name", Model.AfterCareGroupIdAndTypeId),
            new {@class = "form-control submit-on-change"})
    </div>
    <div class="col-sm-3 show-info" data-aftercaretilegroupid="-1">
        <div class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-info-sign"></span>
            Zorgtypen
        </div>
    </div>

</div>

@* ---------------------------------------------------------------- *@
@* TWO TEXT BOXES WITH DIFFERENT LABELS BUT EXACTLY THE SAME (IE DUPLICATE) FUNCTIONALITY: *@
@* Organisation, location, department name *@
<div class="form-group row">
    @Html.HiddenFor(m => m.RegionsFromTile, new { @class = "form-control submit-on-change" })
    <label class="col-sm-3 control-label">Zorgtypeaanduiding</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.NameSearch1,
            new { @class = "form-control submit-on-change" })
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 control-label">Organisatienaam</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.NameSearch2,
            new { @class = "form-control submit-on-change" })
    </div>
</div>
@* ---------------------------------------------------------------- *@

<div class="form-group row">
    <label class="col-sm-3 control-label">Plaats</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.CitySubstring,
            new {@class = "form-control submit-on-change"})
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 control-label">Postcode/Straal</label>
    <div class="col-sm-2 no-padding-left">
        @Html.TextBoxFor(m => m.PostalCodeSubstring,
            new { @class = "form-control submit-on-change col-sm-6", maxlength = 6})
    </div>
    <div class="col-sm-2 no-padding-left">
        @Html.DropDownListFor(m => m.PostalCodeRadius,
            new SelectList(Model.PostalCodeRadiusList, "Id", "Name", Model.PostalCodeRadius),
            new { @class = "form-control submit-on-change col-sm-6" })
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 control-label">Alleen met capaciteit</label>
    <div class="col-sm-4 with-checkbox">
        @Html.CheckBoxFor(m => m.WithCapacityOnly,
            new {@class = "form-control submit-on-change"})
    </div>
</div>

@* ----------------------------------------------------- *@
@* RESULTS *@
@* ----------------------------------------------------- *@

@if (Model.CapacityList == null || !Model.CapacityList.Any())
{
    <div>
        Geen resultaten.
    </div>
}
else
{
    Model.GetDayTitles(out var day1, out var day2, out var day3, out var day4);

    <div class="text-right capacity-paging">
        <div class="btn-group" role="group">
            <button id="previousPage" type="button" class="btn btn-primary @PreviousPageDisabled() glyphicon glyphicon-chevron-left"></button>
            <button type="button" class="btn disabled background-white" style="cursor: default">
                @Model.Paging.GetStartIndex() - @Model.Paging.GetEndIndex() van @Model.Paging.TotalCount
            </button>
            <button id="nextPage" type="button" class="btn btn-primary  @NextPageDisabled() glyphicon glyphicon-chevron-right"></button>
        </div>
    </div>

    <div>
        <table id="capacityListTable" class="table table-striped table-bordered table-condensed table-hover">
            <thead class="table-head-blue">
            <tr>
                <td class=""></td>
                <td class="hidden-xs">Organisatie</td>
                <td class="hidden-xs">Locatie</td>
                <td class="hidden-xs">Afdeling</td>
                <td class="visible-xs">Organisatie</td> @* Org + Loc + Dept *@
                <td>Plaats</td>
                <td class="daycolumn">@day1</td>
                <td class="daycolumn hidden-xs">@day2</td>
                <td class="daycolumn hidden-xs">@day3</td>
                <td class="daycolumn hidden-xs">@day4</td>
                <td class="hidden-xs">Info</td>
            </tr>
            </thead>

            <tbody>
            @foreach (var capacity in Model.CapacityList)
            {
                // todo: this needs to be done some other way
                var city = string.IsNullOrWhiteSpace(capacity.LocationCity) ? ""
                    : capacity.LocationCity.Length < 20 ? capacity.LocationCity
                        : capacity.LocationCity.Substring(0, 20) + "...";

                <tr data-organization-name="@capacity.OrganizationName"
                    data-location-name="@capacity.LocationName"
                    data-location-address="@capacity.LocationAddress"
                    data-department-name="@capacity.DepartmentName"
                    data-department-phone-number="@capacity.DepartmentPhoneNumber"
                    data-department-fax-number="@capacity.DepartmentFaxNumber"
                    data-department-email-address="@capacity.DepartmentEmailAddress"
                    data-capacities="@capacity.Capacities(format)">
                    <td><span class="glyphicon glyphicon-info-sign opace"></span></td>
                    <td class="hidden-xs">@capacity.OrganizationName</td>
                    <td class="hidden-xs">@capacity.LocationName</td>
                    <td class="hidden-xs">@capacity.DepartmentName</td>
                    <td class="visible-xs">@capacity.OrganizationName, @capacity.LocationName, @capacity.DepartmentName</td>
                    <td>@city</td>
                    <td>@capacity.Capacity1</td>
                    <td class="hidden-xs">@capacity.Capacity2</td>
                    <td class="hidden-xs">@capacity.Capacity3</td>
                    <td class="hidden-xs">@capacity.Capacity4</td>
                    <td class="hidden-xs">@capacity.Information</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@functions
{

    string PreviousPageDisabled()
    {
        return Model.Paging.PageIndex > 1 ? "enabled" : "disabled";
    }

    string NextPageDisabled()
    {
        return Model.Paging.GetEndIndex() < Model.Paging.TotalCount ? "enabled" : "disabled";
    }

}

@section scripts
{
    <script>
        window.idForEmptyListItem = @CapacityDisplayController.IdForEmptyListItem;
    </script>
    <script src="~/Scripts/capacity-list.js"></script>
}
