﻿@model Point.Database.Models.ViewModels.DepartmentViewModel
@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums

<script type="text/javascript">
    var urlgetlocationsbyorganization = "@Url.Action("GetAllowedLocationsByOrganization", "Lookup", new { Area = "", Model.FunctionRoleTypeID })";
    var urlgetdepartmenttypebyorganizationid = "@Url.Content("~/Lookup/GetDepartmentTypeByOrganizationID")";
    var urlgetaftercaretypesbyorganizationid = "@Url.Content("~/Lookup/GetAfterCareTypesByOrganizationID")";
    var urlGetOrganizationDetailsByOrganizationID = "@Url.Action("GetOrganizationDetailsByOrganizationID", "Lookup", new { Area = "" })";

    $("#AutoCreateSetIDs").multiselect({
        allSelectedText: "Alle sets",
        nonSelectedText: "Optioneel",
        disableIfEmpty: true,
        maxHeight: 200,
        buttonWidth: '100%',
        nSelectedText: 'geselecteerd'
    });

    $(function () {
        initializeNumberKeyDown();
    });
</script>

<div class="form-group">
    @Html.LabelFor(m => m.OrganizationID, htmlAttributes: new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureDropDownListFor(m => m.OrganizationID, Model.Organizations.ToSelectListItems(), htmlAttributes: new { @class = "form-control", onchange = "OrganizationChanged(this)" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LocationID, htmlAttributes: new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureDropDownListFor(m => m.LocationID, Model.Locations.ToSelectListItems(), htmlAttributes: new { @class = "form-control", onchange = "LocationChanged(this)" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        <div>
            <i>Vul "Afdeling 1" in als u het niet kunt invullen</i>
        </div>
        @Html.SecureTextBoxFor(m => m.Name, new { @class = "form-control", onkeyup = "DepartmentChanged(this)" })
    </div>
</div>
<div class="form-group">
    <div class="col-xs-push-4 col-xs-8">
        <label>Weergegeven naam:</label>
        <div id="concatname">
            @(Model.Organization != null ? Model.Organization.Name : "")@((Model.Location == null || Model.Location.Name == "Locatie 1") ? "" : (" - " + Model.Location.Name))@(Model.Name == "Afdeling 1" ? "" : (" - " + Model.Name))
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DepartmentTypeID, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureDropDownListFor(m => m.DepartmentTypeID, Model.DepartmentTypes.ToSelectListItems(), htmlAttributes: new { @class = "form-control", onchange = "DepartmentTypeIDChanged(this)" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AfterCareType1ID, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureDropDownListFor(m => m.AfterCareType1ID, Model.AfterCareTypes1.ToSelectListItems(), htmlAttributes: new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.FaxNumber, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.FaxNumber, new { @class = "form-control" })
    </div>
</div>

<div class="form-group" style="@(Model.LocationAutoCreateSets.Any() ? "" : "display:none")">
    @Html.LabelFor(m => m.AutoCreateSetIDs, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-3">
        @Html.SecureListBoxFor(m => m.AutoCreateSetIDs, new MultiSelectList(Model.LocationAutoCreateSets, "AutoCreateSetID", "Name", Model.AutoCreateSetIDs), htmlAttributes: new { @class = "multiselect" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AddressGPForZorgmail, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.AddressGPForZorgmail, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.AGB, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.AGB, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-1 pull-left">@Html.SecureCheckBoxFor(m => m.RecieveEmail, new { @class = "checkbox-inline" })</div>
            <div class="col-xs-11 pull-right">@Html.SecureTextBoxFor(m => m.EmailAddress, new { @class = "form-control" })</div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EmailAddressTransferSend, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-1 pull-left">@Html.SecureCheckBoxFor(m => m.RecieveEmailTransferSend, new { @class = "checkbox-inline" })</div>
            <div class="col-xs-11 pull-right">@Html.SecureTextBoxFor(m => m.EmailAddressTransferSend, new { @class = "form-control" })</div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelWithInformationIconFor(m => m.ZorgmailTransferSend, new { @class = "control-label col-xs-4" }, "Deze instelling dient om de VO via een digitaal bestand aan te leveren bij deze zorginstelling.<br />Dit kan alleen door een Point beheerder worden ingesteld.")
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-1 pull-left">@Html.SecureCheckBoxFor(m => m.RecieveZorgmailTransferSend, new { @class = "checkbox-inline" })</div>
            <div class="col-xs-11 pull-right">@Html.SecureTextBoxFor(m => m.ZorgmailTransferSend, new { @class = "form-control" })</div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelWithInformationIconFor(m => m.RecieveCDATransferSend, new { @class = "control-label col-xs-4" }, "Deze instelling dient om de VO via een digitaal CDA bestand aan te leveren bij deze zorginstelling.<br />Dit kan alleen door een Point beheerder worden ingesteld.")
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.RecieveCDATransferSend, new { @class = "checkbox-inline" })
    </div>
</div>
<div class="form-group">
    @Html.LabelWithInformationIconFor(m => m.SortOrder, new { @class = "control-label col-xs-4" }, "O.b.v. het hier ingegeven getal worden getoonde afdelingen gesorteerd bij het aanmaken van een nieuw dossier.<br />Een afdeling mét sorteervolgorde komt boven een afdeling waar dit niet is ingegeven.<br />Vervolgens worden de afdelingen alfabetisch gesorteerd.")
    <div class="col-xs-1">
        @Html.SecureTextBoxFor(m => m.SortOrder, new { @class = "form-control", val_number = "true", maxlength = "4" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ExternID, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.ExternID, new { @class = "form-control", val_number = "true", maxlength = "50" })
    </div>
</div>
<div class="form-group" id="capacityfields" style="@(Model.ShowCapacityFunctionality ? "" : "display:none")">
    @Html.LabelFor(m => m.CapacityFunctionality, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.CapacityFunctionality, new { @class = "checkbox-inline" })
    </div>
</div>
<div id="vvtfields" style="@(Model.Organization?.OrganizationTypeID == (int)OrganizationTypeID.HealthCareProvider ? "" : "display:none")">
    <div class="form-group">
        @Html.LabelFor(m => m.RehabilitationCenter, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.RehabilitationCenter, new { @class = "checkbox-inline" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IntensiveRehabilitationNursinghome, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.IntensiveRehabilitationNursinghome, new { @class = "checkbox-inline" })
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Inactive, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.Inactive, new { @class = "checkbox-inline" })
    </div>
</div>