﻿@model Point.Database.Models.ViewModels.DepartmentViewModel
@using Point.MVC.WebApplication.Extensions

<div class="form-group">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Flow</th>
                    <th>Deelname locatie</th>
                    <th>Deelname afdeling <span class="glyphicon glyphicon-info-sign" style="cursor:pointer" data-toggle="clickover" data-content="De waarde die hier staat ingesteld “overruled” de waarde die op locatie staat ingesteld. Hiermee kan bijvoorbeeld de situatie worden ondersteund dat gebruikers onder een bepaalde (beheer) afdeling moeten vallen maar dat naar deze afdeling geen dossiers moeten worden verstuurd." /></th>
                </tr>
            </thead>
            @for (var i = 0; i < Model.FlowParticipation.Count; i++)
            {
                @Html.HiddenFor(x => x.FlowParticipation[i].FlowDefinitionID)
                <tr>
                    <td>@Html.DisplayFor(x => x.FlowParticipation[i].Name)</td>
                    <td>@Model.FlowParticipation[i].DepartmentLocationParticipation.GetDescription()</td>
                    <td style="width:200px;">@Html.EnumDropDownListLimitedFor(x => x.FlowParticipation[i].Participation, 
                                            Model.FlowParticipation[i].Participations, 
                                            new { @class = "form-control participation" },
                                            propertyName: "FlowParticipation[" + i + "].Participation")</td>
                </tr>
            }
        </table>
    </div>
</div>