﻿@using Point.Infrastructure.Helpers
@model Point.Database.Models.ViewModels.DepartmentSearchViewModel

<style type="text/css">
    #regiontypecontainer * {
        vertical-align: top;
    }

    #OrganizationSearchData {
        height: 400px;
        overflow-y: scroll;
    }
</style>


<div class="modal-body" id="modalBody">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", id = "OrganizationSearchForm", data_url = Url.Action("DepartmentSearchData") }))
    {
        <div id="searchOrganizationDiv">
            <input type="hidden" name="sortby" id="sortby" value="" />
            @if (Model.RegionID.HasValue)
            {
                @Html.Hidden("RegionID", Model.RegionID)
            }

            @Html.Hidden("OrganizationIDs", Model.OrganizationIDs)
            @Html.Hidden("LocationIDs", Model.LocationIDs)
            @Html.Hidden("DepartmentIDs", Model.DepartmentIDs)
            @Html.Hidden("SelectedDepartmentIDs", Model.SelectedDepartmentIDs)

            <div class="form-group">
                <div class="control-label col-md-2">Naam / Plaats:</div>
                <div class="col-md-7">
                    @Html.TextBox("NaamPlaats", "", new { maxlength = 50, @class = "flowfield form-control", data_minlength = 0, data_val = "true", onkeyup = "searchlive(this);" })
                </div>
            </div>
        </div>
    }
    <div id="OrganizationSearchData">
    </div>

    <div class="clearfix" style="margin-top:10px;">
        <div class="pull-left">
            <button type="button" data-dismiss="modal" class="btn btn-default">Annuleren</button>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="PutDepartments();">Opslaan</button>
        </div>
    </div>
</div>