﻿@model Point.Database.Models.ViewModels.DepartmentSearchDataViewModel
@using Point.Infrastructure.Helpers

<script type="text/javascript">
    function SelectAll(sender)
    {
        var checked = $(sender).is(":checked");
        $('input.departmentcheckbox').prop('checked', checked);
    }
</script>
<style>
    #gridTable td {
        cursor: pointer;
    }
</style>

@if (Model.Departments.Any())
{
    <table id="gridTable" class="dataTable table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="SelectAllDepartments" onclick="SelectAll(this)" />
                </th>
                <th class="sorting" data-sortby="OrganizationName">
                    Organisatienaam
                </th>
                <th class="sorting" data-sortby="LocationName">
                    Locatienaam
                </th>
                <th class="sorting" data-sortby="DepartmentName">
                    Afdelingnaam
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Departments)
            {
                <tr data-departmentid="@item.DepartmentID" data-departmentname="@item.DepartmentName" data-locationname="@item.LocationName" >
                    <td>
                        <input type="checkbox" class="departmentcheckbox" name="DepartmentIDs" value="@item.DepartmentID" @(item.Selected ? "checked" : "") />
                    </td>
                    <td onclick="$(this).closest('tr').find('input.departmentcheckbox').trigger('click')">
                        @item.OrganizationName
                    </td>
                    <td onclick="$(this).closest('tr').find('input.departmentcheckbox').trigger('click')">
                        @item.LocationName
                    </td>
                    <td onclick="$(this).closest('tr').find('input.departmentcheckbox').trigger('click')">
                        @item.DepartmentName
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
