﻿@model Point.Database.Models.ViewModels.DepartmentViewModel
@using Point.Infrastructure.Attributes

<script type="text/javascript">
    var formID = "#editdepartmentform";
    var serviceAreasUrl = '@Url.Action("DepartmentServiceAreas", "ServiceArea", new { Area = "Management" })';

    initializevalidation(formID);

    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($(formID));

    function SaveForm(sender, close) {
        if ($(formID).valid()) {
            var url = $(sender).data("saveurl");

            var callback = function (data) {
                if (close) {
                    $("#modal").modal('hide');
                } else {
                    $("#savedmessage").show();
                    $("#DepartmentID").val(data.DepartmentID);
                    $(":hidden[name='Digest']").val(data.Digest);
                    $("button[data-saveurl]").data("saveurl", "/Management/Department/Save?Digest=" + data.Digest);
                    setTimeout(function () { $("#savedmessage").hide(); }, 3000);
                }
            }

            AjaxSave($(sender).closest("form"), url, false, callback, true, null);
        }
    }

    function LoadServiceAreas() {
        var departmentID = $("#DepartmentID").val();

        $.ajax({
            method: "POST",
            url: serviceAreasUrl,
            data: { DepartmentID: departmentID },
            success: function (data) { $("#serviceareas").html(data) },
            error: function (jqXHR, status) {
                $("#serviceareas").html(jqXHR.responseJSON.ErrorMessage);
            }
        });
    }

    $(".modal-dialog").addClass($("#vvtfields:visible").length ? "margin-sm" : "margin-md");

</script>

@Scripts.Render("~/Bundles/Scripts/Management/Department")

<style type="text/css">
    .form-buttons {
        margin-top: 10px;
    }
    .form-buttons .btn {
        min-width: 100px;
    }
    .alert-button {
        padding-top:3px;
        padding-bottom:5px;
    }

    @@media (min-width: 768px) {
        .modal-body {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .modal-dialog.margin-md {
            margin: 10px auto !important;
        }
        .modal-dialog.margin-md .form-group {
            margin: 4px !important;
        }

        .modal-dialog.margin-sm {
            margin: 5px auto !important;
        }
        .modal-dialog.margin-sm .form-group {
            margin: 2px !important;
        }
    }

</style>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#details" data-toggle="tab" aria-controls="details" role="tab" title="Afdeling">
            Afdeling
        </a>
    </li>
    <li role="presentation" class="serviceareas" style="@(Model.EnableServiceAreas ? "" : "display:none;")">
        <a href="#serviceareas" data-toggle="tab" aria-controls="serviceareas" role="tab" title="Bedienings gebieden" onclick="LoadServiceAreas();">
            Bedienings gebieden
        </a>
    </li>
    <li role="presentation">
        <a href="#flowdefinitions" data-toggle="tab" aria-controls="flowdefinitions" role="tab" title="Flows">
            Flows
        </a>
    </li>
    <li role="presentation">
        <a href="#history" data-toggle="tab" aria-controls="history" role="tab" title="Historie">
            Historie
        </a>
    </li>
</ul>

<form class="form-horizontal" id="editdepartmentform" action="@Url.Action("Save")" method="post">
    @Html.AntiForgeryToken()
    @Html.AntiFiddleTokenFor(m => m.DepartmentID)
    @Html.HiddenFor(m => m.DepartmentID)
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="details">
            <h3>Afdeling</h3>
            @Html.Partial("_DepartmentDetails", Model)
        </div>
        <div class="tab-pane serviceareas" role="tabpanel" id="serviceareas" style="@(Model.EnableServiceAreas ? "" : "display:none;")">
        </div>
        <div class="tab-pane" role="tabpanel" id="flowdefinitions">
            <h3>Flows</h3>
            @Html.Partial("_DepartmentFlowParticipation", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="history">
            <h3>Historie</h3>
            @Html.Partial("_GenericLog", new GenericLogViewModel { TableName = "Department", PrimaryKey = Model.DepartmentID.ToString() })
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-buttons clearfix">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <span class="pull-right">
            <span class="alert alert-success alert-button" style="display:none;" id="savedmessage">Opgeslagen</span>
            <button type="button" class="btn btn-default" data-saveurl="@Url.Action("Save", "Department", new { Digest = AntiFiddleInjection.CreateDigest(Model.DepartmentID) })" onclick="SaveForm(this)">Opslaan</button>
            <button type="button" class="btn btn-primary" data-saveurl="@Url.Action("Save", "Department", new { Digest = AntiFiddleInjection.CreateDigest(Model.DepartmentID) })" onclick="SaveForm(this, true)">Opslaan en sluiten</button>
        </span>
    </div>
</form>