﻿@model Point.MVC.Auth.Models.ViewModels.ErrorViewModel
<h1>Er is een fout opgetreden</h1>
<span class="error">Foutcode nummer: @Model.ErrorNumber, neem contact op met onze helpdesk en vermeld dit nummer.</span>