﻿@model FrequencyPrintViewModel
@using Point.Database.Models;
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;
@using Point.Infrastructure.Helpers;
@using Point.Infrastructure.Extensions

@if (Request.IsPrintRequest())
{
    <div class="header">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-8">
                    <ul class="list-inline info">
                        <li>
                            <strong>Client:</strong>
                            @Model.ClientFullName (@Model.ClientFullGender) @Model.ClientBirthDate.ToPointDateDisplay()
                        </li>
                        <li>
                            <strong>BSN:</strong>
                            @Model.ClientCivilServiceNumber
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<div class="h1">Doorlopend dossier</div>

@foreach (var frequencyTransferMemo in Model.FrequencyTransferMemos)
{
    <div class="h2">@frequencyTransferMemo.Name</div>
    <div class="row">
        <div class="col-xs-8">
            <ul class="list-inline info">
                <li>
                    <strong>Begin datum:</strong>
                    @frequencyTransferMemo.StartDate.ToPointDateDisplay()
                </li>
                <li>
                    <strong>Eind datum:</strong>
                    @frequencyTransferMemo.EndDate.ToPointDateDisplay()
                </li>
                <li>
                    <strong>Frequentie van terugkoppeling:</strong>
                    eens in de @frequencyTransferMemo.Frequency dagen 
                </li>
            </ul>
        </div>
    </div>

    <div id="transferMemo" class="panel panel-blue">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">Datum</div>
                <div class="col-xs-4">Medewerker</div>
                <div class="col-xs-5">Organisatie</div>
            </div>
        </div>
        <div class="list-group transferMemoEntries">
            @foreach (var transferMemo in frequencyTransferMemo.TransferMemos)
            {
                <div class="list-group-item transferMemoEntry">
                    <div class="row">
                        <div class="col-xs-3">@transferMemo.TransferMemo.MemoDateTime.ToPointDateHourDisplay()</div>
                        <div class="col-xs-4">@transferMemo.TransferMemo.EmployeeName</div>
                        <div class="col-xs-5">@transferMemo.DepartmentFullName</div>
                    </div>
                    <div class="memo">@transferMemo.TransferMemo.MemoContent</div>
                </div>
            }
        </div>
    </div>
}
