﻿@font-face {
  font-family: Open Sans;
  src: url('/fonts/OpenSans.woff');
}
#EOverdracht30 .mainsection {
  margin-top: 20px;
}
#EOverdracht30 .displaydefault {
  display: none !important;
}
#EOverdracht30 .invisible {
  display: none !important;
}
#EOverdracht30 .group-box {
  display: inline-block;
  vertical-align: top;
  padding: 3px 7px 3px 7px;
  margin: 3px;
  width: 200px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
#EOverdracht30 .group-box .section-group {
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
}
#EOverdracht30 .group-box input {
  margin-right: 5px;
}
#EOverdracht30 .group-box label {
  cursor: pointer;
}
#EOverdracht30 .group-box.filled.orange {
  background-color: rgba(255, 159, 66, 0.5);
}
#EOverdracht30 .group-box.filled.gray {
  background-color: rgba(128, 128, 128, 0.5);
}
#EOverdracht30 .group-box.filled.blue {
  background-color: rgba(0, 189, 244, 0.5);
}
#EOverdracht30 .group-box.filled.purple {
  background-color: rgba(141, 63, 156, 0.5);
}
#EOverdracht30 .group-box.filled.green {
  background-color: rgba(185, 221, 76, 0.5);
}
#EOverdracht30 .group-box.fieldsource {
  border-right-color: #ff9f42;
  border-right-width: 12px;
}
#EOverdracht30 .group-box.orange,
#EOverdracht30 .group-box.gray,
#EOverdracht30 .group-box.blue,
#EOverdracht30 .group-box.purple,
#EOverdracht30 .group-box.green {
  border-left-width: 6px;
}
#EOverdracht30 .group-box.orange {
  border-color: #ff9f42;
}
#EOverdracht30 .group-box.gray {
  border-color: #808080;
}
#EOverdracht30 .group-box.blue {
  border-color: #00BDF4;
}
#EOverdracht30 .group-box.purple {
  border-color: #8d3f9c;
}
#EOverdracht30 .group-box.green {
  border-color: #b9dd4c;
}
#EOverdracht30 .formfieldgroup {
  margin-bottom: 20px;
}
#EOverdracht30 .sourcefield {
  background-color: rgba(255, 159, 66, 0.13);
}
#EOverdracht30 .subsection {
  page-break-inside: avoid;
}