﻿@model Point.Database.Models.ViewModels.LogReadExtendedViewModel
@using Point.MVC.WebApplication.Extensions
@{
    var organizations = (IEnumerable<SelectListItem>)ViewBag.Organizations ?? new List<SelectListItem>();
    var employees = (IEnumerable<SelectListItem>)ViewBag.Employees ?? new List<SelectListItem>();
}

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/JQueryForm")

<script type="text/javascript">
    var urlgetemployeesbyorganization = "@Url.Action("GetAllowedEmployeesByOrganization", "Lookup", new { Area = "" })";
    function OrganizationChanged(sender) {
        if ($(sender).val()) {
            $.get(
                urlgetemployeesbyorganization,
                { OrganizationID: $(sender).val() },
                function (data) {
                    fillSelectWithOptions($("#EmployeeID"), data, { Value: "", Text: "Maak uw keuze" });
                });
        }
        clearSelect($("#EmployeeID"));
    }
</script>


<div class="panel panel-primary">
    <div class="panel-heading">
        Bekijk leesacties
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("", "LogReadExtended", FormMethod.Post, new { model = Model, @class = "form-horizontal", action = Url.Action("GetLogs") }))
        {
            <div class="form-group">
                <label class="control-label col-xs-2">
                    Periode (t/m)
                </label>
                <div class="col-xs-2">
                    <div class="input-group date">
                        <input class="flowfield form-control" name="DateFrom" id="DateFrom" type="text" value="@Model.DateFrom" data_dateformat="dd-MM-yyyy"  data_datetime="date">                  
                        <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group date">
                        <input class="flowfield form-control" name="DateTm" id="DateTm" type="text" value="@Model.DateTm" data_dateformat="dd-MM-yyyy" data_datetime="date">                 
                        <span class="input-group-addon" style="color:darkgreen"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">BSN</label>
                <div class="col-xs-2">
                    @Html.TextBox("BSN", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">TransferID</label>
                <div class="col-xs-2">
                    @Html.TextBox("TransferID", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Organisatie:</label>
                <div class="col-xs-2">
                    @Html.SecureDropDownListFor(m => m.OrganizationID, organizations, htmlAttributes: new { @class = "form-control", onchange = "OrganizationChanged(this);" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Medewerker:</label>
                <div class="col-xs-2">
                    @Html.SecureDropDownListFor(m => m.EmployeeID, employees, htmlAttributes: new { @class = "form-control"})
                </div>
            </div>          
            <div class="form-group">
                <div class="col-xs-2">                   
                    <button type="submit" class="btn btn-block btn-primary">Zoeken</button>
                </div>
            </div>
            if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="form-group">
                    <label class="control-label col-xs-5" style="@(Model.ReportCommandSent? "color:green" : "color:red")"> @Model.Message</label>
                </div>
            }
        }
    </div>
</div>

<div id="logreadlist" class="panel panel-blue ignore-printfilter">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 col-xs-3">Bestandsnaam</div>
            <div class="col-md-2 col-xs-3">Datum</div>
        </div>
    </div>
    <div class="list-group dumprepots">
        @Html.Partial("List", Model.LogReadReportList)
    </div>
</div>
