﻿@using Point.Database.Models
@model List<TransferAttachmentViewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="list-group-item form-group dumprepot">
            <div class="row">
                <div class="col-md-2 col-xs-3">
                    @Html.ActionLink(item.FileName, "DownloadLogRead", "LogReadExtended", new { item.AttachmentID, Digest = AntiFiddleInjection.CreateDigest(item.AttachmentID) }, null)
                </div>
                <div class="col-md-2 col-xs-3">@item.DateTime</div>
            </div>
        </div>
    }
}


