﻿@model IEnumerable<MessageReceivedTemp>

<script type="text/javascript">
    var formID = "#formSearchMessageReceivedTemp";
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")

<div class="panel panel-primary">
    <div class="panel-heading">
        Bekijk informatie m.b.t. voorvullen formulieren
    </div>
    <div class="panel-body">
        <form id="formSearchMessageReceivedTemp" class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-xs-2">Datum van / Datum tot</label>
                <div class="col-xs-2">
                    <div class="input-group date">
                        @Html.TextBox("DateFrom", "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date", data_val_required = "Datum van is verplicht." })
                        <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group date">
                        @Html.TextBox("DateTo", "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date", data_val_required = "Datum tot is verplicht." })
                        <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-block btn-primary">Zoeken</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="messagereceivedtemplist" style="margin-bottom: 16px;min-height:200px;">
    @Html.Partial("List", Model)
</div>
