﻿@model IEnumerable<MessageReceivedTemp>

<script type="text/javascript">
    $(document).ready(function () {
        initDataTable("#messagereceivedtemptable");
    });
</script>


<table id="messagereceivedtemptable" class="table table-striped">
    <thead>
        <tr class="theme_headerstyle">
            <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().MessageReceivedTempID)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().SenderUserName)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().SendDate)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().PatientNumber)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().VisitNumber)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().Status)</th>
            <th scope="col" class="noprint">Velden</th>
        </tr>
    </thead>
    @if (Model != null)
    {
    <tbody>
        @foreach (var item in Model)
        {
            var messagereceivedtempid = item.MessageReceivedTempID;
            var url = Url.Action("ViewContent", "MessageReceivedTemp", new { MessageReceivedTempID = messagereceivedtempid, Digest = AntiFiddleInjection.CreateDigest(messagereceivedtempid) });
            var ajaxload = "ShowModal('" + url + "');";

        <tr>
            <td>@item.MessageReceivedTempID</td>
            <td>@item.SenderUserName</td>
            <td>@item.SendDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td>@item.PatientNumber</td>
            <td>@item.VisitNumber</td>
            <td>@item.Status</td>
            <td class="noprint"><span class="btn glyphicon glyphicon-search" onclick="@ajaxload"></span></td>
        </tr>
        }
    </tbody>
    }
</table>
