﻿@model IEnumerable<FieldReceivedTemp>

<script type="text/javascript">
    $(document).ready(function () {
        $("#fieldreceivedtemptable").dataTable({
            "scrollY": "500px",
            "sDom": "tip"
        });
    });
</script>


    <table id="fieldreceivedtemptable" class="table table-striped">
        <thead>
            <tr class="theme_headerstyle">
                <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().FieldName)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().FieldValue)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().Timestamp)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.FirstOrDefault().Status)</th>
            </tr>
        </thead>
        @if (Model != null)
        {
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.FieldName</td>
                <td>@item.FieldValue</td>
                <td>@item.Timestamp.ToString("dd-MM-yyyy HH:mm:ss")</td>
                <td>@item.Status</td>
            </tr>
            }
        </tbody>
        }
    </table>
