﻿@model AutoCreateSetViewModel
@using Point.MVC.WebApplication.Controllers
@using Point.MVC.WebApplication.Extensions

<div class="row" style="margin-bottom:5px;">
    <div class="col-xs-9">@Model.Name</div>
    <div class="col-xs-3 text-right">
        <span data-autocreatesetid="@Model.AutoCreateSetID" class="btn btn-danger" onclick="AskDeleteAutoCreateSet(this)">Verwijder</span>
        <span data-autocreatesetid="@Model.AutoCreateSetID" class="btn btn-default" onclick="EditAutoCreateSet(this)">Bewerk</span>
    </div>
</div>