﻿@model AutoCreateSetViewModel
@using Point.MVC.WebApplication.Controllers
@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums
@using Authorization = Point.Business.Helper.Authorization

<script type="text/javascript">
    var autoCreateSetEditForm = "#AutoCreateSetEdit";
    initializevalidation(autoCreateSetEditForm);
    $.validator.unobtrusive.parse($(autoCreateSetEditForm));

    function SaveAutoCreateSet(sender) {
        if ($(autoCreateSetEditForm).valid()) {
            var options = {
                url: '@Url.Action("EditAutoCreateSet")',
                type: "POST",
                dataType: "JSON",
                clearForm: true,
                success: function (data, textStatus, jqxhr, form) {
                    if (!data.Success)
                        showErrorMessage($.parseJSON(jqxhr.responseText).ErrorMessage);
                    else {
                        $("#modal2").modal("hide");
                    }
                }
            };
            $(sender).closest("form").ajaxSubmit(options);
        }
    }

    $("#DefaultDepartmentIDs").multiselect({
        selectAllText: "Alles/Niets Selecteren",
        allSelectedText: "Alle afdelingen",
        nonSelectedText: "Selecteer een afdeling",
        disableIfEmpty: true,
        maxHeight: 200,
        buttonWidth: '100%',
        nSelectedText: 'geselecteerd'
    });
</script>

@using (Html.BeginForm("AutoCreateSetEdit", "Location", FormMethod.Post, new { id = "AutoCreateSetEdit", @class = "form-horizontal" }))
{
    <h3 class="modal-title">Bewerk autocreate set</h3>

    @Html.HiddenFor(m => m.AutoCreateSetID)
    @Html.HiddenFor(m => m.LocationID)

    <div class="form-group">
        @Html.LabelFor(m => m.Name, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureTextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AutoCreateCode, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureTextBoxFor(m => m.AutoCreateCode, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IsDefaultForOrganization, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.IsDefaultForOrganization, new { @style = "height: 24px;" })
        </div>
    </div>

    <div class="form-group" style="margin-top:20px;">
        @Html.LabelFor(m => m.UsernamePrefix, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureTextBoxFor(m => m.UsernamePrefix, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DefaultPassword, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureTextBoxFor(m => m.DefaultPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" style="margin-top:20px;">
        @Html.LabelFor(m => m.DefaultPhoneNumber, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureTextBoxFor(m => m.DefaultPhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DefaultEmailAddress, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureTextBoxFor(m => m.DefaultEmailAddress, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DefaultGender, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureEnumDropDownListFor(m => m.DefaultGender, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DefaultDossierLevel, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureEnumDropDownListLimitedFor(m => m.DefaultDossierLevel, Model.AllowedDossierLevels, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" id="departments">
        @Html.LabelFor(m => m.DefaultDepartmentIDs, htmlAttributes: new { @Class = "control-label required col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureListBoxFor(m => m.DefaultDepartmentIDs, new MultiSelectList(Model.LocationDepartments, "DepartmentID", "Name", Model.DefaultDepartmentIDs), htmlAttributes: new { @class = "multiselect", required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordByEmployee, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.ChangePasswordByEmployee, new { @class = "checkbox-inline" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReadOnlySender, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.ReadOnlySender, new { @class = "checkbox-inline" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReadOnlyReciever, htmlAttributes: new { @Class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.ReadOnlyReciever, new { @class = "checkbox-inline" })
        </div>
    </div>

    <div class="clearfix" style="margin-top:20px;">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn btn-primary pull-right" onclick="SaveAutoCreateSet(this)">Opslaan</button>
    </div>
}
