﻿@model LocationViewModel

<script type="text/javascript">
    function AddAutoCreateSet(sender) {
        var url = "@Url.Action("NewAutoCreateSet", new { LocationID = Model.LocationID })";
        $(sender).data("index", $("#autocreatesets .row").length);

        $.get(url, $(sender).data(), function (data) {
            $("#autocreatesets").append(data);
        }).done(function () {
            //Done
        });
    }

    function DeleteAutoCreateSet(sender)
    {
        var url = "@Url.Action("DeleteAutoCreateSet")";
        $.get(url, $(sender).data(), function (data) {
            $(sender).closest(".row").remove();
        }).done(function () {
            //Done
        });
    }

    function AskDeleteAutoCreateSet(sender) {
        $("#autocreatesetDeleteModal").modal("show")
            .one("click",
            "#delete",
            function () {
                DeleteAutoCreateSet(sender);
            });
    }

    function EditAutoCreateSet(sender)
    {
        var url = "@Url.Action("EditAutoCreateSet")";
        $.get(url, $(sender).data(), function (data) {
            $("#modal2").modal("show");
            $("#modal2 .modal-body").html(data);

            $("#modal2").on("hidden.bs.modal", function () {
                $("#modal2 .modal-body").html("");
            });
        }).done(function () {
            //Done
        });
    }
</script>

<div class="form-group">
    <label class="control-label col-xs-2">Autocreate Sets</label>
    <div class="col-xs-10">
        <div id="autocreatesets">
            @foreach (var autocreateset in Model.AutoCreateSets)
            {
                @Html.Partial("_AutoCreateSet", autocreateset)
            }
        </div>
        @if (Model.LocationID == 0)
        {
            <text>U kunt pas toevoegen als de locatie is opgeslagen.</text>
        }
        else
        {
            <div class="btn btn-green" id="addautocreateset" onclick="AddAutoCreateSet(this)">Toevoegen</div>
        }
    </div>
</div>