﻿@model Point.Database.Models.ViewModels.LocationViewModel
@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums


<script type="text/javascript">
    function setFlowParticipation(sender) {
        var item = $(sender).closest("tr");

        var organizationtypeid = $("#OrganizationTypeID").val();
        var recievertypeid = item.data("defaultrecievingorganizationtypeid");
        var sendertypeid = item.data("defaultsendingorganizationtypeid");
        var flowdefinitionid = item.data("flowdefinitionid");

        var flowdirection = item.find(".flowdirection");

        if ($(sender).val() == '@((int)Participation.None)')
        {
            flowdirection.val(@((int)FlowDirection.None));
            return;
        }

        //Reco is apart geval die tussen de HA en de VVT Zit, kan helaas niet anders
        if (organizationtypeid === @((int)OrganizationTypeID.RegionaalCoordinatiepunt) && flowdefinitionid === @((int)FlowDefinitionID.HA_VVT)) {
            flowdirection.val(@((int)FlowDirection.Any));
            return;
        }

        if (organizationtypeid == recievertypeid && organizationtypeid == sendertypeid) {
            flowdirection.val(@((int)FlowDirection.Any));
        } else if (organizationtypeid == recievertypeid) {
            flowdirection.val(@((int)FlowDirection.Receiving));
        } else if (organizationtypeid == sendertypeid) {
            flowdirection.val(@((int)FlowDirection.Sending));
        } else if (sendertypeid == recievertypeid) {
            flowdirection.val(@((int)FlowDirection.Any));
        } else {
            //Overigen niet gespecificeerd
            flowdirection.val(@((int)FlowDirection.Any));
        }
    }
</script>
<div class="form-group">
    <div class="col-xs-12">
        <table class="table table-striped" id="flowparticipationtable">
            <thead>
                <tr>
                    <th>Flow</th>
                    <th style="width:200px;">Versturend/Ontvangend</th>
                    <th style="width:200px;">Deelname</th>
                </tr>
            </thead>
            @for (var i = 0; i < Model.FlowParticipation.Count; i++)
            {
                @Html.HiddenFor(x => x.FlowParticipation[i].FlowDefinitionID)
                <tr data-flowdefinitionid="@((int)Model.FlowParticipation[i].FlowDefinitionID)" data-oldparticipation="@((int)Model.FlowParticipation[i].Participation)" data-defaultrecievingorganizationtypeid="@Model.FlowParticipation[i].DefaultRecievingOrganizationTypeID" data-defaultsendingorganizationtypeid="@Model.FlowParticipation[i].DefaultSendingOrganizationTypeID">
                    <td>@Html.DisplayFor(x => x.FlowParticipation[i].Name)</td>
                    <td style="width:200px;">
                        
                        @if (Model.Assisting.HasGlobalRights)
                        {
                            @Html.EnumDropDownListLimitedFor(x => x.FlowParticipation[i].FlowDirection, null, new { @class = "form-control flowdirection" }, propertyName: "FlowParticipation[" + i + "].FlowDirection")
                        }
                        else
                        {
                            @Html.HiddenFor(x => x.FlowParticipation[i].FlowDirection, new { @class = "flowdirection", name = "FlowParticipation[" + i + "].FlowDirection" })
                            @Html.EnumDropDownListLimitedFor(x => x.FlowParticipation[i].FlowDirection, null, new { @class = "form-control flowdirection", onchange = "setFlowDirection(this)", disabled = "disabled" })
                        }
                    </td>
                    <td style="width:200px;">@Html.EnumDropDownListLimitedFor(x => x.FlowParticipation[i].Participation, Model.FlowParticipation[i].Participations, new { @class = "form-control participation", onchange = "setFlowParticipation(this)" }, propertyName: "FlowParticipation[" + i + "].Participation")</td>
                </tr>
            }
        </table>
    </div>
</div>