﻿@model LocationViewModel
@using Point.MVC.WebApplication.Extensions

<style>
    .button-hover:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    ul.list-style-none {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .other-region-name {
        display: inline-block;
        width: 200px;
    }

    .other-region-action-button {
        padding-left: 20px;
    }

    #addButton {
        padding-left: 4px;
        vertical-align: text-top; /* necessary with IE, not with FF, Chrome, Edge */
    }
</style>

<div class="form-group">
    @Html.LabelFor(m => m.OrganizationRegionName, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5" id="OrganizationRegionName">
        @Html.DisplayFor(m => m.OrganizationRegionName)
    </div>
</div>
<br />

<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">Afwijkende regio's</label>
    </div>
    <div class="col-xs-5">
        @Html.HiddenFor(m => m.OtherRegionIDs)
        <ul id="selectedOtherRegions" class="list-style-none">
            @foreach (var otherRegion in Model.Assisting.OtherRegions)
            {
                <li>
                    <span class="other-region-name">
                        @otherRegion.Name
                    </span>
                    <span class="other-region-action-button">
                        <span class="button-hover button-delete glyphicon color-pt-red glyphicon-remove" title="Verwijder"
                              data-other-region-id="@otherRegion.RegionID" data-other-region-name="@otherRegion.Name"></span>
                    </span>
                </li>
            }
        </ul>
    </div>
</div>
<br />

<div class="form-group">
    <div class="col-xs-4">
        <label class="control-label">Toevoegen</label>
    </div>
    <div class="col-xs-5">
        <table>
            <tr>
                <td>
                    <span class="other-region-name">
                        @Html.DropDownListFor(m => m.OtherRegionID, new SelectList(Model.Assisting.RegionsMinusOtherRegions, "RegionID", "Name"), htmlAttributes: new {@class = "form-control"})
                    </span>
                </td>
                <td>
                    <span class="other-region-action-button">
                        <span id="addButton" class="button-hover glyphicon color-pt-darkblue glyphicon-plus" title="Voeg toe"></span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        function joinOtherRegionIdsIntoString() {
            var join = $(".button-delete").map(function() {
                return $(this).data("otherRegionId");
            }).get().join();
            $("input#OtherRegionIDs").val(join);
        }

        // Button: Delete (from ul to dropdownlist)
        function deleteButton() {
            var button = $(this);
            var otherRegionId = button.data("otherRegionId");
            var otherRegionName = button.data("otherRegionName");

            button.closest('li').remove(); // remove from ul
            $("select#OtherRegionID").append(
                '<option value=' + otherRegionId + '>' + otherRegionName + '</option>'); // add to dropdownlist

            joinOtherRegionIdsIntoString();
        }

        $(".button-delete").click(deleteButton); // add the button click

        // Button: Add (from dropdownlist to ul)
        $("#addButton").click(function () {
            var option = $("select#OtherRegionID option:selected");
            var otherRegionId = option.val();
            var otherRegionName = option.text();

            option.remove(); // remove from dropdownlist

            $("ul#selectedOtherRegions").append( // add to ul
                '<li>' +
                '   <span class="other-region-name">' + otherRegionName + '</span>' +
                '   <span class="other-region-action-button">' +
                '       <span class="button-hover button-delete glyphicon color-pt-red glyphicon-remove" title="Verwijder"' +
                '           data-other-region-id="' + otherRegionId + '"' +
                '           data-other-region-name="' + otherRegionName + '">' +
                '       </span>' +
                '   </span>' +
                '</li>');

            $('*[data-other-region-id="' + otherRegionId + '"]').click(deleteButton);  // add the button click

            joinOtherRegionIdsIntoString();
        });
    });
</script>
