﻿@model Point.Database.Models.ViewModels.LocationViewModel
@using Point.Database.Models
@using Point.MVC.WebApplication.Extensions


<script type="text/javascript">
    var urlGetOrganizationDetailsByOrganizationID = "@Url.Action("GetOrganizationDetailsByOrganizationID", "Lookup", new { Area = "" })";
    var urlGetDefaultFlowDefinitionParticipation = "@Url.Action("GetDefaultFlowDefinitionParticipation", "Lookup", new { Area = "" })";

    function LoadFlowDefaults()
    {
        var locationid = $("#LocationID").val();
        var organizationtypeid = $("#OrganizationTypeID").val();

        if (locationid !== '0' || organizationtypeid === '')
        {
            return;
        }

        $('#flowparticipationtable').find(".flowdirection").val('-1');
        $('#flowparticipationtable').find(".participation").val('0');

        var url = urlGetDefaultFlowDefinitionParticipation + "?OrganizationTypeID=" + organizationtypeid;
        $.ajax(url).done(function (data) {
            $.each(data, function (index, value) {
                var item = $('#flowparticipationtable tr[data-flowdefinitionid="' + value.FlowDefinitionID + '"]');

                item.find(".flowdirection").val(value.FlowDirection);
                item.find(".participation").val(value.Participation);
            });
        });
    }

    function OrganizationChanged(sender) {
        var url = urlGetOrganizationDetailsByOrganizationID + "?OrganizationID=" + $(sender).val();
        $.ajax(url)
            .done(function (data) {
                var showotherregions = data.OrganizationTypeID == '2';

                $("#OrganizationTypeID").val(data.OrganizationTypeID);
                $("#EnableOtherRegions").val(showotherregions);
                $("#OrganizationRegionName").text(data.RegionName);
                $(".otherregions").toggle(showotherregions);
                $('.tab-pane[style*="display: block"]').removeProp("style"); //Fix styling issue (weird margin in tab flows)
                CalcFullName();
                LoadFlowDefaults();
            });
    }

    $().ready(function () {
        LoadFlowDefaults();
    });
</script>

@Html.HiddenFor(m => m.OrganizationTypeID)
<div class="form-group">
    @Html.LabelFor(m => m.OrganizationID, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureDropDownListFor(m => m.OrganizationID, new SelectList(Model.Assisting.OrganizationList, "OrganizationID", "Name", Model.OrganizationID.ToString()), optionLabel: " - Maak uw keuze - ", htmlAttributes: new { @class = "form-control", onchange = "OrganizationChanged(this);" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        <div>
            <i>Vul "Locatie 1" in als u het niet kunt invullen</i>
        </div>
        @Html.SecureTextBoxFor(m => m.Name, new { @class = "form-control", onkeyup = "LocationChanged(this)" })
    </div>
</div>
<div class="form-group">
    <div class="col-xs-push-4 col-xs-8">
        <label>Weergegeven naam:</label>
        <div class="concatname">
            @(Model.OrganizationName)@(Model.Name == "Locatie 1" ? "" : (" - " + Model.Name))
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.StreetName, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.StreetName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Number, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.Number, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PostalCode, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.PostalCode, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.City, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.City, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IPCheck, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.IPCheck, new { @class = "checkbox-inline" })
    </div>
</div>
<div class="form-group">
    @Html.LabelWithInformationIconFor(m => m.IPAddress, new { @class = "control-label col-xs-4" }, "Vul hier één of meerdere IP-adressen in van de locatie(s) vanwaar het toegestaan is om in te loggen in POINT. Meerdere IP-adressen dienen door een puntkomma te worden gescheiden. Tevens is het mogelijk om een ip-netwerkadres op te geven in de CIDR notatie (voorbeeld: 61.192.132.194/24).")
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.IPAddress, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelWithInformationIconFor(m => m.Area, new { @class = "control-label col-xs-4" }, "Hierin kunnen gebieden worden ingevuld, welke in de rapportage terug komen als subtotaal. Door bij meerdere locaties hetzelfde (gelijk gespeld) gebied te benoemen krijgt men een extra subtotaal.")
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.Area, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Inactive, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.Inactive, new { @class = "checkbox-inline" })
    </div>
</div>

