﻿@model LocationViewModel
@using Point.Infrastructure.Attributes

<script type="text/javascript">
    var formID = "#editlocationform";

    initializevalidation(formID);

    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($(formID));

    function SaveForm(sender, close) {
        if ($(formID).valid()) {
            var url = $(sender).data("saveurl");

            var callback = function (data) {
                if (close) {
                    $("#modal").modal('hide');
                } else {
                    $("#savedmessage").show();
                    $("#LocationID").val(data.LocationID);
                    $(":hidden[name='Digest']").val(data.Digest);
                    $("button[data-saveurl]").data("saveurl", "/Management/Location/Save?Digest=" + data.Digest);
                    setTimeout(function () { $("#savedmessage").hide(); }, 3000);
                }
            }

            AjaxSave($(sender).closest("form"), url, false, callback, true, null);
        }
    }

    function TryOpenFlowTab(e)
    {
        var organizationid = $("#OrganizationID").val();
        if (organizationid === '')
        {
            $("#organizationChoiceModal").modal("show");
            $("#detailstab").tab("show");
        } else {
            $("#flowdefinitionstab").tab("show");
        }
    }
</script>

@Scripts.Render("~/Bundles/Scripts/Management/Location")

<style type="text/css">
    .form-buttons {
        margin-top: 20px;
    }
    .form-buttons .btn {
        min-width: 100px;
    }
    .alert-button {
        padding-top:3px;
        padding-bottom:5px;
    }
</style>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#details" id="detailstab" data-toggle="tab" aria-controls="details" role="tab" title="Locatie">
            Locatie
        </a>
    </li>
    <li role="presentation" class='otherregions @(Model.Assisting.EnableOtherRegions ? "" : "hidden")'>
        <a href="#regions" data-toggle="tab" aria-controls="regions" role="tab" title="Afwijkende regio's">
            Afwijkende regio's
        </a>
    </li>
    <li role="presentation">
        <a href="#flowdefinitions" id="flowdefinitionstab" aria-controls="flowdefinitions" role="tab" title="Flows" onclick="TryOpenFlowTab(this);">
            Flows
        </a>
    </li>
    <li role="presentation" style="@(Model.Assisting.EnableAutoCreate ? "" : "display:none;")">
        <a href="#autocreate" data-toggle="tab" aria-controls="autocreate" role="tab" title="Autocreate">
            Autocreate account
        </a>
    </li>
    <li role="presentation">
        <a href="#history" data-toggle="tab" aria-controls="history" role="tab" title="Historie">
            Historie
        </a>
    </li>
</ul>

<form class="form-horizontal" id="editlocationform" action="@Url.Action("Save")" method="post">
    @Html.AntiForgeryToken()
    @Html.AntiFiddleTokenFor(m => m.LocationID)
    @Html.HiddenFor(m => m.LocationID)
    @Html.HiddenFor(m => m.Assisting.EnableOtherRegions)
    @Html.HiddenFor(m => m.Assisting.EnableAutoCreate)
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="details">
            <h3>Locatie</h3>
            @Html.Partial("_LocationDetails", Model)
        </div>
        <div class="tab-pane otherregions" role="tabpanel" id="regions" style="@(Model.Assisting.EnableOtherRegions ? "" : "display:none;")">
            <h3>Afwijkende regio's</h3>
            @Html.Partial("_LocationRegion", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="flowdefinitions">
            <h3>Flows <span class="concatname">@(Model.OrganizationName)@(Model.Name == "Locatie 1" ? "" : (" - " + Model.Name))</span></h3>
            @Html.Partial("_LocationFlowParticipation", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="autocreate" style="@(Model.Assisting.EnableAutoCreate ? "" : "display:none;")">
            <h3>Autocreate account</h3>
            @Html.Partial("_LocationAutoCreate", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="history">
            <h3>Historie</h3>
            @Html.Partial("_GenericLog", new GenericLogViewModel { TableName = "Location", PrimaryKey = Model.LocationID.ToString() })
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-buttons clearfix">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>

        <span class="pull-right">
            <span class="alert alert-success alert-button" style="display:none;" id="savedmessage">Opgeslagen</span>
            <button type="button" class="btn btn-default" data-saveurl="@Url.Action("Save", "Location", new { Digest = AntiFiddleInjection.CreateDigest(Model.LocationID) })" onclick="SaveForm(this)">Opslaan</button>
            <button type="button" class="btn btn-primary" data-saveurl="@Url.Action("Save", "Location", new { Digest = AntiFiddleInjection.CreateDigest(Model.LocationID) })" onclick="SaveForm(this, true)">Opslaan en sluiten</button>
        </span>
    </div>
</form>