﻿@model Point.MVC.Survey.Models.Campaigns.amsmetenavvo
@using Point.MVC.Survey.Infrastructure.Extensions;
@using Point.MVC.Survey.Infrastructure.Helpers

@{
    var routevalues = new
    {
        c = Model.CampaignID,
        t = Model.TransferID,
        d = Model.DepartmentID,
        h = DigestHelper.CreateDigest(string.Format("{0}|{1}|{2}", Model.CampaignID, Model.TransferID, Model.DepartmentID))
    };

    var dismiss = Url.Action("dismiss", routevalues);
    var save = Url.Action("amsmetenavvo", routevalues);
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/campaign")
@Scripts.Render("~/bundles/scripts/amsmetenavvo")

<div id="information" class="alert alert-info">
    <span>
        Beste POINT gebruiker,
        <br /><br />
        U bent betrokken bij de zorgoverdracht van een patiënt van een ziekenhuis naar uw zorginstelling. Voor deze transfer is een POINT transferdossier gebruikt. Dit dossier is ten eerste aan u aangeboden t.b.v. de zorgaanmelding, opdat u kon beoordelen of u de gevraagde zorg kan leveren. Nadat uw organisatie de zorgaanmelding heeft geaccepteerd is via het POINT transferdossier de verpleegkundige overdracht naar u verstuurd.
        <br /><br />
        Om de kwaliteit van de zorgaanmelding en de verpleegkundige overdracht te verbeteren wordt uw medewerking gevraagd. Hiervoor wordt u gevraagd een aantal vragen te beantwoorden. De antwoorden worden worden anoniem verwerkt. Wilt u uw medewerking verlenen?
        <br /><br />
    </span>
    <div class="row">
        <div class="form-group">
            <div class="pull-right">
                <button id="start" class="btn btn-default btn-action">Ja, graag</button>
                <button id="dismiss" class="btn btn-default btn-action" data-url="@dismiss">Nee, liever niet</button>
            </div>
        </div>
    </div>
</div>

<div id="survey" style="display:none;">
    <div class="alert alert-info">
        <span>
            Dank u wel, uw medewerking wordt zeer op prijs gesteld!
            <br />
            U kunt nu de onderstaande vragen beantwoorden over de zorgoverdracht van een patiënt. 
            <br />Het bijbehorende POINT transferdossier kunt u inzien via de volgende link: @Html.DossierPatientLink(Model.TransferID)
        </span>
    </div>

    <form id="form" method="post">

        @Html.AntiForgeryToken()

        <div class="panel color-point-lightblue margin-top-xl">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.AanmeldingVolledig, new { @class = "col-md-8 control-label", id = "aanmeldingvolledig" })
                    <div class="col-md-4">
                        <div class="pull-right">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.AanmeldingVolledig, "true", new { data_children = "aanmelding" })<span>Ja</span>
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.AanmeldingVolledig, "false", new { data_children = "aanmelding" })<span>Nee</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="aanmelding" style="display:none;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AanmeldingOntbrekendeInformatie, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.AanmeldingOntbrekendeInformatie)
                                @Html.HiddenFor(m => m.AanmeldingOntbrekendeInformatie)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AanmeldingOnjuisteInformatie, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.AanmeldingOnjuisteInformatie)
                                @Html.HiddenFor(m => m.AanmeldingOnjuisteInformatie)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AanmeldingTegenstrijdigeInformatie, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.AanmeldingTegenstrijdigeInformatie)
                                @Html.HiddenFor(m => m.AanmeldingTegenstrijdigeInformatie)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AanmeldingZKHIsGaanBellen, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.AanmeldingZKHIsGaanBellen)
                                @Html.HiddenFor(m => m.AanmeldingZKHIsGaanBellen)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AanmeldingOverig, new { @class = "col-md-8 control-label" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.AanmeldingOverig, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel color-point-lightblue">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.OverdrachtVolledig, new { @class = "col-md-8 control-label" })
                    <div class="col-md-4">
                        <div class="pull-right">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.OverdrachtVolledig, "true", new { data_children = "overdracht" }) Ja
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.OverdrachtVolledig, "false", new { data_children = "overdracht" }) Nee
                            </label>
                        </div>
                    </div>
                </div>
                <div id="overdracht" style="display:none;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtInformatieOntbreekt, new { @class = "col-md-8 control-label" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtInformatieOntbreektAMO, new { @class = "col-md-7 col-md-offset-1 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.OverdrachtInformatieOntbreektAMO, new { @class = "chk-ontbreekt" })
                                @Html.HiddenFor(m => m.OverdrachtInformatieOntbreektAMO)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtInformatieOntbreektUitvoeringsverzoek, new { @class = "col-md-7 col-md-offset-1 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.OverdrachtInformatieOntbreektUitvoeringsverzoek, new { @class = "chk-ontbreekt" })
                                @Html.HiddenFor(m => m.OverdrachtInformatieOntbreektUitvoeringsverzoek)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtInformatieOntbreektRevalidatieOfNazorg, new { @class = "col-md-7 col-md-offset-1 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.OverdrachtInformatieOntbreektRevalidatieOfNazorg, new { @class = "chk-ontbreekt" })
                                @Html.HiddenFor(m => m.OverdrachtInformatieOntbreektRevalidatieOfNazorg)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtTegenstrijdigeInformatie, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.OverdrachtTegenstrijdigeInformatie)
                                @Html.HiddenFor(m => m.OverdrachtTegenstrijdigeInformatie)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtReceptNietGestuurd, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.OverdrachtReceptNietGestuurd)
                                @Html.HiddenFor(m => m.OverdrachtReceptNietGestuurd)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtMaterialenOntbreken, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.OverdrachtMaterialenOntbreken)
                                @Html.HiddenFor(m => m.OverdrachtMaterialenOntbreken)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtThuiszorgNietOpDeHoogte, new { @class = "col-md-8 control-label" })
                        <div class="col-md-4">
                            <div class="checkbox-inline pull-right">
                                @Html.CheckBoxFor(m => m.OverdrachtThuiszorgNietOpDeHoogte)
                                @Html.HiddenFor(m => m.OverdrachtThuiszorgNietOpDeHoogte)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OverdrachtOverig, new { @class = "col-md-8 control-label" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.OverdrachtOverig, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="h6">
            <em>Let op: u kunt niet tussentijds opslaan</em>
        </span>

        <div class="row margin-top-xl">
            <div class="form-group">
                <div class="pull-right">
                    <button id="done" class="btn btn-default btn-action" data-url="@save" type="button">Afronden</button>
                </div>
            </div>
        </div>

    </form>
</div>