﻿@using Point.MVC.Survey.Infrastructure;

<div class="alert alert-info">
    @if (ViewBag.Status == Status.Dismissed)
    {
        <span>
            Bedankt voor u aandacht. Bij een volgende zorgoverdracht van een patiënt krijgt u mogelijk weer een uitnodiging om deel te nemen aan deze enquête.
        </span>
    }
    else
    {
        <span>
            Bedankt voor het beantwoorden van de vragen! Hiermee kan de kwaliteit van de zorgaanmelding en de verpleegkundige overdracht via POINT worden verbeterd.
        </span>
    }
</div>