﻿@model Point.Database.Models.ViewModels.SystemMessageViewModel
@using Point.Infrastructure.Attributes

<style type="text/css">
    .form-buttons {
        margin-top: 20px;
    }
    .form-buttons .btn  { min-width: 80px;}
</style>

<form class="form-horizontal" action="@Url.Action("Delete", "SystemMessage", new { Model.SystemMessageID, Digest = AntiFiddleInjection.CreateDigest(Model.SystemMessageID) })" method="post">
    <h3>Weet u zeker dat u Systeemberichten "@Model.Title" wilt verwijderen?</h3>
    <div class="form-buttons">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
        <button type="submit" name="Confirm" value="true" class="btn btn-danger">Ja</button>
    </div>
</form>