﻿
@model SystemMessageViewModel
@using Point.Infrastructure.Attributes
@using Point.Infrastructure.Extensions;

@{
    var functioncodes = (List<Option>)ViewBag.FunctionCodes;
}

<script type="text/javascript">
    var formID = "#editsystemmessage";

    initializeDateTime();

    initializevalidation(formID);

    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($(formID));

    var SaveForm = function (sender) {
        if ($(formID).valid()) {
            var url = $(sender).data("saveurl");
            AjaxSave($(sender).closest("form"), url, true, null, true, null);
            $("#modal").modal('hide');
        }
    }
</script>

<style type="text/css">
    .form-buttons {
                margin-top: 20px;
            }

    .form-buttons .btn {
                min-width: 100px;
            }
</style>

<form class="form-horizontal" id="editsystemmessage" action="@Url.Action("Save")" method="post">
    @Html.AntiForgeryToken()
    @Html.AntiFiddleTokenFor(m => m.SystemMessageID)
    @Html.HiddenFor(m => m.SystemMessageID)

    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = 15})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LinkReference, new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            @Html.TextBoxFor(m => m.LinkReference, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LinkText, new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            @Html.TextBoxFor(m => m.LinkText, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartDate, new { @class = "control-label col-xs-2" })
        <div class="col-xs-3">
            <div class="input-group date">
                @Html.TextBoxFor(m => m.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
                <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="col-xs-2">
            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control time" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EndDate, new { @class = "control-label col-xs-2" })
        <div class="col-xs-3">
            <div class="input-group date">
                @Html.TextBoxFor(m => m.EndDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
                <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="col-xs-2">
            @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control time" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FunctionCode, new { @class = "control-label col-xs-2" })
        <div class="col-xs-5">
            @Html.DropDownListFor(m => m.FunctionCode, functioncodes.ToSelectListItems(r => r.Text, r => r.Value),
                new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IsPermanent, new { @class = "control-label col-xs-2" })
        <div class="col-xs-5">
            @Html.CheckBox("IsPermanent", Model.IsPermanent, new { @class = "checkbox-inline" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IsActive, new { @class = "control-label col-xs-2" })
        <div class="col-xs-5">
            @Html.CheckBox("IsActive", Model.IsActive, new { @class = "checkbox-inline" })
        </div>
    </div>

    <div class="form-buttons clearfix">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn btn-primary pull-right" data-saveurl="@Url.Action("Save", "SystemMessage", new { Digest = AntiFiddleInjection.CreateDigest(Model.SystemMessageID) })" onclick="SaveForm(this)">Opslaan</button>
    </div>
</form>