﻿@model IEnumerable<Point.Database.Models.ViewModels.SystemMessageViewModel>
@using Point.Models.Enums
@using Point.Infrastructure.Attributes
@using Point.Infrastructure.Extensions

@Scripts.Render("~/Bundles/Scripts/FormType")

<style type="text/css">
    #systemmessagetable tbody tr:hover {
        cursor: pointer;
    }

    #systemmessagecontainer input[type="checkbox"][disabled] {
        cursor: pointer !important
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $("#systemmessagetable").DataTable({
            "paging": false,
            "order": []
        });
    });
</script>

<div id="systemmessagecontainer" style="margin-bottom: 16px;">
    <table id="systemmessagetable" class="table table-striped">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Melding startdatum</th>
                <th>Melding einddatum</th>
                <th>Permanent</th>
                <th>Aktief</th>
                <th style="width: 24px;"></th>
            </tr>
        </thead>
        @if (Model != null)
        {
            <tbody>
                @foreach (var item in Model)
                {
                    var editorganizationclick = "onclick=ShowModal('" + Url.Action("Edit", "SystemMessage", new { item.SystemMessageID, Digest = AntiFiddleInjection.CreateDigest(item.SystemMessageID) }) + "');";
                    <tr>
                        <td @editorganizationclick>@item.Title</td>
                        <td @editorganizationclick>@item.StartDate.Add(item.StartTime).ToString("dd-MM-yyyy HH:mm")</td>
                        <td @editorganizationclick>@item.EndDate.Add(item.EndTime).ToString("dd-MM-yyyy HH:mm")</td>
                        <td @editorganizationclick>@Html.CheckBox("IsPermanent", item.IsPermanent, new { @class = "checkbox-inline", @disabled = "disabled" })</td>
                        <td @editorganizationclick>@Html.CheckBox("IsActive", item.IsActive, new { @class = "checkbox-inline", @disabled = "disabled" })</td>
                        <td onclick="ShowModal('@Url.Action("Delete", "SystemMessage", new { item.SystemMessageID, Digest = AntiFiddleInjection.CreateDigest(item.SystemMessageID) })')"><span class="glyphicon color-pt-red glyphicon-remove pull-right"></span></td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

<div class="form-group pull-right" style="margin-left:20px;">
    <div class="btn btn-primary" onclick="ShowModal('@Url.Action("Create", "SystemMessage")')">Toevoegen</div>
</div>