﻿@model IEnumerable<SystemMessageViewModel>
@using Point.Infrastructure.Extensions

@Scripts.Render("~/Bundles/Scripts/FormType")

<style type="text/css">
    .SystemMessage-Title
    {
        float:left;
        font-weight:bold;
    }
    .SystemMessage-Date
    {
        float:right;
    }
    .SystemMessage-Message
    {
        max-height:100px;
        overflow-y:auto;
    }
</style>

<h1>Overzicht systeemberichten</h1>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="clearfix">
                    <div class="SystemMessage-Title">@item.Title</div>
                    <div class="SystemMessage-Date">@item.StartDate.Add(item.StartTime).ToPointDateHourDisplay()</div>
                </div>
            </div>
            <div class="panel-body">
                <div class="SystemMessage-Message">@Html.Raw(item.Message)</div>
            </div>
        </div>
    }
}
