﻿<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ielt9" style="min-width:1200px;"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ielt9" style="min-width:1200px;"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 ielt9" style="min-width:1200px;"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" style="min-width:1200px;"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Point Auth</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/jqueryval")
    @Scripts.Render("~/bundles/scripts/bootstrap")

    @Styles.Render("~/content/styles/css")

    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .error {
            color: red;
        }
    </style>

</head>
<body role="document">
    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>