﻿@model IList<Point.Planbord.Database.Models.Bed>
@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Bed";
}

@section scripts {
    @Scripts.Render("~/Scripts/Bed/bed.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 500px;">
        @using (Html.BeginForm("OverruleDepartment", "Bed", FormMethod.Post, new { id = "BedOverruleForm" }))
        { 
            <table class="mainTable">
                <tbody>
                     <tr>
                        <td class="tableHeader" colspan="2">
                            U bekijkt de bedden van: @ViewBag.SelectedEntity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="display" id="bedDataTable" style="margin-top: 5px;">
                                <thead style="display: table-header-group;">
                                    <tr>
                                        <th style="width: 100px;">Bed</th>
                                        <th style="width: 200px;">@Html.DisplayNameFor(model => model.First().DepartmentOverrule)</th>
                                        <th style="width: 200px;">@Html.DisplayNameFor(model => model.First().Specialism)</th>
                                        <th style="width: 200px;">@Html.DisplayNameFor(model => model.First().IsAcute)</th>
                                        <th style="width: 200px;">@Html.DisplayNameFor(model => model.First().BedType)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (var i = 0; i < Model.Count(); i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(x => Model[i].BedID)
                                                <td>@Html.Label(Model[i].SystemCode, ((Bed)Model[i]).Description())</td>
                                                <td>
                                                    @Html.DropDownListFor(x => Model[i].DepartmentOverruleID,
                                                        new SelectList((SelectList)ViewBag.Departments, "Value", "Text", Model[i].DepartmentOverruleID), "")
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(x => Model[i].SpecialismOverruleID,
                                                            new SelectList((SelectList)ViewBag.Specialism, "Value", "Text", Model[i].SpecialismOverruleID), "")
                                                </td>
                                                <td>@Html.CheckBoxFor(x => Model[i].IsAcute)</td>
                                                <td>
                                                    @Html.DropDownListFor(x => Model[i].BedType, EnumExtensions.SelectListFor(Model[i].BedType))
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="buttonRow">
                        <td colspan="2">
                            <div style="float: right;">
                                <input type="submit" class="inputButton" name="SaveDepartment" value="Opslaan" />
                            </div>
                            <div style="float: right;">
                                <input type="submit" class="inputButton" name="CancelDepartment" value="Annuleren" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>
