﻿@model IList<Point.Planbord.Database.Models.Bed>
@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Bed";
}

@section scripts {
    @Scripts.Render("~/Scripts/Bed/bed.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 700px;">
        @using (Html.BeginForm("OverruleSpecialism", "Bed", FormMethod.Post, new { id = "BedOverruleForm" }))
        { 
            <table class="mainTable">
                <tbody>
                     <tr>
                        <td class="tableHeader" colspan="2">
                            U bekijkt de bedden van: @ViewBag.SelectedEntity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="display" id="bedDataTable" >
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">Bed</th>
                                        <th style="width: 200px;">@Html.DisplayNameFor(model => model.First().SpecialismOverrule)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for(var i = 0; i < Model.Count(); i++)
                                        {
                                        <tr>
                                            <td>@(((Bed)Model[i]).Description())@Html.HiddenFor(x => Model[i].BedID)</td>
                                            <td>@Html.DropDownListFor(x => Model[i].SpecialismOverruleID, 
                                            new SelectList((SelectList)ViewBag.Specialisms, "Value", "Text", Model[i].SpecialismOverruleID), "")</td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="buttonRow">
                        <td colspan="2">
                            <div style="float: right;">
                                <input type="submit" class="inputButton" name="SaveSpecialism" value="Opslaan" />
                            </div>
                            <div style="float: right;">
                                <input type="submit" class="inputButton" name="CancelSpecialism" value="Annuleren" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>						
        }
    </div>
</div>
