﻿@model AidProductOrderItemViewModel
@using Point.MVC.WebApplication.Extensions
@{
    bool isReadOnly = Html.ViewData.IsReadMode();
    var readModeString = isReadOnly ? "readonly disabled" : "";
}

<style type="text/css">
    .orderitem {
        margin-bottom: 10px;
    }

    .orderitem .image {
        max-width: 64px;
    }
</style>

<script type="text/javascript">
    function DeleteItem(sender){
        $(sender).closest(".row").remove();

        _Hulpmiddelen.RefreshSelectedOrderItems();
        _Hulpmiddelen.DeleteAllAnswers();
    }
</script>

<div class="row orderitem productid_@Model.AidProductID" data-aidproductgroupid="@Model.AidProductGroupID">
    <input type="hidden" class="aidproductid" name="HMI_@(Model.AidProductID)_aidproductid" value="@Model.AidProductID" />
    <input type="hidden" name="HMI_@(Model.AidProductID)_aidproductorderitemid" value="@Model.AidProductOrderItemID" />
    <input type="hidden" name="HMI_@(Model.AidProductID)_name" value="@Model.Name" />

    <div class="col-xs-1"><a href="#" rel="popover" data-img="@Url.Action("Picture", "AidProduct", new { Model.AidProductID })"><img class="image" style="border : 1px solid #d0d0d0;" src="@Url.Action("Picture", "AidProduct", new { Model.AidProductID })" /></a></div>
    <div class="col-xs-1">
        <input type="text" @readModeString name="HMI_@(Model.AidProductID)_quantity" class="form-control quantity" value="@Model.Quantity" />
    </div>
    <div class="col-xs-9">@Html.DisplayFor(m => m.Name)</div>
    <div class="col-xs-1">
        @if (isReadOnly == false)
        {
            <span class="btn btn-block btn-danger" onclick="DeleteItem(this)">Verwijder</span>
        }
    </div>
</div>