﻿@model AidProductSearchViewModel

<style>
    .AidProductGroup {
        margin-right : 2px;
        margin-bottom : 5px;
    }

    #results {
        max-height: 300px;
        height: 300px;
    }
    .form-group, #productGroupTitle {
        margin-bottom: 10px;
    }

    #AddItemForm .btn-primary {
        background-color: #006699;
        border-color: #006699;
    }
</style>

<script type="text/javascript">

    function SearchItems(sender)
    {
        if (sender.keyCode == 13) {
            e.preventDefault();
            return false;
        }

        var selectedAidProductItem = $(".AidProductGroup input:checked");
        var aidProductGroupID = selectedAidProductItem.val();
        var searchPart = $("#SearchString").val().trim().toLowerCase();
        var isSearch = searchPart !== "";
        var searchText = "Zoeken op " + $(selectedAidProductItem).closest('label').text();

        $("#searchLabel").text(searchText);

        var takeAll = aidProductGroupID === "";
        var fullName = "";

        $(".aidproductrow").each(function () {

            var show = false;
            
            if (takeAll || $(this).data("aidproductgroupid") == aidProductGroupID) {
                if (isSearch) {
                    fullName = $(this).find(".aidproduct-fullname").html().toLowerCase();
                    if (fullName.indexOf(searchPart) !== -1) {
                        show = true;
                    }
                } else {
                    show = true;
                }
            }

            if (show) {
                $(this).removeClass("hidden");
            } else {
                $(this).addClass("hidden");
            }
        });

    }

</script>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", id = "AddItemForm"}))
{
    @Html.HiddenFor(m => m.SupplierID)
    <div class="form-group">
        <label id="productGroupTitle" class="control-label col-xs-2">Product groep</label>
        <div class="col-xs-12">
            @if (Model.AidProductGroups.Count > 1)
            {
                <label class="AidProductGroup btn btn-primary"><input type="radio" name="AidProductGroupID" value="" onclick="SearchItems(this);" checked />  ALLE items</label>
            }
            @{
                int i = 0;
            }
            @foreach (var item in Model.AidProductGroups)
            {
                <label class="AidProductGroup btn @(item.IsGroupType ? "btn-primary" : "btn-azure")"><input type="radio" name="AidProductGroupID" value="@item.AidProductGroupID" onclick="SearchItems(this);" @(Model.AidProductGroups.Count == 1 && i == 0 ? "checked" : "")/> @item.Name</label>
                i++;
            }
        </div>
        </div>
    <div class="form-group">
        <label class="control-label col-xs-4" id="searchLabel">Zoeken op ALLE items</label>
        <div class="col-xs-8">
            <div class="input-group">
                @Html.TextBoxFor(m => m.SearchString, new { @class = "form-control", onkeyup = "SearchItems(this);" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="SearchItems(this);" >Zoeken</button>
                </span>
            </div>
        </div>
    </div>
}

<div id="AddItemList" class="panel panel-default">
    <div class="panel-body pre-scrollable" id="results">
        @{Html.RenderPartial("SearchResult", Model.AidProducts);}
    </div>
</div>

<button type="button" data-dismiss="modal" class="btn btn-default">Annuleren</button>
