﻿@model List<AidProductQuestionViewModel>
@using Point.MVC.WebApplication.Extensions
@{
    bool isReadOnly = Html.ViewData.IsReadMode();
    string disabledString = isReadOnly ? "disabled" : "";
}

<style type="text/css">
    .invisible {
        display: none;
    }
    #AidQuestionsForm
    {
        max-height: 600px;
    }

    #AidQuestionsForm .form-group {
        margin-bottom: 15px !important;
    }

</style>

<script type="text/javascript">

    var saveAnswerUrl = '@(Url.Action("SaveAnswer", "AidProduct"))';

    function ToggleQuestion(sender, targetid, show)
    {
        if (@isReadOnly.ToString().ToLower()) { return; }
        if (targetid == "") { return; }

        var target = $('#formgroup_' + targetid);
        if(target.length > 0)
        {
            if (show === false) {
                $(target).find("input:text").val('');
                $(target).find("input:radio,input:checkbox").removeProp("checked");

                $.each($(target).find("input:text,input:radio,input:checkbox"), function () {
                    SaveAnswer(this);
                });
            }

            $(target).toggle(show);
        }
    }

    function SaveAnswer(sender) {
        var senderObj = $(sender);
        if (@isReadOnly.ToString().ToLower()) { return; }
        
        senderObj.data("uniqueFormKey", _Hulpmiddelen.UniqueFormKey);
        senderObj.data("formsetversionid", _Hulpmiddelen.FormSetVersionID);
        senderObj.data("delete", false);

        var value = senderObj.val();

        if (senderObj.is(':checkbox'))
        {
            senderObj.data("delete", senderObj.is(":checked") == false);
        } else if (value === "")
        {
            senderObj.data("delete", true);
        }

        senderObj.data("value", value);

        _Hulpmiddelen.AjaxPost(saveAnswerUrl, senderObj.data());
    }
</script>

<form class="form-horizontal pre-scrollable" id="AidQuestionsForm">
    @if(Model.Count == 0)
    {
        <h3>Geen vragen bekend</h3>
    }
    @foreach (var group in Model.GroupBy(it => it.ProductGroupName))
    {
        if (group.Count() == 0) { continue; }

        <div class="panel panel-default">
            <div class="panel-heading">
                <b>@group.Key</b>
            </div>
            <div class="panel-body">
                @foreach (var item in group)
                {
                    string answerclass = "text";
                    string answertype = "text";

                    if (item.AidProductQuestionType == AidProductQuestionType.check)
                    {
                        answerclass = "checkbox";
                        answertype = "checkbox";
                    }
                    if (item.AidProductQuestionType == AidProductQuestionType.radio)
                    {
                        answerclass = "radiobox";
                        answertype = "radio";
                    }

                    <div class="form-group" @(item.Required ? "required" : "") style="@(item.Invisible ? "display:none" : "")" id="formgroup_@item.QuestionID">
                        <label class="control-label col-xs-5">@item.Question</label>
                        <div class="col-xs-7">
                            @foreach (var answer in item.PossibleAnswers)
                            {
                                <div class="@answerclass">
                                    <label>
                                        <input type="@answertype"
                                               data-extraitems="@answer.ExtraItems"
                                               data-productgroupcode="@item.ProductGroupCode"
                                               data-extraitemsgroupcode="@answer.ExtraItemsGroupCode"
                                               data-questionid="@answer.QuestionID"
                                               data-answerid="@answer.AnswerID"
                                               name="@answer.QuestionID"
                                               value="@answer.AnswerID"
                                               @disabledString
                                               @(answer.Checked ? "checked" : "")
                                               onclick="ToggleQuestion(this, '@answer.NextQuestionID', @answer.ExtraItems.ToString().ToLower());SaveAnswer(this);" />
                                        @answer.Answer
                                    </label>
                                </div>
                            }
                            @if (item.PossibleAnswers.Count == 0)
                            {
                                <div class="@answerclass">
                                    <input type="text" name="@item.QuestionID" data-questionid="@item.QuestionID" data-productgroupcode="@item.ProductGroupCode" class="form-control" @disabledString onchange="SaveAnswer(this);" value="@item.CurrentValue" />
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</form>
<div class="row">
    <div class="col-xs-11">
        <span class="glyphicon glyphicon-info-sign"></span>
        Uw antwoorden worden automatisch opgeslagen.
    </div>
    <div class="col-xs-1 pull-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
    </div>
</div>