﻿@model List<AidProductViewModel>
@using Point.Database.Extensions

<style>

    .smallimage {
        max-width: 64px;
    }

    .aidproductrow .description {
        margin-bottom: 10px;
        max-height: 64px;
        overflow-y: hidden;
    }

    .aidproductrow:hover {
        background-color: #F0F0F0;
    }

</style>


<script type="text/javascript">

    _Hulpmiddelen.AidProductOrderItemPopover("#AddItemList .row.aidproductrow");

    var url = "@Url.Action("NewOrderedItem")";

    function OrderItem(sender)
    {
        var senderObj = $(sender);

        senderObj.data("transferid", _Hulpmiddelen.TransferID);
        senderObj.data("uniqueFormKey", _Hulpmiddelen.UniqueFormKey);
        senderObj.data("supplierinsurercode", _Hulpmiddelen.GetSupplierCode());
        senderObj.data("supplierID", _Hulpmiddelen.SupplierID);
        senderObj.data("formSetVersionID", _Hulpmiddelen.FormSetVerionID);

        $.get(url, senderObj.data(), function (data) {
            var existingitem = $(_Hulpmiddelen.OrderItemsContainerRef + " .productid_" + senderObj.data("aidproductid") + ":visible");
            if (existingitem.length > 0)
            {
                var existing_quantity = $(existingitem).find(".quantity");
                existing_quantity.val(parseInt(existing_quantity.val()) + 1);
            } else {
                $(_Hulpmiddelen.OrderItemsContainerRef).append(data);
            }
        }).done(function () {
            _Hulpmiddelen.RefreshSelectedOrderItems();
            _Hulpmiddelen.AidProductOrderItemPopover(_Hulpmiddelen.OrderItemsContainerRef + ">.orderitem:last-child");		// TODO: newItem = string reference of newly added item
        });
    }
</script>


@foreach (var aidProduct in Model)
{
    var imageUrl = Url.Action("Picture", new {aidProduct.AidProductID});

    <div class="row aidproductrow" style="cursor:pointer;" data-aidproductid="@aidProduct.AidProductID" data-aidproductgroupid="@aidProduct.AidProductGroupID" onclick="OrderItem(this);" data-dismiss="modal" >
        <div class="col-xs-1"><a href="#" rel="popover" data-img="@imageUrl"><img class="smallimage" src="@imageUrl" /></a></div>
        <div class="col-xs-3 aidproduct-fullname">@aidProduct.FullName</div>
        <div class="col-xs-8 preformat description" title="@aidProduct.Description" style="height:50px;">@aidProduct.Description.TruncateWithEllipsis(160)</div>
    </div>
}
