﻿
@model Point.MVC.Shared.ViewModels.Capacity.CapacityManagementViewModel


    <nav id="navbar" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header col-lg-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#capManNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://www.verzorgdeoverdracht.nl/over-point" target="_blank" class="navbar-left " style="">
                    <div id="pointlogoContainer" class="col-xs-2">
                        <img id="capacitylogoStatic" src="~/Images/Point-HighRes-Trans-P-white.png" class="pointlogo" />
                        <img id="capacitylogoSpinner" src="~/Images/Point-HighRes-Trans-P-white-animated.gif" class="pointlogo" style="display: none;" />
                    </div>
                </a>
                <a href="/" class="navbar-brand navbar-brand-large hidden-sm">VVT Capaciteit</a>
            </div>
            <div class="collapse navbar-collapse" id="capManNavbar">
                <ul class="nav navbar-nav capacity-tabs">
                    <li class="menuItem" data-url='@Url.Action("CapacityTiles")'>
                        <a href='' class="navbar-brand @Model.MenuActiveClass(Point.MVC.Shared.ViewModels.Capacity.CapacityViewType.Tiles)">
                            <span class="glyphicon glyphicon-large glyphicon-th hidden-xs" style="vertical-align: middle;"></span> Beschikbaarheid
                        </a>
                    </li>
                    <li class="menuItem" data-url='@Url.Action("CapacityList")'>
                        <a href='' class="navbar-brand @Model.MenuActiveClass(Point.MVC.Shared.ViewModels.Capacity.CapacityViewType.List)" style="vertical-align: middle;">
                            <span class="glyphicon glyphicon-large glyphicon-list-alt hidden-xs" style="vertical-align: middle;"></span> Zorgtype zoeken
                        </a>
                    </li>
                    <li class="menuItem" data-url='@Url.Action("CapacityMap")'>
                        <a href='' class="navbar-brand @Model.MenuActiveClass(Point.MVC.Shared.ViewModels.Capacity.CapacityViewType.Map)">
                            <span class="glyphicon glyphicon-large glyphicon-map-marker hidden-xs" style="vertical-align: middle;"></span> Kaart
                        </a>
                    </li>
                    <li>
                        <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="navbar-brand hidden-sm hidden-md hidden-lg">
                            <span class="glyphicon glyphicon-large glyphicon-map-marker hidden-xs" style="vertical-align: middle;"></span> Contact
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="navbar-brand">
                            <span class="glyphicon glyphicon-large glyphicon-envelope hidden-xs" style="vertical-align:middle;"></span> Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
