﻿@model Point.Database.Models.HtmlText 
@using Point.Database.Models.ViewModels
@using Point.MVC.WebApplication.Extensions
@using Point.Infrastructure.Attributes

@{ 
    List<Option> Regions = (List<Option>)ViewBag.Regions;
}


@Styles.Render("~/Content/Summernote/summernote.css")
@Scripts.Render("~/Scripts/summernote.js", "~/Scripts/summernote-nl-NL.js")
<script type="text/javascript">
    $(document).ready(function () {
        $('.summernote').summernote({
            height: $(window).height() - $('.summernote').offset().top - 100,
            lang: 'nl-NL',
            tabSize: 2,
            disableDragAndDrop: true,
            styleTags: ['p', 'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
            toolbar: [
               ['style', ['bold', 'italic', 'underline', 'clear', 'style']],
               ['fontsize', ['fontsize', 'color', 'format']],

               ['para', ['ul', 'ol', 'paragraph', 'table']],
               ['misc', ['undo', 'redo', 'fullscreen']]

            ]
        });



        $('#formSelectRegion').on("submit", function () {
            $(this).append('<input type="hidden" name="Digest" value="' + $("#RegionID").find(":selected").data("digest") + '" /> ');
            return true;
        });

    });
    



    function SaveForm()
    {
        $("loader").show();
        $("#HtmlText1").val($("<div/>").text($("#HtmlText1").val()).html());
        $("#edithtmltext").submit();
    }


</script>

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" id="formSelectRegion" action="@Url.Action("Edit")" method="post">  
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Selecteer de regio voor welke u de servicepagina wilt beheren
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-xs-3">Regio</label>
                        <div class="col-xs-7">
                            @Html.DropDownListFor(m => m.RegionID, Regions.ToSelectListItems(Model.RegionID.ToString()), htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-block btn-primary">Vernieuwen</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="form-horizontal" id="edithtmltext" action="@Url.Action("Save")" method="post">
            @Html.AntiFiddleTokenFor(model => model.RegionID)
            @Html.HiddenFor(model => model.RegionID)

            <textarea id="@Html.IdFor(model => model.HtmlText1)" name="@Html.NameFor(model => model.HtmlText1)" class="summernote panel-primary">@HttpUtility.HtmlDecode(Model.HtmlText1)</textarea>

            <div class="form-buttons clearfix">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-primary pull-right" onclick="SaveForm()">Opslaan</button>
            </div>

        </form>
</div>
</div>






