﻿@model Point.Database.Models.HtmlText

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                @Html.Raw(Model.HtmlText1)
            </div>
        </div>
    </div>
</div>

