﻿<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h2>Privacyverklaring</h2>
                <br />
                POINT medewerkers hebben toegang tot privacy gevoelige gegevens en zijn daarmee aan te duiden als verwerker in de zin van de AVG verwerkersovereenkomst. Grond voor deze toegang is de uitvoering van een overeenkomst, namelijk het POINT contract met daarin het recht op support.
                POINT gegevens worden door zorgprofessionals onderling in NL met elkaar gedeeld op push basis en heeft steeds een 1:1 relatie (steeds 1 ziekenhuis, 1 VVT heeft toegang). Overeenkomstig de wettelijke bewaartermijn voor ziekenhuizen worden gegevens 15 jaar bewaard, gebruikers kunnen echter zelf besluiten gegevens eerder te verwijderen.
                <br />
                <br />
                POINT medewerkers geven in principe geen inzage in, corrigeren niet of verwijderen geen gegevens. Dat wordt gedaan door de gebruikers, zorgprofessionals in zorginstellingen. Eventuele klachten zullen ook via de zorginstellingen verlopen die gebruik maken van het systeem.
                POINT biedt met een aantal standaard rapporten inzicht in procesdata, maar maakt geen gebruik van profileringen of automatische besluitvorming. Er wordt door POINT geen direct gebruik gemaakt van informatie uit externe systemen.
                Voor meer informatie tav de POINT privacy aspecten, zal deze allereerst binnen de eigen zorginstelling moeten worden besproken. Indien er vragen zijn tav het POINT systeem of de POINT medewerkers, stuur dan een email aan <a href="mailto:info@linkassist.nl?subject=Privacyverklaring">info@linkassist.nl</a> of bel 023 5574400.
            </div>
        </div>
    </div>
</div>