﻿@using Point.Database.Models.ViewModels;
@{
    List<AdminInfoViewModel> DepAdmins = ViewBag.DepartmentAdmins;
    List<AdminInfoViewModel> LocAdmins = ViewBag.LocationAdmins;
    List<AdminInfoViewModel> OrgAdmins = ViewBag.OrganizationAdmins;
    List<AdminInfoViewModel> RegAdmins = ViewBag.RegionalAdmins;
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h2>Support</h2>
                <br />
                <br />
                Beantwoord de instructie uw vragen niet, zoek dan hulp in deze volgorde:<br />
                1.	Neem contact op met de beheerder van POINT op uw afdeling, (Als er een beheerder is; zo niet zie 2.)<br />
                <table id="infoTableDep" class="table table-striped" style="border-bottom:1px solid lightgrey;">
                    @if (DepAdmins.Count() > 0)
                    {

                        <thead>
                            <tr class="table-head">
                                <th>Naam beheerder afdeling</th>
                                <th>Email </th>
                                <th>Telefoonnummer</th>
                            </tr>
                        </thead>
                            <tbody>
                                @foreach (var adm in DepAdmins)
                                {
                                    <tr>
                                        <td>@adm.FullName</td>
                                        <td>@adm.Email </td>
                                        <td>@adm.PhoneNumber</td>
                                    </tr>
                                }
                            </tbody>
                    }
                </table>
                2.	Neem contact op met de beheerder van POINT op het Transferpunt, (Alleen voor Ziekenhuizen/Revalidatie Centrum)
                <br />
                <table id="infoTableLoc" class="table table-striped" style="border-bottom:1px solid lightgrey;">
                    @if (LocAdmins.Count() > 0)
                    {

                        <thead>
                            <tr class="table-head">
                                <th>Naam beheerder locatie</th>
                                <th>Email </th>
                                <th>Telefoonnummer</th>
                            </tr>
                        </thead>
                                    <tbody>
                                        @foreach (var adm in LocAdmins)
                                        {
                                            <tr>
                                                <td>@adm.FullName</td>
                                                <td>@adm.Email </td>
                                                <td>@adm.PhoneNumber</td>
                                            </tr>
                                        }
                                    </tbody>
                    }
                </table>
                3.	Neem contact op met de beheerder van POINT in uw organisatie,
                <br />
                <table id="infoTableOrg" class="table table-striped" style="border-bottom:1px solid lightgrey;">
                    @if (OrgAdmins.Count() > 0)
                    {
                        <thead>

                            <tr class="table-head">
                                <th>Naam beheerder organisatie</th>
                                <th>Email </th>
                                <th>Telefoonnummer</th>
                            </tr>
                        </thead>
                                                <tbody>
                                                    @foreach (var adm in OrgAdmins)
                                                    {
                                                        <tr>
                                                            <td>@adm.FullName</td>
                                                            <td>@adm.Email </td>
                                                            <td>@adm.PhoneNumber</td>
                                                        </tr>
                                                    }
                                                </tbody>
                    }
                </table>

                4.	Neem contact op met de beheerder van POINT in uw regio.
                <br />
                <table id="infoTableReg" class="table table-striped" style="border-bottom:1px solid lightgrey;">
                    @if (RegAdmins.Count() > 0)
                    {

                        <thead>
                            <tr>
                                <th>Naam beheerder regio</th>
                                <th>Email </th>
                                <th>Telefoonnummer</th>
                            </tr>
                        </thead>
                                <tbody>
                                    @foreach (var adm in RegAdmins)
                                    {
                                        <tr>
                                            <td>@adm.FullName</td>
                                            <td>@adm.Email </td>
                                            <td>@adm.PhoneNumber</td>
                                        </tr>
                                    }
                                </tbody>
                    }
                </table>

                <br />
                Op de
                <a href="@Url.Action("Index", "ServicePage", new { Area = "Management" })"><b>servicepagina</b></a> staat mogelijk ook nuttige informatie voor uw regio.
                <br />
                <br />

                POINT is gerealiseerd door
                <a href="https://www.verzorgdeoverdracht.nl" target="_blank"><b>LinkAssist B.V. te Hoofddorp</b></a>

            </div>
        </div>
    </div>
</div>

