﻿
@model Point.MVC.Shared.ViewModels.Capacity.CapacityTileRegionResultsViewModel


@{
    var colorNotActiveInRegion = "#d3d3d3";
}

<div id="CapacityTileViewResults" class="form-group capacity-results-container">

    @if (!Model.HasResults)
    {
        <div id="resultsNoneText">@(Model.IsSpecificSearch ? "De zoekopdracht heeft geen resultaten opgeleverd" : "Voer een zoekopdracht in") </div>
    }


    @if (Model.AfterCareRegions.Any())
    {
        foreach (var tileRegion in Model.AfterCareRegions)
        {
            var regionIDs = GetRegionIDs(tileRegion.RegionID);

            <div class="aftercarecapacitycontainer tiles container">
                <div class="tile-region">@tileRegion.Name</div>

                @foreach (var acGroup in tileRegion.AfterCareTileGroups)
                {
                    var tileGroupID = $"{tileRegion.RegionID}_{acGroup.AfterCareTileGroupID}";

                    <div class='row @(acGroup.IsHospital ? "is-hospital" : "")'>
                        <div class="top-xs-12 col-sm-3 col-md-2 no-padding-right hidden-md hidden-sm hidden-lg">
                            <div class="aftercarebox aftercarebox-header tile no-padding-right" style="background-color: @acGroup.ColorCode;">
                                <span class="aftercaretype-tile-group">@acGroup.Name</span>
                                <span class="show-info" data-aftercaretilegroupid="@(acGroup.AfterCareTileGroupID)"><span class="glyphicon glyphicon-info-sign"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 no-padding-right hidden-xs">
                            <div class="aftercarebox aftercarebox-header tile no-padding-right" style="background-color: @acGroup.ColorCode;">
                                <span class="aftercaretype-tile-group">@acGroup.Name</span>
                                <span class="show-info" data-aftercaretilegroupid="@(acGroup.AfterCareTileGroupID)"><span class="glyphicon glyphicon-info-sign"></span></span>
                            </div>
                        </div>


                        @foreach (var group in acGroup.AfterCareGroups.OrderBy(x => x.Sortorder))
                        {
                            var groupID = $"{tileRegion.RegionID}_{group.AfterCareGroupID}";
                            var groupColorCode = tileRegion.IsEmpty || !group.IsActiveInSelectedRegions ? colorNotActiveInRegion : acGroup.ColorCode;

                            <div class="col-xs-4 col-sm-3 col-md-2 no-padding-right">
                                <div class="aftercarebox aftercarebox-group tile no-padding-right" style="background-color: @(groupColorCode);" data-aftercaretilegroupid="@tileGroupID" data-aftercaregroupid='@groupID'>
                                    @{
                                        if (tileRegion.IsEmpty)
                                        {
                                            <span class="capacity-active-status">@group.Name</span>
                                        }
                                        else
                                        {
                                            if (group.IsActiveInSelectedRegions)
                                            {
                                                <a href="@Url.Action("List", new {group.AfterCareGroupID, acGroup.AfterCareTileGroupID, Model.WithCapacityOnly})@regionIDs"><span class="capacity-active-status">@group.Name</span><span class='departmentcapacity  @(group.HasCapacity ? "has-capacity" : "") capacity-count capacity-active-status'>@GetCapacityCount(group.IsActiveInSelectedRegions, group.TotalCapacity)</span></a>
                                            }
                                            else
                                            {
                                                <span class="capacity-active-status">@group.Name</span><span class='departmentcapacity  @(group.HasCapacity ? "has-capacity" : "") capacity-count capacity-active-status'>@GetCapacityCount(group.IsActiveInSelectedRegions, group.TotalCapacity)</span>
                                            }
                                        }
                                    }

                                    @if (group.AfterCareTypes.Any())
                                    {
                                        <span class="capacity-unfold unfold" onclick="_CapManJs.TileView.UnfoldChildren(this)" data-aftercaretilegroupid="@tileGroupID" data-aftercaregroupid='@groupID'>

                                            <span class="glyphicon glyphicon-chevron-down"></span>

                                        </span>

                                    }

                                </div>
                            </div>

                        }
                    </div>

                            foreach (var group in acGroup.AfterCareGroups)
                            {
                                            
                        <div class="row aftercaresubitems aftercaresubitems-hidden" data-aftercaregroupid='@($"{tileRegion.RegionID}_{group.AfterCareGroupID}")'>
                            <div class="col-xs-4 col-sm-3 col-md-2 no-padding-right"></div>
                            @foreach (var type in group.AfterCareTypes.OrderBy(x => x.Sortorder))
                            {
                                var groupColorCode = tileRegion.IsEmpty || !type.IsActiveInSelectedRegions ? colorNotActiveInRegion : acGroup.ColorCode;

                                <div class="col-xs-4 col-sm-3 col-md-2 no-padding-right">
                                    <div class="aftercarebox aftercarebox-type @type.RegionID.ToString()" style="background-color: @(groupColorCode);">
                                        <a href="@Url.Action("List", new {type.AfterCareTypeID, type.OrganizationTypeID, Model.WithCapacityOnly})@regionIDs">@type.Name<span class='departmentcapacity @(type.HasCapacity ? "has-capacity" : "") capacity-count'>@GetCapacityCount(type.IsActiveInSelectedRegions, type.Capacity ?? 0)</span></a>
                                    </div>
                                </div>
                            }

                        </div>

                    }

                }
            </div>
        }
    }


</div>

@functions{

    public IHtmlString GetRegionIDs(int itemRegionID)
    {
        if (Model.RegionIDsToQuery != null)
        {
            return Html.Raw("&" + Model.RegionIDsToQuery);
        }

        var itemRegionIDs = HttpUtility.ParseQueryString("");
        itemRegionIDs.Add("regionIDs", itemRegionID.ToString());
        return Html.Raw("&" + itemRegionIDs);
    }

    public string GetCapacityCount(bool isActiveInSelectedRegions, int count)
    {
        if (!isActiveInSelectedRegions) return string.Empty;
        return count.ToString();
    }
}