﻿@model Point.MVC.Auth.Models.ViewModels.AccountCreateViewModel
@using Point.Infrastructure.Attributes

@{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("form :input:not(.btn):not(:hidden)").each(function () { $(this).prop({ "readonly": "readonly" }); });
            $("form select").each(function () { $(this).prop({ "disabled": "disabled" }); });
            $("input:not(.btn)").each(function () { $(this).attr("tabindex", -1); });

            $.validator.setDefaults({ ignore: ".ignore *" });

            $.validator.messages.required = "Dit veld is verplicht.";

            $("form").validate();

            $(":input .required").each(function () {
                $(this).rules("add", { required: true });
            });
        });
    </script>
}

<div class="container">
    <div class="col-md-6">
        <form role="form" id="createform" action="@Url.Action("Create")" method="post">
            @Html.AntiForgeryToken()
            @Html.AntiFiddleTokenFor(m => m.OrganizationID)
            @Html.HiddenFor(m => m.OrganizationID)
            @Html.HiddenFor(m => m.AutoCreateCode)
            @Html.HiddenFor(m => m.ExternID)
            @Html.HiddenFor(m => m.PatExternalReference)
            @Html.HiddenFor(m => m.Gender)
            @Html.HiddenFor(m => m.ReturnUrl)
            @Html.HiddenFor(m => m.UnsolicitedResponse)
            <div class="panel panel-azure">
                <div class="panel-heading"><h3 class="panel-title"><strong>Uw gegevens</strong></h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MiddleName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label required" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control required", })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.GenderList, "Value", "Text", "o"), new { @class = "form-control required", })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Function, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Function, new { @class = "form-control", })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BIG, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.BIG, new { @class = "form-control", })
                    </div>
                    <div>
                        <text>
                            U probeert voor de eerste keer toegang te krijgen tot POINT. Hiervoor worden binnen POINT voorbereidingen getroffen. Klik op Doorgaan om de voorbereidingen te starten.
                        </text>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="form-group">
                        <button type="submit" class="btn btn-azure pull-right">Doorgaan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>