﻿<h1>Er is een fout opgetreden</h1>
<span class="error">Er is een fout opgetreden bij de voorbereidingen om toegang te krijgen tot POINT.<br />
Neem contact op met uw POINT beheerder.<br />
Geef daarbij uw gebruikersnaam en uw achternaam door.</span>