﻿@model Point.MVC.Auth.Models.ViewModels.AccountCreateSuccessViewModel
@using Point.Infrastructure.Attributes

<div class="container">
    <div class="col-md-6">
        <form role="form" id="successform" action="@Url.Action("Success", new { Model.OrganizationID, Model.PatExternalReference, Model.ReturnUrl, Model.UnsolicitedResponse })" method="post">
            @Html.AntiForgeryToken()
            @Html.AntiFiddleTokenFor(m => m.OrganizationID)
            <div class="panel panel-azure">
                @*<div class="panel-heading"><h3 class="panel-title"><strong>Controleer uw gegevens</strong></h3></div>*@
                <div class="panel-body">
                    @if (!Model.UnsolicitedResponse)
                    {
                        <text>
                            De voorbereidingen om toegang te krijgen tot POINT zijn succesvol afgerond. Klik op Doorgaan om in POINT te komen (mogelijk dient u nog een keer uw gebruikersnaam/wachtwoord in te voeren).
                        </text>
                    }
                    else
                    {
                        <text>
                            De voorbereidingen om toegang te krijgen tot POINT zijn succesvol afgerond. Sluit dit venster en log opnieuw in via uw login-provider
                        </text>
                    }
                </div>
                @if (!Model.UnsolicitedResponse)
                {
                    <div class="panel-footer clearfix">
                        <button type="submit" class="btn btn-default pull-right">Doorgaan</button>
                    </div>
                }
            </div>
        </form>
    </div>
</div>
