﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<ShiftDetail>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
   
}


<style>
    .nurseDropdown {
        width:330px;
        font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
        margin:1px 0px;
    }
    .pagerDropdown {
        width:100px;
        font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
        margin:1px 0px;
    }
</style>
<script>
    var shiftID = @ViewBag.ShiftID
</script>

@{
    ViewBag.Workloads = Enum.GetValues(typeof(WorkloadType)).OfType<WorkloadType>().ToList().Select(e => e.GetDescription()).ToArray();
}

@Scripts.Render("~/Scripts/ShiftDetail/Edit.js")

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div class="dialogDetailsEdit">

@using (Html.BeginForm("Edit", "ShiftDetail", FormMethod.Post, new { id = "ShiftDetailForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("BedIDs", String.Join(",", (int[])ViewBag.BedIDs))
    @Html.Hidden("ShiftID", (int)ViewBag.ShiftID)
    @Html.Hidden("DepartmentID", (int)ViewBag.DepartmentID)

    <span class="dialogSubheader2">Verpleegkundige 1:</span>
    <br />
    @Html.DropDownList("Nurse1ID", (SelectList)ViewBag.Nurse1List, new { @class = "nurseDropdown", data_sequence = 1, data_url = Url.Action("GetNurseInfo","ShiftDetail") })
    <br />
    @Html.DropDownList("Flex1ID", (SelectList)ViewBag.Flex1List, new { @class = "nurseDropdown", data_sequence = 1, data_url = Url.Action("GetNurseInfo","ShiftDetail") })  <img id="addFlex1" src="~/Content/images/iconAdd.png" style="vertical-align:bottom;" data-dropdownid="Flex1ID" data-url="@Url.Action("EditSimple", "Nurse", new { id = -1, departmentid = ViewBag.DepartmentID, nurserole = NurseRole.Flex })" />
    <br />
    <span>Pauze:</span>
    for (int i = 1; i <= 2; i++)
    {
        <label>@Html.RadioButton("Pause1", i, i == (int?)ViewBag.Pause1) @i</label>
    }
    <span style="margin-left:78px;">Tel.: </span>@Html.DropDownList("Pager1ID", (SelectList)ViewBag.Pager1List, new { @class = "pagerDropdown" })    <br />
    <br />
    <span>Visite:</span>
    for (int i = 1; i <= 8; i++)
    {
        <label>@Html.RadioButton("Visit1", i, i == (int?)ViewBag.Visit1) @i</label>
    }
    <img id="clearVisit1" src="~/Content/images/iconDeleteSmall.png" style="vertical-align:bottom;" /><br /><br />
    <span>Werkdruk:</span>
    for (int i = 1; i <= 3; i++)
    {
        <label>@Html.RadioButton("Workload1", i, i == (int?)ViewBag.Workload1) @ViewBag.Workloads[i]</label>
    }  
    
    <br />
    <br />
    
    <div class="dividerHR"></div>
    <span class="dialogSubheader2">Verpleegkundige 2:</span>
    <br />
    @Html.DropDownList("Nurse2ID", (SelectList)ViewBag.Nurse2List, new { @class = "nurseDropdown", data_sequence = 2, data_url = Url.Action("GetNurseInfo", "ShiftDetail") })
    <br />
    @Html.DropDownList("Flex2ID", (SelectList)ViewBag.Flex2List, new { @class = "nurseDropdown", data_sequence = 2, data_url = Url.Action("GetNurseInfo", "ShiftDetail") })   <img id="addFlex2" src="~/Content/images/iconAdd.png" style="vertical-align:bottom;" data-dropdownid="Flex2ID" data-url="@Url.Action("EditSimple", "Nurse", new { id = -1, departmentid = ViewBag.DepartmentID, nurserole = NurseRole.Flex })" />
    <br />
    <span>Pauze:</span>
    for (int i = 1; i <= 2; i++)
    {
        <label>@Html.RadioButton("Pause2", i, i == (int?)ViewBag.Pause2) @i</label>
    }
    <span style="margin-left:78px;">Tel.: </span>@Html.DropDownList("Pager2ID", (SelectList)ViewBag.Pager2List, new { @class = "pagerDropdown" })<br />
    <br />
    <span>Visite:</span>
    for (int i = 1; i <= 8; i++)
    {
        <label>@Html.RadioButton("Visit2", i, i == (int?)ViewBag.Visit2) @i</label>
    }
    <img id="clearVisit2" src="~/Content/images/iconDeleteSmall.png" style="vertical-align:bottom;" /><br /><br />
    <span>Werkdruk:</span>
    for (int i = 1; i <= 3; i++)
    {
        <label>@Html.RadioButton("Workload2", i, i == (int?)ViewBag.Workload2) @ViewBag.Workloads[i]</label>
    } 
    <br />
    <br />
    <div class="dividerHR"></div>
    <span class="dialogSubheader2">Stagiaire(s):</span>
    <br />
    @Html.DropDownList("Intern1ID", (SelectList)ViewBag.Intern1List, new { @class = "nurseDropdown" }) <img id="addIntern1" src="~/Content/images/iconAdd.png" style="vertical-align:bottom;" data-dropdownid="Intern1ID" data-url="@Url.Action("EditSimple", "Nurse", new { id = -1, departmentid = ViewBag.DepartmentID, nurserole = NurseRole.Intern })" />
    <br />
    @Html.DropDownList("Intern2ID", (SelectList)ViewBag.Intern2List, new { @class = "nurseDropdown" }) <img id="addIntern2" src="~/Content/images/iconAdd.png" style="vertical-align:bottom;" data-dropdownid="Intern2ID" data-url="@Url.Action("EditSimple", "Nurse", new { id = -1, departmentid = ViewBag.DepartmentID, nurserole = NurseRole.Intern })" />
    <br />

       
    
 

}


</div>



