﻿@model ClientHeaderViewModel

<style type="text/css">
    #clientinfo {
        float: left;
    }

    #clientinfo a {
        color: white;
    }

    #clientinfo li, #loginBox li {
        font-size: 120%;
    }

    #clientname {
        font-weight: bold;
        margin-left: 7px;
    }

    #clientbirthdate {
        margin-left: 7px;
    }

    #loginBox {
        float: right;
        max-width: 50%;
    }

    #clientinfo {
        max-width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
</style>

<div class="header">
    <div class="container-fluid">
        <div id="clientinfo" class="color-pt-white">
            @if(!Model.IsMFAScreen)
            {
                @Html.Action("MobileHeaderMenu", "Menu", new { Model.Global.TransferID })
            }
        </div>
        
        <div class="header-clientbox actions noprint" id="loginBox">
            @{
                var login = Html.ActionLink(" ", "Login", "Login", null, new { @class = "glyphicon glyphicon-log-on color-pt-white" });
                var logoff = Html.ActionLink(" ", "Logoff", "Login", null, new { @class = "glyphicon glyphicon-log-out color-pt-white" });
                var loginLogoff = Model.HasUserName ? logoff : login;
            }
            <ul class="list-inline">
                @if(!Model.IsMFAScreen)
                {
                    <li class="color-pt-white" id="signaleringstatus" data-flowinstanceid="@Model.FlowInstanceID">@Html.Partial("_CurrentSignaleringStatus", Model.SignaleringStatusViewModel)</li>
                    if (Model.Global.TransferID > 0)
                    {
                        <li class="color-pt-white"><a class="glyphicon glyphicon-print color-pt-white" href="@Url.Action("Print", "PrintAction", new { Model.Global.TransferID })"></a></li>
                    }
                }
                <li class="color-pt-white">@loginLogoff</li>
            </ul>
        </div>
    </div>
</div>