﻿@model Client
@using Point.Database.Extensions;

@{
    string lastSavedLabel = "";
    string lastSavedBy = "";

    var formsetversion = ViewBag.FormsetVersion as FormSetVersion;

    if (formsetversion != null)
    {
        lastSavedLabel = "Laatst opgeslagen:";
        lastSavedBy = (formsetversion.UpdateDate ?? formsetversion.CreateDate).ToPointDateHourDisplay() + " " + (formsetversion.UpdatedBy ?? formsetversion.CreatedBy);
    }
}

<style>
    .mainClientHeader {
        height: 27px;
        border: 1px solid #009ADB;
        background: #E5F4FB;
        padding: 10px;
        margin-bottom: 6px;
        margin-top: 0;
    }

        .mainClientHeader div {
            display: inline-block;
            *display: inline;
        }

        .mainClientHeader .labeltext {
            width: 120px;
            overflow: hidden;
            font-weight: bold;
        }

        .mainClientHeader .valuetext {
            width: 220px;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 10px;
        }
</style>

@if (Model == null)
{
    <!-- _Client_Header: Client empty -->
}
else
{

    <text>
        <div class="mainClientHeader">
            <div class="labeltext">Patient BSN:</div><div class="valuetext">@Model.CivilServiceNumber</div><div class="labeltext"></div><div class="valuetext"></div><div style="float:right;"><span class='labeltext'>@lastSavedLabel</span> @lastSavedBy</div><br />
            <div class="labeltext">Patient:</div><div class="valuetext">@Model.FullName() (@Model.FullGender())</div><div class="labeltext">Geboortedatum:</div><div class="valuetext">@Model.BirthDate.ToPointDateDisplay()</div><br />
        </div>
    </text>

}
