﻿@model ClientHeaderViewModel
@using Point.Models.LDM.EOverdracht30.Enums
<style type="text/css">
    #clientinfo {
        float: left;
        margin-left: 20px;
    }

    #clientbox {
        font-size: 150%;
    }

    #clientname {
        font-weight: bold;
        margin-left: 7px;
    }

    #clientbirthdate {
        margin-left: 7px;
    }

    #headersystemmessages {
        display: inline-block
    }

    #loginBox {
        float: right;
        max-width: 50%;
    }

    #loginBox #username {
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    #loginBox .client-header {
        cursor: pointer;
    }

    #signaleringstatus .btn-default {
        margin-top: -5px;
    }

    .gender-color-@Geslacht.OM.GetDescription().ToLower() {
        color: #00396a;
    }

    .gender-color-@Geslacht.OUN.GetDescription().ToLower() {
        color: white;
    }

    .gender-color-@Geslacht.OF.GetDescription().ToLower() {
        color: pink;
    }
</style>

@{
    var loginHistoryUrl = Html.Raw(Url.Action("LoginHistory", "Login"));
}

<script type="text/javascript">

    function showLoginHistoryModal() {
        ShowModal("@loginHistoryUrl");
    }

    var sortOrder = "asc";
    var sortColumn = "";
    var searchfieldowningtype = "Transfer";

</script>

@Styles.Render("~/Content/Search.css")
@Scripts.Render("~/Bundles/Scripts/Search")

<div class="header">
    <div id="clientinfo" class="color-pt-white">
        @if (!Model.IsInstanced)
        {
            if (Model.HasExternalPatientReferenceBSN && Model.HasExternalPatientReference)
            {
                <ul class="list-inline info"><li>Let op! U werkt nu met BSN '@Model.ExternalPatientReference' en / of ZIS ID '@Model.ExternalPatientReference'</li></ul>
            }
            else if (Model.HasExternalPatientReferenceBSN)
            {
                <ul class="list-inline info"><li>Let op! U werkt nu met BSN '@Model.ExternalPatientReferenceBSN' </li></ul>
            }
            else if (Model.HasExternalPatientReference)
            {
                <ul class="list-inline info"><li>Let op! U werkt nu met ZIS ID '@Model.ExternalPatientReference' </li></ul>
            }
        }
        else
        {
            <ul class="list-inline info">
                <li>
                    <span id="clientbox">
                        <span class="glyphicon glyphicon-user gender-color-@Model.Gender.ToLower()"></span>
                        <span id="clientname">
                            @Model.Name
                        </span>
                    </span>

                    <span id="clientbirthdate">
                        @Model.BirthDate.ToPointDateDisplay() (@Model.BirthDate.GetAge())
                    </span>
                    @if (Model.IsCopy)
                    {
                        if (Model.Global.IsPrintRequest)
                        {
                            <i class="glyphicon glyphicon-duplicate"></i>
                        }
                        else
                        {
                            <a href="@Model.OriginalTransferUrl">
                                <i class="glyphicon glyphicon-duplicate" style="color:white; cursor:pointer;"></i>
                            </a>
                        }
                    }
                    else if (Model.HasRelatedTransfer)
                    {
                        if (Model.Global.IsPrintRequest)
                        {
                            <i class="glyphicon glyphicon-import"></i>
                        }
                        else
                        {
                            <a href="@Model.RelatedTransferUrl">
                                <i class="glyphicon glyphicon-import" style="color:white; cursor:pointer;"></i>
                            </a>
                        }
                    }

                </li>
                <li>
                    <span>BSN:</span>
                    @Model.CivilServiceNumber
                </li>
            </ul>
        }
    </div>

    <div class="header-clientbox actions noprint" id="loginBox">
        @if (Model.HasUserName)
        {
            var login = Html.ActionLink("Inloggen", "LogIn", "Login", null, new { @class = "color-pt-white" });
            var logoff = Html.ActionLink("Afmelden", "Logoff", "Login", null, new { @class = "color-pt-white" });
            var loginLogoff = Model.HasUserName ? logoff : login;

            <ul class="list-inline">
                @if (!Model.IsMFAScreen)
                {
                    @Html.Action("Status", "SystemMessage")
                    <li class="color-pt-white" id="signaleringstatus" data-flowinstanceid="@Model.FlowInstanceID">@Html.Partial("_CurrentSignaleringStatus", new SignaleringStatusViewModel { FlowInstanceID = Model.FlowInstanceID, SignaleringCount = Model.OpenSignalItemsCount })</li>
                }

                @if (Model.DesktopForced)
                {
                    <li class="color-pt-white" id="forcedesktop"><a class="color-pt-white" href="@Model.MobileUrl">Mobiele weergave</a></li>
                }

                <li id="username" class="color-pt-white">
                    <a href="#" title="" onclick="showLoginHistoryModal();">
                        <span class="client-header glyphicon glyphicon-info-sign color-pt-white" data-toggle="tooltip" data-title="@Model.UserName" title="Recente login geschiedenis bekijken." data-placement="bottom" data-original-title=""></span>
                        <span class="color-pt-white" style="cursor: pointer;">@Model.UserName</span>
                    </a>
                </li>

                @if (!Model.IsMFAScreen)
                {
                    <li id="patientsprevious" class="color-pt-white">
                        <a href="#" title="" onclick="ShowPatientOverview('@Url.Action("SearchResultPatientPrevious", "Transfer")');">
                            <span class="client-header glyphicon glyphicon-eye-open color-pt-white" data-toggle="tooltip" data-title="Recent bekeken patienten" title="Recent bekeken patienten bekijken." data-placement="bottom" data-original-title=""></span>
                        </a>
                    </li>
                }

                @if (!Model.HasExternalPatientReferenceBSN && !Model.HasExternalPatientReference)
                {
                    <li class="color-pt-white">@loginLogoff</li>
                }

                @if (!Model.IsMFAScreen)
                {
                    <li class="color-pt-white dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog color-pt-white"></span> <span class="caret color-pt-white"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @foreach (var menuitem in Model.ServiceMenuItems)
                            {
                                <li style="line-height:3px"><a href="@menuitem.URL" target="@menuitem.Target">@menuitem.Title</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
</div>