﻿@model Point.Database.Models.ViewModels.ContactInformationViewModel

<div style="width:540px;">
    <div class="panel">
        <div class="panel-body ignore-printfilter">
            @if (Model != null || (Model != null && Model != default(ContactInformationViewModel)))
            {
                if (!String.IsNullOrWhiteSpace(Model.Name))
                {
                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.FullName)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.FullName)</div>
                    </div>
                }

                if (!String.IsNullOrWhiteSpace(Model.StreetName))
                {
                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.StreetName)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.StreetName)</div>
                    </div>
                }
                if (!String.IsNullOrWhiteSpace(Model.Number))
                {

                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.Number)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.Number)</div>
                    </div>
                }
                if (!String.IsNullOrWhiteSpace(Model.PostalCode))
                {
                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.PostalCode)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.PostalCode)</div>
                    </div>
                }
                if (!String.IsNullOrWhiteSpace(Model.City))
                {
                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.City)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.City)</div>
                    </div>
                }
                if (!String.IsNullOrWhiteSpace(Model.PhoneNumber))
                {
                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.PhoneNumber)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.PhoneNumber)</div>
                    </div>
                }
                if (!String.IsNullOrWhiteSpace(Model.FaxNumber))
                {
                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.FaxNumber)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.FaxNumber)</div>
                    </div>
                }
                if (!String.IsNullOrWhiteSpace(Model.EmailAddress))
                {
                    <div class="row">
                        <div class="col-xs-5">@Html.LabelFor(m => m.EmailAddress)</div>
                        <div class="col-xs-7">@Html.DisplayFor(m => m.EmailAddress)</div>
                    </div>
                }
            }
            else
            {
                <div class="row">
                    <div class="col-xs-12">Nog geen gegevens beschikbaar</div>
                </div>
            }
        </div>

    </div>
</div>