﻿@model SignaleringStatusViewModel
<a class="@(Model.SignaleringCount > 0 ? "btn btn-sm btn-red" : "btn btn-sm btn-default" )" onclick="@(Model.FlowInstanceID.HasValue ? "OpenDossierSignalList(" + Model.FlowInstanceID + ");" : "OpenAllSignalList();")"><span class="glyphicon glyphicon-exclamation-sign"></span> @Model.SignaleringCount</a>