﻿@model SignaleringStatusViewModel
<style type="text/css">
    a.red {
        cursor: pointer;
        background-color: rgba(200, 75, 75, 1) !important;
    }

    a.default {
        cursor: pointer;
        background-color: rgba(75, 75, 75, 1) !important;
    }
</style>
<a class="@(Model.SignaleringCount > 0 ? "red" : "default" )" style="cursor:pointer" onclick="@(Model.FlowInstanceID.HasValue ? "OpenDossierSignalList(" + Model.FlowInstanceID + ");" : "OpenAllSignalList();")"><span class="glyphicon glyphicon-exclamation-sign"></span> @Model.SignaleringCount</a>