﻿@using Point.MVC.WebApplication.Extensions
@model DropdownMultiSelectViewModel


<style type="text/css">

    .dropdown-multisel {
        position: absolute;
        transform: translateY(-50%);
        z-index: 1040;
        height: 28px;
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
        top: 13px;
        border-radius: 4px;
        color: #555555;
    }

    .dropdown-multisel dd,
    .dropdown-multisel dt {
        margin: 0;
        padding: 0;
        margin-top: 1px;
    }

    .dropdown-multisel ul {
        margin: -1px 0 0 0;
        cursor: pointer;
    }

    .dropdown-multisel:not(.disabled), .dropdown-multisel:not(.disabled) ul {
        background-color: #fff;
    }
        .dropdown-multisel.disabled, .dropdown-multisel.disabled ul {
            border-color: #ccc;
            background-color: #eeeeee;
        }

    .dropdown-multisel dd {
        position: relative;
    }

    .dropdown-multisel a,
    .dropdown-multisel a:visited {
        text-decoration: none;
        outline: none;
        font-size: 12px;
        height: 23px;
    }

    .dropdown-multisel dt a {
        display: block;
        padding: 5px 10px 5px 10px;
        min-height: 25px;
        overflow: hidden;
        border: 0;
        width: 272px;
    }

    .dropdown-multisel dt a span,
    .multisel-short span {
        cursor: pointer;
        display: inline-block;
        padding: 0 0 2px 0;
    }

    .dropdown-multisel dd ul {
        display: none;
        left: 0;
        padding: 2px 15px 2px 5px;
        position: absolute;
        top: 2px;
        width: 280px;
        height: 120px;
        overflow: auto;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    .dropdown-multisel span.value {
        display: none;
    }

    .dropdown-multisel dd ul li a {
        padding: 5px;
        display: block;
    }

    .dropdown-multisel .multisel-items ul li input {
        margin-right: 7px !important;
    }

    .dropdown-multisel .multisel-none {
        font-size: inherit;
        font-weight: normal;
        margin-top: -2px;
    }

    .dropdown-multisel .multisel-short > span {
        margin-left: 2px;
        color: black;
        font-weight: normal;
    }

    .dropdown-multisel .multisel-short {
        color: red;
        font-weight: bold;
    }

</style>

@{ var isReadMode = ViewData.IsReadMode();}

<dl id="DropdownMulti@(Model.FieldName)" class='dropdown-multisel @(isReadMode ? "disabled" : "" )'>
    
    @Html.Hidden(Model.FieldName, null, new { Class= Model.ClassString })

    <dt>
        <a href="#">
            <span class="multisel-none">&lt; @(Model.SelectedNoneText) &gt;</span>
            <div class="multisel-short"></div>
        </a>
    </dt>

    <dd>
        <div class="multisel-items">
            <ul>
                @{
                    foreach (var item in Model.Items)
                    {
                        <li>
                            <input type="checkbox" class="ignore" value="@(item.KeyValue)" data-displaytextshort="@(item.DisplayTextShort)" data-displaytextfull="@(item.DisplayTextFull)" @(item.IsSelected ? "checked" : "") data-validate="false"/>@(item.DisplayTextFull)
                        </li>
                    }
                }

            </ul>
        </div>
    </dd>

</dl>