﻿@model EmployeeSearch
<style>
    .searchbox {
        display: inline-block;
    }

    .inputselect {
        position: relative;
    }

    .inputselect input[readonly] {
        background-color: #f6f6f6;
        color: #bdbdbd;
    }

    .inputselect select {
        position: absolute;
        top: 20px;
        left: 0px;
        display: none;
    }
</style>
<div class="EmployeeSearch">
    <div class="searchbox">
        <div class="searchlabel">
            Medewerker
        </div>
        <div class="inputselect">
            @Html.HiddenFor(m => m.OrganizationID)
            @Html.HiddenFor(m => m.LocationID)
            @Html.HiddenFor(m => m.DepartmentID)

            @if(Model.DepartmentID > 0 )
            { 
                @Html.TextBoxFor(m => m.EmployeeName,
                new Dictionary<string, object>()
                { 
                    {"data-hiddenfield", "EmployeeID"}, 
                    {"data-controlleraction", @Url.Action("SearchEmployeeByDepartmentID", "Search")},
                    {"data-extraparameter", "DepartmentID:departmentid"}
                })
            } else if ( Model.LocationID > 0)
            {
                @Html.TextBoxFor(m => m.EmployeeName,
                new Dictionary<string, object>()
                {
                    {"data-hiddenfield", "EmployeeID"},
                    {"data-controlleraction", @Url.Action("SearchEmployeeByLocationID", "Search")},
                    {"data-extraparameter", "LocationID:locationid"}
                })
            } else if (Model.OrganizationID > 0)
            {
                @Html.TextBoxFor(m => m.EmployeeName,
                new Dictionary<string, object>()
                {
                    {"data-hiddenfield", "EmployeeID"},
                    {"data-controlleraction", @Url.Action("SearchEmployeeByOrganizationID", "Search")},
                    {"data-extraparameter", "OrganizationID:organizationid"}
                })
            }
            @Html.HiddenFor(m => m.EmployeeID)
        </div>
        <div id="output"></div>
    </div>
</div>

@Scripts.Render("~/Bundles/Scripts/EmployeeSearch")