﻿@model GenericLogViewModel

<style type="text/css">
    .historyheader {
        background-color: #00396a;
        color: white;
    }

    .historyheader, .historyvalue {
        padding: 4px 8px 4px 8px;
        min-width: 180px;
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .small {
        min-width: 60px !important;
        max-width: 60px !important;
    }
</style>

<script type="text/javascript">
    function LoadHistory() {
        var historyUrl = '@Html.Raw(Url.Action("GenericLogDetails", "History", new { Area = "", TableName = Model.TableName, primarykey = Model.PrimaryKey, Digest = AntiFiddleInjection.CreateDigest(Model.PrimaryKey) }))';
        $("#historydata").load(historyUrl, function (obj) {
            //Hier stond scrollingcode (zie history)
        });
    }

    $(function () {
        LoadHistory();
    });
</script>

<div id="historydata">
</div>
<div class="btn btn-green pull-right clearfix" onclick="LoadHistory()">Herladen</div>
