﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()

      @RenderSection("scripts", required: false);
    </body>
</html>
