﻿@model LocationSearch
@{
    bool orgreadonly = Model != null && Model.OrganisationID != 0;
    bool locreadonly = Model != null && Model.LocationID != 0;

    string orghiddenparam = (Model != null && String.IsNullOrEmpty(Model.OrganisationName)) ? "style=display:none;" : "";
    string lochiddenparam = (Model != null && String.IsNullOrEmpty(Model.LocationName)) ? "style=display:none;" : "";
}
<div class="LocationSearch">
    <div class="searchbox" @orghiddenparam>
        <div class="searchlabel">
            Organisatie
        </div>
        <div class="inputselect">
            @Html.TextBoxFor(m => m.OrganisationName,
            new Dictionary<string, object>()
            {
                {"data-hiddenfield", "OrganisationID"},
                {"data-controlleraction", @Url.Action("SearchOrganisation", "Search")},
                {(orgreadonly ? "readonly" : "ignore"), null}
            })

            @Html.HiddenFor(m => m.OrganisationID)
        </div>
    </div>
    <div class="searchbox" @lochiddenparam>
        <div class="searchlabel">
            Lokatie
        </div>
        <div class="inputselect">
            @Html.TextBoxFor(m => m.LocationName,
            new Dictionary<string, object>()
            {
                {"data-hiddenfield", "LocationID"},
                {"data-controlleraction", @Url.Action("SearchLocation", "Search")},
                {"data-extraparameter", "OrganisationID:organisationid"},
                {(locreadonly ? "readonly" : "ignore"), null}
            })

            @Html.HiddenFor(m => m.LocationID)
        </div>
    </div>

    <div class="searchbox">
        <div class="searchlabel">
            Afdeling
        </div>
        <div class="inputselect">
            @Html.TextBoxFor(m => m.DepartmentName,
            new Dictionary<string, object>()
            {
                {"data-hiddenfield", "DepartmentID"},
                {"data-controlleraction", @Url.Action("SearchDepartment", "Search")},
                {"data-extraparameter", "LocationID:locationid"}
            })
            @Html.HiddenFor(m => m.DepartmentID)
        </div>
        <div id="output"></div>
    </div>
</div>

@Scripts.Render("~/Bundles/Scripts/LocationSearch")