﻿@model PhaseButtonsViewModel
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Extensions;

@Scripts.Render("~/Bundles/Scripts/PhaseButtons")

<style>
    #phaseButtonsHolder {
        text-align: right;
        z-index: 100;
        overflow: hidden;
        padding: 15px;
    }

    #divLastSaved {
        text-align: left;
        position: absolute;
        font-size: 80%;
        top: -17px;
        left: 3px;
        width: 500px;
    }
</style>

@*_PointDefaultLayout.cshtml expects this outer div to be 'phaseButtonsHolder' to align and size the mainBody*@
<div id="phaseButtonsHolder" class="panel panel-default bg-lightgray">
    @if (!Model.HasFlowInstance)
    {
        <script>
            $(function () {
                $(".phaseButtonStart").on("click", PhaseButtonStart);
                $(".phaseButtonCreate").on("click", function () { PhaseButtonCreate(this); });
                $(".phaseButtonCancel").on("click", function () {
                    FormIsNotDirty();
                    location.replace("@Url.Action("Search","Transfer")");
                });
            });
        </script>

        <div class="phaseButtonCancel pull-left btn btn-default">Annuleren</div>
        if (Model.IsNewFlowInstance)
        {
            <button class="phaseButtonStart btn btn-primary">Naar dossier</button>
        }

        if (!Model.IsNewFlowInstance && Model.NextPhaseButtons.Any())
        {
            foreach (var item in Model.NextPhaseButtons)
            {
                <button class="phaseButtonCreate btn btn-primary" data-phasedefinitionid="@item.PhaseDefinitionID" data-nextphasedefinitionid="@item.NextPhaseDefinitionID">@item.ActionLabel</button>
            }
        }
    }
    else
    {
        if (Model.Rights >= Rights.W)
        {
            <script>
                $(function () {

                    var phaseSaveButton = $("[data-phasebutton='Save']");

                    // Hide the original buttons on the form, if it's still visible.
                    $(phaseSaveButton).hide();

                    // Hook it to the save-button in this control
                    $(".phaseButtonSave, .phaseButtonSaveDossierForm, .phaseButtonDefinitive").on("click", function () {
                        var forcereload = true;
                        PhaseButtonSave(this, '@Model.Global.FormSetVersionID', '@Model.DisableDoubleClickProtection', forcereload);
                    });

                    $(".phaseButtonCancel").on("click", PhaseButtonCancel);

                    $(".phaseButtonExtra").each(PhaseButtonExtra);

                    $(".phaseButtonDelete").on("click", function (e) {
                        e.preventDefault();
                        var requestUrl = '@Url.Action("DeleteFormSetVersion", "FormType", new {Model.Global.TransferID, Model.Global.FormSetVersionID })';
                        PhaseButtonDelete(this, requestUrl);
                    });

                    $(".phaseButtonNext").on("click", function (e) {
                        PhaseButtonNext(this, '@Model.Global.FormSetVersionID');
                    });
                });

            </script>
        }

        if (Model.Rights >= Rights.R)
        {
            if (!Model.IsFlowClosed)
            {
                foreach (var item in Model.ExtraActions)
                {
                    <button class="phaseButtonExtra btn btn-default" title="@item.Description" data-url="@Url.Action(item.MethodName.GetURLComponent(2), item.MethodName.GetURLComponent(1), new { Model.Global.TransferID, item.GeneralActionID, Model.Global.PhaseDefinitionID, Model.Global.PhaseInstanceID, Model.Global.FormSetVersionID })">
                        @if (!String.IsNullOrEmpty(item.ClassNameGlyphicon))
                        {<span class="@item.ClassNameGlyphicon"></span>}
                        @item.Name
                    </button>
                }
            }
        }

        <div class="pull-left">
            @if (Model.Rights >= Rights.W)
            {
                if (Model.ShowSavePhaseButtons || Model.ShowDefinitivePhaseButtons || Model.ShowNextPhaseButtons)
                {
                    <button class="phaseButtonCancel btn btn-default" data-url="@Url.Action("Dashboard", "FlowMain", new { Model.Global.TransferID })">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuleren
                    </button>
                }
            }

            @if (Model.ShowPrintButton)
            {
                @Html.PrintFormSetVersionButton(Model.Global.TransferID, Model.Global.FormSetVersionID, "Print")
            }

            @if (Model.ShowSavePhaseButtons)
            {
                foreach (var item in Model.SavePhasebuttons)
                {
                    <button class="phaseButtonSave btn btn-primary @(item.Validate ? "" : "cancel")" data-showvalidationerrors="@(item.Validate.BoolToJSTrueFalse())" data-handlesave="true" data-phasedefinitionid="@item.PhaseDefinitionID" data-nextphasedefinitionid="@(item.PhaseDefinitionID == item.NextPhaseDefinitionID ? "" : item.NextPhaseDefinitionID.ToString())" data-phaseinstanceid="@Model.CurrentPhaseInstanceID">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        @item.ActionLabel
                    </button>
                }
            }

        </div>
        <div class="pull-left" id="formSpecificPhaseButtonsTarget">
            &nbsp;
        </div>

        foreach (var item in Model.NextPhaseButtons)
        {
            <button @(Model.ShowNextPhaseButtons ? "" : "style=display:none") class="phaseButtonNext forcereload btn btn-primary @(item.Validate ? "" : "cancel")" data-externalform="false" data-showvalidationerrors="@(item.Validate.BoolToJSTrueFalse())" data-handlenextphase="true" data-issamephase="@(item.PhaseDefinitionID == item.NextPhaseDefinitionID ? "true" : "false")" data-phasedefinitionid="@item.PhaseDefinitionID" data-phaseinstanceid="@Model.CurrentPhaseInstanceID" data-nextphasedefinitionid="@item.NextPhaseDefinitionID">@item.ActionLabel</button>
        }

        if (Model.ShowDefinitivePhaseButtons)
        {
            foreach (var item in Model.DefinitivePhaseButtons)
            {
                <button class="phaseButtonDefinitive forcereload btn btn-primary @(item.Validate ? "" : "cancel")" data-showvalidationerrors="@(item.Validate.BoolToJSTrueFalse())" data-phasedefinitionid="@item.PhaseDefinitionID" data-phaseinstanceid="@Model.CurrentPhaseInstanceID" data-handledefinitive="true" data-digitalsignature="@Model.HasDigitalSignature">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    @item.ActionLabel
                </button>
            }
        }
    }
</div>
@if (!string.IsNullOrEmpty(Model.LastSaved) && Model.LastSavedBy != null)
{
    if (Model.HasSignedPhaseInstance)
    {
        <div class="alert alert-warning" role="alert">
            <strong>Digitaal ondertekend op: </strong>@Model.LastSaved <strong>door</strong> @Model.LastSavedBy
        </div>
    }
    else
    {
        <div style="position:relative;float:left;">
            <div id="divLastSaved"><strong>Laatst opgeslagen: </strong>@Model.LastSaved <strong>door</strong> @Model.LastSavedBy</div>
        </div>
    }
}

<div id="confirmphasenextmodal" class="modal fade" role="dialog" aria-hidden="true" title="Confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Nee</button>
                <button type="button" id="confirmphasenextmodalyes" class="btn btn-primary" onclick="phaseButtonNextConfirmed(this);">Ja</button>
            </div>
        </div>
    </div>
</div>

<div id="signphaseinstancemodal" class="modal fade" role="dialog" aria-hidden="true" title="Digitale handtekening">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @if (Model.HasDigitalSignature)
                {
                    <p>Voor uw organisatie is ingesteld dat bij het definitief maken het formulier tevens digitaal ondertekend kan worden. Wilt u dit formulier digitaal ondertekenen? Als u voor Nee kiest, kunt u het formulier later NIET meer digitaal onderteken.</p>
                }
                else
                {
                    <p>Voor uw organisatie is ingesteld dat bij het definitief maken het formulier tevens digitaal ondertekend kan worden. Echter:</p>
                }
                <div class="alert alert-warning" role="alert" style="@(Model.HasDigitalSignature ? "display:none;" : "")">
                    Het formulier kan niet digitaal worden ondertekend omdat u geen digitale handtekening in POINT heeft geupload. Klik op Ok om het formulier definitief te maken ZONDER digitaal te ondertekenen.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Annuleren</button>
                @if (Model.HasDigitalSignature)
                {
                    <button type="button" data-dismiss="modal" class="btn btn-default" onclick="digitalSignatureModalAction(false);">Nee</button>
                    <button type="button" class="btn btn-primary" onclick="digitalSignatureModalAction(true);">Ja</button>
                }
                else
                {
                    <button type="button" data-dismiss="modal" class="btn btn-default" onclick="digitalSignatureModalAction(false);">Ok</button>
                }
            </div>
        </div>
    </div>
</div>