﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @* only inline styling when mailing *@
        <style>
            body {
                font-family: Verdana;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
