﻿@using Point.Infrastructure.Helpers
@{
    var pointlogo = ConfigHelper.GetAppSettingByName<string>("PointLogo", "Point-HighRes-Trans.png");
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ielt9"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ielt9"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>


    @Html.Partial("_PointDefaultFavicon")


    @Scripts.Render("~/Bundles/Scripts/PointLogin")
    @Styles.Render("~/Bundles/Styles/PointDefault")

    <!--[if lt IE 9]>
        @Scripts.Render("~/Bundles/Scripts/BootstrapIE8")
    <![endif]-->

    <style type="text/css">
        fieldset {
            background-color: transparent;
            border: 1px #009adb solid;
        }

        .theme_pagedescription_wrapper {
            display: block;
        }

        .item {
            min-height: 140px;
        }

            .item a {
                font-weight: bold;
            }

        .HeaderInlog {
            margin-bottom: 20px;
        }

        .bgheads {
            height: 100%;
        }

        body {
            height: 100%;
            background-image: url("@Url.Content("/Images/WelkomBG.jpg")");
            background-repeat: no-repeat;
            background-position: right bottom;
            background-attachment: fixed;
        }

        html {
            height: 100%;
        }
    </style>
    @if (ConfigHelper.GetAppSettingByName("NoIndex", false))
    {
        <meta name="robots" content="noindex">
    }
</head>

<body role="document">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div style="margin:15px;">
                    <img src="~/Images/@pointlogo" style="vertical-align:middle;width:100%;max-width:160px;" title="POINT - Punt voor Overdracht, Informatie, Naslag en Transfers [@Environment.MachineName]" />
                </div>
            </div>
            <div class="col-md-10 hidden-sm hidden-xs">
                <div class="HeaderInlog">
                    <img src="~/Images/PointInlogHeader.jpg" style="width:100%" />
                </div>
            </div>
        </div>
        <div id="mainContainer">
            @RenderBody()
        </div>
        <div id="modal" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

