﻿@using DevTrends.MvcDonutCaching
@using Point.MVC.WebApplication.Extensions
@using Point.Infrastructure.Helpers
@{ 
    var pointlogo = ConfigHelper.GetAppSettingByName("PointLogo", "Point-HighRes-Trans.png");
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ielt9" style="min-width:1200px;"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ielt9" style="min-width:1200px;"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 ielt9" style="min-width:1200px;"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" style="min-width:1200px;"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html style="min-width:1200px;">
<!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    @Html.Partial("_PointDefaultFavicon")

    <script>
        var appPath = '@ViewBag.AppPath';
        var areyousure = @((string)ViewBag.AreYouSure?? "false");
        var dashboardUrl = '@Html.Raw(Url.Action("Dashboard", "FlowMain", new {ViewBag.TransferID, Timeout = true }))';
        var removePageLockFromSessionUrl = '@Html.Raw(Url.Action("RemovePageLockFromSession", "PageLock"))';
        var removePageLockByIDUrl = '@Html.Raw(Url.Action("RemovePageLockByID", "PageLock"))';
        var readonly = @(ViewData["ReadMode"]?.ToString().ToLower() ?? "false");

        var hasPageLockTimer = @(ViewData.HasPageLocking().ToString().ToLower());
        var pageLockTimeoutTimer = @(ViewData.PageLockTimer());
        var isPageLocked = @(ViewData.IsPageLock().ToString().ToLower());
    </script>

    @Scripts.Render("~/Bundles/Scripts/PointDefault")
    @Styles.Render("~/Bundles/Styles/PointDefault")
    <style type="text/css">
        .left-menu {
            width: 220px;
            float:left;
        }
        .main-content {
            margin-left: 236px;
            overflow: hidden;
        }
    </style>
    <!--[if lt IE 9]>
        @Scripts.Render("~/Bundles/Scripts/BootstrapIE8")
    <![endif]-->
    @if (ConfigHelper.GetAppSettingByName("NoIndex", false))
    {
        <meta name="robots" content="noindex">
    }
</head>

<body role="document">
    <div class="container-fluid">
        <div class="left-menu">
            <div style="margin:15px;">
                <img src="~/Images/@pointlogo" style="vertical-align:middle;width:100%;max-width:160px;" title="POINT - Punt voor Overdracht, Informatie, Naslag en Transfers [@Environment.MachineName]" />
            </div>
            @Html.Action("Index", "Menu", new { area = "" }, excludeFromParentCache: true)
        </div>
        <div class="main-content">
            @Html.Action("Header", "Client", new { area = "" })

            @if (Html.ViewData.IsPageLock())
            {
                Html.RenderAction("Locked", "PageLock", new { area = "", ViewBag.TransferID, ViewBag.PageLockID });
            }
            @if ((string)ViewContext.RouteData.DataTokens["area"] != "Management")
            {
                @Html.Action("PhaseButtons", "PhaseMain", new { area = "" }, excludeFromParentCache: true)
            }
            @Html.Action("FormTabs", "Menu", new { area = "" }, excludeFromParentCache: true)

            @{
                if (!String.IsNullOrWhiteSpace(ViewBag.Header))
                {
                    <h1 class="page-header">@ViewBag.Header</h1>
                }
            }

            <div id="error" style="display:none;" class="alert alert-dismissible alert-danger" role="alert">Er ging iets mis.<br /><div id="errormessage" style="font-weight:bold;"></div><br /><span onclick="location.reload()">Klik hier om de pagina opnieuw te laden en probeer het opnieuw.</span></div>
            <div id="success" style="display:none;" class="alert alert-dismissible alert-success" role="alert">Succesvol voltooid.<br /><div id="successmessage" style="font-weight:bold;"></div></div>
            <div id="warning" style="display:none;" class="alert alert-dismissible alert-warning" role="alert">Belangrijk<br /><div id="warningmessage" style="font-weight:bold;"></div><br /></div>
            <div id="modal" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <div id="signalmodal" class="modal" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <div id="mainContainer">
                @RenderBody()
            </div>
            <div class="modal" id="loader" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div style="height:100px;">
                                <img style="float:left;margin-right:20px;height:100px" src="@Url.Content("~/Images/PointLoading.gif")" />
                                <br />
                                Uw gegevens zijn ontvangen.<br />
                                Even geduld a.u.b.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="errormodal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Er is een fout opgetreden</div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn">Sluiten</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="setFocusOnErrorModalClose" />
            </div>

            <div class="modal" id="prefillmodal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Let op:</div>
                        <div class="modal-body">
                            <div id="defaultprefilltext" style="display:none;">
                                Dit formulier is voorgevuld met gegevens uit andere formulieren in dit transferdossier.
                                De voorgevulde velden hebben een gele kleur. U wordt geadviseerd om de actualiteit van de gegevens van alle voorgevulde velden te controleren om deze indien nodig aan te passen c.q. verwijderen.
                            </div>
                            <div id="epdprefilltext" style="display:none;">
                                <p>
                                    Dit formulier is voorgevuld met gegevens uit andere formulieren van dit POINT transferdossier en met gegevens afkomstig uit het EPD/EVD van uw organisatie.
                                    <ul>
                                        <li>De uit het POINT transferdossier voorgevulde velden hebben een gele kleur.</li>
                                        <li>De uit het EPD/EVD voorgevulde velden hebben een blauw kleur</li>
                                    </ul>
                                    U wordt geadviseerd om de actualiteit van de gegevens van alle voorgevulde velden te controleren om deze indien nodig aan te passen c.q. verwijderen. Indien u een blauw gekleurd veld bewerkt krijgt deze een witte kleur. Dat betekent dat dit veld niet meer wordt geupdate. Alleen blauwe gekleurde velden worden geupdate als op de knop <b>Update uit EVD/EPD</b> in dit formulier klikt.
                                    Geel gekleurde velden worden nooit geupdate. Wanneer het formulier de volgende keer wordt geopende zijn de gele kleuren verdwenen.
                                </p>
                            </div>
                            <div id="savedepdprefilltext" style="display:none;">
                                Dit formulier is initieel voorgevuld met o.a. gegevens afkomstig uit het EPD/EVD van uw organisatie. Deze zijn herkenbaar aan de blauw gekleurde velden. U kunt deze velden updaten door op de knop <b>Update uit EVD/EPD</b> te klikken. Indien u een blauw gekleurd veld bewerkt krijgt deze een witte kleur. Dat betekent dat dit veld niet meer wordt geupdate. Alleen blauw velden worden geupdate.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn">Sluiten</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @RenderSection("scripts", false)
</body>
</html>

