﻿@using Point.Infrastructure;
@{
    MasterPageVars masterPageVars = ViewBag.MasterPageVars as MasterPageVars;// ?? new MasterPageVars();
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <base href="@ViewBag.AppPath" target="_blank">
        <script>
            var hasPageLockTimer = false;
            var pageLockTimeoutTimer = 0;
            var isPageLocked = false;
        </script>
        @Scripts.Render("~/Bundles/Scripts/PointDefault")
        @Styles.Render("~/Content/Bootstrap-Buro26/bootstrap.css")
    </head>
    <body>
        @RenderBody()
    </body>
</html>
