﻿@using DevTrends.MvcDonutCaching
@using Point.MVC.WebApplication.Extensions
@using Point.Infrastructure.Helpers
@{
    var pointlogo = ConfigHelper.GetAppSettingByName<string>("PointLogo", "Point-HighRes-Trans.png");
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    @Html.Partial("_PointDefaultFavicon")

    <script>
        var appPath = '@ViewBag.AppPath';
        var areyousure = @((string)ViewBag.AreYouSure?? "false");
        var dashboardUrl = '@Html.Raw(Url.Action("Dashboard", "FlowMain", new {ViewBag.TransferID, Timeout = true }))';
        var removePageLockFromSessionUrl = '@Html.Raw(Url.Action("RemovePageLockFromSession", "PageLock"))';
        var removePageLockByIDUrl = '@Html.Raw(Url.Action("RemovePageLockByID", "PageLock"))';
        var readonly = @(ViewData["ReadMode"] == null ? "false" : ViewData["ReadMode"].ToString().ToLower());

        var hasPageLockTimer = @(ViewData.HasPageLocking().ToString().ToLower());
        var pageLockTimeoutTimer = @(ViewData.PageLockTimer());
        var isPageLocked = @(ViewData.IsPageLock().ToString().ToLower());
    </script>

    @Scripts.Render("~/Bundles/Scripts/PointDefault")
    @Styles.Render("~/Bundles/Styles/PointDefault")
    @if (ConfigHelper.GetAppSettingByName("NoIndex", false))
    {
        <meta name="robots" content="noindex">
    }
</head>

<body>

    <nav class="navbar navbar-fixed-top">
        @Html.Action("Header", "Client")
    </nav>

    <div class="container-fluid" style="padding-top: 60px;">
        @if (Html.ViewData.IsPageLock())
        {
            Html.RenderAction("Locked", "PageLock", new { area = "", ViewBag.TransferID, ViewBag.PageLockID });
        }
        @Html.Action("PhaseButtons", "PhaseMain", excludeFromParentCache: true)
        <div id="error" style="display:none;" class="alert alert-dismissible alert-danger" role="alert">Er ging iets mis.<br /><div id="errormessage" style="font-weight:bold;"></div><br /><span onclick="location.reload()">Klik hier om de pagina opnieuw te laden en probeer het opnieuw.</span></div>
        <div id="success" style="display:none;" class="alert alert-dismissible alert-success" role="alert">Succesvol voltooid.<br /><div id="successmessage" style="font-weight:bold;"></div></div>
        <div id="modal" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div id="signalmodal" class="modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div id="mainContainer">
            @RenderBody()
        </div>
        <div class="modal" id="loader" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div style="height:100px;">
                            <img style="float:left;margin-right:20px;height:100px" src="@Url.Content("~/Images/PointLoading.gif")" />
                            <br />
                            Uw gegevens zijn ontvangen.<br />
                            Even geduld a.u.b.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="errormodal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">Er is een fout opgetreden</div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>