﻿@model Employee
@using Point.Database.Extensions
<div class="form-group">
    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 control-label">Zorgverlener naam</label>
    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-6 control-label print-control">@(Model.FullName())</label>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 control-label">Zorgverlener telefoonnummer</label>
    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-6 control-label print-control">@(Model?.PhoneNumber)</label>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-4 col-sm-5 col-xs-6 control-label">Zorgverlener emailadres</label>
    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-6 control-label print-control">@(Model?.EmailAddress)</label>
</div>
