﻿@using Point.MVC.WebApplication.Extensions
@model AddFormDetailsViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/FormAdminAddFormDetails")

<style type="text/css">
    #FlowFieldAttributeID{
        height: 300px;
    }
</style>

@{
    var flowfieldsselectlist = Model.FlowFieldAttributeOptions.ToSelectListItems(f => f.Text, f => f.Value);
    var phasedefinitionselectlist = Model.PhaseDefinitionOptions.ToSelectListItems(f => f.Text, f => f.Value);
    var regionselectlist = Model.RegionOptions.ToSelectListItems(f => f.Text, f => f.Value);
    var organizationselectlist = Model.OrganizationOptions.ToSelectListItems(f => f.Text, f => f.Value);
}

<h3>Toevoegen velduitzondering(en)</h3>
<form class="form-horizontal" action="EditAttributes" method="post">
    @Html.HiddenFor(m => m.FormTypeID)

    <div class="form-group">
        @Html.LabelFor(m => m.PhaseDefinitionID, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.DropDownListFor(m => m.PhaseDefinitionID, phasedefinitionselectlist, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RegionID, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.DropDownListFor(m => m.RegionID, regionselectlist, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OrganizationID, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.DropDownListFor(m => m.OrganizationID, organizationselectlist, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FlowFieldAttributeID, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.ListBoxFor(m => m.FlowFieldAttributeID, flowfieldsselectlist, htmlAttributes: new { @class = "form-control multiselect" })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-left">
            <span class="btn btn-default" data-dismiss="modal">Annuleren</span>
        </div>
        <div class="col-xs-6 text-right">
            <span class="btn btn-primary" data-dismiss="modal" onclick="SaveFormDetails(this)">Opslaan</span>
        </div>
    </div>
</form>