﻿@using Point.MVC.WebApplication.Extensions
@model AttributeEditViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/FormAdminEdit")

@{ 
    var flowfieldsselectlist = Model.RequiredByFlowFieldOptions.ToSelectListItems(f => f.Text, f => f.Value);
}

<h3>Bewerk attributen van @Model.Label</h3>
<form class="form-horizontal" action="EditAttributes" method="post">
    @Html.HiddenFor(m => m.FlowFieldAttributeExceptionID)
    @Html.HiddenFor(m => m.FlowFieldAttributeID)

    <div class="form-group">
        @Html.LabelFor(m => m.Visible, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.CheckBoxFor(m => m.Visible)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReadOnly, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.CheckBoxFor(m => m.ReadOnly)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Required, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.CheckBoxFor(m => m.Required)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SignalOnChange, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.CheckBoxFor(m => m.SignalOnChange)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RequiredByFlowFieldID, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.SecureDropDownListFor(m => m.RequiredByFlowFieldID, flowfieldsselectlist, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RequiredByFlowFieldValue, new { @class = "col-md-5 control-label" })
        <div class="col-md-7">
            @Html.TextAreaFor(m => m.RequiredByFlowFieldValue, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 text-left">
            <span class="btn btn-default" data-dismiss="modal">Annuleren</span>
        </div>
        <div class="col-xs-6 text-right">
            <span class="btn btn-primary" data-dismiss="modal" onclick="SaveAttributes(this)">Opslaan</span>
        </div>
    </div>
</form>