﻿@using Point.MVC.WebApplication.Extensions
@model FormAdminEditViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/FormAdminEdit")

<style type="text/css">
    .original, .fieldname {
        color: #b9b9b9;
    }
    .new {
        display: none;
    }
    .changed .original {
        text-decoration: line-through;
    }
    .changed .new {
        display: inline;
    }
    .pointer
    {
        cursor: pointer;
    }
</style>

<span class="btn btn-green pull-right" onclick="ShowModal('@Url.Action("AddAttribute", new { Model.FormTypeID, Model.PhaseDefinitionID, Model.RegionID, Model.OrganizationID })')">Toevoegen</span>

<h1>Aangepaste velden</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:24px;"></th>
            <th>Veld</th>
            <th>ReadOnly</th>
            <th>Required</th>
            <th>Visible</th>
            <th>RequiredBy</th>
            <th>RequiredByValue</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            var editattr = "ShowModal('" + Url.Action("EditAttributes", new { item.FlowFieldAttributeExceptionID }) + "')";
            <tr>
                <td>
                    <span class="pointer glyphicon glyphicon-remove color-pt-red" onclick="DeleteAttribute('@Url.Action("DeleteAttribute", new { item.FlowFieldAttributeExceptionID })')"></span>
                </td>
                <td>
                    <span onclick="@editattr" class="pointer">
                        @item.Label
                        <span class="fieldname">@item.Name</span>
                    </span>
                </td>
                <td class="@(item.OriginalReadOnly != item.ReadOnly ? "changed" : "")">
                    <span class="original">@item.OriginalReadOnly</span>
                    <span class="new">@item.ReadOnly</span>
                </td>
                <td class="@(item.OriginalRequired != item.Required ? "changed" : "")">
                    <span class="original">@item.OriginalRequired</span>
                    <span class="new">@item.Required</span>
                </td>
                <td class="@(item.OriginalVisible != item.Visible ? "changed" : "")">
                    <span class="original">@item.OriginalVisible</span>
                    <span class="new">@item.Visible</span>
                </td>
                <td class="@(item.OriginalRequiredByFlowFieldID != item.RequiredByFlowFieldID ? "changed" : "")">
                    <span class="original">@item.OriginalRequiredByFlowFieldID</span>
                    <span class="new">@item.RequiredByFlowFieldID</span>
                </td>
                <td class="@(item.OriginalRequiredByFlowFieldValue != item.RequiredByFlowFieldValue ? "changed" : "")">
                    <span class="original">@item.OriginalRequiredByFlowFieldValue</span>
                    <span class="new">@item.RequiredByFlowFieldValue</span>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("FormDetails", new { Model.FormTypeID })" class="btn btn-default">Terug</a>