﻿@using Point.MVC.WebApplication.Extensions
@model FormAdminFormDetailsViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/FormAdminFormDetails")
<style type="text/css">
    .arrow {
        cursor: pointer;
    }
</style>

<span class="btn btn-green pull-right" onclick="ShowModal('@Url.Action("AddFormDetails", new { Model.FormTypeID })')">Toevoegen</span>

<h1>@Model.Name aanpassingen</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:24px;"></th>
            <th>Flow / Fase</th>
            <th>Regio</th>
            <th>Organisatie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><span class="arrow glyphicon glyphicon-remove color-pt-red" onclick="DeleteFormDetails('@Url.Action("DeleteFormDetails", new { Model.FormTypeID, item.PhaseDefinitionID, item.RegionID, item.OrganizationID })')"></span></td>
                <td><a href="@Url.Action("Edit", new { Model.FormTypeID, item.PhaseDefinitionID })">@item.FlowName @item.PhaseName</a></td>
                <td><a href="@Url.Action("Edit", new { Model.FormTypeID, item.RegionID })">@item.RegionName</a></td>
                <td><a href="@Url.Action("Edit", new { Model.FormTypeID, item.OrganizationID })">@item.OrganizationName</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index")" class="btn btn-default">Terug</a>