﻿@model FormAdminViewModel

<h1>Formulier aanpassingen</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Formulier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var formexception in Model.Items)
        {
            <tr>
                <td><a href="@Url.Action("FormDetails", new { FormTypeID = formexception.FormTypeID })">@formexception.Name</a></td>
            </tr>
        }
    </tbody>
</table>