﻿@model IEnumerable<Point.Database.Models.ViewModels.LogReadViewModel>
@{
}

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/LogRead")

<div class="panel panel-primary">
    <div class="panel-heading">
        Bekijk leesacties
    </div>
    <div class="panel-body">
        <form id="formSearchLogRead" class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-xs-3">TransferID</label>
                <div class="col-xs-5">
                    @Html.TextBox("TransferID", "", new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-block btn-primary">Zoeken</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="employeelist" style="margin-bottom: 16px;">
    @Html.Partial("List", Model)
</div>
