﻿@using Point.Database.Models.ViewModels
@using Point.Models.Enums
@using Point.Infrastructure.Extensions
@model IEnumerable<LogReadViewModel>

<script type="text/javascript">
    $(document).ready(function () {
        $('#logreadtable').DataTable({
            "paging": false,

            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": ["no-sort"]
            }]

        });

    });
</script>

<table id="logreadtable" class="table table-striped">
    <thead>
        <tr>
            <th>Medewerker</th>
            <th>Organisatietype</th>
            <th>Scherm</th>
            <th>Datum tijd</th>
            <th class="no-sort">Persoon <span class="glyphicon glyphicon-info-sign" style="cursor:pointer" title="Formulier met persoonlijke gegevens." /></th>
            <th class="no-sort">Systeem object <span class="glyphicon glyphicon-info-sign" style="cursor:pointer" title="Formulier met systeem instellingen." /></th>
            <th class="no-sort">Organisatie <span class="glyphicon glyphicon-info-sign" style="cursor:pointer" title="Formulier met organisatie gegevens." /></th>
            <th class="no-sort">Medische gegevens <span class="glyphicon glyphicon-info-sign" style="cursor:pointer" title="Formulier met medische gegevens." /></th>
            <th class="no-sort">Overig <span class="glyphicon glyphicon-info-sign" style="cursor:pointer" title="Overige formulieren." /></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td>@item.OrganizationType</td>
                    <td>@item.ScreenTitle</td>
                    <td>@item.LogRead.TimeStamp.ToStringOrDefault("dd-MM-yyyy HH:mm:ss")</td>
                    <td><input type="checkbox" disabled="disabled" checked="@item.ScreenTypes.Contains(ScreenType.Persoon)" /></td>
                    <td><input type="checkbox" disabled="disabled" checked="@item.ScreenTypes.Contains(ScreenType.SysteemObject)" /></td>
                    <td><input type="checkbox" disabled="disabled" checked="@item.ScreenTypes.Contains(ScreenType.Organisatie)" /></td>
                    <td><input type="checkbox" disabled="disabled" checked="@item.ScreenTypes.Contains(ScreenType.MedischeGegevens)" /></td>
                    <td><input type="checkbox" disabled="disabled" checked="@item.ScreenTypes.Contains(ScreenType.Overig)" /></td>
                </tr>
            }
        </tbody>
    }
</table>