﻿@model TransferTaskViewModel
@using Point.MVC.WebApplication.Extensions;

@{ 
    var readOnly = (Model.IsReadOnly || Request.IsPrintRequest() || (Html.ViewData.IsReadMode() && Html.ViewData.IsPageLock()));
    string editurl = Url.Action("Edit", new { Model.TransferTaskID, Model.FormTypeID, Model.TransferID, Digest = AntiFiddleInjection.CreateDigest(Model.TransferTaskID) });
    string statusurl = Url.Action("SetStatus", new { Model.TransferTaskID, Model.FormTypeID, Model.TransferID, Digest = AntiFiddleInjection.CreateDigest(Model.TransferID) });
}

<div class="list-group-item form-group transfertask" data-id="@Model.TransferTaskID">
    <div class="row">
        <div class="col-xs-2" data-property="@Html.NameFor(tt => tt.DueDate)">@Model.DueDate.ToPointDateHourDisplay()</div>
        <div class="col-xs-3" data-property="@Html.NameFor(tt => tt.CreatedByEmployee)">@Model.CreatedByEmployee</div>
        <div class="col-xs-3" data-property="@Html.NameFor(tt => tt.CompletedByEmployee)">@Model.CompletedByEmployee</div>
        <div class="col-xs-2" data-property="@Html.NameFor(tt => tt.StatusDescription)">@Model.StatusDescription</div>
    </div>
    <div class="pull-right">
        @if (!readOnly)
        {
            <div class="btn btn-xs btn-default" onclick="transfertaskedit(this);" data-url="@editurl">Bewerken</div>
            <div class="btn btn-xs btn-default btntransfertaskedit" style="@(!Model.Completed ? "display:none" : "")" onclick="transfertaskreopen(this);" data-url="@statusurl">Heropenen</div>
            <div class="btn btn-xs btn-default btntransfertaskedit" style="@(Model.Completed ? "display:none" : "")" onclick="transfertasksetdone(this);" data-url="@statusurl">Afhandelen</div>
        }
    </div>
    <div class="transfertaskdescription" data-property="@Html.NameFor(tt => tt.Description)">@Model.Description</div>
</div>