﻿@model TransferTaskViewModel

@{ 
    string deleteurl = Url.Action("Delete", new { Model.TransferTaskID, Model.FormTypeID, Model.TransferID, Digest = AntiFiddleInjection.CreateDigest(Model.TransferTaskID) });
}

<script type="text/javascript">
    initializeDateTime();
    initializevalidation("#transfertaskeditform");
    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($("#transfertaskeditform"));
    var readonly_transfertask =  @Model.Completed.ToString().ToLower();

    function heropenen(sender) {
        $("#transfertaskeditform").find("label,button,input,textarea,select,tr").each(function (el, ix) {
            $(this).removeClass("disabled").removeProp("disabled").removeAttr("readonly");
        });
        $(".chkcompleted").find(":checkbox").each(function (i, e) {
            $(this).prop("checked", false)
        });
        $(".btncompleted").toggle();
    }     

    $(function () {
        if (readonly_transfertask) {
            $("#transfertaskeditform").find("label,button,input,textarea,select,tr").each(function (el, ix) {
                $(this).addClass("disabled").prop("disabled", "disabled").attr("readonly", "readonly");
            });
        }
    });
</script>

<form id="transfertaskeditform" class="form-horizontal">
    @Html.HiddenFor(m => m.TransferTaskID)
    @Html.AntiFiddleTokenFor(m => m.TransferTaskID)
    @Html.HiddenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.FormTypeID)

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label col-xs-4" })
        <div class="col-xs-8">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3", maxlength = "255" })
        </div>
    </div>

    @if (Model.TransferTaskID > 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.CreatedDate, new { @class = "control-label col-xs-4" })
            <div class="col-xs-8">
                <div class="input-group">
                    <text>@Model.CreatedDate.ToPointDateHourDisplay()</text>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CreatedByEmployee, new { @class = "control-label col-xs-4" })
            <div class="col-xs-8">
                <div class="input-group">
                    <text>@Model.CreatedByEmployee</text>
                </div>
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.DueDate, new { @class = "control-label col-xs-4" })
        <div class="col-xs-8">
            <div class="input-group datetime">
                @Html.TextBoxFor(m => m.DueDate, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control" })
                <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Comments, new { @class = "control-label col-xs-4" })
        <div class="col-xs-8">
            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", style = "min-height:280px;" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Completed, new { @class = "control-label col-xs-4" })
        <div class="col-xs-8 chkcompleted">
            @Html.CheckBoxFor(m => m.Completed, new { @class = "checkbox-inline" })
        </div>
    </div>

    @if (Model.Completed)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.CompletedDate, new { @class = "control-label col-xs-4" })
            <div class="col-xs-8">
                <text>@Model.CompletedDate.ToPointDateHourDisplay()</text>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CompletedByEmployee, new { @class = "control-label col-xs-4" })
            <div class="col-xs-8">
                <text>@Model.CompletedByEmployee</text>
            </div>
        </div>
    }

    <hr />

    <div class="form-group">
        <div class="col-xs-12">
            <div class="btn btn-default" data-dismiss="modal">Annuleren</div>
            @if (Model.TransferTaskID > 0)
            {
                <div class="btn btn-danger" onclick="transfertaskconfirmdelete(this);" data-url="@deleteurl" data-transfertaskid="@Model.TransferTaskID">Verwijderen</div>
            }
            <div class="pull-right">
                <div id="heropenentransfertask" class="btn btn-default btncompleted" style="@(Model.Completed ? "" : "display:none;")" onclick="heropenen(this);">Heropenen</div>
                <div id="opslaantransfertask" class="btn btn-primary btncompleted" style="@(Model.Completed ? "display:none;" : "")" onclick="transfertasksave(this);" data-url="@Url.Action("Save")">Opslaan</div>
            </div>
        </div>
    </div>

</form>