﻿@model TransferTaskListViewModel
@using Point.MVC.WebApplication.Extensions;

<style>
    .transfertaskdescription {
        white-space: pre-wrap;
    }
</style>

@{
    var readOnly = (Model.IsReadOnly || Request.IsPrintRequest() || (Html.ViewData.IsReadMode() && Html.ViewData.IsPageLock()));
    string listurl = Url.Action("TransferTasks", "TransferTask", new { Model.TransferID, ViewBag.FormTypeID, readOnly, Model.IsPartial });
    string addurl = Url.Action("Add", "TransferTask", new { Model.TransferID, ViewBag.FormTypeID, Digest = AntiFiddleInjection.CreateDigest(Model.TransferID) });
    string delurl = Url.Action("Delete", "TransferTask", new { Model.TransferID, ViewBag.FormTypeID, Digest = AntiFiddleInjection.CreateDigest(Model.TransferID) });
}

@Scripts.Render("~/Bundles/Scripts/TransferTask")

<div class="transfertaskcontainer">
    <div class="@((!Model.IsPartial) ? " panel panel-blue ignore-printfilter" : "ignore-printfilter")">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-2">Uitvoering</div>
                <div class="col-xs-3">Aangemaakt door</div>
                <div class="col-xs-3">Afgehandeld door</div>
                <div class="col-xs-1">Status</div>
                <div class="col-xs-3">
                    @if (!readOnly)
                    {
                        <div class="pull-right">
                            <div type="button" class="btn btn-primary" onclick="transfertaskadd(this);" data-url="@addurl">Taak Toevoegen</div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="list-group transfertasklistcontainer" data-url="@listurl">
            @Html.Partial("_TransferTasks", Model)
        </div>
    </div>
    <div class="transfertaskmodal modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div class="transfertaskmodaldelete modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Taak verwijderen</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Weet u het zeker?</strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
                    <button type="button" class="btn btn-danger btndelete" data-url="@delurl" onclick="transfertaskdelete(this);">Verwijderen</button>
                </div>
            </div>
        </div>
    </div>
</div>

