﻿@model Point.Database.Models.ViewModels.OrganizationViewModel
@using Point.MVC.WebApplication.Extensions

<script type="text/javascript">
    function toggleSSO(sender)
    {
        var thischecked = $(sender).is(':checked');
        $('#SSOUsesAutoCeateAccountFormGroup, #SSOUsesSSODiv').toggle(thischecked);
        if(thischecked == false)
        {
            $("#SSOUsesAutoCeateAccount").attr('checked', false);
            $("#SSOKey").val('');
        }
    }
</script>

@Html.Hidden("SaveCouplingSettings", true)

<div class="form-group">
    @Html.LabelFor(m => m.HL7Description, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Model.HL7Description       
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.WSInterface, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @(Model.WSInterface ? "Ja" : "Nee")
        @Html.HiddenFor(m => m.WSInterface)
    </div>
</div>

<div class="form-group" style="margin-top:20px;">
    @Html.LabelFor(m => m.UsesSSO, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.UsesSSO, new { @class = "checkbox-inline", onclick = "toggleSSO(this);" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.UsesAuth, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.UsesAuth, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group" style="@(Model.UsesSSO ? "" : "display:none;")" id="SSOUsesAutoCeateAccountFormGroup">
    @Html.LabelFor(m => m.SSOUsesAutoCeateAccount, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.SSOUsesAutoCeateAccount, new { @class = "checkbox-inline" })
    </div>
</div>

<div id="SSOUsesSSODiv" style="@(Model.UsesSSO ? "" : "display:none;")">
    <div class="form-group" style="margin-top:20px;">
        @Html.LabelFor(m => m.SSOKey, new { Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureTextBoxFor(m => m.SSOKey, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SSOHashType, new { Class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureNullableEnumDropDownListFor(m => m.SSOHashType, new { @class = "form-control" })
        </div>
    </div>
</div>
