﻿@model OrganizationViewModel
    
<style type="text/css">
    #divorganizationproject
    {
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<div class="form-group">
    <div id="divorganizationproject" class="col-xs-12">
        <table class="table table-striped table-condensed dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th style="display:none;"></th>
                    <th>Naam</th>
                    <th class="text-center" style="width: 30px;">
                        <small><span id="organizationProjectCount">@(Model.OrganizationProjects?.Count)</span></small>
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyorganizationproject">
                @if (Model.OrganizationProjects != null)
                {
                    for (var i = 0; i < Model.OrganizationProjects.Count; i++)
                    {
                        var project = Model.OrganizationProjects[i];
                        var id = $"OrganizationProjects[{i}].OrganizationProjectID";
                        var name = $"OrganizationProjects[{i}].Name";

                        <tr>
                            <td style="display:none;">
                                <input data-property="organizationprojectid" type="hidden" name="@id" value="@project.OrganizationProjectID">
                                <input data-property="name" type="hidden" name="@name" value="@project.Name" )>

                            </td>
                            <td class="clickable" data-property="name" onclick="_OrganizationEdit.Functions.EditOrganizationProject(this)">@project.Name</td>
                            <td><span onclick="_OrganizationEdit.Functions.RemoveOrganizationProject(this)" class="btn glyphicon glyphicon-remove color-pt-red"></span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<span id="btnAddOrtherDepartment" class="btn btn-default pull-right" onclick="_OrganizationEdit.Functions.AddOrganizationProject(this);">Voeg kenmerk toe</span>
