﻿@model OrganizationViewModel
@using Point.MVC.WebApplication.Extensions

<style type="text/css">
    .logodim {
        width: 200px;
        height: 200px;
    }
</style>

<script>
    $("#removelogo").click(function () {
        $("#deletelogomodal").modal("show");
    });

    $("#addlogo").click(function () {
        var afterload = function (data) {
            $("#btnpreviewlogo").change(function () {
                _OrganizationEdit.Functions.PreviewLogo(this);
            });
            $("#uploadlogo").on("click", function () {
                _OrganizationEdit.Functions.UploadLogo(this);
            });
        }
        ShowModal2(_OrganizationEdit.Urls.EditLogo, null, afterload, 3);
    });
</script>

@if (Model.OrganizationID > 0)
{
    <div class="form-group">
        @Html.LabelFor(m => m.OrganizationID, new { Class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.DisplayFor(m => m.OrganizationID, new { Class = "form-control" })
        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.Name, new { Class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OrganizationTypeID, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.DropDownListFor(m => m.OrganizationTypeID, Model.OrganizationTypeOptions.ToSelectListItems(), new { Class = "form-control", onchange = "_OrganizationEdit.Functions.OrganizationTypeChanged(this)" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.RegionID, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.DropDownListFor(m => m.RegionID, Model.RegionOptions.ToSelectListItems(), new { Class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AGB, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.AGB, new { Class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ChangePasswordPeriod, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.ChangePasswordPeriod, new { Class = "form-control", placeholder = "0 of leeg betekent verloopt nooit" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PageLockTimeout, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.PageLockTimeout, new { Class = "form-control", placeholder = "0 of leeg betekent geen locking timeout" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ShowUnloadMessage, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.CheckBox("ShowUnloadMessage", Model.ShowUnloadMessage, new { Class = "checkbox-inline" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UseAnonymousClient, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.CheckBox("UseAnonymousClient", Model.UseAnonymousClient, new { Class = "checkbox-inline" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UseDigitalSignature, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.CheckBox("UseDigitalSignature", Model.UseDigitalSignature, new { Class = "checkbox-inline" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Inactive, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.CheckBox("Inactive", Model.Inactive, new { Class = "checkbox-inline" })
    </div>
</div>

@Html.HiddenFor(m => m.OrganizationLogoID)
@if (Model.OrganizationID > 0)
{
<div class="form-group" id="haslogo">
    @Html.LabelWithInformationIconFor(m => m.OrganizationLogoID, new { Class = "control-label col-xs-4" }, "Alleen de volgende bestand types zijn toegestaan: bmp, gif, jpe, jpeg, jpg en png")
    <div class="col-xs-5">
        <div class="row">
            <div class="col-md-4">
                <img id="imgorganizationlogo" class="signature" src='@Url.Action("GetByOrganizationID", "OrganizationLogo", new { Area = "", Model.OrganizationID, digest = AntiFiddleInjection.CreateDigest(Model.OrganizationID) })' />
            </div>
        </div>
        <div class="row" style="margin-top:5px;">
            <div class="col-md-4">
                @{
                    var style = Model.OrganizationLogoID.HasValue ? "" : "display:none;";
                }
                <button id="removelogo" type="button" class="btn btn-default" style="@style">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button id="addlogo" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-upload"></span>
                </button>
            </div>
        </div>
    </div>
</div>
 }
