﻿@model Point.Database.Models.ViewModels.OrganizationViewModel
@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums;

<script type="text/javascript">
    function closeConfirmModal(el) {
        $(el).closest(".modal").modal('hide');
    }

    $(function () {
        var mfaAuthTypeSMS = $("#MFAAuthTypeSMS").val();
        var mfaWarningShown = false;

        $("#MFARequired").on("click", function () {
            displayMFAWarningForSms();
        });

        $("#MFAAuthType").on("change", function () {
            displayMFAWarningForSms();
            displayRemoveMFASMSNumber();
          
        });

        function displayRemoveMFASMSNumber()
        {
            var valcurrent = $("#MFAAuthType").val();
            var valorigin = $("#originalmfatype").val();
            if (valorigin == mfaAuthTypeSMS && valcurrent != valorigin) {                
                $("#mfatypechangewarning").modal("show");
            }
        }

        function displayMFAWarningForSms() {
            if (!mfaWarningShown) {
                var obj = $("#MFAAuthType");
                if (!$("#MFARequired").is(":checked") || $(obj).val() != mfaAuthTypeSMS) {
                    return;
                }
                if ($(obj).val() != $(obj)[0].defaultValue || (typeof originalValue == "undefined")) {
                    $("#mfatypechangecosts").modal("show");
                    mfaWarningShown = true;
                };
            }
        };

        var deBlockChecked = $("#DeBlockEmailsToOrganization").is(":checked");
        $("#divDeBlockEmails").toggle(deBlockChecked);

        $("#DeBlockEmailsToOrganization").on("click", function () {
            var ischecked = $(this).is(":checked");
            $("#divDeBlockEmails").toggle(ischecked);
        });
    });
</script>


<div id="mfatypechangewarning" class="modal fade" role="dialog" aria-hidden="true" title="MFA type wijzigen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>MFA type wijzigen</b>
            </div>
            <div class="modal-body">
                Bij het opslaan, worden alle geregistreerde mobiele nummers van de medewerkers van deze organisatie verwijderd.               
            </div>
            <div class="modal-footer">
                <button type="button" id="tst123" class="btn" onclick="closeConfirmModal(this)">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="mfatypechangecosts" class="modal fade" role="dialog" aria-hidden="true" title="MFA type wijzigen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>Multi factor authenticatie</b>
            </div>
            <div class="modal-body">
                Let op: Wanneer u kiest voor SMS, worden de verstuurde sms'en achteraf in rekening gebracht aan uw organisatie. Neem voor meer informatie contact op met Linkassist.             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="closeConfirmModal(this)">OK</button>
            </div>
        </div>
    </div>
</div>


@Html.Hidden("SaveAdminSettings", true)
@Html.Hidden("MFAAuthTypeSMS", (int)MFAAuthType.SMS)
@Html.Hidden("originalmfatype", (int)(Model.MFAAuthType ?? 0))

<div class="form-group">
    @Html.LabelFor(m => m.MessageToGPByDefinitive, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.MessageToGPByDefinitive, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.UsesPalliativeCareInVO, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.UsesPalliativeCareInVO, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.MessageToGPByClose, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.MessageToGPByClose, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.MFARequired)
        <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MFARequired)" data-content="Activeer extra controle op organisatieniveau d.m.v. een SMS bericht of authenticator-app naast uw gebruikelijke gebruikersnaam/wachtwoord.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.MFARequired, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-xs-4">
        Multi factor authenticatie instellingen:
        <span style="cursor: pointer;" data-toggle="clickover" data-title="Multi factor authenticatie instellingen" data-content="Indien MFA op organisatie niveau NIET aan staat, dienen deze instellingen WEL te worden ingevuld indien MFA op gebruikersniveau gebruikt gaat worden. Anders werkt MFA op gebruikersniveau niet.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
</div>


<div class="form-group">
    <label class="control-label col-xs-4 col-xs-push-1">
        @Html.DisplayNameFor(m => m.MFAAuthType)
        <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MFAAuthType)" data-content="Selecteer het type controle: SMS of authenticator-app.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-5">
        @Html.SecureNullableWithEmptyEnumDropDownListFor(m => m.MFAAuthType, new { @class = "form-control" }, new SelectListItem() { Text = " - Maak uw keuze - ", Value = "0" })
    </div>
    <div class="col-xs-2">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-xs-4 col-xs-push-1">
        @Html.DisplayNameFor(m => m.MFATimeout)
        <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MFATimeout)" data-content="Geef het aantal dagen in, waarbinnen er NIET opnieuw een bevestigingscode ingevoerd hoeft te worden. Bij '0' dient dit bij iedere nieuwe login gedaan te worden.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-1">
        @Html.SecureTextBoxFor(m => m.MFATimeout, new { @class = "form-control", maxlength = 1 })
    </div>
    <div class="col-xs-3">
        dagen
    </div>
</div>

<div class="form-group">
    <label class="control-label col-xs-4 col-xs-push-1">
        @Html.DisplayNameFor(m => m.IPAddresses)
        <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.IPAddresses)" data-content="Activeer extra controle d.m.v. SMS of authenticator-app naast uw gebruikelijke gebruikersnaam/wachtwoord. Uitzondering volgende IP adressen. (gescheiden door ;)">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.IPAddresses, new { @class = "form-control" })
    </div>
    <div class="col-xs-3">
    </div>
</div>


<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.DeBlockEmailsToOrganization)
        <span style="cursor: pointer;" data-toggle="clickover" data-content="Wanneer deze wordt aangezet dan wordt een verzoek voor het deblokkeren van een account naar 1 of meerdere vaste (op te geven) e-mail adressen gestuurd. Wanneer deze uit staat wordt de e-mail aan een tweetal willekeurige beheerders gestuurd die beheer rechten hebben op de medewerker die de deblokkering aanvraagt.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.DeBlockEmailsToOrganization, new { @class = "checkbox-inline" })
    </div>
</div>

<div id="divDeBlockEmails" style="display:none;">
    <div class="form-group">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.DeBlockEmails)
            <span style="cursor: pointer;" data-toggle="clickover" data-content="Hier kan worden opgegeven naar welke vaste e-mail adressen een verzoek tot deblokkeren van een account moet worden gestuurd.">
                <span class="glyphicon glyphicon-info-sign"></span>
            </span>
        </label>
        <div class="col-xs-5">
            @Html.SecureTextBoxFor(m => m.DeBlockEmails, new { @class = "form-control" })
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.AutoCloseTransferAfterDays)
        <span style="cursor: pointer;" data-toggle="clickover" data-content="Met deze optie worden dossiers waarbij de organisatie de verzender is automatisch afgesloten. Hierbij kan het aantal dagen opgegeven worden waardoor de dossiers automatisch worden afgesloten als deze langer dat dit aantal dagen geleden in de afsluitfase zijn beland. Het dossier wordt alleen afgesloten als deze voldoet aan de voorwaarden m.b.t. verplichte velden voor het afsluiten van dossiers.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-1">
        @Html.SecureTextBoxFor(m => m.AutoCloseTransferAfterDays, new { @class = "form-control" })
    </div>
    <label class="col-xs-3">
        dagen
    </label>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.UseTasks, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.UseTasks, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.NedapCryptoCertificateID, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.DropDownListFor(m => m.NedapCryptoCertificateID, Model.CryptoCertificateOptions.ToSelectListItems(), new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.NedapMedewerkerNummer, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.NedapMedewerkerNummer, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ZorgmailUsername, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.ZorgmailUsername, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ZorgmailPassword, new { Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.ZorgmailPassword, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.HL7ConnectionDifferentMenu)
        <span style="cursor: pointer;" data-toggle="clickover" data-content="Komend vanuit ZIS/EPD staat POINT altijd in een patientfocus. Wanneer de knop 'Alle dossiers' verborgen is kan die patientfocus nooit worden verlaten en kan dus niet naar een ander POINT dossier genavigeerd worden.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.HL7ConnectionDifferentMenu, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.LabelFor(m => m.HL7ConnectionCallFromPoint)
        <span style="cursor: pointer;" data-toggle="clickover" data-content="De HL7 koppeling (ophalen patient NAW+ gegevens) wordt altijd vanuit een patientfocus gestart. Die patientfocus is actief als de gebruiker vanuit ZIS/EPD in POINT komt. Met deze optie kan de patientfocus ook worden geactiveerd in POINT door een patientnummer in te voeren.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.HL7ConnectionCallFromPoint, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.LabelFor(m => m.PatientOverview)
        <span style="cursor: pointer;" data-toggle="clickover" data-content="Deze optie kan vooral handig zijn wanneer de optie Verberg knop 'Alle dossiers' bij patientfocus aan staat. Dan kan men namelijk niet wegnavigeren naar een andere patient. Met de overzichtsknop kan men wel een overzicht zien van de status van andere patienten/dossiers.">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </label>
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.PatientOverview, new { @class = "checkbox-inline" })
    </div>
</div>