﻿@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.OrganizationViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")

<script type="text/javascript">
    $(document).ready(function () {
        var hdnflowid = $("#SelectedFlowDefinitionID").val();
        var showList = ".flowid_" + hdnflowid;
        $("#selectedformtypes").children().show();
        $("#selectedformtypes").children().not(showList).hide();
    });

    function FlowDefinitionChanged(element) {
        var hdnflowid = $(element).val();
        var showList = ".flowid_" + hdnflowid;
        $("#selectedformtypes").children().show();
        $("#selectedformtypes").children().not(showList).hide();
    }
</script>

<div class="form-group">
    @Html.Label("Flow definition", new { Class = "control-label col-xs-2" })
    <div class="col-xs-2">
        @Html.SecureEnumDropDownListFor(x => x.SelectedFlowDefinitionID, new { Class = "form-control", onchange = "FlowDefinitionChanged(this)" })
    </div>
    <div id="selectedformtypes" class="col-xs-3">
        @for (var i = 0; i < Model.FormTypesOfOrganization.Count; i++)
        {
        <div class="flowid_@((int)Model.FormTypesOfOrganization[i].FlowDefinitionID)">
            @Html.HiddenFor(x => x.FormTypesOfOrganization[i].RegionID)
            @Html.HiddenFor(x => x.FormTypesOfOrganization[i].FormTypeID)
            @Html.HiddenFor(x => x.FormTypesOfOrganization[i].FlowDefinitionID)
            @Html.HiddenFor(x => x.FormTypesOfOrganization[i].Name)
            <label style="cursor: pointer">
                @Html.CheckBoxFor(x => x.FormTypesOfOrganization[i].IsSelected, new { Class = "checkbox-inline" })
                @Html.DisplayFor(x => x.FormTypesOfOrganization[i].Name)
            </label>
        </div>
        }
    </div>
</div>



