﻿@model OrganizationViewModel
@using Point.Infrastructure.Attributes
@using Point.Models.Enums

@{
    var digestOrgSel = new { Digest = AntiFiddleInjection.CreateDigest(Model.OrganizationID), organizationid = Model.OrganizationID };
    var digestOrg = new { Digest = AntiFiddleInjection.CreateDigest(Model.OrganizationID) };
    var organizationSaveUrl = Url.Action("Save", "Organization", digestOrg);
}

<script type="text/javascript">
    var formID = "#editorganizationform";

    var _OrganizationEdit = {
        FormID: formID,
        Urls : {
            DeleteLogo: '@Html.Raw(Url.Action("DeleteOrganizationLogo", "Organization", digestOrgSel))',
            EditLogo: '@Html.Raw(Url.Action("EditOrganizationLogo", "Organization", digestOrgSel))',
            GetLogo: '@Html.Raw(Url.Action("GetByOrganizationID", "OrganizationLogo", new { Area = "", Model.OrganizationID, digest = @AntiFiddleInjection.CreateDigest(Model.OrganizationID) }))',
            ServiceAreas: '@Url.Action("ServiceAreas", "ServiceArea", new { Area = "Management" })',
            UploadLogo: '@Html.Raw(Url.Action("UpdateOrganizationLogo", "Organization", digestOrgSel))'
        },
        OrganizationTypeHospital: @((int)OrganizationTypeID.Hospital),
        OrganizationTypeVVT: @((int)OrganizationTypeID.HealthCareProvider)
    };

    initializevalidation(formID);

    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($(formID));

    function SaveForm(sender, close) {
        if ($(formID).valid()) {
            var url = $(sender).data("saveurl");
            var callback = function (data) {
                if (close) {
                    $("#modal").modal('hide');
                } else {
                    $("#savedmessage").show();
                    RefreshOrganizationData(data);
                    setTimeout(function () { $("#savedmessage").hide(); }, 3000);
                }
            }
            AjaxSave($(sender).closest("form"), url, false, callback, true, null);
        }
    }

    function RefreshOrganizationData(data) {
        if (!data) return;
        $("#OrganizationID").val(data.OrganizationID);
        $(":hidden[name='Digest']").val(data.Digest);
        $('button[data-saveurl]').data("saveurl", "/Management/Organization/Save?Digest=" + data.Digest);

        if (data.OrganizationProjects) {
            for (var i = 0; i < data.OrganizationProjects.length; i++) {
                var project = data.OrganizationProjects[i];
                $("#tbodyorganizationproject input[data-property='name'][value='" + project.Name + "']:hidden").prev("input[data-property='organizationprojectid']:hidden").val(project.OrganizationProjectID);
            }
        };
    }

    function LoadServiceAreas() {
        var organizationID = $("#OrganizationID").val();

        $.ajax({
            method: "POST",
            url: _OrganizationEdit.Urls.ServiceAreas,
            data: { OrganizationID: organizationID },
            success: function (data) { $("#serviceareas").html(data) },
            error: function (jqXHR, status) {
                $("#serviceareas").html(jqXHR.responseJSON.ErrorMessage);
            }
        });
    }

    $(function() {
        $('[data-toggle="clickover"]:not(.client-header)').clickover(
            {
                html: true,
                placement: "top",
                global_close: true,
                esc_close: true,
                title: $(this).data("title"),
                content: $(this).data("content")
            });
    });
</script>

@* This must be executed AFTER the above script! *@
@Scripts.Render("~/Bundles/Scripts/Management/OrganizationEdit")


<style type="text/css">
    .signature {
        width: 156px;
        height: 64px;
        border: 1px solid #e5e5e5;
    }

    .form-buttons {
        margin-top: 20px;
    }

        .form-buttons .btn {
            min-width: 100px;
        }

    .alert-button {
        padding-top: 3px;
        padding-bottom: 5px;
    }
</style>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#details" data-toggle="tab" aria-controls="details" role="tab" title="Organisatie">
            Organisatie
        </a>
    </li>
    <li role="presentation">
        <a href="#adminsettings" data-toggle="tab" aria-controls="adminsettings" role="tab" title="Beheer instellingen">
            Beheer instellingen
        </a>
    </li>
    <li role="presentation" class="serviceareas" style="@(Model.EnableServiceAreas ? "" : "display:none;")">
        <a href="#serviceareas" data-toggle="tab" aria-controls="serviceareas" role="tab" title="Bedienings gebieden" onclick="LoadServiceAreas();">
            Bedienings gebieden
        </a>
    </li>
    <li role="presentation" class="organizationprojects">
        <a href="#organizationprojects" data-toggle="tab" aria-controls="projects" role="tab" title="Dossierkenmerken">
            Dossierkenmerken
        </a>
    <li role="presentation">
        <a href="#coupling" data-toggle="tab" aria-controls="coupling" role="tab" title="Koppeling instellingen">
            Koppeling / SSO
        </a>
    </li>
    <li role="presentation" class="formtypes" style="@(Model.EnableFormTypeOrganizationTab ? "" : "display:none;")">
        <a href="#formtypes" data-toggle="tab" aria-controls="formtypes" role="tab" title="Formulier(en)">
            Formulier(en)
        </a>
    </li>
    <li role="presentation">
        <a href="#history" data-toggle="tab" aria-controls="history" role="tab" title="Historie">
            Historie
        </a>
    </li>
</ul>

<form class="form-horizontal" id="editorganizationform" action="@Url.Action("Save")" method="post">
    @Html.AntiForgeryToken()
    @Html.AntiFiddleTokenFor(m => m.OrganizationID)
    @Html.HiddenFor(m => m.OrganizationID)
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="details">
            <h3>Organisatie</h3>
            @Html.Partial("_OrganizationDetails", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="adminsettings">
            <h3>Beheer instellingen</h3>
            @Html.Partial("_OrganizationSettings", Model)
        </div>
        <div class="tab-pane serviceareas" role="tabpanel" id="serviceareas" style="@(Model.EnableServiceAreas ? "" : "display:none;")"></div>
        <div class="tab-pane organizationprojects" role="tabpanel" id="organizationprojects">
            <h3>Dossierkenmerken</h3>
            @Html.Partial("_OrganizationProjects", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="coupling">
            <h3>Koppeling / SSO</h3>
            @Html.Partial("_OrganizationCoupling", Model)
        </div>
        <div class="tab-pane formtypes" role="tabpanel" id="formtypes" style="@(Model.EnableFormTypeOrganizationTab ? "" : "display:none;")">
            <h3>Formulier(en)</h3>
            @Html.Partial("_OrganizationFormTypes", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="history">
            <h3>Historie</h3>
            @Html.Partial("_GenericLog", new GenericLogViewModel { TableName = "Organization", PrimaryKey = Model.OrganizationID.ToString() })
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-buttons clearfix">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <span class="pull-right">
            <span class="alert alert-success alert-button" style="display: none;" id="savedmessage">Opgeslagen</span>
            <button type="button" class="btn btn-default" data-saveurl="@organizationSaveUrl" onclick="SaveForm(this, false)">Opslaan</button>
            <button type="button" class="btn btn-primary" data-saveurl="@organizationSaveUrl" onclick="SaveForm(this, true)">Opslaan en sluiten</button>
        </span>
    </div>
</form>