﻿@using (Html.BeginForm("EditOrganizationLogo", "Organization", FormMethod.Post, new { id = "organizaitonlogoform", enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="modal-header">
        <h4 class="modal-title">Organisatie logo</h4>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="form-group">
            <div class="text-center">
                <img id="imgpreviewlogo" class="signature" src="~/Images/nosignature.png" />
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <label class="btn btn-primary" for="btnpreviewlogo">
                    <input id="btnpreviewlogo" type="file" name="file" style="display:none;">
                    Selecteer bestand
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn btn-primary" id="uploadlogo">Opslaan</button>
    </div>
}