﻿@model OrganizationManagementViewModel

<link href="~/Content/bootstrap-multiselect-point.css" rel="stylesheet" />
@Scripts.Render("~/Bundles/Scripts/SearchMultiselect")
@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/JQueryForm")

<script>
    
    function searchOrganization(evt) {
        evt.preventDefault();
        var form = $(this).closest("form");
        AjaxLoad(form, form.attr("action"), "#organizationlist");
    }

    function setupOrganization() {
        var organizationProjectModalRef = "#organizationprojectmodal";

        $(organizationProjectModalRef).on("shown.bs.modal", function (e) {
            $(organizationProjectModalRef).find("#projectname").focus();
        });

        $("#searchbut").on("click", searchOrganization);

        $("#modal").on("hide.bs.modal", function (e) {
            //Zou niet hoeven maar doet anders toch refresh op #modal2.on("hide...");
            if (e.target.id === "modal") {
                $("#searchbut").trigger("click");
            }
        });
    }

    $(function() {
        setupOrganization();
    });

</script>

<div id="modal2" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<form id="formSearchOrganization" onsubmit="return false;" action="@Url.Action("List")" class="form-horizontal" method="post">
    @Html.Hidden("OnlyOrganizations", Model.OnlyOrganizations)
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            Organisaties beheren
            <div class="checkbox pull-right">
                <label class="color-pt-white">@Html.CheckBox("searchdeleted", Model.SearchDeleted)Zoek in verwijderde organisaties / locaties / afdelingen</label>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-3">Organisatie / Locatie / Afdeling</label>
                <div class="col-xs-5">
                    @Html.TextBox("Search", Model.Search, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <input type="submit" id="searchbut" class="btn btn-block btn-primary" value="Zoeken">
                </div>
            </div>
        </div>
    </div>
</form>

<div class="clearfix">
    <span class="pull-right">
        @if (Model.HasRegionEditRights)
        {
            <button class="btn btn-primary" onclick="ShowModal('@Url.Action("Create", "Organization")')">Organisatie toevoegen</button>
        }
        @if (Model.HasOrganizationEditRights)
        {
            <button class="btn btn-primary" onclick="ShowModal('@Url.Action("Create", "Location")')">Locatie toevoegen</button>
        }
        @if (Model.HasLocationEditRights)
        {
            <button class="btn btn-primary" onclick="ShowModal('@Url.Action("Create", "Department")')">Afdeling toevoegen</button>
        }
    </span>
</div>

<div id="organizationlist" style="margin-top:15px;">
    @if (Model.OnlyOrganizations)
    {
        @Html.Partial("Organizations", Model)
    }
    else
    {
        @Html.Partial("List", Model)
    }
</div>

<div id="organizationprojectmodal" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div style="height:40px;">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="projectname">Naam</label>
                        <div class="col-xs-9">
                            <input class="form-control" id="projectname" name="projectname" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-default" id="ok">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="organizationprojectdeletemodal" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true" title="Kenmerk verwijderen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Met het verwijderen van een kenmerk is dit kenmerk niet meer te koppelen aan dossiers. <br />
                <br />
                <b>Weet u het zeker?</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Verwijderen</button>
            </div>
        </div>
    </div>
</div>

<div id="autocreatesetDeleteModal" class="modal" role="dialog" aria-hidden="true" title="Autocreate set verwijderen">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b>Autocreate set verwijderen</b>
            </div>
            <div class="modal-body">
                Wilt u deze autocreate set verwijderen?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Nee</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Ja</button>
            </div>
        </div>
    </div>
</div>

<div id="organizationChoiceModal" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b>Organisatie keuze</b>
            </div>
            <div class="modal-body">
                U dient eerst een organisatie te kiezen
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="deletelogomodal" class="modal" role="dialog" title="Organisatie logo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Organisatie logo verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Weet u het zeker?</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-danger" onclick="_OrganizationEdit.Functions.DeleteLogo(this)">Verwijderen</button>
            </div>
        </div>
    </div>
</div>