﻿@model OrganizationManagementViewModel

<style type="text/css">
    .clickable {
        cursor: pointer;
    }

    .semihide {
        opacity: 0.3;
    }

    .inactive {
        color: red;
    }

    table thead {
        width: 100%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var height = $(window).innerHeight() - $("#organizationlist").offset().top - 130;
        table = $("#organizationtable").DataTable({
            "paging": false,
            "order": [],
            "scrollY": height
        });
    });

    $(window).resize(function () {
        table.columns.adjust().draw();
        var height = $(window).innerHeight() - $("#organizationlist").offset().top - 130;
        $("#organizationtable").closest(".dataTables_scrollBody").height(height);
    });
</script>

<table class="table table-striped" id="organizationtable">
    <thead>
        <tr>
            <th width="25%">Organisatie</th>
            <th width="15%">Regio</th>
            <th width="20%">Type organisatie</th>
            <th width="20%">Locatie</th>
            <th width="20%">Afdeling/Zorgtype</th>
        </tr>
    </thead>
    <tbody>
        @{
            var inactiveItem = " <span class=inactive>(verwijderd)</span>";

            foreach (var row in Model.OrganizationLocationDepartments)
            {
                var editOrganizationClick = Model.HasOrganizationEditRights ? "onclick=ShowModal('" + Url.Action("Edit", "Organization", new { row.OrganizationID, Digest = AntiFiddleInjection.CreateDigest(row.OrganizationID) }) + "');" : "";
                var editLocationClick = row.IsLocationEditAllowed ? "onclick=ShowModal('" + Url.Action("Edit", "Location", new { row.LocationID, Digest = AntiFiddleInjection.CreateDigest(row.LocationID) }) + "');" : "";
                var editDepartmentClick = row.IsDepartmentEditAllowed ? "onclick=ShowModal('" + Url.Action("Edit", "Department", new { row.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(row.DepartmentID) }) + "');" : "";

                var inactiveOrg = Html.Raw(row.OrganizationInactive ? inactiveItem : "");
                var inactiveLoc = Html.Raw(row.LocationInactive ? inactiveItem : "");
                var inactiveDep = Html.Raw(row.DepartmentInactive ? inactiveItem : "");

                var addLocation = row.IsLocationInsertAllowed ? Html.Raw(" <span class=\"glyphicon glyphicon-plus clickable color-pt-green\" title=\"Locatie toevoegen\" onclick=ShowModal('" + Url.Action("Create", "Location", new { row.OrganizationID, Digest = AntiFiddleInjection.CreateDigest(row.OrganizationID) }) + "');></span>") : Html.Raw("");
                var addDepartment = row.IsDepartmentInsertAllowed ? Html.Raw(" <span class=\"glyphicon glyphicon-plus clickable color-pt-green\" title=\"Afdeling toevoegen\" onclick=ShowModal('" + Url.Action("Create", "Department", new { row.OrganizationID, row.LocationID, Digest = AntiFiddleInjection.CreateDigest(row.LocationID) }) + "');></span>") : Html.Raw("");

                <tr>
                    <td @(row.ShowOrganization ? "" : "class=semihide")><span @(Model.HasOrganizationEditRights ? "class=clickable" : "") @editOrganizationClick>@row.OrganizationName@(inactiveOrg)</span>@addLocation</td>
                    <td @(row.ShowOrganization ? "" : "class=semihide")><span>@row.RegionName</span></td>
                    <td @(row.ShowOrganization ? "" : "class=semihide")><span>@row.OrganizationType</span></td>
                    <td @(row.ShowLocation ? "" : "class=semihide")><span @(row.IsLocationEditAllowed ? "class=clickable" : "") @editLocationClick>@row.LocationName@(inactiveLoc)</span>@addDepartment</td>
                    <td @(row.IsDepartmentEditAllowed ? "class=clickable" : "") @editDepartmentClick>@row.DepartmentName@(inactiveDep)</td>
                </tr>
            }
        }
    </tbody>
</table>