﻿@model OrganizationManagementViewModel

<style type="text/css">
    .clickable {
        cursor: pointer;
    }

    .inactive {
        color: red;
    }

    .semihide {
        opacity: 0.3;
    }

    table thead {
        width: 100%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var height = $(window).innerHeight() - $("#organizationlist").offset().top - 130;
        table = $("#organizationtable").DataTable({
            "paging": false,
            "order": [],
            "scrollY": height
        });
    });

    $(window).resize(function () {
        table.columns.adjust().draw();
        var height = $(window).innerHeight() - $("#organizationlist").offset().top - 130;
        $("#organizationtable").closest(".dataTables_scrollBody").height(height);
    });
</script>

<table class="table table-striped" id="organizationtable">
    <thead>
        <tr>
            <th>Organisatie</th>
            <th>Locatie</th>
            <th>Regio</th>
            <th>Type organisatie</th>
            <th>Flows</th>
            <th>Verzendt</th>
            <th>Ontvangt</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var row in Model.OrganizationLocationDepartments)
        {
            var editOrganizationClick = Model.HasOrganizationEditRights ? "onclick=ShowModal('" + Url.Action("Edit", "Organization", new { row.OrganizationID, Digest = AntiFiddleInjection.CreateDigest(row.OrganizationID) }) + "');" : "";
            var editLocationClick = row.IsLocationEditAllowed ? "onclick=ShowModal('" + Url.Action("Edit", "Location", new { row.LocationID, Digest = AntiFiddleInjection.CreateDigest(row.LocationID) }) + "');" : "";

            var inactiveOrg = Html.Raw(row.OrganizationInactive ? " <span class=inactive>(verwijderd)</span>" : "");
            var inactiveLoc = Html.Raw(row.LocationInactive ? " <span class=inactive>(verwijderd)</span>" : "");

            <tr>
                <td @(Model.HasOrganizationEditRights ? "class=clickable" : "") @editOrganizationClick><span @(row.ShowOrganization ? "" : "class=semihide")>@row.OrganizationName@(inactiveOrg)</span></td>
                <td @(row.IsLocationEditAllowed ? "class=clickable" : "") @editLocationClick><span>@row.LocationName@(inactiveLoc)</span></td>
                <td><span>@row.RegionName</span></td>
                <td><span>@row.OrganizationType</span></td>
                <td @(row.IsLocationEditAllowed ? "class=clickable" : "") @editLocationClick>row.FlowDefinitionNames</td>
                <td class="text-center">@Html.Raw(row.IsSendingParty ? "<span class=\"glyphicon glyphicon-ok\" />" : "")</td>
                <td class="text-center">@Html.Raw(row.IsReceivingParty ? "<span class=\"glyphicon glyphicon-ok\" />" : "")</td>
            </tr>
        }
    </tbody>
</table>