﻿@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.RegionViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CapacityBeds, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.CapacityBeds, new { @class = "checkbox-inline" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.CapacityBedsPublic, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureCheckBoxFor(m => m.CapacityBedsPublic, new { @class = "checkbox-inline" })
    </div>
</div>