﻿@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.RegionViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/Region")

<script type="text/javascript">
    var selectedFormTypesUrl = '@Url.Action("SelectedFormTypes", "Region", new { Area = "Management" })';

    function FlowDefinitionChanged(element)
    {
        var flowdefinitionid = $(element).val();
        var regionID = $("#RegionIDForFlow").val();

        $.ajax({
            method: "GET",
            url: selectedFormTypesUrl,
            data: { FlowDefinitionID: flowdefinitionid, RegionID: regionID}
        }).done(function (data) {
            $("#selectedformtypes").html(data);
        }).error(function () {
            $("#selectedformtypes").html('');
        });
    }
</script>

<div class="form-group">
    @Html.Label("Flow definition", htmlAttributes: new { @Class = "control-label col-xs-2" })
    <div class="col-xs-2">
        @Html.SecureEnumDropDownListFor(x => x.DefaultFlowDefinitionID, new { @class = "form-control", onchange = "FlowDefinitionChanged(this)" })
    </div>
    <input type="hidden" id="RegionIDForFlow" value="@Model.RegionID" />
    <div id="selectedformtypes" class="col-xs-3">
        @Html.Partial("_SelectedFormTypes", Model)
    </div>
</div>



