﻿@model Point.Database.Models.ViewModels.RegionViewModel

@for (var i = 0; i < Model.FormTypesForRegion.Count; i++)
{
    <div>
        @Html.HiddenFor(x => x.FormTypesForRegion[i].FormTypeID)
        <label>
            @Html.CheckBoxFor(x => x.FormTypesForRegion[i].IsSelected, new { @class = "checkbox-inline" })
            @Html.DisplayFor(x => x.FormTypesForRegion[i].Name)
        </label>
    </div>
}
