﻿@model Point.Database.Models.ViewModels.RegionViewModel

<script type="text/javascript">
    var formID = "#editregionform";

    initializevalidation(formID);

    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($(formID));

    function SaveForm(sender, close) {
        if ($(formID).valid()) {
            var url = $(sender).data("saveurl");

            var callback = function (data) {
                if (close) {
                    $("#modal").modal('hide');
                } else {
                    $("#savedmessage").show();
                    $("#RegionID").val(data.RegionID);
                    setTimeout(function () { $("#savedmessage").hide(); }, 3000);
                }
            }

            AjaxSave($(sender).closest("form"), url, false, callback, true, null);
        }
    }
</script>

<style type="text/css">
    .form-buttons {
        margin-top: 20px;
    }

        .form-buttons .btn {
            min-width: 100px;
        }

    .alert-button {
        padding-top: 3px;
        padding-bottom: 5px;
    }
</style>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#details" data-toggle="tab" aria-controls="details" role="tab" title="Beheer regio(s)">
            Regio(s)
        </a>
    </li>
    <li role="presentation">
        <a href="#activeforms" data-toggle="tab" aria-controls="activeforms" role="tab" title="Actieve formulier(en)">
            Actieve formulier(en)
        </a>
    </li>
    <li role="presentation">
        <a href="#history" data-toggle="tab" aria-controls="history" role="tab" title="Historie">
            Historie
        </a>
    </li>
</ul>

<form class="form-horizontal" action="@Url.Action("Save")" method="post" id="editregionform">
    @Html.AntiFiddleTokenFor(m => m.RegionID)
    @Html.HiddenFor(m => m.RegionID)

    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="details">
            <h3>Regio</h3>
            @Html.Partial("_RegionDetails", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="activeforms">
            <h3>Actieve formulier(en)</h3>
            @Html.Partial("_RegionFormType", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="history">
            <h3>Historie</h3>
            @Html.Partial("_GenericLog", new GenericLogViewModel() { TableName = "Region", PrimaryKey = Model.RegionID.ToString() })
        </div>
    </div>
    <div class="form-buttons clearfix">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <span class="pull-right">
            <span class="alert alert-success alert-button" style="display:none;" id="savedmessage">Opgeslagen</span>

            <button type="button" class="btn btn-default" data-saveurl="@Url.Action("Save")" onclick="SaveForm(this, false)">Opslaan</button>
            <button type="button" class="btn btn-primary" data-saveurl="@Url.Action("Save")" onclick="SaveForm(this, true)">Opslaan en sluiten</button>
        </span>
    </div>
</form>