﻿@model List<RegionViewModel>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Management/Region")

<div class="panel panel-primary">
    <div class="panel-heading">
        Regio beheren
    </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-3">Regio</label>
                <div class="col-xs-5">
                    @Html.TextBox("Search", (object)ViewBag.Search, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-block btn-primary" onclick="searchRegion(this)">Zoeken</button>
                </div>
            </div>
        </div>
</div>

<div id="regionlist" style="margin-top: 16px;">
    @Html.Partial("List", Model)
</div>