﻿@using Point.Database.Models
@model List<RegionViewModel>
<style type="text/css">
    #regionstable tbody tr:hover {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('#regionstable').DataTable({
            "paging": false
        });
    });
</script>

<table id="regionstable" class="table table-striped">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Capaciteit</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {

                string capacity = item.CapacityBeds == true ? "Ja" : "";

                var editclick = "onclick=ShowModal('" + Url.Action("Edit", "Region", new { item.RegionID, Digest = AntiFiddleInjection.CreateDigest(item.RegionID) }) + "');";
                <tr>                    
                    <td @editclick>@item.Name</td>
                    <td @editclick>@capacity</td>
                </tr>
            }
        </tbody>
    }
</table>