﻿@model Point.CapacityManagement.Web.ViewModels.ErrorViewModel

@{
    Layout = null;
}

<h1>Er is een fout opgetreden</h1>
<b>Foutcode nummer: @Model.ErrorNumber, neem contact op met onze helpdesk en vermeld dit nummer.</b>