﻿@model Point.Planbord.Database.Models.Department

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

<div class="dialogContainer">
    @using (Html.BeginForm("Edit", "Department", FormMethod.Post, new { id = "DepartmentForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EntityID)
        @Html.HiddenFor(model => model.SystemCode)
        @Html.HiddenFor(model => model.InActive)
        <table style="width: 100%;">
            <tr>
                <td>@Html.DisplayNameFor(model => model.SystemCode)</td>
                <td>@Html.TextBoxFor(model => model.SystemCode, new Dictionary<string, object> { { "readonly", "readonly" }, { "disabled", "true" } })</td>
            </tr>
            <tr style="display:none;">
                <td>@Html.DisplayNameFor(model => model.ShortCode)</td>
                <td>@Html.TextBoxFor(model => model.ShortCode)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.TextBoxFor(model => model.Name, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.Name) + " is een verplicht veld." } })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
                <td>@Html.TextBoxFor(model => model.PhoneNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.EmailAddress)</td>
                <td>@Html.TextBoxFor(model => model.EmailAddress)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Location)</td>
                <td>@Html.DropDownListFor(model => model.LocationID, (SelectList)ViewBag.Locations, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.Location) + " is een verplicht veld." } })</td>
            </tr>
            <tr style="display:none;">
                <td>@Html.DisplayNameFor(model => model.InActive)</td>
                <td>@Html.CheckBoxFor(model => model.InActive, new { disabled = "disabled" })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=> model.IsVisible)</td>
                <td>@Html.CheckBoxFor(model=> model.IsVisible)</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationSummary()</td>
            </tr>
        </table>
    }
</div>
<script>
    MarkRequiredFields();
</script>
