﻿@model IEnumerable<Point.Planbord.Database.Models.Department>
@using Point.Planbord.Database.Models;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Afdeling";
}

@section scripts {

    @Scripts.Render("~/Scripts/Department/department.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 850px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.SystemCode)</th>
                    <th style="display:none;width: 50px;">@Html.DisplayNameFor(model => model.ShortCode)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Name)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.EmailAddress)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Location)</th>
                    <th />
                    <th />
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr class="EditDepartment" data-id="@item.EntityID" data-entity="Department" data-url="@Url.Action("Edit", "Department")" data-trashurl="@Url.Action("Delete", "Department")">
                        <td>@item.SystemCode</td>
                        <td style="display:none;">@item.ShortCode</td>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.Location.Name</td>
                        <td><a class="noclick" href="@Url.Action("Index", "Settings", new { parentId = @item.EntityID, parentType = PlanbordSettingsParentType.Department })">Instellingen</a></td>
                        <td><a class="noclick" href="@Url.Action("OverruleDepartment", "Bed", new { departmentId = @item.EntityID })">Bedden</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        <div class="linkButtonTableContainerLeft">
            <div class="CreateDepartment linkButton" data-id="0" data-entity="Department" data-url="@Url.Action("Edit", "Department")">Nieuw</div>
        </div>
    </div>
</div>
