﻿@model TransferMemoEditViewModel
<form class="EditTransferMemoForm form-horizontal">
    @Html.HiddenFor(m => m.TransferMemoID)
    @Html.AntiFiddleTokenFor(m => m.TransferMemoID)
    @Html.HiddenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.FrequencyID)
    @Html.HiddenFor(m => m.Target)
    @Html.HiddenFor(m => m.FormTypeID)
    <div class="form-group">
        <label class="control-label col-xs-8">Memo tekst</label>
        <div class="col-xs-4">
            @if (Model.EnableSignalering)
            {
                <div class="pull-right">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="SignaleringChecked" value="true" @(Model.SignaleringChecked ? "checked" : "disabled")>
                            Maak signalering aan?
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            @Html.TextAreaFor(m => m.MemoContent, new { @class = "form-control", style = "min-height:280px;" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <div class="pull-right">
                <div class="btn btn-gray" data-dismiss="modal">Annuleren</div>
                <div class="btn btn-primary" onclick="SaveTransferMemo(this);" data-saveurl="@Url.Action("SaveTransferMemo")">Memo opslaan</div>
            </div>
        </div>
    </div>
</form>