﻿@using Point.MVC.WebApplication.Extensions
@model TransferMemoListViewModel

<style>
    #transferMemo input[type="text"], textarea {
        min-height: 70px;
    }

    .memo {
        white-space: pre-wrap;
    }
	
	#transferMemo .transferMemoEntries .transferMemoEntry {
		margin-bottom: 0;
	}
</style>
@Scripts.Render("~/Bundles/Scripts/TransferMemo")
@{
    var listUrl = Url.Action("TransferMemos", "TransferMemo", new {Model.TransferID, Model.FrequencyID, Model.Target, isCommunicationJournal = Model.IsCommunicationJournal, ViewBag.FormTypeID, Model.EnableSignalering });
    var editUrl = Url.Action("AddTransferMemo", "TransferMemo", new {Model.TransferID, Model.FrequencyID, Model.Target, ViewBag.FormTypeID, Model.EnableSignalering});
    var selectTemplateUrl = Url.Action("SelectTemplate", "TransferMemo", new {Model.TransferID, TransferMemoTypeID = Model.Target});
}

<div class="transferMemoContainer" data-listurl="@listUrl" data-formsetversionid="@Model.FormSetVersionID">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "transferMemoForm" }))
    {
        @Html.Hidden("ListUrl", listUrl)
        @Html.HiddenFor(m => m.TransferID)
        @Html.HiddenFor(m => m.PhaseDefinitionID)
        @Html.HiddenFor(m => m.PhaseInstanceID)
        @Html.HiddenFor(m => m.FormSetVersionID)
        @Html.HiddenFor(m => m.ForcePartial)
        @Html.HiddenFor(m => m.IsCommunicationJournal)
        @Html.HiddenFor(m => m.WithoutHeader)
        @Html.HiddenFor(m => m.ReadOnly)
        @Html.HiddenFor(m => m.Action)
        @Html.HiddenFor(m => m.FrequencyID)
        @Html.HiddenFor(m => m.Target)
        @Html.HiddenFor(m => m.ShowTakeOverMessage)

        <div id="transferMemo" class="@((!Model.WithoutHeader)?" panel panel-blue ignore-printfilter":"ignore-printfilter")">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">Datum</div>
                    <div class="col-xs-3">Medewerker</div>
                    <div class="col-xs-3">Organisatie / Locatie / Afdeling</div>
                    <div class="col-xs-3">
                        @if (((Model.FrequencyID.HasValue && !Model.ReadOnly) || (!Model.ReadOnly && !Html.ViewData.IsReadMode())) && !Request.IsPrintRequest())
                        {
                            <div class="pull-right">
                                @if (Model.Templates.Any())
                                {
                                    <input type="button" id="selectTemplate@((int)(Model.Target??0))" class="btn btn-primary templateButton" onclick="SelectTemplate(this);" data-editurl="@selectTemplateUrl" value="Memo obv template" />
                                }
                                <input type="button" id="addTransferMemo@((int)(Model.Target??0))" class="btn btn-primary addButton" onclick="EditTransferMemo(this);" data-editurl="@editUrl" value="Memo toevoegen" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="list-group transferMemoEntries">
                @Html.Partial("TransferMemos", Model)
            </div>
        </div>
    }
    <div class="transfermemomodal modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div class="flowmemodeletemodal modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <b>Weet u het zeker?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Verwijderen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="prefilledRelatedMemo modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <b>Dit formulier is voorgevuld met comm.journaal uit een andere dossier. U kunt deze verwijderen...</b>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">sluiten</button>
                </div>
            </div>
        </div>
    </div>
</div>
