﻿@model IEnumerable<TransferMemoTemplate>

<table class="table table-striped" id="templatechoice">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="UseTemplate(this)" style="cursor:pointer;">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="display:none;" class="templatetext">@Html.DisplayFor(modelItem => item.TemplateText)</td>
            </tr>
        }
    </tbody>
</table>

<div class="clearfix">
    <div class="btn btn-gray pull-right" data-dismiss="modal">Annuleren</div>
</div>