﻿@model TransferMemoListViewModel
<style>
    #historycontainer {
        max-height: 200px;
        overflow-y: auto;
    }

    .hashistory {
        margin-top: 15px;
        cursor: pointer;
        color: #00BDF4;
        font-size: 12px;
        font-style: italic;
    }

    .hasrelatedtransfer {
        background-color:lavender;
    }

</style>
@foreach (var transferMemo in Model.Items)
{
    var employeeContactInfo = transferMemo.EmployeeContactInfo.Replace(Environment.NewLine, "<br/>");
    var departmentContactInfo = transferMemo.DepartmentContactInfo.Replace(Environment.NewLine, "<br/>");
    var lastchangedInfo = transferMemo.LastChangedInfo.Replace(Environment.NewLine, "<br/>");
    var hasRelatedMemo = transferMemo.TransferMemo.RelatedMemoID.HasValue && transferMemo.TransferMemo.RelatedMemoID > 0;

    <div class="clearfix @("list-group-item form-group transferMemoEntry " + (hasRelatedMemo ? "hasrelatedtransfer": ""))" >
        
        <div class="row">
            @Html.Hidden("id", transferMemo.TransferMemo.TransferMemoID)
            <div class="col-xs-3">                           
                @transferMemo.TransferMemo.MemoDateTime.ToPointDateHourDisplay()
                @if (!string.IsNullOrEmpty(transferMemo.LastChangedInfo))
                {
                    <span><span class="hashistory plus" onclick="showhistory(this);" data-openhistoryid="@transferMemo.TransferMemo.TransferMemoID">  (@transferMemo.LastChangedInfo)</span></span>
                }

            </div>            
            <div class="col-xs-3">
                <span><span class="glyphicon glyphicon-info-sign" style="cursor:pointer" data-toggle="clickover" data-content="@employeeContactInfo" /></span>
                @transferMemo.TransferMemo.EmployeeName
                @if (hasRelatedMemo)
                {
                    <span class="clickover-info" style="cursor:pointer;" data-toggle="clickover" data-title="Overgenomen uit eerder transfer dossier" data-content="@transferMemo.RelatedMemoOwner"><span class="glyphicon glyphicon-import"></span></span>
                }
            </div>
            <div class="col-xs-6">
                <span><span class="glyphicon glyphicon-info-sign" style="cursor:pointer" data-toggle="clickover" data-content="@departmentContactInfo" /></span>
                @transferMemo.DepartmentFullName
            </div>
        </div>                                                                                       
        <div class="pull-right">
            @if (transferMemo.IsEditable)
            {
                if (hasRelatedMemo)
                {
                    <div class="deleteMemo btn btn-xs btn-default" onclick="DeleteRelatedMemo(this);" data-deleteurl="@Url.Action("DeleteRelatedMemo", "TransferMemo",
                    new { transferMemo.TransferMemo.TransferMemoID, Digest = AntiFiddleInjection.CreateDigest(transferMemo.TransferMemo.TransferMemoID) })">
                        Verwijderen
                    </div>
                }
                else
                {
                    <div class="editMemo btn btn-xs btn-default" onclick="EditTransferMemo(this);" data-editurl="@Url.Action("EditTransferMemo", new { transfermemoid = transferMemo.TransferMemo.TransferMemoID, transferMemo.TransferMemo.TransferID, ViewBag.FormTypeID, Model.EnableSignalering, Digest = AntiFiddleInjection.CreateDigest(transferMemo.TransferMemo.TransferMemoID) })">Bewerken</div>
                }
            }
        @if (transferMemo.CanCreateTask)
        {
            <div class="btn btn-xs btn-default btntransfertaskfrommemo" onclick="transfertaskfrommemo(this);" data-url="@Url.Action("AddFromTransferMemo", "TransferTask", new { transfermemoid = transferMemo.TransferMemo.TransferMemoID, transferMemo.TransferMemo.TransferID, ViewBag.FormTypeID, Digest = AntiFiddleInjection.CreateDigest(transferMemo.TransferMemo.TransferMemoID) })">Taak</div>
        }
        </div>       
        <div class="memo">@transferMemo.TransferMemo.MemoContent</div>
        <div >
            @if (!string.IsNullOrEmpty(transferMemo.LastChangedInfo))
            {               
                <div class="memohistorydiv" style="display:none" id="memohistoryid@(transferMemo.TransferMemo.TransferMemoID)">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-4">Memo Wijziging(en)</div>
                                <div class="col-xs-3">Gewijzigd door</div>
                                <div class="col-xs-3">Datum wijziging</div>
                            </div>
                        </div>
                        <div id="historycontainer" class="panel-body bg-lightblue">
                            @foreach (var change in transferMemo.TransferMemoChanges)
                            {<div class="row list-group-item">
                                <div class="col-xs-4">@change.OriginalContent</div>
                                <div class="col-xs-3">@change.EmployeeName</div>
                                <div class="col-xs-3">@change.DateTimeChanged.ToStringOrDefault("dd-MM-yyyy HH:mm")</div>
                            </div>
                            }
                        </div>
                    </div>
                </div>            
            }

        </div>
    </div>
}