﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@using Point.Planbord.WebApplication.Controllers;

@model IEnumerable<CapacityOverviewViewModel>

@{
    Layout = "~/Views/Shared/_Layout_Planbord.cshtml";
    ViewBag.Title = "";
    ViewBag.Now = DateTime.Now;
}


@section scripts {



    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/Scripts/Planbord/InitCapacityTables.js")
    @Scripts.Render("~/Scripts/Planbord/CapacityOverview.js")

    

}

<style>
    Table.display thead th, #planbordTable.display td {
        text-align:center;
    }
    Table.display thead th.left, #planbordTable.display td.left {
        text-align:left;
    }
    #planbordTable.display.dataTable {
        border-bottom:1px solid #8AC4D9;
    }

</style>


<div id="mainwrap" style="width:1920px;height:37px;overflow:hidden;">
    <table id="planbordTable" class="display" style="width:1900px;">
        <thead>
            <tr>
                <!-- define column width in the headersection. dataTable and the script will handle the width for the cells -->
                <th style="width:0;display:none"></th>
                <th style="width:10px;padding:0;" class="sorting_disabled"></th>
                <th class="left" style="width:200px;">
                    Afdeling
                </th>
                <th class="left" style="width:50px;" title="Specialisme">
                    Spm
                </th>
                <th style="width:100px;" title="Vrije bedden">
                    Vrije<br />bedden
                </th>
                <th style="width:100px;" title="Verwachte ontslagen">
                    Verwachte ontslagen
                </th>
                <th style="width:100px;" title="Bezette bedden">
                    Bezette<br />bedden
                </th>
                <th style="width:100px;" title="Nieuwe patienten">
                    Nieuwe<br />patienten
                </th>
                <th style="width:100px;" title="Gereserveerde bedden">
                    Gereserveerde<br />bedden
                </th>
                <th style="width:100px;" title="Geblokkeerde bedden">
                    Geblokkeerde<br />bedden
                </th>
                <th style="width:100px;" title="Productie capaciteit">
                    Productie<br />capaciteit
                </th>
                <th style="width:100px;" title="Gesloten bedden">
                    Gesloten<br />bedden
                </th>
                <th style="width:100px;" title="Fysieke capaciteit">
                    Fysieke<br />capaciteit
                </th>
                <th style="width:130px;" title="Verwachte ontslagen morgen">
                    Verwachte&nbsp;ontslagen (morgen @DateTime.Now.AddDays(1).ToString("dd-MM"))
                </th>
                <th style="width:130px;" title="Nieuwe patienten morgen">
                    Nieuwe&nbsp;patienten (morgen @DateTime.Now.AddDays(1).ToString("dd-MM"))
                </th>
                <th style="width:50px;" title="Vrije eenpersoonskamers">
                    Vrije<br />1PK
                </th>
                <th style="width:50px;" title="Vrije sluiskamers">
                    Vrije<br />Sluis
                </th>
                <th style="width:70px;">
                    Dag
                </th>
                <th style="width:70px;">
                    Klinisch
                </th>
                <th style="width:190px" title="Boodschap">
                    Boodschap
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-departmentid="@item.DepartmentID" data-departmentname="@item.DepartmentName" data-specialism="@item.Specialism.ShortCode">
                    <td style="width:0;display:none">@ViewBag.LocationName</td>
                    <td>&nbsp;</td>
                    <td class="left">@item.DepartmentName@(item.IsAcute?" (acute opvang)":"")</td>
                    <td class="showSpecialism"><div class="Specialism" style="@item.Specialism.SpecialismStyle()">@item.Specialism.ShortCode</div></td>
                    <td data-keepzero="true">@item.BedTotals.Free</td>
                    <td>@item.BedTotals.DischargeToday</td>
                    <td data-keepzero="true">@item.BedTotals.Occupied</td>
                    <td>@item.BedTotals.ExpectedToday</td>
                    <td>@item.BedTotals.Reserved</td>
                    <td>@item.BedTotals.Blocked</td>
                    <td class="showProductie" data-keepzero="true" data-title="Productie capaciteit"
                        data-fulltext="@(String.Format("<table><tr><td style='width:250px;'>Fysieke capaciteit:</td><td>{0}</td></tr><tr><td>In gebruik van ander:</td><td>{1}</td></tr><tr><td>In gebruik door ander: </td><td>{2}</td></tr><tr><td>Gesloten: </td><td>{3}</td></tr></table>", 
                                       item.BedTotals.Physical,
                                       item.BedTotals.Borrow,
                                       item.BedTotals.Lend,
                                       item.BedTotals.Closed))">
                        @item.BedTotals.Production
                    </td>
                    <td>@item.BedTotals.Closed</td>
                    <td data-keepzero="true">@item.BedTotals.Physical</td>
                    <td>@item.BedTotals.DischargeTomorrow</td>
                    <td>@item.BedTotals.ExpectedTomorrow</td>
                    <td>@item.BedTotals.Eenpersoonskamers</td>
                    <td>@item.BedTotals.Sluiskamers</td>
                    <td>@item.BedTotals.OccupiedDay</td>
                    <td>@item.BedTotals.OccupiedClinical</td>
                    <td style="padding:1px;">
                        @if (item.SettingHeaderMessage.HasHeaderMessage())
                        { 
                            <div style="width:180px;height:18px;padding-top:2px;overflow:hidden;white-space:nowrap;border:1px solid #004b6a;background-color:#@item.SettingHeaderMessage.Color;">@item.SettingHeaderMessage.Text</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{Html.RenderPartial("~/Views/Shared/_Dialog_Fulltext.cshtml");}
@{Html.RenderPartial("~/Views/Shared/_Dialog_Alert.cshtml");}
@{Html.RenderPartial("~/Views/Shared/_Dialog_Confirm.cshtml");}

