﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<PlanbordViewModel>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
}

<script>
    $(document).ready(function () {
        $("#planbordCapactity tbody tr:visible:even", this).addClass("even");
        $("#planbordCapactity tbody tr:visible:odd", this).addClass("odd");
    });
</script>

<div class="dialogHeader">
    <div style="float: left"></div>
    <div style="float: right"></div>
</div>

<div class="dialogSubheader">
    Capaciteit: @ViewBag.Total
</div>

<div style="height: 212px; overflow: auto;">
    <div class="dialogDetailsTable">
        <table id="planbordCapactity" class="display" style="width: 485px;">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 52px;">@item.Bed.Description()</td>
                        <td style="width: 160px;">@(item.Bed.DepartmentOverruleID>0?"In gebruik door '" + item.Bed.DepartmentOverrule.Name + "'":item.BedForPatient.BedPatientStatus.GetDescription())</td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>
