﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<PlanbordViewModel>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
}

<script>
    $(document).ready(function () {
        $("#planbordExpected tbody tr:visible:even", this).addClass("even");
        $("#planbordExpected tbody tr:visible:odd", this).addClass("odd");

        $(".showPatientExpected").each(function (ix, el) {
            TextToColumnWidth(100, $(this)[0]);
        });

    });
</script>

<div class="dialogHeader">
    <div style="float: left"></div>
    <div style="float: right"></div>
</div>

<div class="dialogSubheader">
    Verwacht: @ViewBag.Total
</div>

<div style="height: 212px; overflow: auto;">
    <div class="dialogDetailsTable">
        <table id="planbordExpected" class="display" style="width: 551px;">
            <tbody>

                @foreach (var item in Model)
                {
                    var specialism = (item.BedForPatient.Specialism??new Specialism());
                    <tr>
                        <td style="width:126px;" class="showPatientExpected" data-fulltext="@item.Patient.FullNameInitialsPatient()">@item.Patient.FullNameInitialsPatient()</td>
                        <td style="width: 66px;">@item.Bed.Description()</td>
                        <td style="width: 66px;"><div class="Specialism" style="@specialism.SpecialismStyle()">@specialism.EmptyShortCode()</div></td>
                        <td style="width: 86px;">@item.BedForPatient.StartTime.ToPlanbordDisplay()</td>
                        <td style="width:168px;">@item.Codes.GetDiagnose()</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
