﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<PlanbordViewModel>

@{
    Layout = "~/Views/Shared/_Layout_Planbord.cshtml";
    ViewBag.Title = "";
}


@section scripts {

    <script>
        var ShiftID = @ViewBag.ShiftID;
        var ShiftClass = '@ViewBag.ShiftClass';

    </script>

    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/Scripts/Planbord/InitDataTables.js")
    @Scripts.Render("~/Scripts/Planbord/Index.js")

}

<div id="mainwrap" style="width:1920px;height:37px;overflow:hidden;">

<table id="planbordTable" class="display" style="width:1900px;">
    <thead>
        <tr>
            <!-- define column width in the headersection. dataTable and the script will handle the width for the cells -->
            <th style="width:5px;padding:0;" title="" >
                &nbsp;
            </th>
            <th style="width:202px;" title="Achternaam" data-displaytype="@PlanbordColumn.Achternaam.DisplayType()">
                Achternaam
            </th>
            <th style="width:0;display:none;" title=""></th>
            <th style="width:25px;" title="Bed Icoon" data-displaytype="@PlanbordColumn.Bed.DisplayType()">&zwnj;</th>
            <th style="width:62px;" title="Bed" data-displaytype="@PlanbordColumn.Bed.DisplayType()">
                Bed
            </th>
            <th style="width:50px;" title="Specialisme" data-displaytype="@PlanbordColumn.Spm.DisplayType()">
                Spm
            </th>
            <th style="width:88px;" title="Opname datum" data-displaytype="@PlanbordColumn.StartDate.DisplayType()">
                Opname
            </th>
            <th style="width:0;display:none;" title=""></th>
            <th style="width:88px;" title="Ontslag datum" data-displaytype="@PlanbordColumn.EndDate.DisplayType()">
                Ontslag
            </th>
            <th style="width:0;display:none;" title=""></th>
            <th style="width:45px;" title="Duur" data-displaytype="@PlanbordColumn.Hospitalization.DisplayType()">Duur</th>
            <th style="width:0;display:none;" title=""></th>
            <th style="width:200px;" title="Diagnose" data-displaytype="@PlanbordColumn.Diagnosis.DisplayType()">
                Diagnose
            </th>
            <th style="width:50px;" title="APO IN" data-displaytype="@PlanbordColumn.ApoInPatient.DisplayType()">
                APO IN
            </th>
            <th style="width:50px;" title="APO EXIT" data-displaytype="@PlanbordColumn.ApoExitPatient.DisplayType()">
                APO EXIT
            </th>
            <th style="width:50px;" title="EWS Score" data-displaytype="@PlanbordColumn.EwsScorePatient.DisplayType()">
                EWS Score
            </th>
            <th style="width:60px;" title="AOA Patient" data-displaytype="@PlanbordColumn.AOAPatient.DisplayType()">
                AOA patient
            </th>
            <th style="width:45px;" title="Code behandelingsbeperking" data-displaytype="@PlanbordColumn.Code.DisplayType()">
                Code <!-- Beh.bep. -->
            </th>
            <th style="width:50px;" title="Vitale signalen" data-displaytype="@PlanbordColumn.Vitale.DisplayType()">
                Vitale<br />sign.
            </th>
            <th style="width:55px;" title="Isolatie" data-displaytype="@PlanbordColumn.Isolation.DisplayType()">
                Isolatie
            </th>
            <th style="width:65px;" title="Q-Score" data-displaytype="@PlanbordColumn.QScore.DisplayType()">
                Q-Score
            </th>
            <th style="width:150px;" title="Bijzonderheden" data-displaytype="@PlanbordColumn.Details.DisplayType()">
                Bijzonderheden
            </th>
            <th style="width:135px;" title="Afspraken" data-displaytype="@PlanbordColumn.Appointments.DisplayType()">
                Afspraken
            </th>
            <th style="width:70px;" title="Mobiliteit" data-displaytype="@PlanbordColumn.Mobility.DisplayType()">
                Mobiliteit
            </th>
            <th style="width:55px;" title="Nazorg geregeld" data-displaytype="@PlanbordColumn.Discharged.DisplayType()">
                Nazorg
            </th>
            <th style="width:200px;" title="Verpleegkundige 1" data-displaytype="@PlanbordColumn.Nurse1.DisplayType()">
                Verpleegkundige 1
            </th>
            <th style="width:80px;" title="Stagiaire" data-displaytype="@PlanbordColumn.Intern.DisplayType()">
                Stagiair
            </th>
            <th style="width:40px;text-align:center" class="showMultiNurse" data-url="@Url.Action("Edit","ShiftDetail")" data-shiftid="@ViewBag.ShiftID" data-displaytype="@PlanbordColumn.NurseDetails.DisplayType()">
                <div class="planbordIcon iconMultiNurse"></div>
            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
    {
    var haveRowAlert = item.HaveRowAlert();
    var havePatient = item.Patient.PatientID>0;
    var specialism = (item.BedForPatient.Specialism??new Specialism());
//    var haveAOA = (item.Codes.GetValue(CodeMainType.SAPSignalering, "AOAPatient") == "Ja");
    <tr data-patient="@item.Patient.FullNameInitialsPatient()" data-bed="@item.Bed.Description()">
        <td class="@(haveRowAlert ? "alert" : "")">&nbsp;</td>
        @if(haveRowAlert)
        {
        <td class="@(havePatient ? "showPatientOverview alertColor" : "")" 
            data-fulltext="@item.Patient.FullNameInitialsPatient()&nbsp;(@item.Patient.GenderText().ToLower())&lt;br /&gt;
                           @item.Patient.SafeBirthDate()&lt;br /&gt;
                           @item.Patient.PatientNumber">
                           <span style="font-size:12px;font-weight:normal;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:black;">
                               @Html.Raw(item.Patient.GenderSymbol())
                           </span>@item.Patient.FullNameInitialsPatient()</td>
        }
        else
        {
            <td class="@(havePatient ? "showPatientOverview" : "")"
                data-fulltext="@item.Patient.FullNameInitialsPatient()&nbsp;(@item.Patient.GenderText().ToLower())&lt;br /&gt;
                @item.Patient.SafeBirthDate()&lt;br /&gt;
                @item.Patient.PatientNumber">
                <span style="font-size:12px;font-weight:normal;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:black;">
                    @Html.Raw(item.Patient.GenderSymbol())
                </span>@item.Patient.FullNameInitialsPatient()
            </td>
        }
        <td style="width:0;display:none;">@item.Patient.FullNameInitialsPatient()</td>
        <td class="showBedIcon" 
            data-icons="@item.BedCodes.BedIcon()" 
            data-bedpatientstatus="@(item.BedForPatient.BedPatientStatus.To<int>())"
            data-url="@Url.Action("EditBed", "Code", new { id = item.Bed.BedID, ticks = @ViewBag.Ticks })">@item.BedCodes.BedIcon()</td>
        <td class="showBed" 
            data-bedpatientstatus="@(item.BedForPatient.BedPatientStatus.To<int>())"
            data-url="@Url.Action("EditBed", "Code", new { id = item.Bed.BedID , ticks = @ViewBag.Ticks })">@item.Bed.Description()</td>
        <td class="showSpecialism" 
            data-fulltext="@specialism.Name (@specialism.EmptyShortCode())">
            <div class="Specialism" style="@specialism.SpecialismStyle()">@specialism.EmptyShortCode()</div></td>
        <td class="@(haveRowAlert? "alertColor" : "") showStartTime " data-fulltext="@item.BedForPatient.StartTime.ToPlanbordDisplay()">
            @item.BedForPatient.StartTime.ToPlanbordDisplay()
        </td>
        <td style="width:0;display:none;">@item.BedForPatient.StartTime.ToSortable()</td>
        <td class="@(haveRowAlert? "alertColor":"") showEndTime"
            data-fulltext="@item.BedForPatient.EndTime.ToPlanbordDisplay()">
            @item.BedForPatient.EndTime.ToPlanbordDisplay()
        </td>
        <td style="width:0;display:none;">@item.BedForPatient.EndTime.ToSortable()</td>
        <td class="@(haveRowAlert? "alertColor":"") showHospitalization"
            data-fulltext="Ligduur: @item.BedForPatient.Hospitalization()">
            @item.BedForPatient.Hospitalization()
        </td>
        <td style="width:0;display:none;">@item.BedForPatient.Hospitalization(true)</td>
        <td class="@(havePatient?"showDiagnose" + (haveRowAlert?" alertColor":""):"")" data-fulltext="@item.Codes.GetDiagnose()">@item.Codes.GetDiagnose()</td>

        <td class="@(havePatient ? "showApoInIcon":"")"
            data-icons="@item.Codes.GetValue(CodeMainType.ApoIn)">
            @item.Codes.GetValue(CodeMainType.ApoIn)

        </td>
        <td class="@(havePatient ? "showApoExitIcon":"")"
            data-icons="@item.Codes.GetValue(CodeMainType.ApoExit)">
            @item.Codes.GetValue(CodeMainType.ApoExit)
        </td>
        <td class="@(havePatient?"showEwsScore":"")"
            data-icons="@item.Codes.GetValue(CodeMainType.EwsScore)"
            data-ewsdate="@item.Codes.GetEwsDateTime()" data-ewsaction="@item.Codes.GetEwsAction()"
            data-url="@Url.Action("EwsScore", "Code", new { id = item.Patient.PatientID, ticks = @ViewBag.Ticks })">
            @item.Codes.GetValue(CodeMainType.EwsScore)
        </td>
        <td class="@(havePatient?"showAOAIcon":"")"
            data-icons="@item.Codes.GetValue(CodeMainType.SAPSignalering, "AOAPatient")">
            @item.Codes.GetValue(CodeMainType.SAPSignalering, "AOAPatient")
        </td>
        <td class="@(havePatient?"showRestriction":"") centerIcon" 
            data-icons="@item.Codes.RestrictionCode(item.Patient.PatientID)" 
            data-url="@Url.Action("Restriction", "Code", new { id = item.Patient.PatientID, ticks = @ViewBag.Ticks })">@item.Codes.RestrictionCode(item.Patient.PatientID)</td>
        <td class="@(havePatient?"showVital":"") centerIcon" 
            data-icons="@(item.Codes.VitalMissedMeasurement()?"!":"")" 
            data-url="@Url.Action("Vital", "Code", new { id = item.Patient.PatientID, ticks = @ViewBag.Ticks })">@(item.Codes.VitalMissedMeasurement()?"!":"")</td>   
        <td class="@(havePatient?"showIsolation":"") centerIcon" 
            data-icons="@(item.Codes.GetCode(CodeMainType.Isolatie, "").GetIsolationCode().Color)" 
            data-url="@Url.Action("Isolation", "Code", new { id = item.Patient.PatientID, ticks = @ViewBag.Ticks })">@item.Codes.GetCode(CodeMainType.Isolatie,"").GetIsolationCode().Color</td>
        <td class="@(havePatient?"showQScore":"")" 
            data-icons="@(item.Codes.QScorePijnscore()?"R":"")@(item.Codes.QScoreMissedMeasurement()?"!":"")"
            data-url="@Url.Action("QScore", "Code", new { id = item.Patient.PatientID, ticks = @ViewBag.Ticks })">
            @(item.Codes.QScorePijnscore() ? "R" : "")@(item.Codes.QScoreMissedMeasurement() ? "!" : "")
        </td>
        <td class="@(havePatient?"showDetails":"")" 
            data-icons="@item.Codes.GetValue(CodeMainType.Bijzonderheden)" 
            data-url="@Url.Action("EditDetails", "Code", new { id = item.Patient.PatientID })">@item.Codes.GetValue(CodeMainType.Bijzonderheden)</td>
        <td class="@(havePatient?"showAppointment":"")" 
            data-url="@Url.Action("EditAppointment", "Code", new { id = item.Patient.PatientID })">@item.Codes.GetValue(CodeMainType.Afspraken)</td>
        <td class="@(havePatient?"showMobility":"") centerIcon"
            data-icons="@item.Codes.GetValue(CodeMainType.Mobiliteit)"
            data-url="@Url.Action("EditMobility", "Code", new { id = item.Patient.PatientID })">
            @item.Codes.GetValue(CodeMainType.Mobiliteit)
        </td>
        <td class="@(havePatient?"showDischarge":"")"
            data-fulltext="@item.Codes.PointPhase()&lt;br /&gt;@item.Codes.DischargeAcceptedAnswer()">
            <div class="planbordIcon showFaseIcon @item.Codes.DischargeIcon()" 
            data-icons="@item.Codes.GetValue(CodeMainType.PointStatus, "ActieveFase")"
            data-flowdefinition="@item.Codes.GetValue(CodeMainType.PointStatus, "FlowDefinitionID")" 
            style="padding-left:@(item.Codes.DischargeIcon()!=""?"21":"4")px;"></div>
        </td>
        <td class="showFirstNurse" 
            data-url="@Url.Action("Edit", "ShiftDetail", new { id = item.Bed.BedID, shiftid = ViewBag.ShiftID })" 
            data-bedid="@item.Bed.BedID"  
            data-fulltext="@item.ShiftDetails.ShiftDetailForRole(ShiftDetailRole.FirstNurse).NurseDisplay()" 
            data-pagerpausevisit="@item.ShiftDetails.ShiftDetailForRole(ShiftDetailRole.FirstNurse).PagerPauseVisitWorkloadDisplay()">@item.ShiftDetails.ShiftDetailForRole(ShiftDetailRole.FirstNurse).NurseDisplay()</td>
        <td class="showIntern"
            data-url="@Url.Action("Edit","ShiftDetail", new { id = item.Bed.BedID, shiftid = ViewBag.ShiftID })" 
            data-bedid="@item.Bed.BedID"  
            data-fulltext="@item.ShiftDetails.ShiftDetailForRole(ShiftDetailRole.Intern).NurseDisplay()">@item.ShiftDetails.ShiftDetailForRole(ShiftDetailRole.Intern).NurseDisplay()</td>
        <td style="text-align:center"><input id="chbBedID" value="@item.Bed.BedID" type="checkbox" /></td>
    </tr>
}
    </tbody>
</table>
</div>
@{Html.RenderPartial("~/Views/Shared/_Dialog_Fulltext.cshtml");}
@{Html.RenderPartial("~/Views/Shared/_Dialog_Alert.cshtml");}
@{Html.RenderPartial("~/Views/Shared/_Dialog_Confirm.cshtml");}
@{Html.RenderPartial("~/Views/Shared/_Dialog_PatientOverview.cshtml");}

