﻿@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");

}

@*@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}*@

<style>
    .ui-keyboard div { font-size: 3em; }
    .ui-keyboard-input-current {
        border: solid 1px #D3D3D3;
        box-shadow: none;
    }
</style>

    <script>
        var keyboardField = $("#SecurityCode");
    </script>
    @Scripts.Render("~/Scripts/Planbord/SecurityKeyboard.js")

<div class="dialogHeader">
    <div style="float:left">Voer veiligheidscode in</div>
</div>
<div class="dialogSubheader" style="text-align:center;vertical-align:middle;height:40px;">
  @using (Html.BeginForm("Security","Planbord",FormMethod.Post, new {id = "SecurityForm"})) {

    @Html.AntiForgeryToken()

        @Html.Password("SecurityCode", "", new { @maxlength = 4, @style = "width:100px;height:18px;font-size:15px;text-align:center;top:-2px"});
    }
</div>
<div class="dialogDetails" style="margin:0;padding:0;">


   
</div>
</div>
