﻿@model Code
@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<script>
    var CurrentShiftID = @ViewBag.CurrentShiftID;
    var ShiftDepartmentSelectURL = '@Url.Action("ShiftDepartmentSelect", "Planbord")';
    var ShiftDepartmentReloadURL = '@Url.Action("Index","Planbord")';
</script>

@Scripts.Render("~/Scripts/Planbord/ShiftDepartmentSelect.js")

<div class="dialogDetails">
    @using (Html.BeginForm("DepartmentShift", "Planbord", FormMethod.Post, new { id = "ShiftDepartmentSelectForm" }))
    {
        @Html.AntiForgeryToken()
        <table style="width: 100%">
            <thead>
                <tr style="width: 100%">
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dialogSubheader2" style="text-align: left; width: 337px;">Dienst</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            @foreach (Shift shift in ViewBag.Shifts)
                            { 
                                <tr>
                                    <td style="text-align:left;width:200px;">
                                        @Html.RadioButton("Shift", shift.ShiftID, (shift.ShiftID == (int)ViewBag.CurrentShiftId), new { id = "Shift_" + shift.ShiftID })
                                        @Html.Label("Shift_" + shift.ShiftID, shift.Description)
                                    </td>
                                    <td style="text-align:right;margin-right:1em;">
                                        <span id="ShiftReset_@shift.ShiftID" data-confirm="Weet u zeker dat u de toewijzing van deze dienst wilt resetten?" class="ShiftAction textButton" data-entity="ShiftDetail" data-url="@Url.Action("Reset", "ShiftDetail")"><img src="~/Content/images/iconSave.png" class="textButtonSaveIcon"/>Reset</span>
                                        <span id="ShiftDelete_@shift.ShiftID" data-confirm="Weet u zeker dat u de toewijzing van deze dienst wilt wissen?" class="ShiftAction textButton" data-entity="ShiftDetail" data-url="@Url.Action("Delete", "ShiftDetail")"><img src="~/Content/images/iconSave.png" class="textButtonSaveIcon"/>Wis</span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dividerHR"></div>
                    </td>
                </tr>
                <tr>
                    <td class="dialogSubheader2" style="text-align: left; width: 337px;">Afdeling</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 212px; overflow: auto;">
                            <table style="padding:0;" cellspacing="0" cellpadding="0">
                                @foreach (Department department in ViewBag.Departments)
                                { 
                                    <tr>
                                        <td style="text-align: left; width: 337px; padding-bottom:4px;">
                                            @if (User.IsInRole(Role.DepartmentAccount.ToString()))
                                            {
                                                @Html.RadioButton("Department", department.DepartmentID, (department.DepartmentID == (int)ViewBag.CurrentDepartmentId), new { id = "Department_" + department.DepartmentID, disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.RadioButton("Department", department.DepartmentID, (department.DepartmentID == (int)ViewBag.CurrentDepartmentId), new { id = "Department_" + department.DepartmentID })
                                            }
                                            @Html.Label("Department_" + department.DepartmentID, department.Name)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> 
    }
</div>
@{Html.RenderPartial("_Dialog_Confirm", new ViewDataDictionary { { "DialogID", "dialogShiftDepartmentConfirm" } });}