﻿@using Point.Database.Extensions
@model CopyTransferViewModel

@if (!ViewBag.HasEndFlowRights)
{
    <div class="alert alert-warning" role="alert">
        U kunt dit dossier niet kopieren in deze rol
    </div>
}
else
{
    <script type="text/javascript">
        var formID = "#copyTransferForm";
        var copytransferurl = '@Html.Raw(Url.Action("CopyTransfer", new { digest = @AntiFiddleInjection.CreateDigest(ViewBag.TransferID), TransferID = Model.TransferID }))';
    </script>

    @Scripts.Render("~/Bundles/Scripts/FormType")
    @Scripts.Render("~/Bundles/Scripts/CopyTransfer")

    using (Html.BeginForm("CopyTransfer", "FlowMain", FormMethod.Post, new { id = "copyTransferForm", @class = "form-horizontal" }))
    {
        <input type="hidden" name="TransferID" digest="@AntiFiddleInjection.CreateDigest(Model.TransferID)" value="@Model.TransferID" />
        <div class="panel panel-blue">
            <div class="panel-heading">
                <text>Selecteer te kopiëren dossier-onderdelen</text>
            </div>
            <div class="panel-body bg-lightblue">
                @if (!Model.CopyTransferForms.IsNullOrEmpty())
                {
                    foreach (var copytransferform in Model.CopyTransferForms)
                    {
                        var name = $"{CopyTransferViewModel.NAME_PREFIX}{copytransferform.FormSetVersionID}_{copytransferform.FormTypeID}";
                        <div class="form-group">
                            <label class="control-label col-xs-5">@copytransferform.CombinedName()</label>
                            <div class="col-xs-7">
                                <div class="checkbox">
                                    <label><input name="@name" type="checkbox" @(copytransferform.Selected ? "checked disabled" : "")> (gewijzigd: @copytransferform.Timestamp.ToPointDateHourDisplay())</label>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-info">Geen formulieren gevonden</div>
                }
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.CopyTransferMemos, new { @class = "control-label col-xs-5" })
                    <div class="col-xs-5">
                        @Html.CheckBoxFor(m => m.CopyTransferMemos, new { @class = "checkbox-inline" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.CopyTransferAttachments, new { @class = "control-label col-xs-5" })
                    <div class="col-xs-5">
                        @Html.CheckBoxFor(m => m.CopyTransferAttachments, new { @class = "checkbox-inline" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CopyDossierTags, new { @class = "control-label col-xs-5" })
                    <div class="col-xs-5">
                        @Html.CheckBoxFor(m => m.CopyDossierTags, new { @class = "checkbox-inline" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-blue">
            <div class="panel-body bg-lightblue">
                <div class="text-right">
                    <button type="button" class="btn btn-default" onclick="cancel(this);" data-url="@Url.Action("Dashboard", new { transferID = Model.TransferID })">Annuleren</button>
                    <button type="submit" class="btn btn-primary">Kopieer dossier</button>
                </div>
            </div>
        </div>
    }
}