﻿@using Point.Database.Extensions;
@using Point.Models.Enums;

@model FlowInstance

@{
    IEnumerable<DashboardMenuItemViewModel> statusForms = ViewData.ContainsKey("statusForms") ? ViewData["statusForms"] as IEnumerable<DashboardMenuItemViewModel> : null;
    IEnumerable<DashboardMenuItemViewModel> extraForms = ViewData.ContainsKey("extraForms") ? ViewData["extraForms"] as IEnumerable<DashboardMenuItemViewModel> : null;

    var dashboardFields = ViewData["DashboardFlowFields"] as IEnumerable<FlowWebField>;
    var transferId = ViewData["TransferId"];
    var isClosed = (bool)ViewBag.IsClosed;
    var hasextraforms = (!isClosed && extraForms != null && extraForms.Count() > 0);
    var hasstatusforms = (statusForms != null && statusForms.Count() > 0);
    var lastInterruption = ViewBag.LastInterruption as FlowInstanceStatus;
}

<script>
    var overviewFlowInstanceUrl = '@Html.Raw(Url.Action("OverviewFlow", "FlowMain", new { TransferID = Model.TransferID, flowinstanceID = Model.FlowInstanceID }))';
    var overviewFormHistoryUrl = '@Html.Raw(Url.Action("Forms", "History", new { TransferID = Model.TransferID }))';
    var overviewCommunicationJournalUrl = '@Html.Raw(Url.Action("CommunicationJournal", "TransferMemo", new { TransferID = Model.TransferID, readOnly = false, FormTypeID = (int)FlowFormType.CommunicationJournal }))';
    var overviewAttachmentUrl = '@Html.Raw(Url.Action("List", "TransferAttachment", new { TransferID = Model.TransferID, readOnly = false }))';
    var overviewInterruptionsUrl = '@Html.Raw(Url.Action("OverviewInterruptions", "FlowMain", new { TransferID = Model.TransferID }))';
    var currentFlowInstanceID = parseInt('@Model.FlowInstanceID', 10);
</script>

<style type="text/css">
    .closed {
        opacity: 0.4;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/GlobalDashboard")

@if (Model != null)
{
    if (ViewBag.Timeout)
    {
        Html.RenderAction("Timeout", "PageLock", new { TransferID = Model.TransferID, UrlReferrer = HttpContext.Current.Request.UrlReferrer });
    }

    if (lastInterruption != null)
    {
        var reason = lastInterruption.Comment;

        if (!String.IsNullOrWhiteSpace(reason))
        {
            reason = "Reden: " + reason;
        }
        var interupted = String.Format("Onderbroken op {0} door {1}. {2}", lastInterruption.StatusDate.ToPointDateDisplay(), ViewBag.InterruptedEmployeeName, reason);
        <div class="alert alert-warning bg-yellow">@interupted</div>
    }

    if (isClosed)
    {
        <div class="alert alert-warning bg-yellow">Dit dossier is gesloten</div>
    }

    <div role="tabpanel">
        @if (ViewBag.IsCopy)
        {
            <div class="alert alert-warning" data-dismiss="alert" style="cursor:pointer;">
                Let op: U bevindt zich nu in het gekopieerde transferdossier. Indien gewenst kunt u dit dossier verplaatsen naar een andere organisatie/locatie/afdeling.
            </div>
        }
        
        <div id="overviewtabs" class="tab-content @(isClosed ? "closed" : "")">
            <div id="forms" class="tab-pane active fade in" style="min-height:50px;">
                <div class="panel panel-default bg-lightgray">
                    <div class="panel-body">
                        <div>
                            <h4>Stappen te doen</h4>
                            @{Html.RenderAction("OverviewFlow", "FlowMain", new { TransferID = Model.TransferID, flowinstanceID = Model.FlowInstanceID });}
                        </div>

                        @if (hasstatusforms || hasextraforms)
                        {
                            <h4>Formulieren</h4>
                            <table id="divFlowOverview" class="table">
                                @if (hasextraforms)
                                {
                                    foreach (var menuitem in extraForms)
                                    {
                                        <tr class="status_0 PhaseItem" title="@menuitem.Label">
                                            <td style="width:180px;">
                                                @Html.ActionLink(@menuitem.Label, "StartFlowForm", "FlowMain", new { TransferId = @menuitem.TransferID, PhaseDefinitionID = @menuitem.PhaseDefinitionID, FormTypeID = @menuitem.FormTypeID }, null)
                                            </td>
                                            <td>@menuitem.Text</td>
                                            <td class="hidden-sm hidden-xs" style="width:140px;"></td>
                                            <td class="hidden-sm hidden-xs" style="min-width:160px;"></td>
                                        </tr>
                                    }
                                    
                                }
                                @if (hasstatusforms)
                                {
                                    foreach (var menuitem in statusForms)
                                    {
                                        <tr class="status_@(menuitem.Status) PhaseItem" title="@menuitem.Label">
                                            <td style="width:180px;">
                                                @Html.ActionLink(@menuitem.Label, "StartFlowForm", "FlowMain", new { TransferId = @menuitem.TransferID, PhaseDefinitionID = @menuitem.PhaseDefinitionID, PhaseInstanceID = @menuitem.PhaseInstanceID }, null)
                                            </td>
                                            <td>@menuitem.Text</td>
                                            <td class="hidden-sm hidden-xs" style="width:140px;">@menuitem.LastModifiedOn.ToPointDateHourDisplay()</td>
                                            <td class="hidden-sm hidden-xs" style="min-width:160px;">@menuitem.LastModifiedBy</td>
                                        </tr>
                                    }
                                }
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist" id="tabsBottom" style="margin-bottom:5px;">
            <li class="active"><a data-target="#tabOverviewFlowFields" data-toggle="tab" href="#">Overzicht</a></li>
            <li class="hidden-xs"><a data-target="#tabHistory" data-toggle="tab" href="#" onclick="AjaxLoad(null, overviewFormHistoryUrl, '#tabHistory .panel-body')">Laatst gewijzigd</a></li>
            <li><a data-target="#tabTransferMemo" data-toggle="tab" href="#" onclick="AjaxLoad(null, overviewCommunicationJournalUrl, '#tabTransferMemo .panel-body')">Comm.journaal</a></li>
            <li><a data-target="#tabAttachment" data-toggle="tab" href="#" onclick="AjaxLoad(null, overviewAttachmentUrl, '#tabAttachment .panel-body')">Bijlagen</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabOverviewFlowFields">
                <div class="panel panel-default bg-lightgray">
                    <div class="panel-body">
                        @Html.Partial("OverviewFlowFields", dashboardFields)
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabHistory">
                <div class="panel panel-default bg-lightgray">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabTransferMemo">
                <div class="panel panel-default bg-lightgray">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabAttachment">
                <div class="panel panel-default bg-lightgray">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#tabsBottom a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
}
else
{
    <span>Model is null !!!</span>
}
