﻿@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums;
@using Point.MVC.WebApplication.Helpers;

@model FlowInstance

@{
    IEnumerable<DashboardMenuItemViewModel> statusForms = ViewData.ContainsKey("statusForms") ? ViewData["statusForms"] as IEnumerable<DashboardMenuItemViewModel> : null;
    IEnumerable<DashboardMenuItemViewModel> extraForms = ViewData.ContainsKey("extraForms") ? ViewData["extraForms"] as IEnumerable<DashboardMenuItemViewModel> : null;
    var dashboardFields = ViewData["DashboardFlowFields"] as IEnumerable<FlowWebField>;
    var transferId = ViewData["TransferId"];
    var isClosed = (bool)ViewBag.IsClosed;
    var isReadMode = ViewData.IsReadMode();
    var hasFormTab = (bool)ViewBag.HasFormTab;
    var hasextraforms = (hasFormTab && !isClosed && extraForms != null && extraForms.Count() > 0);
    var hasstatusforms = (hasFormTab && statusForms != null && statusForms.Count() > 0);
    var showformtab = (hasFormTab && (hasextraforms || hasstatusforms));
    bool HasFlowInstanceHistory = (bool)ViewBag.HasFlowInstanceHistory;
    var lastInterruption = ViewBag.LastInterruption as FlowInstanceStatus;
}

<script>
    var overviewFlowInstanceUrl = '@Html.Raw(Url.Action("OverviewFlow", "FlowMain", new { TransferID = Model.TransferID, flowinstanceID = Model.FlowInstanceID }))';
    var overviewFormHistoryUrl = '@Html.Raw(Url.Action("Forms", "History", new { TransferID = Model.TransferID }))';
    var overviewCommunicationJournalUrl = '@Html.Raw(Url.Action("CommunicationJournal", "TransferMemo", new { TransferID = Model.TransferID, readOnly = true, FormTypeID = (int)FlowFormType.CommunicationJournal }))';
    var overviewAttachmentUrl = '@Html.Raw(Url.Action("List", "TransferAttachment", new { TransferID = Model.TransferID, readOnly = true }))';
    var overviewInterruptionsUrl = '@Html.Raw(Url.Action("OverviewInterruptions", "FlowMain", new { TransferID = Model.TransferID }))';
    var dosserTagsUrl = '@Html.Raw(Url.Action("DossierTags", "DossierTag", new { TransferID = Model.TransferID }))';
    var currentFlowInstanceID = parseInt('@Model.FlowInstanceID', 10);
</script>

<style type="text/css">
    .closed {
        opacity: 0.4;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/GlobalDashboard")

<div id="dialogConfirmReopen" class="modal fade" role="dialog" aria-hidden="true" title="Dit dossier is gesloten">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b>Dit dossier is gesloten</b>
            </div>
            <div class="modal-body">
                Wilt u het dossier heropenen?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Nee</button>
                <button type="button" data-dismiss="modal" onclick="Reopen(this)" class="btn btn-primary" id="btnReopen">Ja</button>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    if (ViewBag.Timeout)
    {
        Html.RenderAction("Timeout", "PageLock", new { TransferID = Model.TransferID, UrlReferrer = HttpContext.Current.Request.UrlReferrer });
    }

    if (lastInterruption != null)
    {
        var reason = lastInterruption.Comment;

        if (!String.IsNullOrWhiteSpace(reason))
        {
            reason = "Reden: " + reason;
        }
        var interupted = String.Format("Onderbroken op {0} door {1}. {2}", lastInterruption.StatusDate.ToPointDateDisplay(), ViewBag.InterruptedEmployeeName, reason);
        <div class="alert alert-warning bg-yellow">@interupted</div>
    }

    if (isClosed)
    {
        <div class="alert alert-warning bg-yellow">Dit dossier is gesloten</div>
    }
    
    <div role="tabpanel">
        @if (ViewBag.IsCopy)
        {
            <div class="alert alert-warning" data-dismiss="alert" style="cursor:pointer;">
                Let op: U bevindt zich nu in het gekopieerde transferdossier. Indien gewenst kunt u dit dossier verplaatsen naar een andere organisatie/locatie/afdeling.
            </div>
        }
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom:5px;">
            @if (showformtab)
            {
                <li class="active"><a data-target="#forms" data-toggle="tab" href="#">Formulieren</a></li>
            }
            <li class="@(showformtab ? "" : "active")"><a data-target="#phasedefinitionTabPane" data-toggle="tab" href="#" onclick="loadPhaseDefinitionsTabData()">Fasen</a></li>
            <li><a data-target="#dossierTagsTabPage" data-toggle="tab" href="#" onclick="loaddossierTagsTabData()">Kenmerken</a></li>
        </ul>
        <div id="overviewtabs" class="tab-content @(isClosed ? "closed" : "")">
            @if (showformtab)
            {
                <div id="forms" class="tab-pane active fade in" style="min-height:50px;">
                    <div class="panel panel-default">
                        <div class="panel-body bg-lightgray">
                            @if (hasstatusforms || hasextraforms)
                            {
                                <h4>Formulieren</h4>
                                <table id="divFlowOverview" class="table">
                                    @if (hasextraforms)
                                    {

                                        foreach (var menuitem in extraForms)
                                        {
                                            var url = MenuHelper.GetUrl(Url, menuitem.TransferID, menuitem.PhaseDefinitionID, null, null);

                                            <tr class="status_0 PhaseItem" title="@menuitem.Label">
                                                <td>
                                                    <span class="glyphicon spacer"></span>
                                                    <a href="@url">@menuitem.Label</a>
                                                </td>
                                                <td>@menuitem.Text</td>
                                                <td colspan="2"></td>
                                            </tr>
                                        }

                                    }
                                    @if (hasstatusforms)
                                    {
                                        foreach (var menuitem in statusForms)
                                        {
                                            var url = MenuHelper.GetUrl(Url, menuitem.TransferID, menuitem.PhaseDefinitionID, menuitem.PhaseInstanceID, null);
                                            <tr class="status_@(menuitem.Status) PhaseItem" title="@menuitem.Label">
                                                <td>
                                                    <span class="glyphicon spacer"></span>
                                                    <a href="@url">@menuitem.Label</a>
                                                </td>
                                                <td>@menuitem.Text</td>
                                                <td style="width:160px;">@menuitem.LastModifiedOn.ToPointDateHourDisplay()</td>
                                                <td style="min-width:200px;">@menuitem.LastModifiedBy</td>
                                            </tr>
                                        }
                                    }
                                </table>
                            }
                        </div>
                    </div>
                </div>
            }
            <div id="phasedefinitionTabPane" class="tab-pane @(showformtab ? "" : "active")">
                <div class="panel panel-default">
                    <div class="panel-body bg-lightgray">
                        <div id="phaseDefinitions">
                        </div>
                    </div>
                </div>
            </div>
            <div id="dossierTagsTabPage" class="tab-pane">
                <div class="panel panel-default">
                    <div class="panel-body bg-lightgray">
                        <div id="dossierTagsContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist" id="tabsBottom" style="margin-bottom:5px;">
            <li class="active"><a data-target="#tabOverviewFlowFields" data-toggle="tab" href="#">Overzicht</a></li>
            <li><a data-target="#tabHistory" data-toggle="tab" href="#" onclick="AjaxLoad(null, overviewFormHistoryUrl, '#tabHistory .panel-body')">Laatst gewijzigd</a></li>
            @if (ViewBag.HasTransferMemo == true)
            {
                <li><a data-target="#tabTransferMemo" data-toggle="tab" href="#" onclick="AjaxLoad(null, overviewCommunicationJournalUrl, '#tabTransferMemo .panel-body')">Communicatiejournaal</a></li>
            }
            @if (ViewBag.HasAttachment == true)
            {
                <li><a data-target="#tabAttachment" data-toggle="tab" href="#" onclick="AjaxLoad(null, overviewAttachmentUrl, '#tabAttachment .panel-body')">Bijlagen</a></li>
            }
            @if (HasFlowInstanceHistory)
            {
                <li><a data-target="#flowInstanceHistory" data-toggle="tab" href="#" onclick="AjaxLoad(null, overviewInterruptionsUrl, '#flowInstanceHistory .panel-body')">Historie onderbreken/afsluiten</a></li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabOverviewFlowFields">
                <div class="panel panel-default">
                    <div class="panel-body bg-lightgray">
                        @Html.Partial("OverviewFlowFields", dashboardFields)
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabHistory">
                <div class="panel panel-default">
                    <div class="panel-body bg-lightgray">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabTransferMemo">
                <div class="panel panel-default">
                    <div class="panel-body bg-lightgray">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabAttachment">
                <div class="panel panel-default">
                    <div class="panel-body bg-lightgray">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="flowInstanceHistory">
                <div class="panel panel-default">
                    <div class="panel-body bg-lightgray">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#tabsBottom a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
}
else
{
    <span>Model is null !!!</span>
}
