﻿@using Point.MVC.WebApplication.Extensions
@{
    bool isallowed = ViewBag.IsAllowed;
    var searchUrl = Url.Action("Search", "Transfer");
}

<script type="text/javascript">
    var formID = "#deleteTransferForm";
    var autoRedirectUrl = "@searchUrl";
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/DeleteTransfer")

<div class="panel panel-blue">
    <div class="panel-heading">
        @if (isallowed)
        {
            <text>Bevestig verwijderen dossier</text>
        }
        else
        {
            <text>U kunt dit dossier niet verwijderen met de aan u toegewezen rol</text>
        }
    </div>
    @if (isallowed)
    {
        <div class="panel-body bg-lightblue">
            @using (Html.BeginForm("DeleteTransfer", "FlowMain", FormMethod.Post, new { id = "deleteTransferForm", @class = "form-horizontal" }))
            {
                <input type="hidden" name="TransferID" value="@ViewBag.TransferID" />
                <input type="hidden" name="Digest" value="@AntiFiddleInjection.CreateDigest(ViewBag.TransferID)" />

                <div>
                    Weet u zeker dat u dit dossier wilt verwijderen?<br />
                    Dit proces is NIET terug te draaien en alle gegevens zullen verloren gaan!<br />
                    <br />
                </div>

                <button type="submit" class="btn btn-primary">Ja</button>
                @Html.ActionLink("Nee", "Dashboard", "FlowMain", new { transferID = ViewBag.TransferID }, new { @class = "btn btn-default" })
            }
        </div>
    }
</div>