﻿@model FlowInterruptionViewModel

<script type="text/javascript">
    var formID = "#flowInterruptionForm";
    var formRequestUrl = "@Html.Raw(Url.Action("InterruptTransfer", "FlowMain"))";

    $(function () {
        $(window).on("resize", function () {
            var height = GetScrollHeight();
            $("#Scroller").css("height", height);
            $("#Scroller").css("max-height", height);
        });
        $(window).trigger("resize");
    });
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")

<div id="Scroller" class="pre-scrollable">
    <div class="panel panel-blue">
        <div class="panel-heading">
            Vul de datum en de reden van onderbreken in
        </div>
        <div class="panel-body bg-lightblue">
            @using (Html.BeginForm("InterruptTransfer", "FlowMain", FormMethod.Post, new { id = "flowInterruptionForm", @class = "form-horizontal" }))
        {
                @Html.ValidationSummary(true)
                @Html.AntiFiddleTokenFor(m => m.TransferID)
                @Html.HiddenFor(m => m.TransferID)
                @Html.HiddenFor(m => m.SignalOnSave)
                <div class="form-group">
                    @Html.LabelFor(model => model.InterruptionDate, htmlAttributes: new {@class = "control-label col-xs-2" })
					<div class="col-xs-3">
						<div class="input-group date">
							@Html.TextBoxFor(m => m.InterruptionDate, "{0:dd-MM-yyyy}", new { @class = "form-control date", data_dateformat = "dd-MM-yyyy", data_datetime = "date", autocomplete="off"})
							<span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>	
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.InterruptionReason, new { @class = "control-label col-xs-2" })
                    <div class="col-xs-7">
                        @Html.TextAreaFor(m => m.InterruptionReason, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-7">
                        <a class="btn btn-default pull-left" href="@Url.Action("Dashboard", new { Model.TransferID})">Annuleren</a>
                        <input type="submit" id="btnEditFlowInterruption" class="btn btn-primary pull-right" value="Onderbreken" />
                    </div>
                </div>
        }
        </div>
    </div>
</div>