﻿@model NewFlowInstanceViewModel

@{
    var selectedDepartment = "";
    int.TryParse(Model.DepartmentIDReference, out var preselectDepartment);

    if (preselectDepartment <= 0)
    {
        selectedDepartment = Model.MultipleDepartments?.Count == 1 ? Model.MultipleDepartments.First().Value : "-1";
    }
    else { selectedDepartment = preselectDepartment.ToString(); }
}

<script type="text/javascript">
    var formID = "#newFlowInstanceForm";
    var formRequestUrl = "@Html.Raw(Url.Action("BeginFlowForm", "FlowMain"))";
    var overviewPhaseDefinitionUrl = "@Url.Action("OverviewPhaseDefinition","FlowMain")";
    var hasMultipleDepartments = @Model.HasMultipleDepartments.ToString().ToLower();
    var hasMultipleFlowDefinitions = @Model.HasMultipleFlowDefinitions.ToString().ToLower();
    var urlGetAllowedFlowDefinitionsByDepartment = "@Url.Action("GetAllowedFlowDefinitionsByDepartment", "FlowMain")";
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/NewFlowInstance")


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "newFlowInstanceForm" }))
{
    if (Model.HasMultipleDepartments)
    {
        <div class="panel panel-blue" id="selectDepartmentPanel">
            <div class="panel-heading">Selecteer een afdeling / team</div>
            <div class="panel-body bg-lightblue autoscroller">
                <div id="departments" class="col-md-4">
                    @Html.DropDownList("DepartmentID", Model.MultipleDepartments.ToSelectListItems(d => d.Text, d => d.Value, d => d.Value == selectedDepartment, "<Maak een keuze>", "-1"), 
                   new { @class = "form-control"})
                </div>
            </div>
        </div>  
    }
    <div class="panel panel-blue" id="flowDefinitionPanel">
        <div class="panel-heading">
            Transfer type
        </div>
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                <div class="col-md-4">   
                    @Html.DropDownList("FlowDefinitionID", Model.FlowDefinitions.ToSelectListItems
                   (d => d.Text, d => d.Value ,d=> d.Value == (Model.FlowDefinitions.Count() == 1 ? Model.FlowDefinitions.First().Value : "-1"), "Selecteer een transfertype", "-1"),
                   new { @class = "form-control"})
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-blue" id="phaseDefinitionsPanel">
        <div class="panel-heading">Deze transfer bestaat uit de volgende stappen</div>
        <div class="panel-body bg-lightblue">
            <div id="phaseDefinitions" class="col-xs-12"></div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
                        if (!hasMultipleFlowDefinitions && !hasMultipleDepartments) {
                            PhaseButtonStart();
                        }
                    })
</script>

