﻿@using Point.Models.Enums
@using Point.Database.Extensions
@model IEnumerable<FlowInstanceStatus>

<h4>Historie onderbreken/afsluiten</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 130px;">Datum</th>
            <th style="width:130px;">Type</th>
            <th style="width:250px;">Door</th>
            <th>Reden</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StatusDate.ToPointLongDisplay()</td>
                <td>@item.FlowInstanceStatusTypeID.GetDescription()</td>
                <td>@item.Employee.FullName()</td>
                <td>@item.Comment</td>
            </tr>
        }
    </tbody>
</table>