﻿@using Point.Database.Extensions
@model List<FlowPhaseViewModel>

<style>
    .spacer {
        width: 12px;
    }
</style>
<script type="text/javascript">
    function Reopen() {
        location.replace($("#btnReopen").attr("data-location"));
    }
    function ConfirmReopen(reopenlink) {
        $("#btnReopen").attr("data-location", reopenlink);
        $("#dialogConfirmReopen").modal('show');
    }
</script>

@if (Model != null && Model.Count() > 0)
{
    <table id="divFlowOverview" class="table">
        @foreach (var item in Model)
        {
            if (item.PhaseNum < 0) { continue; }

            string glyphiconIcon = "spacer";
            string statusClass = "status_" + (int)item.State;

            if (item.Inactive == true)
            {
                statusClass = "";
            }
            else if (item.Inactive == false && item.State == FlowPhaseViewModel.PhaseState.Active)
            {
                if (item.State == FlowPhaseViewModel.PhaseState.Active)
                {
                    glyphiconIcon = "glyphicon-option-horizontal";
                }
                else if (item.State == FlowPhaseViewModel.PhaseState.Done)
                {
                    glyphiconIcon = "glyphicon-ok";
                }
            }

            <tr class="row @statusClass" title="@item.PhaseDescription">
                @{
                    IHtmlString phaseDesc = Html.Raw(item.PhaseDescription);
                    if (item.Inactive == false && item.State != FlowPhaseViewModel.PhaseState.NotActive)
                    {
                        phaseDesc = Html.Raw(Html.ActionLink(item.PhaseDescription, "StartFlowForm", new { TransferID = ViewBag.TransferID, PhaseDefinitionID = item.PhaseDefinitionID, PhaseInstanceID = item.PhaseInstanceID }));

                        if (item.PhaseDefinitionEndFlow && item.State == FlowPhaseViewModel.PhaseState.Done)
                        {
                            var reopenlink = Url.Action("ReopenTransfer", new { TransferID = ViewBag.TransferID, PhaseDefinitionID = item.PhaseDefinitionID, PhaseInstanceID = item.PhaseInstanceID });
                            phaseDesc = Html.Raw("<a href='#' onclick=\"ConfirmReopen('" + @reopenlink + "');\">" + item.PhaseDescription + "</a>");
                        }
                    }

                    var phasenum = (item.PhaseNum % 1 == 0) ? decimal.Round(item.PhaseNum) : item.PhaseNum;
                }
                <td style="width:110px;"><span class="glyphicon @glyphiconIcon">&nbsp;</span>Fase @phasenum</td>
                <td class="hidden-xs" style="width:80px;">@item.Executor</td>
                <td>@phaseDesc</td>
                <td class="hidden-xs" style="width:140px;">@item.StateDate.ToPointDateHourDisplay()</td>
                <td class="hidden-xs hidden-sm" style="min-width:160px;">@item.LastUpdateBy</td>

            </tr>
        }
    </table>
}