﻿@using Point.MVC.WebApplication.Extensions
@model IEnumerable<FlowWebField>

<div id="overviewfields">
    @if (Model.Count() == 0)
    {
        <div class="row">
            <div class="col-md-3">
                <span>Nog geen gegevens beschikbaar</span>
            </div>
        </div>
    }
    else
    {
        using (var form = Html.BeginFlowForm("fakeform", FormMethod.Post, new Dictionary<string, object>() { { "id", "fakeform" }, { "class", "form-horizontal" } }, 3, 9))
        {
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    @foreach (var item in Model.Take(Model.Count() / 2))
                    {
                        <div class="form-group">
                            @form.FlowLabel(Model, item.Name, overrideLabelSize: 7)
                            <div class="col-xs-5">
                                <input type="text" name="@(item.Name + "overview")" value="@Html.FlowValueString(Model, item.Name, withlookup: true)" disabled class="form-control" />
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    @foreach (var item in Model.Skip(Model.Count() / 2))
                    {
                        <div class="form-group">
                            @form.FlowLabel(Model, item.Name, overrideLabelSize: 7)
                            <div class="col-xs-5">
                                <input type="text" name="@(item.Name + "overview")" value="@Html.FlowValueString(Model, item.Name, withlookup: true)" disabled class="form-control" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
