﻿@model RelocateDossierViewModel

<script type="text/javascript">
    var formID = "#relocateDepartmentForm";
</script>

@{
    var departmentsItemList = ViewBag.Departments as IEnumerable<SelectListItem>;
}

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RelocateDepartment")

@using (Html.BeginForm("RelocateDepartment", "FlowMain", FormMethod.Post, new { id = "relocateDepartmentForm", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.FlowInstanceID)
    @Html.AntiFiddleTokenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.OrganizationTypeID)
    @Html.HiddenFor(m => m.FlowDefinitionID)
    @Html.HiddenFor(m => m.CanHaveNewDestinationRoomNumber)

    <section class="panel panel-blue" data-section="Huidige dossier gegevens">
        <div class="panel-heading">
            <span id="HeadingText">Verplaatst dossier naar andere afdeling</span>
        </div>
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                @Html.LabelFor(m => m.SourceOrganizationName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceOrganizationName, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SourceLocationName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceLocationName, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SourceDepartmentName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceDepartmentName, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SourceRoomNumber, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceRoomNumber, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
    </section>

    <section id="actionPanel" class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                @Html.LabelFor(m => m.DestinationDepartmentID, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.DestinationDepartmentID, departmentsItemList, new { @class = "form-control" })
                </div>
            </div>
            @if (Model.CanHaveNewDestinationRoomNumber)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.DestinationRoomNumber, new { @class = "control-label col-xs-3" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.DestinationRoomNumber, new { @class = "form-control" })
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(m => m.ReasonForRelocation, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextAreaFor(m => m.ReasonForRelocation, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-10">
                    @Html.ActionLink("Annuleren", "Dashboard", "FlowMain", new { transferID = Model.TransferID }, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Verplaatsen</button>
                </div>
            </div>
        </div>
    </section>
}
<div id="movedmodal" class="modal" role="dialog" aria-hidden="true" title="Verplaatst dossier naar andere afdeling">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><b>Verplaatst dossier naar andere afdeling</b></div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="btnmovedok">Ok</button>
            </div>
        </div>
    </div>
</div>
