﻿@using Point.Models.Enums;
@model RelocateDossierViewModel

@{
    var flowdefinitionid = (int)Model.FlowDefinitionID;
}

<script type="text/javascript">
    var formID = "#relocateOrganizationForm";
    var jsFlowDefinitionID = parseInt('@flowdefinitionid', 10);
    var jsGetLocationsByOrganizationAndFlowDefinitionID = '@Html.Raw(Url.Action("GetLocationsByOrganizationAndFlowDefinitionID", "LookUp"))';
    var jsGetDepartmentsByLocation = '@Html.Raw(Url.Action("GetDepartmentsByLocation", "LookUp"))';
    var jsGetTransferPointsByLocation = '@Html.Raw(Url.Action("GetTransferPointsByLocation", "LookUp"))';
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/RelocateOrganization")

@{
    string searchOrganizationUrl = Url.Action("OrganizationSearch", "OrganizationSearch", new
    {
        Model.OrganizationTypeID,
        Model.FlowDefinitionID,
        FlowDirection = FlowDirection.Sending
    });
    string jsSearchOrganization = string.Concat("SearchOrganization(this, '", searchOrganizationUrl, "', PutOrganisation);");

    var emptySelectItemList = new List<SelectListItem>();
}

@using (Html.BeginForm("RelocateOrganization", "FlowMain", FormMethod.Post, new { id = "relocateOrganizationForm", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.FlowInstanceID)
    @Html.AntiFiddleTokenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.OrganizationTypeID)
    @Html.HiddenFor(m => m.FlowDefinitionID)
    @Html.HiddenFor(m => m.CanHaveNewDestinationRoomNumber)

    <section class="panel panel-blue" data-section="Huidige dossier gegevens">
        <div class="panel-heading">
            <span id="HeadingText">Verplaatst dossier naar andere organisatie</span>
        </div>
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                @Html.LabelFor(m => m.SourceOrganizationName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceOrganizationName, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SourceLocationName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceLocationName, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SourceDepartmentName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceDepartmentName, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SourceRoomNumber, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.SourceRoomNumber, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
    </section>

    <section id="actionPanel" class="panel panel-blue">
        <div class="panel-body bg-lightblue">
            <div class="form-group">
                @Html.LabelFor(m => m.DestinationOrganizationName, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.DestinationOrganizationName, new { id = "DestinationOrganizationName", @class = "form-control", @rreadonly = true, onclick = jsSearchOrganization })
                        @Html.HiddenFor(m => m.DestinationOrganizationID)
                        <span id="btnSearchOrganization" class="input-group-addon" style="cursor:pointer;" onclick="@jsSearchOrganization">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DestinationLocationID, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.DestinationLocationID, emptySelectItemList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DestinationDepartmentID, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.DestinationDepartmentID, emptySelectItemList, new { @class = "form-control" })
                </div>
            </div>
            @if (Model.CanHaveNewDestinationRoomNumber)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.DestinationRoomNumber, new { @class = "control-label col-xs-3" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.DestinationRoomNumber, new { @class = "form-control" })
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(m => m.ReasonForRelocation, new { @class = "control-label col-xs-3" })
                <div class="col-xs-5">
                    @Html.TextAreaFor(m => m.ReasonForRelocation, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-10">
                    @Html.ActionLink("Annuleren", "Dashboard", "FlowMain", new { transferID = Model.TransferID }, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Verplaatsen</button>
                </div>
            </div>
        </div>
    </section>
}
<div id="movedmodal" class="modal" role="dialog" aria-hidden="true" title="Verplaatst dossier naar andere organisatie">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><b>Verplaatst dossier naar andere organisatie</b></div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="btnmovedok">Ok</button>
            </div>
        </div>
    </div>
</div>