﻿@using Point.MVC.WebApplication.Extensions

@{
    bool isallowed = ViewBag.IsAllowed;

    var dashboardUrl = Url.Action("Dashboard", "FlowMain", new { transferID = ViewBag.TransferID });
}

<script type="text/javascript">
    var formID = "#reopenTransferForm";
    var autoRedirectUrl = "@dashboardUrl";
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/ReopenTransfer")

<div class="panel panel-blue">
    <div class="panel-heading">
        @if (isallowed)
        {
            <text>Weet u zeker dat u dit dossier wilt heropenen?</text>
        }
        else
        {
            <text>U kunt dit dossier niet heropenen in deze rol</text>
        }
    </div>
    @if (isallowed)
    {
        <div class="panel-body bg-lightblue">
            @using (Html.BeginForm("ReopenTransfer", "FlowMain", FormMethod.Post, new { id = "reopenTransferForm", @class = "form-horizontal" }))
            {
                <input type="hidden" name="TransferID" value="@ViewBag.TransferID" />

                <button type="submit" class="btn btn-primary">Ja</button>
                @Html.ActionLink("Nee", "Dashboard", "FlowMain", new { transferID = ViewBag.TransferID }, new { @class = "btn btn-default" })
            }
        </div>
    }
</div>