﻿@model FlowResumeViewModel

<script type="text/javascript">
    var formID = "#flowResumeForm";
    var formRequestUrl = "@Html.Raw(Url.Action("ResumeTransfer", "FlowMain"))";
</script>

@Scripts.Render("~/Bundles/Scripts/FormType")

<div class="panel panel-blue">
    <div class="panel-heading">
        Vul de datum en de reden van hervatten in
    </div>
    <div class="panel-body bg-lightblue">
        @using (Html.BeginForm("ResumeTransfer", "FlowMain", FormMethod.Post, new { id = "flowResumeForm", @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiFiddleTokenFor(m => m.TransferID)
            @Html.HiddenFor(m => m.TransferID)
            @Html.HiddenFor(m => m.SignalOnSave)
            @Html.HiddenFor(m => m.RedirectFormTypeID)

            if (Model.HasActiveReciever)
            {
                <div class="row">
                    <label class="control-label col-xs-2">Waarschuwing</label>
                    <div class="col-xs-7">
                        <div class="alert alert-danger">
                            <b>Let op: dit dossier is reeds aangeboden aan @Model.ActiveRecieverName.</b><br />
                            <br />
                            Vanwege de gewijzigde situatie a.g.v. de onderbreking wilt u dit mogelijk intrekken. <br />
                            Na hervatten van het dossier kunt u dit doen via "Intrekken dossier".
                        </div>
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.ResumeDate, htmlAttributes: new { @class = "control-label col-xs-2" })
				<div class="col-xs-3">
					<div class="input-group date">
						@Html.TextBoxFor(m => m.ResumeDate, "{0:dd-MM-yyyy}", new { @class = "form-control date", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
						<span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>	
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ResumeReason, new { @class = "control-label col-xs-2" })
                <div class="col-xs-7">
                    @Html.TextAreaFor(m => m.ResumeReason, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-7">
                    <a class="btn btn-default pull-left" href="@Url.Action("Dashboard", new { Model.TransferID})">Annuleren</a>
                    <input type="submit" id="btnEditFlowResume" class="btn btn-primary pull-right" value="Hervatten" />
                </div>
            </div>
        }
    </div>
</div>