﻿@using Point.Database.Models
@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.EmployeeViewModel
@{
    var organizations = (List<Organization>)ViewBag.Organizations;
    var locations = (List<Location>)ViewBag.Locations;
    var departments = (List<Department>)ViewBag.Departments;
    var organizationisdeleted = (bool?)ViewBag.OrganizationIsDeleted;
    var locationisdeleted = (bool?)ViewBag.LocationIsDeleted;
    var primarydepartmentisdeleted = (bool?)ViewBag.PrimaryDepartmentIsDeleted;
}

<script type="text/javascript">
    function OrganizationChanged(sender) {
        $.get("@Url.Content("~/Lookup/GetLocationsByOrganization")", { OrganizationID: $(sender).val() }, function (data) {
            fillSelectWithOptions($("#LocationID"), data, { Value: "", Text: " - selecteer - " });
        });

        $("#btnAddOrtherDepartment").data("OrganizationID", $(sender).val());
        $("#DepartmentID").val("");
        $("#DepartmentID").find("option").remove();

        var data = { OrganizationID: $(sender).val() };

        $("#divFunctionRoleTypeIDs .checkbox").show();
        $("#divFunctionRoleTypeIDs input").removeAttr('checked');
        $.getJSON(hiddenFunctionRoleTypeIDSByOrganizationIDUrl, data, function (data) {
            var items = [];
            $.each(data, function (key, val) {
                $("#divFunctionRoleTypeIDs input[value='" + val + "']").closest(".checkbox").hide();
            });
        });
    }
    function LocationChanged(sender) {
        $.get("@Url.Content("~/Lookup/GetAllDepartmentsByLocationID")", { LocationID: $(sender).val() }, function (data) {
            fillSelectWithOptions($("#DepartmentID"), data, { Value: "", Text: " - selecteer - " });
        });
    }
    function DepartmentChanged(sender) {
        var data = { DepartmentID: $(sender).val() };

        $("#specialrights .form-group").show();
        $("#specialrights input").removeAttr('checked');
        $.getJSON(hiddenFunctionsByDepartmentIDUrl, data, function (data) {
            var items = [];
            $.each(data, function (key, val) {
                $("#" + val).closest(".form-group").hide();
            });
        });
    }
</script>

<div class="form-group">
    @Html.LabelFor(m => m.OrganizationID, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @{
            var selectlist = new SelectList(organizations, "OrganizationID", "Name", Model.OrganizationID.ToString()).ToList();
            selectlist.Insert(0, new SelectListItem() { Text = " - Maak uw keuze - ", Value = "" });

            object defaultattribs = new { @class = "form-control", onchange = "OrganizationChanged(this)" };
            object readonlyattribs = new { @class = "form-control", onchange = "OrganizationChanged(this)", @disabled = "disabled" };
        }

        @Html.DropDownListFor(m => m.OrganizationID, selectlist, Model.EmployeeID == 0 ? defaultattribs : readonlyattribs)
        @if(Model.EmployeeID > 0)
        {
            @Html.HiddenFor(m => m.OrganizationID)
        }
    </div>
</div>
@if (organizationisdeleted == true)
{
<div class="row">
    <div class="col-xs-offset-4 col-xs-8">
        <div class="alert alert-warning">
            Deze organisatie is niet actief! Deze gebruiker kan daardoor o.a. niet inloggen.
        </div>
    </div>
</div>
}
<div class="form-group">
    @Html.LabelFor(m => m.LocationID, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureDropDownListFor(m => m.LocationID, new SelectList(locations, "LocationID", "Name", Model.LocationID.ToString()), htmlAttributes: new { @class = "form-control", onchange = "LocationChanged(this)" })
    </div>
</div>
@if (locationisdeleted == true)
{
<div class="row">
    <div class="col-xs-offset-4 col-xs-8">
        <div class="alert alert-warning">
            Deze locatie is niet actief! Deze gebruiker kan daardoor o.a. niet inloggen.
        </div>
    </div>
</div>
}
<div class="form-group">
    @Html.LabelFor(m => m.DepartmentID, htmlAttributes: new { @Class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureDropDownListFor(m => m.DepartmentID, new SelectList(departments, "DepartmentID", "Name", Model.DepartmentID.ToString()), htmlAttributes: new { @class = "form-control", onchange = "DepartmentChanged(this)" })
    </div>
</div>
@if (primarydepartmentisdeleted == true)
{
<div class="row">
    <div class="col-xs-offset-4 col-xs-8">
        <div class="alert alert-warning">
            Deze afdeling is niet actief! Deze gebruiker kan daardoor o.a. niet inloggen.
        </div>
    </div>
</div>
}