﻿@using Point.Models.Enums
@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.EmployeeViewModel

<script type="text/javascript">
    function SwitchReportingFunctionOnOff(sender)
    {
        if ($(sender).is(":checked"))
        {
            $("#ReportingLevelID").removeAttr("disabled");
        } else {
            $("#ReportingLevelID").attr("disabled", "disabled");
        }
    }

    function SwitchFunctionRoleTypeIDsOnOff(sender)
    {
        var level = $(sender).val();
        if (level != "0")
        {
            $("#divFunctionRoleTypeIDs input").removeAttr("disabled");
            SwitchDossierAdminLevelOnOff();
        } else {
            $("#divFunctionRoleTypeIDs input").attr("disabled", "disabled").removeAttr('checked');
            SwitchDossierAdminLevelOnOff();
        }
    }

    function SwitchDossierAdminLevelOnOff() {
        var typeids = [];
        $("#divFunctionRoleTypeIDs input:checked").each(function () {
            typeids.push($(this).val());
        });

        if ($.inArray('23', typeids) > -1 || $.inArray('999', typeids) > -1) {
            $("#maxDossierLevelAdminLevel").show();
        } else {
            $("#maxDossierLevelAdminLevel").hide().find("select").val('0');
        }
    }
</script>

<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.DossierLevelID)
        <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.DossierLevelID)" data-content="Hier kan worden aangegeven of de medewerker alleen dossiers mag zien van de afdeling waar zij/hij toe behoort, of van de hele locatie, organisatie of regio."><span class="glyphicon glyphicon-info-sign"></span></span>
    </label>
    <div class="col-xs-5">
        @if (Model.AllowedDossierLevelIDs != null)
        {
            @Html.EnumDropDownListLimitedFor(m => m.DossierLevelID, Model.AllowedDossierLevelIDs, htmlAttributes: new { @class = "form-control" })

        } else
        {
            @Html.HiddenFor(m => m.DossierLevelID);
            @Model.DossierLevelID.GetDescription();
        }

    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.FunctionRoleLevelID)
        <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.FunctionRoleLevelID)" data-content="Hier kan worden aangegevens welke beheerfuncties de medewerker mag uitvoeren en op welk niveau dat mag. Het ingestelde niveau geldt voor alle aangevinkte beheerfuncties."><span class="glyphicon glyphicon-info-sign"></span></span>
    </label>
    @if (Model.AllowedFunctionRoleLevelIDs != null)
    {
        <div class="col-xs-2">
            @Html.SecureEnumDropDownListLimitedFor(m => m.FunctionRoleLevelID, Model.AllowedFunctionRoleLevelIDs, new { @class = "form-control", onchange = "SwitchFunctionRoleTypeIDsOnOff(this)" })
        </div>
        <div class="col-xs-3" id="divFunctionRoleTypeIDs">
            @if (Model.FunctionRoleLevelID == FunctionRoleLevelID.None)
            {
                @Html.EnumCheckBoxListFor(m => m.FunctionRoleTypeIDs, Model.AllowedFunctionRoleTypeIDs.Where(it => it != FunctionRoleTypeID.Reporting && it != FunctionRoleTypeID.MaxDossierLevelAdmin),  new { disabled = "disabled", onclick = "SwitchDossierAdminLevelOnOff(this)" })
            }
            else
            {
                @Html.EnumCheckBoxListFor(m => m.FunctionRoleTypeIDs, Model.AllowedFunctionRoleTypeIDs.Where(it => it != FunctionRoleTypeID.Reporting && it != FunctionRoleTypeID.MaxDossierLevelAdmin), new { onclick = "SwitchDossierAdminLevelOnOff(this)" })
            }
        </div>
    }
    else
    {
        <div class="col-xs-2">
            @Html.HiddenFor(m => m.FunctionRoleLevelID)@Model.FunctionRoleLevelID.GetDescription()
        </div>
        <div class="col-xs-3">
            @foreach (var item in Model.FunctionRoleTypeIDs)
            {
                <div>@Html.Hidden("FunctionRoleTypeIDs", item)@item.GetDescription()</div>
            }
        </div>
    }

</div>
<div class="form-group" id="maxDossierLevelAdminLevel" style="@(Model.ShowAlterDossierAdminLevel ? "" : "display:none")">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.MaxDossierLevelAdminLevelID)
        <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MaxDossierLevelAdminLevelID)" data-content="Hier kan voor de beheerder worden ingesteld tot welk niveau zij/hij de dossier toegang mag instellen/wijzigen bij de te beheren medewerkers. Dit ingestelde niveau is tevens bepalend of de beheerder het password mag resetten. Alleen als het ingestelde niveau groter of gelijk is aan het dossier toegangsniveau van de te beheren medewerker dan kan de beheerder het password resetten."><span class="glyphicon glyphicon-info-sign"></span></span>
    </label>
    <div class="col-xs-5">
        @if (Model.AllowedDossierAdminLevelsIDs != null)
        {
            @Html.SecureEnumDropDownListLimitedFor(m => m.MaxDossierLevelAdminLevelID, Model.AllowedDossierAdminLevelsIDs, new { @class = "form-control" })
        }
        else
        {
            <div>@Html.HiddenFor(m => m.MaxDossierLevelAdminLevelID)@Model.MaxDossierLevelAdminLevelID.GetDescription()</div>
        }
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.ReportingLevelID)
        <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.ReportingLevelID)" data-content="Hier kan worden aangegeven of de medewerker rapportages mag zien (vinkje aan/uit) en op welk niveau de rapportages zijn in te zien."><span class="glyphicon glyphicon-info-sign"></span></span>
    </label>
    <div class="col-xs-5">
        <div class="input-group">
            @if (Model.AllowedReportingLevelIDs != null)
            {
                <span class="input-group-addon">
                    @Html.CheckBoxFor(m => m.ReportingFunction, new { @class = "checkbox-inline", onclick = "SwitchReportingFunctionOnOff(this)" })
                </span>
                if (Model.ReportingFunction == true)
                {
                    @Html.SecureEnumDropDownListLimitedFor(m => m.ReportingLevelID, Model.AllowedReportingLevelIDs, new { @class = "form-control" })
                }
                else
                {
                    @Html.SecureEnumDropDownListLimitedFor(m => m.ReportingLevelID, Model.AllowedReportingLevelIDs, new { @class = "form-control", disabled = "disabled" })
                }
            }
            else 
            {
                <div>@Html.HiddenFor(m => m.ReportingFunction)@Html.HiddenFor(m => m.ReportingLevelID)@Model.ReportingLevelID.GetDescription()</div>
            }
        </div>
    </div>
</div>