﻿@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.EmployeeViewModel

<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MiddleName, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.MiddleName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Gender, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureNullableEnumRadioButtonListFor(m => m.Gender)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Function, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.Function, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ZISID, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.ZISID, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.BIGNR, new { @class = "control-label col-xs-4" })
    <div class="col-xs-5">
        @Html.SecureTextBoxFor(m => m.BIGNR, new { @class = "form-control" })
    </div>
</div>
