﻿@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.EmployeeViewModel

<div id="specialrights">
    <div class="form-group" style="@Html.Raw(Model.HiddenFunctions.Contains("EditAllForms") ? "display:none" : "")">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.EditAllForms)
            <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.EditAllForms)" data-content="Met deze instelling krijgt een medewerker van een verpleegafdeling dezelfde rechten als een medewerker van een transferpunt afdeling."><span class="glyphicon glyphicon-info-sign"></span></span>
        </label>
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.EditAllForms, new { @class = "checkbox-inline" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.ReadOnlySender)
            <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.ReadOnlySender)" data-content="Met deze instelling heeft de medewerker uitsluitend lees-toegang bij dossier waarbij de organisatie waartoe de medewerker behoort de versturende organisatie is. Dit heeft dus geen invloed op dossiers waarbij de organisatie van de medewerker de ontvangende organisatie is."><span class="glyphicon glyphicon-info-sign"></span></span>
        </label>
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.ReadOnlySender, new { @class = "checkbox-inline" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.ReadOnlyReciever)
            <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.ReadOnlyReciever)" data-content="Met deze instelling heeft de medewerker uitsluitend lees-toegang bij dossier waarbij de organisatie waartoe de medewerker behoort de ontvangende organisatie is. Dit heeft dus geen invloed op dossiers waarbij de organisatie van de medewerker de versturende organisatie is."><span class="glyphicon glyphicon-info-sign"></span></span>
        </label>
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.ReadOnlyReciever, new { @class = "checkbox-inline" })
        </div>
    </div>
</div>