﻿@model EmployeeViewModel
@using Point.MVC.WebApplication.Controllers
@using Point.Database.Models.ViewModels
@using Point.MVC.WebApplication.Extensions
@using Point.Models.Enums

@{ 
    var functionlevel = FunctionRoleLevelID.None;
    var admindossierrole = FunctionRoleLevelID.None;
    var modeldossierrole = Model.DossierLevelID;
    int adminemployeeid = 0;

    var pointcontroller = ViewContext.Controller as PointController;
    if (pointcontroller != null)
    {
        var userinfo = pointcontroller.PointUserInfo();
        functionlevel = userinfo.GetFunctionRoleLevelID(FunctionRoleTypeID.ManageEmployees);
        admindossierrole = userinfo.GetMaxDossierLevelAdminLevelID();
        adminemployeeid = userinfo.Employee.EmployeeID;
    }

    var autoEmailInfo ="Indien u deze e-mail notificatie aan zet gebeurt het volgende:<br />" +
        "- Elke dag om 12.00 en 1600 uur ontvangt u een e-mail met een overzicht van alle openstaande signaleringen <br/>"+
        "- Als er geen openstaande signaleringen zijn ontvangt u geen e-mail <br /> "+
        "- In het onderwerp van de e-mail staat de datum van de laatste signalering en het aantal openstaande signaleringen";
}

@Scripts.Render("~/Bundles/Scripts/FormType")

<script type="text/javascript">
    $(function () {

        var mfaChecked = $("#MFARequired").is(":checked");
        $("#divIPAddress").toggle(mfaChecked);

        $("#removesignature").click(function () {
            $("#removemfamodal").modal("show");
        });

        $("#addsignature").click(function () {
            var afterload = function (data) {
                $("#btnpreviewsignature").change(function () {
                    previewsignature(this);
                });
                $("#uploadsignature").on("click", function () {
                    uploadsignature(this);
                });
            }
            ShowModal2(editsignatureurl, null, afterload, 3);
        });

        $("#MFARequired").on("click", function () {
            var ischecked = $(this).is(":checked");
            $("#divIPAddress").toggle(ischecked);
        });

        $("#removemfacmd").on("click", function () {
            $("#removemfamodal").modal("show");
           
        });
        $("#removegoogleauthcmd").on("click", function () {
            $("#removeGoogleAuthmodal").modal("show");

        });
    })
    function closemodal(sender) {       
        $(sender).closest('div.modal').modal("hide");   
    }
    function removemfa(sender) {
        $("#MFANumber").val("");
        $("#removemfamodal").modal("hide");
    }


    function removegoogleauth(sender) {
        $("#MFAKey").val("");
        $("#removeGoogleAuthmodal").modal("hide");
    }
</script>

@if (Model.CreateDate.HasValue)
{
    //Met opzet geen Name of ID, dit is de enige manier om Chrome te foppen qua autocomplete mbt wachtwoorden (PBI: 14364)
    //Door er een onzichtbaar niet relevant password veld ervoor te zetten
    //Bron: https://stackoverflow.com/questions/2530/how-do-you-disable-browser-autocomplete-on-web-form-field-input-tag
    <input type="text" style="display:none">
    <input type="password" style="display:none">

    <div class="form-group">
        @Html.LabelFor(m => m.CreateDate, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.DisplayFor(m => m.CreateDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastLoginDate, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.DisplayFor(m => m.LastLoginDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group ignore">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.DisplayFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.UserName)

    //Moet in elk geval een gelijke rol of hoger hebben om iemands wachtwoord te wijzigen.
    if (functionlevel >= Model.FunctionRoleLevelID && admindossierrole >= modeldossierrole || adminemployeeid == Model.EmployeeID)
    {
        <div class="form-group ignore">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-xs-4" })
            <div class="col-xs-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
            </div>
        </div>
        <div class="form-group ignore">
            @Html.LabelFor(m => m.Password2, new { @class = "control-label col-xs-4" })
            <div class="col-xs-3">
                @Html.PasswordFor(m => m.Password2, new { @class = "form-control", autocomplete = "off" })
            </div>
        </div>
    }

    <div class="form-group">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.MFARequired)
            <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MFARequired)" data-content="Let op: om MFA op gebruikersniveau te laten werken dienen op organisatieniveau de MFA instellingen te worden ingevoerd.">
                <span class="glyphicon glyphicon-info-sign"></span>
            </span>
        </label>
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.MFARequired, new { @class = "checkbox-inline" })
        </div>
    </div>
    <div id="divIPAddress" style="display:none;">
        <div class="form-group">
            <label class="control-label col-xs-4">
                @Html.DisplayNameFor(m => m.IPAddresses)
                <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.IPAddresses)" data-content="Activeer extra controle d.m.v. een SMS bericht naast uw gebruikelijke gebruikersnaam/wachtwoord. Uitzondering volgende IP adressen.">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </span>
            </label>
            <div class="col-xs-3">
                @Html.SecureTextBoxFor(m => m.IPAddresses, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordOnNextLogin, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.ChangePasswordOnNextLogin, new { @class = "checkbox-inline" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.AutoEmailSignalering)
            <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.AutoEmailSignalering)" data-content="@autoEmailInfo">
                <span class="glyphicon glyphicon-info-sign"></span>
            </span>
        </label>        
        <div class="col-xs-1">
            @Html.SecureCheckBoxFor(m => m.AutoEmailSignalering, new { @class = "checkbox-inline", @onchange = "CheckEmail(this)" })
        </div>
        <div class="col-xs-4 AutoEmailHint" style="display:none">
            <p><b>Let op:</b> voor deze functie is emailadres vereisd.</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeIsLocked, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.EmployeeIsLocked, new { @class = "checkbox-inline" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelWithInformationIconFor(m => m.AutoLockAccountDate, new { @class = "control-label col-xs-4" }, "Account wordt na deze datum automatisch geblokkeerd")
        <div class="col-xs-6 col-sm-3 col-md-2">
            <div class="input-group date">              
                @Html.TextBoxFor(m => m.AutoLockAccountDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.DigitalSignatureID)
    if (Model.EnableDigitalSignature && functionlevel >= Model.FunctionRoleLevelID && admindossierrole >= modeldossierrole || adminemployeeid == Model.EmployeeID)
    {
        <div class="form-group">
            @Html.LabelWithInformationIconFor(m => m.DigitalSignatureID, new { @class = "control-label col-xs-4" }, "Hier kunt u de handtekening van de medewerker uploaden.De handtekening wordt precies zo geprint op het formulier zoals het in het vakje wordt getoond. Alleen de volgende bestand types zijn toegestaan: bmp, gif, jpe, jpeg, jpg en png")
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-md-4">
                        <img id="digitalsignature" class="signature" src='@Url.Action("GetByEmployeeID", "DigitalSignature", new { Area = "", EmployeeID = Model.EmployeeID, digest = @AntiFiddleInjection.CreateDigest(Model.EmployeeID) })'/>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-4">
                        @{
                            var style = Model.DigitalSignatureID.HasValue ? "" : "display:none;";
                        }
                        <button id="removesignature" type="button" class="btn btn-default" style="@style">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button id="addsignature" type="button" class="btn btn-default" >
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.SecureTextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password2, new { @class = "control-label col-xs-4" })
        <div class="col-xs-3">
            @Html.PasswordFor(m => m.Password2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ChangePasswordOnNextLogin, new { @class = "control-label col-xs-4" })
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.ChangePasswordOnNextLogin, new { @class = "checkbox-inline" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.AutoEmailSignalering)
            <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.AutoEmailSignalering)" data-content="@autoEmailInfo">
                <span class="glyphicon glyphicon-info-sign"></span>
            </span>
        </label>       
        <div class="col-xs-1">
            @Html.SecureCheckBoxFor(m => m.AutoEmailSignalering, new { @class = "checkbox-inline" })
        </div>
        <div class="col-xs-4 AutoEmailHint" style="display:none">
            <p>Let op: voor deze functie is emailadres vereisd.</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelWithInformationIconFor(m => m.AutoLockAccountDate, new { @class = "control-label col-xs-4" }, "Account wordt na deze datum automatisch geblokkeerd")
        <div class="col-xs-6 col-sm-3 col-md-2">
            <div class="input-group date">
                @Html.TextBoxFor(m => m.AutoLockAccountDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">
            @Html.DisplayNameFor(m => m.MFARequired)
            <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MFARequired)" data-content="Activeer extra controle d.m.v. een SMS bericht naast uw gebruikelijke gebruikersnaam/wachtwoord.">
                <span class="glyphicon glyphicon-info-sign"></span>
            </span>
        </label>
        <div class="col-xs-5">
            @Html.SecureCheckBoxFor(m => m.MFARequired, new { @class = "checkbox-inline" })
        </div>
    </div>
    <div id="divIPAddress" style="display:none;">
        <div class="form-group">
            <label class="control-label col-xs-4">
                @Html.DisplayNameFor(m => m.IPAddresses)
                <span style="cursor: pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.IPAddresses)" data-content="Activeer extra controle d.m.v. een SMS bericht naast uw gebruikelijke gebruikersnaam/wachtwoord. Uitzondering volgende IP adressen.">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </span>
            </label>
            <div class="col-xs-3">
                @Html.SecureTextBoxFor(m => m.IPAddresses, new { @class = "form-control" })
            </div>
        </div>
    </div>
}
@if (Model.ShowMFANumber)
{
    <div class="form-group">
        @Html.LabelWithInformationIconFor(m => m.MFANumber, new { @class = "control-label col-xs-4" }, "Voor de organisatie van deze gebruiker is een extra beveiliging ingesteld. Naar dit mobiele nummer wordt een beveiligingscode verzonden bij het inloggen in POINT. Het is aan de gebruiker om zijn/ haar mobiel nummer te registreren. U kunt het nummer alleen zien of verwijderen.")
        <div class="col-xs-3">
           @Html.SecureTextBoxFor(m => m.MFANumber, new { @class = "form-control", @readonly = "readonly" })                     
        </div>
        <div class="col-xs-1">
            <button id="removemfacmd" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>                
        </div>
    </div>

    <div class="form-group">
        @Html.LabelWithInformationIconFor(m => m.MFAKey, new { @class = "control-label col-xs-4" }, "Voor de organisatie van deze gebruiker is een extra beveiliging ingesteld. Op basis van dit id word een beveiligingscode verzonden bij het inloggen in POINT.")
        <div class="col-xs-5">
            @Html.SecureTextBoxFor(m => m.MFAKey, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="col-xs-1">
            <button id="removegoogleauthcmd" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

    </div>
}

<div id="removemfamodal" class="modal" role="dialog" title="MFA mobiel nummer verwijderen." aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">MFA mobiel nummer verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Weet u zeker dat u het 'mobiel nummer t.b.v. authenticatie' wilt leegmaken?</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" onclick="closemodal(this)">Annuleren</button>
                <button type="button" class="btn btn-danger" onclick="removemfa(this)">Verwijderen</button>
            </div>
        </div>
    </div>
</div>
<div id="removeGoogleAuthmodal" class="modal" role="dialog" title="Google AuthID verwijderen." aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Google AuthID  verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Weet u zeker dat u het 'Google AuthID t.b.v. authenticatie' wilt leegmaken?</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" onclick="closemodal(this)">Annuleren</button>
                <button type="button" class="btn btn-danger" onclick="removegoogleauth(this)">Verwijderen</button>
            </div>
        </div>
    </div>
</div>