﻿@model Point.Database.Models.ViewModels.EmployeeViewModel
<div class="form-group">
    <label class="control-label col-xs-4">
        @Html.DisplayNameFor(m => m.OtherDepartmentID)
        <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.OtherDepartmentID)" data-content="Iedere medewerker kan aan meerdere afdelingen worden gekoppeld. Dit geeft de medewerker toegang tot dossiers van de gekoppelde afdeling"><span class="glyphicon glyphicon-info-sign"></span></span>
        <span id="btnAddOrtherDepartment" class="btn btn-default" onclick="SearchDepartment(this);">Aanpassen</span>
    </label>
    <div class="col-xs-8" >
        <div style="max-height:340px !important;overflow-y: auto;" id="OtherDepartmentsScroller">
            <table class="table table-striped" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th style="display:none;"></th>
                        <th style="max-width:50%">Locatie</th>
                        <th style="max-width:50%">Afdeling</th>
                    </tr>
                </thead>
                <tbody id="tbodyDepartments">
                    @foreach (var item in Model.OtherDepartments)
                    {
                        <tr>
                            <td style="display:none;"><input type="hidden" name="OtherDepartmentID" value="@item.DepartmentID" /></td>
                            <td>@item.Location.Name</td>
                            <td>@(item.Inactive ? "(Verwijderd) " : "")@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



