﻿@using Point.Database.Extensions
@model Point.Database.Models.Employee

<style type="text/css">
    .form-buttons {
        margin-top: 20px;
    }
    .form-buttons .btn  { min-width: 80px;}

</style>

<script type="text/javascript">
    function ConfirmDelete()
    {
        $("#Confirm").val(true);

        AjaxSave("#deleteEmployeeForm", "@Url.Action("Delete")", false, false, true);
        $("tr[data-employeeid='@Model.EmployeeID']").remove();

        $("#modal").modal('hide');
    }
</script>

<form class="form-horizontal" id="deleteEmployeeForm" action="@Url.Action("Delete")" method="post">
    <h3>Weet u zeker dat u Medewerker "@Model.FullName()" wilt verwijderen?</h3>

    @Html.AntiFiddleTokenFor(m => m.EmployeeID)
    @Html.HiddenFor(m => m.EmployeeID)
    @Html.Hidden("Confirm")

    <div class="form-buttons">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
        <button type="button" class="btn btn-danger" onclick="ConfirmDelete()">Ja</button>
    </div>
</form>