﻿@using (Html.BeginForm("EditDigitalSignature", "Employee", FormMethod.Post, new { id = "signatureform", enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="modal-header">
        <h4 class="modal-title">Digitale handtekening</h4>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="form-group">
            <div class="text-center">
                <img id="imgpreviewsignature" class="signature" src="~/Images/nosignature.png"/>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <label class="btn btn-primary" for="btnpreviewsignature">
                    <input id="btnpreviewsignature" type="file" name="file" style="display:none;">
                    Selecteer bestand
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <button type="button" class="btn btn-primary" id="uploadsignature">Opslaan</button>
    </div>
}