﻿@using Point.Database.Models.ViewModels
@using Point.MVC.WebApplication.Controllers
@using Point.Models.Enums
@model EmployeeViewModel
<script type="text/javascript">
    var formID = "#editemployeeform";
    var hiddenFunctionRoleTypeIDSByOrganizationIDUrl = '@Url.Action("HiddenFunctionRoleTypeIDSByOrganizationID", "Employee", new { Area = "Management" })';
    var hiddenFunctionsByDepartmentIDUrl = '@Url.Action("HiddenFunctionsByDepartmentID", "Employee", new { Area = "Management" })';

    var deletesignatureurl = '@Html.Raw(Url.Action("DeleteDigitalSignature", "Employee", new { digest = @AntiFiddleInjection.CreateDigest(Model.EmployeeID), employeeid = Model.EmployeeID }))';
    var editsignatureurl = '@Html.Raw(Url.Action("EditDigitalSignature", "Employee", new { digest = @AntiFiddleInjection.CreateDigest(Model.EmployeeID), employeeid = Model.EmployeeID }))';
    var uploadsignatureurl = '@Html.Raw(Url.Action("UploadDigitalSignature", "Employee", new { digest = @AntiFiddleInjection.CreateDigest(Model.EmployeeID), employeeid = Model.EmployeeID }))';
    var getimageurl = '@Html.Raw(Url.Action("GetByEmployeeID", "DigitalSignature", new { Area = "", EmployeeID = Model.EmployeeID, digest = @AntiFiddleInjection.CreateDigest(Model.EmployeeID) }))';

    initializevalidation(formID);

    $.validator.setDefaults({ ignore: '.ignore *' });
    $.validator.unobtrusive.parse($(formID));

    function CheckEmail(sender)
    {
        var autoVal = $("#AutoEmailSignalering").prop('checked');
        var emailVal = $("#EmailAddress").val();
        if (autoVal === true && isNullOrEmpty(emailVal))
        {
            $(".AutoEmailHint").show();
        }
        else
        {
            $(".AutoEmailHint").hide();
        }
    }

    function SaveForm(sender, close) {
        if ($("#editemployeeform").valid()) {
            var url = $(sender).data("saveurl");

            var callback = function (data) {
                if (close) {
                    $("#modal").modal('hide');
                } else {
                    $("#savedmessage").show();
                    $("#EmployeeID").val(data.EmployeeID);
                    $("input[name='Digest']").val(data.Digest);
                    setTimeout(function () { $("#savedmessage").hide(); }, 3000);
                }
            }

            AjaxSave($(sender).closest("form"), url, false, callback, true);
        }
    }

    function ShowModal2(requestUrl, callback, afterload, size) {
        var modal = $("#modal2").find(".modal-dialog");
        if (modal.length === 1) {
            if (size === undefined) size = 2;
            $(modal).removeClass("modal-sm").removeClass("modal-lg");
            if (size === 1) $(modal).addClass("modal-sm");
            else if (size === 2) $(modal).addClass("modal-lg");
            // else none - modal-md
        }

        $.ajax({
            type: "GET",
            url: requestUrl,
            data: $(this).data(),
            async: false,
            beforeSend: function () {
                $("#modal2").modal("show");
            },
            success: function (data) {
                $("#modal2 .modal-content").data("callback", callback);
                $("#modal2 .modal-body").html(data);
                if (afterload) {
                    afterload();
                }
            },
            error: function (data) {
                $("#modal2 .modal-body").html(data.responseText);
            }
        });
    }

    function PutDepartments() {
        var selectedtr = $("#gridTable input.departmentcheckbox:checked").closest("tr");

        $("#tbodyDepartments tr").remove();
        $.each(selectedtr, function (key, item) {
            var tr = $(item);
            $("#tbodyDepartments").append("<tr><td style='display:none;'><input type='hidden' name='OtherDepartmentID' value=" + tr.data("departmentid") + " /></td><td>" + tr.data("locationname") + "</td><td>" + tr.data("departmentname") + "</td></tr>");
        });

        $("#modal2").modal('hide');
        $("#OtherDepartmentsScroller").scrollTop(0);
    };

    function RemoveOtherDepartment(sender)
    {
        $(sender).closest("tr").remove();
    }

    function addOrUpdateUrlParam(uri, paramKey, paramVal) {
        var re = new RegExp("([?&])" + paramKey + "=[^&#]*", "i");
        if (re.test(uri)) {
            uri = uri.replace(re, '$1' + paramKey + "=" + paramVal);
        } else {
            var separator = /\?/.test(uri) ? "&" : "?";
            uri = uri + separator + paramKey + "=" + paramVal;
        }
        return uri;
    }

    function SearchDepartment(button) {
        @{
            int[] locationids = ViewBag.LocationIDs;
            int[] departmentids = ViewBag.DepartmentIDs;

            string locationidstring = locationids == null ? null : string.Join(",", locationids);
            string departmentidstring = departmentids == null ? null : string.Join(",", departmentids);
        }

        if ($("#OrganizationID").val() == '') {
            showErrorMessage("Kies eerst een organisatie");
        } else {
            var url = '@Html.Raw(Url.Action("DepartmentSearch", "Department", new { RegionID = (int?)ViewBag.RegionID, LocationIDs = locationidstring, DepartmentIDs = departmentidstring  }))';

            var organizationids = $("#OrganizationID").val();

            var otherdepartmentfields = $("input[name='OtherDepartmentID']").serializeArray();
            var otherdepartmentidarray = [];
            $.each(otherdepartmentfields, function (i, field) {
                otherdepartmentidarray.push(field.value);
            });
            var otherdepartmentids = otherdepartmentidarray.join();

            url = addOrUpdateUrlParam(url, "organizationids", organizationids);
            url = addOrUpdateUrlParam(url, "selecteddepartmentids", otherdepartmentids);

            SearchOrganization(this, url);
        }
    }

    function SearchOrganization(sender, url) {
        $.ajax({
            complete: function () {
                var organizationids = $("#OrganizationID").val();
                if ($("#OrganizationIDs").val() != "") {
                    searchlive();
                }
            }
        });

        ShowModal2(url);
    }

    $(function () {

        $('[data-toggle="clickover"]:not(.client-header)').clickover({
            html: true,
            placement: "top",
            global_close: true,
            esc_close: true,
            title: $(this).data("title"),
            content: $(this).data("content")
        });

        $('#btnRights').on('show.bs.tab', function (event) {
            if ($("#OrganizationID").val() === '') {
                event.preventDefault();
                showErrorMessage("Kies eerst een afdeling");
                return;
            }
        });
    })
</script>

@{
    bool editorhasmoredepartments = false;
    FunctionRoleLevelID functionlevel = FunctionRoleLevelID.None;
    var pointcontroller = ViewContext.Controller as PointController;
    if (pointcontroller != null)
    {
        PointUserInfo userinfo = pointcontroller.PointUserInfo();
        editorhasmoredepartments = userinfo.DepartmentTypeIDS.Count > 1;

        functionlevel = userinfo.GetFunctionRoleLevelID(FunctionRoleTypeID.ManageEmployees);
    }
}

<style type="text/css">
    .signature {
        width: 156px;
        height: 64px;
        border: 1px solid #e5e5e5;
    }
    .form-buttons {
        margin-top: 20px;
    }
    .form-buttons .btn {
        min-width: 100px;
    }
    .alert-button {
        padding-top:3px;
        padding-bottom:5px;
    }
</style>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#employeedetails" data-toggle="tab" aria-controls="employeedetails" role="tab" title="Personalia">
            <span class="glyphicon glyphicon-user"></span>
            Personalia
        </a>
    </li>
    <li role="presentation">
        <a href="#account" data-toggle="tab" aria-controls="account" role="tab" title="Account">
            <span class="glyphicon glyphicon-lock"></span>
            Account
        </a>
    </li>
    <li role="presentation">
        <a href="#rights" data-toggle="tab" aria-controls="rights" role="tab" title="Dossier toegang en functies" id="btnRights">
            <span class="glyphicon glyphicon-list-alt"></span>
            Dossier toegang en functies
        </a>
    </li>
    <li role="presentation">
        <a href="#employeedepartment" data-toggle="tab" aria-controls="employeedepartment" role="tab" title="Afdeling">
            <span class="glyphicon glyphicon-home"></span>
            Afdeling
        </a>
    </li>
    <li role="presentation">
        <a href="#others" data-toggle="tab" aria-controls="others" role="tab" title="Afwijkende rechten">
            <span class="glyphicon glyphicon-lock"></span>
            Afwijkende rechten
        </a>
    </li>
    <li role="presentation">
        <a href="#history" data-toggle="tab" aria-controls="history" role="tab" title="Historie">
            <span class="glyphicon glyphicon-time"></span>
            Historie
        </a>
    </li>
</ul>



<form class="form-horizontal" id="editemployeeform" action="@Url.Action("Save")" method="post">
    @Html.AntiFiddleTokenFor(m => m.EmployeeID)
    @Html.HiddenFor(m => m.EmployeeID)
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="employeedetails">
            <h3>Personalia</h3>
            @Html.Partial("_EmployeePersonalia", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="employeedepartment">
            <h3>Afdeling</h3>
            @Html.Partial("_EmployeeDepartment", Model)
            @if (functionlevel >= FunctionRoleLevelID.Location || editorhasmoredepartments)
            {
                @Html.Partial("_EmployeeOtherDepartments", Model)
            }
        </div>
        <div class="tab-pane" role="tabpanel" id="account">
            <h3>Account</h3>
            @Html.Partial("_EmployeeAcountDetails", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="rights">
            <h3>Dossier toegang en functies</h3>
            @Html.Partial("_EmployeeRolesAndFunctions", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="others">
            <h3>Afwijkende rechten</h3>
            @Html.Partial("_EmployeeSpecialties", Model)
        </div>
        <div class="tab-pane" role="tabpanel" id="history">
            <h3>Historie</h3>
            @Html.Partial("_GenericLog", new GenericLogViewModel() { TableName = "Employee", PrimaryKey = Model.EmployeeID.ToString() })
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-buttons clearfix">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
        <span class="pull-right">
            <span class="alert alert-success alert-button" style="display:none;" id="savedmessage">Opgeslagen</span>
            <button type="button" class="btn btn-default" data-saveurl="@Url.Action("Save")" onclick="SaveForm(this)">Opslaan</button>
            <button type="button" class="btn btn-primary" data-saveurl="@Url.Action("Save")" onclick="SaveForm(this, true)">Opslaan en sluiten</button>
        </span>
    </div>
</form>