﻿@model List<EmployeeViewModel>

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/JQueryForm")
@Scripts.Render("~/Bundles/Scripts/Management/Employee")

@{
    var toomanyresults = ViewBag.TooManyResults ?? false;
}

<div id="modal2" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="deletesignaturemodal" class="modal" role="dialog" title="Digitale handtekening" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Digitale handtekening verwijderen</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Weet u het zeker?</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-danger" onclick="deletesignature(this)">Verwijderen</button>
            </div>
        </div>
    </div>
</div>

<form id="formSearchEmployee" class="form-horizontal" method="post">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <label class="color-pt-white pull-right">Zoek in verwijderde medewerkers @Html.CheckBox("SearchDeleted", (bool)ViewBag.SearchDeleted)</label>
            Zoek medewerkers
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-3">Naam / Gebruikersnaam / ZIS-ID</label>
                <div class="col-xs-5">
                    @Html.TextBox("Name", (object)ViewBag.Name, new { @class = "form-control" })
                </div>
                @Html.Hidden("ShowAll", (object)ViewBag.ShowAll)
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Organisatie / Locatie / Afdeling</label>
                <div class="col-xs-5">
                    @Html.TextBox("Organization", (object)ViewBag.Organization, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <button type="submit" id="searchButton" class="btn btn-block btn-primary">Zoeken</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="toomanyresults" class="alert alert-warning" role="alert" style="@(toomanyresults ? "" : "display:none;")">
    Let op: Er zijn teveel resultaten om te tonen (@ViewBag.Total). Verfijn uw zoekopdracht om resultaten te kunnen zien.    
</div>
<div class="clearfix">
    <div class="btn btn-primary pull-right" onclick="ShowModal('@Url.Action("Create", "Employee")')">Medewerker toevoegen</div>
    @if (Model.Count() > 0 || toomanyresults)
    {
        <div>
            @Html.ActionLink("Exporteren naar CSV", "ExportToCSV", "Employee", new { searchName = ViewBag.Name, searchOrganization = ViewBag.Organization, searchDel = ViewBag.searchDeleted }, new { @class = "btn btn-primary pull-right", @style = "margin-right:10px;" })
        </div>
    }
</div>

@if (!toomanyresults)
{
    <div id="employeelist" style="margin-top:15px;">
        @Html.Partial("List", Model)
    </div>
}
