﻿@model List<EmployeeViewModel>

<style type="text/css">
    #employeetable tbody tr:hover {
        cursor: pointer;
    }
    .inactive
    {
        color:red;
    }

</style>

<script type="text/javascript">
    function GetHeight() {
        return $(window).innerHeight() - $("#employeelist").offset().top - 150;
    }

    $(document).ready(function () {
        var height = GetHeight();
        table = $("#employeetable").DataTable({
            "paging": false,
            "order": [],
            "scrollY": height,
            "scrollX": 1280,
            "dom": 'flrt'
        });

        $('[data-toggle="clickover"]:not(.client-header)').clickover({
            html: true,
            placement: "left",
            global_close: true,
            esc_close: true,
            template: '<div class="popover overigedepartments"><div class="arrow"></div><div class="popover-content"></div></div>',
            content: $(this).data("content")
        });
    });

    $(window).resize(function () {
        table.columns.adjust().draw();
        var height = GetHeight();
        $("#employeetable").closest(".dataTables_scrollBody").height(height);
    });
</script>

<table id="employeetable" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 24px;"></th>
            <th>Naam</th>
            <th>Gebruikersnaam</th>
            <th>Organisatie</th>
            <th>Locatie</th>
            <th>Afdeling</th>
            <th>Telefoon</th>
            <th>Dossier niveau</th>
            <th>Beheer niveau</th>
            <th>Rapport niveau</th>
            <th>Wijz. Wachtwoord</th>
            <th>Alleen lezen ontv.</th>
            <th>Alleen lezen verst.</th>
            <th>Laatst ingelogd</th>
            <th>Verwijderd</th>
            <th>Geblokkeerd</th>
            <th>Overige afdelingen</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                var date = "";
                if (item.LastLoginDate.HasValue)
                {
                    date = item.LastLoginDate.Value.ToString("dd-MM-yyyy HH:mm");
                }
                var isLockedOut = "";

                isLockedOut = item.EmployeeIsLocked == true ? "Geblokkeerd" : "";
                string wachtwoordwijz = item.ChangePasswordOnNextLogin == true ? "Ja" : "";
                string readonlyrecieve = item.ReadOnlyReciever == true ? "Ja" : "";
                string readonlysend = item.ReadOnlySender == true ? "Ja" : "";
                var departmentinactive = item.DefaultDepartment?.Inactive == true ? Html.Raw("<span class=\"inactive\">(inactief)</span>") : Html.Raw("");
                var locationinactive = item.DefaultDepartment?.Location?.Inactive == true ? Html.Raw("<span class=\"inactive\">(inactief)</span>") : Html.Raw("");
                var organizationinactive = item.DefaultDepartment?.Location?.Organization?.Inactive == true ? Html.Raw("<span class=\"inactive\">(inactief)</span>") : Html.Raw("");
                

                var editclick = "onclick=ShowModal('" + Url.Action("Edit", "Employee", new { item.EmployeeID, Digest = AntiFiddleInjection.CreateDigest(item.EmployeeID) }) + "');";
                <tr data-employeeid="@item.EmployeeID">
                    <td onclick="ShowModal('@Url.Action("Delete", "Employee", new { item.EmployeeID, Digest = AntiFiddleInjection.CreateDigest(item.EmployeeID) })')"><span class="glyphicon color-pt-red glyphicon-remove pull-right"></span></td>
                    <td @editclick>@item.FirstName @item.MiddleName @item.LastName</td>
                    <td @editclick>@item.UserName</td>
                    <td @editclick>@item.DefaultDepartment.Location.Organization.Name @organizationinactive</td>
                    <td @editclick>@item.DefaultDepartment.Location.Name @locationinactive</td>
                    <td @editclick>@item.DefaultDepartment.Name @departmentinactive</td>
                    <td @editclick>@item.PhoneNumber</td>
                    <td @editclick>@item.DossierLevelID.GetDescription()</td>
                    <td @editclick>@item.FunctionRoleLevelID.GetDescription()</td>
                    <td @editclick>@item.ReportingLevelID.GetDescription()</td>
                    <td @editclick>@wachtwoordwijz</td>
                    <td @editclick>@readonlyrecieve</td>
                    <td @editclick>@readonlysend</td>
                    <td @editclick>@date</td>
                    <td @editclick>@(item.Inactive == true ? "Verwijderd" : "" )</td>
                    <td @editclick>@isLockedOut</td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.OtherDepartmentsToShow))
                        {
                            <a href="#"  data-toggle="clickover" data-placement="left" data-content="@item.OtherDepartmentsToShow"><span class="glyphicon glyphicon-info-sign"></span></a>
                        }                       
                         
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
<span>@Model.Count resultaten</span>