﻿
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Point.MVC.Shared.Constants
@model Point.MVC.Shared.ViewModels.Capacity.CapacitySearchViewModel


@Html.Hidden("CurrentAction", Model.CurrentAction)


<form id="capacitySearchForm" class="form-horizontal container">


    <div class="form-group">
        <label class="@GetClasses(1)">Regio's</label>
        <div class="@GetClasses(2)">
            @Html.DropDownList("regionIDs", new MultiSelectList(Model.Regions, "Value", "Text", Model.RegionIdsSelection.SelectedRegionIds), new { multiple = "multiple", onchange = Model.CurrentAction != TabMenuItems.TileView ? "_CapManJs.GetAfterCareGroupsAndTypes()" : "_CapManJs.CheckEnableControls()", data_formurl = @Model.GetAfterCareGroupsAndTypesUrl })            
        </div>

        <div class="@GetClasses(3)">
            <label>@Html.CheckBox("withCapacityOnly", Model.WithCapacityOnly, new { id = "withCapacityOnly" }) Alleen met capaciteit </label>
        </div>
    </div>


    @if (Model.CurrentAction == TabMenuItems.TileView)
    {
        <div class="form-group">
            <label class="@GetClasses(1)">Weergave:</label>
            <div class="@GetClasses(2)">
                <select class="form-control" id="showByRegion" name="ShowByRegion">
                    <option value="false" @(!Model.ShowByRegion ? "selected" : "")>Gesommeerd</option>
                    <option value="true" @(Model.ShowByRegion ? "selected" : "")>Per regio</option>
                </select>
            </div>
        </div>
    }


    @if (Model.CurrentAction == TabMenuItems.ListView || Model.CurrentAction == TabMenuItems.MapView)
    {
        <div class="form-group">
            <label class="@GetClasses(1)">Organisatietype</label>
            <div class="@GetClasses(2)">
                @Html.DropDownList("OrganizationTypeID", new SelectList(Model.OrganizationTypes, "Value", "Text", Model.OrganizationTypes.FirstOrDefault(x => x.Selected)?.Value), new { Class = "form-control", onchange = "_CapManJs.OrganizationTypeRefresh()" })
            </div>
        </div>
        <div class="form-group">
            <label class="@GetClasses(1)"><span class="aftercare-type-zh">Specialisme</span><span class="aftercare-type-vvt">Zorgtype</span></label>
            <div class="@GetClasses(2)">
                @Html.Partial("~/Views/Capacity/_Linked/CapacitySearchAfterCareGroupsAndTypes.cshtml", Model.AfterCareGroupsAndTypes)
            </div>

            <div class='@GetClasses(3)'>
                <div class="btn btn-default btn-sm show-info ">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span class="aftercare-type-zh">Specialismen</span><span class="aftercare-type-vvt">Zorgtypen</span>
                </div>
            </div>
        </div>

    }


    @if (Model.CurrentAction == TabMenuItems.ListView)
    {
        <div class="form-group">
            <label class="@GetClasses(1)">Naam (Org/Loc/Afd)</label>
            <div class="@GetClasses(2)">
                <input class="form-control" id="Name" name="name" value="@Model.Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="@GetClasses(1)">Plaats</label>
            <div class="@GetClasses(2)">
                <input class="form-control" id="City" name="city" value="@Model.City" />
            </div>
        </div>

        <div class="form-group">
            <label class="@GetClasses(1)">Postcode/Straal</label>
            <div class="@GetClasses(4)">
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", maxlength = 6 })
            </div>
            <div class="@GetClasses(5)">
                @Html.DropDownListFor(m => m.PostalCodeRadius, new SelectList(Model.PostalCodeRadiusList, "Value", "Name", Model.PostalCodeRadius), new { @class = "form-control" })
            </div>
        </div>
    }


    @if (Model.CurrentAction == TabMenuItems.EditView)
    {
        <div class="form-group">
            <label class="@GetClasses(1)">Organisatie</label>
            <div class="@GetClasses(2)">
                @Html.DropDownList("OrganizationID", new SelectList(Model.Organizations, "Value", "Text", Model.Organizations.FirstOrDefault(x => x.Selected)?.Value), new { Class = "form-control", onchange = "_CapManJs.OrganizationTypeRefresh()" })
            </div>
        </div>
        <div class="form-group">
            <label class="@GetClasses(1)">Typering nazorg</label>
            <div class="@GetClasses(2)">
                @Html.DropDownList("AfterCareCategoryID", new SelectList(Model.AfterCareCategories, "Value", "Text", Model.AfterCareCategories.FirstOrDefault(x => x.Selected)?.Value), new { Class = "form-control", onchange = "_CapManJs.OrganizationTypeRefresh()" })
            </div>
        </div>
    }


    <div class="form-group">
        <div class="@GetClasses(1)"></div>
        <div class="@GetClasses(2)">
            <div id="displayCapacity" class="btn btn-primary col-xs-12 disabled" onclick="_CapManJs.GetViewResults();" data-formurl="@Model.GetResultsUrl">Tonen</div>
        </div>
    </div>

</form>


@functions{

    public string GetClasses(int column)
    {
        var isPublicVersion = Model.IsCapacityPublicVersion;

        switch (column)
        {
            case 1:
                // Label
                return "control-label " + (isPublicVersion ? "col-xs-12 col-sm-4" : "col-xs-2 col-sm-3");
            case 2:
                // Select/Button
                return isPublicVersion ? "col-xs-12 col-sm-4" : "col-xs-2 col-sm-5 col-lg-4";
            case 3:
                // Info-Button/Checkbox
                return isPublicVersion ? "col-xs-12 col-sm-3" : "col-xs-3 col-sm-3";       // no-padding-left
            case 4:
                // 2-controls-column 1
                return isPublicVersion ? "col-xs-6 col-sm-2 col-md-2 col-lg-2" : "col-xs-6 col-sm-3 col-md-3 col-lg-2";
            case 5:
                // 2-controls-column 2
                return isPublicVersion ? "col-xs-6 col-sm-2 col-md-2 col-lg-2 no-padding-left" : "col-xs-6 col-sm-2 col-md-2 col-lg-2 no-padding-left";
            default:
                return string.Empty;
        }
    }
}