﻿
<div id="capacityInfoModal" class="modal fade" role="dialog" tabindex="-1"> @* tabindex: close on escape *@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">VVT Capaciteit - Details</h4>
            </div>
            <div class="modal-body">
                
                <table>
                    <tr> <td class='info-label'>Organisatie:</td> <td><span id="organizationName"></span></td> </tr>
                    <tr> <td class='info-label'>Locatie:</td> <td><span id="locationName"></span></td> </tr>
                    <tr> <td></td> <td><span id="locationAddress"></span><span id="locationPostalCode"></span><span id="locationCity"></span></td> </tr>
                    <tr> <td>&nbsp;</td> <td></td> </tr>
                    <tr> <td class='info-label'>Afdeling:</td> <td><span id="departmentName"></span></td> </tr>
                    <tr> <td class='info-label'><i class="glyphicon glyphicon-phone-alt"></i> Tel:</td> <td><a id="departmentPhoneNumber" href=""></a></td> </tr>
                    <tr> <td class='info-label'><i class="glyphicon glyphicon-envelope"></i> Email:</td> <td><a id="departmentEmailAddress" href=""></a></td> </tr>
                    <tr> <td>&nbsp;</td> <td></td> </tr>
                    <tr> <td class='info-label'>Capaciteit:</td> <td><span id="capacities"></span></td> </tr>
                    <tr> <td class='info-label'>Mutatiedatum:</td> <td><span id="departmentAdjustmentcapacitydate"></span></td> </tr>
                    <tr> <td>&nbsp;</td> <td></td> </tr>
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Sluit</button>
                </div>
            </div>
        </div>
    </div>
</div>