﻿@using System.Web.Mvc.Html
@model Point.MVC.Shared.ViewModels.Capacity.CapacityMapViewModel


@Html.Partial("~/Views/Capacity/_Linked/CapacitySearch.cshtml", Model.Search)

<div class="container no-padding-left no-padding-right capacity-results-container">
    <div class="col-sm-12 no-padding-left no-padding-right" style="height:70vh">
        <div id="map"></div>
    </div>
</div>


@Html.Partial("~/Views/Capacity/_Linked/MapResults.cshtml", Model.DepartmentCapacityGPSList)


@Scripts.Render("~/Scripts/markerclusterer.js")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC10b6lZoaUvaIc6Hn_RiaRviC02VhyNH0&callback=initMap"></script>
