﻿@model List<Point.MVC.Shared.ViewModels.Capacity.DepartmentCapacityGPSViewModel>


<div id="MapViewResults">

    <script>
        var locations = [
            @foreach (var marker in Model)
            {
                <text>@Html.Raw(marker.ToMapsString())</text>
            }
        ]
    </script>
    
    
    @*<script>
        var locations = JSON.parse(@Model);
    </script>*@
    
</div>


@*<div id="MapViewJson">
    
    <script>
        var locations = JSON.parse(Model);

    </script>
    
</div>*@