﻿body {
  padding-bottom: 20px;
  font-family: "Muli";
  background: url('../Images/Background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #00396a;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
a:hover {
  text-decoration: none;
}
.table-hover > tbody > tr:hover {
  background-color: #ddd;
}
table thead.table-head-blue {
  background-color: #00396a;
  color: white;
  font-weight: bold;
}
table .daycolumn {
  white-space: nowrap;
}
.btn-group button.btn.background-white {
  background-color: white;
}
.glyphicon-large {
  font-size: 26px;
}
.navbar-brand-large {
  font-size: 22px;
  color: white !important;
  /*margin-right:100px;*/
}
.navbar-inverse {
  background-color: #00396a;
}
a.navbar-brand.menu-active {
  color: white !important;
}
#pointlogoContainer {
  height: 40px;
  /*margin-top: 2px;
    margin-right: 0px;*/
  /*opacity: 0.9;*/
  margin-right: 20px;
  width: 40px;
}
.pointlogo {
  position: absolute;
  height: 40px;
  /*margin-top: 4px;
    margin-right: 10px;*/
  top: 5px;
  left: 10px;
  opacity: 0.9;
}