﻿<html>
<head>
    <meta charset="utf-8" />
    <title>Point Reports</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    <style type="text/css">
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        iframe {
            /*for the report viewer*/
            border: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 99%;
        }
    </style>
</head>
    <body role="document">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <b class="modal-title"></b>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
