﻿@model DepartmentServiceAreaViewModel

<style type="text/css">
    #ServiceAreaPostalCodes
    {
        height: 240px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<script type="text/javascript">
    var addServiceAreaPostalCodeUrl = '@Url.Action("AddServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';
    var editServiceAreaPostalCodeUrl = '@Url.Action("EditServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';
    var updateServiceAreaPostalCodeUrl = '@Url.Action("UpdateServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';
    var updateDepartmentServiceAreaUrl = '@Url.Action("UpdateDepartmentServiceArea", "ServiceArea", new { Area = "Management" })';
    var deleteServiceAreaPostalCodeUrl = '@Url.Action("DeleteServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';

    function ClearPreviousPostalCodes() {
        $("#postcodestart").val('');
        $("#postcodestop").val('');
        $("#postcodedescription").val('');
    }

    function AddDepartmentServiceAreaPostalCode()
    {
        var departmentID = $("#DepartmentID").val();
        var startPostalCode = $("#postcodestart").val();
        var endPostalCode = $("#postcodestop").val();
        var description = $("#postcodedescription").val();

        $.ajax({
            method: "POST",
            url: addServiceAreaPostalCodeUrl,
            data: { DepartmentID: departmentID, StartPostalCode: startPostalCode, EndPostalCode: endPostalCode, Description: description }
        }).done(function (data) {
            $("#ServiceAreaPostalCodes").prepend("<div class='row' data-serviceareapostalcodeid='" + data.ServiceAreaPostalCodeID + "'><div class='col-xs-2 StartPostalCode'>" + data.StartPostalCode + "</div><div class='col-xs-2 EndPostalCode'>" + data.EndPostalCode + "</div><div class='col-xs-5 Description'>" + data.Description + "</div><div class='col-xs-3'><div class='pull-right'><span class='color-pt-darkblue glyphicon glyphicon-edit btn' title='Bewerken' onclick='EditServiceAreaPostalCode(this);'></span> <span class='color-pt-red glyphicon glyphicon-remove-sign btn' title='Verwijder' onclick='DeleteServiceAreaPostalCode(this);'></span></div></div></div>");
            $('#ServiceAreaPostalCodeAdd').hide();
            ClearPreviousPostalCodes();
        });
    }

    function EditServiceAreaPostalCode(sender) {

        var row = $(sender).closest("div.row");
        var serviceAreaPostalCodeID = row.data("serviceareapostalcodeid");

        $.ajax({
            method: "POST",
            url: editServiceAreaPostalCodeUrl,
            data: { ServiceAreaPostalCodeID: serviceAreaPostalCodeID }
        }).done(function (data) {
            $('#ServiceAreaPostalCodeEdit').show();

            $("#editServiceAreaPostalCodeID").val(serviceAreaPostalCodeID);
            $("#editpostcodestart").val(data.StartPostalCode);
            $("#editpostcodestop").val(data.EndPostalCode);
            $("#editpostcodedescription").val(data.Description);
        });
    }

    function UpdateDepartmentServiceAreaPostalCode(sender)
    {
        $.ajax({
            method: "POST",
            url: updateServiceAreaPostalCodeUrl,
            data: {
                DepartmentID: $("#DepartmentID").val(),
                ServiceAreaPostalCodeID: $("#editServiceAreaPostalCodeID").val(),
                StartPostalCode: $("#editpostcodestart").val(),
                EndPostalCode: $("#editpostcodestop").val(),
                Description: $("#editpostcodedescription").val()
            }
        }).done(function (data) {
            $('#ServiceAreaPostalCodeEdit').hide();
            var row = $("#ServiceAreaPostalCodes").find("div[data-serviceareapostalcodeid='" + data.ServiceAreaPostalCodeID + "']");

            row.find("div.StartPostalCode").text(data.StartPostalCode);
            row.find("div.EndPostalCode").text(data.EndPostalCode);
            row.find("div.Description").text(data.Description);
        });
    }

    function DeleteServiceAreaPostalCode(sender)
    {
        var row = $(sender).closest("div.row");
        var serviceAreaPostalCodeID = row.data("serviceareapostalcodeid");

        $.ajax({
            method: "POST",
            url: deleteServiceAreaPostalCodeUrl,
            data: { ServiceAreaPostalCodeID: serviceAreaPostalCodeID }
        }).done(function (data) {
            row.remove();
        });
    }

    function UpdateDepartmentServiceArea(sender) {
        var item = $(sender);
        var selected = item.is(":checked");
        var value = item.val();
        var departmentid = $("#DepartmentID").val();

        $.ajax({
            method: "POST",
            url: updateDepartmentServiceAreaUrl,
            data: { DepartmentID: departmentid, ServiceAreaID: value, Selected: selected }
        }).done(function (data) {
            //Do nothing
        });
    }
</script>

<h3>Bedienings gebieden</h3>

<div class="form-group" style="margin-bottom:20px;">
    <label class="control-label col-xs-2">Gekoppelde gebieden</label>
    
    <div class="col-xs-10">
        @if(Model.ServiceAreas.Count == 0)
        {
            <div class="alert alert-info">Deze organisatie heeft geen bedieningsgebieden.</div>
        }
        @foreach (var item in Model.ServiceAreas)
        {
            bool selected = Model.ServiceAreasSelected.Any(sas => sas == item.ServiceAreaID);
            <div class="checkbox">
                <label><input type="checkbox" onchange="UpdateDepartmentServiceArea(this)" class="DepartmentServiceArea" id="DepartmentServiceArea_@(item.ServiceAreaID)" name="DepartmentServiceArea" value="@item.ServiceAreaID" @(selected ? "checked" : "") />@item.Description</label>
            </div>
        }
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12 clearfix">
        <div class="pull-left"><b>Postcodegebieden aan deze afdeling</b></div>
        <div class="pull-right">
            <button class="btn btn-default" type="button" title="Toevoegen postcodereeks" onclick="$('#ServiceAreaPostalCodeAdd').show();">Toevoegen</button>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-xs-2">
        <b>Vanaf</b>
    </div>
    <div class="col-xs-2">
        <b>Tot en met</b>
    </div>
    <div class="col-xs-8">
        <b>Beschrijving</b>
    </div>
</div>

<div id="ServiceAreaPostalCodeAdd" class="clearfix" style="display:none;">
    <div class="form-group">
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="postcodestart" name="postcodestart" class="form-control postcode" placeholder="Start (1234AB)" />
        </div>
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="postcodestop" name="postcodestop" class="form-control postcode" placeholder="Stop (1234ZZ)" />
        </div>
        <div class="col-xs-5">
            <input type="text" maxlength="255" id="postcodedescription" name="postcodedescription" class="form-control" placeholder="Beschrijving" />
        </div>
        <div class="col-xs-3 text-right">
            <span class="btn btn-lightgray" onclick="ClearPreviousPostalCodes();$('#ServiceAreaPostalCodeAdd').hide();">Annuleren</span>
            <span class="btn btn-default" onclick="AddDepartmentServiceAreaPostalCode()">Opslaan</span>
        </div>
    </div>
</div>

<div id="ServiceAreaPostalCodeEdit" class="clearfix" style="display:none;">
    <div class="form-group">
        <input type="hidden" id="editServiceAreaPostalCodeID" name="ServiceAreaPostalCodeID" />
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="editpostcodestart" name="postcodestart" class="form-control postcode" placeholder="Start (1234AB)" />
        </div>
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="editpostcodestop" name="postcodestop" class="form-control postcode" placeholder="Stop (1234ZZ)" />
        </div>
        <div class="col-xs-5">
            <input type="text" maxlength="255" id="editpostcodedescription" name="postcodedescription" class="form-control" placeholder="Beschrijving" />
        </div>
        <div class="col-xs-3 text-right">
            <span class="btn btn-lightgray" onclick="$('#ServiceAreaPostalCodeEdit').hide();">Annuleren</span>
            <span class="btn btn-default" onclick="UpdateDepartmentServiceAreaPostalCode()">Opslaan</span>
        </div>
    </div>
</div>

<div id="ServiceAreaPostalCodes">
    @foreach (var serviceAreaPostalCode in Model.ServiceAreaPostalCodes)
    {
        <div class="row" data-serviceareapostalcodeid="@serviceAreaPostalCode.ServiceAreaPostalCodeID">
            <div class="col-xs-2 StartPostalCode">@serviceAreaPostalCode.StartPostalCode</div>
            <div class="col-xs-2 EndPostalCode">@serviceAreaPostalCode.EndPostalCode</div>
            <div class="col-xs-5 Description">@serviceAreaPostalCode.Description</div>
            <div class="col-xs-3">
                <div class="pull-right">
                    <span class='color-pt-darkblue glyphicon glyphicon-edit btn' title='Bewerken' onclick='EditServiceAreaPostalCode(this);'></span>
                    <span class='color-pt-red glyphicon glyphicon-remove-sign btn' title='Verwijder' onclick='DeleteServiceAreaPostalCode(this);'></span>
                </div>
            </div>
        </div>
    }
</div>