﻿@model ServiceAreaViewModel

<script type="text/javascript">
    var addServiceAreaPostalCodeUrl = '@Url.Action("AddServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';
    var editServiceAreaPostalCodeUrl = '@Url.Action("EditServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';
    var updateServiceAreaPostalCodeUrl = '@Url.Action("UpdateServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';
    var deleteServiceAreaPostalCodeUrl = '@Url.Action("DeleteServiceAreaPostalCode", "ServiceArea", new { Area = "Management" })';
    var deleteServiceAreaUrl = '@Url.Action("DeleteServiceArea", "ServiceArea", new { Area = "Management" })';

    function ClearPreviousPostalCodes()
    {
        $("#postcodestart").val('');
        $("#postcodestop").val('');
        $("#postcodedescription").val('');
    }

    function AddServiceAreaPostalCode()
    {
        var serviceAreaID = $("#ServiceAreaID").val();
        var startPostalCode = $("#postcodestart").val();
        var endPostalCode = $("#postcodestop").val();
        var description = $("#postcodedescription").val();

        $.ajax({
            method: "POST",
            url: addServiceAreaPostalCodeUrl,
            data: { ServiceAreaID: serviceAreaID, StartPostalCode: startPostalCode, EndPostalCode: endPostalCode, Description: description }
        }).done(function (data) {
            $("#ServiceAreaPostalCodes").prepend("<div class='row' data-serviceareapostalcodeid='" + data.ServiceAreaPostalCodeID + "'><div class='col-xs-2 StartPostalCode'>" + data.StartPostalCode + "</div><div class='col-xs-2 EndPostalCode'>" + data.EndPostalCode + "</div><div class='col-xs-5 Description'>" + data.Description + "</div><div class='col-xs-3'><div class='pull-right'><span class='color-pt-darkblue glyphicon glyphicon-edit btn' title='Bewerken' onclick='EditServiceAreaPostalCode(this);'></span> <span class='color-pt-red glyphicon glyphicon-remove-sign btn' title='Verwijder' onclick='DeleteServiceAreaPostalCode(this);'></span></div></div></div>");
            $('#ServiceAreaPostalCodeAdd').hide();
            ClearPreviousPostalCodes();
        });
    }

    function DeleteServiceAreaPostalCode(sender)
    {
        var row = $(sender).closest("div.row");
        var serviceAreaPostalCodeID = row.data("serviceareapostalcodeid");

        $.ajax({
            method: "POST",
            url: deleteServiceAreaPostalCodeUrl,
            data: { ServiceAreaPostalCodeID: serviceAreaPostalCodeID }
        }).done(function (data) {
            row.remove();
        });
    }

    function DeleteServiceArea(serviceAreaID)
    {
        $.ajax({
            method: "POST",
            url: deleteServiceAreaUrl,
            data: { ServiceAreaID: serviceAreaID }
        }).done(function (data) {
            $("#ServiceAreaPostalCodesContainer").html('');
            $("#ServiceAreaSelect option[value=" + serviceAreaID + "]").remove();
        });
    }

    function EditServiceAreaPostalCode(sender) {

        var row = $(sender).closest("div.row");
        var serviceAreaPostalCodeID = row.data("serviceareapostalcodeid");

        $.ajax({
            method: "POST",
            url: editServiceAreaPostalCodeUrl,
            data: { ServiceAreaPostalCodeID: serviceAreaPostalCodeID }
        }).done(function (data) {
            $('#ServiceAreaPostalCodeEdit').show();

            $("#editServiceAreaPostalCodeID").val(serviceAreaPostalCodeID);
            $("#editpostcodestart").val(data.StartPostalCode);
            $("#editpostcodestop").val(data.EndPostalCode);
            $("#editpostcodedescription").val(data.Description);
        });
    }

    function UpdateDepartmentServiceAreaPostalCode(sender) {
        $.ajax({
            method: "POST",
            url: updateServiceAreaPostalCodeUrl,
            data: {
                OrganizationID: $("#OrganizationID").val(),
                DepartmentID: $("#DepartmentID").val(),
                ServiceAreaPostalCodeID: $("#editServiceAreaPostalCodeID").val(),
                StartPostalCode: $("#editpostcodestart").val(),
                EndPostalCode: $("#editpostcodestop").val(),
                Description: $("#editpostcodedescription").val()
            }
        }).done(function (data) {
            $('#ServiceAreaPostalCodeEdit').hide();
            var row = $("#ServiceAreaPostalCodes").find("div[data-serviceareapostalcodeid='" + data.ServiceAreaPostalCodeID + "']");

            row.find("div.StartPostalCode").text(data.StartPostalCode);
            row.find("div.EndPostalCode").text(data.EndPostalCode);
            row.find("div.Description").text(data.Description);
        });
    }
</script>

@Html.HiddenFor(m => m.ServiceAreaID)

<div class="form-group">
    <div class="col-xs-12 clearfix">
        <div class="pull-left"><b>Postcodes voor @Model.Description</b></div>
        <div class="pull-right">
            <button class="btn btn-danger" type="button" title="Verwijder servicegebied" onclick='DeleteServiceArea(@Model.ServiceAreaID)'>Verwijder</button>
            <button class="btn btn-default" type="button" title="Toevoegen postcodereeks" onclick="$('#ServiceAreaPostalCodeAdd').show();">Toevoegen</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <b>Vanaf</b>
    </div>
    <div class="col-xs-2">
        <b>Tot en met</b>
    </div>
    <div class="col-xs-8">
        <b>Beschrijving</b>
    </div>
</div>

<div id="ServiceAreaPostalCodeAdd" style="display:none;">
    <div class="form-group">
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="postcodestart" name="postcodestart" class="form-control" placeholder="Start (1234AB)" />
        </div>
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="postcodestop" name="postcodestop" class="form-control" placeholder="Stop (1234ZZ)" />
        </div>
        <div class="col-xs-5">
            <input type="text" maxlength="255" id="postcodedescription" name="postcodedescription" class="form-control" placeholder="Beschrijving" />
        </div>
        <div class="col-xs-3 text-right">
            <span class="btn btn-lightgray" onclick="ClearPreviousPostalCodes();$('#ServiceAreaPostalCodeAdd').hide();">Annuleren</span>
            <span class="btn btn-default" onclick="AddServiceAreaPostalCode()">Opslaan</span>
        </div>
    </div>
</div>

<div id="ServiceAreaPostalCodeEdit" class="clearfix" style="display:none;">
    <div class="form-group">
        <input type="hidden" id="editServiceAreaPostalCodeID" name="ServiceAreaPostalCodeID" />
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="editpostcodestart" name="postcodestart" class="form-control postcode" placeholder="Start (1234AB)" />
        </div>
        <div class="col-xs-2">
            <input type="text" maxlength="6" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="editpostcodestop" name="postcodestop" class="form-control postcode" placeholder="Stop (1234ZZ)" />
        </div>
        <div class="col-xs-5">
            <input type="text" maxlength="255" id="editpostcodedescription" name="postcodedescription" class="form-control" placeholder="Beschrijving" />
        </div>
        <div class="col-xs-3 text-right">
            <span class="btn btn-lightgray" onclick="$('#ServiceAreaPostalCodeEdit').hide();">Annuleren</span>
            <span class="btn btn-default" onclick="UpdateDepartmentServiceAreaPostalCode()">Opslaan</span>
        </div>
    </div>
</div>

<div id="ServiceAreaPostalCodes">
    @foreach (var serviceAreaPostalCode in Model.ServiceAreaPostalCodes)
    {
        <div class="row" data-serviceareapostalcodeid="@serviceAreaPostalCode.ServiceAreaPostalCodeID">
            <div class="col-xs-2 StartPostalCode">
                @serviceAreaPostalCode.StartPostalCode
            </div>
            <div class="col-xs-2 EndPostalCode">
                @serviceAreaPostalCode.EndPostalCode
            </div>
            <div class="col-xs-5 Description">@serviceAreaPostalCode.Description</div>
            <div class="col-xs-3">
                <div class="pull-right">
                    <span class='color-pt-darkblue glyphicon glyphicon-edit btn' title='Bewerken' onclick='EditServiceAreaPostalCode(this);'></span>
                    <span class='color-pt-red glyphicon glyphicon-remove-sign btn' title='Verwijder' onclick='DeleteServiceAreaPostalCode(this);'></span>
                </div>
            </div>
        </div>
    }
</div>