﻿@model IEnumerable<ServiceArea>
@using Point.MVC.WebApplication.Controllers

@{

    List<SelectListItem> serviceareasselectlist = new SelectList(Model.ToList(), "ServiceAreaID", "Description").ToList();
    serviceareasselectlist.Insert(0, new SelectListItem() { Value = "", Text = " - Selecteer een bedieningsgebied - " });

}

<script type="text/javascript">
    var addserviceareaurl = '@Url.Action("AddServiceArea", "ServiceArea", new { Area = "Management" })';
    var getserviceareaurl = '@Url.Action("Details", "ServiceArea", new { Area = "Management" })';

    function AddServiceArea()
    {
        var organizationID = $("#OrganizationID").val();
        var description = $("#addserviceareatext").val();

        $.ajax({
            method: "POST",
            url: addserviceareaurl,
            data: { OrganizationID: organizationID, Description: description }
        }).done(function (data) {
            $("#ServiceAreaSelect").append($('<option></option>').val(data.ServiceAreaID).html(data.Description));
            $('#ServiceAreaAdd').hide();
        });
    }

    function ServiceAreaChanged(sender)
    {
        $('#ServiceAreaAdd').hide();
        
        var serviceAreaID = $(sender).val();

        $.ajax({
            method: "GET",
            url: getserviceareaurl,
            data: { ServiceAreaID: serviceAreaID }
        }).done(function (data) {
            $("#ServiceAreaPostalCodesContainer").html(data);
        }).error(function () { $("#ServiceAreaPostalCodesContainer").html(''); });
    }
</script>

<h3>Bedienings gebieden</h3>

<div class="form-group">
    <label class="control-label col-xs-2">Bedienings gebied</label>
    <div class="col-xs-5">
        <div class="input-group">
            @Html.DropDownList("ServiceAreaSelect", serviceareasselectlist, htmlAttributes: new { @class = "form-control", onchange = "ServiceAreaChanged(this)" })
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" title="Toevoegen"  onclick="$('#ServiceAreaPostalCodesContainer').html('<i>Maak hierboven een keuze</i>'); $('#ServiceAreaAdd').show();">+</button>
            </span>
        </div>
    </div>
    
</div>

<div class="form-group" id="ServiceAreaAdd" style="display:none;">
    <div class="col-xs-offset-2 col-xs-5">
        <input type="text" id="addserviceareatext" name="addserviceareatext" class="form-control" placeholder="Naam bedienings gebied" />
    </div>
    <div class="btn btn-lightgray" onclick="$('#ServiceAreaAdd').hide();">Annuleren</div>
    <div class="btn btn-default" onclick="AddServiceArea()">Toevoegen</div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
        <div class="panel panel-default">
            <div class="panel-body" id="ServiceAreaPostalCodesContainer">
                <i>Maak hierboven een keuze</i>
            </div>
        </div>
    </div>
</div>
