﻿@using Point.Infrastructure.Helpers;
@using Point.MVC.WebApplication.Extensions;
@using Point.Database.Extensions;
@model IEnumerable<FormHistoryForm>

<div id="FormSelector">
    <div id="FormTypeContainer">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-5 col-xs-8">Formulier</div>
                    <div class="col-sm-3 col-xs-4">Laatst gewijzigd</div>
                    <div class="col-sm-4 hidden-xs">Door</div>
                </div>
            </div>
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-5 col-xs-8">@item.Name</div>
                            <div class="col-sm-3 col-xs-4">@item.ModificationDate.ToPointDateHourDisplay()</div>
                            <div class="col-sm-4 hidden-xs">@item.ModifiedBy</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
