﻿@using Point.Database.Extensions
@using Point.Infrastructure.Helpers
@using Point.Log.Attributes
@using System.ComponentModel
@model List<GenericLogDetailsViewModel>

@functions{
    public string GetDisplayName(Type tabletype, string propertyname)
    {
        var displayname = propertyname;
        var propertyinfo = tabletype.GetProperty(propertyname);
        if (propertyinfo != null)
        {
            DisplayNameAttribute[] attributes = (DisplayNameAttribute[])propertyinfo.GetCustomAttributes(typeof(DisplayNameAttribute), false);
            if (attributes.Length > 0)
            {
                displayname = attributes[0].DisplayName;
            }
        }

        return displayname;
    }

    public string GetLookUpUrl(Type tabletype, string propertyname, string value)
    {
        var lookupurl = string.Empty;
        var propertyinfo = tabletype.GetProperty(propertyname);
        if (propertyinfo != null)
        {
            LookUpAttribute[] attributes = (LookUpAttribute[])propertyinfo.GetCustomAttributes(typeof(LookUpAttribute), false);
            if (attributes.Length > 0)
            {
                lookupurl = Url.Content(attributes[0].LookUpUrl) + "?" + "digest=" + AntiFiddleInjection.CreateDigest(value) + "&" + attributes[0].ParameterName + "=" + value;
            }
        }

        return lookupurl;
    }
}

@{
    var tablenames = Model.Select(it => it.TableName).Distinct();
    var columnstoskip = new string[] { "ModifiedTimeStamp" };
}

<style type="text/css">
    .added {
        background-color: rgb(210, 230, 180)
    }

    .modified {
        background-color: rgb(242, 203, 134);
    }

    .deleted {
        background-color: rgb(230, 180, 180);
    }

    .lookup {
        cursor: pointer;
        font-weight: bold;
        color: dodgerblue;
    }
</style>

<script type="text/javascript">
    function TryLookup(sender) {
        var url = $(sender).data("lookupurl");
        if (url !== "")
        {
            $.get(url, function (data) {
                $("#lookupModal").modal("show");
                $("#lookupModal .modal-body").html(data);

                $("#lookupModal").on("hidden.bs.modal", function () {
                    $("#lookupModal .modal-body").html("");
                });
            }).done(function () {
                //Done
            });
        }
    }
</script>

<div class="pre-scrollable">
    @foreach (var tablename in tablenames)
    {
        var changes = Model.Where(it => it.TableName == tablename);
        var fieldnames = changes.Where(it => columnstoskip.Contains(it.FieldName) == false).Select(it => it.FieldName).Distinct();
        var type = GetTypeByNameHelper.GetType("Point.Database.Models." + tablename);
        var typedesc = type.GetDescription();

        //Skip if there is no change for this table
        var tablechanges = changes.Where(ch => fieldnames.Contains(ch.FieldName));
        if (tablechanges.Any() == false)
        {
            continue;
        }

        var fieldnamedictionary = new Dictionary<string, string>();

        <b>@typedesc</b>
        <table>
            <thead>
                <tr>
                    <th class="historyheader small">ID</th>
                    <th class="historyheader">Datum/tijd</th>
                    <th class="historyheader">Medewerker</th>
                    @foreach (var fieldname in fieldnames)
                    {
                        <th class="historyheader">@GetDisplayName(type, fieldname)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var changespertime in changes.GroupBy(c => c.TimeStamp).OrderByDescending(c => c.Key))
                {
                    var timestamp = changespertime.Key;
                    foreach (var rowsperchange in changespertime.GroupBy(c => c.PrimaryKeys))
                    {
                        //Skip if there is no change for this record at this time
                        var itemchanges = rowsperchange.Where(ch => fieldnames.Contains(ch.FieldName));
                        if (itemchanges.Any() == false)
                        {
                            continue;
                        }

                        var employeename = rowsperchange.FirstOrDefault().EmployeeName;
                        var changetype = rowsperchange.FirstOrDefault().ChangeType.ToString().ToLower();
                        var primarykey = rowsperchange.Key;

                        <tr class="@changetype.ToString().ToLower()">
                            <td class="historyvalue small">@primarykey</td>
                            <td class="historyvalue">@timestamp</td>
                            <td class="historyvalue">@employeename</td>
                            @foreach (var fieldname in fieldnames)
                            {
                                var title = "";
                                var change = rowsperchange.FirstOrDefault(c => c.FieldName == fieldname);
                                if(change != null)
                                {
                                    title = change.NewValue;
                                    if (change.OldValue != change.NewValue)
                                    {
                                        title = change.OldValue + " -> " + change.NewValue;
                                    }
                                }

                                <td class="historyvalue" title="@title">
                                    @if (change != null)
                                    {
                                        if (change.OldValue != change.NewValue)
                                        {
                                            var lookupurlold = GetLookUpUrl(type, fieldname, change.OldValue);
                                            var lookupclassold = String.IsNullOrEmpty(lookupurlold) ? "" : "lookup";
                                            <span class="@lookupclassold" data-lookupurl="@lookupurlold" style="text-decoration: line-through;opacity:0.5;" onclick="TryLookup(this)">@change.OldValue</span>
                                        }

                                        var lookupurl = GetLookUpUrl(type, fieldname, change.NewValue);
                                        var lookupclass = String.IsNullOrEmpty(lookupurl) ? "" : "lookup";
                                        <span class="@lookupclass" data-lookupurl="@lookupurl" onclick="TryLookup(this)">@change.NewValue</span>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
    }
</div>

<!-- Modal -->
<div id="lookupModal" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" onclick="$('#lookupModal').modal('hide')">Sluiten</button>
            </div>
        </div>
    </div>
</div>