﻿@model HistoryViewModel

@Scripts.Render("~/Bundles/Scripts/History")
<style>
    #FormTypeContainer {
        overflow-y: hidden;
        height: 285px;
    }

    #FormFieldContainer, #FormSelectionContainer {
        overflow-y: auto;
    }


    #FormSelectionContainer {
        height: 236px;
    }

    #FormFieldContainer {
        height: 190px;
    }

    #CommContainer {
        height: 212px;
        overflow-y: auto;
    }

    .list-group-item {
        cursor: pointer;
        padding-left: 0px !important;
    }

    #DataTableWrapper table thead th {
        max-height: 36px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 140px !important;
        max-width: 240px !important;
    }

    #FormTypeContainer .panel-heading .headerpadding {
        padding-left: 0;
    }
</style>

<div class="row" id="FirstRow">
    <div id="FormTypeContainer" class="col-md-6">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-5">Formulier</div>
                    <div class="col-xs-3 headerpadding">Laatst gewijzigd</div>
                    <div class="col-xs-4 hidden-sm hidden-xs headerpadding">Door</div>
                </div>
            </div>
            <div id="FormSelectionContainer" class="panel-body bg-lightblue">

                @foreach (var item in Model.FormHistoryForms)
                {
                    <div class="row list-group-item" data-formtypeid="@item.FormTypeID" data-formsetversionid="@item.FormSetVersionID" data-fieldsurl="@item.FieldsUrl" data-type="@item.DataType" data-historyurl="@item.HistoryUrl">
                        <div class="col-xs-5">@(item.Description ?? item.Name)</div>
                        <div class="col-xs-3">@item.ModificationDate.ToPointDateHourDisplay()</div>
                        <div class="col-xs-4 hidden-sm hidden-xs">@item.ModifiedBy</div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="FieldSelector" class="col-md-6">
        <div class="panel panel-blue">
            <div class="panel-heading">
                Veld selectie:
            </div>
            <div id="FormFieldContainer" class="panel-body bg-lightblue"></div>
            <div id="FieldChoices" class="panel-footer">
                <input type="button" id="allFields" value="Selecteer alles" class="btn btn-default" disabled />
                <input type="button" id="noFields" value="Selecteer niets" class="btn btn-default" disabled />
                <input type="button" id="displayFields" value="Tonen" class="btn btn-primary" disabled />
            </div>
        </div>
    </div>
   
</div>

<div id="DataTableWrapper" class="row">
    <div class="col-md-12">
        <div>
            <div id="DataTableContent">
            </div>
        </div>
    </div>
</div>

