﻿
.email-multi-title {
    font-weight: bold;
}

#emailContainer {
    height: 117px;
    width: 350px;
    margin-bottom: 10px;
    overflow-y: auto;
    border-top: 1px solid #00BDF4;
    padding-top: 10px;
}

#freeTextInput {
    height: 105px;
    resize: none;
}

#freeTextInput, #emailList span {
    color: #0000ff;
}

#emailMessage {
    color: #dc143c;
}

#emailList {
    list-style-type: none;
    padding-left: 0;
}

#emailList li > label {
    width: 100%;
    margin-bottom: 0;
}

#emailList li > label > input[type='checkbox'] {
    margin-right: 20px !important;
}

div#emailTypeSelector {
    padding-right: 5px !important;
}

div#emailTypeSelector div {
    color: white;
}

#emailTopBar {
    height: 30px;
}

#emailTopBarActionButtons button[type="button"] {
    color: #000000;
}

#emailTopBarActionButtons button[type="button"]:disabled {
    color: #808080 !important;
}

#emailTopBarActionButtons #emailBtnRemove {
    color: #a94442;
}

.email-multi-error {
    color: #dc143c;
}

.email-multi-footer button {
    width: 80px;
    margin-right: 7px;
}

.email-multi-footer span.glaphycon {
    padding-right: 10px;
}

.email-multi-title {
    font-weight: bold;
}

#emailMultiModal [class^="col-xs"] {
    padding: 0;
}

.not-input-group.input-group-addon.email-multi-btn {
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
    width: 30px;
    display: inline-block;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: #CCC;
}

.input-group-addon.email-multi-btn {
    cursor: pointer;
}

.hidden-multi {
    display: none;
}

#emailTypeSelector .tab-selected, #emailTypeSelector .tab-not-selected {
    height: 30px;
    padding: 5px;
    width: 95px;
}

#emailTypeSelector .tab {
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

#emailTypeSelector .tab span {
    margin-right: 3px;
}

#emailTypeSelector .tab-selected {
    color: #FFFFFF;
    background-color: #00BDF4;
    border: 1px solid #00BDF4;
}

#emailTypeSelector .tab-not-selected {
    color: #606060;
    background-color:#DCDCDC;
}

#emailTypeSelector .tab-not-selected:hover {
    background-color: #E5E5E5;
}

#emailTypeSelector div:last-child {
    margin-left: 2px;
}

#emailErrorContainer {
    position: absolute;
    top: 0;
    height: 40px;
    overflow-y: auto;
    background-color: white;
}