﻿
@media print {

/*------------------------------*/
/*-- New Form Style for print --*/
/*------------------------------*/

.NewFormFieldCaptionCell_Black
{
    padding: 5px;
    width: 200px;
    vertical-align: top;
    color: #000;
}

.NewFormFieldControlCell_Black
{
    padding: 5px;
    vertical-align: top;
    color: #000;
}


/*-------------------------------*/
/*------ Print Form Styles ------*/
/*-------------------------------*/

.theme_printformlabel
{
    text-align: left;
    font-family: verdana;
    font-size: .7em;
    font-weight: normal;
    color: #000000;
}

.theme_printformtext
{
    color: Black;
    font-family: verdana;
    font-size: 8pt;
    text-decoration: none;
}

.theme_printableline
{
    border-bottom-color: Black;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.theme_printsectionline
{
    background-color: Black;
}

.theme_printpagetitle
{
    color: Black;
    font-family: arial;
    font-size: 14pt;
    font-weight: normal;
}

.theme_printformfield
{
    font-size: 8pt;
    font-family: Verdana, sans-serif;
    width: 190px;
}

.theme_printsectionheader
{
    font-family: arial;
    font-size: 1em;
    color: #333333;
    font-weight: bold;
}
.theme_chartlabel
{
    font-family: Verdana;
    text-align: center;
}


div.label {
    font-weight:bold;
}


.CompanyLogoContainer
{
    text-align:right;
    margin-bottom:10px;
}

.CompanyLogo
{
    max-height:3cm;
    max-width:10cm;
}

.noprint
{
    display:none !important;
}
/* einde media print*/
}
