﻿.table.table-head {
    margin-bottom: 0 !important;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

table.table-head thead .sorting, table.table-head thead .sorting_asc, table.table-head thead .sorting_desc, table.table-head thead .sorting_asc_disabled, table.table-head thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.table-head thead .sorting:after, table.table-head thead .sorting_asc:after, table.table-head thead .sorting_desc:after {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}

table.table-head thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
}

table.table-head thead .sorting_asc:after {
    content: "\e155";
}

table.table-head thead .sorting_desc:after {
    content: "\e156";
}

.searchtable table {
    font-size: 90%;
}

.searchtable td {
    position: relative;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

table .item {
    height: 18px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

table th .item {
    white-space: normal;
    padding-right: 12px;
}

.searchtable th:first-of-type {
    left: 3px;
}

.head-container, .body-container {
    min-height: 35px;
    position: relative;
}

.head-container .firstcol, .body-container .firstcol {
    display: none;
}

.head-container-first, .body-container-first {
    position: absolute;
    display: inline-block;
    width: unset;
}

.body-container-first {
    overflow-y: hidden;
    overflow-x: scroll;
}

.body-container-scroller, .head-container-scroller {
    left: 216px;
    position: absolute;
    display: inline-block;
}

.body-container-scroller {
    overflow: scroll;
}

.head-container-scroller {
    overflow: hidden;
}

div.search-cell-x-small {
    width: 35px !important;
}

div.search-cell-small {
    width: 75px !important;
}

div.search-cell-medium {
    width: 100px !important;
}

div.search-cell-large {
    width: 200px !important;
}

div.search-cell-x-large {
    width: 300px !important;
}

div.search-cell-auto {
    width: 300px !important;
}

div.search-cell-icon {
    width: 35px !important;
    text-align: center;
}

.item-center {
    margin: 0 auto;
    text-align: center !important;
}

.item-image-center {
    display: block;
    margin: 0 auto;
}

.with-spacer .btn-default:not(:first-child) {
    margin-right: 0 !important;
    margin-left: 5px !important;
}

.with-spacer .active {
    background-color: #00bdf4 !important;
    border-color: #00bdf4 !important;
}



button.active, button.active:hover {
    background-color: #00bdf4;
    border-color: #00bdf4;
    color: white;
}

button.multiselect {
    text-align: left;
}

#searchControlsDiv .row.workaround {
    margin-bottom: 6px;
}

#searchControlsDiv .row {
    margin-bottom: 10px;
}

#searchControlsDiv .row .row {
    margin-bottom: 0;
}

.lastmemopopover {
    min-width: 300px;
    max-width: none; /* default boostrap style is max-width: 276px;*/
    max-height: 300px;
}

.lastmemopopover .popover-content {
    max-width: 600px;
}

.lastmemocontent {
    white-space: pre-wrap;
    max-height: 200px;
    overflow-y: auto;
    word-break: break-word;
}

.lasttransfertaskpopover {
    min-width: 300px;
    max-width: none; /* default boostrap style is max-width: 276px;*/
    max-height: 300px;
}

.lasttransfertaskpopover .popover-content {
    max-width: 600px;
}

.lasttransfertaskpopoverpanel {
    max-height: 240px;
    overflow-y: auto;
}

.lasttransfertaskcontent {
    white-space: pre-wrap;
    word-break: break-word;
}

.lastattachmentpopover {
    min-width: 300px;
    max-width: none; /* default boostrap style is max-width: 276px;*/
    max-height: 300px;
}

.lastattachmentpopover .popover-content {
    max-width: 600px;
}

.lastattachmentcontent {
    max-height: 100px;
    overflow-y: scroll;
}

.value-as-iconpopover {
    min-width: 300px;
    max-width: none; /* default boostrap style is max-width: 276px;*/
    max-height: 300px;
}

.value-as-iconpopover .popover-content {
    max-width: 600px;
}

.value-as-iconcontent {
    max-height: 100px;
    overflow-y: scroll;
}


.header-iconpopover {
    min-width: 300px;
    max-width: none; /* default boostrap style is max-width: 276px;*/
    max-height: 100px;
}

.headerpopover .popover-content {
    max-width: 600px;
}

.header-iconcontent {
    max-height: 100px;
    overflow-y: scroll;
}

.half {
    width: 50%;
}

#searchControlsContainer .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

#searchControlsContainer .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: white !important;
}

.multiselect-grouped-container li {
    margin-left: 20px;
}

.multiselect-grouped-container li.multiselect-all {
    margin-left: 0;
}

.multiselect-grouped-container li.multiselect-group {
    margin-left: 10px;
}