.header {
    height				: 50px;
    background-image: url('@{image-url-relative}/achtergrond-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    margin-bottom: 15px;
}

.header .info {
    line-height: 50px;
    font-size: 16px;
}

.header .actions {
    margin: 7px 0;
    height: 34px;
    background-color: rgba(0, 75, 106, 0.4);
}

.header #liSystemMessages {
    line-height: initial;
}

.header .actions ul {
    margin-left: 10px;
    margin-right: 10px;
}

.header .actions ul li {
    line-height: 34px;
    padding: 0;
}

.header .actions li + li::before {
    content: "|";
    padding: 0 5px;
}

.header .actions a {
    text-decoration: none;
}

.header .actions a * {
    color: inherit;
}

// Default navbar
.navbar-point {
    background-color: @navbar-point-bg;
    border-color: @navbar-point-border;

    .navbar-brand {
        color: @navbar-point-brand-color;

        &:hover,
        &:focus {
            color: @navbar-point-brand-hover-color;
            background-color: @navbar-point-brand-hover-bg;
        }
    }

    .navbar-text {
        color: @navbar-point-color;
    }

    .navbar-nav {
        > li > a {
            color: @navbar-point-link-color;

            &:hover,
            &:focus {
                color: @navbar-point-link-hover-color;
                background-color: @navbar-point-link-hover-bg;
            }
        }

        > .active > a {
            &,
            &:hover,
            &:focus {
                color: @navbar-point-link-active-color;
                background-color: @navbar-point-link-active-bg;
            }
        }

        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: @navbar-point-link-disabled-color;
                background-color: @navbar-point-link-disabled-bg;
            }
        }
    }

    .navbar-toggle {
        border-color: @navbar-point-toggle-border-color;

        &:hover,
        &:focus {
            background-color: @navbar-point-toggle-hover-bg;
        }

        .icon-bar {
            background-color: @navbar-point-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: @navbar-point-border;
    }
    // Dropdown menu items
    .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
            &,
            &:hover,
            &:focus {
                background-color: @navbar-point-link-active-bg;
                color: @navbar-point-link-active-color;
            }
        }

        @media (max-width: @grid-float-breakpoint-max) {
            // Dropdowns get custom display when collapsed
            .open .dropdown-menu {
                > li > a {
                    color: @navbar-point-link-color;

                    &:hover,
                    &:focus {
                        color: @navbar-point-link-hover-color;
                        background-color: @navbar-point-link-hover-bg;
                    }
                }

                > .active > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @navbar-point-link-active-color;
                        background-color: @navbar-point-link-active-bg;
                    }
                }

                > .disabled > a {
                    &,
                    &:hover,
                    &:focus {
                        color: @navbar-point-link-disabled-color;
                        background-color: @navbar-point-link-disabled-bg;
                    }
                }
            }
        }
    }
    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.
    .navbar-link {
        color: @navbar-point-link-color;

        &:hover {
            color: @navbar-point-link-hover-color;
        }
    }

    .btn-link {
        color: @navbar-point-link-color;

        &:hover,
        &:focus {
            color: @navbar-point-link-hover-color;
        }

        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: @navbar-point-link-disabled-color;
            }
        }
    }
}