﻿@import "../point-variables.less";

#EOverdracht30 {
    .mainsection {
        margin-top: 20px;
    }

    .displaydefault {
        display: none !important;
    }

    .invisible {
        display: none !important;
    }

    .group-box {
        display: inline-block;
        vertical-align: top;
        padding: 3px 7px 3px 7px;
        margin: 3px;
        width: 200px;
        height: 50px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: @pt-lightergray;
        -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);

        .section-group {
            border: 1px solid black;
            border-radius: 3px;
            padding: 15px;
            margin-bottom: 20px;
        }

        input {
            margin-right: 5px;
        }

        label {
            cursor: pointer;
        }

        &.filled {
            &.orange {
                background-color: fade(@pt-orange,50%);
            }

            &.gray {
                background-color: fade(@pt-gray,50%);
            }

            &.blue {
                background-color: fade(@pt-blue,50%);
            }

            &.purple {
                background-color: fade(@pt-purple,50%);
            }

            &.green {
                background-color: fade(@pt-green,50%);
            }
        }

        &.fieldsource {
            border-right-color: @pt-orange;
            border-right-width: 12px;
        }

        &.orange, &.gray, &.blue, &.purple, &.green {
            border-left-width: 6px;
        }

        &.orange {
            border-color: @pt-orange;
        }

        &.gray {
            border-color: @pt-gray;
        }

        &.blue {
            border-color: @pt-blue;
        }

        &.purple {
            border-color: @pt-purple
        }

        &.green {
            border-color: @pt-green;
        }
    }

    .formfieldgroup {
        margin-bottom: 20px;
    }

    .sourcefield {
        background-color: fade(@pt-orange,13%);
    }

    .subsection {
        page-break-inside: avoid;
    }
}