﻿#divFlowOverview 
{
    .PhaseItem 
    {
        margin-left:3px;
        margin-right:3px;
        margin-bottom:3px !important;
    }

    .row div 
    {
        padding:5px;
    }

    .active {
        font-weight: bold;
        white-space: nowrap;
    }

    .inactive {
        white-space: nowrap;
        border: 1px solid @pt-lightgray;
        border-left-width: 10px;
        background-color: lighten(@pt-lightgray,35%);
    }

    .status_0 {
        border: 1px solid @pt-lightgray;
        border-left-width: 10px;
        background-color: lighten(@pt-lightgray,35%) !important;
    }

    .status_1 {
        border: 1px solid @pt-orange;
        border-left-width: 10px;
        background-color: lighten(@pt-orange,30%) !important;
    }

    .status_2 {
        border: 1px solid @pt-green;
        border-left-width: 10px;
        background-color: lighten(@pt-green,35%) !important;
    }
}