﻿@using Point.Models.Enums
@model IEnumerable<OrganizationSearchDepartmentViewModel>

@{
    var useCapacity = (bool)ViewBag.UseCapacity;
}

<style>
    #gridTable td {
        cursor: pointer;
    }
</style>

@if (Model != null)
{
    <table id="gridTable" class="table table-head table-striped">
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="DoCallback('@Json.Encode(item)');">
                    <td style="display: none;"></td>
                    <td title="@item.DepartmentName">
                        <div class="item search-cell-x-large">@item.DepartmentName</div>
                    </td>
                    <td title="@item.City">
                        <div class="item search-cell-medium">@item.City</div>
                    </td>
                    <td>
                        <div class="item item-center search-cell-small">
                            @if (item.IsFavorite)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }
                        </div>
                    </td>
                    <td>
                        <div class="item search-cell-small">
                            @if (item.Participation > Participation.FaxMail)
                            {
                                <img class="item-image-center" src="~/Images/icon_point.png" alt="" />
                            }
                        </div>
                    </td>
                    @if (useCapacity)
                    {
                        <td>
                            <div class="item search-cell-x-small">@item.Capacity0</div>
                        </td>
                        <td class="hidden-xs hidden-sm">
                            <div class="item search-cell-x-small">@item.Capacity1</div>
                        </td>
                        <td class="hidden-xs hidden-sm">
                            <div class="item search-cell-x-small">@item.Capacity2</div>
                        </td>
                        <td class="hidden-xs hidden-sm">
                            <div class="item search-cell-x-small">@item.Capacity3</div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@{
    var count = (int)ViewBag.Count;
    var showall = (bool)ViewBag.ShowAll;

    if (count > 50 && !showall)
    {
        <div id="showallbutton" class="btn btn-sm btn-default" onclick="showAll()">Alle @count weergeven</div>
    }
}