﻿@model OrganizationSearchViewModel
@Styles.Render("~/Content/Search.css")

<style type="text/css">
    #regiontypecontainer * {
        vertical-align: top;
    }

    #Postcode {
        display: inline-block !important;
    }

    #OrganizationSearchData {
        height: 400px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .label, .error {
        padding: 2px 7px;
        color: red;
    }

    input[type="text"].postcode {
        width: 75px;
    }

    .searchtable td, .searchtable th {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
</style>

@{
    var afterCareCategoryList = ViewBag.AfterCareCategoryList as List<SelectListItem>;
    var useCapacity = (bool)ViewBag.UseCapacity;
}

<div class="clearfix">
    <button type="button" data-dismiss="modal" class="btn pull-right">Annuleren</button>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", id = "OrganizationSearchForm", data_url = @Url.Action("OrganizationSearchData"), onsubmit = "return false;" }))
{
    @Html.HiddenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.ShowAll)
    @Html.HiddenFor(m => m.SortBy)
    @Html.HiddenFor(m => m.OrganizationIDs)
    @Html.HiddenFor(m => m.OrganizationTypeID)
    @Html.HiddenFor(m => m.FlowDirection)
    @Html.HiddenFor(m => m.FlowDefinitionID)
    @Html.HiddenFor(m => m.RehabilitationCenterType)
    @Html.HiddenFor(m => m.LocationIDs)
    @Html.HiddenFor(m => m.ShowRegionTab)
    @Html.HiddenFor(m => m.ShowPostalCodeTab)
    @Html.HiddenFor(m => m.ShowPostalCodeRangeTab)

    <div class="form-group">
        <div class="col-xs-6 col-md-6">
            @Html.TextBoxFor(m => m.NaamPlaats, new { @maxlength = 50, @class = "flowfield form-control", placeholder = "Zoeken (naam/plaats/(na)zorgtype)", data_minlength = Model.MinLength, data_val = "true", onkeyup = "searchlive(this);" })
        </div>
        @if (afterCareCategoryList != null && afterCareCategoryList.Count > 1)
        {
            <div>
                <label class="hidden-xs hidden-sm col-md-2 control-label">Type nazorg</label>
                <div class="col-xs-6 col-md-4">
                    @Html.DropDownListFor(m => m.AfterCareCategory, afterCareCategoryList, new { @class = "flowfield form-control", placeholder = "Type nazorg", onchange = "searchlive(this);" })
                </div>
            </div>
        }
    </div>

    if (Model.ShowRegionTab || Model.ShowPostalCodeTab)
    {
        <div id="regiontypecontainer">

            @if (Model.ShowRegionTab)
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="radio-inline" id="RegionLabel" onclick="disablemin3(); disablepostcode(); disablerange(); searchlive(this);">@Html.RadioButton("SearchType", "OwnRegion", true) Eigen regio</label>
                        <label class="radio-inline" id="CountryLabel" onclick="enablemin3(); disablepostcode(); disablerange(); searchlive(this);">@Html.RadioButton("SearchType", "AllRegions", false) Landelijk</label>
                    </div>
                </div>
            }

            @if (Model.ShowPostalCodeTab)
            {
                <div class="form-group" id="filterPostalCode">
                    <div class="form-inline col-xs-12">
                        <label class="radio-inline" id="PostCodeLabel" onclick="disablemin3(); enablepostcode(); disablerange(); searchlive(this);">
                            @Html.RadioButton("SearchType", "Postcode", false) Thuiszorg in gebieden met postcode:
                        </label>
                        <input class="form-control postcode" type="text" id="Postcode" name="PostalCode" disabled value='@Model.PostalCode' onkeyup="searchlive(this);" />
                    </div>
                </div>
            }

            @if (Model.ShowPostalCodeRangeTab)
            {
                <div class="form-group" id="filterPostalCodeRange">
                    <div class="form-inline col-md-12">
                        <label class="radio-inline" id="PostalCodeRangeLabel" onclick="disablemin3(); disablepostcode(); enablerange(); searchlive(this);">
                            @Html.RadioButton("SearchType", "Range", false) Zorginstelling gevestigd rondom postcode
                        </label>
                        <input class="form-control postcode" type="text" id="PostalCodeRange" name="PostalCodeRange" disabled value='@Model.PostalCodeRange' onkeyup="searchlive(this);" />
                        <label class="control-label"> binnen een straal van </label>
                        <select class="form-control" type="text" id="MaxRange" name="MaxRange" disabled onchange="searchlive(this);">
                            <option value="1">&lt; 1 km</option>
                            <option value="3">&lt; 3 km</option>
                            <option value="5" selected>&lt; 5 km</option>
                            <option value="10">&lt; 10 km</option>
                            <option value="15">&lt; 15 km</option>
                            <option value="20">&lt; 20 km</option>
                        </select>
                    </div>
                </div>
            }

        </div>
    }
}

<div class="searchtable searchtable-header" style="overflow-x:hidden">
    <table class="table table-head gridTableHeader">
        <thead>
            <tr>
                <th style="display:none"></th>
                <th class="sorting" data-sortby="OrganizationName">
                    <div class="item search-cell-large">Naam</div>
                </th>
                <th class="sorting" data-sortby="IsFavorite">
                    <div class="item search-cell-small">Favoriet</div>
                </th>
                <th class="sorting" data-sortby="Participation">
                    <div class="item search-cell-small">Point</div>
                </th>
                @if (useCapacity)
                {
                    <th class="sorting" data-sortby="CapacityTotal0">
                        <div class="item search-cell-x-small">@DateTime.Today.Day.ToString()</div>
                    </th>
                    <th class="sorting hidden-xs hidden-sm" data-sortby="CapacityTotal1">
                        <div class="item search-cell-x-small">@DateTime.Today.AddDays(1).Day.ToString()</div>
                    </th>
                    <th class="sorting hidden-xs hidden-sm" data-sortby="CapacityTotal2">
                        <div class="item search-cell-x-small">@DateTime.Today.AddDays(2).Day.ToString()</div>
                    </th>
                    <th class="sorting hidden-xs hidden-sm" data-sortby="CapacityTotal3">
                        <div class="item search-cell-x-small">@DateTime.Today.AddDays(3).Day.ToString()</div>
                    </th>
                }
            </tr>
        </thead>
    </table>
</div>
<div id="OrganizationSearchData" class="searchtable searchtable-data">
    @if (Model.ShowOnLoad)
    {
        Html.RenderAction("OrganizationSearchData", routeValues: this.ViewContext.RouteData.DataTokens);
    }
</div>
