/* -------------------------------------------------- //
 *	Point
 * -------------------------------------------------- */


/* -------------------------------------------------- // Variables */

@import "point-variables.less";


// Main container

#mainContainer {
    min-height: 350px;
}

//Headers

h4
{
    font-size: 1.15em !important;
    vertical-align:auto;
}

h4.collapse-toggle::after {
    font-size:1em !important;
}

//IE8 IE9 textareas
.ie8 textarea, .ie9 textarea
{
    height: 100px !important;
}

// Modals
@media (min-width: @screen-lg-min) {
  .modal-lg { width: @modal-xl; }
}

@media (min-width: @screen-sm) {
    #loader .modal-sm {
        width: 350px;
    }
}


// Signalering
tr.status-1
{
    background: @pt-lightgray;
}
tr.status-0
{
    background: @pt-white;
}
tr.status-2
{
    background: @pt-red;
}


// Panels
.panel-darkblue {
    .panel-variant(@pt-darkblue; #FFFFFF; @pt-darkblue; @pt-darkblue);
}
.panel-blue {
    .panel-variant(@pt-blue; #FFFFFF; @pt-blue; @pt-blue);
}
.panel-azure {
    .panel-variant(@pt-azure; #FFFFFF; @pt-azure; @pt-azure);
}
.panel-green {
    .panel-variant(@pt-green; #FFFFFF; @pt-green; @pt-green);
}
.panel-orange {
    .panel-variant(@pt-orange; #FFFFFF; @pt-orange; @pt-orange);
}
.panel-red {
    .panel-variant(@pt-red; #FFFFFF; @pt-red; @pt-red);
}
.panel-purple {
    .panel-variant(@pt-purple; #FFFFFF; @pt-purple; @pt-purple);
}
.panel-purplegray {
    .panel-variant(@pt-purplegray; #FFFFFF; @pt-purplegray; @pt-purplegray);
}
.panel-gray {
    .panel-variant(@pt-gray; #FFFFFF; @pt-gray; @pt-gray);
}
.panel-yellow {
    .panel-variant(@pt-yellow; #FFFFFF; @pt-yellow; @pt-yellow);
}


.btn-blue {
    .button-variant(#FFFFFF; @pt-blue; @pt-blue);
}
.btn-azure {
    .button-variant(#FFFFFF; @pt-azure; @pt-azure);
}
.btn-green {
    .button-variant(#FFFFFF; @pt-green; @pt-green);
}
.btn-orange {
    .button-variant(#FFFFFF; @pt-orange; @pt-orange);
}
.btn-red {
    .button-variant(#FFFFFF; @pt-red; @pt-red);
}
.btn-purple {
    .button-variant(#FFFFFF; @pt-purple; @pt-purple);
}
.btn-purplegray {
    .button-variant(#FFFFFF; @pt-purplegray; @pt-purplegray);
}
.btn-lightgray {
    .button-variant(@pt-darkgray; @pt-lightgray; @pt-lightgray);
}
.btn-gray {
    .button-variant(#FFFFFF; @pt-gray; @pt-gray);
}
.btn-yellow {
    .button-variant(#FFFFFF; @pt-yellow; @pt-yellow);
}


/* -------------------------------------------------- // Colors */
.pt-color {
	border-left-width:16px;
	border-left-style:solid;
}

.table-first tr.pt-color {
	border-left-width:20px;
	border-left-style:solid;
}

.table-other tr.pt-color {
	border-left-width:0;
	border-left-style:none;
}

.pt-purple { border-color : @pt-purple; }
.pt-blue { border-color : @pt-darkblue; }
.pt-lightblue { border-color : @pt-blue; }
.pt-green {	border-color : @pt-green; }
.pt-yellow { border-color : @pt-yellow; }
.pt-orange { border-color : @pt-orange; }
.pt-red { border-color : @pt-red; }
.pt-gray { border-color : @pt-gray;}
.pt-none { border-color : @pt-none;}
.pt-white {border-color: @pt-white;}

/* -------------------------------------------------- // Background colors */

.bg-white
{
    background-color:white !important;
}
.bg-gray 
{
    background-color: @pt-gray
}
.bg-yellow
{
    background-color:@pt-yellow;
}
.bg-lightgray
{
    background-color:fade(@pt-gray,6%)
}
.bg-lightblue
{
    background-color:fade(@pt-blue,6%)
}
.bg-lightgreen
{
    background-color:fade(@pt-green,10%)
}
.bg-lightorange
{
    background-color:fade(@pt-orange,10%)
}
.bg-lightred
{
    background-color:fade(@pt-red,10%)
}
.bg-lightpurple
{
    background-color:fade(@pt-purple,10%)
}
.bg-lightyellow {
    background-color:fade(@pt-yellow,10%)
}
.bg-darkblue {
    background-color:@pt-darkblue;
}
.bg-blue {
    background-color:@pt-blue;
}
.bg-azure {
    background-color:@pt-azure;
}
.bg-red {
    background-color:@pt-red;
}
.bg-orange {
    background-color:@pt-orange;
}
.bg-green {
    background-color:@pt-green;
}

.color-pt-darkblue
{
    color: @pt-darkblue !important;
}
.color-pt-blue
{
    color: @pt-blue !important;
}
.color-pt-pink {
    color: @pt-pink !important;
}
.color-pt-azure
{
    color: @pt-azure !important;
}
.color-pt-orange
{
    color: @pt-orange !important;
}
.color-pt-red
{
    color: @pt-red !important;
}
.color-pt-green
{
    color: @pt-green !important;
}
.color-pt-white
{
    color: @pt-white !important;
}

.PhaseItem .glyphicon
{
    margin-right			: 8px;
}

.glyphicon.pull-right {
	margin-right			: 0;
	margin-left				: 10px;
	padding-top				: 2px;
}
.input-group-addon .glyphicon {
	margin					: 0;
}
.btn-sm .glyphicon {
	margin-right			: 5px;
}


/* -------------------------------------------------- // Navs */
.nav {
  > li {
    > a {
	  color: @link-color;
    }
  }
}
.nav > li.disabled > a {
  color: #999999;
}

.nav-tabs {
    border-bottom-width: 5px;
    > li {
        > a {
            background-color: @navbar-default-bg;
        }
    }
}
.nav-pills {
  > li {
    > a {
 	  background-color: @navbar-default-bg;
    }
  }
}
.nav-stacked {
  > li {
    + li {
      margin-top: 5px;
    }
  }
}
.nav.pt-nav-sm > li > a {
    padding: 5px 15px;
}
.pt-nav-colors .active .pt-color {
	border-color		: transparent;
}


/* -------------------------------------------------- // Well */
div.well {
	border					: 0;
	border-radius			: 0;
	box-shadow				: none;
}


/* -------------------------------------------------- // Forms */
label {
	color: @brand-primary;
    font-weight: normal !important;
}

.radio label {
	color: @pt-darkgray;
}

.form-group .control-label
{
    word-wrap: break-word;
}

.radio,
.radio-inline
{
    color: @pt-darkgray;
}

//Fix alignment radio-inline/checkbox-inline
.checkbox-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 0;
    margin-right: 5px;
}

.checkbox-inline:last-child {
    margin-right: 0;
}

.checkbox-inline span {
    color: @pt-darkgray;
}

.radio-inline,
.radio-inline + .radio-inline {
    margin-left: 0;
    margin-right: 5px;
}

.radio-inline:last-child {
    margin-right: 0;
}

.checkbox {
	label {
		color: @pt-darkgray;
		/*line-height: 2;*/
        margin-right:5px;
  }
}
.form-horizontal .control-label {
	text-align: left;
}

//Cursor
.cursor-default
{
    cursor : default !important;
}

.cursor-pointer
{
    cursor : pointer !important;
}

//Validation
#errormodal {
    .modal-header, .modal-body {
        font-weight: bold;
    }

    &:not(warning) {
        .modal-header, .modal-body {
            color: @pt-red;
        }
    }

    &.warning {
        .modal-header, .modal-body {
            color: @pt-darkgray;
        }
    }
}

.control-label.required:after {
  content:" *";
  color:red;
  font-size:medium;
}

.input-group-addon select {
    border:0;
    border-radius:0;
}
.input-group-addon.no-right-border
{
    border-right:0;
}

.has-error
{
    .form-control 
    {
        background-color: lighten(@pt-red, 55%) !important;
    }
}

/* -------------------------------------------------- // Tables */
.table-row-variant(pt-purple; lighten(@pt-purple,50%));
.table-row-variant(pt-blue; lighten(@pt-darkblue,65%));
.table-row-variant(pt-lightblue; lighten(@pt-blue,50%));
.table-row-variant(pt-green; lighten(@pt-green,20%));
.table-row-variant(pt-yellow; lighten(@pt-yellow,33%));
.table-row-variant(pt-orange; lighten(@pt-orange,33%));
.table-row-variant(pt-red; lighten(@pt-red,20%));
.table-row-variant(pt-gray; lighten(@pt-gray,40%));

.DTFC_LeftBodyWrapper .table-colors > tbody > tr.pt-color > td:nth-last-child(1),
.DTFC_LeftBodyWrapper .table-colors > tbody > tr.pt-color > td.last
 {
	border-right-width		: 2px;
	border-right-style		: solid;
    border-right-color:transparent;
}

.table-colors > tbody > tr.pt-color > td {
	border-top-width		: 2px;
	border-top-style		: solid;
	border-bottom-width		: 2px;
	border-bottom-style		: solid;
}
.table-colors > tbody > tr.pt-purple > td { border-color : @pt-purple; }
.table-colors > tbody > tr.pt-blue > td { border-color : @pt-darkblue; }
.table-colors > tbody > tr.pt-lightblue > td { border-color : @pt-blue; }
.table-colors > tbody > tr.pt-green > td {	border-color : @pt-green; }
.table-colors > tbody > tr.pt-yellow > td { border-color : @pt-yellow; }
.table-colors > tbody > tr.pt-orange > td { border-color : @pt-orange; }
.table-colors > tbody > tr.pt-red > td { border-color : @pt-red; }
.table-colors > tbody > tr.pt-gray > td { border-color : @pt-gray; }
.table-colors > tbody > tr.pt-none > td { border-color : @pt-none; }

.table > thead { background-color : @brand-primary; color: white}

/*Custom Margins*/
.form-group
{
    margin-bottom:6px;
}

/*Custom Point classes*/
@import "Screens/FlowOverview.less";
@import "Screens/General.less";
@import "Screens/Custom.less";

/*Custom Point print*/
@media print {
    body
    {
        font-size: 12pt !important;
        line-height:90%;
    }

    .form-control
    {
        font-size: 12pt !important;
        line-height:90%;
    }

    .print-control
    {
        padding: 3px 7px 3px 7px !important;
    }

    .noprint{
        display:none !important;
    }

    .panel, .panel-heading, .panel-footer, .panel-body
    {
        border-color:black !important;
    }

    .CompanyLogoContainer
    {
        text-align:right;
        margin-bottom:10px;
    }

    .CompanyLogo
    {
        max-height:1.5cm;
        max-width:8cm;
    }

    .print-multiline
    {
        white-space: pre-wrap;
        word-wrap: break-word; 
    }

    // Adjustments to correct checkbox & radio buttons' faulty vertical alignment on the convertion to pdf
    input[type="checkbox"] {
        vertical-align: bottom !important;
    }

    div input[type="checkbox"] {
        margin-bottom: -2px !important;
    }

    .form-group-row input[type="checkbox"] {
        margin-top: 4px !important;
    }

    input[type="radio"],
    .form-group input[type="checkbox"] {
        margin-top: 0 !important;
    }

    .sourcecontainer {
        border: none !important;
        background-color: none !important;
    }

    .sourcefield, .sourcefield-0, .sourcefield-1, .sourcefield-10, .sourcefield-20, .sourcefield-30 {
        background-color: none !important;
    }
}

input[data-hashistory="true"],
textarea[data-hashistory="true"],
select[data-hashistory="true"],
#HistoryTable .changed
{
  background-color: @pt-orange !important;
  color: white !important;
}

input[type="radio"][data-hashistory="true"]
{

}

.collapse-toggle::after{
     /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
content: "\e159";  /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    font-size:15px;
 }


.collapse-toggle.collapsed::after {
    /* symbol for "collapsed" panels */
    content: "\e158";/* adjust as needed, taken from bootstrap.css */
}

.labelfocus {
   outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  //  .tab-focus();
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.content-container{
    padding-left: 350px;
}

.left-menu{
    min-width: 20px;
    max-width: 220px;
}

//extra alert varianten
.alert-gray {
    .alert-variant(lighten(@pt-gray,46%); lighten(@pt-gray,30%); @pt-darkgray);
}

.sourcecontainer {
    padding: 4px;
    border-radius: @border-radius-base; // TODO: is this the correct variable? - PP
    border: 1px solid #ccc;
}
.sourcefield {
    // Verpleegk. overdracht v3
    background-color: #f8f4d5;
}
.sourcefield-0 {
    background-color: white;
}
.sourcefield-1 {
    background-color: white;
}
.sourcefield-10 {
    background-color: #f8f4da;
}
.sourcefield-20 {
    background-color: #98dcda;
}
.sourcefield-30 {
    background-color: #98dcda;
}