﻿// Colors
@pt-darkblue 			: #00396a;
@pt-purplegray          : #815fb4;
@pt-purple              : #8d3f9c;
@pt-azure     			: #338fd4;
@pt-blue     			: #00BDF4;
@pt-pink                : #ebc1e7;

@pt-lightblue 	    	: #f0f8fb;
@pt-green 				: #b9dd4c;
@pt-yellow 				: #ffde00;
@pt-orange 				: #ff9f42;
@pt-red 				: #d55c50;
@pt-none                : transparent;
@pt-white               : #FFF;

// Grays
@pt-lightergray     		: #f8f8f8;
@pt-lightgray	    		: #e5e5e5;
@pt-gray					: #808080;
@pt-darkgray				: #606060;

//Brand Colors
@brand-primary			: @pt-darkblue;
@state-info-bg          : @pt-lightblue;
@body-bg				: #FFFFFF;

// Scaffolding
@link-color				: @pt-darkgray;
@padding-base-horizontal : 7px;
@padding-small-horizontal : 7px;
@padding-base-vertical	: 2px;
@padding-small-vertical	: 2px;
@component-active-bg	: @pt-blue;
@popover-max-width      : 600px;

// Typography
@font-face {
    font-family: Open Sans;
    src: url('/fonts/OpenSans.woff');
}
@font-family-sans-serif: 'Open Sans', sans-serif;

// Buttons
@btn-default-color		: #FFFFFF;
@btn-default-bg			: #666666;
@btn-default-border		: #666666;


@navbar-point-color: @pt-white;
@navbar-point-bg: @pt-blue;
@navbar-point-border: darken(@navbar-point-bg, 6.5%);

// Navbar links
@navbar-point-link-color: @pt-white;
@navbar-point-link-hover-color: darken(@pt-white, 10%);
@navbar-point-link-hover-bg: transparent;
@navbar-point-link-active-color: #555;
@navbar-point-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-point-link-disabled-color: #ccc;
@navbar-point-link-disabled-bg: transparent;

// Navbar brand label
@navbar-point-brand-color: @pt-white;
@navbar-point-brand-hover-color: darken(@pt-white, 10%);
@navbar-point-brand-hover-bg: transparent;

// Navbar toggle
@navbar-point-toggle-hover-bg: #ddd;
@navbar-point-toggle-icon-bar-bg: #888;
@navbar-point-toggle-border-color: #ddd;


// Navbar
@navbar-default-bg				: @pt-lightgray;
@navbar-default-link-active-bg	: @pt-blue;

// Navs Tabs
@nav-tabs-border-color						: @pt-blue;
@nav-tabs-active-link-hover-bg				: @pt-blue;
@nav-tabs-active-link-hover-color			: @body-bg;
@nav-tabs-active-link-hover-border-color	: @pt-blue;

// Sprites
@icon-font-path			: '../../fonts/';
@image-url-relative: '../../../Images';

@table-bg-accent : #f0f0f0;

// Modals
@modal-xl: 1100px;