﻿@using Point.MVC.WebApplication.Helpers
@model OrganizationMigrateResultsViewModel

@Styles.Render("~/Content/Admin/organization-migrate-results.css")

<script type="text/javascript">
    var displayAll = '@AdminHelper.DisplayLineTypes.All';
    var displayErrors = '@AdminHelper.DisplayLineTypes.Errors';
    var displayHeaders = '@AdminHelper.DisplayLineTypes.Headers';
    var displayWarnings = '@AdminHelper.DisplayLineTypes.Warnings';
</script>

<div id="migrateOrgResults">
    <div class="pull-right">
        <button type="button" data-dismiss="modal" class="btn btn-primary" onclick="refreshLocations();">Sluiten</button>
    </div>
    <h3>Migratie organisaties</h3>
    <div class="title-line row">
        <div class="col-xs-6">@Model.Title</div>
        <div id="filterLines" clas="pull-right col-xs-6">
            <span>Weergave</span>
            <label class="checkbox-inline"><input type="checkbox" data-filtertype="@AdminHelper.DisplayLineTypes.All" onclick="filterLines()" checked="checked" /><span>Alles</span></label>
            <label class="checkbox-inline"><input type="checkbox" data-filtertype="@AdminHelper.DisplayLineTypes.Headers" onclick="filterLines()" @(!Model.HasLineHeaders ? "disabled" : "") /><span>Taak headers</span></label>
            <label class="checkbox-inline"><input type="checkbox" data-filtertype="@AdminHelper.DisplayLineTypes.Errors" onclick="filterLines()" @(!Model.HasErrors ? "disabled" : "") /><span>Fouten</span></label>
            <label class="checkbox-inline"><input type="checkbox" data-filtertype="@AdminHelper.DisplayLineTypes.Warnings" onclick="filterLines()" @(!Model.HasWarnings ? "disabled" : "") /><span>Waarschuwingen</span></label>
        </div>
    </div>

    <div class="header-table">
        <table class="table table-head gridTableHeader">
            <thead>
                <tr>
                    <th style="display: none"></th>
                    <th class="col-xs-2">
                        <div class="item search-cell-large">Stap</div>
                    </th>
                    <th>
                        <div class="item search-cell-medium">Bericht</div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="migrateOrgResultLines">
        <table id="gridTable" class="table table-head table-striped">
            <tbody>

                @foreach (var line in Model.ResultLines)
                {
                    <tr class="@(line.IsError ? "line-error" : "") @(line.IsLineHeader ? "line-header" : "") @(line.IsEnd ? "line-task-end" : "") @(line.IsWarning ? "line-warning" : "")">
                        <td style="display: none;"></td>
                        <td title="@line.Step" class="col-xs-2">
                            <div class="item search-cell-large">@line.Step</div>
                        </td>
                        <td title=">@line.Message">
                            <div class="item search-cell-medium">@line.Message</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
