﻿@model OrganizationMigrateOrganizationViewModel

<div id="organizationMigrateOrganizationList@(Model.SourceOrTarget)" class="form-group">
    <div class="form-group">
        <table class="dataTable table table-striped">
            <thead>
            <h4 id="organizationTitle@(Model.SourceOrTarget)" class="org-title">Organisatie (@(Model.SourceOrTarget))</h4>
            <tr id="orgarnizationHeader@(Model.SourceOrTarget)" class="org-header">
                <th class="col-xs-1"></th>
                <th class="sorting col-xs-3" data-sortby="OrganizationID">
                    ID
                </th>
                <th class="sorting" data-sortby="OrganizationName">
                    Naam
                </th>
            </tr>
            </thead>
        </table>

        <div id="organizationMigrateGrid@(Model.SourceOrTarget)" class="grid-border grid-organization">
            @if (Model.Organizations.Any())
            {
                <table id="gridTableOrganization@(Model.SourceOrTarget)" class="dataTable table table-striped">
                    <tbody>
                    @foreach (var item in Model.Organizations)
                    {
                        <tr>
                            <td class="col-xs-1">
                                <input id="@(Model.SourceOrTarget)@(item.ID)" type="checkbox" class="organizationcheckbox" name="OrganizationID@(Model.SourceOrTarget)" value="@(item.ID)" @(item.IsSelected ? "checked='checked'" : "") onclick="selectOrganization('@(item.ID)','@(Model.SourceOrTarget)')" />
                            </td>
                            <td class="col-xs-3">
                                @(item.ID)
                            </td>
                            <td>
                                @(item.Name)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
