﻿@model List<OrganizationMigrateItemViewModel>


<div id="organizationMigrateLocationList" class="form-group">
    <div class="form-group col-xs-6">
        <table class="dataTable table table-striped">
            <thead>
                <h4 id="locationsTitle" class="org-title">Locaties</h4>
                <tr>
                    <th class="col-xs-1">
                        <input type="checkbox" id="locationsAll" onclick="selectAllLocations()" @(Model.Any() && Model[0].IsSelected ? "checked='checked'" : "") />
                    </th>
                    <th class="sorting col-xs-3" data-sortby="LocationID">
                        ID
                    </th>
                    <th class="sorting" data-sortby="LocationName">
                        Naam
                    </th>
                </tr>
            </thead>
        </table>

        <div id="organizationMigrateLocationsGrid" class="grid-border">

            @if (Model.Any())
            {
                <table id="gridTableLocations" class="dataTable table table-striped">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-xs-1" onclick="selectLocation(@(item.ID))">
                                    <input id="loc@(item.ID)" type="checkbox" class="locationcheckbox" name="LocationIDs" value="@(item.ID)" @(item.IsSelected ? "checked='checked'" : "") onclick="selectLocation(@(item.ID))" />
                                </td>
                                <td class="col-xs-3">
                                    @(item.ID)
                                </td>
                                <td>
                                    @(item.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
