﻿@model OrganizationMigrateViewModel

@Styles.Render("~/Content/Admin/organization-migrate.css")

<script type="text/javascript">
    var getOrganizationsUrl = "@Html.Raw(Url.Action("GetOrganizationsForNameOrID", "Admin"))";
    var getLocationsUrl = "@Html.Raw(Url.Action("GetLocationsForOrganizationID", "Admin"))";
    var migrateResultsUrl = "@Html.Raw(Url.Action("OrganizationMigrateResults", "Admin"))";
    var sourceID = "@(OrganizationSourceOrTarget.Source)";
    var targetID = "@(OrganizationSourceOrTarget.Target)";
</script>

@Scripts.Render("~/Scripts/MVC/OrganizationMigrate.js")

<div class="form-group">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            Migratie organisatie
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-2">Organisatie Naam/ID</label>
                <div class="form-group col-xs-4">
                    @Html.TextBox("organizationNameOrID", null, new { @class = "form-control" })
                    <div class="form-group">
                        <input id="searchOrganizations" type="button" class="btn btn-block btn-primary" value="Zoeken" onclick="getOrganizations()">
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <div class="form-group">
                        <label class="control-label">voor</label>
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.SourceOrTarget, OrganizationSourceOrTarget.Source)<span>Source</span></label>
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.SourceOrTarget, OrganizationSourceOrTarget.Target)<span>Target</span></label>
                    </div>
                    <div class="form-group">
                        <button id="migrationStart" type="button" class="btn active disabled" onclick="migrateLocations()">Start migratie</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div id="organization@(OrganizationSourceOrTarget.Source)" class="form-group col-xs-6">

                @Html.Partial("OrganizationMigrateOrganizationList", Model.OrganizationSource)
                @Html.Partial("OrganizationMigrateLocationList", Model.Locations)

            </div>

            <div id="organization@(OrganizationSourceOrTarget.Target)" class="form-group col-xs-6">

                @Html.Partial("OrganizationMigrateOrganizationList", Model.OrganizationTarget)

            </div>
        </div>
    </div>
</div>

