﻿@using (Html.BeginForm("Recalculate", "Admin"))
{
    <h3>Geef een lijst op van transferid's (comma of spatie separated)</h3>
    @Html.TextArea("transferids", new { @style = "width:700px;height:300px" })
    <br />
    <input type="submit" value="Update Readmodel" class="btn btn-default" />
}