﻿
@model Point.MVC.WebApplication.Controllers.UpdateCapacityViewModel

<style>

    #containerUpdateCapman {
        text-align: center;
        padding-top: 40px;
    }

    #formUpdateCapman td {
        padding-right: 20px;
    }

    #messageUpdateCapman {
        position: absolute;
        top: 20%;
        height: 20%;
        left: 35%;
        width: 30%;
        text-align: center;
        vertical-align: middle;
        border-style: outset;
        border-width: 4px;
        border-color: lightgray;
        background-color: white;
    }

        #messageUpdateCapman > span {
            font-weight: bold;
            vertical-align: middle;
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
            text-align: center;
        }

        #messageUpdateCapman.action-success > span {
            color: green;
        }

        #messageUpdateCapman.action-failure > span {
            color: red;
        }


</style>


<script type="text/javascript">

    function startUpdateCapacity() {
        $("#containerUpdateCapman input").attr("disabled", "disabled");

        $("#messageUpdateCapman").removeClass("hidden");
        $("#formUpdateCapman").submit();
    };
    
    $(document).ready(function() {

        //$(".date").datetimepicker({
        //    format: 'L',
        //    locale: 'nl',
        //    useCurrent: false
        //});

        var urlValue = document.location.href.replace(location.search, '');
        history.pushState({ state: 1, rand: Math.random() }, '', urlValue);
        setTimeout(function () {
            if ($("#IsPost").val() === "False") {
                $("#containerUpdateCapman input").removeAttr("disabled");
                $("#messageUpdateCapman").addClass("hidden");
            }
        }, 5000);

    });

</script>

@{
    var inputAttribute = Model.IsResponse ? "disabled='disabled'" : "";
    var hiddenClass = Model.IsResponse ? "" : "hidden";
    var successClass = Model.IsResponse ? (Model.IsSuccessful ? "action-success" : "action-failure") : "";
    var message = Model.IsResponse ? Model.ResponseMessage : "Updating. Please have patience...";
}

@using (Html.BeginForm("UpdateCapacity", "Admin", FormMethod.Post, new { id = "formUpdateCapman" }))
{
    <h3>Update Capacity Public</h3>
    
    @Html.Hidden("IsPost", !Model.IsResponse)

    <div id="containerUpdateCapman">
        <table>
            <tr>
                <td>From date:</td>
                <td><input class = "date" placeholder="yyyyMMdd" data-dateformat = "dd-MM-yyyy" data-datetime = "date" @inputAttribute/> </td>
                <td><input type="button" value="Update Capacity public" class="btn btn-default" onclick="startUpdateCapacity()"  @inputAttribute /></td>
            </tr>
        </table>

    </div>
    
    <div id="messageUpdateCapman" class='@hiddenClass @successClass'>
        <span>@message</span>
    </div>
}
