﻿@model string[]

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kenmerken</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr onclick="AddDossierTag('@tag')" class="cursor-pointer">
                <td>@tag</td>
                <td><button class="btn btn-sm btn-primary">Toevoegen</button></td>
            </tr>
        }
        @if(Model.Any() == false)
        {
            <tr><td colspan="2"><i>Er zijn geen overige kenmerken gedefinieerd.</i></td></tr>
        }
    </tbody>
</table>
