﻿@model DossierTagsViewModel
<style type="text/css">
    .addtag {
        cursor: pointer;
        background-color: #b9dd4c;
        color: white;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        padding: 4px 7px 4px 7px;
        margin-right: 3px;
    }

    .tag {
        background-color: #00BDF4;
        color: white;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        padding: 4px 7px 4px 7px;
        margin-right: 3px;
    }

    .tag .glyphicon-remove {
        margin-left: 8px;
        cursor: pointer;
    }
</style>

<script type="text/javascript">
    function GetTag(tag) {
        if (@Model.Editable.BoolToJSTrueFalse() == false) {
            return '<span class="tag">' + tag + '</span>';
        } else {
            return '<span class="tag">' + tag + '<span class="glyphicon glyphicon-remove" onclick="RemoveDossierTag(this)"></span></span>';
        }
    }

    function GetAddButton() {
        return '<span class="addtag" onclick="ChooseTag()">Toevoegen</button>';
    }

    function ChooseTag() {
        var url = '@Url.Action("DossierTagSelection", "DossierTag", new { TransferID =  @Model.TransferID })';
        ShowModal(url);
    }

    function RemoveNoItemsText() {
        $("#infoBox .noitems").remove();
        $("#infoBox").toggle($("#infoBox li").length > 0);
    }

    function AddNoItemsText() {
        RemoveNoItemsText();
        $("#infoBox").append('<li class="noitems">Er zijn momenteel geen kenmerken toegevoegd aan dit dossier.</li>');
        $("#infoBox").toggle(true);
    }
    function AddNoRightsText() {
        $("#infoBox").append('<li class="norights">Alleen de versturende organisatie kan kenmerken toevoegen.</li>');
        $("#infoBox").toggle(true);
    }

    function RemoveDossierTag(sender) {
        var tag = $(sender).closest(".tag");
        var tagtext = tag.text();
        tag.remove();
        if ($("#dossierTags .tag").length === 0) {
            AddNoItemsText();
        }

        $.ajax({
            url: '/DossierTag/DeleteDossierTag',
            data: { TransferID: @Model.TransferID, Tag: tagtext }
        });
    }

    function AddDossierTag(tag) {
        $("#modal").modal('hide');
        $("#dossierTags").find(".addtag").remove();
        $("#dossierTags").append(GetTag(tag));
        $("#dossierTags").append(GetAddButton());
        RemoveNoItemsText();

        $.ajax({
            url: '/DossierTag/AddDossierTag',
            data: { TransferID: @Model.TransferID, Tag: tag }
        });
    }

    $(document).ready(function () {
        $.ajax({
            url: '/LookUp/GetDossierTagsByTransferID',
            data: { TransferID: @Model.TransferID }
        }).done(function (data) {
            $.each(data, function (index, tag) {
                $("#dossierTags").append(GetTag(tag));
            });
            if (data.length == 0) {
                AddNoItemsText();
            }
            if (@Model.Editable.BoolToJSTrueFalse()) {
                $("#dossierTags").append(GetAddButton());
            } else {
                AddNoRightsText();
            }
        });
    });
</script>

<form class="form-horizontal">
    <div style="margin-bottom:16px;">
        <h4>Kenmerken</h4>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <ul class="col-xs-12" id="infoBox" style="display:none;"></ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12" id="dossierTags">
        </div>
    </div>
</form>

