/*
Overrule and/or extend the default theming here
Include this .css after(!) the default .css
*/

.ui-autocomplete-input 
{
    width:490px;
        FONT-FAMILY: Verdana, sans-serif; 
    FONT-SIZE: 8pt;

}    

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active 
{
    border: solid 2px blue;
    background-image:none;
    background-color: #bee7ff;
FONT-FAMILY: Verdana, sans-serif;
 FONT-SIZE: 8pt;
}
.ui-menu .ui-menu-item
{
    FONT-FAMILY: Verdana, sans-serif; 
    FONT-SIZE: 8pt;
}

.ui-combobox {
	position: relative;
	display: inline-block;
}
.ui-autocomplete  
{
    height: 200px; overflow-y: scroll; overflow-x: hidden;
}

.ui-button .ui-button-text{
	LINE-HEIGHT: 10px;
	height:10px;
}

.ui-button-icon-only .ui-button-text
{
    padding:0px;
}

.ui-icon {
	HEIGHT: 10px
}

    