﻿@model Point.Planbord.Database.Models.ViewModels.SettingsHeaderMessageEx
@using Point.Planbord.Infrastructure.Extensions;

<script type="text/javascript">
    var formID = "#DepartmentHeaderMessageForm";
</script>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

@Scripts.Render("~/Scripts/date-nl-NL.js")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/jquery.validators.js")

<script type="text/javascript">

    $(document).ready(function () {

        $("#editDataTable").dataTable({
            "bStateSave": true,
            "sDom": "t",
            "bAutoWidth": false,
            "bSort": false,
            "iDisplayLength": -1,
            "oLanguage": { "sEmptyTable": "Geen data beschikbaar momenteel !" }
        });

        $(formID).validate();
    });
</script>

<div class="dialogContainer">
    @using (Html.BeginForm("Edit", "DepartmentHeaderMessage", FormMethod.Post, new { id = "DepartmentHeaderMessageForm" }))
    {
        if (Model != null)
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => Model.DepartmentID)
            <div class="">
                <table id="editDataTable" class="display">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Boodschap</th>
                            <th>&nbsp;</th>
                            <th>Einddatum (dd-mm-yyyy hh:mm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @Html.HiddenFor(x => Model.Values.Messages[0].MessageLevel) @Html.HiddenFor(x => Model.Values.Messages[0].Color)
                            <td>@Html.RadioButton("Values.MessageLevel", 0, (0 == (int)Model.Values.MessageLevel))</td>
                            <td>@Html.TextBoxFor(x => Model.Values.Messages[0].Text, new { maxlength = 50 })</td>
                            <td><div class="cellHeaderMessageColor" style="background-color: #@Model.Values.Messages[0].Color;"></div></td>
                            <td>@Html.TextBoxFor(x => Model.Values.Messages[0].EndDate, Model.Values.Messages[0].EndDate.ToPointDateTime(), new { @class = "pointdate" })</td>
                        </tr>
                        @for (int i = 1; i < Model.Values.Messages.Count(); i++)
                        {
                            <tr>
                                @Html.HiddenFor(x => Model.Values.Messages[i].MessageLevel) @Html.HiddenFor(x => Model.Values.Messages[i].Color)
                                <td>@Html.RadioButton("Values.MessageLevel", i, (i == (int)Model.Values.MessageLevel))</td>
                                <td>@Html.TextBoxFor(x => Model.Values.Messages[i].Text, new { maxlength = 50 })</td>
                                <td><div class="cellHeaderMessageColor" style="background-color: #@Model.Values.Messages[i].Color;"></div></td>
                                <td>@Html.TextBoxFor(x => Model.Values.Messages[i].EndDate, Model.Values.Messages[i].EndDate.ToPointDateTime(), new { @class = "pointdate" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>

