﻿@model IList<Point.Planbord.Database.Models.ViewModels.DepartmentHeaderMessageViewModel>
@using Point.Planbord.Infrastructure.Extensions;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Patiëntenlogistiek";
}

@section scripts {

    @Scripts.Render("~/Scripts/departmentheadermessage/departmentheadermessage.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 900px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.FirstOrDefault().SystemCode)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.FirstOrDefault().DepartmentName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.FirstOrDefault().LocationName)</th>
                    <th style="width: 500px;">@Html.DisplayNameFor(model => model.FirstOrDefault().HeaderMessage)</th>
                    <th style="width: 150px;">@Html.DisplayNameFor(model => model.FirstOrDefault().EndDate)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="EditDepartmentHeaderMessage" data-id="@item.DepartmentID" data-entity="DepartmentHeaderMessage" data-url="@Url.Action("Edit", "DepartmentHeaderMessage")">
                        <td>@item.SystemCode</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.LocationName</td>
                        <td><div class="rowHeaderMessageColor" style="background-color:@item.Color"><span>@item.HeaderMessage</span></div></td>
                        <td>@if (@item.EndDate.HasValue) { @item.EndDate.ToPointDateTime(); }</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
