﻿@using Point.Database.Models.ViewModels
@using Point.Infrastructure.Attributes
@model IEnumerable<TransferAttachmentViewModel>

@if (Model != null)
{
    <div class="panel panel-default">
        <div class="panel-heading"><b>Dumpbestanden voor u beschikbaar gesteld</b></div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.FileName, "Download", "DownloadReport", new { item.AttachmentID, Digest = AntiFiddleInjection.CreateDigest(item.AttachmentID) }, null)
                            </td>
                            <td>@item.DateTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}