﻿@model Department
<style>
    h4
    {
        margin-top:20px;
    }
    .panel-heading
    {
        font-weight:bold;
    }
</style>
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Model.Location.Organization.Name
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-4 control-label">Naam locatie</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @Model.Location.Name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Naam afdeling</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @Model.Name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Telefoon</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @Model.PhoneNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Telefax</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @Model.FaxNumber
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Straat / huisnummer</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @Model.Location.StreetName @Model.Location.Number
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Postcode / plaats</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @Model.Location.PostalCode @Model.Location.City
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            Emailadressen
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-4 control-label">Notificatie aanvraag</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @if (Model.RecieveEmail)
                        {
                            @Model.EmailAddress
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Notificatie VO</label>
                <div class="col-xs-5">
                    <div class="form-control">
                        @if (Model.RecieveEmailTransferSend)
                        {
                            @Model.EmailAddressTransferSend
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @if (Model.AdjustmentCapacityDate.HasValue || !String.IsNullOrEmpty(Model.Location.CapacityInfo))
    {
        var cap1 = (Model.CapacityDepartment.GetValueOrDefault() > 0 ? Model.CapacityDepartment.ToString() : "");
        var cap2 = (Model.CapacityDepartmentNext.GetValueOrDefault() > 0 ? Model.CapacityDepartmentNext.ToString() : "");
        var cap3 = (Model.CapacityDepartment3.GetValueOrDefault() > 0 ? Model.CapacityDepartment3.ToString() : "");
        var cap4 = (Model.CapacityDepartment4.GetValueOrDefault() > 0 ? Model.CapacityDepartment4.ToString() : "");

        <div class="panel panel-default">
            <div class="panel-heading">
                Capaciteit info
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Laatste aanpassing capaciteit</label>
                    <div class="col-xs-3">
                        <div class="form-control">
                            @if (Model.AdjustmentCapacityDate.HasValue)
                            {
                                @Model.AdjustmentCapacityDate.Value.ToString()
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Info m.b.t. capaciteit</label>
                    <div class="col-xs-8">
                        <textarea class="form-control">
                            @Model.Location.CapacityInfo
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Capaciteit</label>
                    <div class="col-xs-2"><label class="control-label">@DateTime.Now.ToShortDateString()</label></div>
                    <div class="col-xs-2"><label class="control-label">@DateTime.Now.AddDays(1).ToShortDateString()</label></div>
                    <div class="col-xs-2"><label class="control-label">@DateTime.Now.AddDays(2).ToShortDateString()</label></div>
                    <div class="col-xs-2"><label class="control-label">@DateTime.Now.AddDays(3).ToShortDateString()</label></div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4"></label>
                    <div class="col-xs-2"><div class="form-control">@cap1</div></div>
                    <div class="col-xs-2"><div class="form-control">@cap2</div></div>
                    <div class="col-xs-2"><div class="form-control">@cap3</div></div>
                    <div class="col-xs-2"><div class="form-control">@cap4</div></div>
                </div>
            </div>
        </div>
    }
</form>
