﻿@model OrganizationParticipantsViewModel
@using Point.Models.Enums;

@if (!Request.IsAjaxRequest())
{
    <style type="text/css">
        #participantstable tbody tr:hover
        {
            cursor:pointer;
        }
    </style>
    <script type="text/javascript">
        var formID = "#participants";

        function AjaxLoad(formID, requestUrl, target, callback) {
            var form = $(formID);
            var submitdata = form.serialize();

            var ajaxcall = $.ajax({
                url: requestUrl,
                data: submitdata,
                type: "POST"
            }).done(function (data) {
                $(target).html(data);
            });

            if (callback) {
                ajaxcall.complete(callback);
            }
        }

        function ShowModal(requestUrl) {
            $.ajax({
                type: "GET",
                url: requestUrl,
                data: $(this).data(),
                async: false,
                beforeSend: function () {
                    $("#modal").modal('show');
                },
                success: function (data) {
                    $("#modal .modal-body").html(data);
                },
                error: function (data) {
                    $("#modal .modal-body").html(data.responseText);
                }
            });
        }

        function getAvailableSearchHeight() {
            return ($(window).innerHeight() - $("#participantstable").offset().top - 90);
        }

        function LoadPage(button)
        {
            $("#page").val($(button).data("page"));
            Search();
        }

        function NewSearch() {
            $("#page").val(1);
            Search();
        }

        function KeySearch(event) {
            $("#page").val(1);
            if (event.keyCode == 13) {
                Search();
            }
        }

        function Search() {
            var requesturl = '@Html.Raw(Url.Action("Participants", "Organization"))';
            AjaxLoad(formID, requesturl, "#Scroller", settable);
        }

        $(function () {
            settable = function SetTable() {
                var availableSearchHeight = getAvailableSearchHeight();
                var gridWidth = $("participantstable").width();

                $("#participantstable")
                    .dataTable({
                        "scrollY": availableSearchHeight + "px",
                        "sScrollX": gridWidth + "px",
                        "paging": true,
                        "sDom": "t",
                        "ordering": false
                    });

                $(".sortable").each(function () {
                    $(this).on("click", function () {
                        var ordername = $(this).data("ordername");
                        if ($(this).hasClass("sorting_asc"))
                        {
                            $("#orderby").val(ordername + " desc");
                        } else {
                            $("#orderby").val(ordername + " asc");
                        }
                        
                        Search();
                    });
                });

                resizeSearchResultTable();

                $("tbody tr").on("click", function () {
                    var url = $(this).data("detailsurl");
                    ShowModal(url);
                });
            }

            $(document).on("keypress", "form", function (event) {
                return event.keyCode != 13;
            });

            $(window).on("resize", function () {
                resizeSearchResultTable();
            });

            settable();
        });

        function resizeSearchResultTable() {
            var availableSearchHeight = getAvailableSearchHeight();
            $("#participantstable tbody").closest("div").height(availableSearchHeight + 46);
        }
    </script>

    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Participants", "Organization", null, FormMethod.Post, new { id = "participants", @class = "form-horizontal" }))
            {
                <input type="hidden" id="page" name="Pager.PageNo" value="@Model.Pager.PageNo" />
                <input type="hidden" id="orderby" name="OrderBy" value="@Model.OrderBy" />
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="radio radio-inline">
                            <input type="radio" @(Model.DoRegionSearch ? "checked" : "") name="doregionsearch" value="true" onclick="NewSearch()" />
                            Regionaal
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" @(!Model.DoRegionSearch ? "checked" : "") name="doregionsearch" value="false" onclick="NewSearch()" />
                            Landelijk
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="radio radio-inline">
                            <input type="radio" @(Model.OrganizationTypeID == OrganizationTypeID.Hospital ? "checked" : "") name="OrganizationTypeID" value="@(OrganizationTypeID.Hospital)" onclick="NewSearch()" />
                            Ziekenhuizen
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" @(Model.OrganizationTypeID == OrganizationTypeID.HealthCareProvider ? "checked" : "") name="OrganizationTypeID" value="@(OrganizationTypeID.HealthCareProvider)" onclick="NewSearch()" />
                            VVT's
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <input type="text" name="search" onkeypress="KeySearch(event)" class="form-control" value="@Model.Search" />
                    </div>
                    <div class="col-xs-2">
                        <div class="btn btn-block btn-default" onclick="NewSearch()">Zoeken</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="Scroller" class="autoscroller">
        @ShowTable()
    </div>
}
else
{
    @ShowTable()
}

@functions{ 
    public string GetSortingClass(string columnName)
    {
        var sortingClass = "sorting";

        if (!Model.OrderBy.Contains(columnName))
        {
            return sortingClass;

        }

        return sortingClass + (Model.IsOrderDescending ? "_desc" : "_asc");
    }
}

@helper ShowTable()
{
    var startPage = 1;
    var endPage = startPage + Model.Pager.PageCount - 1;

    if (Model.Pager.PageNo > 5)
    {
        startPage = Model.Pager.PageNo - 5;
    }

    if (endPage - startPage > 10)
    {
        endPage = startPage + 9;
    }

    <table class="table table-striped" id="participantstable">
        <thead>
        <tr>
            <th></th>
            <th data-ordername="OrganizationName" style="min-width: 200px;" class="sortable @GetSortingClass("OrganizationName")">Organisatie</th>
            <th data-ordername="LocationName" style="min-width: 200px;" class="sortable @GetSortingClass("LocationName")">Locatie</th>
            <th data-ordername="DepartmentName" style="min-width: 200px;" class="sortable @GetSortingClass("DepartmentName")">Afdeling</th>

            <th data-ordername="AfterCareType" style="min-width: 200px;" class="sortable @GetSortingClass("AfterCareType")">Nazorg</th>
            <th data-ordername="RegionName" style="min-width: 100px;" class="sortable @GetSortingClass("RegionName")">Regio</th>

            <th data-ordername="AnyFlowSending" style="min-width: 70px;" class="text-right sortable @GetSortingClass("AnyFlowSending")">Verzendt</th>
            <th data-ordername="AnyFlowReceiving" style="min-width: 70px;" class="text-right sortable @GetSortingClass("AnyFlowReceiving")">Ontvangt</th>

            <th data-ordername="Capacity0" style="min-width: 70px" class="text-right sortable @GetSortingClass("Capacity0")">@(DateTime.Now.ToShortDateString())</th>
            <th data-ordername="Capacity1" style="min-width: 70px" class="text-right sortable @GetSortingClass("Capacity1")">@(DateTime.Now.AddDays(1).ToShortDateString())</th>
            <th data-ordername="Capacity2" style="min-width: 70px" class="text-right sortable @GetSortingClass("Capacity2")">@(DateTime.Now.AddDays(2).ToShortDateString())</th>
            <th data-ordername="Capacity3" style="min-width: 70px" class="text-right sortable @GetSortingClass("Capacity3")">@(DateTime.Now.AddDays(3).ToShortDateString())</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Participants)
            {
                <tr data-detailsurl="@Url.Action("DepartmentDetails", new {item.DepartmentID, Digest = AntiFiddleInjection.CreateDigest(item.DepartmentID)})">
                    <td>
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </td>
                    <td>@item.OrganizationName</td>
                    <td>@item.LocationName</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.AfterCareType</td>
                    <td>@item.RegionNames</td>
                    <td class="text-center">
                        @Html.Raw(item.IsSendingParty ? "<span class='glyphicon glyphicon-ok' />" : "")
                    </td>
                    <td class="text-center">
                        @Html.Raw(item.IsReceivingParty ? "<span class='glyphicon glyphicon-ok' />" : "")
                    </td>
                    <td class="text-right">@item.Capacity0</td>
                    <td class="text-right">@item.Capacity1</td>
                    <td class="text-right">@item.Capacity2</td>
                    <td class="text-right">@item.Capacity3</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <b>@Model.Pager.TotalCount</b> resultaten
        </div>
        <div class="col-sm-6 text-right">
            <ul class="pagination pagination-sm" style="margin-top:10px;margin-bottom:0;">
                @if (startPage > 1)
                {
                    <li class="paginate_button" aria-controls="example" tabindex="0">
                        <a href="#" name='page' data-page="@(startPage)" onclick="LoadPage(this)">..</a>
                    </li>
                }

                @for (int page = startPage; page <= endPage; page++)
                {
                    string active = (page == Model.Pager.PageNo) ? "active" : null;
                    <li class="paginate_button @active" aria-controls="example" tabindex="0">
                        <a href="#" name='page' data-page="@page" onclick="LoadPage(this)">@page</a>
                    </li>
                }
                @if (endPage < Model.Pager.PageCount)
                {
                    <li class="paginate_button" aria-controls="example" tabindex="0">
                        <a href="#" name='page' data-page="@(endPage)" onclick="LoadPage(this)">..</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
