﻿<div id="dialogAlert" style="display: none;">
    <div class="dialogHeader">
        <div style="float: left" id="dialogAlertHeader"></div>
    </div>
    <div class="dialogSubheader">
        <span id="dialogAlertSubheader"></span>
    </div>
    <div class="dialogDetails">
        <div class="dialogSubheader2" id="dialogAlertSubheader2">
        </div>
    </div>
</div>