﻿<div id="dialogPatientOverview" style="display: none;">
    <div class="dialogHeader">
        <div style="float:left" id="dialogFulltextPatient"></div>
        <div style="float:right" id="dialogFulltextBed"></div>
    </div>
    <div id="patientDetails">

    </div>
    </div>
