﻿@{
    string dialogid = ViewData["DialogID"] as string;
    if (String.IsNullOrWhiteSpace(dialogid)) { dialogid = "dialogConfirm"; }
}
<div id="@dialogid" style="display: none;">
    <div class="dialogHeader">
        <div style="float: left" id="dialogConfirmHeader"></div>
    </div>
    <div class="dialogSubheader">
        <span id="dialogConfirmSubheader"></span>
    </div>
    <div class="dialogDetails">
        <div class="dialogSubheader2">
            <div id="dialogConfirmSubheader2" style="margin-bottom:20px;"></div>
            Klik <img src="~/Content/images/iconCheck.png" style="cursor:pointer;" onclick="$('#dialogConfirm').parent().find('.buttonOk').click();" /> om door te gaan,<br />
            Klik <img src="~/Content/images/iconDelete.png" style="cursor:pointer;" onclick="$('#dialogConfirm').parent().find('.buttonClose').click();" /> om terug te keren.
        </div>
    </div>
</div>