﻿<div id="dialogFulltext" style="display: none;">
    <div class="dialogHeader">
        <div style="float:left" id="dialogFulltextPatient"></div>
        <div style="float:right" id="dialogFulltextBed"></div>
    </div>
    <div class="dialogSubheader">
        <span id="dialogFulltextSubheader"></span>
    </div>
    <div class="dialogDetails">
        <div class="dialogSubheader2" id="dialogFulltextSubheader2">
        </div>
    </div>
</div>
 