﻿<div class="dialogHeader">
    <div style="float:left">@ViewBag.PlanbordDialogHeaderLeft</div>
    <div style="float:right">@ViewBag.PlanbordDialogHeaderRight</div>
</div>
<div class="dialogSubheader">
    <span>@ViewBag.PlanbordDialogSubHeader</span>
</div>
