﻿@{
    
}


@Scripts.Render("~/Scripts/Shared/Common.js")
@Scripts.Render("~/Scripts/Shared/_Header_Administration.js")

<div class="planbordHeader adminHeader">
    <div class="title1"><span>VISMO - @(!String.IsNullOrWhiteSpace(ViewBag.Title)?ViewBag.Title:"Administratie")</span></div>
    <div class="header-username"><div style="width:200px;overflow:hidden;white-space:nowrap;">Ingelogd als: <br /><div class="accent" style="height:35px;margin-left:0px;">@User.Identity.Name</div></div></div>
    <div class="header-admin"><a href='@Url.Action("Index", "Administration")'><div class="headerIcon iconGear"></div></a></div>
    <div class="header-home"><a href='@Url.Action("Index", "Planbord")'><div class="headerIcon iconHome" style=""></div></a></div>
    <div class="header-logoff" data-url-replace="@Url.Action("Logoff", "Account")" data-confirm="Weet u zeker dat u wilt uitloggen?"><div class="headerIcon iconLogoff"></div></div>  
</div>
<div id="dialogShiftDepartment" style="display: none;"></div>