﻿@using Point.Planbord.Infrastructure;
@{
    
}
<script>
    var urlIndex = '@Url.Action("Index", "Planbord")';
    var urlCurrentAction = '@Url.Action(ViewContext.RouteData.Values["Action"].ToString(),"Planbord")';
    var urlTotals = '@Url.Action("Totals","Planbord")';
    var urlCapacityOverview = '@Url.Action("CapacityOverview","Planbord")';

    var RefreshTimer = '@ViewBag.RefreshTimer';

    var currentAction = '@ViewContext.RouteData.Values["Action"]';

</script>
@Scripts.Render("~/Scripts/Shared/_Header_Planbord.js")

<div class="planbordHeader">
@if(Request.IsAuthenticated) {
    <div class="title1"><span>@ViewBag.CurrentDepartmentName</span></div>
    if(ViewContext.RouteData.Values["Action"] == "Index") { Html.RenderAction("HeaderMessage", "Settings"); }
    <div class="header-verwacht" data-url="@Url.Action("Expected","Planbord")" data-id="-1">Verwacht:<br /><div class="headerIcon iconExpected"><span class="accent"></span></div></div>
    <div class="header-capaciteit" data-url="@Url.Action("Capacity","Planbord")" data-id="-1">Capaciteit:<br /><div class="headerIcon iconCapacity"><span class="accent"></span></div></div>
    <div class="header-bezettebedden">Bezet:<br /><div class="headerIcon iconOccupied"><span class="accent"></span></div></div>
    <div class="header-refreshIcon"><div id="iconRefresh" class="headerIcon iconRefresh" onclick="pageRefresh(true);"></div></div>
    <div class="header-refresh">Laatste: <span id="header-refresh-current"></span><br />Volgende: <span id="header-refresh-next"></span></div>
    <div class="header-datetime">@DateTime.Now.ToString("dddd d MMMM")<br /><span id="currentTime" class="accent"></span></div>
    if (User.IsInRole(Role.PlanbordAdministrator.ToString()) || User.IsInRole(Role.OrganizationAdministrator.ToString()) || User.IsInRole(Role.PersonalAccount.ToString()) || User.IsInRole(Role.LogistiekAccount.ToString()))
    { 
        <div class="header-admin"><a href='@Url.Action("Index", "Administration")'><div class="headerIcon iconGear" style=""></div></a></div>
    }
    if (!User.IsInRole(Role.CapacityAccount.ToString()))
    {
        <div class="header-home"><a><div class="headerIcon iconHome" style="" data-url="@Url.Action("ShiftDepartmentSelect", "Planbord")"></div></a></div>
    }
    <div class="header-logoff" data-url-replace="@Url.Action("Logoff", "Account")" data-confirm="Weet u zeker dat u wilt uitloggen?"><div class="headerIcon iconLogoff"></div></div>
    <div class="header-showhide"><div id="showHideMenuIcons" style="width:20px;height:64px"></div></div>   
}
</div>
<div id="dialogShiftDepartment" style="display: none;"></div>
<div id="dialogExpected" style="display: none;"></div>
<div id="dialogCapacity" style="display: none;"></div>
