﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/themes/base/css","~/Content/css")

    <link href="~/Content/DataTables/css/planbord_table.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/planbord.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/keyboard.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerykeyboard")

    @if (Request.IsAuthenticated)
    {
        @Scripts.Render("~/Script/IconDefinitions") @* Using the ScriptController *@
        <link href="~/Script/IconCSS" rel="stylesheet" type="text/css">

        <script>
            var AutoCloseTimer = '@ViewBag.AutoCloseTimer';
            var urlSecurity = '@Url.Action("Security","Planbord")';
            var DoPinCheck = '@ViewBag.DoPinCheck';
        </script>
    }


    @Scripts.Render("~/Scripts/Shared/Utils.js")
    @Scripts.Render("~/Scripts/Shared/Common.js")
    @Scripts.Render("~/Scripts/Shared/_Layout_Planbord.js")


    </head>
        <body>
            <div data-role="page" @Html.Raw(ViewContext.RouteData.Values["Controller"]=="Planbord"?"unselectable=\"on\" onselectstart=\"return false;\"":"")>

                <div data-role="header">
                    @if (IsSectionDefined("Header")) {
                        @RenderSection("Header")
                } else {
                        @Html.Partial("_Header_Planbord")
                }
                </div>
                <div data-role="content">
                    @RenderBody()
                </div>
            </div>

            <div class="overlay" style="display: none;">
                <div class="loading-image">
                    <img src="~/Content/images/clock.png" alt="Pagina wordt geladen, even geduld a.u.b.">
                    <div>Pagina wordt geladen, even geduld a.u.b.</div>
                </div>
            </div>

            @RenderSection("scripts", required: false)
        </body>
    </html>
