﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")

    <link href="~/Content/DataTables/css/planbord_table.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/planbord.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/keyboard.css" rel="stylesheet">
    <link href="~/Content/administration.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.minicolors.css" rel="stylesheet" type="text/css" />

    

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/Scripts/jquery.validate.min.js") 
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

    @Scripts.Render("~/bundles/jquerykeyboard")

    @Scripts.Render("~/bundles/dataTables")

    

    @* Bundle these: *@
    @Scripts.Render("~/Scripts/jquery.minicolors.js")
    @Scripts.Render("~/Scripts/Shared/Utils.js")
    @Scripts.Render("~/Scripts/Shared/Common.js")
    @Scripts.Render("~/Scripts/Administration/administration.js")

</head>
<body>
    <div data-role="page">
        <div data-role="header">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else
            {
                @Html.Partial("_Header_Administration")
            }
        </div>
        <div data-role="content" class="loginBody">
            @RenderBody()
        </div>
    </div>
    @{Html.RenderPartial("~/Views/Shared/_Dialog_Fulltext.cshtml");}
    @{Html.RenderPartial("~/Views/Shared/_Dialog_Confirm.cshtml");}
    @RenderSection("scripts", required: false)
</body>
</html>


