﻿@model System.Web.Mvc.HandleErrorInfo
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/planbord.css")" rel="stylesheet" type="text/css" />
</head>
<body class="loginBody">

    <div onclick="location.replace('@Url.Content("~")');" style="text-align:center;border:1px solid #004b6a;width:250px;height:110px;padding:20px;margin:50px;">
        <h1 class="error">Er is iets fout gegaan!</h1>
        <br />
        <h3>Klik hier om de pagina opnieuw te laden.</h3>
    </div>


</body>
</html>


