﻿
.form-buttons {
    margin-top: 20px;
}

.form-buttons .btn {
    min-width: 100px;
}

.margin2 {
    margin-left: 20px;
}

#doctorsImportTable tbody tr .error:hover {
    cursor: pointer;
}

#doctorsImportTable ul {
    margin-bottom: 0;
}

#doctorsImportTable tr .checkbox-inline {
    margin-top: 0;
}

#errorMessage {
    background-color: #C01212;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-style: groove;
}

#ActionMessage {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    border-style: groove;
}

#ActionMessage.actionmessage-error {
    background-color: #C01212;
}

#ActionMessage.actionmessage-success {
    background-color: darkgreen;
}

#ActionMessage.actionmessage-warning {
    background-color: orangered;
}

#panelUploader {
    width: 100%;
}

#importButtonGroup {
    position: absolute;
    width: 100%;
    bottom: 15px;
}

#startDoctorsImport {
    position: absolute;
    right: 30px;
    border-color: greenyellow;
    border-width: 2px;
}

#startDoctorsImport.disabled {
    border-color: inherit;
    border-width: inherit;
}

#panelDoctorsImport > #doctorsImportWrapper {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 600px !important;
    max-height: 80%;
    overflow-y: auto;
}

.error {
    color: darkred;
    font-weight: bold;
}

#errorsImportList {
    list-style: none;
}

#errorsImportList li.child {
    padding-left: 15px;
}

.modal-header {
    font-size: large;
}

#errorsImportContent {
    max-height: 400px;
    overflow-y: auto;
}

#importButtonGroup .glyphicon span {
    font-family: initial;
    margin-left: 10px;
}

.csvinfoexample-page {
    background-color: whitesmoke;
    border-style: outset;
    padding: 10px 10px 30px 10px;
}

.csvinfoexample-page > div > span {
    color: red;
    font-weight: bold;
    padding: 0 3px;
}

.csvinfoexample-page > div > span.csv-comma {
    color: darkorange;
    font-weight: bold;
}

.csv-row {
    color: gray;
}

#errormodal .modal-dialog {
    width: 700px;
}

.csv-legenda {
    width: 100%;
    margin-top: 20px;
}

.csv-legenda ul {
    margin-left: 0;
    padding-left: 7px;
    list-style: none;
}

.csv-legenda ul li > div {
    width: 120px;
    display: inline-block;
}

.csv-legenda ul li > span {
    margin-left: 10px;
}

.csv-legenda ul li div > span, .csvinfo-footer > span {
    color: red;
    font-size: smaller;
    margin-left: 5px;
    margin-right: 5px;
}

.csvinfo-footer {
    font-size: smaller;
}
