﻿

#organizationMigrateLocationsGrid {
    height: auto;
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
}

#organizationMigrateLocationsGrid #gridTable, table tr {
    cursor: pointer;
}

#organizationMigrateLocationList > .form-group {
    padding-left: 0;
}

.grid-organization {
    height: auto;
    max-height: 126px;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid-border {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-top-style: none;
}

#searchOrganizations {
    margin-top: 10px;
}

#migrationStart {
    margin-top: 5px;
    width: 300px;
}

.header-active {
    color: yellow;
}

.title-active {
    font-weight: bold;
}

button.active, button.active:hover {
    background-color: #00bdf4;
    border-color: #00bdf4;
    color: white;
}