﻿
#modal {
    height: 750px;
}

.line-error {
    color: red;
}

.line-header {
    font-weight: bold;
}

.line-warning {
    color: orangered;
}

.line-task-end {
    color: green;
    font-weight: bold;
}

.title-line > div {
    padding-left: 0;
}

#filterLines > span {
    padding-right: 20px;
    font-weight: bold;
}

.modal-body div#migrateOrgResults .systemmessage-date {
    font-weight: bold;
    max-width: 200px;
    right: 50px;
}

.modal-body div#migrateOrgResults .label, .modal-body div#migrateOrgResults .error {
    padding: 2px 7px;
    color: red;
}

.modal-body div#migrateOrgResults .header-table {
    overflow-x: hidden;
}

.modal-body div#migrateOrgResults table {
    margin-bottom: 0 !important;
}

.modal-body div#migrateOrgResults #migrateOrgResultLines {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-body div#migrateOrgResults .header-table td, .modal-body div#migrateOrgResults th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

    .modal-body div#migrateOrgResults .header-table td:first-child, .modal-body div#migrateOrgResults th:first-child {
        display: none;
    }

.modal-body div#migrateOrgResults td {
    padding: 4px !important;
}

.modal-body div#migrateOrgResults {
    white-space: normal !important;
}

    .modal-body div#migrateOrgResults .title-line {
        margin-left: 0 !important;
        padding-bottom: 5px;
    }

    .modal-body div#migrateOrgResults .panel {
        margin-bottom: 0;
    }
