﻿@model Employee
<h4>Informatie over Medewerker</h4>
<div class="row">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.FirstName)
    </div>
</div>
<div class="row">
    @Html.LabelFor(m => m.MiddleName, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.MiddleName)
    </div>
</div>
<div class="row">
    @Html.LabelFor(m => m.LastName, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.LastName)
    </div>
</div>
<div class="row">
    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.PhoneNumber)
    </div>
</div>
<div class="row">
    @Html.LabelFor(m => m.EmailAddress, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.EmailAddress)
    </div>
</div>