﻿@model FormType
<h4>Informatie over Formulier type</h4>
<div class="row">
    @Html.LabelFor(m => m.Name, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>
<div class="row">
    @Html.LabelFor(m => m.URL, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.URL)
    </div>
</div>
