﻿@model CopyOfTransferViewModel
<div class="panel" style="min-width:500px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">Dossier</div>
            <div class="col-xs-8">@Model.TransferID</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Aangemaakt</div>
            <div class="col-xs-8">@Model.DateTimeCreated</div>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">@Html.ActionLink("Ga naar dossier", "Dashboard", "FlowMain", new { Model.TransferID }, new { @class = "btn btn-default" })</div>
        </div>
    </div>
</div>
