﻿@model LastGrzFormViewModel
<div class="panel" style="min-width:500px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">Datum</div>
            <div class="col-xs-8">@Model.DateTimeString</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Type</div>
            <div class="col-xs-8">@Model.FormTypeName</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Naam</div>
            <div class="col-xs-8 lastmemocontent">@Model.Description</div>
        </div>
    </div>
</div>
