﻿@model LastFeedbackMemoViewModel
<div class="panel" style="min-width:500px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">Datum</div>
            <div class="col-xs-8">@Model.DateTimeString</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Medewerker</div>
            <div class="col-xs-8">@Model.EmployeeName</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Inhoud</div>
            <div class="col-xs-8">@Model.MemoContent</div>
        </div>
    </div>
</div>
