﻿@model List<TransferMemoSimpleViewModel>
<div class="panel" style="min-width:500px;max-height:200px;overflow:auto">
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <text>@Html.Raw(item.TransferMemoItem)<br /></text>
        }
    </div>
</div>
