﻿@model LastTransferAttachmentViewModel
<div class="panel" style="min-width:500px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">Datum</div>
            <div class="col-xs-8">@Model.DateTimeString</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Naam</div>
            <div class="col-xs-8">@Model.Name</div>
        </div>
        <div class="row">
            <div class="col-xs-4">Beschrijving</div>
            <div class="col-xs-8">@Model.Description</div>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">@Html.ActionLink("Ga naar bijlagen", "List", "TransferAttachment", new { Model.TransferID }, new { @class = "btn btn-default" })</div>
        </div>
    </div>
</div>
