﻿@model List<TransferTaskViewModel>
<div class="panel" style="min-width:500px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">Verloopdatum</div>
            <div class="col-xs-6">Beschrijving</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-xs-4">@item.DueDate.ToPointDayMonthTime()</div>
                <div class="col-xs-6">@Html.Raw(item.Description)</div>
            </div>
        }
    </div>
</div>
