﻿@model Region
<h4>Informatie over de Regio</h4>
<div class="row">
    @Html.LabelFor(m => m.Name, new { @class = "col-xs-5" })
    <div class="col-xs-7">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>