﻿@model ServiceArea
<h4>Informatie over bedieningsgebied</h4>
@if (Model == null)
{
    <div class="alert alert-warning">Geen informatie beschikbaar</div>
}
else
{
    <div class="row">
        @Html.LabelFor(m => m.Description, new { @class = "col-xs-5" })
        <div class="col-xs-7">
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>
}
