﻿
@model IEnumerable<ClientOpenTransferViewModel>
 <div id="ShowClientOpenTransfers">
    <div class="well well-lg">
        <b>
            Van deze patient/client bestaat actuele POINT dossier(s). Wilt u doorgaan met het aanmaken van dit dossier ?
        </b>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Naam patient/client
                </th>
                <th>
                    Flow
                </th>
                <th>
                    Aanmaak datum
                </th>
                <th>
                    Aangemaakt door
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count() == 0)
            {
                <tr><td colspan="5">Geen resultaten</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ClientName </td>
                        <td>@item.FlowType</td>
                        <td>@item.CreateDate.ToString("dd-MM-yyyy")</td>
                        <td>@item.CreateBy</td>
                    </tr>
                }
            }
        </tbody>

    </table>


    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn" id="opendossiernee">Nee</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger" id="opendossierja">Ja</button>
    </div>
</div>