﻿@using Point.MVC.WebApplication.Extensions;
@model ClientSimpleViewModel

<script type="text/javascript">
    var formID = "#clientForm";
    var formRequestUrl = "@Html.Raw(Url.Action("EditSimple", "Client",
        new
        {
            digest = AntiFiddleInjection.CreateDigest(Model.ClientID),
            Model.Global.TransferID,
            PhaseDefinitionID = Request["PhaseDefinitionID"],
            Model.Global.PhaseInstanceID,
            Model.DepartmentID
        }))";
    var departmentID = @Model.DepartmentID;
    var dashboardUrl = "@Url.Action("DashBoard", "FlowMain")";
    var importClientUrl = "@Url.Action("GetClientFromCivilServiceNumber","Client")";
    var nedapClientUrl = "@Url.Action("GetClientFromNedapService", "Client")";
    var bsnRequired = @Json.Encode(Model.BSNRequired);
    var pharmacyRequired = false;
    var searchByPatientInfoUrl = "@Html.Raw(Url.Action("ClientSearch", "ClientSearch"))";
</script>

@{
    var data_disabled = Model.Global.IsReadMode ? "disabled" : "";
}

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Client")

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "clientForm", @class = "form-horizontal", data_disabled }))
{
    @Html.HiddenFor(m => m.ClientID)
    @Html.HiddenFor(m => m.BSNRequired)

    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 5px;">
        <li class="active"><a data-target="#tabsAlgemeen" data-toggle="tab" href="#">Patiëntgegevens</a></li>
    </ul>
    <div class="tab-content pre-scrollable" id="Scroller">
        <div id="tabsAlgemeen" class="tab-content">
            <div class="tab-pane active" style="min-height:50px;">
                <div class="panel panel-blue">
                    <div class="panel-body bg-lightblue">
                        @if (Model.ShowSearchComplete)
                        {
                            <span class="btn btn-default pull-right" style="cursor: pointer" id="btnSearchByPatientInfo" data-toggle="tooltip" data-placement="left" title="Zoek naar bestaande dossiers van de patiënt op basis van Naam, BSN of geb.datum zodat patiëntgegevens hieruit kunnen worden overgenomen.">
                                Gegevens ophalen uit bestaande dossiers
                            </span>
                        }

                        <div class="form-group hidden-md hidden-lg">
                            <div class="col-xs-12"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CivilServiceNumber, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @if (Model.ShowSearchBSN)
                                {
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.CivilServiceNumber, new { @class = "flowfield form-control", data_val_bsn = "BSN is niet correct!" })
                                        <span class="input-group-addon" style="cursor: pointer" id="btnImportClient" data-toggle="tooltip" data-placement="left" title="Vul een bsnnummer in en druk op 'Haal patientgegevens op' om bestaande client gegevens op te halen.">
                                            Haal patientgegevens op
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.CivilServiceNumber, new { @class = "flowfield form-control", data_val_bsn = "BSN is niet correct!" })
                                }
                            </div>
                            @if (Model.ShowNedapRetrieve)
                            {
                                <div class="col-xs-1">
                                    <button type="button" class="btn btn-azure" id="btnNedap">Haal patientgegevens op via Nedap</button>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Gender, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                <label class="radio radio-inline">@Html.RadioButtonFor(m => m.Gender, "m")Man</label>
                                <label class="radio radio-inline">@Html.RadioButtonFor(m => m.Gender, "v")Vrouw</label>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Initials, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.Initials, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MiddleName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MaidenName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.MaidenName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BirthDate, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-3">
                                <div class="input-group date">
                                    @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.GeneralPractitionerName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.GeneralPractitionerName, new { @class = "flowfield form-control" })</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.GeneralPractitionerPhoneNumber, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.GeneralPractitionerPhoneNumber, new { @class = "flowfield form-control" })</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressGPForZorgmail, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.AddressGPForZorgmail, new { @class = "flowfield form-control", @readonly = "readonly" })</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
