﻿@using Point.MVC.WebApplication.Extensions
@model ClientFullViewModel

<script type="text/javascript">
    var nedapClientUrl = "@Url.Action("GetClientFromNedapService", "Client")";
    var formID = "#clientForm";
    var nedapClientUrl = "@Url.Action("GetClientFromNedapService", "Client")";
    var formRequestUrl = "@Html.Raw(Url.Action("EditFull", "Client", new { digest = AntiFiddleInjection.CreateDigest(Model.ClientID), Model.Global.TransferID, PhaseDefinitionID = Request["PhaseDefinitionID"], PhaseInstanceID = Model.Global.PhaseInstanceID, DepartmentID = Model.DepartmentID }))";
    var importClientUrl = "@Url.Action("GetClientFromCivilServiceNumber","Client")";
    var departmentID = @Model.DepartmentID;
    var dashboardUrl = "@Url.Action("DashBoard", "FlowMain")";  // used in PhaseButtons.js
    var bsnRequired = @Json.Encode(Model.BSNRequired);
    var pharmacyRequired = @Json.Encode(Model.PharmacyRequired);
    var disablePN = @Json.Encode(Model.HavePatExternalReference);
    var patientnumber = "@Model.PatExternalReference";
    var receiveurl = "@Html.Raw(Model.PatientReceiveURL)";
    var requesturl = "@Html.Raw(Model.PatientRequestURL)";
    var searchByPatientInfoUrl = "@Html.Raw(Url.Action("ClientSearch", "ClientSearch"))";
    var requiredBSNUrl = "@Url.Action("BSNIsRequired","Client")";
    var healthinsurerIDsNotInsured = [@String.Join(",",Model.ClientLookups.HealthInsurerIDsNotInsured)];
    var hasClientOpenDossierUrl = "@Url.Action("HasClientOtherOpenDossier", "Client")";
</script>

@{
    var data_disabled = Model.Global.IsReadMode ? "disabled" : "";
}

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/Client")

@if (Model.HavePatExternalReference && (!Model.IsInstanced || Model.ClientID <= 0))
{
    @Scripts.Render("~/Bundles/Scripts/ExternalPatient")

    <script type="text/javascript">

        $(function () {
            if (!isNullOrEmpty(patientnumber)) {
                var externalpatient = new ExternalPatient({ requesturl: requesturl, receiveurl: receiveurl, patientnumber: patientnumber });
                externalpatient.collect();
            }
        });
    </script>

    <div class="modal" id="loaderImportHL7" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div style="height:70px;">
                        <img style="float:left;" src="@Url.Content("~/Images/status_Point_anim.gif")" />
                        De gegevens voor pati&euml;nt-nummer '@Model.PatExternalReference'<br />
                        worden geïmporteerd.<br />
                        Even geduld a.u.b.<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (var form = Html.BeginFlowFormResponsive("EditFull", FormMethod.Post, new Dictionary<string, object> { { "id", "clientForm" }, { "class", "form-horizontal" }, { "data-disabled", data_disabled } }, labelSize: new BootstrapSize(6,3), controlSize: new BootstrapSize(6,9)))
{
    @Html.HiddenFor(m => m.ClientID)
    @Html.HiddenFor(m => m.ClientIsAnonymous)    
    @Html.HiddenFor(m => m.BSNRequired)

    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 5px;">
        <li class="@Html.ToActive(Model.IsGeneralTabActive)"><a data-target="#tabsAlgemeen" data-toggle="tab" href="#">Patiëntgegevens</a></li>
        <li class="@Html.ToActive(Model.IsAddressTabActive)"><a data-target="#tabsAdres" data-toggle="tab" href="#">Adres</a></li>
        <li class="@Html.ToActive(Model.IsContactTabActive)"><a data-target="#tabsContactpersoon" data-toggle="tab" href="#">Contactpersoon</a></li>
        <li class="@Html.ToActive(Model.IsMiscTabActive)"><a data-target="#tabsOverig" data-toggle="tab" href="#">Zorg instanties</a></li>
    </ul>

    <div class="tab-content pre-scrollable" id="Scroller">

        <div id="tabsAlgemeen" class="tab-pane fade @Html.Conditional(Model.IsGeneralTabActive, "in active")" style="min-height:50px;">
            @using (var sectionGeneralBasic = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    @if (!Model.ClientShowAnonymous)
                    {
                        if (Model.ShowNedapRetrieve)
                        {
                            <span class="pull-right">
                                <button type="button" class="btn btn-azure" id="btnNedap">Haal patientgegevens op via Nedap</button>
                            </span>
                    }
                        <div class="form-group" id="bsnarea">
                            @Html.LabelFor(m => m.CivilServiceNumber, new { @class = "control-label col-xs-12 col-sm-3 col-md-3" })
                            <div class="col-xs-12 col-sm-5 col-md-5">
                                @if (Model.EnableGetBSN)
                                {
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.CivilServiceNumber, new {  @class = "flowfield form-control", data_val_bsn = "BSN is niet correct!" })
                                        <span class="input-group-addon" style="cursor: pointer" id="btnSearchByPatientInfo" data-toggle="tooltip" data-placement="left" title="zoek naar bestaande dossiers van de patiënt op basis van Naam, BSN of geb.datum zodat patiëntgegevens hieruit kunnen worden overgenomen.">
                                            Gegevens ophalen uit bestaande dossiers
                                        </span>
                                    </div>
                                }
                                else
                                {
                                @Html.TextBoxFor(m => m.CivilServiceNumber, new { @class = "flowfield form-control", data_val_bsn = "BSN is niet correct!" })
                                }
                            </div>
                           
                        </div>
                        <div class="form-group ">
                            <div class="control-label col-xs-12 col-sm-3 col-md-3"></div>
                            <div class="col-xs-12 col-sm-5 col-md-5">
                                <label class="checkbox checkbox-inline">@Html.CheckBoxFor(m => m.HasNoCivilServiceNumber)<span>@Html.DisplayNameFor(m => m.HasNoCivilServiceNumber)</span></label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.HiddenFor(m => m.CivilServiceNumber)
                            @Html.LabelFor(m => m.CivilServiceNumber, new { @class = "control-label col-xs-3" })
                            <label class="control-label col-xs-12">BSN is anoniem totdat de patiënt is geaccepteerd</label>
                        </div>
                    }

                    <div class="form-group" style="@(Model.HideHospitalFields ? "display:none;" : "")">
                        @Html.LabelFor(m => m.PatientNumber, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-3 col-md-2">@Html.TextBoxFor(m => m.PatientNumber, new { @class = "flowfield form-control" })</div>

                        @Html.LabelFor(m => m.VisitNumber, new { @class = "control-label col-xs-6 col-sm-2 col-md-1" })
                        <div class="col-xs-6 col-sm-3 col-md-2">@Html.TextBoxFor(m => m.VisitNumber, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Gender, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6">
                            @Html.SecureEnumRadioButtonListFor(m => m.Gender)
                        </div>
                    </div>

                    @if (!Model.ClientShowAnonymous)
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-3">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Initials, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-3">
                                @Html.TextBoxFor(m => m.Initials, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-3">@Html.TextBoxFor(m => m.FirstName, new { @class = "flowfield form-control" })</div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.HiddenFor(m => m.LastName)
                            @Html.HiddenFor(m => m.Initials)
                            @Html.HiddenFor(m => m.FirstName)
                            <label class="control-label col-xs-6 col-sm-3">Patientnaam</label>
                            <label class="control-label col-xs-6 col-sm-9">Patientnaam is anoniem totdat de patiënt is geaccepteerd</label>
                        </div>
                    }

                </div>
            }
            @using (var sectionGeneralNames = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    @if (!Model.ClientShowAnonymous)
                    {
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">
                                @Html.DisplayNameFor(m => m.MaidenName), @Html.DisplayNameFor(m => m.MiddleName)
                                <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MaidenName), @Html.DisplayNameFor(m => m.MiddleName)" data-content="Vanuit de koppeling (kunnen/) worden drie verschillende namen aangeleverd. Alleen het veld 'Achternaam', ook wel 'Samengestelde naam' genoemd, is verplicht"><span class="glyphicon glyphicon-info-sign"></span></span>
                            </label>
                            <div class="col-xs-6 col-sm-3">
                                @Html.TextBoxFor(m => m.MaidenName, new { @class = "flowfield form-control" })
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">
                                @Html.DisplayNameFor(m => m.PartnerName), @Html.DisplayNameFor(m => m.PartnerMiddleName)
                                <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.PartnerName), @Html.DisplayNameFor(m => m.PartnerMiddleName)" data-content="Vanuit de koppeling (kunnen/) worden drie verschillende namen aangeleverd. Alleen het veld 'Achternaam', ook wel 'Samengestelde naam' genoemd, is verplicht"><span class="glyphicon glyphicon-info-sign"></span></span>
                            </label>
                            <div class="col-xs-6 col-sm-3">
                                @Html.TextBoxFor(m => m.PartnerName, new { @class = "flowfield form-control" })
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                @Html.TextBoxFor(m => m.PartnerMiddleName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">
                                @Html.DisplayNameFor(m => m.MaidenName), @Html.DisplayNameFor(m => m.MiddleName)
                                <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.MaidenName), @Html.DisplayNameFor(m => m.MiddleName)" data-content="Vanuit de koppeling (kunnen/) worden drie verschillende namen aangeleverd. Alleen het veld 'Achternaam', ook wel 'Samengestelde naam' genoemd, is verplicht"><span class="glyphicon glyphicon-info-sign"></span></span>
                            </label>
                            <label class="control-label col-xs-12 col-sm-9">Anoniem totdat de patiënt is geaccepteerd</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">
                                @Html.DisplayNameFor(m => m.PartnerName), @Html.DisplayNameFor(m => m.PartnerMiddleName)
                                <span style="cursor:pointer;" data-toggle="clickover" data-title="@Html.DisplayNameFor(m => m.PartnerName), @Html.DisplayNameFor(m => m.PartnerMiddleName)" data-content="Vanuit de koppeling (kunnen/) worden drie verschillende namen aangeleverd. Alleen het veld 'Achternaam', ook wel 'Samengestelde naam' genoemd, is verplicht"><span class="glyphicon glyphicon-info-sign"></span></span>
                            </label>
                            <label class="control-label col-xs-12 col-sm-9">Anoniem totdat de patiënt is geaccepteerd</label>
                        </div>
                    }

                </div>
            }
            @using (var sectionGeneralComposition = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">

                    <div class="form-group">
                        @Html.LabelFor(m => m.BirthDate, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                                <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CivilClass, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">
                            @Html.SecureNullableEnumDropDownListFor(m => m.CivilClass, new { @class = "flowfield form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CompositionHousekeeping, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">
                            @Html.SecureNullableEnumDropDownListFor(m => m.CompositionHousekeeping, new { @class = "flowfield form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ChildrenInHousekeeping, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.ChildrenInHousekeeping, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NationalityID, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">
                            @Html.DropDownListFor(m => m.NationalityID, Model.ClientLookups.Nationalities.ToSelectListItems(Model.NationalityID.ToString()), new { @class = "flowfield form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LanguageID, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">
                            @Html.SecureNullableEnumDropDownListFor(m => m.LanguageID, new { @class = "flowfield form-control" })
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="tabsAdres" class="tab-pane fade  @Html.Conditional(Model.IsAddressTabActive, "in active")" style="min-height:50px;">
            @using (var sectionAddress = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
            <div class="panel-body bg-lightblue">
                @if (!Model.ClientShowAnonymous)
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetName, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">
                            @Html.TextAreaFor(m => m.StreetName, new { @class = "flowfield form-control", maxlength = 255 })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-6 col-sm-3 control-label required">Huisnummer / toevoeging</label>
                        <div class="col-xs-3 col-sm-2 col-md-1">@Html.TextBoxFor(m => m.Number, new { @class = "flowfield form-control" })</div>
                        <div class="col-xs-3 col-sm-2 col-md-1">@Html.TextBoxFor(m => m.HuisnummerToevoeging, new { @class = "flowfield form-control" })</div>
                    </div>

                }
                else
                {
                    @Html.HiddenFor(m => m.StreetName)
                    @Html.HiddenFor(m => m.Number)
                    @Html.HiddenFor(m => m.HuisnummerToevoeging)
                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetName, new { @class = "control-label col-xs-6 col-sm-3" })
                        <label class="control-label col-xs-6 col-sm-9">Straat en huisnummer zijn anoniem totdat de patiënt is geaccepteerd</label>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(m => m.PostalCode, new { @class = "control-label col-xs-6 col-sm-3" })
                    <div class="col-xs-6 col-sm-2">@Html.TextBoxFor(m => m.PostalCode, new { maxlength = 6, @class = "flowfield form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Postbus, new { @class = "control-label col-xs-6 col-sm-3" })
                    <div class="col-xs-6 col-sm-2">@Html.TextBoxFor(m => m.Postbus, new { maxlength = 6, @class = "flowfield form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "control-label col-xs-6 col-sm-3" })
                    <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.City, new { @class = "flowfield form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Country, new { @class = "control-label col-xs-6 col-sm-3" })
                    <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.Country, new { @class = "flowfield form-control" })</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HousingType, new { @class = "control-label col-xs-6 col-sm-3" })
                    <div class="col-xs-6 col-sm-5">
                        @Html.SecureNullableEnumDropDownListFor(m => m.HousingType, new { @class = "flowfield form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-6 col-sm-3"></label>
                    <div class="col-xs-6 col-sm-5">@Html.TextAreaFor(m => m.HousingTypeComment, new { @class = "flowfield form-control", placeholder = "toelichting", maxlength = 255 })</div>
                </div>
            </div>
            }
            @using (var sectionAddressCommunication = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumberGeneral, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.PhoneNumberGeneral, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumberMobile, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.PhoneNumberMobile, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumberWork, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.PhoneNumberWork, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.Email, new { @class = "flowfield form-control", maxlength = 255 })</div>
                    </div>

                </div>
            }

            @using (var sectionTemporaryAddress = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
                <div class="panel-heading">Tijdelijk verblijfadres</div>
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TemporaryStreetName, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextAreaFor(m => m.TemporaryStreetName, new { @class = "flowfield form-control", maxlength = 255 })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TemporaryNumber, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-2">@Html.TextBoxFor(m => m.TemporaryNumber, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TemporaryPostalCode, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-2">@Html.TextBoxFor(m => m.TemporaryPostalCode, new { maxlength = 6, @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TemporaryCity, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.TemporaryCity, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TemporaryCountry, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.TemporaryCountry, new { @class = "flowfield form-control" })</div>
                    </div>
                </div>
            }

        </div>

        <div id="tabsContactpersoon" class="tab-pane fade  @Html.Conditional(Model.IsContactTabActive, "in active")" style="min-height:50px;">
            @using (var sectionContactPerson = form.BeginFlowFormSection(new Dictionary<string, object> { { "class", "panel panel-blue" } }))
            {
                if (!Model.ForceContactPersonCreation)
                {
                    <div class="panel-body bg-lightblue">
                        <div id="contactPersonContainer">@{ Html.RenderAction("List", "ContactPerson", new {Model.ClientID }); }</div>
                    </div>
                }
                else
                {
                    <div class="panel-body bg-lightblue">

                        <div class="form-group" style="@(Model.ShowContactPersonUnknown ? "" : "display:none;")">
                            <div class="control-label col-xs-6 col-sm-3"></div>
                            <div class="col-xs-6 col-sm-5">
                                <span class="btn btn-default" style="cursor: pointer" id="btnContactPersonUnknown">
                                    Contactpersoon (nog) niet bekend
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.Gender, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-7">
                                @Html.SecureNullableEnumRadioButtonListFor(m => m.ContactPerson.Gender)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.LastName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.ContactPerson.LastName, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.Initials, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.ContactPerson.Initials, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.FirstName, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.ContactPerson.FirstName, new { @class = "flowfield form-control" })</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.CIZRelationID, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.DropDownListFor(m => m.ContactPerson.CIZRelationID,
                                    Model.ClientLookups.CizRelations.ToSelectListItems(cizr => cizr.Description, cizr => cizr.CIZRelationID.ToString(), null, "Selecteer een relatietype"),
                                    new { @class = "flowfield form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.PhoneNumberGeneral, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.ContactPerson.PhoneNumberGeneral, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.PhoneNumberMobile, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.ContactPerson.PhoneNumberMobile, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.PhoneNumberWork, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.ContactPerson.PhoneNumberWork, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ContactPerson.Email, new { @class = "control-label col-xs-6 col-sm-3" })
                            <div class="col-xs-6 col-sm-5">
                                @Html.TextBoxFor(m => m.ContactPerson.Email, new { @class = "flowfield form-control" })
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div id="tabsOverig" class="tab-pane fade  @Html.Conditional(Model.IsMiscTabActive, "in active")" style="min-height:50px;">
            @using (var sectionOtherInsurance = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        @Html.LabelFor(m => m.HealthInsuranceCompanyID, new { @class = "control-label col-xs-6 col-sm-3 required" })
                        <div class="col-xs-6 col-sm-5">
                            @Html.DropDownListFor(m => m.HealthInsuranceCompanyID, Model.ClientLookups.HealthInsurers.ToSelectListItems(Model.HealthInsuranceCompanyID.ToString()), new { @class = "flowfield form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.InsuranceNumber, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.InsuranceNumber, new { @class = "flowfield form-control" })</div>
                    </div>
                </div>
            }
            @using (var sectionOtherPractioner = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GeneralPractitionerName, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.GeneralPractitionerName, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.GeneralPractitionerPhoneNumber, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.GeneralPractitionerPhoneNumber, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AddressGPForZorgmail, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.AddressGPForZorgmail, new { @class = "flowfield form-control", @readonly = "readonly" })</div>
                    </div>
                </div>
            }
            @using (var sectionOtherPharmacy = form.BeginFlowFormSection(new Dictionary<string, object>() { { "class", "panel panel-blue" } }))
            {
                <div class="panel-body bg-lightblue">

                    <div class="form-group">
                        @Html.LabelFor(m => m.PharmacyName, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.PharmacyName, new { @class = "flowfield form-control" })</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PharmacyPhoneNumber, new { @class = "control-label col-xs-6 col-sm-3" })
                        <div class="col-xs-6 col-sm-5">@Html.TextBoxFor(m => m.PharmacyPhoneNumber, new { @class = "flowfield form-control" })</div>
                    </div>

                </div>
            }
        </div>

        <div id="modal2" class="modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        @*<div class="opendossiermodal modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <b>Van deze patient/client bestaat reeds minimaal één actueel POINT dossier. Wilt u doorgaan met het aanmaken van dit dossier ?</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn" id="opendossiernee">Nee</button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger" id="opendossierja">Ja</button>
                    </div>
                </div>
            </div>
        </div>*@

    </div>
}