﻿@using (Html.BeginForm("ImportZIS", "Client", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-header">
        <h4 class="modal-title">Maak nieuw transferdossier via automatische koppeling met ZIS</h4>
    </div>

    <div class="modal-body" id="modalBody">
        <div class="form-group">
            <div class="control-label col-xs-3 ">Patientnummer uit ZIS:</div>
            <div class="col-xs-7">
                @Html.TextBox("PatExternalReference", "", new { @maxlength = 15, @class = "novalidate flowfield form-control", data_val = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-xs-3 ">BSNnummer uit ZIS:</div>
            <div class="col-xs-7">
                @Html.TextBox("PatExternalReferenceBSN", "", new { @maxlength = 15, @class = "novalidate flowfield form-control", data_val = "true" })
            </div>
        </div>
    </div>

    <div class="modal-footer ">
        <div class="text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
            <button type="submit" class="btn btn-primary">Ga verder</button>
        </div>
    </div>
}
