﻿@using Point.Database.Extensions
@model ClientFullViewModel

@{
    var isanonymous = Model.ClientShowAnonymous;
    var adres = Model.StreetName + " " + Model.Number + Model.HuisnummerToevoeging + " " + Model.Postbus + " " + Model.PostalCode + " " + Model.City;
    var tempadres = "";
    if (!String.IsNullOrWhiteSpace(Model.TemporaryStreetName + Model.TemporaryNumber + Model.TemporaryPostalCode + Model.TemporaryCity))
    {
        tempadres = Model.TemporaryStreetName + " " + Model.TemporaryNumber + " " + Model.TemporaryPostalCode + " " + Model.TemporaryCity;
    }
}

@if (isanonymous == false)
{
    <div class="form-group">
        <label class="control-label hidden-xs col-sm-5 col-md-4">
            Naam / BSN
        </label>
        <div class="col-xs-12 col-sm-7 col-md-8 print-control">@Model.FullName() / @Model.CivilServiceNumber</div>
    </div>
}
else
{
    <div class="form-group">
        <label class="control-label hidden-xs col-sm-5 col-md-4">
            Naam / BSN
        </label>
        <div class="col-xs-12 col-sm-7 col-md-8 print-control">Anoniem totdat de patiënt is geaccepteerd</div>
    </div>
}


@if (isanonymous == false)
{
    <div class="form-group">
        <label class="control-label hidden-xs col-sm-5 col-md-4">Adres</label>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <input type=text disabled name="adres" value="@adres" class="form-control" />
        </div>
    </div>
    if (tempadres != "")
    {
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-5 col-md-4">Tijdelijk adres</label>
            <div class="col-xs-12 col-sm-7 col-md-8">
                <input type="text" disabled value="@tempadres" class="form-control" />
            </div>
        </div>
    }
}
else
{
    <div class="form-group">
        <label class="control-label hidden-xs col-sm-5 col-md-4">
            Adres
        </label>
        <div class="col-xs-12 col-sm-7 col-md-8 print-control">Anoniem totdat de patiënt is geaccepteerd</div>
    </div>
}
