﻿@model ClientFullViewModel

<div class="row">
    <div class="col-xs-12 col-md-6">
        
        <div class="form-group">
            @Html.LabelFor(m => m.PatientNumber, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">@Html.TextBoxFor(m => m.PatientNumber, new { @class = "form-control", @readonly = "readonly" })</div>
        </div>

        @if (!Model.ClientShowAnonymous)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CivilServiceNumber, new { @class = "control-label col-xs-6" })
                <div class="col-xs-6">@Html.TextBoxFor(m => m.CivilServiceNumber, new { @class = "form-control", data_val_bsn = "BSN is niet correct!", @readonly = "readonly" })</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Initials, new { @class = "control-label col-xs-6" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.Initials, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-6" })
                <div class="col-xs-6">
                    @{
                        var lastnamegender = Model.LastName + " (" + Model.Gender.GetDescription() + ")";
                    }
                    <input type="text" readonly class="form-control" value="@lastnamegender" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label col-xs-6">
                    BSN / Naam
                </label>
                <div class="col-xs-6 print-control">Anoniem totdat de patiënt is geaccepteerd</div>
            </div>
        }

        
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @class = "form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date", @readonly = "readonly" })
            </div>
        </div>

        @if (!Model.ClientShowAnonymous)
        {
            <div class="form-group">
                @{
                    var adres = Model.StreetName + " " + Model.Number + Model.HuisnummerToevoeging + " " + Model.Postbus + " " + Model.PostalCode + " " + Model.City;
                }
                <label class="control-label col-xs-6">Adres</label>
                <div class="col-xs-6"><input type=text readonly name="adres" value="@adres" class="form-control" /></div>
            </div>
            if (!String.IsNullOrWhiteSpace(Model.TemporaryStreetName + Model.TemporaryNumber + Model.TemporaryPostalCode + Model.TemporaryCity))
            {
                <div class="form-group ignore-printfilter">
                    <label class="control-label col-xs-6">Tijdelijk adres</label>
                    <div class="col-xs-6">
                        <input type="text" disabled class="form-control" value="@Model.TemporaryStreetName @Model.TemporaryNumber @Model.TemporaryPostalCode @Model.TemporaryCity" />
                    </div>
                </div>
            }
        } else
        {
            <div class="form-group">
                <label class="control-label col-xs-6">
                    Adres
                </label>
                <div class="col-xs-6 print-control">Anoniem totdat de patiënt is geaccepteerd</div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumberGeneral, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">@Html.TextBoxFor(m => m.PhoneNumberGeneral, new { @class = "form-control", @readonly = "readonly" })</div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.GeneralPractitionerName, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">@Html.TextBoxFor(m => m.GeneralPractitionerName, new { @class = "form-control", @readonly = "readonly" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GeneralPractitionerPhoneNumber, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">@Html.TextBoxFor(m => m.GeneralPractitionerPhoneNumber, new { @class = "form-control", @readonly = "readonly" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PharmacyName, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">@Html.TextBoxFor(m => m.PharmacyName, new { @class = "form-control", @readonly = "readonly" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PharmacyPhoneNumber, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">@Html.TextBoxFor(m => m.PharmacyPhoneNumber, new { @class = "form-control", @readonly = "readonly" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HealthInsuranceCompanyID, new { @class = "control-label col-xs-6" })

            <div class="col-xs-6">
                <input type="text" class="form-control" disabled value="@Model.HealthInsurerName" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.InsuranceNumber, new { @class = "control-label col-xs-6" })
            <div class="col-xs-6">@Html.TextBoxFor(m => m.InsuranceNumber, new { @class = "form-control", @readonly = "readonly" })</div>
        </div>
    </div>
</div>



