﻿@model ClientFullViewModel

<section>
    <h4>Patientgegevens</h4>

    @if (!Model.ClientShowAnonymous)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
            <div class="col-xs-6 col-sm-7 col-md-8">
                @Html.TextBoxFor(m => m.LastName, new { @class = "flowfield form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">
                @Html.DisplayNameFor(m => m.MaidenName)
            </label>
            <div class="col-xs-6 col-sm-7 col-md-8">
                <input type="text" class="form-control" disabled value="@Html.DisplayTextFor(m => m.MaidenName)@(string.IsNullOrWhiteSpace(Model.MiddleName) ? "" : ", ")@Html.DisplayTextFor(m => m.MiddleName)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">
                @Html.DisplayNameFor(m => m.Initials) / @Html.DisplayNameFor(m => m.FirstName)
            </label>
            <div class="col-xs-6 col-sm-7 col-md-8">
                <input type="text" class="form-control" disabled value="@Html.DisplayTextFor(m => m.Initials)@(string.IsNullOrWhiteSpace(Model.FirstName) ? "" : " ")@Html.DisplayTextFor(m => m.FirstName)" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">Burger Service Nummer</label>
            <div class="col-xs-6 col-sm-7 col-md-8">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.CivilServiceNumber, new { @class = "flowfield form-control", data_val_bsn = "BSN is niet correct!", @readonly = "readonly" })
                    <span class="input-group-addon" style="cursor:pointer" id="btnImportClient" data-toggle="tooltip" data-placement="left" title="Vul een bsnnummer in en druk op zoeken om bestaande client gegevens op te halen.">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">
                Persoonlijke gegevens
            </label>
            <div class="col-xs-6 col-sm-7 col-md-8 print-control">
                Anoniem totdat de patiënt is geaccepteerd
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.CivilClass, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">
            <input type="text" class="form-control" disabled value="@Model.CivilClass.GetDescription()" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PatientNumber, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">@Html.TextBoxFor(m => m.PatientNumber, new { @class = "flowfield form-control", @readonly = "readonly" })</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">
            <input type="text" class="form-control" disabled value="@Model.Gender.GetDescription()" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">
            @Html.TextBoxFor(m => m.BirthDate, "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumberGeneral, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">@Html.TextBoxFor(m => m.PhoneNumberGeneral, new { @class = "flowfield form-control", @readonly = "readonly" })</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">@Html.TextBoxFor(m => m.Email, new { @class = "flowfield form-control", maxlength = 255, @readonly = "readonly" })</div>
    </div>

    @if (!Model.ClientShowAnonymous)
    {
        <div class="form-group ignore-printfilter">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">Adres</label>
            <span class="col-xs-6 col-sm-7 col-md-8">
                <input type="text" class="form-control" disabled value="@Model.StreetName @Model.Number @Model.HuisnummerToevoeging @Model.Postbus @Model.PostalCode @Model.City" />
            </span>
        </div>
    }
    else
    {
        <div class="form-group ignore-printfilter">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">Adres</label>
            <span class="col-xs-6 col-sm-7 col-md-8">
                <input type="text" class="form-control" disabled value="Anoniem totdat de patiënt is geaccepteerd" />
            </span>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.HousingType, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">@Html.TextBoxFor(m => m.HousingType, new { @class = "flowfield form-control", maxlength = 255, @readonly = "readonly" })</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HousingTypeComment, new { @class = "control-label col-xs-6 col-sm-5 col-md-4" })
        <div class="col-xs-6 col-sm-7 col-md-8">@Html.TextBoxFor(m => m.HousingTypeComment, new { @class = "flowfield form-control", maxlength = 255, @readonly = "readonly" })</div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.TemporaryStreetName + Model.TemporaryNumber + Model.TemporaryPostalCode + Model.TemporaryCity))
    {
        if (!Model.ClientShowAnonymous)
        {
            <div class="form-group ignore-printfilter">
                <label class="control-label col-xs-6 col-sm-5 col-md-4">Tijdelijk adres</label>
                <div class="col-xs-6 col-sm-7 col-md-8">
                    <input type="text" class="form-control" disabled value="@Model.TemporaryStreetName @Model.TemporaryNumber @Model.TemporaryPostalCode @Model.TemporaryCity" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group ignore-printfilter">
                <label class="control-label col-xs-6 col-sm-5 col-md-4">Tijdelijk adres</label>
                <div class="col-xs-6 col-sm-7 col-md-8">
                    <input type="text" class="form-control" disabled value="Anoniem totdat de patiënt is geaccepteerd" />
                </div>
            </div>
        }
    }

    <div class="form-group ignore-printfilter">
        <label class="control-label col-xs-6 col-sm-5 col-md-4">Polisnummer / verzekeraar</label>
        <span class="col-xs-6 col-sm-7 col-md-8">
            <input type="text" class="form-control" disabled value="@Model.InsuranceNumber@(!Model.HasHealthInsurerName ? "" : (" / " + Model.HealthInsurerName))" />
        </span>
    </div>
    @if (!string.IsNullOrEmpty(Model.GeneralPractitionerName))
    {
        <div class="form-group ignore-printfilter">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">Huisarts / Tel.nr.</label>
            <div class="col-xs-6 col-sm-7 col-md-8">
                <input type="text" class="form-control" disabled value="@Model.GeneralPractitionerName / @Model.GeneralPractitionerPhoneNumber" />
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.PharmacyName))
    {
        <div class="form-group ignore-printfilter">
            <label class="control-label col-xs-6 col-sm-5 col-md-4">Apotheek/Tel.nr.</label>
            <div class="col-xs-6 col-sm-7 col-md-8">
                <input type="text" class="form-control" disabled value="@Model.PharmacyName / @Model.PharmacyPhoneNumber" />
            </div>
        </div>
    }
</section>


@if (!Model.ClientShowAnonymous)
{
    <section>
        <div>
            <h4>Contactpersonen</h4>
            @{Html.RenderAction("ListReadOnly", "ContactPerson", new { Model.ClientID });}
        </div>
    </section>
}
else
{
    <div class="form-group">
        <label class="control-label col-xs-6 col-sm-5 col-md-4">
            Contactpersonen
        </label>
        <div class="col-xs-6 col-sm-7 col-md-8 print-control">
            Anoniem totdat de patiënt is geaccepteerd
        </div>
    </div>
}

