﻿

<!DOCTYPE html>
<html lang="nl-nl" xml:lang="nl-nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>POINT VVT Capaciteits overzicht - @ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00396a">
    <meta name="msapplication-TileColor" content="#f7f7f7">
    <meta name="theme-color" content="#f7f7f7">

    @Styles.Render("~/Bundles/Styles/bootstrap")
    @*@Styles.Render("~/Fonts/muli-v11-latin-regular.css")*@
    
    @Scripts.Render("~/Bundles/Scripts/modernizr")
    @Scripts.Render("~/Bundles/Scripts/jquery")
    @Scripts.Render("~/Bundles/Scripts/bootstrap")
    @*@Scripts.Render("~/Scripts/bootstrap-multiselect.js")*@
</head>


<body>

    @Html.Partial("~/Views/Capacity/_CapacityTabs.cshtml")

    <div class="container body-content">

        <div class="capacity">
            @RenderBody()
        </div>

    </div>

    @RenderSection("scripts", false)

</body>
</html>



