﻿@model IEnumerable<LocalMenuItem>
@{
    Layout = null;    
}

    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 5px;">
        @if(Model!=null)
        {
            foreach (var menuitem in Model)
            {
                <li class="menuItem @(menuitem.IsCurrent ? "active" : "")" data-disabled="@menuitem.Disabled" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                    <a class="@menuitem.CssClass">@menuitem.Label</a>
                </li>
            }
        }
    </ul>
