﻿@model MenuViewModel
@using Point.MVC.WebApplication.Extensions;

@{
    Layout = null;
}

@Scripts.Render("~/Bundles/Scripts/Menu")

<style type="text/css">
    #menuDiv .nav .glyphicon
    {
        margin-left: -4px;
        margin-right: 4px;
    }
    .nav-stacked {
        margin-top:5px;
    }
</style>

<div id="menuDiv" class="navbar">

    @if (Model.MainForms.Any())
    {
        <ul class="nav nav-pills nav-stacked pt-nav-colors pt-nav-sm">
            @foreach (var menuitem in Model.MainForms)
            {
                <li class="menuItem @Html.Conditional(menuitem.IsCurrent, "active")" data-disabled="@menuitem.Disabled" data-target="@(menuitem.OpenNewWindow ? "_blank" : "")" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                    <a class="@menuitem.CssClass">
                        <span class="@menuitem.Glyphicon"></span>
                        @menuitem.Label
                    </a>
                </li>
            }
        </ul>
    }

    @if (Model.ExtReferenceItems.Any())
    {
        <ul class="nav nav-pills nav-stacked pt-nav-colors pt-nav-sm">
            @foreach (var menuitem in Model.ExtReferenceItems)
            {
                <li class="menuItem"  data-url="@Html.Raw(menuitem.Url)" title="@menuitem.Description">
                    <a class="@menuitem.CssClass" onclick="@menuitem.OnClick">

                        <span class="@menuitem.Glyphicon"></span>
                        @menuitem.Label
                    </a>
                </li>
            }
        </ul>
    }

    @if (Model.FilterForms.Any())
    {
        <h4>Filter</h4>
        <ul class="nav nav-pills nav-stacked pt-nav-colors pt-nav-sm">
            @foreach (var menuitem in Model.FilterForms)
            {
                if (string.IsNullOrEmpty(menuitem.CssClass))
                {
                    menuitem.CssClass = "";
                }
                <li class="menuItem @Html.Conditional(menuitem.IsCurrent, "active")" data-disabled="@menuitem.Disabled" data-target="@(menuitem.OpenNewWindow ? "_blank" : "")" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                    <a class="@menuitem.CssClass ">
                        <span class="@menuitem.Glyphicon"></span>
                        @menuitem.Label
                    </a>
                </li>
            }
        </ul>
    }

    @if (Model.SearchForms.Any())
    {
        <h4>Zoeken</h4>
        <ul class="nav nav-pills nav-stacked pt-nav-colors pt-nav-sm">
            @foreach (var menuitem in Model.SearchForms)
            {
                if (string.IsNullOrEmpty(menuitem.CssClass))
                {
                    menuitem.CssClass = "";
                }
                <li class="menuItem @Html.Conditional(menuitem.IsCurrent, "active")" data-disabled="@menuitem.Disabled" data-target="@(menuitem.OpenNewWindow ? "_blank" : "")" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                    <a class="@menuitem.CssClass ">
                        <span class="@menuitem.Glyphicon"></span>
                        @menuitem.Label
                    </a>
                </li>
            }
        </ul>
    }

    @if (Model.ProcessForms.Any())
    {
        <h4>Dossier</h4>
        <ul class="nav nav-pills nav-stacked pt-nav-colors pt-nav-sm">
            @foreach (var menuitem in Model.ProcessForms)
            {
                if (string.IsNullOrEmpty(menuitem.CssClass))
                {
                    menuitem.CssClass = "pt-color pt-green";
                }
                <li class="menuItem @(menuitem.IsCurrent ? "active" : "")" data-disabled="@menuitem.Disabled" data-target="@(menuitem.OpenNewWindow ? "_blank" : "")" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                    <a class="@menuitem.CssClass">@menuitem.Label</a>
                </li>
            }
        </ul>
    }

    @if (Model.AanvullendForms.Any())
    {
        var collapsed = (Model.AanvullendForms.Any(x => x.IsCurrent) || !Model.Actions.Any(x => x.IsCurrent));

        <h4 class="collapse-toggle @(collapsed ? "" : "collapsed")" data-toggle="collapse" data-target="#dossierFormsMenu" style="padding:unset; cursor:pointer;" aria-expanded="@(collapsed ? "true" : "false")">
            Aanvullend dossier
        </h4>

        <ul class="nav nav-pills nav-stacked pt-nav-colors pt-nav-sm @(collapsed ? "collapse in" : "collapse")" id="dossierFormsMenu" aria-expanded="@(collapsed ? "true" : "false")">
            @foreach (var menuitem in Model.AanvullendForms)
            {
                if (string.IsNullOrEmpty(menuitem.CssClass))
                {
                    menuitem.CssClass = "pt-color pt-blue";
                }

                <li class="menuItem @(menuitem.IsCurrent ? "active" : "")" data-disabled="@menuitem.Disabled" data-target="@(menuitem.OpenNewWindow ? "_blank" : "")" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                    <a class="@menuitem.CssClass">@menuitem.Label</a>
                </li>
            }
        </ul>
    }

    @if (Model.Actions.Any())
    {
        var collapsed = false; 

        if (Model.IsSearch)
        {
            <h4>Acties</h4>
        }
        else
        {
            <h4 class="collapse-toggle @(collapsed ? "collapsed" : "")" data-toggle="collapse" data-target="#actions" style="padding:unset; cursor:pointer;" aria-expanded="@(collapsed ? "false" : "true")">
                Acties
            </h4>
        }

        <ul class="nav nav-pills nav-stacked pt-nav-colors pt-nav-sm @(collapsed ? "collapse" : "collapse in")" id="actions" aria-expanded="@(collapsed ? "false" : "true")">
            @foreach (var subitem in Model.Actions.Where(ac => string.IsNullOrEmpty(ac.Subcategory) && !ac.Hidden))
            {
                <li class="menuItem @(subitem.IsCurrent ? "active" : "")" data-disabled="@subitem.Disabled" data-target="@(subitem.OpenNewWindow ? "_blank" : "")" data-hidden="@subitem.Hidden" data-url="@Html.Raw(subitem.Url)" data-iscurrent="@subitem.IsCurrent" title="@subitem.Description">
                    <a class="@subitem.CssClass" onclick="@subitem.OnClick">
                        <span class="@subitem.Glyphicon"></span>
                        @subitem.Label
                    </a>
                </li>
            }
            @foreach (var subcategory in Model.Actions.Where(ac => !string.IsNullOrEmpty(ac.Subcategory)).Select(ac => ac.Subcategory).Distinct())
            {
                if (Model.Actions.Any(ac => ac.Subcategory == subcategory && !ac.Hidden))
                {
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                            @subcategory
                        </a>
                        <ul id="@subcategory" class="dropdown-menu dropdown-menu-left" role="menu">
                            @foreach (var subitem in Model.Actions.Where(ac => ac.Subcategory == subcategory))
                            {
                                <li class="menuItem @(subitem.IsCurrent ? "active" : "")" data-disabled="@subitem.Disabled" data-target="@(subitem.OpenNewWindow ? "_blank" : "")" data-hidden="@subitem.Hidden" data-url="@Html.Raw(subitem.Url)" data-iscurrent="@subitem.IsCurrent" title="@subitem.Description">
                                    <a class="@subitem.CssClass" onclick="@subitem.OnClick">
                                        <span class="@subitem.Glyphicon"></span>
                                        @subitem.Label
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    }
</div>

<div id="confirmExistingDossierModal" class="modal fade" role="dialog" style="visibility: hidden;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bestaand dossier bevestigen</h4>
            </div>
            <div class="modal-body">
                <p id="confirmExistingDossierBody"></p>
            </div>
            <div class="modal-footer">
                <button id="confirmExistingDossierOK" type="submit" class="btn btn-primary">Doorgaan</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
            </div>
        </div>

    </div>
</div>