﻿@model IEnumerable<LocalMenuItem>

@using Point.Infrastructure.Extensions;
@using Point.MVC.WebApplication.Extensions;
@using Point.Business.Helper;
@using Point.Models.LDM.EOverdracht30.Enums
@Scripts.Render("~/Bundles/Scripts/Menu")
<style type="text/css">
    .gender-color-@Geslacht.OM.GetDescription().ToLower() {
        color: #00396a;
    }

    .gender-color-@Geslacht.OUN.GetDescription().ToLower() {
        color: white;
    }

    .gender-color-@Geslacht.OF.GetDescription().ToLower() {
        color: pink;
    }
</style>

@if (Model.Count() > 0)
{
    <ul class="list-inline info">
        @foreach (var menuitem in Model)
        {
            if (string.IsNullOrEmpty(menuitem.CssClass))
            {
                menuitem.CssClass = "";
            }
            <li class="menuItem @Html.Conditional(menuitem.IsCurrent, "active")" data-disabled="@menuitem.Disabled" data-target="@(menuitem.OpenNewWindow ? "_blank" : "")" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                <a class="@menuitem.CssClass ">
                    <span class="@menuitem.Glyphicon"></span>
                    @menuitem.Label
                </a>
            </li>
        }
    </ul>
}
