﻿@model Point.Planbord.Database.Models.PlanbordSettingsViewModel
@using Point.Planbord.Database.Models;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "";
}

@section scripts {

    @Scripts.Render("~/Scripts/jquery.form.js")
    @Scripts.Render("~/Scripts/Icon/icon.js")
}
<link href="~/Script/IconCSS/@ViewBag.OrganizationID" rel="stylesheet" type="text/css">

<script type="text/javascript">
    var formID = "#SettingsForm";
    var formRequestUrl = "@Html.Raw(Url.Action("Upload", "Icon"))";
</script>

<div id="mainwrap">
    <div id="containerDiv" style="width: 600px;">
        <div style="font-size:12px;font-weight:bold;">
            Voor de upload gelden de volgende voorwaarden:
            <ul>
                <li>Er moeten altijd 2 bestanden worden geselecteerd voor de upload. VISMO heeft namelijk 2 formaten nodig, 1 voor een groot icoon en 1 voor een kleine.</li>
                <li>Het type bestand moet png, jpg of gif zijn.</li>
                <li>Het formaat van het grote icoon moet 64x64 pixels zijn.</li>
                <li>Het formaat van het kleine icoon moet 20x20 pixels zijn.</li>
            </ul>
            Wanneer niet aan deze voorwaarden voldaan is, kunnen de iconen niet worden geupload.
        </div>
        <br />
        <form id="iconUploadForm" name="iconUploadForm" enctype="multipart/form-data">
            <input type="hidden" name="OrganizationID" value="@ViewBag.OrganizationID" />
            <input id="file1" type="file" name="files" />
            <br /><br />
            <input id="file2" type="file" name="files" />
            <br />
            <div class="linkButtonTableContainerRight"><div id="btnInsertAttachment" class="linkButton">Upload iconen</div></div>

            <table class="settingsContentTable display dataTable" data-id="columnDisplayTypes" style="margin-left:0px">
                <thead style="display: table-header-group;">
                    <tr>
                        <th style="width: 50px;">Icoon</th>
                        <th style="width: 100px;">Korte beschrijving</th>
                        <th style="width: 50px;">Verwijderd</th>
                        <th style="width: 0px;"></th>
                        <th style="width: 0px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.DetailIconSet.Values.Icons.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(x => Model.DetailIconSet.Values.Icons[i].DetailIconType)
                                <div class="planbordIcon_xl @String.Concat("detailIcon_xl", i) " />
                            </td>
                            <td>@Html.TextBoxFor(x => Model.DetailIconSet.Values.Icons[i].Name, new { @readonly = "true", @style = "border:none; width:100px;" })</td>
                            <td>@Html.CheckBoxFor(x => Model.DetailIconSet.Values.Icons[i].IsDeleted, new { @style = "width:50px;" })</td>
                            <td>@Html.HiddenFor(x=>Model.DetailIconSet.Values.Icons[i].Description)</td>
                            <td>@Html.HiddenFor(x=>Model.DetailIconSet.Values.Icons[i].Visible)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="linkButtonTableContainerRight"><div id="btnOpslaan" class="linkButton">Opslaan</div></div>
       </form>
            <div>
                <div id="loader" style="display:none;">Uw gegevens zijn ontvangen.<br />Even geduld aub...</div>
                <div id="error" style="display:none;"><div id="errormessage" style="font-weight:bold;"></div><br /><span onclick="location.reload()">Klik hier om de pagina opnieuw te laden en probeer het opnieuw.</span></div>
                <div id="success" style="display:none;"><div id="successmessage" style="font-weight:bold;"></div></div>
            </div>
        </div>
</div>


