﻿@using Point.Database.Models.ViewModels;
@model IEnumerable<CommunicationLogViewModel>

@Scripts.Render("~/Bundles/Scripts/FormType")

<div id="communicationloglist" style="margin-bottom: 16px;">
    @Html.Partial("List", Model)
</div>
