﻿@using Point.Database.Models.ViewModels;
@model IEnumerable<CommunicationLogViewModel>


<script type="text/javascript">
    $(function() {
        initDataTable("#emailsTable", "true");
        $("#emailsTable").dataTable().fnSort([1, 'desc']);
    });
</script>


<table class="table table-striped table-condensed" id="emailsTable">
    <thead>
        <tr class="theme_headerstyle">
            <th scope="col">Onderwerp</th>
            <th scope="col">Datum en tijd</th>
            <th scope="col">Soort mail</th>
            <th scope="col">Aan</th>
            <th scope="col">Medewerker</th>
            <th scope="col">Organisatie</th>
            <th scope="col"  class="noprint">Inhoud</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var communicationLogViewModel in Model)
            {
                var commlogid = communicationLogViewModel.CommunicationLog.CommunicationLogID;
                var url = Url.Action("ViewContent", "CommunicationLog", new { Area = "", TransferID = ViewBag.TransferID, CommunicationLogID = commlogid, Digest = AntiFiddleInjection.CreateDigest(commlogid) });
                var ajaxload = "ShowModal('" + url + "');";

                <tr>
                    <td>@communicationLogViewModel.CommunicationLog.Subject</td>
                    <td>@communicationLogViewModel.CommunicationLog.Timestamp.ToSortablePointDateHourDisplay()</td>
                    <td>@communicationLogViewModel.CommunicationLogType.GetDescription()</td>
                    <td title="@communicationLogViewModel.CommunicationLog.ToAddress">@communicationLogViewModel.CommunicationLog.ToAddress.AddExtraMailAddressCount()</td>
                    <td>@communicationLogViewModel.EmployeeName</td>
                    <td>@communicationLogViewModel.OrganizationName</td>
                    <td class="noprint"><span class="btn glyphicon glyphicon-search" onclick="@ajaxload"></span></td>
                </tr>
            }
        }
    </tbody>
</table>
