﻿@model Point.Database.Models.CommunicationLog

@{ 
    var ShowAnonymous = ViewBag.ShowAnonymous ?? false;
    var hasbr = ViewBag.HasBR ?? false;
}

@if (ShowAnonymous == false)
{
    <h2>@Model.Subject</h2>
    <div style="@(hasbr ? "word-wrap:break-word" : "white-space:pre-wrap;word-wrap:break-word;")">@Html.Raw(ViewBag.Content)</div>   
}
else
{
    <h2>Niet toegestaan</h2>
    <div class="alert alert-info">De inhoud van deze e-mail mag niet worden getoond. De client is anoniem.</div>
}