﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model Logging

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");
}


<div class="dialogDetails">
    @Html.TextAreaFor(model => model.Description, new { style = "width:100%;height:600px" })<br /><br />
        @Html.ActionLink("Terug naar overzicht", "Index")
</div>
