﻿@using Point.Planbord.Infrastructure.Extensions 
@model IEnumerable<Point.Planbord.Database.Models.Logging>

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Logging";
}

@section scripts {
    @Scripts.Render("~/Scripts/Logging/logging.js")
}
<style>
    .display td {
        vertical-align: top;
        white-space:pre-wrap;
    }
</style>

<div id="mainwrap">
    <div id="containerDiv" style="width: 1200px;">
        <table class="display" id="dataTable" style="margin-top: 5px;vertical-align:top;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 120px;">@Html.DisplayNameFor(model => model.First().LoggingDateTime)</th>
                    <th style="width: 60px;">@Html.DisplayNameFor(model => model.First().Severity)</th>
                    <th style="width: 800px;">@Html.DisplayNameFor(model => model.First().Description)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().ApplicationName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().ReferenceName)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        
                        
                    <tr onclick="location.href='@(Url.Action("Detail", "Logging", new { id = item.LoggingID }))';">
                        <td>@item.LoggingDateTime</td>
                        <td>@item.Severity</td>
                        <td style="cursor:pointer;">@(item.ReferenceName=="SOAP"?item.Description.AddEllipsis(250):item.Description.AddEllipsis(1000))</td>
                        <td>@item.ApplicationName</td>
                        <td>@item.ReferenceName @item.ReferenceID</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
