﻿@model IEnumerable<Point.Database.Models.ViewModels.LocalMenuItem>

<h1>@(Model.FirstOrDefault(it => it.IsCurrent)?.Description ?? "Capactiteit")</h1>

<ul class="nav nav-tabs capacity-tabs" role="tablist" style="margin-bottom: 5px;">
    
    @foreach (var menuitem in Model)
    {
    <li class="menuItem @(menuitem.IsCurrent ? "active" : "")" data-disabled="@menuitem.Disabled" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
        <a class="@menuitem.CssClass">@menuitem.Label</a>
    </li>
    }

</ul>

