﻿@model Point.MVC.Shared.ViewModels.Capacity.CapacityEditViewModel
@using Point.Infrastructure.Attributes
@using Point.Models.Enums
@using Point.MVC.Shared.Constants

@{
    var today = DateTime.Now;
}

@Scripts.Render("~/Bundles/Scripts/FormType")


@Html.Hidden("CurrentAction", TabMenuItems.EditView)

<style type="text/css">

    #capacityTablediv {
        margin-top: 20px;
    }
</style>

<script type="text/javascript">
    var formID = "#EditCapacityForm";
</script>


@if (Model.Regions.Any())
{
    using (Html.BeginForm("Edit", "Capacity", FormMethod.Post, new { id = "regionSelectForm", @class = "form-horizontal" }))
    {
        <div class="form-group">
            <div class="col-xs-2">
                @Html.Label("ddlRegions", "Selecteer regio", new { @class = "control-label" })
            </div>
            <div class="col-xs-5">
                @Html.DropDownList("regionId", Model.Regions.ToSelectListItems(r => r.Text, r => r.Value), new { id = "ddlRegions", @class = "form-control" })
            </div>
        </div>
    }
}

@if (Model.Organizations.Any())
{
    using (Html.BeginForm("Edit", "Capacity", FormMethod.Post, new { id = "organizationSelectForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.RegionID)
        <div class="form-group">
            <div class="col-xs-2">
                @Html.Label("ddlOrganizations", "Selecteer organisatie", new { @class = "control-label" })
            </div>
            <div class="col-xs-5">
                @Html.DropDownList("organizationId", Model.Organizations.ToSelectListItems(r => r.Text, r => r.Value), new { id = "ddlOrganizations", @class = "form-control" })
            </div>
        </div>
    }
}

@if (Model.OrganizationID.HasValue)
{
    using (Html.BeginForm("Edit", "Capacity", FormMethod.Post, new { id = "careTypeSelectForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.RegionID)
        @Html.HiddenFor(m => m.OrganizationID)
        if (Model.AllowAfterCareCategorySelection)
        {
            <div class="form-group">
                <div class="col-xs-2">
                    @Html.LabelFor(m => m.AfterCareCategoryID, new { @class = "control-label" })
                </div>
                <div class="col-xs-6 ">
                    <label class="radio radio-inline">
                        <input type="radio" id="rdTypeIntra" name="AfterCareCategoryID" class="careTypeSelect" value="@((int) AfterCareCategoryID.Zorginstelling)" @(Model.AfterCareCategoryID == (int)AfterCareCategoryID.Zorginstelling ? "checked='checked'" : "") />
                        Intramuraal
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" id="rdTypeExtra" name="AfterCareCategoryID" class="careTypeSelect" value="@((int) AfterCareCategoryID.Thuiszorg)" @(Model.AfterCareCategoryID == (int)AfterCareCategoryID.Thuiszorg ? "checked='checked'" : "") />
                        Extramuraal
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" id="rdTypeHospice" name="AfterCareCategoryID" class="careTypeSelect" value="@((int) AfterCareCategoryID.Hospice)" @(Model.AfterCareCategoryID == (int)AfterCareCategoryID.Hospice ? "checked='checked'" : "") />
                        Hospice
                    </label>
                </div>
            </div>
        }
    }
}


@if (Model.Locations.Any())
{
    using (Html.BeginForm("CapacitySave", "Capacity", FormMethod.Post, new { @class = "form-horizontal", id = "EditCapacityForm" }))
    {
        @Html.HiddenFor(m => m.RegionID)
        @Html.HiddenFor(m => m.OrganizationID)
        @Html.HiddenFor(m => m.AfterCareCategoryID)
        @Html.AntiForgeryToken()
        @Html.AntiFiddleTokenFor(model => model.OrganizationID)

        <div style="margin-top: -30px; float: right">
            <input type="submit" id="saveCapacityButton" value="Wijzigingen opslaan" class="btn btn-azure" />
        </div>

        <div id="capacityTablediv">
            <table class="table" id="capacityTable">
                <thead>
                    <tr>
                        <th style="width: 150px">Locatie</th>
                        <th style="width: 70px">Kopieer</th>
                        <th style="width: 150px">Afdeling</th>
                        <th style="width: 103px">@today.ToPointDateDisplay()</th>
                        <th style="width: 103px">@today.AddDays(1).ToPointDateDisplay()</th>
                        <th style="width: 103px">@today.AddDays(2).ToPointDateDisplay()</th>
                        <th style="width: 103px">@today.AddDays(3).ToPointDateDisplay()</th>
                        <th style="width: 250px">Informatie</th>
                        <th style="width: 170px">Laatste mutatiedatum</th>
                    </tr>
                </thead>
                <tbody>

                    @for (var i = 0; i < Model.Locations.Count; i++)
                    {
                        for (var j = 0; j < Model.Locations[i].Departments.Count; j++)
                        {
                            var attributes = new { htmlAttributes = new { @class = "form-control", min = "0", max = "100000", data_location = i, data_department = j } };
                            var trId = $"tr-{i}-{j}";
                            var attributes2 = new { htmlAttributes = new { @class = "form-control " + trId, data_location = i, data_department = j, @readonly = "readonly"} };

                            <tr class="@trId">
                                @if (j == 0)
                                {
                                    @Html.HiddenFor(x => x.Locations[i].LocationID)
                                }

                                <td @(j > 0 ? Html.Raw("style=\"opacity: 0;\"") : Html.Raw(""))>@Model.Locations[i].Name</td>
                                <td>
                                    @Html.CheckBox("Chk", true, new { id = "chk", data_location = i, data_department = 0, title = "Kopieren", @class = "chk", data_trid = trId })
                                </td>
                                <td>
                                    @Model.Locations[i].Departments[j].Name
                                    @Html.HiddenFor(x => x.Locations[i].Departments[j].DepartmentID)
                                </td>
                                <td class="cap-1">@Html.EditorFor(x => x.Locations[i].Departments[j].Capacity1, attributes)</td>
                                <td class="cap-2">@Html.EditorFor(x => x.Locations[i].Departments[j].Capacity2, attributes)</td>
                                <td class="cap-3">@Html.EditorFor(x => x.Locations[i].Departments[j].Capacity3, attributes)</td>
                                <td class="cap-4">@Html.EditorFor(x => x.Locations[i].Departments[j].Capacity4, attributes)</td>
                                <td>@Html.TextAreaFor(x => x.Locations[i].Departments[j].Information, new { @class = "form-control" })</td>
                                @*<td class="cap-date-updated">@(Model.Locations[i].Departments[j].LastUpdated.ToPointDateHourDisplay())</td>*@
                                <td class="cap-date-updated">@Html.EditorFor(x => x.Locations[i].Departments[j].DateLastUpdated, attributes2)</td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input type="button" class="btn btn-blue button-copy" value="Naar dag 2" data-source=".cap-1" data-target=".cap-2" />
                        </td>
                        <td>
                            <input type="button" class="btn btn-blue button-copy" value="Naar dag 3" data-source=".cap-2" data-target=".cap-3" />
                        </td>
                        <td>
                            <input type="button" class="btn btn-blue button-copy" value="Naar dag 4" data-source=".cap-3" data-target=".cap-4" />
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input id="capacitySetDateToday" type="button" class="btn btn-blue" value="Wijzig naar vandaag" data-target=".cap-date-updated" onclick="_CapManJs.EditView.ShowSetDateTodayWarningModal()" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }

    <div id="capacitySetDateTodayWarning" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <b>Let op!</b><br />
                    Hiermee wordt de Laatste mutatie datum van ALLE afdelingen op de dag van vandaag gezet.<br />
                    <br />
                    Wilt u doorgaan?
                </div>
                <div class="modal-footer">
                    <button id="capacitySetDateTodayWarningCancel" type="button" data-dismiss="modal" class="btn">Nee</button>
                    <button id="capacitySetDateTodayWarningContinue" type="button" data-dismiss="modal" class="btn btn-primary" onclick="_CapManJs.EditView.SetDateLastUpdatedToToday()">Doorgaan</button>
                </div>
            </div>
        </div>
    </div>


}
