﻿@model Point.CapacityManagement.Web.ViewModels.CapacityTilesViewModel
    
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.FinancingList == null)
{
    return;
}

<div class="container tiles">

@foreach (var financing in Model.FinancingList)
{
    <div class="row @financing.CssClass">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg no-padding-right">
            <div class="tile capacity-financing-header top-xs-12 @financing.CssClass ">
                <span class="tile-name">
                    @financing.Name
                </span>
                <span class="show-info" data-aftercaretilegroupid="@financing.GroupID"><span class="glyphicon glyphicon-info-sign">&nbsp;</span></span>
            </div>
        </div>
    </div>

    <div class="row ">
    @{ bool isfirst = true; }
    @foreach (var aftercaregroup in financing.AfterCareGroups.OrderBy(acg => acg.SortOrder))
    {
        if (isfirst)
        {
            <div class="col-sm-2 hidden-xs no-padding-left">
                <div class="tile capacity-financing-header @financing.CssClass">
                    <span class="tile-name">
                        @financing.Name
                    </span>
                    <span class="show-info" data-aftercaretilegroupid="@financing.GroupID"><span class="glyphicon glyphicon-info-sign"></span></span>
                </div>
            </div>
            isfirst = false;
        }


        var regionsFromTile = "";
        if (Model.RegionIds != null)
        {
            foreach (var i in Model.RegionIds)
            {
                regionsFromTile = regionsFromTile + i + "&";
            }
        }

        string afterCareGroupIdAndTypeId = aftercaregroup.AfterCareGroupID + ";" + "0";
        var groupAction = Url.Action("Index", "CapacityList", new { regionsFromTile, afterCareGroupIdAndTypeId });        
        <a  class="Link_@aftercaregroup.ActiveClass" href="@groupAction">
            <div class="col-xs-4 col-sm-2 no-padding-right ">
                <div class="tile capacity-groupname-header normal @aftercaregroup.ActiveClass @financing.CssClass">
                    <span class="tile-name">
                        @aftercaregroup.AfterCareGroupName
                    </span>

                    <span class="capacity-count">@aftercaregroup.Capacity</span>
                    @if (aftercaregroup.AfterCareTypes?.Count() > 1)
                    {
                        <span data-aftercaregroupid="@aftercaregroup.AfterCareGroupID" class="capacity-expand"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span>
                    }
                </div>
            </div>
        </a>
    }
    </div>

        foreach (var aftercaregroup in financing.AfterCareGroups)
        {
            var tilecount = 0;           
            if (aftercaregroup?.AfterCareTypes?.Count() > 1)
            {
            <div class="row @(financing.CssClass) aftercaretypes" data-aftercaregroupid="@aftercaregroup.AfterCareGroupID" style="display:none;">
            @foreach (var aftercaretype in aftercaregroup.AfterCareTypes?.OrderBy(act => act.AfterCareTypeName))
            {
                var regionsFromTile = "";
                if (Model.RegionIds != null)
                {
                    foreach (var i in Model.RegionIds)
                    {
                        regionsFromTile = regionsFromTile +  i + "&";
                    }
                }

                string afterCareGroupIdAndTypeId = aftercaregroup.AfterCareGroupID + ";" + aftercaretype.AfterCareTypeID;
                <a class="Link_@aftercaretype.ActiveClass" href="@Url.Action("Index", "CapacityList", new { regionsFromTile, afterCareGroupIdAndTypeId })">
                    <div class="col-xs-4 col-sm-2 no-padding-right @(tilecount++%5 == 0 ? "col-sm-offset-2" : "")" style="padding-left:15px;" >
                        <div class="tile capacity-aftercare-header active @aftercaretype.ActiveClass @financing.CssClass ">
                            <span class="tile-name">
                                @aftercaretype.AfterCareTypeName
                            </span>
                            <span class="capacity-count">@aftercaretype.AfterCareTypeCapacity</span>
                        </div>
                    </div>
                </a>
            }
            </div>
        }
    }
}
</div>


@section scripts
{
    <script src="~/Scripts/capacity-tiles.js"></script>
}
