﻿@model IEnumerable<Point.Database.Models.CryptoCertificate>
@{
    var managementarea = new RouteValueDictionary() { { "Area", "Management" } };
}

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>

<script type="text/javascript">
    var formInsertOptions = {
        url: "@Url.Action("Upload", "CryptoCertificate", managementarea)",
        type: 'post',
        dataType: 'json',
        clearForm: true,
        success: function (data, textStatus, jqxhr, form) {
            if (data.ErrorMessage) {
                showErrorMessage($.parseJSON(jqxhr.responseText).ErrorMessage);
            }
            else {
                location.replace("@Url.Action("Index", "CryptoCertificate", managementarea)");
            }
        }
    };

    $(function () {
        $("#btnUpload").click(function (ev) {
            $("#cryptoCertificateForm").ajaxSubmit(formInsertOptions);
        })
    });


</script>
@Scripts.Render("~/Bundles/Scripts/JQueryForm")

<div class="panel panel-primary">
    <div class="panel-heading">
        Beheer client-certificaten
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("", "CryptoCertificate", FormMethod.Post, new { id = "cryptoCertificateForm", enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="control-label col-xs-3">PrivateKey</label>
                <div class="col-xs-5">
                    @Html.TextBox("PrivateKey", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Beschrijving</label>
                <div class="col-xs-5">
                    @Html.TextBox("Description", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Kies een bestand</label>
                <div class="col-xs-5">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Open <input type="file" name="file" id="file" onchange="$(this).closest('.form-group').find('.form-control').val($(this).val());">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="button" id="btnUpload" class="btn btn-block btn-primary">Upload</button>
                </div>
            </div>
        }
    </div>
</div>

<div id="cryptocertificatelist" style="margin-bottom: 16px;">
    @Html.Partial("List", Model)
</div>

