﻿@using Point.Infrastructure.Extensions
@model IEnumerable<Point.Database.Models.CryptoCertificate>

<table id="cryptocertificatetable" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Bestandsnaam</th>
            <th>Geldig t/m</th>
            <th>Beschrijving</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CryptoCertificateID</td>
                    <td>@item.FriendlyName</td>
                    <td>@item.FileName</td>
                    @if(item.ExpiryDate.Subtract(DateTime.Now).Days <= 30) {
                    <td class="danger text-danger">@item.ExpiryDate.ToPointDateDisplay() <span class="glyphicon glyphicon-exclamation-sign"></span></td>
                    }
                    else {
                    <td>@item.ExpiryDate.ToPointDateDisplay()</td>
                    }
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    }
</table>