﻿.linkButton, .blokButton {
    width: 86px;
    height: 16px;
    background: #00BDF4;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    color: #004B6A;
    margin: 10px;
    float: left;
    text-decoration: none;
    cursor: pointer;
}

.blokButton {
    width: 200px;
    height: 111px;
    color: #004b6a;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    background: no-repeat #00BDF4;
    background-position: 10px 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px rgba(0, 75, 106, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 75, 106, 0.8);
    -o-box-shadow: 0 0 8px rgba(0, 75, 106, 0.8);
    box-shadow: 0px 0px 8px rgba(0,75,106,0.8) !important;
}

.iconEmployee {
    background-image: url(images/Administration/iconEmployee.png);
}

.iconNurse {
    background-image: url(images/Administration/iconNurse.png);
}

.iconLogging {
    background-image: url(images/Administration/iconLogging.png);
}

.iconDepartment, .iconLocation, .iconOrganization {
    background-image: url(images/Administration/iconOrganization.png);
}

.iconPager {
    background-image: url(images/Administration/iconPager.png);
}

.iconSpecialism {
    background-image: url(images/Administration/iconSpecialism.png);
}

.iconDepartmentHeaderMessage {
    background-image: url(images/Administration/iconDepartmentHeaderMessage.png);
}


.inputButton {
    width: 126px;
    height: 26px;
    background: #00BDF4;
    border-radius: 4px;
    color: #004B6A;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.linkButtonTableContainerLeft {
    width: 100%;
    float: left;
}

.linkButtonTableContainerRight {
    float: right;
}

.newline {
    clear: both;
}

#mainwrap {
    font-weight: 600;
    background-color: white;
    background: none;
    width: 100%;
}

table.display {
    border: 1px solid #00bef7;
}

#containerDiv {
    padding-top: 10px;
    margin: 0 auto;
    min-height: 500px;
}

    #containerDiv input {
        font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
        font-size: 15px;
    }

.dialogContainer {
    font-size: 15px;
    padding: 10px;
    line-height: 22px;
}

    .dialogContainer select {
        width: 258px;
    }

    .dialogContainer input:not([type='checkbox']) {
        /*width: 252px;*/
    }

    .dialogContainer tr td:first-child {
        text-align: left;
        width: 137px;
    }

.settingsContentTable {
    margin-top: 5px;
}

.tdSettingHeader {
    width: 300px;
    vertical-align: top;
    padding: 10px;
}

.tdSettingHeaderCheck {
    width: 1px;
    vertical-align: top;
    padding: 10px;
}

.tdSettingContent {
    border-bottom: 1px solid #8CC7DE;
}

.tdSettingsTextarea {
    width: 300px;
}

.buttonRow {
    width: 100%;
}

.tableHeader {
    text-align: right;
    font-size: 16px;
}

.tableSubHeader {
    text-align: right;
    font-size: 11px;
}

.settingContentContainer {
    float: left;
    width: auto;
    padding: 10px;
}

.cellHeaderMessageColor {
    width: 20px;
    height: 20px;
}

.rowHeaderMessageColor {
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    padding: 5px;
    color: #0082d4;
    width: 500px;
    text-align: center;
}

.error {
    border: 2px solid #FF4000;
}
