﻿body {
    font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
}



.loginBody {
 background-color: #B5E1F6;
    background: url(images/Header.png);
    background-position: 0 -64px;
    background-repeat: no-repeat;
}

.planbordHeader {
    position: relative;
    font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP", helvetica, sans-serif;
    font-size: 12px;
    width: 1920px;
    height: 64px;
    background: url(images/Header.png);
}
.adminHeader{
    width: 100%;
} 

    .planbordHeader table {
        border-collapse: collapse;
    }

        .planbordHeader table tr {
            vertical-align: middle;
        }


        .planbordHeader table td, .planbordHeader table th {
            padding: 10px 0 0 0;
            vertical-align: middle;
        }

    .planbordHeader .title1 {
        font-size: 28px;
        color: #236785;
        margin-left: 15px;
        position: absolute;
        top: 11px;
        left: 0px;
    }

    .planbordHeader .title2 {
        font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #0082d4;
        text-align: center;
        background-color: white;
        border: 1px solid #004b6a;
        padding: 7px 12px;
        position: absolute;
        top: 11px;
        left: 500px;
    }

.planbordLogin, .planbordLoginLoad {
    font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #0082d4;
    text-align: left;
    background-color: white;
    border: 1px solid #004b6a;
    padding: 7px 12px;
    margin: 50px 400px;
}

    .planbordLogin input[type="text"], .planbordLogin input[type="password"] {
        font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
        width: 138px;
    }

    .planbordLogin input[type="submit"] {
        font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #0082d4;
        margin-top: 14px;
        padding-bottom: 3px;
        background-color: white;
        width: 144px;
    }

.planbordHeader .accent {
    font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 5px;
}

#currentTime {
    margin-left: 0;
}

.header-verwacht {
    position: absolute;
    top: 8px;
    left: 900px;
}

.header-capaciteit {
    position: absolute;
    top: 8px;
    left: 1000px;
}

.header-bezettebedden {
    position: absolute;
    top: 8px;
    left: 1100px;
}

.header-space {
}

.header-datetime {
    position: absolute;
    top: 8px;
    right: 270px;
}

.header-refreshIcon {
    position: absolute;
    top: 11px;
    right: 205px;
}

.header-refresh {
    position: absolute;
    top: 8px;
    right: 120px;
}

.header-username {
    position:absolute;
    top:8px;
    right:195px;
}

.header-admin {
    position: absolute;
    top: 16px;
    right: 80px;
    display:none;
}

.header-home {
    position: absolute;
    top: 16px;
    right: 50px;
    display:none;
}

.header-logoff {
    position: absolute;
    top: 16px;
    right: 20px;
    display:none;
}

.header-showhide {
    position:absolute;
    top: 0px;
    right:0px;
    background:transparent;
}

/*  main body styles  */

#mainwrap {
    font-weight: 600;
    background-color: #D8EFFA;
}


/* Some jQueryUI tweaking */

.ui-widget {
    font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
}

.ui-dialog-titlebar {
    display: none;
}


.ui-dialog .ui-dialog-content {
    padding: 0;
    border: 0;
    background-color: #00bdf4;
    border-bottom: 1px #0096c1 solid;
}

.ui-dialog {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px rgba(0,75,106, 0.8) !important;
    -moz-box-shadow: 0 0 8px rgba(0,75,106, 0.8) !important;
    box-shadow: 0 0 8px rgba(0,75,106, 0.8) !important;
    overflow: hidden;
    border: 1px #0096c1 solid;
}

.ui-widget-content {
    padding: 0;
    background-color: #00bdf4;
    border-color: none;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    border-top: 1px #3fd4ff solid;
}

.ui-dialog input[type='radio'] {
    margin-left:3px; 
    margin-right:3px;
}

.dividerHR {
    margin: 0;
    border-top: 1px solid #0096C1;
    border-bottom: 1px solid #3FD4FF;
}

/* Dialog styling */


.dialogHeader {
    background-color: #004b6a;
    color: white;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
}

.dialogSubheader, .dialogSubheader2 {
    color: #004b6a;
    font-size: 22px;
    font-weight: 600;
    height: 34px;
    letter-spacing: 0;
    line-height: 31px;
}

.dialogSubheader {
    background-color: #d8effa;
    padding: 0 8px;
}

.dialogSubheader2 {
    padding: 0 2px;
}

.dialogDetails, .dialogDetailsAlert, .dialogDetailsTable, .dialogDetailsEdit {
    background-color: #00bdf4;
    /*color:white;*/
    color: #004b6a;
    font-size: 12px;
    padding: 10px 10px;
}

.dialogDetailsEdit {
    font-size:15px;
}

.dialogDetailsAlert {
    /*color:#004b6a;*/
    color: white;
}

.dialogDetailsTable {
    color: black;
    font-size: 10px;
}

.dialogLoader {
    width: 220px;
    height: 50px;
    text-align: center;
    clear: both;
    margin: auto;
    margin-top: 30px;
    background: url(images/ajax-loader-bar.gif) no-repeat;
}

.iconMultiNurse {
    background-image: url(images/iconMultiNurse.png);
}

.ajaxLoaderBar {
    width:220px;
    height:20px;
    background: url(images/ajax-loader-bar.gif) no-repeat;
}
    

/* Header Icons */

.headerIcon {
    width: 20px;
    height: 20px;
    margin: 3px;
    cursor: pointer;
}

.iconExpected {
    background-image: url(images/iconExpected.png);
    text-indent:20px;
}

.iconCapacity {
    background-image: url(images/iconCapacity.png);
    text-indent:20px;
}

.iconOccupied {
     background-image: url(images/BordIcons/iconBed.png);
     text-indent:20px;
}



.iconGear {
    background-image: url(images/iconGear.png);
}

.iconHome {
    background-image: url(images/iconHome.png);
}

.iconLogoff {
    background-image: url(images/iconLogoff.png);
}

.iconPassword {
    background-image: url(images/iconPassword.png);
}

.iconRefresh {
    width: 28px;
    margin-right: 5px;
    background-image: url(images/iconRefresh.png);
    background-repeat: no-repeat;
}

    .iconRefresh:hover {
        background-image: url(images/iconRefresh_hover.png);
        cursor: pointer;
        * cursor: hand;
    }

    .iconRefresh:active {
        background-position: 0 3px;
    }

/* Planbord Icons */

.planbordIcon, .planbordIconLegend {
    height: 20px;
    margin-right: 7px;
    background-repeat: no-repeat;
}

.planbordIcon {
    width: 20px;
    float: left;
}

.centerIcon .planbordIcon {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.planbordIconLegend {
    text-indent: 40px;
}

.hiddenIconSort {
    display: none;
}

.ellipsis {
    color: black;
    font-weight: bold;
}

.planbordIcon .ellipsis {
    position: relative;
    top: 6px;
}



.planbordIcon_xl {
    float: left;
    width: 64px;
    height: 74px;
    margin: 2px;
    background-repeat: no-repeat;
    text-align: center;
}

    .planbordIcon_xl .label {
        position: relative;
        top: 60px;
    }

.planbordIconDown {
    border: 5px #d8effa solid;
}

    .planbordIconDown .label {
        color: #d8effa;
    }


.planbordIconUp {
    border: 5px solid transparent;
}

.iconEmpty {
    background-image: url(images/iconEmpty.png);
}

.iconEllipsis {
    background-image: url(images/iconEllipsis.png);
}

.vpkBackgroundCircle, .vpkBackgroundRectangle {
    display:inline-block;
    width:13px;
    height:13px;
    text-align:center;
    background-repeat:no-repeat;
}
.vpkBackgroundCircle {
    background-image:url(images/iconBackCircle.png);
}
.vpkBackgroundRectangle {
    background-image:url(images/iconBackRectangle.png);
}
.iconWorkload {
    display:inline-block;
    width:6px;
    height:6px;
    text-align:center;
    background-repeat:no-repeat;
}
.iconWorkloadLow {
    background-image:url(images/iconWorkloadLow.png);
}
.iconWorkloadMedium {
    background-image:url(images/iconWorkloadMedium.png);
}
.iconWorkloadHigh {
    background-image:url(images/iconWorkloadHigh.png);
}
.shiftDD{
    color:#0000FF;
}
.shiftLD{
    color:#e91fd2;
}
.shiftND{
    color:#000000;
}



.iconBedBlocked {
    background-image: url(images/BordIcons/iconBedBlocked.png);
}
.iconBedBlocked_xl {
    background-image: url(images/BordIcons/iconBedBlocked_xl.png);
}
.iconBedClean {
    background-image: url(images/BordIcons/iconBedClean.png);
}
.iconBedClean_xl {
    background-image: url(images/BordIcons/iconBedClean_xl.png);
}
.iconBed {
    background-image: url(images/BordIcons/iconBed.png);
}
.iconBed_xl {
    background-image: url(images/BordIcons/iconBed_xl.png);
}
.iconKrukken {
    background-image: url(images/BordIcons/iconKrukken.png);
}
.iconKrukken_xl {
    background-image: url(images/BordIcons/iconKrukken_xl.png);
}
.iconRollator {
    background-image: url(images/BordIcons/iconRollator.png);
}
.iconRollator_xl {
    background-image: url(images/BordIcons/iconRollator_xl.png);
}
.iconTillift {
    background-image: url(images/BordIcons/iconTillift.png);
}
.iconTillift_xl {
    background-image: url(images/BordIcons/iconTillift_xl.png);
}
.iconWalk {
    background-image: url(images/BordIcons/iconWalk.png);
}
.iconWalk_xl {
    background-image: url(images/BordIcons/iconWalk_xl.png);
}
.iconWheelchair {
    background-image: url(images/BordIcons/iconWheelChair.png);
}
.iconWheelchair_xl {
    background-image: url(images/BordIcons/iconWheelChair_xl.png);
}







.iconCheck {
    background-image: url(images/iconCheck.png);
}

.iconCodeA {
    background-image: url(images/iconCodeA.png);
}

.iconCodeB {
    background-image: url(images/iconCodeB.png);
}

.iconCodeC {
    background-image: url(images/iconCodeC.png);
}

.iconCodeQuestion {
    background-image: url(images/iconCodeQuestion.png);
}

.iconDotBlue {
    background-image: url(images/iconDotBlue.png);
}
.iconDotGray {
    background-image: url(images/iconDotGray.png);
}

.iconDotGreen {
    background-image: url(images/iconDotGreen.png);
}

.iconDotPink {
    background-image: url(images/iconDotPink.png);
}

.iconDotRed {
    background-image: url(images/iconDotRed.png);
}

.iconDotYellow {
    background-image: url(images/iconDotYellow.png);
}

.iconDotOrange {
    background-image: url(images/iconDotOrange.png);
}

.iconExclamation {
    background-image: url(images/iconExclamation.png);
}

.iconExclamationLeft {
    background-image: url(images/iconExclamationLeft.png);
}

.iconExclamationWhite {
    background-image: url(images/iconExclamationWhite.png);
}

.iconExclamationAlert {
    background-image: url(images/iconExclamationWhite.png);
}

.iconPoint {
    background-image: url(images/iconPoint.png);
}

.iconAOA {
    background-image: url(images/iconAOA.png);
}

.iconFaseAanvul{
     background-image: url(images/iconFaseAanvul.png);
}

.iconFaseAF{
     background-image: url(images/iconFaseAF.png);
}

.iconFaseInBeh{
     background-image: url(images/iconFaseInBeh.png);
}

.iconFaseTO{
     background-image: url(images/iconFaseTO.png);
}

.iconFaseVOGroen{
     background-image: url(images/iconFaseVOGroen.png);
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Buttons
 */

.buttonOk span.ui-button-text, .buttonClose span.ui-button-text, .buttonSave span.ui-button-text, .buttonEdit span.ui-button-text, .buttonOverview span.ui-button-text, .buttonTrash span.ui-button-text {
    display: none;
}

.buttonOk, .buttonClose, .buttonSave, .buttonEdit, .buttonOverview, .buttonTrash, .buttonClose:hover, .buttonSave:hover, .buttonEdit:hover, .buttonOverview:hover, .buttonTrash:hover {
    width: 30px;
    height: 30px;
    border: none !important;
}

.buttonClose {
    background: transparent url('images/iconDelete.png') no-repeat center center !important;
}

.buttonSave {
    background: transparent url('images/iconSave.png') no-repeat center center !important;
}

.buttonEdit {
    background: transparent url('images/iconEdit.png') no-repeat center center !important;
}

.buttonOk {
    background: transparent url('images/iconCheck.png') no-repeat center center !important;
}

.buttonOverview {
    background: transparent url('images/iconOverview.png') no-repeat center center !important;
    position:absolute;
    left:10px;
}


.buttonTrash {
    background: transparent url('images/iconTrash.png') no-repeat center center !important;
    position:absolute;
    left:10px;
}

.textButton {
    text-decoration: none;
    vertical-align: middle;
    width: 110px;
    height: 22px;
    line-height: 22px;
    color: #004b6a;
    font-weight: 600;
    text-align: center;
    background: no-repeat #D8EFFA;
    background-position: 10px 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px rgba(0, 75, 106, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 75, 106, 0.8);
    box-shadow: 0px 0px 8px rgba(0,75,106,0.8) !important;
    display:inline-block;
}

.textButton:hover {
    text-decoration: none;
    background: no-repeat rgba(0,75,106, 0.8);
    color: #D8EFFA;
    cursor: pointer;
}

.textButtonSaveIcon {
    float:right;
    margin:2px 10px 0px 0px;
    width:18px;
    height:18px;
    outline: none;
    text-decoration: none;
}

.textButtonSaveIcon:hover {
    cursor: pointer;
    * cursor: hand;
}

div.overlay {
    background: #00bdf4;
    opacity: 0.8;
    color: white;
    display: table;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1000
}

    div.overlay > div {
        display: table-cell;
        width: 100%;
        height: 100%;
        color: white;
        opacity: 1.5;
        text-align: center;
        vertical-align: middle;
        font-size: 16px;
    }

#loader, #error, #success {
    display: none;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 2;
    overflow: auto;
    background: white;
    border: 1px solid #6699ff;
    padding: 5px;
}

#error {
    width: 400px;
    border: 3px solid red;
}

#success {
    width: 400px;
    border: 3px solid green;
}

.alertColor{
    color:#FFA500;
}

/* Ews Score */
.ewsred {
    color:red;
}

.ewsgreen {
    color:green;    
}

.ewsblack {
    color:black;    
}

.ewsscore {
    margin-left:6px;
    font-weight:bold;
    font-size:13px;
}

/* Dialog PatientCard styling */
#patientDetails {
    padding: 5px;
    overflow: hidden;
}

/* Some overrules for the imported divs */
#patientDetails .dialogSubheader2 {
     font-size: 12px;
     font-weight: normal;
     line-height: normal;
     height: auto;
}
#patientDetails .dividerHR {
    border: 0px;
}
#patientDetails textarea {
    background-color: transparent;
    border: none;
    height: 30px !important;
    width: 95% !important;
    font-size: 12px !important;
    overflow: auto;
    font-family: "Segoe UI","Segoe WP","Helvetica Neue", helvetica, sans-serif
}
#patientDetails .dialogDetailsAlert {
    background-color: transparent;
}

/* End overrules */


#patientDetails .leftColumn {
    
    float: left;
    padding-bottom: 100%;
    margin-bottom: -100%;

    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    width: 100px;

}

#patientDetails .rightColumn {
    border-bottom:2px solid #004b6a;
    background-color: lightblue;
    float: left;
    padding-bottom: 100%;
    margin-bottom: -100%;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 12px;
    width: 490px;
}

#patientDetails .parentColumns {
    padding: 2px;
    overflow: hidden;
    width: 600px;
}