﻿@model Point.Planbord.Database.Models.Nurse

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");

    ViewBag.Gender = Point.Planbord.Infrastructure.Extensions.EnumExtensions.SelectListFor(Model.Gender);
    ViewBag.NurseRole = Point.Planbord.Infrastructure.Extensions.EnumExtensions.SelectListFor(Model.NurseRole);
}

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/nurse/nursedialog.js")

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

<div class="dialogContainer">
    @using (Html.BeginForm("Edit", "Nurse", FormMethod.Post, new { id = "NurseForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NurseID)
        @Html.HiddenFor(model => model.InActive)
        <table style="width: 100%;">
            <tr>
                <td>@Html.DisplayNameFor(model => model.DepartmentID)</td>
                <td>@Html.DropDownListFor(model => model.DepartmentID, (SelectList)ViewBag.Departments)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Initials)</td>
                <td>@Html.TextBoxFor(model => model.Initials)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                <td>@Html.TextBoxFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.MiddleName)</td>
                <td>@Html.TextBoxFor(model => model.MiddleName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LastName)</td>
                <td>@Html.TextBoxFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.MaidenName)</td>
                <td>@Html.TextBoxFor(model => model.MaidenName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Gender)</td>
                <td>@Html.DropDownList("Gender")</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.NurseRole)</td>
                <td>@Html.DropDownList("NurseRole")</td>
            </tr>
            <tr style="display:none;">
                <td>@Html.DisplayNameFor(model => model.InActive)</td>
                <td>@Html.CheckBoxFor(model => model.InActive, new { disabled = "disabled" })</td>
            </tr>
            <tr><td colspan="2">@Html.ValidationSummary()</td></tr>
        </table>
    }
</div>
<script>
    MarkRequiredFields();
</script>
