﻿@using Point.Planbord.Database.Models 
@model Nurse

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");
}
@Scripts.Render("~/Scripts/Nurse/Keyboard.js")

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

<div class="dialogDetailsEdit">
    @using (Html.BeginForm("Edit", "Nurse", FormMethod.Post, new { id = "NurseForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NurseID)
        <table style="width: 100%;">
            <tr>
                <td></td>
                <td>@Html.HiddenFor(model => model.DepartmentID, Model.DepartmentID)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FirstName):</td>
                <td>@Html.TextBoxFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.MiddleName):</td>
                <td>@Html.TextBoxFor(model => model.MiddleName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LastName):</td>
                <td>@Html.TextBoxFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.HiddenFor(model => model.NurseRole, Model.NurseRole)</td>
            </tr>
        </table>
    }
</div>
