﻿@model IEnumerable<Point.Planbord.Database.Models.Nurse>
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Verpleegkundige";
}

@section scripts {

    @Scripts.Render("~/Scripts/Nurse/nurse.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 1000px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Initials)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.MiddleName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.MaidenName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.LastName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Gender)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.NurseRole)</th>
                    <th style="width: 100px;">Locatie</th>
                    <th style="width: 100px;">Afdeling</th>
                    <th style="display:none;width: 100px;">@Html.DisplayNameFor(model => model.InActive)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr class="EditNurse" data-id="@item.NurseID" data-entity="Nurse" data-url="@Url.Action("Edit", "Nurse")" data-trashurl="@Url.Action("Delete", "Nurse")">
                        <td>@item.Initials</td>
                        <td>@item.FirstName</td>
                        <td>@item.MiddleName</td>
                        <td>@item.MaidenName</td>
                        <td>@item.LastName</td>
                        <td>@item.Gender.GetDescription()</td>
                        <td>@item.NurseRole.GetDescription()</td>
                        <td>@item.Department.Location.Name</td>
                        <td>@item.Department.Name</td>
                        <td style="display:none;">@item.InActive</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        <div class="linkButtonTableContainerLeft">
            <div class="CreateNurse linkButton" data-id="0" data-entity="Nurse" data-url="@Url.Action("Edit", "Nurse")">Nieuw</div>
        </div>
    </div>
</div>
