﻿@model Point.Planbord.Database.Models.Location
@using Point.Planbord.Infrastructure;

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");
}

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

<div class="dialogContainer">
    @using (Html.BeginForm("Edit", "Location", FormMethod.Post, new { id = "LocationForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EntityID)
        @Html.HiddenFor(model => model.SystemCode)
        @Html.HiddenFor(model => model.InActive)
        <table style="width: 100%;">
            <tr>
                <td>@Html.DisplayNameFor(model => model.SystemCode)</td>
                @if(User.IsInRole(Role.PlanbordAdministrator.ToString()))
                {
                    <td>@Html.TextBoxFor(model => model.SystemCode, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.SystemCode) + " is een verplicht veld." } })</td>
                }
                else
                {
                    <td>@Html.TextBoxFor(model => model.SystemCode, new Dictionary<string, object> { { "readonly", "readonly" }, { "disabled", "true" } })</td>
                }
            </tr>
            <tr style="display:none;">
                <td>@Html.DisplayNameFor(model => model.ShortCode)</td>
                <td>@Html.TextBoxFor(model => model.ShortCode)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.TextBoxFor(model => model.Name, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.Name) + " is een verplicht veld." } })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Street)</td>
                <td>@Html.TextBoxFor(model => model.Street, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.Street) + " is een verplicht veld." } })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.HouseNumber)</td>
                <td>@Html.TextBoxFor(model => model.HouseNumber, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.HouseNumber) + " is een verplicht veld." } })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.City)</td>
                <td>@Html.TextBoxFor(model => model.City, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.City) + " is een verplicht veld." } })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ZipCode)</td>
                <td>@Html.TextBoxFor(model => model.ZipCode, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.ZipCode) + " is een verplicht veld." } })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.IPCheck)</td>
                <td>@Html.CheckBoxFor(model => model.IPCheck)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.IPAddress)</td>
                <td>@Html.TextBoxFor(model => model.IPAddress)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Organization)</td>
                <td>@Html.DropDownListFor(model => model.OrganizationID, (SelectList)ViewBag.Organizations, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", @Html.DisplayNameFor(model => model.Organization) + " is een verplicht veld." } })</td>
            </tr>
            <tr style="display:none;">
                <td>@Html.DisplayNameFor(model => model.InActive)</td>
                <td>@Html.CheckBoxFor(model => model.InActive, new { disabled = "disabled" })</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ValidationSummary()</td>
            </tr>
        </table>
    }
</div>
<script>
    MarkRequiredFields();
</script>

