﻿@model IEnumerable<Point.Planbord.Database.Models.Location>
@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Locatie";
}

@section scripts {

    @Scripts.Render("~/Scripts/Location/location.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 1100px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.SystemCode)</th>
                    <th style="display:none;width: 50px;">@Html.DisplayNameFor(model => model.ShortCode)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Name)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Street)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.HouseNumber)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.ZipCode)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.City)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.IPCheck)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.IPAddress)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Organization)</th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr class="EditLocation" data-id="@item.EntityID" data-entity="Location" data-url="@Url.Action("Edit", "Location")" data-trashurl="@Url.Action("Delete", "Location")">
                        <td>@item.SystemCode</td>
                        <td style="display:none;">@item.ShortCode</td>
                        <td>@item.Name</td>
                        <td>@item.Street</td>
                        <td>@item.HouseNumber</td>
                        <td>@item.ZipCode</td>
                        <td>@item.City</td>
                        <td>@Html.CheckBoxFor(x => item.IPCheck, new { disabled = "disabled" })</td>
                        <td>@item.IPAddress</td>
                        <td>@item.Organization.Name</td>
                        <td><a class="noclick" href="@Url.Action("Index", "Settings", new { parentId = @item.EntityID, parentType = PlanbordSettingsParentType.Location })">Instellingen</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        @if(User.IsInRole(Role.PlanbordAdministrator.ToString()))
        {
        <div class="linkButtonTableContainerLeft">
            <div class="CreateLocation linkButton" data-entity="Location" data-url="@Url.Action("Edit", "Location")">Nieuw</div>
        </div>
        }
    </div>
</div>
