﻿@using Point.Database.Models.ViewModels;
@model IEnumerable<CommunicationLogViewModel>

<script type="text/javascript">
    $(function () {
        var height = $(window).innerHeight() - $("#emailsTable").offset().top - 130;

        $("#emailsTable").DataTable({
            aaSorting: [[1, 'desc']],
            bFilter: true,
            sDom: "tip",
            scrollY: height
        });
    });
</script>

@if(Model != null && Model.Count() == 500) //500 is max (zie controller)
{
    <div class="alert alert-info">Er zijn meer dan 500 resultaten. Filter uw zoekopdracht.</div>
}

<table class="table table-striped table-condensed" id="emailsTable">
    <thead>
        <tr class="theme_headerstyle">
            <th scope="col">Onderwerp</th>
            <th scope="col">Tijd</th>
            <th scope="col">Soort mail</th>
            <th scope="col">Aan</th>
            <th scope="col">Medewerker</th>
            <th scope="col">Organisatie</th>
            <th scope="col">TransferID</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var communicationLogViewModel in Model)
            {
                <tr>
                    <td>@communicationLogViewModel.CommunicationLog.Subject</td>
                    <td><div style="display:none;">@communicationLogViewModel.CommunicationLog.Timestamp.ToSortablePointDateHourDisplay()</div>@communicationLogViewModel.CommunicationLog.Timestamp.ToPointDateHourDisplay()</td>
                    <td>@communicationLogViewModel.CommunicationLogType.GetDescription()</td>
                    <td title="@communicationLogViewModel.CommunicationLog.ToAddress">@communicationLogViewModel.CommunicationLog.ToAddress.AddExtraMailAddressCount()</td>
                    <td>@communicationLogViewModel.EmployeeName</td>
                    <td>@communicationLogViewModel.OrganizationName</td>
                    <td>@communicationLogViewModel.CommunicationLog.TransferID</td>
                </tr>
            }
        }
    </tbody>
</table>
