﻿@using Point.Database.Models.ViewModels;
@using Point.MVC.WebApplication.Extensions
@model IEnumerable<CommunicationLogViewModel>

@{ 
    var logtypes = (IEnumerable<SelectListItem>)ViewBag.LogTypes;
}


<script type="text/javascript">
    var formID = "#formSearchCommunicationLog";

    $(function() {
        $('[data-toggle="clickover"]:not(.client-header)').clickover({
            html: true,
            placement: "top",
            global_close: true,
            esc_close: true,
            title: $(this).data("title"),
            content: $(this).data("content")
        });
    });

</script>

@Scripts.Render("~/Bundles/Scripts/FormType")


<div class="panel panel-primary">
    <div class="panel-heading">
        Bekijk verstuurde e-mails
    </div>
    <div class="panel-body">
        <form id="formSearchCommunicationLog" class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-xs-2">Datum van / Datum tot
                    <span style="cursor:pointer;" data-toggle="clickover" data-title="Datum van / Datum tot" data-content="Omwille van performance worden maximaal 7 dagen getoond,<br />gerekend tot en met de optioneel ingegeven 'Datum tot'.<br />Indien niet gevuld wordt daar automatisch de huidige dag gebruikt."><span class="glyphicon glyphicon-info-sign"></span></span>
                </label>
                <div class="col-xs-2">
                    <div class="input-group date">
                        @Html.TextBox("DateFrom", "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                        <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group date">
                        @Html.TextBox("DateTo", "{0:dd-MM-yyyy}", new { @class = "flowfield form-control", data_dateformat = "dd-MM-yyyy", data_datetime = "date" })
                        <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">TransferID</label>
                <div class="col-xs-2">
                    @Html.TextBox("TransferID", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    Soort mail
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("CommunicationLogType", logtypes, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-block btn-primary">Zoeken</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="communicationloglist" style="margin-bottom: 16px;">
    @Html.Partial("List", Model)
</div>
