﻿@model Point.Planbord.Database.Models.EmployeeUserEditViewModel

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");

    ViewBag.Gender = Point.Planbord.Infrastructure.Extensions.EnumExtensions.SelectListFor(Model.Gender);
    ViewBag.Role = Point.Planbord.Infrastructure.Extensions.EnumExtensions.SelectListFor(Model.Role).Where(t=>t.Text!="PlanbordAdministrator");
}

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

<div class="dialogContainer">
    @using (Html.BeginForm("Access", "Employee", FormMethod.Post, new { id = "EmployeeForm" }))
    {
        @Html.Hidden("EmployeeID", Model.EmployeeID);

        <table style="width: 100%;">
            <tr>
                <td>@Html.DisplayNameFor(model => model.IsLockedOut)</td>
                <td>@Html.CheckBoxFor(model => model.IsLockedOut)</td>
            </tr>
        </table>
    }
</div>