﻿@model Point.Planbord.Database.Models.EmployeeUserViewModel
@using System.Linq;

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");

    ViewBag.GenderList = Point.Planbord.Infrastructure.Extensions.EnumExtensions.SelectListFor(Model.Gender);
    ViewBag.Role = Point.Planbord.Infrastructure.Extensions.EnumExtensions.SelectListFor(Model.Role).Where(t => t.Text != "PlanbordAdministrator");
}

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/Employee/employeedialog.js")

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

<div class="dialogContainer">
    @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { id = "EmployeeForm" }))
    {
        @Html.Hidden("hOrganizationID", Model.OrganizationID);
        @Html.Hidden("hLocationID", Model.LocationID);
        @Html.Hidden("hDepartmentID", Model.DepartmentID);
        @Html.Hidden("EmployeeID", Model.EmployeeID);
        @Html.Hidden("UserId", Model.UserId);
        @Html.Hidden("LocationsFromOrganizationURL", @Url.Action("LocationsFromOrganization", "Organization"))
        @Html.Hidden("DepartmentsFromLocationURL", @Url.Action("DepartmentsFromLocation", "Location"))
        @Html.HiddenFor(model => model.InActive)
        <table style="width: 100%;">
            <tr>
                <td>@Html.DisplayNameFor(model => model.OrganizationID)</td>
                <td>@Html.DropDownListFor(model => model.OrganizationID, (SelectList)ViewBag.Organizations, new { @id = "OrganizationID" })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LocationID)</td>
                <td>@Html.DropDownListFor(model => model.LocationID, (SelectList)new SelectList(""), new { @id = "LocationID" })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DepartmentID)</td>
                <td>@Html.DropDownListFor(model => model.DepartmentID, (SelectList)new SelectList(""), new { @id = "DepartmentID" })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.EmployeeNumber)</td>
                <td>@Html.TextBoxFor(model => model.EmployeeNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Initials)</td>
                <td>@Html.TextBoxFor(model => model.Initials)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                <td>@Html.TextBoxFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.MiddleName)</td>
                <td>@Html.TextBoxFor(model => model.MiddleName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LastName)</td>
                <td>@Html.TextBoxFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.MaidenName)</td>
                <td>@Html.TextBoxFor(model => model.MaidenName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Gender)</td>
                <td>@Html.DropDownList("GenderList")</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.TextBoxFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Role)</td>
                <td>
                    @foreach (var roleItem in Model.RoleList)
                    {
                    <div>
                        <span>
                            <input name="SelectedRoles" id="SelectedRoles" type="checkbox" value="@roleItem" style="margin-left:0px" /> @Html.Label(roleItem)
                        </span>
                    </div>
                    }
                </td>
            </tr>
            <tr style="display:none;">
                <td>@Html.DisplayNameFor(model => model.InActive)</td>
                <td>@Html.CheckBoxFor(model => model.InActive, new { disabled = "disabled" })</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="dividerHR"></div>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.UserName)</td>
                <td>@Html.TextBoxFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Password)</td>
                <td>@Html.PasswordFor(model => model.Password, new { id = "Password" })</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ConfirmPassword)</td>
                <td>@Html.PasswordFor(model => model.ConfirmPassword)</td>
            </tr>
            <tr><td colspan="2">@Html.ValidationSummary()</td></tr>
        </table>
    }
</div>
<script>
    MarkRequiredFields();
</script>