﻿@model IList<Point.Planbord.Database.Models.EmployeeUserViewModel>
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Medewerker";
}

@section scripts {

    @Scripts.Render("~/Scripts/Employee/employee.js")
}

<style>
    .ui-dialog-content {
        overflow:hidden !important;
    }
</style>

<div id="mainwrap">
    <div id="containerDiv" style="width: 1800px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().EmployeeNumber)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().LocationName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().DepartmentName)</th>
                    <th style="width: 200px;">@Html.DisplayNameFor(model => model.First().Role)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().Initials)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().FirstName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().MiddleName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().LastName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().MaidenName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().Gender)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().InActive)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().UserName)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().Email)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.First().LastLoginDate)</th>
                    <th style="width: 200px;">@Html.DisplayNameFor(model => model.First().IsLockedOut)</th>
                </tr> 
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="EditEmployee" data-id="@item.EmployeeID" data-entity="Employee" data-url="@Url.Action("Edit", "Employee")" data-trashurl="@Url.Action("Delete", "Employee")">
                            <td>@item.EmployeeNumber</td>
                            <td>@item.LocationName</td>
                            <td>@item.DepartmentName</td>
                            <td>@item.RoleName()</td>
                            <td>@item.Initials</td>
                            <td>@item.FirstName</td>
                            <td>@item.MiddleName</td>
                            <td>@item.LastName</td>
                            <td>@item.MaidenName</td>
                            <td>@item.Gender.GetDescription()</td>
                            <td>@item.InActive</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.LastLoginDate</td>
                            <td class="noclick AccessEmployee" data-id="@item.EmployeeID" data-entity="Employee" data-url="@Url.Action("Access", "Employee")">
                                @if (item.IsLockedOut)
                                { 
                                    <input type="checkbox" checked="checked" disabled="disabled" title="Medewerker is geblokkered" />
                                }
                                else
                                {
                                    <input type="checkbox" disabled="disabled" title="Medewerker is niet geblokkered" />
                                }
                                &nbsp;<a href="#" >(de)blokkeren</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="linkButtonTableContainerLeft">
            <div class="CreateEmployee linkButton" data-entity="Employee" data-url="@Url.Action("Create", "Employee")">Nieuw</div>
        </div>
    </div>
</div>
