﻿@model Point.Planbord.Database.Models.Pager

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Administration.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Administration.cshtml");}

<div id="largeIconHolder">
</div>

<div class="dialogContainer">
    @using (Html.BeginForm("Edit", "Pager", FormMethod.Post, new { id = "PagerForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PagerID)
        <table style="width: 100%;">
            <tr>
                <td>@Html.DisplayNameFor(model => model.PagerNumber)</td>
                <td>@Html.TextBoxFor(model => model.PagerNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Department)</td>
                <td>@Html.DropDownListFor(model => model.DepartmentID, (SelectList)ViewBag.Departments)</td>
            </tr>
        </table>
    }
</div>
