﻿@model IEnumerable<Point.Planbord.Database.Models.Pager>

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Telefoon";
}

@section scripts {

    @Scripts.Render("~/Scripts/Pager/pager.js")
}

<div id="mainwrap">
    <div id="containerDiv" style="width: 300px;">
        <table class="display" id="dataTable" style="margin-top: 5px;">
            <thead style="display: table-header-group;">
                <tr>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.PagerNumber)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Department.Location)</th>
                    <th style="width: 100px;">@Html.DisplayNameFor(model => model.Department)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr class="EditPager" data-id="@item.PagerID" data-entity="Pager" data-url="@Url.Action("Edit", "Pager")" data-trashurl="@Url.Action("Delete", "Pager")">
                        <td>@item.PagerNumber</td>
                        <td>@item.Department.Location.Name</td>
                        <td>@item.Department.Name</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        <div class="linkButtonTableContainerLeft">
            <div class="CreatePager linkButton" data-id="0" data-entity="Pager" data-url="@Url.Action("Edit", "Pager")">Nieuw</div>
        </div>
    </div>
</div>
