﻿@darkblue: #00396a;

@color-wlz: #ff9f42;
@color-zvw: #b9dd4c;
@color-anders: #00bdf4;
@color-overig: #d55c50;
@color-zh: #0066cc;


@screen-xs-portrait: 480px;
@screen-xs: 768px;
@screen-sm: 992px;
@screen-md: 1200px;


body {
    padding-bottom: 20px;
    font-family: "Muli";
    background: url('../Images/Background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: @darkblue;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover {
    text-decoration: none;
}

.table-hover > tbody > tr:hover {
    background-color: #ddd;
}


table thead.table-head-blue {
    background-color: @darkblue;
    color: white;
    font-weight: bold;
}

table .daycolumn {
    white-space:nowrap;
}

.btn-group button.btn.background-white {
    background-color: white;
}

.modal#capacityInfoModal {
    .fax-icon {
        color: #00396A;
        font-size: 130%; 
        font-weight: bold;
        margin-top: -3px;
        margin-left: -1px;
    }
}

.modal#afterCareTypeDescriptionsModal {
    table tr {
        th, td {
            padding: 0 10px;
        }
    }
}

.capacity-extent {
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-group.row {
    margin-left: 0;
    margin-bottom: 10px;

    label:not(.checkbox) {
        padding: 0;
        padding-top: 4px;
    }

    input.form-control, select.form-control {
        padding-top: 0;
        padding-bottom: 0;
        height: 30px;
    }

    input.form-control[type="checkbox"] {
        width: 14px;
        opacity: .4;
        margin-top: -2px;
    }

    div.col-sm-4 {
        padding-left: 0;
    }
}

.capacity {
    .capacity-paging {
        margin-bottom: 5px;
    }

    table#capacityListTable tbody {
        cursor: pointer;
    }
}

.glyphicon-large {
    font-size: 26px;
}

.navbar-brand-large {
    font-size: 30px;
    color: white !important;
    margin-right:100px;
}

.navbar-inverse {
    background-color: @darkblue;
}

a.navbar-brand.menu-active {
    color: white !important;
}

a.Link_DeActiveInRegion {
    pointer-events: none;
    cursor: default;
}

.no-padding-left {
        padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.pointlogo {
    height:40px;
    margin-top:4px;
    margin-right:10px; 
    opacity:0.9;
}

.show-info>.glyphicon {
    cursor:pointer;
}
.glyphicon.opace {
    opacity: 0.3;
}

.tiles {
    & .tile {
        font-size: 14px;
        font-weight: bold;
        color: white;
        border-radius: 3px;
        height: 125px;
        margin-top: 10px;

        .capacity-count {
            position: absolute;
            left: 26px;
            bottom: 6px;
            font-size: 36px;
            text-shadow: 0.6px 0.6px 0.4px @darkblue;

            &.inactive {
                opacity: 0.5;
            }
        }

        .capacity-expand {
            position: absolute;
            right: 11px;
            bottom: 11px;

            &:hover {
                color: @darkblue;
            }
        }

        &.capacity-groupname-header, &.capacity-aftercare-header {
            padding-top: 10px;

            &.inactive {
                opacity: 0.5;
            }

            &.active {
                opacity: 1;
            }

            &.normal {
                opacity: 0.85;
            }

            &:hover {
                opacity: 0.6;
            }

            &.ActiveInRegion {
                opacity: 1;
            }

            &.DeActiveInRegion {
                & .capacity-count, & .capacity-expand {
                    display: none;
                }

                &.capacity-wlz, &.capacity-zvw, &.capacity-anders, &.capacity-overig, &.capacity-zh {
                    background-color: lightgray;
                }
            }
        }

        &.capacity-aftercare-header {
            width: 85%;
        }

        & .tile-name {
            margin-left: 14px;
        }

        &.capacity-wlz {
            background-color: @color-wlz;
        }

        &.capacity-zvw {
            background-color: @color-zvw;
        }

        &.capacity-anders {
            background-color: @color-anders;
        }

        &.capacity-overig {
            background-color: @color-overig;
        }

        &.capacity-zh {
            background-color: @color-zh;
        }

        &.capacity-financing-header {
            font-size: 22.4px;
            opacity: 0.8;
            padding-top: 10px;

            &.top-xs-12 {
                height: 50px;
            }

            & .show-info {
                position: absolute;
                right: 20px;
                top: 15px;
                font-size: 16px;
            }
        }
    }
}

#resultsNoneText {
    font-size: large;
    color: darkgray;
    margin-top: 30px;
}
