body {
  padding-bottom: 20px;
  font-family: "Muli";
  background: url('../Images/Background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #00396a;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
a:hover {
  text-decoration: none;
}
.table-hover > tbody > tr:hover {
  background-color: #ddd;
}
table thead.table-head-blue {
  background-color: #00396a;
  color: white;
  font-weight: bold;
}
table .daycolumn {
  white-space: nowrap;
}
.btn-group button.btn.background-white {
  background-color: white;
}
.modal#capacityInfoModal .fax-icon {
  color: #00396A;
  font-size: 130%;
  font-weight: bold;
  margin-top: -3px;
  margin-left: -1px;
}
.modal#afterCareTypeDescriptionsModal table tr th,
.modal#afterCareTypeDescriptionsModal table tr td {
  padding: 0 10px;
}
.capacity-extent {
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-group.row {
  margin-left: 0;
  margin-bottom: 10px;
}
.form-group.row label:not(.checkbox) {
  padding: 0;
  padding-top: 4px;
}
.form-group.row input.form-control,
.form-group.row select.form-control {
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
}
.form-group.row input.form-control[type="checkbox"] {
  width: 14px;
  opacity: .4;
  margin-top: -2px;
}
.form-group.row div.col-sm-4 {
  padding-left: 0;
}
.capacity .capacity-paging {
  margin-bottom: 5px;
}
.capacity table#capacityListTable tbody {
  cursor: pointer;
}
.glyphicon-large {
  font-size: 26px;
}
.navbar-brand-large {
  font-size: 30px;
  color: white !important;
  margin-right: 100px;
}
.navbar-inverse {
  background-color: #00396a;
}
a.navbar-brand.menu-active {
  color: white !important;
}
a.Link_DeActiveInRegion {
  pointer-events: none;
  cursor: default;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.pointlogo {
  height: 40px;
  margin-top: 4px;
  margin-right: 10px;
  opacity: 0.9;
}
.show-info > .glyphicon {
  cursor: pointer;
}
.glyphicon.opace {
  opacity: 0.3;
}
.tiles .tile {
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  height: 125px;
  margin-top: 10px;
}
.tiles .tile .capacity-count {
  position: absolute;
  left: 26px;
  bottom: 6px;
  font-size: 36px;
  text-shadow: 0.6px 0.6px 0.4px #00396a;
}
.tiles .tile .capacity-count.inactive {
  opacity: 0.5;
}
.tiles .tile .capacity-expand {
  position: absolute;
  right: 11px;
  bottom: 11px;
}
.tiles .tile .capacity-expand:hover {
  color: #00396a;
}
.tiles .tile.capacity-groupname-header,
.tiles .tile.capacity-aftercare-header {
  padding-top: 10px;
}
.tiles .tile.capacity-groupname-header.inactive,
.tiles .tile.capacity-aftercare-header.inactive {
  opacity: 0.5;
}
.tiles .tile.capacity-groupname-header.active,
.tiles .tile.capacity-aftercare-header.active {
  opacity: 1;
}
.tiles .tile.capacity-groupname-header.normal,
.tiles .tile.capacity-aftercare-header.normal {
  opacity: 0.85;
}
.tiles .tile.capacity-groupname-header:hover,
.tiles .tile.capacity-aftercare-header:hover {
  opacity: 0.6;
}
.tiles .tile.capacity-groupname-header.ActiveInRegion,
.tiles .tile.capacity-aftercare-header.ActiveInRegion {
  opacity: 1;
}
.tiles .tile.capacity-groupname-header.DeActiveInRegion .capacity-count,
.tiles .tile.capacity-aftercare-header.DeActiveInRegion .capacity-count,
.tiles .tile.capacity-groupname-header.DeActiveInRegion .capacity-expand,
.tiles .tile.capacity-aftercare-header.DeActiveInRegion .capacity-expand {
  display: none;
}
    .tiles .tile.capacity-groupname-header.DeActiveInRegion.capacity-wlz,
    .tiles .tile.capacity-aftercare-header.DeActiveInRegion.capacity-wlz,
    .tiles .tile.capacity-groupname-header.DeActiveInRegion.capacity-zvw,
    .tiles .tile.capacity-aftercare-header.DeActiveInRegion.capacity-zvw,
    .tiles .tile.capacity-groupname-header.DeActiveInRegion.capacity-anders,
    .tiles .tile.capacity-aftercare-header.DeActiveInRegion.capacity-anders,
    .tiles .tile.capacity-groupname-header.DeActiveInRegion.capacity-overig,
    .tiles .tile.capacity-aftercare-header.DeActiveInRegion.capacity-overig
    .tiles .tile.capacity-groupname-header.DeActiveInRegion.capacity-zh,
    .tiles .tile.capacity-aftercare-header.DeActiveInRegion.capacity-zh, {
        background-color: lightgray;
    }
.tiles .tile.capacity-aftercare-header {
  width: 85%;
}
.tiles .tile .tile-name {
  margin-left: 14px;
}
.tiles .tile.capacity-wlz {
  background-color: #ff9f42;
}
.tiles .tile.capacity-zvw {
  background-color: #b9dd4c;
}
.tiles .tile.capacity-anders {
  background-color: #00bdf4;
}
.tiles .tile.capacity-overig {
  background-color: #d55c50;
}
.tiles .tile.capacity-zh {
    background-color: #0066cc;
}
.tiles .tile.capacity-financing-header {
  font-size: 22.4px;
  opacity: 0.8;
  padding-top: 10px;
}
.tiles .tile.capacity-financing-header.top-xs-12 {
  height: 50px;
}
.tiles .tile.capacity-financing-header .show-info {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 16px;
}

#resultsNoneText {
    font-size: large;
    color: darkgray;
    margin-top: 30px;
}