﻿@using Point.MVC.WebApplication.Extensions
@model Point.Database.Models.ViewModels.ContactPersonViewModel

@{
    var cizrelations = (IEnumerable<CIZRelation>)ViewBag.CizRelations;
}

@Scripts.Render("~/Bundles/Scripts/FormType")

@using (Html.BeginForm("Insert", "ContactPerson", null, FormMethod.Post, new { id = "contactPersonForm", @class = "form-horizontal" }))
{
    <div class="modal-body">
        @Html.HiddenFor(m => m.ClientID)
        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.SecureNullableEnumRadioButtonListFor(m => m.Gender)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.LastName, new { @class = "flowfield form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Initials, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.Initials, new { @class = "flowfield form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">@Html.TextBoxFor(m => m.FirstName, new { @class = "flowfield form-control" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CIZRelationID, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.DropDownListFor(m => m.CIZRelationID,
             cizrelations.ToSelectListItems(cizr => cizr.Description, cizr => cizr.CIZRelationID.ToString(), null, "Selecteer een relatietype"),
                    new { @class = "flowfield form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumberGeneral, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.PhoneNumberGeneral, new { @class = "flowfield form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumberMobile, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.PhoneNumberMobile, new { @class = "flowfield form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumberWork, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.PhoneNumberWork, new { @class = "flowfield form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-xs-5" })
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.Email, new { @class = "flowfield form-control" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
}