﻿@using Point.Infrastructure.Helpers;
@model IEnumerable<Point.Database.Models.ViewModels.ContactPersonViewModel>

@Scripts.Render("~/Bundles/Scripts/ContactPerson")

<style>
    .pointer {
        cursor: pointer;
    }
</style>

@foreach (var item in Model)
{
    <div class="panel panel-blue">
        <div class="panel-body ignore-printfilter">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => item.LastName, new { @class = "control-label col-xs-6" })
                        <div class="col-xs-6">
                            @Html.DisplayFor(f => item.LastName)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => item.FirstName, new { @class = "control-label col-xs-6" })
                        <div class="col-xs-6">
                            @Html.DisplayFor(f => item.FirstName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => item.CIZDescription, new { @class = "control-label col-xs-6" })
                        <div class="col-xs-6">
                            @Html.DisplayFor(f => item.CIZDescription)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => item.PhoneNumberGeneral, new { @class = "control-label col-xs-6" })
                        <div class="col-xs-6">
                            @Html.DisplayFor(f => item.PhoneNumberGeneral)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => item.PhoneNumberMobile, new { @class = "control-label col-xs-6" })
                        <div class="col-xs-6">
                            @Html.DisplayFor(f => item.PhoneNumberMobile)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => item.Email, new { @class = "control-label col-xs-6" })
                        <div class="col-xs-6">
                            @Html.DisplayFor(f => item.Email)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}