﻿@using Point.Infrastructure.Helpers;
@using Point.MVC.WebApplication.Extensions;
@model IEnumerable<Point.Database.Models.ViewModels.ContactPersonViewModel>

@Scripts.Render("~/Bundles/Scripts/ContactPerson")

<style>
    .pointer {
        cursor: pointer;
    }
</style>
@foreach (var item in Model)
{
    <div class="panel panel-blue">
        <div class="panel-body ignore-printfilter">
            @if (!Html.ViewData.IsReadMode())
            { 
                <div class="pull-right">
                    <span class="editContactPerson glyphicon glyphicon-edit pointer pull-right" data-url="@Url.Action("Edit", "ContactPerson", new
                        {
                            ClientID = item.ClientID,
                            ContactPersonID = item.ContactPersonID,
                            Digest = AntiFiddleInjection.CreateDigest(item.ContactPersonID)
                        })"></span>
                    <span class="deleteContactPerson glyphicon glyphicon-remove pointer pull-right" data-url="@Url.Action("Delete", "ContactPerson", new
                        {
                            ClientID = @item.ClientID,
                            ContactPersonID = @item.ContactPersonID,
                            Digest = AntiFiddleInjection.CreateDigest(item.ContactPersonID)
                        })" onclick="DeleteContactPerson(this, event)"></span>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(f => item.Gender, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-3">
                    @item.Gender.GetDescription()
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.LastName, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.LastName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.Initials, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.Initials)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.FirstName, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.CIZDescription, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.CIZDescription)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.PhoneNumberGeneral, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.PhoneNumberGeneral)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.PhoneNumberMobile, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.PhoneNumberMobile)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.PhoneNumberWork, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.PhoneNumberWork)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(f => item.Email, new { @class = "control-label col-xs-6 col-sm-3" })
                <div class="col-xs-6 col-sm-9">
                    @Html.DisplayFor(f => item.Email)
                </div>
            </div>
        </div>
    </div>
}

@if (!Html.ViewData.IsReadMode() && (int)ViewBag.ClientID > 0)
{
    <div id="btnInsertContactPerson" class="btn btn-primary" style="float:left;" data-url="@Html.Raw(Url.Action("Insert", "ContactPerson", new { ClientID = ViewBag.ClientID }))">Contactpersoon toevoegen</div>
}

<div id="contactPersonModal" class="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="deleteContactPersonModal" class='modal' aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <b>Weet u het zeker?</b>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Verwijderen</button>
            </div>
        </div>
    </div>
</div>

