﻿@model TransferOverviewViewModel

@using Point.Models.Enums

<style>
    #buttonrow .btn {
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        min-height: 120px;
        width: 100%;
        position: relative;
        margin-bottom: 14px;
    }

    .btn .buttontext {
        position: absolute;
        left: 12px;
        top: 8px;
        font-weight: bold;
        text-shadow: 0.6px 0.6px 0.4px #00396a;
    }
    .btn .buttoncount {
        position: absolute;
        left: 12px;
        bottom: 8px;
        font-size: 200%;
        font-weight: bold;
        text-shadow: 0.6px 0.6px 0.4px #00396a;
    }
</style>
<div class="row" id="buttonrow">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <a class="bg-orange color-pt-white btn" href="@Url.Action("Search", new { handling = DossierHandling.NotHandling, reset = true })">
            <span class="buttontext">Nieuwe aanvragen</span>
            <span class="buttoncount">@Model.NotHandled</span>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <a class="bg-green color-pt-white btn" href="@Url.Action("Search", new { handling = DossierHandling.Handling, reset = true })">
            <span class="buttontext">Lopende aanvragen</span>
            <span class="buttoncount">@Model.Handled</span>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <a class="bg-darkblue color-pt-white btn" href="@Url.Action("Search", new { status = DossierStatus.All, reset = true })">
            <span class="buttontext">Alle dossiers zoeken</span>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="bg-red color-pt-white btn" onclick="OpenAllSignalList()">
            <span class="buttontext">Signaleringen</span>
            <span class="buttoncount">@Model.SignalCount</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <a class="bg-azure color-pt-white btn" href="@Url.Action("NewFlowInstance", "FlowMain")">
            <span class="buttontext">Nieuwe overdracht</span>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <a class="bg-blue color-pt-white btn" href="@Url.Action("Tile", "Capacity", new { area = "Management"})">
            <span class="buttontext">Capaciteit</span>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <a class="bg-gray color-pt-white btn" href="@Url.Action("Search", new { reset = true, forcedesktop = true })">
            <span class="buttontext">Naar POINT standaard</span>
        </a>
    </div>
</div>