﻿@using Point.Database.Models.ViewModels;
@model IEnumerable<RelatedTransferViewModel>
<div class="well well-lg">
    <b>Er bestaan al transferdossiers van deze patiënt. U kunt de naam van zorginstelling waar de patiënt eerder na ontslag uit het ziekenhuis naar toe is gegaan, hergebruiken in het nieuwe dossier. Klik op een transfer hieronder. De naam van de zorginstelling wordt dan geplaatst in de Aanvraag Nazorg bij: ‘voorkeur van de patient’. Niets overnemen: klik op Sluiten.</b>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                Aanmaakdatum
            </th>
            <th>
                Transferdatum
            </th>
            <th>
                Flowtype
            </th>
            <th>
                Ziekenhuis
            </th>
            <th>
                Versturende ZA
            </th>
            <th>
                Gewenste ZA
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
        {
            <tr><td colspan="7">Geen resultaten</td></tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr onclick="UseVVTFromTransfer('@Json.Encode(item)');" style="cursor:pointer;">
                    <td>
                        @item.ClientName
                    </td>
                    <td>@item.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        @if(item.TransferDate != default(DateTime))
                        { 
                            @item.TransferDate.ToString("dd-MM-yyyy")
                        }
                    </td>
                    <td>@item.TypeFlow</td>
                    <td>@item.Hospital</td>
                    <td>@item.SendingVVT</td>
                    <td>@item.PreferredVVT</td>
                </tr>
            }
        }
    </tbody>

</table>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
</div>