﻿@using Point.Database.Models.ViewModels;
@model IEnumerable<RelatedTransferViewModel>
    <div class="well well-lg">
        <b>
            Let op!
            <br />
            Er heeft eerder een transfer plaatsgevonden van deze client naar uw organisatie. Het POINT dossier van deze transfer dossier staat vermeld in onderstaand overzicht. Indien gewenst kunt u gegevens uit het eerdere transfer dossier overnemen in dit dossier. Selecteer hiervoor het gewenste dossier.
            Klik op sluiten als u geen gegevens wilt overnemen. 
            <br />
            Nadat u een selectie heeft gemaakt worden gegevens uit het aanvraag formulier, het communicatie journaal en de bijlagen overgenomen in dit dossier. De gegevens worden pas overgenomen als u deze onderdelen in dit dossier opent. Overgenomen gegevens die niet wenselijk zijn kunt u dan verwijderen.

        </b>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Client
                </th>
                <th>
                    Aanmaak datum
                </th>
                <th>
                    Flow type
                </th>
                <th>
                    Versturende organisatie
                </th>
                <th>
                    Verstuurd naar(org/ loc/ afd)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count() == 0)
            {
            <tr><td colspan="5">Geen resultaten</td></tr>
            }
            else
            {
            foreach (var item in Model)
            {
            <tr onclick="GetTransferForms('@Json.Encode(item)');" style="cursor:pointer;">
                <td>
                    @item.ClientName
                </td>
                <td>@item.CreateDate.ToString("dd-MM-yyyy")</td>              
                <td>@item.TypeFlow</td>
                <td>@item.Hospital</td>
                <td>@item.SendingVVT</td>
            </tr>
            }
            }
        </tbody>

    </table>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="DoNotTakeOverTransfer();">Sluiten</button>
    </div>
