﻿@model Point.Database.Models.ViewModels.SearchViewModel
@using Point.Models.Enums
@using Point.MVC.WebApplication.Extensions
@{
  string searchresulturl = Request.Url.AbsoluteUri;
    
    string GetRowClassName(FlowInstanceSearchViewModel sitem)
    {
        var classname = "pt-color";

        var searchResultEntry = sitem.FlowInstanceSearchValues;

        if (new[] { SearchType.Transfer, SearchType.Mobile, SearchType.PatientOverview }.Contains(Model.CurrentSearchType))
        {
            if (searchResultEntry.ScopeType == (int?)ScopeType.Closed) { classname += " pt-purple"; }
            else if (searchResultEntry.ScopeType == (int?)ScopeType.Interrupted) { classname += " pt-gray"; }
            else if (searchResultEntry.ScopeType == (int?)ScopeType.PartiallyAccepted) { classname += " pt-orange"; }
            else if (searchResultEntry.ScopeType == (int?)ScopeType.Accepted) { classname += " pt-green"; }
            else if (searchResultEntry.ScopeType == (int?)ScopeType.NotAccepted) { classname += " pt-red"; }
            else if (searchResultEntry.ScopeType == (int?)ScopeType.Definitive) { classname += " pt-yellow"; }
            else { classname += " pt-none bg-white"; }
        }
        else if (new[] { SearchType.Frequency }.Contains(Model.CurrentSearchType) && sitem.FlowInstanceDoorlopendDossierSearchValues != null)
        {
            if (sitem.FlowInstanceDoorlopendDossierSearchValues.FrequencyScopeType == (int?)ScopeType.FeedbackActiveInRange) { classname += " pt-none bg-white"; }
            else if (sitem.FlowInstanceDoorlopendDossierSearchValues.FrequencyScopeType == (int?)ScopeType.FeedbackActiveOutRange) { classname += " pt-yellow"; }
            else if (sitem.FlowInstanceDoorlopendDossierSearchValues.FrequencyScopeType == (int?)ScopeType.FeedbackClosed) { classname += " pt-purple"; }
            else { classname += " pt-none bg-white"; }
        }
        else
        {
            classname += " pt-none bg-white";
        }

        return classname;
    }
}


<div class="searchtable row">
    <div class="col-sm-12">
        <div class="head-container" id='TransferForSearchTableHead'>
            <div class="head-container-first">
                <table class="table table-head table-first">
                    <thead class="print-control">
                        <tr>
                            @foreach (SearchUIFieldConfiguration searchProperty in Model.Fields.Take(1))
                            {
                                bool currentSortColumn = searchProperty.Column.IsSortable && Model.SortColumn == searchProperty.Field.Name;

                                string sortOrder = "";
                                string sortClass = searchProperty.Column.IsSortable ? "sorting" : "unsortable";
                                if (currentSortColumn)
                                {
                                    sortOrder = Model.SortOrder;
                                    sortClass = "sorting_" + sortOrder;
                                }

                                var attributes = currentSortColumn ? $" data-order={sortOrder}" : "";

                                <th id='@searchProperty.Field.Name' @attributes data-owningtype='@searchProperty.SearchFieldOwningType' class="@sortClass">
                                    <div class="item @searchProperty.Column.CssClass">
                                        <span class='header-icon' style='cursor:pointer;' data-toggle='clickover' data-container='body'
                                              data-content='@searchProperty.Column.FullName'>
                                            @if (searchProperty.Icon.ShowAsIcon)
                                            {
                                                <span class="@searchProperty.Icon.GlyphName"></span>
                                            }
                                            else
                                            {
                                                @searchProperty.Column.HeaderName
                                            }
                                        </span>
                                    </div>
                                </th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="head-container-scroller">
                <table class="table table-head table-other">
                    <thead class="print-control">
                        <tr>
                            @{
                                int columncount = 0;
                            }
                            @foreach (SearchUIFieldConfiguration searchProperty in Model.Fields)
                            {
                                bool currentSortColumn = searchProperty.Column.IsSortable && Model.SortColumn == searchProperty.Field.Name;

                                string sortOrder = "";
                                string sortClass = searchProperty.Column.IsSortable ? "sorting" : "unsortable";
                                if (currentSortColumn)
                                {
                                    sortOrder = Model.SortOrder;
                                    sortClass = "sorting_" + sortOrder;
                                }

                                var attributes = currentSortColumn ? $" data-order={sortOrder}" : "";

                                <th id='@searchProperty.Field.Name' @attributes data-owningtype='@searchProperty.SearchFieldOwningType' class="@sortClass @(columncount == 0 ? "firstcol" : "")">
                                    <div class="item @searchProperty.Column.CssClass">
                                        <span class='header-icon' style='cursor:pointer;' data-toggle='clickover' data-container='body' data-content='@searchProperty.Column.FullName'>
                                            @if (searchProperty.Icon.ShowAsIcon)
                                            {
                                                <span class="@searchProperty.Icon.GlyphName"></span>
                                            }
                                            else
                                            {
                                                @searchProperty.Column.HeaderName
                                            }
                                        </span>
                                    </div>
                                </th>
                                columncount++;
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="body-container" id='TransferForSearchTable'>
            <div class="body-container-first">
                <table class="table table-first searchTable">
                    <tbody class="print-control">
                        @foreach (FlowInstanceSearchViewModel sitem in Model.ItemsTable)
                        {
                            string transferdigest = AntiFiddleInjection.CreateDigest(sitem.FlowInstanceSearchValues.TransferID);
                            var classname = GetRowClassName(sitem);

                            <tr class="@classname">
                                @foreach (SearchUIFieldConfiguration searchProperty in Model.Fields.Take(1))
                                {
                                    var text = Html.DisplaySearchResultEntryTable(sitem, searchProperty, Model.IsClickable, transferdigest);
                                    <td title="@text.ToHtmlString().StripHtmlFast()">
                                        <div class="item @searchProperty.Column.CssClass">
                                            @text
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="body-container-scroller">
                <table class="table table-other searchTable">
                    <tbody class="print-control">
                        @{
                            var rowCounter = 0;
                        }
                        @foreach (FlowInstanceSearchViewModel sitem in Model.ItemsTable)
                        {
                            var classname = GetRowClassName(sitem);
                            string transferdigest = AntiFiddleInjection.CreateDigest(sitem.FlowInstanceSearchValues.TransferID);
                            var bgColor = rowCounter % 2 == 0 || rowCounter == 0 ? "#CCC" : "#EEE";

                            <tr class="@classname" style="background:@bgColor">
                                @{
                                    int fieldcounter = 0;
                                }
                                @foreach (SearchUIFieldConfiguration searchProperty in Model.Fields)
                                {
                                    var isfirst = fieldcounter == 0 ? "firstcol" : "";
                                    var text = Html.DisplaySearchResultEntryTable(sitem, searchProperty, Model.IsClickable, transferdigest);
                                    <td class="@isfirst" title="@text.ToHtmlString().StripHtmlFast()">
                                        <div class="item @searchProperty.Column.CssClass">
                                            @text
                                        </div>
                                    </td>
                                    fieldcounter++;
                                }
                            </tr>
                            rowCounter++;
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div id='pagination' class="row">

    @if (Model.UsePaging)
    {
        <div class="col-md-6 col-sm-6 hidden-xs">
            <b>@Model.ResultCount</b> resultaten <span style="font-size:x-small;font-style:italic;">(bijgewerkt op: @(DateTime.Now.ToString("dd-MM HH:mm")))</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
            <ul class="pagination pagination-sm" style="margin-top:10px;margin-bottom:0;">
                @if (Model.StartPage > 1)
                {
                    <li class="paginate_button" aria-controls="example" tabindex="0">
                        <a href="#" data-page="@(Model.StartPage)" data-url="@searchresulturl" name='page'>..</a>
                    </li>
                }

                @for (int page = Model.StartPage; page <= Model.EndPage; page++)
                {
                    string active = (page == Model.CurrentPage) ? "active" : null;
                    <li class="paginate_button @active" aria-controls="example" tabindex="0">
                        <a href="#" name='page' data-page="@page" data-url="@searchresulturl">@page</a>
                    </li>
                }
                @if (Model.EndPage < Model.PageCount)
                {
                    <li class="paginate_button" aria-controls="example" tabindex="0">
                        <a href="#" data-page="@(Model.EndPage)" data-url="@searchresulturl" name='page'>..</a>
                    </li>
                }
            </ul>
        </div>

    }
</div>