﻿@using Point.Models.Enums
@using Point.Database.Models.ViewModels
@using Point.Business.Helper;
@using Point.MVC.WebApplication.Extensions
@model TransferSearchViewModel

<link href="~/Content/bootstrap-multiselect-point.css" rel="stylesheet" />
@Scripts.Render("~/Bundles/Scripts/SearchMultiselect")

@{
    var isMobile = (bool?)ViewBag.IsMobile ?? false;

    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var _noneSortableColumns = jss.Serialize(Model.NoneSortableColumns);
    var searchProperties = Model.SearchProperties;
    bool statusOpen = false;
    bool statusActive;
    bool statusClosed;
    bool statusBoth;
    var isFrequency = Model.SearchControl.SearchType == SearchType.Frequency;
    if (isFrequency)
    {
        statusOpen = Model.SearchControl.frequencyStatus == FrequencyDossierStatus.Open;
        statusActive = Model.SearchControl.frequencyStatus == FrequencyDossierStatus.Active;
        statusClosed = Model.SearchControl.frequencyStatus == FrequencyDossierStatus.Close;
        statusBoth = Model.SearchControl.frequencyStatus == FrequencyDossierStatus.All;
    }
    else
    {
        statusActive = DossierStatusFilterHelper.IsActiveStatusFilter(Model.SearchControl.statusFilter);
        statusClosed = DossierStatusFilterHelper.IsClosedStatusFilter(Model.SearchControl.statusFilter);
        statusBoth = DossierStatusFilterHelper.IsBothStatusFilter(Model.SearchControl.statusFilter);
    }

    var flowDefsReceiver = new MultiSelectList(Model.ReceiverFlowDefinitions, "FlowDefinitionID", "Name", Model.SearchControl.FlowDefinitionsReceiver);
    var flowDefsSender = new MultiSelectList(Model.SenderFlowDefinitions, "FlowDefinitionID", "Name", Model.SearchControl.FlowDefinitionsSender);
}
<script type="text/javascript">
    // NOTE used in Search.js and SearchMultiSelect.js
    var searchType = "@Model.SearchControl.SearchType";
    var flowDefinitionIDs = "@String.Join(",", Model.SearchControl.FlowDefinitionIDs ?? new FlowDefinitionID[] { })";
    var noneSortableColumns = $.parseJSON('@Html.Raw(_noneSortableColumns)');
    var autoRefreshMilliseconds = @Model.AutoRefreshMilliseconds;
    var noFilterOptions = @(Model.NoFilterOptions?"true":"false");
    var patExternalReference ='@(Model.PatExternalReference)';
    var sortOrder = '@Model.SearchControl.SortOrder';
    var sortColumn = '@Model.SearchControl.SortColumn';
    var searchfieldowningtype = '@Model.SearchControl.SearchFieldOwningType';

    function Search()
    {
        $("#search").click();
    }
</script>

<form id="FormPrint" method="post" action="@Url.Action("PrintHtml", "PrintAction")" style="visibility:hidden;">
    <input type="hidden" name="html" id="html" />
    <input type="hidden" name="urlDecoded" id="urlDecoded" value="true" />
    <input type="hidden" name="orientation" id="orientation" value="Landscape" />
</form>

@*Declares C# type SearchPropertyType as Javascript object*@
@(Html.GetEnums<SearchPropertyType>())

@Styles.Render("~/Content/Search.css")
@Scripts.Render("~/Bundles/Scripts/Search")

<script type="text/javascript">
    $(function () {
        initSearchScreen();
    });
</script>

<div id="searchControlsContainer" class="panel panel-default bg-lightgray">
    <div class="panel-body">
        <div id="searchControlsDiv">
            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "searchForm", @class = "form-horizontal", defaultbutton = "search" }))
            {
                <input type="hidden" id="renewsignalering" name="renewsignalering" value="false" />
                @Html.Hidden("SearchType", Model.SearchControl.SearchType)
                @Html.Hidden("status", Model.SearchControl.status)
                @Html.Hidden("type", Model.SearchControl.type)
                @Html.Hidden("frequencyStatus", Model.SearchControl.frequencyStatus)
                @Html.Hidden("handling", Model.SearchControl.handling)
                @Html.Hidden("FlowDirection", Model.SearchControl.FlowDirection)

                <div class="filtervisibility" style="font-weight:bold">
                    <span class="filtertoggle" style="display:none;"><img src="@Url.Content("~/Images/icon_plus.gif")">Toon criteria</span>
                </div>

                <div id="searchfilters">
                    @if (isMobile)
                    {
                        string btnactive = "btn-blue";

                        <script type="text/javascript">
                            function SetMobileSending(sender)
                            {
                                $("#sendingButton").removeClass("btn-default").addClass("@btnactive");
                                $("#recievingButton").removeClass("@btnactive").addClass("btn-default");
                                $("#sendingButton input").removeAttr("disabled");
                                $("#recievingButton input").attr("disabled", "disabled");
                                $("#FlowDirection").val("@FlowDirection.Sending");
                                $("#search").trigger("click");
                            }
                            function SetMobileRecieving(sender) {
                                $("#recievingButton").removeClass("btn-default").addClass("@btnactive");
                                $("#sendingButton").removeClass("@btnactive").addClass("btn-default");
                                $("#recievingButton input").removeAttr("disabled");
                                $("#sendingButton input").attr("disabled", "disabled");
                                $("#FlowDirection").val("@FlowDirection.Receiving");
                                $("#search").trigger("click");
                            }
                        </script>
                        <div class="col-xs-12 col-sm-4">
                            @{
                                var senderchecked = Model.SearchControl.FlowDefinitionsSender != null && Model.SearchControl.FlowDefinitionsSender.Any();
                                var receiverchecked = Model.SearchControl.FlowDefinitionsReceiver != null && Model.SearchControl.FlowDefinitionsReceiver.Any();
                            }

                            <div class="form-group">
                                @if (flowDefsReceiver.Any())
                                {
                                    <div id="recievingButton" class="@(receiverchecked ? "btn " + btnactive : "btn btn-default")" onclick="SetMobileRecieving(this)">
                                        Ontvangend
                                        @foreach (var item in flowDefsReceiver)
                                        {
                                            <input type="hidden" @(receiverchecked ? "" : "disabled") name="FlowDefinitionsReceiver" value="@item.Value" />
                                        }
                                    </div>
                                }

                                @if (flowDefsSender.Any())
                                {
                                    <div id="sendingButton" class="@(senderchecked ? "btn " + btnactive : "btn btn-default")" onclick="SetMobileSending(this)">
                                        Versturend
                                        @foreach (var item in flowDefsSender)
                                        {
                                            <input type="hidden" @(senderchecked ? "" : "disabled") name="FlowDefinitionsSender" value="@item.Value" />
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div>
                            <div class="col-xs-6 col-sm-4">
                                @{
                                    var property = searchProperties.Where(sp => Model.SearchControl.propertyList[0] == sp.Field.Name).FirstOrDefault();
                                }
                                @Html.Hidden("propertyList[0]", property?.Field?.Name)
                                @Html.Hidden("matchtype[0]", (int)SearchCritera.MatchType.equal)
                                @Html.Hidden("statusFilter", (int)Model.SearchControl.statusFilter)

                                <div class="form-group">
                                    <input type="text" maxlength="100" class="form-control" name="input[0]" data-searchpropertytype="@((int)SearchPropertyType.String)" value="@Model.SearchControl.input[0]">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div id="reset" class="btn btn-default" data-url="@Url.Action("Search", "Transfer", new { reset = true, searchType = Model.SearchControl.SearchType })">Reset</div>
                                <div id="search" class="btn btn-primary" data-url="@Url.Action("SearchResult", "Transfer")" data-phaseurl="@Url.Action("GetPhases", "Transfer")">Zoeken</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="filtervisibility" style="font-weight:bold;margin-bottom:4px;">
                                    <span class="filtertoggle" style="display:inline;"><img src="@Url.Content("~/Images/icon_minus.gif")">Verberg criteria</span>
                                </div>

                                <div class="btn-group with-spacer" data-toggle="buttons">
                                    @if (isFrequency)
                                    {
                                        <label class="btn btn-default @Html.ToActive(statusActive)">
                                            @Html.RadioButton("frequencyStatusFilter", (int)FrequencyDossierStatus.Active, statusActive, new { onchange = "Search();" })Actueel
                                        </label>
                                        <label class="btn btn-default @Html.ToActive(statusOpen)">
                                            @Html.RadioButton("frequencyStatusFilter", (int)FrequencyDossierStatus.Open, statusOpen, new { onchange = "Search();" })Verlopen
                                        </label>
                                        <label class="btn btn-default @Html.ToActive(statusClosed)">
                                            @Html.RadioButton("frequencyStatusFilter", (int)FrequencyDossierStatus.Close, statusClosed, new { onchange = "Search();" })Gesloten
                                        </label>
                                        <label class="btn btn-default @Html.ToActive(statusBoth)">
                                            @Html.RadioButton("frequencyStatusFilter", (int)FrequencyDossierStatus.All, statusBoth, new { onchange = "Search();" })Alle
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-default @Html.ToActive(statusActive)">
                                            @Html.RadioButton("statusFilter", (int)DossierStatus.Active, statusActive, new { onchange = "Search();" })Actueel
                                        </label>
                                        <label class="btn btn-default @Html.ToActive(statusClosed)">
                                            @Html.RadioButton("statusFilter", (int)DossierStatus.IsClosed, statusClosed, new { onchange = "Search();" })Gesloten
                                        </label>
                                        <label class="btn btn-default @Html.ToActive(statusBoth)">
                                            @Html.RadioButton("statusFilter", (int)DossierStatus.All, statusBoth, new { onchange = "Search();" })Actueel en gesloten
                                        </label>
                                    }
                                </div>
                            </div>
                            <div class="form-group searchproperties">
                                <div class="input-group">
                                    <span id="addsearch" class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-plus"></span></span>
                                    <select id="propertyList0" class="propertyList form-control" name="propertyList[0]" data-source="inputs0" data-url="@Url.Action("GetValues", "Transfer")">
                                        @foreach (var searchProperty in searchProperties)
                                        {
                                            <option value="@searchProperty.Field.Name" data-searchpropertytype="@((int)searchProperty.SearchPropertyType)" data-defaultselected="@(Model.SearchControl.propertyList[0] == searchProperty.Field.Name ? "selected" : "")">@searchProperty.Column.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" style="margin-left:2px">
                            <div class="form-group">
                                <div style="display: inline-block;">
                                    <div style="font-weight:bold;margin-bottom:4px;">&nbsp;</div>
                                </div>
                                <div>
                                    @if (Model.SearchControl.Departments.Count() > 1)
                                    {
                                        @Html.ListBox("DepartmentIDs", new MultiSelectList(Model.SearchControl.Departments, "DepartmentID", "DepartmentName", "LocationName", Model.SearchControl.DepartmentIDs), new { @multiple = "multiple" })
                                    }
                                    @if (!isFrequency)
                                    {
                                        @Html.DropDownList("phase", new MultiSelectList(Model.ActivePhases, "Value", "Text", Model.SearchControl.phases), new { name = "phase[0]", multiple = "multiple" })
                                    }
                                </div>
                                @if (!(Model.SearchControl.Departments.Count() > 1 || !isFrequency))
                                {
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                }
                            </div>
                            <div class="form-group searchproperties">
                                <div id="inputs0">
                                    <input type="text" maxlength="100" class="form-control" name="input[0]" data-searchpropertytype="@((int)SearchPropertyType.String)" style="display:none;" value="@Model.SearchControl.input[0]">
                                    <input type="text" maxlength="100" class="form-control" name="number[0]" data-searchpropertytype="@((int)SearchPropertyType.Numeric)" style="display:none;" value="@Model.SearchControl.number[0]">
                                    <div class="input-group">
                                        <span class="input-group-btn half">
                                            <select name="matchtype[0]" class="form-control static-data" data-searchpropertytype="@((int)SearchPropertyType.Date)" style="display:none;">
                                                <option value="@((int)SearchCritera.MatchType.equal)" @(Model.MatchType1Equal ? "selected" : "")>Gelijk aan</option>
                                                <option value="@((int)SearchCritera.MatchType.lesser)" @(Model.MatchType1Lesser ? "selected" : "")>Kleiner dan</option>
                                                <option value="@((int)SearchCritera.MatchType.greater)" @(Model.MatchType1Greater ? "selected" : "")>Groter dan</option>
                                            </select>
                                        </span>
                                        <input type="text" maxlength="10" class="form-control date" name="date[0]" data-searchpropertytype="@((int)SearchPropertyType.Date)" style="display:none;" value="@Model.SearchControl.date[0]">
                                    </div>
                                    <select name="select[0]" data-searchpropertytype="@((int)SearchPropertyType.Lookup)" style="display:none;" class="form-control">
                                        <option value="option" selected>Option</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="float:left;margin-left:20px;">
                            <div id="filterFlowDefinitionID" class="form-group">
                                @if (flowDefsReceiver.Any())
                                {
                                    <div style="display:inline-block;">
                                        <div style="font-weight:bold;margin-bottom:4px;">Ontvangen:</div>
                                        @*@Html.ListBoxFor(m => m.SearchControl.FlowDefinitionsReceiver, flowDefsReceiver, new { name = "FlowDefinitionsReceiver", data_flowdirection = (int)FlowDirection.Receiving })*@
                                        @Html.ListBox("FlowDefinitionsReceiver", flowDefsReceiver, new { data_flowdirection = (int)FlowDirection.Receiving })
                                    </div>
                                }
                                @if(flowDefsSender.Any())
                                { 
                                    <div style="display:inline-block;">
                                        <div style="font-weight:bold;margin-bottom:4px;">Verzonden:</div>
                                        @*@Html.ListBoxFor(m => m.SearchControl.FlowDefinitionsSender, flowDefsSender, new { name = "FlowDefinitionsSender", data_flowdirection = (int)FlowDirection.Sending })*@
                                        @Html.ListBox("FlowDefinitionsSender", flowDefsSender, new { data_flowdirection = (int)FlowDirection.Sending })
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <div id="reset" class="btn btn-default" data-url="@Url.Action("Search", "Transfer", new { reset = true, searchType = Model.SearchControl.SearchType })">Reset</div>
                                <div id="search" class="btn btn-primary" data-url="@Url.Action("SearchResult", "Transfer")" data-phaseurl="@Url.Action("GetPhases", "Transfer")">Zoeken</div>
                            </div>
                        </div>
                        <div class="col-xs-4 extrasearchproperties" style="display:none;">
                            <div class="form-group">
                                <div class="input-group">
                                    <span id="removesearch" class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-minus"></span></span>
                                    <select id="propertyList1" class="propertyList form-control" name="propertyList[1]" data-source="inputs1" data-url="@Url.Action("GetValues", "Transfer")">
                                        @foreach (var searchProperty in searchProperties)
                                        {
                                            <option value="@searchProperty.Field.Name" data-searchpropertytype="@((int)searchProperty.SearchPropertyType)" data-defaultselected="@(Model.SearchControl.propertyList[1] == searchProperty.Field.Name ? "selected" : "")">@searchProperty.Column.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 extrasearchproperties" style="margin-left:2px;display:none;">
                            <div class="form-group">
                                <div id="inputs1">
                                    <input type="text" maxlength="100" class="form-control" name="input[1]" data-searchpropertytype="@((int)SearchPropertyType.String)" style="display:none;" value="@Model.SearchControl.input[1]">
                                    <input type="text" maxlength="100" class="form-control" name="number[1]" data-searchpropertytype="@((int)SearchPropertyType.Numeric)" style="display:none;" value="@Model.SearchControl.number[1]">
                                    <div class="input-group">
                                        <span class="input-group-btn half">
                                            <select name="matchtype[1]" class="form-control static-data" data-searchpropertytype="@((int)SearchPropertyType.Date)" style="display:none;">
                                                <option value="@((int)SearchCritera.MatchType.equal)" @(Model.MatchType2Equal ? "selected" : "")>Gelijk aan</option>
                                                <option value="@((int)SearchCritera.MatchType.lesser)" @(Model.MatchType2Lesser ? "selected" : "")>Kleiner dan</option>
                                                <option value="@((int)SearchCritera.MatchType.greater)" @(Model.MatchType2Greater ? "selected" : "")>Groter dan</option>
                                            </select>
                                        </span>
                                        <input type="text" maxlength="10" class="form-control date" name="date[1]" data-searchpropertytype="@((int)SearchPropertyType.Date)" style="display:none;" value="@Model.SearchControl.date[1]">
                                    </div>
                                    <select name="select[0]" data-searchpropertytype="@((int)SearchPropertyType.Lookup)" style="display:none;" class="form-control">
                                        <option value="option" selected>Option</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            }
        </div>
    </div>
</div>
<div id="searchResultsDiv"></div>
