﻿@model Point.Database.Models.ViewModels.TransferInformationViewModel

<div class="col-xs-6">
    <h4>Overdragende organisatie</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceOrganizationName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.SourceOrganizationName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceLocationName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.SourceLocationName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceDepartmentName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.SourceDepartmentName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceDepartmentEmail, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.SourceDepartmentEmail, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceDepartmentTelephonenumber, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.SourceDepartmentTelephonenumber, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>

<div class="col-xs-6">
    <h4>Ontvangende organisatie</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.DestinationOrganizationName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.DestinationOrganizationName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DestinationLocationName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.DestinationLocationName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DestinationDepartmentName, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.DestinationDepartmentName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DestinationDepartmentEmail, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.DestinationDepartmentEmail, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DestinationDepartmentTelephonenumber, new { @class = "col-xs-4 control-label" })
        <div class="col-xs-8 col-sm-7 col-md-6">
            @Html.TextBoxFor(m => m.DestinationDepartmentTelephonenumber, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
