﻿@model IEnumerable<Point.MVC.Auth.Models.ViewModels.AuthenticationTypeViewModel>

@{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $.validator.setDefaults({ ignore: '.ignore *' });

            $.validator.messages.required = 'Dit veld is verplicht.';

            $("form").validate();

            $(':input .required').each(function () {
                $(this).rules("add", { required: true });
            });

            $("#loginform").submit(function (e) {
                if ($("form").valid()) {
                    var queryDict = { "patexternalreference": "" };
                    $.each(location.search.substr(1).split("&"), function (key, value) {
                        var parts = value.split("=");
                        if (parts.length === 2) {
                            queryDict[parts[0].toLowerCase()] = parts[1];
                        }
                    });
                    $("form").append('<input type="hidden" id="patexternalreference" name="patexternalreference" value="' + queryDict["patexternalreference"] + '" />');
                    var organizationid = $("#authenticationtype").find("option:selected").data("organizationid");
                    $("form").append('<input type="hidden" id="organizationid" name="organizationid" value="' + organizationid + '" />');
                }
                else {
                    e.preventDefault();
                }
            });
        });
    </script>
}

<div class="container">
    <div class="col-md-6">
        @if (Model.Count() == 0)
        {
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 class="panel-title"><strong>Aanmelden</strong></h3></div>
                <div class="panel-body">
                    <p>
                        Er zijn geen externe authenticatie services geconfigureerd.
                        <br /><br />
                        <a href="mailto:support@linkassist.nl?subject=Geen externe authenticatie services geconfigureerd">Klik hier om contact op te nemen</a>
                    </p>
                </div>
            </div>
        }
        else
        {
            <form role="form" id="loginform" action="@Url.Action("ExternalLogin")" method="post">
                <div class="panel panel-azure">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Aanmelden</strong></h3></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label required" for="AuthenticationType">Organisatie</label>
                            <select class="form-control required" id="authenticationtype" name="authenticationtype">
                                <option value="">Maak uw keuze</option>
                                @foreach (var authenticationtype in Model)
                                {
                                    <option value="@authenticationtype.AuthenticationType" data-organizationid="@authenticationtype.OrganizationID">@authenticationtype.Caption</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="form-group">
                            <button type="submit" class="btn btn-azure pull-right">Sign in</button>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>