.iconA {
    background-image: url(iconA.png);
}

.iconADLFull {
    background-image: url(iconADLFull.png);
}

.iconADLFull_xl {
    background-image: url(iconADLFull_xl.png);
}

.iconADLHelp {
    background-image: url(iconADLHelp.png);
}

.iconADLHelp_xl {
    background-image: url(iconADLHelp_xl.png);
}

.iconA_xl {
    background-image: url(iconA_xl.png);
}

.iconB {
    background-image: url(iconB.png);
}

.iconBedDown {
    background-image: url(iconBedDown.png);
}

.iconBedDown_xl {
    background-image: url(iconBedDown_xl.png);
}

.iconB_xl {
    background-image: url(iconB_xl.png);
}

.iconC {
    background-image: url(iconC.png);
}

.iconCardio {
    background-image: url(iconCardio.png);
}

.iconCardio_xl {
    background-image: url(iconCardio_xl.png);
}

.iconCareArranged {
    background-image: url(iconCareArranged.png);
}

.iconCareArranged_xl {
    background-image: url(iconCareArranged_xl.png);
}

.iconC_xl {
    background-image: url(iconC_xl.png);
}

.iconD {
    background-image: url(iconD.png);
}

.iconDB {
    background-image: url(iconDB.png);
}

.iconDB_xl {
    background-image: url(iconDB_xl.png);
}

.iconDelier {
    background-image: url(iconDelier.png);
}

.iconDelier_xl {
    background-image: url(iconDelier_xl.png);
}

.iconDiet {
    background-image: url(iconDiet.png);
}

.iconDiet_xl {
    background-image: url(iconDiet_xl.png);
}

.iconD_xl {
    background-image: url(iconD_xl.png);
}

.iconF {
    background-image: url(iconF.png);
}

.iconF_xl {
    background-image: url(iconF_xl.png);
}

.iconGM_inverse {
    background-image: url(iconGM_inverse.png);
}

.iconGM_inverse_xl {
    background-image: url(iconGM_inverse_xl.png);
}

.iconHF {
    background-image: url(iconHF.png);
}

.iconHF_xl {
    background-image: url(iconHF_xl.png);
}

.iconI {
    background-image: url(iconI.png);
}

.iconI_xl {
    background-image: url(iconI_xl.png);
}

.iconKA {
    background-image: url(iconKA.png);
}

.iconKA_xl {
    background-image: url(iconKA_xl.png);
}

.iconKRV_inverse {
    background-image: url(iconKRV_inverse.png);
}

.iconKRV_inverse_xl {
    background-image: url(iconKRV_inverse_xl.png);
}

.iconMR {
    background-image: url(iconMR.png);
}

.iconMR_xl {
    background-image: url(iconMR_xl.png);
}

.iconNeo {
    background-image: url(iconNeo.png);
}

.iconNeo_xl {
    background-image: url(iconNeo_xl.png);
}

.iconN_inverse {
    background-image: url(iconN_inverse.png);
}

.iconN_inverse_xl {
    background-image: url(iconN_inverse_xl.png);
}

.iconO {
    background-image: url(iconO.png);
}

.iconOxygen {
    background-image: url(iconOxygen.png);
}

.iconOxygen_xl {
    background-image: url(iconOxygen_xl.png);
}

.iconO_xl {
    background-image: url(iconO_xl.png);
}

.iconPedagogy {
    background-image: url(iconPedagogy.png);
}

.iconPedagogy_xl {
    background-image: url(iconPedagogy_xl.png);
}

.iconPharmacy {
    background-image: url(iconPharmacy.png);
}

.iconPharmacy_xl {
    background-image: url(iconPharmacy_xl.png);
}

.iconPK {
    background-image: url(iconPK.png);
}

.iconPK_xl {
    background-image: url(iconPK_xl.png);
}

.iconQuestion {
    background-image: url(iconQuestion.png);
}

.iconQuestion_xl {
    background-image: url(iconQuestion_xl.png);
}

.iconRiskFalling {
    background-image: url(iconRiskFalling.png);
}

.iconRiskFalling_xl {
    background-image: url(iconRiskFalling_xl.png);
}

.iconRoomingIn {
    background-image: url(iconRoomingIn.png);
}

.iconRoomingIn_xl {
    background-image: url(iconRoomingIn_xl.png);
}

.iconTM {
    background-image: url(iconTM.png);
}

.iconTM_xl {
    background-image: url(iconTM_xl.png);
}

.iconTMO {
    background-image: url(iconTMO.png);
}

.iconTMO_xl {
    background-image: url(iconTMO_xl.png);
}

.iconTMB {
    background-image: url(iconTMB.png);
}

.iconTMB_xl {
    background-image: url(iconTMB_xl.png);
}

.iconTrafficlightGreen {
    background-image: url(iconTrafficlightGreen.png);
}

.iconTrafficlightGreen_xl {
    background-image: url(iconTrafficlightGreen_xl.png);
}

.iconTrafficlightOrange {
    background-image: url(iconTrafficlightOrange.png);
}

.iconTrafficlightOrange_xl {
    background-image: url(iconTrafficlightOrange_xl.png);
}

.iconTrafficlightRed {
    background-image: url(iconTrafficlightRed.png);
}

.iconTrafficlightRed_xl {
    background-image: url(iconTrafficlightRed_xl.png);
}

.iconV {
    background-image: url(iconV.png);
}

.iconV_xl {
    background-image: url(iconV_xl.png);
}

.iconWarning {
    background-image: url(iconWarning.png);
}

.iconWarning_xl {
    background-image: url(iconWarning_xl.png);
}

.iconX {
    background-image: url(iconX.png);
}

.iconX_xl {
    background-image: url(iconX_xl.png);
}

