﻿@model IEnumerable<Point.Database.Models.ViewModels.LocalMenuItem>


<nav id="navbar" class="navbar navbar-inverse">
    <div class="container-fluid">
        
        
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#capManNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://www.verzorgdeoverdracht.nl/over-point" target="_blank" class="navbar-left " style=""><img id="capacitylogoStatic" src="~/Images/Point-HighRes-Trans-P-white.png" class="pointlogo" /><img id="capacitylogoSpinner" src="~/Images/Point-HighRes-Trans-P-white-animated.gif" class="pointlogo" style="display:none;" /> </a>
                <a href="/" class="navbar-brand navbar-brand-large hidden-sm">VVT/ZH Capaciteit</a>
            </div>
        
        <div class="collapse navbar-collapse" id="capManNavbar">
            <ul class="nav navbar-nav">

                @foreach (var menuitem in Model)
                {


                    <li class="menuItem @(menuitem.IsCurrent ? "active" : "")" data-disabled="@menuitem.Disabled" data-hidden="@menuitem.Hidden" data-url="@Html.Raw(menuitem.Url)" data-iscurrent="@menuitem.IsCurrent" title="@menuitem.Description">
                        <a class="@menuitem.CssClass">@menuitem.Label</a>
                    </li>

                }



                @*<li>
                        <a href="@Url.Action("Tile", "Capacity")" class="navbar-brand @Model.MenuActiveClass(CapacityViewType.Tiles)">
                            <span class="glyphicon glyphicon-large glyphicon-th hidden-xs" style="vertical-align: middle;"></span> Beschikbaarheid
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("List", "Capacity")" class="navbar-brand @Model.MenuActiveClass(CapacityViewType.List)" style="vertical-align: middle;">
                            <span class="glyphicon glyphicon-large glyphicon-list-alt hidden-xs" style="vertical-align: middle;"></span> Zorgtype zoeken
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Map", "Capacity")" class="navbar-brand @Model.MenuActiveClass(CapacityViewType.Map)">
                            <span class="glyphicon glyphicon-large glyphicon-map-marker hidden-xs" style="vertical-align: middle;"></span> Kaart
                        </a>
                    </li>
                    <li>
                        <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="navbar-brand hidden-sm hidden-md hidden-lg">
                            <span class="glyphicon glyphicon-large glyphicon-map-marker hidden-xs" style="vertical-align: middle;"></span> Contact
                        </a>
                    </li>*@
            </ul>
            @*<ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                    <a href="https://www.verzorgdeoverdracht.nl/contact" target="_blank" class="navbar-brand">
                        <span class="glyphicon glyphicon-large glyphicon-envelope hidden-xs" style="vertical-align:middle;"></span> Contact
                    </a>
                </li>
            </ul>*@
        </div>
    </div>
</nav>
