﻿@model TempletViewModel
@{
    bool isNew = (Model.TempletID <= 0);
}

<script type="text/javascript">
    var formID = "#templetForm";
</script>
<style>
    #templetDiv div {
        padding-top: 5px;
    }

    .sortinglabel {
        text-align: right;
    }
</style>

@Scripts.Render("~/Bundles/Scripts/FormType")

<div id="templetDiv">
    @using (Html.BeginForm("", "Templet", FormMethod.Post, new { id = "templetForm", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiFiddleTokenFor(m => m.TempletID)
        @Html.HiddenFor(m => m.TempletID)
        @Html.HiddenFor(m => m.RegionID)

        <div class="form-group">
            <div >
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
           <div>
               @Html.LabelFor(m => m.SortOrder, new { @class = "col-md-2 sortinglabel" })
                <div class="col-md-1" style="margin-top:-5px;">
                    @Html.TextBoxFor(m => m.SortOrder, new { @class = "form-control pull-right" })
                </div>
           </div>            
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Doelgroep", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("TempletTypeID", null, new { @class = "form-control" })
            </div>
        </div>
        if (isNew)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Kies een bestand</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Open <input type="file" name="file" id="file" onchange="$(this).closest('.form-group').find('.form-control').val($(this).val());">
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="alert alert-success" role="alert">Let op: Bijlagen mogen maximaal 10 megabyte groot zijn en kunnen van een van de volgende bestandstypes zijn:</div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>.pdf (Adobe Acrobat Reader)</p>
                    <p>.doc/.docx (Microsoft Word)</p>
                    <p>.xls/.xlsx (Microsoft Excel)</p>
                    <p>.msg (Microsoft Outlook)</p>
                </div>
                <div class="col-md-6">
                    <p>.eml (Microsoft Outlook Express)</p>
                    <p>.xps (Microsoft XML Paper Specification)</p>
                    <p>.jpg/.jpeg (JPEG plaatje)</p>
                    <p>.png (PNG plaatje)</p>
                </div>
            </div>
        }
        else
        {
            <script>
                $(function () {
                    $("#templetForm #Name").prop("readonly", "readonly").addClass("disabled");
                    $("#templetForm #Description").prop("readonly", "readonly").addClass("disabled");
                })
            </script>
        }
    }
</div>