﻿@using Point.Database.Models.ViewModels
@using Point.MVC.WebApplication.Extensions
@model IEnumerable<TempletViewModel>

@{
    var managementarea = new RouteValueDictionary() { { "Area", "Management" } };
    List<Option> regions = (List<Option>)ViewBag.Regions;
}

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .pointer {
        cursor: pointer;
    }

</style>

<script>
    var templetListUrl = "@Url.Action("Index", "Templet", managementarea)";
    var templetInsertUrl = "@Url.Action("Insert", "Templet", managementarea)";
    var templetUpdateUrl = "@Url.Action("Update", "Templet", managementarea)";
</script>
@Scripts.Render("~/Bundles/Scripts/JQueryForm")
@Scripts.Render("~/Bundles/Scripts/Templet")

<div class="panel panel-primary">
    <div class="panel-heading">
        Kies de regio voor welke u de documenten wilt beheren
    </div>
    <div class="panel-body">
        <form id="formSelectRegion" class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-xs-3">Regio</label>
                <div class="col-xs-7">
                    @Html.DropDownList("RegionID", regions.ToSelectListItems(r => r.Text, r => r.Value), htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-block btn-primary">Vernieuwen</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="templetlist" style="margin-bottom: 16px;">
    @Html.Partial("List", Model)
</div>

    <div class="clearfix">
        <div id="btnInsertTemplet" class="btn btn-primary" data-url="@Url.Action("Edit", new { @ViewBag.RegionID, TempletID = 0, Digest = AntiFiddleInjection.CreateDigest(0)})">Document toevoegen</div>
    </div>

    <div id="dialog-insert" class="modal fade" role="dialog" aria-hidden="true" title="Voeg een nieuw document toe">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="InsertTemplet">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    <button type="button" class="btn btn-primary" id="btnUpload">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-edit" class="modal fade" role="dialog" aria-hidden="true" title="Bewerk document">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="EditTemplet">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Opslaan</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Verwijderen
                </div>
                <div class="modal-body">
                    Dit item zal verwijderd worden, weet u dit zeker?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    <a href="#" class="btn btn-danger danger" id="delete">Verwijderen</a>
                </div>
            </div>
        </div>
    </div>
