﻿@using Point.Database.Models.ViewModels
@model IEnumerable<TempletViewModel>

@{
    var managementarea = new RouteValueDictionary() { { "Area", "Management" } };
}
    <table id="templetsTable" class="table table-striped table-condensed">
        <thead>
            <tr >
                <th scope="col">Naam bestand</th>
                <th scope="col">Omschrijving</th>
                <th scope="col">Doelgroep</th>
                <th scope="col">Datum toegevoegd</th>
                <th scope="col">Toegevoegd door</th>
                <th scope="col">Sorteerpositie</th>
                <th style="width:160px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var templetViewModel in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(templetViewModel.Name, "Download", "Templet", new
                            {
                                TransferID = ViewBag.TransferID,
                                TempletID = templetViewModel.TempletID,
                                Digest = AntiFiddleInjection.CreateDigest(templetViewModel.TempletID),
                                Area = ""
                            }, null)
                        </td>
                        <td>@templetViewModel.Description</td>
                        <td>@templetViewModel.TempletTypeID.GetDescription()</td>
                        <td>@templetViewModel.UploadDate.ToPointDateHourDisplay()</td>
                        <td>@templetViewModel.EmployeeName</td>
                        <td>@templetViewModel.SortOrder</td>
                        <td style="text-align:right;">
                            <span class="editTemplet glyphicon glyphicon-edit pointer" data-url="@Url.Action("Edit", "Templet", new
                                {
                                    TransferID = ViewBag.TransferID,
                                    TempletID = templetViewModel.TempletID,
                                    Digest = AntiFiddleInjection.CreateDigest(templetViewModel.TempletID)
                                })">
                            </span>
                            <span class="deleteTemplet glyphicon glyphicon-remove pointer" data-url="@Url.Action("Delete", "Templet", new
                                {
                                    TransferID = @ViewBag.TransferID,
                                    TempletID = @templetViewModel.TempletID,
                                    Digest = AntiFiddleInjection.CreateDigest(templetViewModel.TempletID)
                                })">
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
