﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model Code

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
   
}
    <script>
        var iconHolder = $("#largeIconHolder");
        var valueHolder = $("#CodeValue");
        var clickable = @Json.Encode(ViewBag.Clickable);
    </script>
    @Scripts.Render("~/Scripts/Code/EditMobility.js")



@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div id="largeIconHolder" style="padding-left:2px;padding-top:2px;">
</div>

@using (Html.BeginForm("EditMobility","Code",FormMethod.Post, new {id = "CodeForm"})) {

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EntityID)
    
    @Html.HiddenFor(model => model.CodeValue)

}
