﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model Code

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
   
}
    <script>
        var iconHolder = $("#largeIconHolder");
        var valueHolder = $("#CodeValue");
    </script>
    @Scripts.Render("~/Scripts/Code/EditBed.js")



@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

    <div class="dialogDetails">
        <div id="dialogFulltextSubheader2" class="dialogSubheader2" style="white-space:nowrap;width:100%;overflow:hidden;">@ViewBag.PlanbordDialogHeaderRight @ViewBag.BlockReason</div>
    </div>


<div id="largeIconHolder" style="padding-left:2px;padding-top:2px;">
</div>

@using (Html.BeginForm("EditBed","Code",FormMethod.Post, new {id = "CodeForm"})) {

    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.EntityID)
    
    @Html.HiddenFor(model => model.CodeValue)

}
