﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model Code

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
   
}

    <script>
        var keyboardField = $("#CodeValue");
    </script>
    @Scripts.Render("~/Scripts/Code/AppointmentKeyboard.js")


@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div id="fieldHolder" style="text-align:center;padding-top:5px;">


@using (Html.BeginForm("EditAppointment","Code",FormMethod.Post, new {id = "CodeForm"})) {

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EntityID)
    if ((bool)ViewBag.Clickable == false)
    {
        <div style="width:95%;height:80px;font-size:16px;float:left;overflow:auto;text-align:left;padding:5px;">@Html.DisplayTextFor(model => model.CodeValue)</div>
    }
    else
    {
        @Html.TextAreaFor(model => model.CodeValue, new { style = "width:95%;height:100px;font-size:14px;" })
        
    }

}
</div>