﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<Code>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div class="dialogDetails">
    <table>
        <thead>
            <tr>
                <th style="width:100px;"></th>
                <th style="width:300px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(c => c.CodeType != "Score"))
            {
                <tr>
                    <td>@item.GetCodeTypeDescription():</td>
                    <td>@item.CodeValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>