﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<Code>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");

    var isolationcode = Model.GetCode(CodeMainType.Isolatie).GetIsolationCode();
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div class="dialogDetails">
    <div class="dialogSubheader2">
        <div class="@("iconDot" + isolationcode.Color) planbordIcon" style="margin-top:8px;width:30px;"></div>@isolationcode.SystemDescription
    </div>
</div>
