﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<Code>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div class="dialogDetails">
<table>
    <thead>
        <tr>
            <th style="width:120px;"></th>
            <th style="width:90px;"></th>
            <th style="width:30px;"></th>
            <th style="width:120px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(c=>c.CodeType == "Pijnscore"))
{
    if (!String.IsNullOrWhiteSpace(item.CodeValue))
    { 
            <tr>
                <td>@item.GetCodeTypeDescription():&nbsp;&nbsp;&nbsp;@item.CodeValue</td>
                <td>@item.LastMeasuring.ToPlanbordDisplay()</td>
                <td><div class="planbordIcon"></div></td>
                <td>@item.SystemCycle</td>
            </tr>
            <tr><td colspan="4"><div class="dividerHR"></div></td></tr>
    }
}
@foreach (var item in Model.Where(c=>c.CodeType != "Pijnscore"))
{
       <tr class="@(item.QScoreMissedMeasurement() ? "dialogDetailsAlert" : "")">
           <td colspan="2">@item.GetCodeTypeDescription():</td>
           <td>@item.CodeValue</td>
           <td><div class="planbordIcon @(item.QScoreMissedMeasurement() ? "iconExclamationAlert" : "")"></div></td>
        </tr>
}

    </tbody>        
</table>
</div>