﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<Code>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");

    var subHeader2 = Model.GetValue(CodeMainType.Behandelingsbeperking, "Code");
    if (!String.IsNullOrEmpty(subHeader2)) { subHeader2 = "Code: " + subHeader2; }
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div class="dialogDetails">
<span class="dialogSubheader2">@subHeader2</span>
<br />
<table>
    <thead>
        <tr>
            <th style="width:100px;"></th>
            <th style="width:100px;"></th>
            <th style="width:30px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(c=>c.CodeType != "Code"))
{
       <tr>
            <td>@item.GetCodeTypeDescription():</td>
            <td>@item.CodeValue.BoolToJaNee()</td>
            <td></td>
        </tr>
}

    </tbody>

</table>
</div>
