﻿@using Point.Planbord.Database.Models;
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@model IEnumerable<Code>

@{
    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Planbord.cshtml");
}

@{Html.RenderPartial("~/Views/Shared/_DialogHeader_Planbord.cshtml");}

<div class="dialogDetails">
<table>
    <thead>
        <tr>
            <th style="width:120px;"></th>
            <th style="width:90px;"></th>
            <th style="width:30px;"></th>
            <th style="width:120px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(c=>c.CodeType != "Code"))
{
       <tr class="@(item.VitalMissedMeasurement() ? "dialogDetailsAlert" : "")">
           <td>@item.GetCodeTypeDescription():</td>
           <td>@item.LastMeasuring.ToPlanbordDisplay()</td>
           <td><div class="planbordIcon @(item.VitalMissedMeasurement() ? "iconExclamationAlert" : "")"></div></td>
           <td>@item.SystemCycle</td>
        </tr>
}

    </tbody>

</table>
</div>
