﻿@model List<Point.CapacityManagement.Database.Models.AfterCareType>
@{ 
    Layout = null;
}

<table>
    @foreach (var aftercaretype in Model.OrderBy(act => act.AfterCareTypeName))
    {
        <tr>
            <th>@aftercaretype.AfterCareTypeName</th>
            <td>@aftercaretype.Description</td>
        </tr>
    }
</table>

