﻿@{ 
    Layout = null; 
}

<div id="afterCareTypeDescriptionsModal" class="modal fade" role="dialog" tabindex="-1"> @* tabindex: close on escape *@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Zorgtypen</h4>
            </div>
            <div class="modal-body">
                <table>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Sluit</button>
            </div>
        </div>
    </div>
</div>
