﻿@model PrintList
@using Point.Models.Enums
@using Point.Business.Logic

<style type="text/css">
    #errorMessageDisplay {
        margin-left: 20px;
    }

    .exportstyle {
        float:right;
    }
</style>

<script>
    var overviewAttachmentUrl = '@Html.Raw(Url.Action("List", "TransferAttachment", new { TransferID = Model.TransferID, readOnly = true, skipPdf = true }))';
</script>

@Scripts.Render("~/Bundles/Scripts/GlobalPrint")

<script type="text/javascript">
    $(function() {
        var errorMsg = $("#ErrorMessage").val();

        if (errorMsg !== "") {
            showErrorMessage(errorMsg);
            $("#errorMessageDisplay").show();
        }

        $("#print").on("click", function () { $("#errorMessageDisplay").hide(); });
    });
</script>

@using (Html.BeginForm("PrintMultiple", "PrintAction", new { TransferID = Model.TransferID }, FormMethod.Get, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.TransferID)
    @Html.Hidden("PrintMode", "true")
    <input type="hidden" id="CheckedFormsetVersions" name="CheckedFormsetVersions" />
    <input type="hidden" id="CheckedFormTypes" name="CheckedFormTypes" />
    <input type="hidden" id="CombinedFormsetIDs" name="CombinedFormsetIDs" />
    <input type="hidden" id="CheckedAttachments" name="CheckedAttachments" />
    @Html.HiddenFor(m => m.ErrorMessage)

    <div class="panel panel-blue" id="printPanel">
        <div class="panel-heading">
            Afdrukken
        </div>

        @foreach (var printlistType in Model.PrintListTypes)
        {
        <ul class="list-group formsetversion-group">

            @if (printlistType.FormsetVersions != null)
            {
                foreach (var formsetVersion in printlistType.FormsetVersions)
                {
                    string definitief = "";
                    if (formsetVersion.FormType.TypeID == (int) TypeID.FlowTransferForm && formsetVersion.PhaseInstance.Status == (int) Status.Done)
                    {
                        definitief = " definitief";
                    }

                    var title = formsetVersion.GetPrintName();
                    title += definitief;
                    title += string.Format(" ({0})", formsetVersion.UpdateDate ?? formsetVersion.CreateDate);

                    var transferattachment = formsetVersion.TransferAttachment.FirstOrDefault(it => !it.Deleted);
                    if (transferattachment == null)
                    {
                        <li class="list-group-item">
                            <input type="checkbox" onclick="ClickCheck();" data-formsetversionid="@formsetVersion.FormSetVersionID"/>
                            <span class="formname">@title</span>
                        </li>
                    }
                    else if (transferattachment.GenericFile != null && transferattachment.GenericFile.ContentType == "application/pdf")
                    {
                        <li class="list-group-item">
                            <input type="checkbox" onclick="ClickCheck();" data-attachment="@transferattachment.AttachmentID" data-formsetversionid="@transferattachment.FormSetVersionID"/>
                            <span class="formname">Bijlage: @title</span>
                        </li>
                    }
                }
            }

            @if (printlistType.CombinedForms != null)
            {
                var formsetversions = string.Join(",", printlistType.CombinedForms.Select(it => it.FormSetVersionID));

                DateTime? maxDate = null;
                foreach (var form in printlistType.CombinedForms)
                {
                    var date = form.UpdateDate ?? form.CreateDate;
                    if (date != null && (maxDate == null || maxDate < date))
                    {
                        maxDate = date;
                    }
                }

                <li class="list-group-item">
                    <input type="checkbox" onclick="ClickCheck();" data-formsetversionid="@formsetversions" data-combined="@formsetversions"/>
                    <span class="formname">
                        @printlistType.CombinedFormName
                        @(maxDate == null ? "" : " (" + maxDate + ")")
                    </span>
                </li>
            }

            @if (printlistType.FormType != null && printlistType.FormsetVersions == null)
            {
                <li class="list-group-item">
                    <input type="checkbox" onclick="ClickCheck();" data-formsetversionid="-1" data-formtypeid="@printlistType.FormType.FormTypeID"/>
                    <span class="formname">@(!String.IsNullOrEmpty(printlistType.FormType.PrintName) ? printlistType.FormType.PrintName : printlistType.FormType.Name)</span>
                </li>
            }

            @if (printlistType.TransferAttachment != null)
            {
                if (printlistType.TransferAttachment.GenericFile != null && printlistType.TransferAttachment.GenericFile.ContentType == "application/pdf")
                {
                    <li class="list-group-item">
                        <input type="checkbox" onclick="ClickCheck();" data-attachment="@printlistType.TransferAttachment.AttachmentID"/>
                        <span class="formname">Bijlage: @(!String.IsNullOrEmpty(printlistType.TransferAttachment.Name) ? printlistType.TransferAttachment.Name : printlistType.TransferAttachment.GenericFile.FileName)</span>
                    </li>
                }
            }
        </ul>
        }
    </div>
    <button type="button" id="allFields" class="btn btn-default" onclick="CheckAll()">(De)selecteer alles</button>
    <button type="submit" id="print" class="btn btn-primary">Afdrukken</button><span class="alert alert-danger alert-button" style="display:none;" id="errorMessageDisplay">@Model.ErrorMessage</span>   
}

<div style="margin-bottom:50px;">
    @Html.ActionLink("Exporteren naar XML", "ExportToXML", "PrintAction", new { transferID = Model.TransferID}, new { @class = "btn btn-default exportstyle"})
</div>

<div class="panel panel-blue" id="attachmentPanel" style="margin-top:20px;">
    <div class="panel-heading">
        Bijlagen
    </div>
    <div class="panel-body">
                
    </div>
</div>




    