﻿@model Point.Database.Models.ViewModels.PrintMultipleViewModel

<style>
    .print-combined-formsetversion {
        page-break-inside: avoid;
    }
    .print-formsetversion {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    .print-newpage-first{
        page-break-after: always !important;
    }

    .form-group
    {
        page-break-inside: avoid;
    }

    .print-newpage{
        page-break-before: always;
        page-break-after: always !important;
    }
</style>

@{
    int i = 1;
    foreach (var formsetversion in Model.FormSetVersions)
    {
        string formsetVersionCss = formsetversion.IsCombined ? "print-combined-formsetversion" : "print-formsetversion";
        string newpageCss = formsetversion.PrintOnNewPage ? ( i == 1 ? "print-newpage-first" : "print-newpage") : "";
        <div class="@formsetVersionCss @newpageCss">
            <h1>@formsetversion.PrintName</h1>
            @{
                Html.RenderAction(formsetversion.ActionName, formsetversion.ControllerName, new
                {
                    FormTypeID = formsetversion.FormTypeID,
                    TransferID = Model.TransferID,
                    FormSetVersionID = formsetversion.FormsetVersionID,
                    PhaseDefinitionID = formsetversion.PhaseDefinitionID,
                    PhaseInstanceID = formsetversion.PhaseInstanceID,
                    PrintMode = true
                });
            }
        </div>
        i = i + 1;
    }
}