﻿<h1>Beheer</h1>

@using Point.Models.Enums;
@{
    var pointuser = ViewBag.PointUserInfo as Point.Database.Models.ViewModels.PointUserInfo;
    var managementarea = new RouteValueDictionary() { { "Area", "Management" } };
}
<script type="text/javascript">
    $(function () {
        $("#managementoverview .btn").on("click", function () {
            window.location.href = $(this).data("url");
        });
    });
</script>
@if (pointuser != null)
{
<div id="managementoverview" class="row">
    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageOrganization, FunctionRoleTypeID.ManageEmployees, FunctionRoleTypeID.ManageDoctors, FunctionRoleTypeID.ManageDoctors, FunctionRoleTypeID.ManageForms, FunctionRoleTypeID.ManageLogs, FunctionRoleTypeID.ManageFavorites, FunctionRoleTypeID.ManageCapacity))
    {
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Organisatie-nivo
                </div>
                <div class="panel-body">
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageOrganization))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("", "Organization", managementarea)">Organisatie(s)</div>
                    }
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageEmployees))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("", "Employee", managementarea)">Medewerkers</div>
                        <div class="btn btn-block btn-default" data-url="@Url.Action("", "EmployeeBulkProcess", managementarea)">Meerdere accounts (de)blokkeren</div>
                    }
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageDoctors))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("", "Doctors", managementarea)">Artsen</div>
                    }
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageForms))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("", "MessageReceivedTemp", managementarea)">Voorvullen formulieren</div>
                    }
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageLogs))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("Search", "CommunicationLog", managementarea)">Verstuurde e-mails</div>
                    }
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageFavorites))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("", "Favorites", managementarea)">Favorieten</div>
                    }
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageCapacity))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("Edit", "Capacity", managementarea)">Capaciteit management</div>
                    }
                    @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageTransferMemoTemplates))
                    {
                        <div class="btn btn-block btn-default" data-url="@Url.Action("Templates", "TransferMemo", managementarea)">Memo templates</div>
                    }

                </div>
            </div>
        </div>
    }

    @if (pointuser.IsRegioAdmin)
    {
        if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageLogs, FunctionRoleTypeID.ManageServicePage, FunctionRoleTypeID.ManageDocuments))
        {
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Regio-nivo
                    </div>
                    <div class="panel-body">
                        @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageLogs))
                        {
                            <div class="btn btn-block btn-default" data-url="@Url.Action("", "LogRead", managementarea)">Bekijk leesacties</div>
                            <div class="btn btn-block btn-default" data-url="@Url.Action("", "LogReadExtended", managementarea)">Uitgebreide leesactie</div>
                        }
                        @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageServicePage))
                        {
                            <div class="btn btn-block btn-default" data-url="@Url.Action("Edit", "ServicePage", managementarea)">Bewerk servicepagina</div>
                        }
                        @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageDocuments))
                        {
                            <div class="btn btn-block btn-default" data-url="@Url.Action("", "Templet", managementarea)">Regio-documenten</div>
                        }
                        @if (pointuser.HasFunctionRole(FunctionRoleTypeID.ManageAll, FunctionRoleTypeID.ManageRegion))
                        {
                            <div class="btn btn-block btn-default" data-url="@Url.Action("", "Region", managementarea)">Regio(s)</div>
                        }

                    </div>
                </div>
            </div>
        }
    }

    @if (pointuser.IsGlobalAdmin)
    {
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Systeembeheer
                </div>
                <div class="panel-body">
                    <div class="btn btn-block btn-default" data-url="@Url.Action("", "Template", new RouteValueDictionary() { { "Area", "Management" }, { "TemplateTypeID", (int)TemplateTypeID.ZorgMailZHVVTJa } })">(Zorgmail) Sjabloon beheer</div>
                    <div class="btn btn-block btn-default" data-url="@Url.Action("", "SystemMessage", managementarea)">Systeemberichten beheer</div>
                    <div class="btn btn-block btn-default" data-url="@Url.Action("", "Screen", managementarea)">Beheer schermen</div>
                    <div class="btn btn-block btn-default" data-url="@Url.Action("", "CryptoCertificate", managementarea)">Beheer certificaten</div>
                    <div class="btn btn-block btn-default" data-url="@(Url.Action("OrganizationMigrate", "Admin", new { Area = "" }))">Migratie organisatie</div>
                    <div class="btn btn-block btn-default" data-url="@(Url.Action("", "FormAdmin", managementarea))">Formulier aanpassingen</div>
                </div>
            </div>
        </div>
    }
</div>
}