﻿@model TransferAttachmentViewModel

@{
    bool isnew = (Model.AttachmentID <= 0);
}

<script type="text/javascript">
    initializevalidation("#EditFlowAttachmentForm");
</script>

@Scripts.Render("~/Bundles/Scripts/JQueryValidation")
@Scripts.Render("~/Bundles/Scripts/JQueryForm")
@Scripts.Render("~/Bundles/Scripts/EditFlowAttachment")

@using (Html.BeginForm("", "EditFlowAttachmentForm", FormMethod.Post, new { id = "EditFlowAttachmentForm", enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.AttachmentID)
    @Html.HiddenFor(m => m.TransferID)
    @Html.HiddenFor(m => m.FrequencyID)
    @Html.HiddenFor(m => m.AttachmentSource)
    @Html.HiddenFor(m => m.ShowInAttachmentList)
    @Html.HiddenFor(m => m.SignalOnSave)
    <div class="form-group">
        @Html.LabelFor(m => m.AttachmentTypeID, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.AttachmentTypeID, ViewBag.AttachmentTypeID as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    if (isnew)
    {
        <div class="form-group">
            <label class="control-label col-md-4">Kies een bestand</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <span class="input-group-btn">
                        <label class="btn btn-default" for="file">
                            Open <input type="file" name="files" id="file" style="display:none;" onchange="$(this).closest('.form-group').find('.form-control').val($(this).val());">
                        </label>
                    </span>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="alert alert-success" role="alert">Let op: Bijlagen mogen maximaal 10 megabyte groot zijn en kunnen van een van de volgende bestandstypes zijn:</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>.pdf (Adobe Acrobat Reader)</p>
            <p>.doc/.docx (Microsoft Word)</p>
            <p>.xls/.xlsx (Microsoft Excel)</p>
            <p>.msg (Microsoft Outlook)</p>
        </div>
        <div class="col-md-6">
            <p>.eml (Microsoft Outlook Express)</p>
            <p>.xps (Microsoft XML Paper Specification)</p>
            <p>.jpg/.jpeg (JPEG plaatje)</p>
            <p>.png (PNG plaatje)</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <div class="pull-right">
                <div class="btn btn-gray" data-dismiss="modal">Annuleren</div>
                <div class="btn btn-primary" onclick="SaveFlowAttachment(this);" data-saveurl="@Url.Action("Save")">Opslaan</div>
            </div>
        </div>
    </div>
}