﻿@model IEnumerable<TransferAttachmentViewModel>
@using Point.Models.Enums

@{
    var isprint = Request.IsPrintRequest();
    var generalActionID = Request.GetRequestVariable<int>("generalactionid", -1);
}

<style>
    .hasrelatedtransfer {
        background-color:lavender;
    }
</style>

@foreach (var item in Model)
{
    <div class="@("list-group-item form-group flowattachmentEntry " + (item.RelatedAttachmentID.HasValue ?  "hasrelatedtransfer": ""))">        
        <div class="row">
            @Html.Hidden("id", (int)item.AttachmentID)
            <div class="col-md-2 col-xs-2">@item.AttachmentTypeID.GetDescription()</div>
            @if (isprint)
            {
                <div class="col-md-2 col-xs-3">@item.Name.DefaultIfEmpty("[geen]")</div>
            }
            else
            {
                <div class="col-md-2 col-xs-3">
                    
                    @Html.ActionLink(item.Name.DefaultIfEmpty("[geen]"), "Download", "TransferAttachment", new
                    {
                        ViewBag.TransferID,
                        item.AttachmentID,
                        Digest = AntiFiddleInjection.CreateDigest(item.AttachmentID)
                    }, null)
                </div>
            }
            <div class="col-md-2 col-xs-3">@item.Description</div>
            <div class="col-md-2 col-xs-3">
                @if (item.RelatedAttachmentID.HasValue)
                {
                    <span class="clickover-info" style="cursor:pointer;" data-toggle="clickover" data-title="Overgenomen uit eerder transfer dossier" data-content="@item.RelatedAttachmentOwner"><span class="glyphicon glyphicon-import"></span></span>
                }
                @item.DateTime.ToPointDateHourDisplay()</div>
            <div class="col-xs-3 hidden-sm hidden-xs">              
            @item.OrganizationName @item.EmployeeName</div>
            <div class="col-xs-1">
                @if (item.AttachmentSource == AttachmentSource.None && item.AttachedAfterClose)
                {
                    <span style="cursor:pointer;" data-toggle="clickover" data-content="Deze bijlage is automatisch toegevoegd vanuit het ZIS/EPD toen het POINT dossier gesloten was"><span class="glyphicon glyphicon-alert pull-right"></span></span>                    
                }               
                @if (!isprint && item.IsEditable)
                {
                    if (!item.RelatedAttachmentID.HasValue)
                    {
                        <span class="editAttachment glyphicon glyphicon-edit pull-right" style="cursor:pointer;" onclick="EditFlowAttachment(this);" data-editurl="@Url.Action("Edit", "TransferAttachment", new
                        {
                            ViewBag.TransferID,
                            item.AttachmentID,
                            GeneralActionID = generalActionID,
                            Digest = AntiFiddleInjection.CreateDigest(item.AttachmentID)
                        })">
                        </span>
                    }
                    <span class="deleteAttachment glyphicon glyphicon-remove pull-right" style="cursor:pointer;" onclick="DeleteFlowAttachment(this);" data-deleteurl="@Url.Action("Delete", "TransferAttachment", new
                        {
                            ViewBag.TransferID,
                            item.AttachmentID,
                            GeneralActionID = generalActionID,
                            Digest = AntiFiddleInjection.CreateDigest(item.AttachmentID)
                        })">
                    </span>
                }
            </div>
        </div>
    </div>
}