﻿@using Point.MVC.WebApplication.Extensions;
@model TransferAttachmentListViewModel

@Scripts.Render("~/Bundles/Scripts/FormType")
@Scripts.Render("~/Bundles/Scripts/FlowAttachment")

@{
    var generalActionID = Request.GetRequestVariable<int>("generalactionid", -1);

    var flowattachmentlistUrl = Url.Action("FlowAttachments", "TransferAttachment",
        new
        {
            Model.TransferID,
            GeneralActionID = generalActionID,
            Model.AttachmentSource,
            Model.FrequencyID
        });

    var flowattachmentaddUrl = Url.Action("Add", "TransferAttachment",
        new
        {
            Model.TransferID,
            GeneralActionID = generalActionID,
            Model.AttachmentSource,
            Model.FrequencyID
        });
}

<div class="flowAttachmentContainer" data-listurl="@flowattachmentlistUrl" data-formsetversionid="@Model.FormSetVersionID">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "flowAttachmentForm" }))
    {
        @Html.Hidden("ListUrl", flowattachmentlistUrl)
        @Html.HiddenFor(m => m.TransferID)
        @Html.HiddenFor(m => m.PhaseDefinitionID)
        @Html.HiddenFor(m => m.PhaseInstanceID)
        @Html.HiddenFor(m => m.FormSetVersionID)
        @Html.HiddenFor(m => m.ReadOnly)
        @Html.HiddenFor(m => m.FrequencyID)
        @Html.HiddenFor(m => m.AttachmentSource)
        @Html.HiddenFor(m => m.ShowTakeOverMessage)

        <div id="flowattachment" class="panel panel-blue ignore-printfilter">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2 col-xs-2">Type</div>
                    <div class="col-md-2 col-xs-3">Naam</div>
                    <div class="col-md-2 col-xs-3">Omschrijving</div>
                    <div class="col-md-2 col-xs-3">Datum toegevoegd</div>
                    <div class="col-md-3 hidden-sm hidden-xs">Toegevoegd door</div>
                    <div class="col-xs-1">
                    </div>
                </div>
            </div>
            <div class="list-group flowAttachmentEntries">
                @Html.Partial("FlowAttachments", Model.Items)
            </div>
        </div>
        <div class="panel-blue ignore-printfilter">
            <div>
                @if (((Model.FrequencyID.HasValue && !Model.ReadOnly) || (!Model.ReadOnly && !Html.ViewData.IsReadMode())) && !Request.IsPrintRequest())
                {
                    <input type="button" id="addFlowAttachment" class="btn btn-primary pull-right" onclick="AddFlowAttachment(this);" data-addurl="@flowattachmentaddUrl" value="Bijlage toevoegen" />
                }
            </div>
        </div>
    }
    <div class="flowattachmentmodal modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div class="flowattachmentdeletemodal modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <b>Weet u het zeker?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Annuleren</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Verwijderen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="prefilledRelatedMemo modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <b>Dit formulier is voorgevuld met bijlage uit een andere dossier. U kunt deze verwijderen...</b>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">sluiten</button>
                </div>
            </div>
        </div>
    </div>

</div>
