﻿@model TransferAttachmentViewModel
@{
    bool isNew = (Model.AttachmentID <= 0);
    bool onlyPdf = Model.OnlyPDF;
}

@using Point.Models.Enums;

<style>
    #transferAttachmentDiv div {
        padding-top: 5px;
    }
</style>
@Scripts.Render("~/Bundles/Scripts/JQueryValidation")

<div id="transferAttachmentDiv">
    <form id="transferAttachmentForm" enctype="multipart/form-data" action="@Url.Action("Save", "TransferAttachment")" class="form-horizontal" data-onlypdf="true">
        @Html.HiddenFor(m => m.AttachmentID)
        @Html.HiddenFor(m => m.AttachmentSource)
        @Html.HiddenFor(m => m.ShowInAttachmentList)
        @Html.HiddenFor(m => m.SignalOnSave)
        @Html.HiddenFor(m => m.AttachmentTypeID, new { @Value = (int)Model.AttachmentTypeID })
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.OnlyPDF)
        @if (isNew)
        {
            <div class="form-group">
                <label class="control-label col-md-4">Kies een bestand</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Open <input type="file" name="files" id="file" accept=".pdf" onchange="$(this).closest('.form-group').find('.form-control').val($(this).val());">
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            if (onlyPdf)
            {
                <div class="row">
                    <div class="alert alert-success" role="alert">Let op: Bijlage mag maximaal 10 megabyte groot zijn en moet een PDF bestand zijn</div>
                </div>
            }
            else
            { 
                <div class="row">
                    <div class="alert alert-success" role="alert">Let op: Bijlagen mogen maximaal 10 megabyte groot zijn en kunnen van een van de volgende bestandstypes zijn:</div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p>.pdf(Adobe Acrobat Reader)</p>
                        <p>.doc/.docx(Microsoft Word)</p>
                        <p>.xls/.xlsx(Microsoft Excel)</p>
                        <p>.msg(Microsoft Outlook)</p>
                    </div>
                    <div class="col-md-6">
                        <p>.eml(Microsoft Outlook Express)</p>
                        <p>.xps(Microsoft XML Paper Specification)</p>
                        <p>.jpg/.jpeg(JPEG plaatje)</p>
                        <p>.png(PNG plaatje)</p>
                    </div>
                </div>
            }
         }
    </form>
</div>