﻿@model IEnumerable<Point.Planbord.Database.Models.Department>
@using Point.Planbord.Infrastructure;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "";
}

<div id="mainwrap">
    <div style="width:800px;margin-left:100px;" >
        <div style="width:800px;height:150px;">
            @if (User.IsInRole(Role.PlanbordAdministrator.ToString()) || User.IsInRole(Role.OrganizationAdministrator.ToString()))
            { 
                <a class="blokButton iconOrganization" href='@Url.Action("Index", "Organization")'>Organisatie</a>
                <a class="blokButton iconOrganization" href='@Url.Action("Index", "Location")'>Locatie</a>
                <a class="blokButton iconOrganization" href='@Url.Action("Index", "Department")'>Afdeling</a>
            }
            </div>
        <div style="width:800px;height:150px;">
            @if (User.IsInRole(Role.PlanbordAdministrator.ToString()) || User.IsInRole(Role.OrganizationAdministrator.ToString()))
            { 
                <a class="blokButton iconEmployee" href='@Url.Action("Index", "Employee")'>Medewerker</a>
            }
            @if (User.IsInRole(Role.PlanbordAdministrator.ToString()) || User.IsInRole(Role.OrganizationAdministrator.ToString()) || User.IsInRole(Role.PersonalAccount.ToString()))
            { 
                <a class="blokButton iconNurse" href='@Url.Action("Index", "Nurse")'>Verpleegkundige</a>
            }
        </div>
        <div style="width:800px;height:150px;">
            @if (User.IsInRole(Role.PlanbordAdministrator.ToString()) || User.IsInRole(Role.OrganizationAdministrator.ToString()) || User.IsInRole(Role.PersonalAccount.ToString()))
            { 
                <a class="blokButton iconPager" href='@Url.Action("Index", "Pager")'>Telefoon</a>
            }
            @if (User.IsInRole(Role.PlanbordAdministrator.ToString()) || User.IsInRole(Role.OrganizationAdministrator.ToString()) || User.IsInRole(Role.LogistiekAccount.ToString()) || User.IsInRole(Role.PersonalAccount.ToString()))
            { 
                <a class="blokButton iconDepartmentHeaderMessage" href='@Url.Action("Index", "DepartmentHeaderMessage")'>Patiëntenlogistiek</a>
            }
         </div>
         <div style="width:800px;height:150px;">
            @if (User.IsInRole(Role.PlanbordAdministrator.ToString()))
            { 
                <a class="blokButton iconLogging" href='@Url.Action("Index", "Logging")'>Logging</a>
            }
        </div>
    </div>
</div>
