﻿@model IEnumerable<Point.Planbord.Database.Models.Logging>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSoap</title>
</head>
<body>
    <div>

          @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <a href="@Url.Action("viewsoap", new { id = item.LoggingID })">@item.LoggingDateTime</a><br />
                    }
          }


        list of soap messages
    </div>
</body>
</html>
