﻿@{
    var title2 = @ViewBag.HeaderMessage;
    var title2color = @ViewBag.HeaderMessageColor;
}
<div class="title2" style="width:260px;overflow:hidden;background-color:@title2color"><span>@title2</span></div>
