﻿@model Point.Planbord.Database.Models.PlanbordSettingsViewModel
@using Point.Planbord.Infrastructure.Extensions;
@using Point.Planbord.Database.Extensions;
@using Point.Planbord.Database.Models;

@{
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
    ViewBag.Title = "Instellingen";
}

<script type="text/javascript">
    var formID = "#SettingsForm";
</script>

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/jquery.validators.js")

@section scripts {
    @Scripts.Render("~/Scripts/Settings/Index.js")
}

<link href="~/Script/IconCSS/@ViewBag.OrganizationID" rel="stylesheet" type="text/css">

<div id="mainwrap">
    @using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { id = "SettingsForm" }))
    {
        <div id="containerDiv" style="padding-left:100px;">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => Model.ParentId)
            @Html.HiddenFor(x => Model.ParentType)
            @Html.HiddenFor(x => Model.Specialism.Id)
            @Html.HiddenFor(x => Model.Specialism.SettingMainType)
            @Html.HiddenFor(x => Model.ColumnDisplayType.Id)
            @Html.HiddenFor(x => Model.ColumnDisplayType.SettingMainType)
            @Html.HiddenFor(x => Model.HeaderMessage.Id)
            @Html.HiddenFor(x => Model.HeaderMessage.SettingMainType)
            @Html.HiddenFor(x => Model.Pin.Id)
            @Html.HiddenFor(x => Model.Pin.SettingMainType)
            @Html.HiddenFor(x => Model.DetailIconSet.Id)
            @Html.HiddenFor(x => Model.DetailIconSet.SettingMainType)
            @Html.HiddenFor(x => Model.Code.Id)
            @Html.HiddenFor(x => Model.Code.SettingMainType)
            @Html.HiddenFor(x => Model.AutomaticClose.Id)
            @Html.HiddenFor(x => Model.AutomaticClose.SettingMainType)
            @Html.HiddenFor(x => Model.AutomaticRefresh.Id)
            @Html.HiddenFor(x => Model.AutomaticRefresh.SettingMainType)
            @Html.HiddenFor(x => Model.DiagnosisCode.Id)
            @Html.HiddenFor(x => Model.DiagnosisCode.SettingMainType)
            @Html.HiddenFor(x => Model.Hospitalization.Id)
            @Html.HiddenFor(x => Model.Hospitalization.SettingMainType)


            <table class="mainTable">
                <tbody>
                    <tr class="settingRow">
                        <td class="tableHeader" colspan="2">
                            U bekijkt de instellingen van: @ViewBag.SelectedEntity
                        </td>
                    </tr>
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Automatisch sluiten</div>
                            <div class="tableSubHeader">Popup-schermen sluiten automatisch na ## seconden.<br />Vul '0' in om <i>niet</i> automatisch te laten sluiten.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.AutomaticClose.Checked)
                        </td>
                        <td class="tdSettingContent" style="">
                            <div class="settingContentContainer">
                                @Html.TextBoxFor(x => Model.AutomaticClose.Values.Seconds, new { @class = "numeric", maxlength = 3, style = "width:50px" }) sec.
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Planbord scherm verversing</div>
                            <div class="tableSubHeader">De gegevens worden iedere ## seconden ververst.<br />Vul '0' in om het planbord <i>niet</i> automatisch te laten verversen.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.AutomaticRefresh.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                @Html.TextBoxFor(x => Model.AutomaticRefresh.Values.Seconds, new { @class = "numeric", maxlength = 4, style = "width:50px;" }) sec.
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Getoonde diagnose</div>
                            <div class="tableSubHeader">Selecteer het waarde-type welke weergegeven wordt in de kolom diagnose.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.DiagnosisCode.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                @foreach (DiagnosisDisplayCodeType codeType in Enum.GetValues(typeof(DiagnosisDisplayCodeType)))
                                {
                                    <div style="padding-bottom: 2px">
                                        @Html.RadioButton("DiagnosisCode.Values.DisplayCodeType", codeType) @codeType.ToString()
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Ligduur</div>
                            <div class="tableSubHeader">Selecteer de getoonde ligduur vanaf het moment van opname welke weergegeven wordt in de kolom diagnose.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.Hospitalization.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                @foreach (HospitalizationDisplayCodeType codeType in Enum.GetValues(typeof(HospitalizationDisplayCodeType)))
                                {
                                    <div style="padding-bottom: 2px">
                                        @Html.RadioButton("Hospitalization.Values.HospitalizationDisplayCodeType", codeType) @codeType.ToString()
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>

                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Pin</div>
                            <div class="tableSubHeader">In te voeren pincode t.b.v. invoerbeveiliging.<br />Laat deze leeg om gegevens te kunnen aanpassen <i>zonder</i> deze beveiliging.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.Pin.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                @Html.PasswordFor(x => Model.Pin.Values.Pin, new { @class = "numeric", maxlength = 4, value = Model.Pin.Values.Pin })
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Specialisme</div>
                            <div class="tableSubHeader">Selecteer de achtergrondkleur, gebruikt op het planbord in de specialisme-kolom.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.Specialism.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                <table class="settingsContentTable display dataTable" data-id="specialism">
                                    <thead style="display: table-header-group;">
                                        <tr>
                                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.Specialism.Values.First().SystemCode)</th>
                                            <th style="width: 200px;">@Html.DisplayNameFor(model => model.Specialism.Values.First().Color)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Specialism.Values.Count(); i++)
                                        {
                                            <tr>
                                                <td>@Html.HiddenFor(x => Model.Specialism.Values[i].Id) @Html.HiddenFor(x => Model.Specialism.Values[i].SystemCode) @Html.Label(Model.Specialism.Values[i].SystemCode)</td>
                                                <td>@Html.TextBoxFor(x => Model.Specialism.Values[i].Color, new { value = (string)@Model.Specialism.Values[i].Color, @class = "minicolors-input colorpicker", data_val = "false" })</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Boodschap</div>
                            <div class="tableSubHeader">Stel de tekst van de boodschap in<br />en selecteer de te tonen boodschap.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.HeaderMessage.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                <table class="settingsContentTable display dataTable">
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Boodschap</th>
                                            <th>&nbsp;</th>
                                            <th>Einddatum (dd-mm-yyyy hh:mm)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @Html.HiddenFor(x => Model.HeaderMessage.Values.Messages[0].MessageLevel) @Html.HiddenFor(x => Model.HeaderMessage.Values.Messages[0].Color)
                                            <td>@Html.RadioButton("HeaderMessage.Values.MessageLevel", 0, (0 == (int)Model.HeaderMessage.Values.MessageLevel))</td>
                                            <td>@Html.TextBoxFor(x => Model.HeaderMessage.Values.Messages[0].Text, new { maxlength = 50 })</td>
                                            <td><div class="cellHeaderMessageColor" style="background-color: #@Model.HeaderMessage.Values.Messages[0].Color;"></div></td>
                                            <td>@Html.TextBoxFor(x => Model.HeaderMessage.Values.Messages[0].EndDate, Model.HeaderMessage.Values.Messages[0].EndDate.ToPointDateTime(), new { @class = "pointdate" })</td>
                                        </tr>
                                        @for (int i = 1; i < Model.HeaderMessage.Values.Messages.Count(); i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(x => Model.HeaderMessage.Values.Messages[i].MessageLevel) @Html.HiddenFor(x => Model.HeaderMessage.Values.Messages[i].Color)
                                                <td>@Html.RadioButton("HeaderMessage.Values.MessageLevel", i, (i == (int)Model.HeaderMessage.Values.MessageLevel))</td>
                                                <td>@Html.TextBoxFor(x => Model.HeaderMessage.Values.Messages[i].Text, new { maxlength = 50 })</td>
                                                <td><div class="cellHeaderMessageColor" style="background-color: #@Model.HeaderMessage.Values.Messages[i].Color;"></div></td>
                                                <td>@Html.TextBoxFor(x => Model.HeaderMessage.Values.Messages[i].EndDate, Model.HeaderMessage.Values.Messages[i].EndDate.ToPointDateTime(), new { @class = "pointdate" })</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Kolommen</div>
                            <div class="tableSubHeader">Kies de manier van presentatie per kolom.<br />&bull; Zichtbaar: Tekst/Icoon wordt getoond in de kolom. Lange inhoud wordt automatisch verkleind.<br />&bull; Niet zichtbaar: Tekst/Icoon wordt niet direct getoond.<br />Na klikken wordt de waarde wel getoond.<br />&bull; Ellipsis: Tekst/Icoon wordt als "..." weergegeven.<br />Na klikken wordt de waarde getoond.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.ColumnDisplayType.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                <table class="settingsContentTable display dataTable" data-id="columnDisplayTypes">
                                    <thead style="display: table-header-group;">
                                        <tr>
                                            <th style="width: 200px;">Kolomnaam</th>
                                            <th style="width: 200px;">Zichtbaar</th>
                                            <th style="width: 200px;">Niet zichtbaar</th>
                                            <th style="width: 200px;">Ellipsis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.ColumnDisplayType.Values.Count(); i++)
                                        {
                                            <tr>
                                                <td>@Html.HiddenFor(x => Model.ColumnDisplayType.Values[i].Column) @Html.Label(Model.ColumnDisplayType.Values[i].Column.GetDescription())</td>
                                                <td>@Html.RadioButton(@Html.FormatValue(i, "ColumnDisplayType.Values[{0}].DisplayType"), "Visible", (Model.ColumnDisplayType.Values[i].DisplayType == Point.Planbord.Database.Models.ColumnDisplayType.Visible))</td>
                                                <td>@Html.RadioButton(@Html.FormatValue(i, "ColumnDisplayType.Values[{0}].DisplayType"), "Invisible", (Model.ColumnDisplayType.Values[i].DisplayType == Point.Planbord.Database.Models.ColumnDisplayType.Invisible))</td>
                                                <td>@Html.RadioButton(@Html.FormatValue(i, "ColumnDisplayType.Values[{0}].DisplayType"), "Ellipsis", (Model.ColumnDisplayType.Values[i].DisplayType == Point.Planbord.Database.Models.ColumnDisplayType.Ellipsis))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Iconen set</div>
                            <div class="tableSubHeader">Selecteer de te gebruiken set van iconen. <br />Stel per icoon in of deze gebruikt wordt op het planbord en de getoonde beschrijving ervan.<br /><br />Let op: Er worden maximaal 15 iconen op het planbord getoond!</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.DetailIconSet.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                <table class="settingsContentTable display dataTable" data-id="columnDisplayTypes">
                                    <thead style="display: table-header-group;">
                                        <tr>
                                            <th style="width: 200px;">Icoon</th>
                                            <th style="width: 200px;">Zichtbaar/Niet zichtbaar</th>
                                            <th style="width: 200px;">Korte beschrijving</th>
                                            <th style="width: 400px;">Uitgebreide beschrijving</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.DetailIconSet.Values.Icons.Count(); i++)
                                        {
                                            if(!Model.DetailIconSet.Values.Icons[i].IsDeleted)
                                            { 
                                                <tr>
                                                    <td>
                                                        @Html.HiddenFor(x => Model.DetailIconSet.Values.Icons[i].DetailIconType)
                                                        <div class="planbordIcon_xl @String.Concat("detailIcon_xl", i) " />
                                                    </td>
                                                    <td>
                                                        @Html.RadioButton(@Html.FormatValue(i, "DetailIconSet.Values.Icons[{0}].Visible"), true, Model.DetailIconSet.Values.Icons[i].Visible) Zichtbaar
                                                        @Html.RadioButton(@Html.FormatValue(i, "DetailIconSet.Values.Icons[{0}].Visible"), false, !Model.DetailIconSet.Values.Icons[i].Visible) Niet zichtbaar
                                                    </td>
                                                    <td>@Html.TextBoxFor(x => Model.DetailIconSet.Values.Icons[i].Name, new { maxlength = 16 })</td>
                                                    <td>@Html.TextBoxFor(x => Model.DetailIconSet.Values.Icons[i].Description, new { maxlength = 100, style = "width:400px;" })</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="settingRow">
                        <td class="tdSettingHeader">
                            <div class="tableHeader">Delay</div>
                            <div class="tableSubHeader">Stel per combinatie van interventie en cyclus,<br />de te gebruiken delay in.<br />De ingevoerde delay is in minuten.<br />Laat leeg om de standaard-delay te gebruiken.</div>
                        </td>
                        <td class="tdSettingHeaderCheck">
                            @Html.CheckBoxFor(x => Model.Code.Checked)
                        </td>
                        <td class="tdSettingContent">
                            <div class="settingContentContainer">
                                <table>
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Standaard-delay
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(x => Model.Code.Values.Default, new { @class = "numeric", maxlength = 3, style = "width:50px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">Interventies</td>
                                    </tr>
                                    <tr>

                                        <td>
                                            <table class="settingsContentTable display dataTable" data-id="codesVital">
                                                <thead style="display: table-header-group;">
                                                    <tr>
                                                        <th style="width: 200px;">Interventie</th>
                                                        <th style="width: 200px;">Cyclus</th>
                                                        <th style="width: 100px;">Delay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.Code.Values.Codes.Count(); i++)
                                                    {
                                                        <tr>
                                                            <td>@Html.HiddenFor(x => Model.Code.Values.Codes[i].CodeType) @Model.Code.Values.Codes[i].CodeType.GetDescription()</td>
                                                            <td>@Html.HiddenFor(x => Model.Code.Values.Codes[i].SystemCycle) @Html.Label(Model.Code.Values.Codes[i].SystemCycle ?? "")</td>
                                                            <td>@Html.TextBoxFor(x => Model.Code.Values.Codes[i].Value, new { @class = "numeric", maxlength = 3, style = "width:50px;" }) min.</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr><td><div style="height:50px;"><!-- add some extra room for the bottom-buttons --></div></td></tr>
                </tbody>
            </table>
        </div>


        <div id="bottomDiv" style="position:fixed;bottom:0;width:100%; height:50px; background:#D8EFFA;">
            <div style="float: left;margin-left:100px;">
                <input type="submit" class="inputButton" style="width:160px;" name="Delete" value="Verwijder instellingen" />
            </div>
            <div style="float: right;margin-right:100px;">
                <input type="submit" class="inputButton" name="Cancel" value="Annuleren" />
                <input type="submit" class="inputButton" name="Save" value="Opslaan" />
            </div>
        </div>
    }

</div>