﻿
/* muli-regular - latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/muli-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Muli Regular'), local('Muli-Regular'), url('../fonts/muli-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/muli-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/muli-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/muli-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/muli-v11-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}
